@import "../../../modules/global";

.box-dpk {
  display: table;
  position: relative;
  width: 100%;
  border: 1px solid #b7b7b7;
  .input-timepicker {
    display: table-cell;
    height: 35px;
    padding: 6px;
    border-right: 1px solid #b7b7b7;
    border-left: none;
    border-top: none;
    border-bottom: none;
    width: 100%;
    font-family: 'promptregular';
    font-size: 16px;
    color: #252525;
    outline: none;
    border-radius: 2px 0 0 2px;
  }
  .cov-vue-time{
    display: table-cell;
    width: 1%;
    border: none;
    padding: 0 12px;
    border-left: none;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    vertical-align: middle;
    color: #959595;
    background: #fff;
    height: 35px;
    .datepickbox {
      width: 100%;
      height: 100%;
      display: table;
      .icon-search {
        width: 100%;
        height: 100%;
        padding: 0 12px;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

.wrapper-hrms-table {
  .box-dpk {
    .input-timepicker {
      border-right: 1px solid #b7b7b7;
      border-left: none;
      border-top: none;
      border-bottom: none;
    }
    .cov-vue-date {
      border: none;
      border-left: none;
      background: #fff;
    }
  }
}