<div class="container container-table container-color">
  <div class="row vertical-10p">
    <div class="container full-screen container-color">
      <!--<img src="~static/images/logo.png" class="center-block logo">-->
      <div class="text-404">
      </div>
      <div class="text-center box-text">
        <h1>YOU ARE LOST.</h1>
        <h4>This page doesn't exist.</h4>
        <router-link :to="{ name: 'home' }" class="link-home">Take me home.</router-link>
      </div>
    </div>
  </div>
</div>

