<template>
  <div name="hrpmc2e-change-detail-popup" class="modal-group">	
    <div :id="modalID"  class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  		<div class="modal-dialog modal-lg">
  	    <div class="modal-content">
  	      <div class="modal-header">
            <div class="modal-title">{{ labels['HRPMC2EA']['10'] }}</div>
            <div class="close ion-android-close" data-dismiss="modal"></div>
            <div class="tag fa fa-tag"></div>
          </div>

          <div class="modal-body">
              <div class="clearfix"> 
                <div class="row">
                  <div class="col-md-3">
                    <div class="input-group _unmargin">
                      <div class="label">{{ labels['HRPMC2EA']['20'] }} : </div>
                    </div>
                  </div> 
                  <div class="col-md-9">
                    <div class="input-group _unmargin">
                      {{popupChangeDetail.detail.subject}}
                    </div>               
                  </div> 
                </div>
                <div class="col-xs-12">
                  <hrms-table :labels="labels"
                              :columns="changeDetailColumns" 
                              :data="popupChangeDetail.table"
                              :nowLang="nowLang" />
                </div>
              </div>
            
          </div>

  	    </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hrpmc2e-change-detail-popup',
  props: {
    labels: {
      type: Object
    },
    nowLang: {
      type: String
    },
    changeDetailColumns: {
      type: Array
    },
    labelsButton: {
      type: Object
    },
    popupChangeDetail: {
      type: Object
    },
    modalID: {
      type: String,
      required: true
    }
  }
}
</script>