<template>
  <div name="hrpmc2e-check-blacklist-popup" class="modal-group">
    <div id="hrpmc2e-check-blacklist-popup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">{{ labels['HRPMC2EA']['80'] }}</div>
            <div class="close ion-android-close" data-dismiss="modal"></div>
            <div class="tag fa fa-tag"></div>
          </div>

          <div class="modal-body">
            <div class="group-space-3col">
              <div class="clearfix">        
                <template v-if="!checkBlacklistPopupDisp">
                  <div  class="row">
                    <div class="col-md-7">
                      <div class="input-group">
                        <div class="label">{{ labels['HRPMC2EA']['90'] }}</div>
                          <input class="normal-input" type="text" name="input" v-model="popupCheckBlacklist.idcard">
                        <div class="validator-text"></div>
                      </div>
                    </div>
                    <div class="col-md-5" style="padding-top: 35px">
                      <div type="button" class="button-md _bg-blue"  @click="toggleCheckBlacklist()" value="save"><i class="fa fa-check-circle"></i>ตรวจสอบ</div>  
                    </div>
                  </div>
                </template>
                <template v-else>
                  <div  class="row">
                    <div class="col-md-7">
                      <div class="input-group">
                        <div class="label">{{ labels['HRPMC2EA']['90'] }}</div>
                          <input class="normal-input" type="text" name="input" v-model="popupCheckBlacklist.idcard">
                      </div>
                    </div>
                    <div class="col-md-5" style="padding-top: 35px">
                      <div type="button" class="button-md _bg-blue" value="save"><i class="fa fa-check-circle"></i>ตรวจสอบ</div>  
                    </div>
                  </div>
                  <div  class="row">
                    <div class="col-md-12">
                        <img class="blacklist-img" :src="require('@/assets/image/ex-photo.png')">
                        {{popupCheckBlacklist.desc_codeempid}}
                    </div>
                    <div class="col-md-12">
                       <div class="input-group _unmargin">
                        <div class="label">{{ labels['HRPMC2EA']['100'] }} : พนักงานทุจริต ยักยอก ฉ้อโกง ทำให้บริษัทเสียหาย</div>                        
                      </div>
                    </div>
                  </div>
                </template>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <div type="button" class="button-md _bg-grey" @click="back()"value="back"><i class="fa fa-chevron-circle-left"></i>{{ labelsButton['back'] }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hrpmc2e-check-blacklist-popup',
  props: [
    'labels',
    'nowLang',
    'labelsButton',
    'popupCheckBlacklist',
    'checkBlacklistPopupDisp',
    'setCheckBlacklistPopupDisp',
    'receivedHrpmc2eCheckBlacklistPopup'
  ],
  methods: {
    back () {
      this.setCheckBlacklistPopupDisp(false)
    },
    toggleCheckBlacklist () {
      let popupParams = {}
      this.setCheckBlacklistPopupDisp(true)
      this.receivedHrpmc2eCheckBlacklistPopup(popupParams)
    }
  }
}
</script>