<template>
  <div id="component-index" class="search-heading">
    <!--search-->
    <div name="hrpmc2e-search" class="group-space-sm clearfix" id="hrpmc2e-search">
      <div class="row">
        <div class="col-md-4">
          <div class="input-group _unmargin">
            <div class="label">{{ labels['HRPMC2E']['5'] }}</div>
            <hcm-lov  v-model="data.codempid"
                      lovType="codempid"
                      :descDisp="false"
                      :nowLang="nowLang"
                      name="codempid"
                      :disabled="!detailDisabled"
                      :class="{ '-disable': !detailDisabled }"
                      v-validate="'required'"
                      data-vv-value-path="inputValue"
                      data-vv-name="codempid"
                      data-vv-as="Code of Employee"
                      :has-error="errors.has('codempid')" />
            <div class="validator-text -error" v-show="errors.has('codempid')" >{{errors.first('codempid')}}</div>
          </div>
        </div>
        <div class="col-md-6"  style="padding: 15px 0">
          <div v-if="!detailDisabled" type="button" class="button-md -disable _bg-blue-disable" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>
          <div v-if="detailDisabled" type="button" class="button-md _bg-blue"  @click="submitEvent()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>
          <div type="button" class="button-md _bg-blue"  @click="togglePopupCheckBlacklist()" ><i class="fa fa-search"></i>Check Blacklist</div>
          <div type="hidden" data-toggle="modal" ref="checkBlacklistBtn" data-target="#hrpmc2e-check-blacklist-popup"></div>
        </div>
        <div v-if="detail.personalTax.personal.image" class="col-md-2">
          <img class="img-box" :src="detail.personalTax.personal.image" />
        </div>
        <div v-else class="col-md-2">
          <div class="img-box">
            <img :src="require('@/assets/image/ex-photo.png')" />
          </div>
        </div>
      </div>
    </div>

    <check-list-popup :labels="labels"
                     :nowLang="nowLang"
                     :labelsButton="labelsButton"
                     :popupCheckBlacklist="popupCheckBlacklist"
                     :checkBlacklistPopupDisp="checkBlacklistPopupDisp"
                     :setCheckBlacklistPopupDisp="setCheckBlacklistPopupDisp"
                     :receivedHrpmc2eCheckBlacklistPopup="receivedHrpmc2eCheckBlacklistPopup"/>

  </div>
</template>

<script>
import checkListPopup from './checkBlacklistPopup'

export default {
  name: 'component-index',
  data () {
    return {
      data: this.value
    }
  },
  props: [
    'labels',
    'value',
    'labelsButton',
    'toggle',
    'nowLang',
    'receivedHrpmc2eDetail',
    'receivedHrpmc2eDetailCreate',
    'receivedHrpmc2eCheckBlacklistPopup',
    'popupCheckBlacklist',
    'checkBlacklistPopupDisp',
    'setCheckBlacklistPopupDisp',
    'detailDisabled',
    'setDetailDisabled',
    'detail'
  ],
  watch: {
    'data.codempid' (newValue) {
      this.$emit('input', { codempid: newValue })
    },
    value (newValue) {
      this.data = newValue
    }
  },
  methods: {
    submitEvent () {
      this.$validator.validateAll().then(result => {
        if (result) {
          let searchParams = {
            p_codempid: this.data.codempid
          }
          this.receivedHrpmc2eDetail(searchParams)
        }
      })
    },
    togglePopupCheckBlacklist () {
      let popupParams = {
        p_codempid: this.data.codempid
      }
      this.receivedHrpmc2eCheckBlacklistPopup(popupParams)
      this.$refs.checkBlacklistBtn.click()
    },
    callNew () {
      this.data.codempid = ''
      let searchParams = {
        p_codempid: ''
      }
      this.receivedHrpmc2eDetailCreate(searchParams)
      this.$nextTick(() => {
        this.errors.clear()
      })
    }
  },
  components: {
    checkListPopup
  }
}
</script>
