<template>
  <div id="component-detail" class="body-wrapper">
    <div name="hrpmc2e-detail" class="clearfix" id="hrpmc2e-detail"> 
      <div style="margin: 0 -15px;">
        <div class="col-xs-12 group-space-md">

          <div class="c2e-panelbutton">
            <div class="rows clearfix">
            
              <div class=" box-btn-cal hover btn-width clearfix" :class="{ 'active' : detail1Btn1Disp }" @click="toggleBtn(1)">
                <div class="label-btn-cal">
                  <img class="menu-icon" :src="require('@/assets/image/C2E/icon_menu1.png')">
                  <div>{{ labels['HRPMC2E']['10'] }}</div>
                </div>
              </div>

              <div class=" box-btn-cal hover btn-width clearfix" :class="{ 'active' : detail2Btn2Disp }" @click="toggleBtn(2)">
                <div class="label-btn-cal">
                  <img class="menu-icon" :src="require('@/assets/image/C2E/icon_menu2.png')">
                  <div>{{ labels['HRPMC2E']['20'] }}</div>
                </div>
              </div>

              <div class=" box-btn-cal hover btn-width clearfix"  :class="{ 'active' : detail3Btn3Disp }" @click="toggleBtn(3)">
                <div class="label-btn-cal">
                  <img class="menu-icon" :src="require('@/assets/image/C2E/icon_menu3.png')">
                  <div>{{ labels['HRPMC2E']['30'] }}</div>
                </div>
              </div>

              <div class=" box-btn-cal hover btn-width clearfix" :class="{ 'active' : detail4Btn4Disp }" @click="toggleBtn(4)">
                <div class="label-btn-cal">
                  <img class="menu-icon" :src="require('@/assets/image/C2E/icon_menu4.png')">
                  <div>{{ labels['HRPMC2E']['40'] }}</div>
                </div>
              </div>

              <div class=" box-btn-cal hover btn-width clearfix" :class="{ 'active' : detail5Btn5Disp }" @click="toggleBtn(5)">
                <div class="label-btn-cal">
                  <img class="menu-icon" :src="require('@/assets/image/C2E/icon_menu5.png')">
                  <div>{{ labels['HRPMC2E']['50'] }}</div>
                </div>
              </div>

              <div class=" box-btn-cal hover btn-width clearfix" :class="{ 'active' : detail6Btn6Disp }" @click="toggleBtn(6)">
                <div class="label-btn-cal">
                  <img class="menu-icon" :src="require('@/assets/image/C2E/icon_menu6.png')">
                  <div>{{ labels['HRPMC2E']['60'] }}</div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-xs-12  group-space-md">
          <div v-show="detail1Btn1Disp">
            <personal-tax         :labels="labels"
                                  :labelsButton="labelsButton"
                                  :codempidQuery="codempidQuery"
                                  :nowLang="nowLang"
                                  :detail="detail"
                                  :columns="columns"
                                  :dropdowns="dropdowns"
                                  :popupChangeDetail="popupChangeDetail"
                                  :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                                  :popupTax8="popupTax8"
                                  :tax8Selected="tax8Selected"
                                  :setTax8Selected="setTax8Selected"
                                  :receivedHrpmc2eTax8Popup="receivedHrpmc2eTax8Popup"
                                  :receivedHrpmc2eTax8PopupCreate="receivedHrpmc2eTax8PopupCreate"
                                  :saveHrpmc2eTax8Popup="saveHrpmc2eTax8Popup"
                                  :tax9Selected="tax9Selected"
                                  :popupTax9="popupTax9"
                                  :setTax9Selected="setTax9Selected"
                                  :receivedHrpmc2eTax9Popup="receivedHrpmc2eTax9Popup"
                                  :receivedHrpmc2eTax9PopupCreate="receivedHrpmc2eTax9PopupCreate"
                                  :saveHrpmc2eTax9Popup="saveHrpmc2eTax9Popup" 
                                  :saveHrpmc2ePersonalTax="saveHrpmc2ePersonalTax"
                                  :receivedHrpmc2eSmartCardPopup="receivedHrpmc2eSmartCardPopup"
                                  :popupSmartCard="popupSmartCard"
                                  :smartCardPopupDisp="smartCardPopupDisp"
                                  :setSmartCardPopupDisp="setSmartCardPopupDisp"
                                  :saveHrpmc2ePersonalTax8="saveHrpmc2ePersonalTax8"
                                  :saveHrpmc2ePersonalTax9="saveHrpmc2ePersonalTax9"
                                  :detailDisabled="detailDisabled"/>

          </div>
      
          <div v-show="detail2Btn2Disp">
            <work-study         :labels="labels"
                                :labelsButton="labelsButton"
                                :nowLang="nowLang"
                                :detail="detail.workStudy"
                                :columns="columns"
                                :dropdowns="dropdowns"
                                :codempidQuery="codempidQuery"
                                :popupEducation="popupEducation"
                                :educationSelected="educationSelected"
                                :setEducationSelected="setEducationSelected"
                                :receivedHrpmc2ePopupEducationCreate="receivedHrpmc2ePopupEducationCreate"
                                :receivedHrpmc2ePopupEducation="receivedHrpmc2ePopupEducation"
                                :popupWorkExperiences="popupWorkExperiences"
                                :workExperiencesSelected="workExperiencesSelected"
                                :setWorkExperiencesSelected="setWorkExperiencesSelected"
                                :receivedHrpmc2ePopupWorkExperiencesCreate="receivedHrpmc2ePopupWorkExperiencesCreate"
                                :receivedHrpmc2ePopupWorkExperiences="receivedHrpmc2ePopupWorkExperiences"
                                :popupTrainingRecord="popupTrainingRecord"
                                :trainingRecordSelected="trainingRecordSelected"
                                :setTrainingRecordSelected="setTrainingRecordSelected"
                                :receivedHrpmc2ePopupTrainingRecordCreate="receivedHrpmc2ePopupTrainingRecordCreate"
                                :receivedHrpmc2ePopupTrainingRecord="receivedHrpmc2ePopupTrainingRecord"
                                :popupChangeDetail="popupChangeDetail"
                                :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                                :setInlineWorkStudy1="setInlineWorkStudy1"
                                :setInlineWorkStudy2="setInlineWorkStudy2"
                                :setInlineWorkStudy3="setInlineWorkStudy3"
                                :inlineWorkStudy1="inlineWorkStudy1"
                                :inlineWorkStudy2="inlineWorkStudy2"
                                :inlineWorkStudy3="inlineWorkStudy3"
                                :postWorkStudySaveAll="postWorkStudySaveAll"
                                :setEducationAddInlinePopup="setEducationAddInlinePopup"
                                :setWorkExperiencesAddInlinePopup="setWorkExperiencesAddInlinePopup"
                                :setTrainingRecordAddInlinePopup="setTrainingRecordAddInlinePopup"
                                :detailDisabled="detailDisabled"
                                :lovCurrentDesc="lovCurrentDesc" />

          </div>

          <div v-show="detail3Btn3Disp">
            <family             :labels="labels"
                                :labelsButton="labelsButton"
                                :nowLang="nowLang"
                                :detail="detail.family"
                                :columns="columns"
                                :dropdowns="dropdowns"
                                :codempidQuery="codempidQuery"
                                :popupChildren="popupChildren"
                                :childrenSelected="childrenSelected"
                                :setChildrenSelected="setChildrenSelected"
                                :receivedHrpmc2ePopupChildrenCreate="receivedHrpmc2ePopupChildrenCreate"
                                :receivedHrpmc2ePopupChildren="receivedHrpmc2ePopupChildren"
                                :popupRelatives="popupRelatives"
                                :relativesSelected="relativesSelected"
                                :setRelativesSelected="setRelativesSelected"
                                :receivedHrpmc2ePopupRelativesCreate="receivedHrpmc2ePopupRelativesCreate"
                                :receivedHrpmc2ePopupRelatives="receivedHrpmc2ePopupRelatives"
                                :popupChangeDetail="popupChangeDetail"
                                :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                                :setInlineFamily2="setInlineFamily2"
                                :setInlineFamily4="setInlineFamily4"
                                :inlineFamily2="inlineFamily2"
                                :inlineFamily4="inlineFamily4"
                                :setChildrenAddInlinePopup="setChildrenAddInlinePopup"
                                :setRelativesAddInlinePopup="setRelativesAddInlinePopup"
                                :postFamilySaveAll="postFamilySaveAll"
                                :receivedHrpmc2eSpouseQuery="receivedHrpmc2eSpouseQuery"
                                :receivedHrpmc2ePopupChildrenQuery="receivedHrpmc2ePopupChildrenQuery"
                                :receivedHrpmc2eParentFatherQuery="receivedHrpmc2eParentFatherQuery"
                                :receivedHrpmc2eParentMotherQuery="receivedHrpmc2eParentMotherQuery"
                                :receivedHrpmc2ePopupRelativesQuery="receivedHrpmc2ePopupRelativesQuery" 
                                :detailDisabled="detailDisabled"/>

          </div>

          <div v-show="detail4Btn4Disp">
            <guarantee          :labels="labels"
                                :codempidQuery="codempidQuery"
                                :labelsButton="labelsButton"
                                :nowLang="nowLang"
                                :dropdowns="dropdowns"
                                :detail="detail"
                                :columns="columns"
                                :popupChangeDetail="popupChangeDetail"
                                :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                                :guarantee1Selected="guarantee1Selected"
                                :popupGuarantee1="popupGuarantee1"
                                :saveHrpmc2eGuarantee="saveHrpmc2eGuarantee"
                                :saveHrpmc2eGuarantee1="saveHrpmc2eGuarantee1"
                                :saveHrpmc2eGuarantee2="saveHrpmc2eGuarantee2"
                                :saveHrpmc2eGuarantee3="saveHrpmc2eGuarantee3"
                                :saveHrpmc2eGuarantee1Popup="saveHrpmc2eGuarantee1Popup"
                                :setGuarantee1Selected="setGuarantee1Selected"
                                :receivedHrpmc2eGuarantee1Popup="receivedHrpmc2eGuarantee1Popup"
                                :receivedHrpmc2eGuarantee1PopupCreate="receivedHrpmc2eGuarantee1PopupCreate"
                                :guarantee2Selected="guarantee2Selected"
                                :popupGuarantee2="popupGuarantee2"
                                :saveHrpmc2eGuarantee2Popup="saveHrpmc2eGuarantee2Popup"
                                :setGuarantee2Selected="setGuarantee2Selected"
                                :receivedHrpmc2eGuarantee2Popup="receivedHrpmc2eGuarantee2Popup"
                                :receivedHrpmc2eGuarantee2PopupCreate="receivedHrpmc2eGuarantee2PopupCreate"
                                :guarantee3Selected="guarantee3Selected"
                                :popupGuarantee3="popupGuarantee3"
                                :saveHrpmc2eGuarantee3Popup="saveHrpmc2eGuarantee3Popup"
                                :setGuarantee3Selected="setGuarantee3Selected"
                                :receivedHrpmc2eGuarantee3Popup="receivedHrpmc2eGuarantee3Popup"
                                :receivedHrpmc2eGuarantee3PopupCreate="receivedHrpmc2eGuarantee3PopupCreate"
                                :detailDisabled="detailDisabled" />

          </div>

          <div v-show="detail5Btn5Disp">
            <competency         :labels="labels"
                                :labelsButton="labelsButton"
                                :nowLang="nowLang"
                                :detail="detail.competency" 
                                :columns="columns"
                                :codempidQuery="codempidQuery"
                                :receivedHrpmc2eCodtencyAddInline="receivedHrpmc2eCodtencyAddInline"
                                :popupHonors="popupHonors"
                                :honorsSelected="honorsSelected"
                                :setHonorsSelected="setHonorsSelected"
                                :receivedHrpmc2ePopupHonorsCreate="receivedHrpmc2ePopupHonorsCreate"
                                :receivedHrpmc2ePopupHonors="receivedHrpmc2ePopupHonors"
                                :postHrpmc2eHonorsPopupSave="postHrpmc2eHonorsPopupSave" 
                                :popupChangeDetail="popupChangeDetail"
                                :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                                :popupCodtency="popupCodtency"
                                :receivedHrpmc2eCodtencyPopup="receivedHrpmc2eCodtencyPopup"
                                :competencySelected="competencySelected"
                                :setCompetencySelected="setCompetencySelected" 
                                :setInlineCompetency1="setInlineCompetency1"
                                :setInlineCompetency2="setInlineCompetency2"
                                :setInlineCompetency3="setInlineCompetency3"
                                :inlineCompetency1="inlineCompetency1"
                                :inlineCompetency2="inlineCompetency2"
                                :inlineCompetency3="inlineCompetency3"
                                :postCompetencySaveAll="postCompetencySaveAll"
                                :setHonorsAddInlinePopup="setHonorsAddInlinePopup"
                                :detailDisabled="detailDisabled"
                                :lovCurrentDesc="lovCurrentDesc" />
                                
          </div>

          <div v-show="detail6Btn6Disp">
            <other-information  :labels="labels"
                                :codempidQuery="codempidQuery"
                                :labelsButton="labelsButton"
                                :nowLang="nowLang"
                                :detail="detail"
                                :columns="columns"
                                :dropdowns="dropdowns"
                                :receivedHrpmc2eOtherCreatePopup="receivedHrpmc2eOtherCreatePopup"
                                :saveHrpmc2eOther="saveHrpmc2eOther"
                                :addOtherSelected="addOtherSelected"
                                :setAddPopupOtherCreate="setAddPopupOtherCreate"
                                :setAddOtherSelected="setAddOtherSelected"
                                :receivedHrpmc2eAddOtherPopup="receivedHrpmc2eAddOtherPopup"
                                :receivedHrpmc2eAddOtherPopupCreate="receivedHrpmc2eAddOtherPopupCreate"
                                :popupOtherCreate="popupOtherCreate"
                                :setAddOtherPopupDisp="setAddOtherPopupDisp"
                                :addOtherPopupDisp="addOtherPopupDisp"
                                :popupAddOther="popupAddOther"
                                :saveHrpmc2eOtherCreatePopup="saveHrpmc2eOtherCreatePopup"
                                :detailDisabled="detailDisabled" />

          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import personalTax from './personalTax/index'
import workStudy from './workStudy/index'
import family from './family/index'
import guarantee from './guarantee/index'
import competency from './competency/index'
import otherInformation from './otherInformation/index'

export default {
  name: 'component-detail',
  props: [
    'labels',
    'labelsButton',
    'data',
    'toggle',
    'detail',
    'dropdowns',
    'nowLang',
    'codempidQuery',
    'incomeColumns',
    'columns',
    'popupChangeDetail',
    'popupTax8',
    'tax8Selected',
    'setTax8Selected',
    'receivedHrpmc2eTax8Popup',
    'receivedHrpmc2eTax8PopupCreate',
    'saveHrpmc2eTax8Popup',
    'saveHrpmc2ePersonalTax',
    'popupEducation',
    'educationSelected',
    'setEducationSelected',
    'receivedHrpmc2ePopupEducationCreate',
    'receivedHrpmc2ePopupEducation',
    'popupTax9',
    'tax9Selected',
    'setTax9Selected',
    'receivedHrpmc2eTax9Popup',
    'receivedHrpmc2eTax9PopupCreate',
    'saveHrpmc2eTax9Popup',
    'receivedHrpmc2eChangeDetailPopup',
    'popupWorkExperiences',
    'workExperiencesSelected',
    'setWorkExperiencesSelected',
    'receivedHrpmc2ePopupWorkExperiencesCreate',
    'receivedHrpmc2ePopupWorkExperiences',
    'popupTrainingRecord',
    'trainingRecordSelected',
    'setTrainingRecordSelected',
    'receivedHrpmc2ePopupTrainingRecordCreate',
    'receivedHrpmc2ePopupTrainingRecord',
    'popupChildren',
    'childrenSelected',
    'setChildrenSelected',
    'receivedHrpmc2ePopupChildrenCreate',
    'receivedHrpmc2ePopupChildren',
    'popupRelatives',
    'relativesSelected',
    'setRelativesSelected',
    'receivedHrpmc2ePopupRelativesCreate',
    'receivedHrpmc2ePopupRelatives',
    'guarantee1Selected',
    'popupGuarantee1',
    'setGuarantee1Selected',
    'saveHrpmc2eGuarantee1',
    'saveHrpmc2eGuarantee2',
    'saveHrpmc2eGuarantee3',
    'saveHrpmc2eGuarantee1Popup',
    'receivedHrpmc2eGuarantee1Popup',
    'receivedHrpmc2eGuarantee1PopupCreate',
    'guarantee2Selected',
    'popupGuarantee2',
    'setGuarantee2Selected',
    'saveHrpmc2eGuarantee2Popup',
    'receivedHrpmc2eGuarantee2Popup',
    'receivedHrpmc2eGuarantee2PopupCreate',
    'guarantee3Selected',
    'popupGuarantee3',
    'setGuarantee3Selected',
    'saveHrpmc2eGuarantee3Popup',
    'receivedHrpmc2eGuarantee3Popup',
    'receivedHrpmc2eGuarantee3PopupCreate',
    'receivedHrpmc2eOtherCreatePopup',
    'popupOtherCreate',
    'addOtherSelected',
    'setAddPopupOtherCreate',
    'setAddOtherSelected',
    'receivedHrpmc2eAddOtherPopup',
    'receivedHrpmc2eAddOtherPopupCreate',
    'setAddOtherPopupDisp',
    'addOtherPopupDisp',
    'popupAddOther',
    'saveHrpmc2eOtherCreatePopup',
    'receivedHrpmc2eCodtencyAddInline',
    'popupHonors',
    'honorsSelected',
    'setHonorsSelected',
    'receivedHrpmc2ePopupHonorsCreate',
    'receivedHrpmc2ePopupHonors',
    'postHrpmc2eHonorsPopupSave',
    'popupCodtency',
    'receivedHrpmc2eCodtencyPopup',
    'competencySelected',
    'setCompetencySelected',
    'receivedHrpmc2eSmartCardPopup',
    'popupSmartCard',
    'smartCardPopupDisp',
    'setSmartCardPopupDisp',
    'setInlineCompetency1',
    'setInlineCompetency2',
    'setInlineCompetency3',
    'inlineCompetency1',
    'inlineCompetency2',
    'inlineCompetency3',
    'postCompetencySaveAll',
    'setHonorsAddInlinePopup',
    'setInlineWorkStudy1',
    'setInlineWorkStudy2',
    'setInlineWorkStudy3',
    'inlineWorkStudy1',
    'inlineWorkStudy2',
    'inlineWorkStudy3',
    'postWorkStudySaveAll',
    'setEducationAddInlinePopup',
    'setWorkExperiencesAddInlinePopup',
    'setTrainingRecordAddInlinePopup',
    'setInlineFamily2',
    'setInlineFamily4',
    'inlineFamily2',
    'inlineFamily4',
    'setChildrenAddInlinePopup',
    'setRelativesAddInlinePopup',
    'postFamilySaveAll',
    'saveHrpmc2ePersonalTax8',
    'saveHrpmc2ePersonalTax9',
    'saveHrpmc2eGuarantee',
    'saveHrpmc2eOther',
    'receivedHrpmc2eSpouseQuery',
    'receivedHrpmc2ePopupChildrenQuery',
    'receivedHrpmc2eParentFatherQuery',
    'receivedHrpmc2eParentMotherQuery',
    'receivedHrpmc2ePopupRelativesQuery',
    'detailDisabled',
    'lovCurrentDesc'
  ],
  data () {
    return {
      detail1Btn1Disp: true,
      detail2Btn2Disp: false,
      detail3Btn3Disp: false,
      detail4Btn4Disp: false,
      detail5Btn5Disp: false,
      detail6Btn6Disp: false
    }
  },
  methods: {
    toggleBtn (btnNo) {
      this.detail1Btn1Disp = false
      this.detail2Btn2Disp = false
      this.detail3Btn3Disp = false
      this.detail4Btn4Disp = false
      this.detail5Btn5Disp = false
      this.detail6Btn6Disp = false
      switch (btnNo) {
        case 1:
          this.detail1Btn1Disp = true
          break
        case 2:
          this.detail2Btn2Disp = true
          break
        case 3:
          this.detail3Btn3Disp = true
          break
        case 4:
          this.detail4Btn4Disp = true
          break
        case 5:
          this.detail5Btn5Disp = true
          break
        case 6:
          this.detail6Btn6Disp = true
          break
        default:
          this.detail1Btn1Disp = true
          break
      }
    }
  },
  components: {
    personalTax,
    workStudy,
    family,
    guarantee,
    competency,
    otherInformation
  }
}
</script>
