<template>
  <div name="hcm-hrsc11x" class="hcm-hrsc11x">
    <div class="row">
      <div class="col-md-6 group-space-md">
        <div class="input-group">
          <div class="label">{{ labels[nowLang]['HRSC11X']['10'] }}</div>
          <hrms-datepicker  class="_twin"
                          v-model="inputValue.stdate"
                          v-validate="'required|date_format:DD/MM/YYYY'"
                          data-vv-value-path="inputDate"
                          data-vv-name="hcm-hrsc11x-stdate"
                          data-vv-as="Start Date"
                          name="hcm-hrsc11x-stdate" />
        </div>             
      </div>  
      <div class="col-md-4 group-space-md" style="margin-top: 20px;">
        <div class="input-group">
          <input class="normal-input" type="text" name="input" v-model="inputValue.sttime" >
        </div>
      </div>         
    </div>
    <div class="row">
      <div class="col-md-6 group-space-md">
        <div class="input-group">
           <div class="label">{{ labels[nowLang]['HRSC11X']['20'] }}</div>
          <hrms-datepicker  class="_twin"
                          v-model="inputValue.endate"
                          v-validate="'required|date_format:DD/MM/YYYY|after:hcm-hrsc11x-stdate'"
                          data-vv-value-path="inputDate"
                          data-vv-name="hcm-hrsc11x-endate"
                          data-vv-as="End Date"
                          name="hcm-hrsc11x-endate" />
          <span v-show="errors.has('hcm-hrsc11x-endate')" class="validator-text _text-red">{{ errors.first('hcm-hrsc11x-endate') }}</span>
        </div>
      </div>
      <div class="col-md-4 group-space-md" style="margin-top: 20px;">
        <div class="input-group">
            <input class="normal-input" type="text" name="input" v-model="inputValue.entime">
        </div>
      </div> 
    </div>
  </div>
</template>

<script>
import assetsLabels from 'assets/js/labels'
import labels from './assets/labels'

export default {
  name: 'hcm-hrsc11x',
  data () {
    return {
      inputValue: {
        stdate: this.value.stdate,
        endate: this.value.endate,
        sttime: this.value.sttime,
        entime: this.value.entime
      },
      labels: labels
    }
  },
  watch: {
    value () {
      this.inputValue = this.value
    },
    inputValue (newVal) {
      this.$emit('input', this.inputValue)
    }
  },
  props: {
    value: {
      type: String,
      required: true
    },
    nowLang: {
      type: String,
      default: assetsLabels.defaultLang
    }
  }
}
</script>

