<template>
  <div>
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.family4 }" :aria-expanded="!flgCollapse.family4" @click.self="setCollapseToggle('family4')" data-parent="#family" href="#family4" >
      <div class="title" @click.self="setCollapseToggle('family4')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('family4')"></i>{{ labels['HRPMC2EC4']['10'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('family4')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('family4')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.family4 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('family4')"></i>
    </div>
    <div id="family4" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.family4}">
      <div class="panel-body">
        <hrms-table v-show="detailDisabled" 
                    :columns="relativesColumns"
                    :nowLang="nowLang"
                    :data="detail"
                    :searchDisp="false"
                    :tablePageDisp="false" 
                   />

        <hrms-table v-show="!detailDisabled" 
                    :columns="relativesColumns"
                    :nowLang="nowLang"
                    :data="detail"
                    :searchDisp="false"
                    :tablePageDisp="false" 
                    :addEvent="addEvent"
                    :editEvent="editEvent"
                    :deleteInlineEventBool="true"
                    :deleteInlineBtnDisp="false"
                    :saveInlineEvent="callSaveFamily4"
                    :saveInlineBtnDisp="false"
                    ref="family4Table"
                />

        <div class="align-right">
          <input data-toggle="modal" ref="popupRelatives" data-target="#hrpmc2e-popup-family2" type="hidden"/>
          <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
          <div  v-if="!detailDisabled" class="button-sm _bg-small-button pull-right" 
                @click="togglePopupChangeDetail()" 
                data-toggle="modal" 
                ref="changeDetailBtn" 
                :data-target="'#' + modalID">{{ labels['HRPMC2EC4']['70'] }}
          </div>
        </div>
      </div>
    </div>
    <popup-relatives      :popupRelatives="popupRelatives"
                          :codempidQuery="codempidQuery"
                          :labels="labels"
                          :eventBtn="eventBtn"
                          :nowLang="nowLang"
                          :dropdowns="dropdowns"
                          :labelsButton="labelsButton"
                          :relativesSelected="relativesSelected"
                          :setRelativesAddInlinePopup="setRelativesAddInlinePopup"
                          :receivedHrpmc2ePopupRelativesQuery="receivedHrpmc2ePopupRelativesQuery" />

    <change-detail-popup  :labels="labels"
                          :modalID="modalID"
                          :nowLang="nowLang"
                          :changeDetailColumns="changeDetailColumns"
                          :labelsButton="labelsButton" 
                          :popupChangeDetail="popupChangeDetail"/>

  </div>
</template>

<script>
import popupRelatives from './popupFamily2'
import changeDetailPopup from '../changeDetailPopup'

export default {
  name: 'hrpmc2e-family4',
  props: [
    'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'dropdowns',
    'codempidQuery',
    'relativesColumns',
    'popupRelatives',
    'relativesSelected',
    'setRelativesSelected',
    'receivedHrpmc2ePopupRelativesCreate',
    'receivedHrpmc2ePopupRelatives',
    'popupChangeDetail',
    'changeDetailColumns',
    'receivedHrpmc2eChangeDetailPopup',
    'setRelativesAddInlinePopup',
    'callSaveFamily4',
    'family4Table',
    'receivedHrpmc2ePopupRelativesQuery',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ],
  data: function () {
    return {
      eventBtn: '',
      modalID: 'hrpmc2e-family4'
    }
  },
  mounted () {
    this.$on('$family4', () => {
      this.$refs.family4Table.$emit('$saveInlineEventBuiltIn')
    })
  },
  methods: {
    addEvent (param) {
      let popupParams = {
        p_numseq: '1'
      }
      this.eventBtn = 'add'
      this.receivedHrpmc2ePopupRelativesCreate(popupParams)
      this.$refs.popupRelatives.click()
    },
    editEvent (dataRow) {
      let popupParams = {
        p_numseq: dataRow.numseq
      }
      this.eventBtn = 'edit'
      this.setRelativesSelected(dataRow)
      this.receivedHrpmc2ePopupRelatives(popupParams)
      this.$refs.popupRelatives.click()
    },
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  },
  components: {
    popupRelatives,
    changeDetailPopup
  }
}
</script>
