<template>
  <div>
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.family3 }" :aria-expanded="!flgCollapse.family3" @click.self="setCollapseToggle('family3')" data-parent="#family" href="#family3" >
      <div class="title" @click.self="setCollapseToggle('family3')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('family3')"></i>{{ labels['HRPMC2EC3']['10'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('family3')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('family3')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.family3 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('family3')"></i>
    </div>
    <div id="family3" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.family3}">
      <div class="panel-body">
        <div class="clearfix">
          <div class="row ">
            <div class="group-topic group-space-lg">{{ labels['HRPMC2EC3']['20'] }}</div>
          </div>
          <div class="row">
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EC3']['40'] }}</div>
                <hcm-lov  v-model="paramSearch.codempid_father"
                          lovType="codempid"
                          :descDisp="false"
                          :nowLang="nowLang"
                          name="codempid"
                          :disabled="detailDisabled" 
                          :class="{ '-disable': detailDisabled }"  />
                <div class="validator-text">{{ labels['HRPMC2EC3']['50'] }}</div>
              </div> 
            </div>
            <div class="col-md-2"  style="padding-top: 35px;">
              <div v-if="detailDisabled" class="button-md -disable _bg-blue-disable" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>  
              <div v-if="!detailDisabled" class="button-md _bg-blue" @click="callSearchFather()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>  
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['60'] }}</div>
              <hrms-dropzone  :fileNameQuery="detail.father.filenam1"
                              :codempNameFile="paramSearch.codempid"
                              :name="'tabParent1'"
                              :flgToggle="parent1Disp"
                              ref="hrmsDropzone"
                              :disabled="detailDisabled" 
                              :class="{ '-disable': detailDisabled }"  />
            </div>

            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['70'] }}</div>
              <hrms-dropdown  v-model="detail.father.codtitle" 
                              :options="dropdowns.codtitle[nowLang]"
                              :disabled="detailDisabled" 
                              :class="{ '-disable': detailDisabled }" 
                              />
            </div>

            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['80'] }}</div>
              <input class="normal-input" v-model="detail.father.namfathr" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['90'] }}</div>
              <input class="normal-input" v-model="detail.father._lastfathr" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['100'] }}</div>
              <input class="normal-input" v-model="detail.father._numfasp" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['110'] }}</div>
              <hrms-datepicker  v-model="detail.father._dtehdbfathr" 
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dtehdbfathr"
                                data-vv-as="Birth Date"
                                name="dtehdbfathr"
                                :has-error="errors.has('dtehdbfathr')"
                                :disabled="detailDisabled" 
                                :class="{ '-disable': detailDisabled }"  />
            </div>
          </div> 
  
          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['120'] }}</div>
              <hcm-lov  v-model="detail.father.codfnath"
                        lovType="codnatnl"
                        :descDisp="false"
                        :nowLang="nowLang"
                        name="Nationality"
                        :disabled="detailDisabled" 
                        :class="{ '-disable': detailDisabled }"  />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['130'] }}</div>
              <hcm-lov  v-model="detail.father.codfrelg"
                        lovType="codrelgn"
                        :descDisp="false"
                        :nowLang="nowLang"
                        name="Religion"
                        :disabled="detailDisabled" 
                        :class="{ '-disable': detailDisabled }"  />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['140'] }}</div>
              <hcm-lov  v-model="detail.father.codfoccu"
                        lovType="codoccup"
                        :descDisp="false"
                        :nowLang="nowLang"
                        name="Occupation"
                        :disabled="detailDisabled" 
                        :class="{ '-disable': detailDisabled }"  />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['150'] }}</div>
              <div class="row">
                <div class="radio-group col-md-3">
                  <input class="radio-true" type="radio" id="_falive1" name="_falive1" v-model="detail.father._falive" value="Y" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }"  />
                  <label class="radio-fake" for="_falive1" ></label>
                  <label class="radio-label" for="_falive1">{{ labels['HRPMC2EC3']['160'] }}</label>
                </div>
                <div class="radio-group col-md-3">
                  <input class="radio-true"  type="radio" id="_falive2" name="_falive2"v-model="detail.father._falive" value="N" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
                  <label class="radio-fake" for="_falive2"></label>
                  <label class="radio-label" for="_falive2">{{ labels['HRPMC2EC3']['170'] }}</label>
                </div>     
                <div class="col-md-6">
                  <hrms-datepicker  v-model="detail.father._falive_dtedead" 
                                    v-validate="'required|date_format:DD/MM/YYYY'"
                                    data-vv-value-path="inputDate"
                                    data-vv-name="_falive_dtedead"
                                    data-vv-as="Death date"
                                    name="_falive_dtedead"
                                    :has-error="errors.has('_falive_dtedead')"
                                    :disabled="detailDisabled" 
                                    :class="{ '-disable': detailDisabled }"  />
                </div>
              </div>
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['180'] }}</div>
              <hrms-dropzone  :fileNameQuery="detail.father.filenam2"
                              :codempNameFile="paramSearch.codempid"
                              :name="'tabParent2'"
                              :flgToggle="parent2Disp"
                              ref="hrmsDropzone"
                              :disabled="detailDisabled" 
                              :class="{ '-disable': detailDisabled }"  />
            </div>       
          </div>
          <div class="underline"></div>
        </div>

        <div class="clearfix">
          <div class="row ">
            <div class="group-topic group-space-lg">{{ labels['HRPMC2EC3']['30'] }}</div>
          </div>
          <div class="row">
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EC3']['40'] }}</div>
                <hcm-lov v-model="paramSearch.codempid_mother"
                          lovType="codempid"
                          :descDisp="false"
                          :nowLang="nowLang"
                          name="codempid" 
                          :disabled="detailDisabled" 
                          :class="{ '-disable': detailDisabled }" />
                <div class="validator-text">{{ labels['HRPMC2EC3']['50'] }}</div>
              </div> 
            </div>
            <div class="col-md-2"  style="padding-top: 35px;">
              <div v-if="detailDisabled" class="button-md -disable _bg-blue-disable" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>  
              <div v-if="!detailDisabled" class="button-md _bg-blue"  @click="callSearchMother()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>  
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['60'] }}</div>
              <hrms-dropzone  :fileNameQuery="detail.mother.filenam3"
                              :codempNameFile="paramSearch.codempid"
                              :name="'tabParent3'"
                              :flgToggle="parent3Disp"
                              ref="hrmsDropzone"
                              :disabled="detailDisabled" 
                              :class="{ '-disable': detailDisabled }"  />
            </div>

            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['70'] }}</div>
              <hrms-dropdown  v-model="detail.mother._codtitlem" 
                              :options="dropdowns.codtitle[nowLang]"
                              :disabled="detailDisabled" 
                              :class="{ '-disable': detailDisabled }" 
                              />
            </div>

            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['80'] }}</div>
              <input class="normal-input" v-model="detail.mother.nammothr" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['90'] }}</div>
              <input class="normal-input" v-model="detail.mother._lastmothr" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['100'] }}</div>
              <input class="normal-input" v-model="detail.mother._nummosp" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['110'] }}</div>
              <hrms-datepicker  v-model="detail.mother._dtehdbmothr" 
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dtehdbmothr"
                                data-vv-as="Birth Date"
                                name="dtehdbmothr"
                                :has-error="errors.has('dtehdbmothr')" 
                                :disabled="detailDisabled" 
                                :class="{ '-disable': detailDisabled }" />
            </div>
          </div> 
  
          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['120'] }}</div>
              <hcm-lov  v-model="detail.mother.codmnath"
                        lovType="codnatnl"
                        :descDisp="false"
                        :nowLang="nowLang"
                        name="Nationality"
                        :disabled="detailDisabled" 
                        :class="{ '-disable': detailDisabled }"  />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['130'] }}</div>
              <hcm-lov  v-model="detail.mother.codmrelg"
                        lovType="codrelgn"
                        :descDisp="false"
                        :nowLang="nowLang"
                        name="Religion"
                        :disabled="detailDisabled" 
                        :class="{ '-disable': detailDisabled }"  />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['140'] }}</div>
              <hcm-lov  v-model="detail.mother.codmoccu"
                        lovType="codoccup"
                        :descDisp="false"
                        :nowLang="nowLang"
                        name="Occupation"
                        :disabled="detailDisabled" 
                        :class="{ '-disable': detailDisabled }"  />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['150'] }}</div>
              <div class="row">
                <div class="radio-group col-md-3">
                  <input class="radio-true" type="radio" id="_malive1" name="_malive1" v-model="detail.mother._malive" value="Y" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
                  <label class="radio-fake" for="_malive1" ></label>
                  <label class="radio-label" for="_malive1">{{ labels['HRPMC2EC3']['160'] }}</label>
                </div>
                <div class="radio-group col-md-3">
                  <input class="radio-true"  type="radio" id="_malive2" name="_malive2"v-model="detail.mother._malive" value="N" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
                  <label class="radio-fake" for="_malive2"></label>
                  <label class="radio-label" for="_malive2">{{ labels['HRPMC2EC3']['170'] }}</label>
                </div>     
                <div class="col-md-6">
                  <hrms-datepicker  v-model="detail.mother._malive_dtedead" 
                                    v-validate="'required|date_format:DD/MM/YYYY'"
                                    data-vv-value-path="inputDate"
                                    data-vv-name="_malive_dtedead"
                                    data-vv-as="Death date"
                                    name="_malive_dtedead"
                                    :has-error="errors.has('_malive_dtedead')" 
                                    :disabled="detailDisabled" 
                                    :class="{ '-disable': detailDisabled }" />
                </div>
              </div>
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['180'] }}</div>
              <hrms-dropzone  :fileNameQuery="detail.mother.filenam4"
                              :codempNameFile="paramSearch.codempid"
                              :name="'tabParent4'"
                              :flgToggle="parent4Disp"
                              ref="hrmsDropzone"
                              :disabled="detailDisabled" 
                              :class="{ '-disable': detailDisabled }"  />
            </div>         
          </div>  
          <div class="underline"></div>    
        </div>

        <div class="clearfix">
          <div class="row ">
            <div class="group-topic group-space-lg">{{ labels['HRPMC2EC3']['190'] }}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['70'] }}</div>
              <hrms-dropdown  v-model="detail.other._ocodtitle" 
                              :options="dropdowns.codtitle[nowLang]"
                              :disabled="detailDisabled" 
                              :class="{ '-disable': detailDisabled }" 
                              />
            </div>

            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['80'] }}</div>
              <input class="normal-input" v-model="detail.other.namcont" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['90'] }}</div>
              <input class="normal-input" v-model="detail.other._lastcont" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }"  />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['200'] }}</div>
              <textarea class="normal-textarea"  
                        maxlength="600"
                        v-model="detail.other.adrcont1" 
                        :disabled="detailDisabled" 
                        :class="{ '-disable': detailDisabled }" >
              </textarea>
            </div>
          </div> 
  
          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['210'] }}</div>
              <input class="normal-input" v-model="detail.other.codpost" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['220'] }}</div>
              <input class="normal-input" v-model="detail.other.numtele" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['230'] }}</div>
              <input class="normal-input" v-model="detail.other.numfax" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['240'] }}</div>
              <input class="normal-input" v-model="detail.other.email" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
            </div>               
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC3']['250'] }}</div>
              <input class="normal-input" v-model="detail.other.desrelat" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
            </div>               
          </div>      
        </div>

        <div class="row">
          <div class="col-md-6 group-space-lg">
            <div class="changedetail-group">
              <div class="img-box">
                <img class="menu-icon" :src="require('@/assets/image/ex-photo.png')">
              </div>
              <div class="detail-box">
                <div class="label-box">
                  <div class="editor-label">{{ labels['HRPMC2EC3']['260'] }} :</div>
                  <div class="editor-label">{{ labels['HRPMC2EC3']['270'] }} :</div>
                </div>
                <div class="data-box">
                  <div class="editor-data">{{detail.other.dteupd}}</div>
                  <div class="editor-data">{{detail.other.coduser}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 group-space-lg">
            <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
            <div  v-if="!detailDisabled" class="button-sm _bg-small-button pull-right" 
                  @click="togglePopupChangeDetail()" 
                  data-toggle="modal" 
                  ref="changeDetailBtn" 
                :data-target="'#' + modalID">{{ labels['HRPMC2EC4']['70'] }}
            </div>    
          </div>       
        </div>        
      </div>
    </div>

    <change-detail-popup  :labels="labels"
                          :modalID="modalID"
                          :nowLang="nowLang"
                          :changeDetailColumns="changeDetailColumns"
                          :labelsButton="labelsButton" 
                          :popupChangeDetail="popupChangeDetail"/>
  </div>
</template>

<script>
import changeDetailPopup from '../changeDetailPopup'

export default {
  name: 'hrpmc2e-family3',
  data () {
    return {
      paramSearch: {
        codempid_father: '',
        codempid_mother: ''
      },
      parent1Disp: true,
      parent2Disp: true,
      parent3Disp: true,
      parent4Disp: true,
      modalID: 'hrpmc2e-family3'
    }
  },
  props: [
    'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'dropdowns',
    'popupChangeDetail',
    'changeDetailColumns',
    'receivedHrpmc2eChangeDetailPopup',
    'receivedHrpmc2eParentFatherQuery',
    'receivedHrpmc2eParentMotherQuery',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ],
  methods: {
    callSearchFather () {
      this.receivedHrpmc2eParentFatherQuery(this.paramSearch.codempid_father)
    },
    callSearchMother () {
      this.receivedHrpmc2eParentMotherQuery(this.paramSearch.codempid_mother)
    },
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  },
  components: {
    changeDetailPopup
  }
}
</script>
