<template>
  <div>
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.family1 }" :aria-expanded="!flgCollapse.family1" @click.self="setCollapseToggle('family1')" data-parent="#family" href="#family1" >
      <div class="title" @click.self="setCollapseToggle('family1')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('family1')"></i>{{ labels['HRPMC2EC1']['10'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('family1')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('family1')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.family1 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('family1')"></i>
    </div>
    <div id="family1" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.family1}">
      <div class="panel-body">
        <div class="clearfix">
          <div class="row ">
            <div class="group-topic group-space-lg">{{ labels['HRPMC2EC1']['20'] }}</div>
          </div>
          <div class="row">
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EC1']['30'] }}</div>
                <hcm-lov v-model="detail.codempid"
                          lovType="codempid"
                          :descDisp="false"
                          :nowLang="nowLang"
                          name="codempid"
                          :disabled="detailDisabled" 
                          :class="{ '-disable': detailDisabled }" />
                <div class="validator-text">{{ labels['HRPMC2EC1']['40'] }}</div>
<!--                 <hcm-lov v-model="paramSearch.codempid"
                          lovType="codempid"
                          :descDisp="false"
                          :nowLang="nowLang"
                          name="codempid"
                          :disabled="detailDisabled" 
                          :class="{ '-disable': detailDisabled }" />
                <div class="validator-text">{{ labels['HRPMC2EC1']['40'] }}</div>
 -->              </div> 
            </div>
           <!--  <div class="col-md-2"  style="padding-top: 35px;">
              <div class="button-md _bg-blue"  @click="callSearch()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>  
            </div> -->
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC1']['50'] }}</div>
              <hrms-dropzone  :fileNameQuery="detail.filenam1"
                              :codempNameFile="detail.codempid"
                              :name="'tabSpouse1'"
                              :flgToggle="spouse1Disp"
                              ref="hrmsDropzone"
                              :disabled="detailDisabled" 
                              :class="{ '-disable': detailDisabled }" />
            </div>

            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC1']['60'] }}</div>
              <hrms-dropdown  v-model="detail.codtitle" 
                              :options="dropdowns.codtitle[nowLang]"
                              :disabled="detailDisabled" 
                              :class="{ '-disable': detailDisabled }"
                              />
            </div>

            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC1']['70'] }}</div>
              <input class="normal-input" v-model="detail.namfirst" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC1']['80'] }}</div>
              <input class="normal-input" v-model="detail.namlast" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC1']['90'] }}</div>
              <input class="normal-input" v-model="detail.numoffid" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC1']['100'] }}</div>
              <hrms-datepicker  v-model="detail.dtespbd" 
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dtespbd"
                                data-vv-as="Birth Date"
                                name="dtespbd"
                                :has-error="errors.has('dtespbd')" 
                                :disabled="detailDisabled" 
                                :class="{ '-disable': detailDisabled }"/>
            </div>
          </div> 
  
          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC1']['110'] }}</div>
              <div class="row">
                <div class="radio-group col-md-3">
                  <input class="radio-true" type="radio" id="_alive1" name="_alive1" v-model="detail._alive" value="Y" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
                  <label class="radio-fake" for="_alive1" ></label>
                  <label class="radio-label" for="_alive1">{{ labels['HRPMC2EC1']['120'] }}</label>
                </div>
                <div class="radio-group col-md-3">
                  <input class="radio-true"  type="radio" id="_alive2" name="_alive2"v-model="detail._alive" value="N" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
                  <label class="radio-fake" for="_alive2"></label>
                  <label class="radio-label" for="_alive2">{{ labels['HRPMC2EC1']['130'] }}</label>
                </div>     
                <div class="col-md-6">
                  <hrms-datepicker  v-model="detail._alive_dtedead" 
                                    v-validate="'required|date_format:DD/MM/YYYY'"
                                    data-vv-value-path="inputDate"
                                    data-vv-name="_alive_dtedead"
                                    data-vv-as="Death date"
                                    name="_alive_dtedead"
                                    :has-error="errors.has('_alive_dtedead')"
                                    :disabled="detailDisabled" 
                                    :class="{ '-disable': detailDisabled }" />
                </div>
              </div>
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC1']['140'] }}</div>
              <div class="row">
                <div class="radio-group col-md-3">
                  <input class="radio-true" type="radio" id="_revenue1" name="_revenue1" v-model="detail._revenue" value="Y" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
                  <label class="radio-fake" for="_revenue1" ></label>
                  <label class="radio-label" for="_revenue1">{{ labels['HRPMC2EC1']['150'] }}</label>
                </div>
                <div class="radio-group col-md-3">
                  <input class="radio-true"  type="radio" id="_revenue2" name="_revenue2"v-model="detail._revenue" value="N" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
                  <label class="radio-fake" for="_revenue2"></label>
                  <label class="radio-label" for="_revenue2">{{ labels['HRPMC2EC1']['160'] }}</label>
                </div>   
              </div>   
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC1']['170'] }}</div>
              <textarea class="normal-textarea"  maxlength="600"
                        v-model="detail.desnoffi"
                        :disabled="detailDisabled" 
                        :class="{ '-disable': detailDisabled }" >
              </textarea>
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC1']['180'] }}</div>
              <hcm-lov  v-model="detail.codspocc"
                        lovType="codoccup"
                        :descDisp="false"
                        :nowLang="nowLang"
                        name="Occupation"
                        :disabled="detailDisabled" 
                        :class="{ '-disable': detailDisabled }"  />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC1']['190'] }}</div>
              <input class="normal-input" v-model="detail.numfasp" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC1']['200'] }}</div>
              <input class="normal-input" v-model="detail.nummosp" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
            </div>
          </div>
          <div class="underline"></div>
        </div>

        <div class="row">
          <div class="group-topic group-space-lg">{{ labels['HRPMC2EC1']['210'] }}</div>
        </div>
        <div class="row">
          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC1']['220'] }}</div>
              <hrms-datepicker  v-model="detail.dtemarry" 
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dtemarry"
                                data-vv-as="Birth Date"
                                name="dtemarry"
                                :has-error="errors.has('dtemarry')"
                                :disabled="detailDisabled" 
                                :class="{ '-disable': detailDisabled }" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC1']['230'] }}</div>
              <hcm-lov  v-model="detail.codsppro"
                        lovType="codprov"
                        :descDisp="false"
                        :nowLang="nowLang"
                        name="Province"
                        :disabled="detailDisabled" 
                        :class="{ '-disable': detailDisabled }" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC1']['240'] }}</div>
              <hcm-lov  v-model="detail.codspcty"
                        lovType="country"
                        :descDisp="false"
                        :nowLang="nowLang"
                        name="Country"
                        :disabled="detailDisabled" 
                        :class="{ '-disable': detailDisabled }" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC1']['250'] }}</div>
              <input class="normal-input" v-model="detail.desplreg" :disabled="detailDisabled" :class="{ '-disable': detailDisabled }" />
            </div>
          </div>
          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC1']['260'] }}</div>
              <textarea class="normal-textarea"  maxlength="600"
                        v-model="detail.desnote"
                        :disabled="detailDisabled" 
                        :class="{ '-disable': detailDisabled }" >
              </textarea>
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EC1']['270'] }}</div>
              <hrms-dropzone  :fileNameQuery="detail.filenam2"
                              :codempNameFile="detail.codempid"
                              :name="'tabSpouse2'"
                              :flgToggle="spouse2Disp"
                              ref="hrmsDropzone"
                              :disabled="detailDisabled" 
                              :class="{ '-disable': detailDisabled }" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 group-space-lg">
            <div class="changedetail-group">
              <div class="img-box">
                <img class="menu-icon" :src="require('@/assets/image/ex-photo.png')">
              </div>
              <div class="detail-box">
                <div class="label-box">
                  <div class="editor-label">{{ labels['HRPMC2EC1']['280'] }} :</div>
                  <div class="editor-label">{{ labels['HRPMC2EC1']['290'] }} :</div>
                </div>
                <div class="data-box">
                  <div class="editor-data">{{detail.dteupd}}</div>
                  <div class="editor-data">{{detail.coduser}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 group-space-lg">
            <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
            <div  v-if="!detailDisabled" class="button-sm _bg-small-button pull-right" 
                  @click="togglePopupChangeDetail()" 
                  data-toggle="modal" 
                  ref="changeDetailBtn" 
                  :data-target="'#' + modalID">{{ labels['HRPMC2EC4']['70'] }}
            </div>         
          </div>       
        </div>

      </div>
    </div>

    <change-detail-popup  :labels="labels"
                          :modalID="modalID"
                          :nowLang="nowLang"
                          :changeDetailColumns="changeDetailColumns"
                          :labelsButton="labelsButton" 
                          :popupChangeDetail="popupChangeDetail"/>

  </div>
</template>

<script>
import changeDetailPopup from '../changeDetailPopup'

export default {
  name: 'hrpmc2e-family1',
  data () {
    return {
      // paramSearch: {
      //   codempid: ''
      // },
      spouse1Disp: true,
      spouse2Disp: true,
      modalID: 'hrpmc2e-family1'
    }
  },
  props: [
    'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'dropdowns',
    'popupChangeDetail',
    'changeDetailColumns',
    'receivedHrpmc2eChangeDetailPopup',
    'receivedHrpmc2eSpouseQuery',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ],
  methods: {
    // callSearch () {
    //   this.receivedHrpmc2eSpouseQuery(this.paramSearch.codempid)
    // },
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  },
  components: {
    changeDetailPopup
  }
}
</script>
