<template>
  <div  >
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.family2 }" :aria-expanded="!flgCollapse.family2" @click.self="setCollapseToggle('family2')" data-parent="#family" href="#family2" >
      <div class="title" @click.self="setCollapseToggle('family2')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('family2')"></i>{{ labels['HRPMC2EC2']['10'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('family2')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('family2')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.family2 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('family2')"></i>
    </div>
    <div id="family2" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.family2}">
      <div class="panel-body">
        <hrms-table v-show="detailDisabled" 
                    :columns="childrenColumns"
                    :nowLang="nowLang"
                    :data="detail"
                    :searchDisp="false"
                    :tablePageDisp="false" 
                   />

        <hrms-table v-show="!detailDisabled"
                    :columns="childrenColumns"
                    :nowLang="nowLang"
                    :data="detail"
                    :searchDisp="false"
                    :tablePageDisp="false" 
                    :addEvent="addEvent"
                    :editEvent="editEvent"
                    :deleteInlineEventBool="true"
                    :deleteInlineBtnDisp="false"
                    :saveInlineEvent="callSaveFamily2"
                    :saveInlineBtnDisp="false"
                    ref="family2Table"
                />

        <div class="align-right">
          <input data-toggle="modal" ref="popupChildren" data-target="#hrpmc2e-popup-family1" type="hidden"/>
          <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
          <div  v-if="!detailDisabled" class="button-sm _bg-small-button pull-right" 
                @click="togglePopupChangeDetail()" 
                data-toggle="modal" 
                ref="changeDetailBtn" 
                :data-target="'#' + modalID">{{ labels['HRPMC2EC2']['80'] }}
          </div>  
        </div>
      </div>
    </div>
    <popup-children       :popupChildren="popupChildren"
                          :labels="labels"
                          :eventBtn="eventBtn"
                          :codempidQuery='codempidQuery'
                          :nowLang="nowLang"
                          :dropdowns="dropdowns"
                          :labelsButton="labelsButton"
                          :childrenSelected="childrenSelected"
                          :setChildrenAddInlinePopup="setChildrenAddInlinePopup"
                          :receivedHrpmc2ePopupChildrenQuery="receivedHrpmc2ePopupChildrenQuery" />
    
    <change-detail-popup  :labels="labels"
                          :modalID="modalID"
                          :nowLang="nowLang"
                          :changeDetailColumns="changeDetailColumns"
                          :labelsButton="labelsButton" 
                          :popupChangeDetail="popupChangeDetail"/>

  </div>
</template>

<script>
import popupChildren from './popupFamily1'
import changeDetailPopup from '../changeDetailPopup'

export default {
  name: 'hrpmc2e-family2',
  props: [
    'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'dropdowns',
    'childrenColumns',
    'popupChildren',
    'childrenSelected',
    'setChildrenSelected',
    'receivedHrpmc2ePopupChildrenCreate',
    'receivedHrpmc2ePopupChildren',
    'popupChangeDetail',
    'changeDetailColumns',
    'receivedHrpmc2eChangeDetailPopup',
    'setChildrenAddInlinePopup',
    'callSaveFamily2',
    'family2Table',
    'codempidQuery',
    'receivedHrpmc2ePopupChildrenQuery',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ],
  data: function () {
    return {
      eventBtn: '',
      modalID: 'hrpmc2e-family2'
    }
  },
  mounted () {
    this.$on('$family2', () => {
      this.$refs.family2Table.$emit('$saveInlineEventBuiltIn')
    })
  },
  methods: {
    addEvent (param) {
      let popupParams = {
        p_numseq: '1'
      }
      this.eventBtn = 'add'
      this.receivedHrpmc2ePopupChildrenCreate(popupParams)
      this.$refs.popupChildren.click()
    },
    editEvent (dataRow) {
      let popupParams = {
        p_numseq: dataRow.numseq
      }
      this.eventBtn = 'edit'
      this.setChildrenSelected(dataRow)
      this.receivedHrpmc2ePopupChildren(popupParams)
      this.$refs.popupChildren.click()
    },
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  },
  components: {
    popupChildren,
    changeDetailPopup
  }
}
</script>
