<template>
  <div class="collapse-group" >
    <div class="panel-group" id="family"  >
      <div class="panel">
        <family1  :labels="labels"
                  :labelsButton="labelsButton"
                  :nowLang="nowLang"
                  :detail="detail.spouse"
                  :dropdowns="dropdowns"
                  :popupChangeDetail="popupChangeDetail"
                  :changeDetailColumns="columns.changeDetail"
                  :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                  :receivedHrpmc2eSpouseQuery="receivedHrpmc2eSpouseQuery"
                  :flgCollapse="flgCollapse"
                  :setCollapseToggle="setCollapseToggle"
                  :pinCollapse="pinCollapse"
                  :setPinCollapseToggle="setPinCollapseToggle" 
                  :detailDisabled="detailDisabled"
                   />
      </div>
      <div class="panel">
        <family2  :labels="labels"
                  :labelsButton="labelsButton"
                  :nowLang="nowLang"
                  :dropdowns="dropdowns"
                  :codempidQuery="codempidQuery"
                  :detail="detail.tableChildren"
                  :childrenColumns="columns.childrenColumns" 
                  :popupChildren="popupChildren"
                  :childrenSelected="childrenSelected"
                  :setChildrenSelected="setChildrenSelected"
                  :receivedHrpmc2ePopupChildrenCreate="receivedHrpmc2ePopupChildrenCreate"
                  :receivedHrpmc2ePopupChildren="receivedHrpmc2ePopupChildren"
                  :popupChangeDetail="popupChangeDetail"
                  :changeDetailColumns="columns.changeDetail"
                  :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                  :setChildrenAddInlinePopup="setChildrenAddInlinePopup"
                  :callSaveFamily2="callSaveFamily2"
                  ref="family2Table" 
                  :receivedHrpmc2ePopupChildrenQuery="receivedHrpmc2ePopupChildrenQuery"
                  :flgCollapse="flgCollapse"
                  :setCollapseToggle="setCollapseToggle"
                  :pinCollapse="pinCollapse"
                  :setPinCollapseToggle="setPinCollapseToggle" 
                  :detailDisabled="detailDisabled"
                   />
      </div>
      <div class="panel">
        <family3  :labels="labels"
                  :labelsButton="labelsButton"
                  :nowLang="nowLang"
                  :detail="detail.parent"
                  :dropdowns="dropdowns"
                  :popupChangeDetail="popupChangeDetail"
                  :changeDetailColumns="columns.changeDetail"
                  :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                  :receivedHrpmc2eParentFatherQuery="receivedHrpmc2eParentFatherQuery"
                  :receivedHrpmc2eParentMotherQuery="receivedHrpmc2eParentMotherQuery"
                  :flgCollapse="flgCollapse"
                  :setCollapseToggle="setCollapseToggle"
                  :pinCollapse="pinCollapse"
                  :setPinCollapseToggle="setPinCollapseToggle" 
                  :detailDisabled="detailDisabled"
                   />
      </div>
      <div class="panel">
        <family4  :labels="labels"
                  :labelsButton="labelsButton"
                  :nowLang="nowLang"
                  :dropdowns="dropdowns"
                  :codempidQuery="codempidQuery"
                  :detail="detail.tableRelatives"
                  :relativesColumns="columns.relativesColumns"
                  :popupRelatives="popupRelatives"
                  :relativesSelected="relativesSelected"
                  :setRelativesSelected="setRelativesSelected"
                  :receivedHrpmc2ePopupRelativesCreate="receivedHrpmc2ePopupRelativesCreate"
                  :receivedHrpmc2ePopupRelatives="receivedHrpmc2ePopupRelatives"
                  :popupChangeDetail="popupChangeDetail"
                  :changeDetailColumns="columns.changeDetail"
                  :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                  :setRelativesAddInlinePopup="setRelativesAddInlinePopup"
                  :callSaveFamily4="callSaveFamily4"
                  ref="family4Table" 
                  :receivedHrpmc2ePopupRelativesQuery="receivedHrpmc2ePopupRelativesQuery"
                  :flgCollapse="flgCollapse"
                  :setCollapseToggle="setCollapseToggle"
                  :pinCollapse="pinCollapse"
                  :setPinCollapseToggle="setPinCollapseToggle" 
                  :detailDisabled="detailDisabled"
                   />
      </div>
      <div class="group-space" style="padding-top: 40px">
        <div v-if="detailDisabled" class="button-md -disable _bg-green-disable" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div>  
        <div v-if="!detailDisabled" class="button-md _bg-green" @click="callSave()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div>  
      </div>

    </div>
  </div>
</template>

<script>
import family1 from './family1'
import family2 from './family2'
import family3 from './family3'
import family4 from './family4'
import swal from 'sweetalert'
import { constLabels } from 'assets/js/constLabels'

export default {
  name: 'hrpmc2e-family',
  data () {
    return {
      pinCollapse: {
        family1: false,
        family2: false,
        family3: false,
        family4: false
      },
      flgCollapse: {
        family1: false,
        family2: true,
        family3: true,
        family4: true
      }
    }
  },
  props: [
    'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'columns',
    'dropdowns',
    'codempidQuery',
    'popupChildren',
    'childrenSelected',
    'setChildrenSelected',
    'receivedHrpmc2ePopupChildrenCreate',
    'receivedHrpmc2ePopupChildren',
    'popupRelatives',
    'relativesSelected',
    'setRelativesSelected',
    'receivedHrpmc2ePopupRelativesCreate',
    'receivedHrpmc2ePopupRelatives',
    'popupChangeDetail',
    'receivedHrpmc2eChangeDetailPopup',
    'setInlineFamily2',
    'setInlineFamily4',
    'inlineFamily2',
    'inlineFamily4',
    'setChildrenAddInlinePopup',
    'setRelativesAddInlinePopup',
    'postFamilySaveAll',
    'receivedHrpmc2eSpouseQuery',
    'receivedHrpmc2ePopupChildrenQuery',
    'receivedHrpmc2eParentFatherQuery',
    'receivedHrpmc2eParentMotherQuery',
    'receivedHrpmc2ePopupRelativesQuery',
    'detailDisabled'
  ],
  methods: {
    resetCollapse () {
      this.flgCollapse = {
        family1: false,
        family2: true,
        family3: true,
        family4: true
      }
      this.pinCollapse = {
        family1: false,
        family2: false,
        family3: false,
        family4: false
      }
    },
    setPinCollapseToggle (tab) {
      this.pinCollapse[tab] = !this.pinCollapse[tab]
    },
    setCollapseToggle (tab) {
      for (let collapseTab in this.flgCollapse) {
        if (collapseTab !== tab) {
          if (!this.pinCollapse[collapseTab]) {
            this.flgCollapse[collapseTab] = true
          }
        }
      }
      this.flgCollapse[tab] = !this.flgCollapse[tab]
    },
    callSaveFamily2 (dataRowsHasFlg) {
      this.setInlineFamily2(dataRowsHasFlg)
    },
    callSaveFamily4 (dataRowsHasFlg) {
      this.setInlineFamily4(dataRowsHasFlg)
    },
    postFamilySave () {
      this.$refs.family2Table.$emit('$family2')
      this.$refs.family4Table.$emit('$family4')
      let _this = this
      swal({
        title: constLabels('confirmTitle'),
        text: constLabels('msgConfirmSave'),
        showCancelButton: true,
        closeOnConfirm: false,
        confirmButtonText: 'ok',
        cancelButtonText: 'cancel',
        html: true
      },
      function (isConfirm) {
        if (isConfirm) {
          let family = {
            spouse: _this.detail.spouse,
            tableChildren: _this.inlineFamily2,
            parent: _this.detail.parent,
            tableRelatives: _this.inlineFamily4
          }
          _this.postFamilySaveAll({
            searchParams: _this.codempidQuery,
            family: family
          })
        }
      })
    }
  },
  components: {
    family1,
    family2,
    family3,
    family4
  }
}
</script>
