<template>
  <div class="modal-group">
    <div id="hrpmc2e-popup-family2" name="hrpmc2e-popup-family2" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">{{ labels['HRPMC2EC4']['10'] }}</div>
            <div class="close ion-android-close" data-dismiss="modal"></div>
            <div class="tag fa fa-tag"></div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6 group-space-md">
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC4']['80'] }}</div>
                  <hcm-lov v-model="paramSearch.codempid"
                            lovType="codempid"
                            :disabled="false"
                            :descDisp="false"
                            :nowLang="nowLang"
                            name="codempid" />
                  <div class="validator-text">{{ labels['HRPMC2EC4']['90'] }}</div>
                </div> 
              </div>
              <div class="col-md-1 group-space-md"  style="padding-top: 35px;">
                <div class="button-md _bg-blue"  @click="callSearch()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>  
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 group-space-md">
                <div class="input-group ">
                  <div class="label">{{ labels['HRPMC2EC4']['100'] }}</div>
                  <input class="normal-input -disable" v-model="popupRelativesState.numseq" disabled="disabled" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC4']['110'] }}</div>
                  <hrms-dropzone  :fileNameQuery="popupRelativesState.filenam1"
                                  :codempNameFile="codempidQuery"
                                  :name="'popupRelatives1'"
                                  :flgToggle="relativesDisp"
                                  ref="hrmsDropzone" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC4']['120'] }}</div>
                  <hrms-dropdown  v-model="popupRelativesState.codtitle" 
                                  :options="dropdowns.codtitle[nowLang]" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC4']['130'] }}</div>
                  <input class="normal-input" v-model="popupRelativesState.namchild" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC4']['140'] }}</div>
                  <input class="normal-input" v-model="popupRelativesState._lastname" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC4']['30'] }}</div>
                  <input class="normal-input" v-model="popupRelativesState.numoffid" />
                </div>      
              </div> 

              <div class="col-md-6 group-space-md">
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC4']['40'] }}</div>
                  <hrms-datepicker  v-model="popupRelativesState.dtechbd" 
                                    v-validate="'required|date_format:DD/MM/YYYY'"
                                    data-vv-value-path="inputDate"
                                    data-vv-name="dtechbd"
                                    data-vv-as="Birth Date"
                                    name="dtechbd"
                                    :has-error="errors.has('dtechbd')" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC4']['50'] }}</div>
                  <hrms-dropdown  v-model="popupRelativesState.codsex" 
                                  :options="dropdowns.codsex[nowLang]" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC4']['150'] }}</div>
                  <hcm-lov  v-model="popupRelativesState._job"
                            lovType="codoccup"
                            :descDisp="false"
                            :nowLang="nowLang"
                            name="Occupation" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC4']['160'] }}</div>
                  <div class="row">
                    <div class="radio-group col-md-4">
                      <input class="radio-true" type="radio" id="_life1" name="_life1" v-model="popupRelativesState._life" value="Y" />
                      <label class="radio-fake" for="_life1" ></label>
                      <label class="radio-label" for="_life1">{{ labels['HRPMC2EC4']['170'] }}</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="radio-group col-md-4">
                      <input class="radio-true"  type="radio" id="_life2" name="_life2"v-model="popupRelativesState._life" value="N" />
                      <label class="radio-fake" for="_life2"></label>
                      <label class="radio-label" for="_life2">{{ labels['HRPMC2EC4']['180'] }}</label>
                    </div>     
                    <div class="col-md-8">
                      <hrms-datepicker  v-model="popupRelativesState._dtedead" 
                                        v-validate="'required|date_format:DD/MM/YYYY'"
                                        data-vv-value-path="inputDate"
                                        data-vv-name="xxxx"
                                        data-vv-as="Birth Date"
                                        name="xxxx"
                                        :has-error="errors.has('xxxx')" />
                    </div>
                  </div>
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC4']['60'] }}</div>
                  <hrms-dropdown  v-model="popupRelativesState.relation" 
                                  :options="dropdowns.relation[nowLang]" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC4']['190'] }}</div>
                  <hrms-dropzone  :fileNameQuery="popupRelativesState.filenam2"
                                  :codempNameFile="codempidQuery"
                                  :name="'popupRelatives2'"
                                  :flgToggle="relativesDisp"
                                  ref="hrmsDropzone" />
                </div>
              </div> 
            </div>
          </div>
          <div class="modal-footer">
            <div class="button-md _bg-grey" data-dismiss="modal"><i class="fa fa-times-circle"></i> {{ labelsButton['cancel'] }}</div>
            <div class="button-md _bg-blue" data-dismiss="modal" @click="confirm()" ><i class="fa fa-check-circle"></i> {{ labelsButton['ok'] }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hrpmc2e-popup-family2',
  props: [
    'labels',
    'labelsButton',
    'nowLang',
    'dropdowns',
    'popupRelatives',
    'relativesSelected',
    'codempidQuery',
    'eventBtn',
    'setRelativesAddInlinePopup',
    'receivedHrpmc2ePopupRelativesQuery'
  ],
  data () {
    return {
      paramSearch: {
        codempid: ''
      },
      popupRelativesState: this.popupRelatives,
      relativesDisp: true
    }
  },
  watch: {
    popupRelatives () {
      this.popupRelativesState = this.popupRelatives
      this.$nextTick(function () {
        this.errors.clear()
      })
    }
  },
  methods: {
    callSearch () {
      this.receivedHrpmc2ePopupRelativesQuery(this.paramSearch.codempid)
    },
    confirm () {
      this.popupRelativesState.namcont = this.dropdowns.codtitle[this.nowLang][this.popupRelativesState.codtitle] + ' ' + this.popupRelativesState.namchild + ' ' + this.popupRelativesState._lastname
      this.popupRelativesState.dessex = this.dropdowns.codsex[this.nowLang][this.popupRelativesState.codsex]
      this.popupRelativesState.desrelat = this.dropdowns.relation[this.nowLang][this.popupRelativesState.relation]
      this.setRelativesAddInlinePopup(this.popupRelativesState)
    }
  }
}
</script>
