<template>
  <div class="modal-group">
    <div id="hrpmc2e-popup-family1" name="hrpmc2e-popup-family1" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">{{ labels['HRPMC2EC2']['10'] }}</div>
            <div class="close ion-android-close" data-dismiss="modal"></div>
            <div class="tag fa fa-tag"></div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6 group-space-md">
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC2']['90'] }}</div>
                  <hcm-lov v-model="paramSearch.codempid"
                            lovType="codempid"
                            :disabled="false"
                            :descDisp="false"
                            :nowLang="nowLang"
                            name="codempid" />
                  <div class="validator-text">{{ labels['HRPMC2EC2']['100'] }}</div>
                </div> 
              </div>
              <div class="col-md-1 group-space-md"  style="padding-top: 35px;">
                <div class="button-md _bg-blue"  @click="callSearch()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>  
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 group-space-md">
                <div class="input-group ">
                  <div class="label">{{ labels['HRPMC2EC2']['110'] }}</div>
                  <input class="normal-input -disable" v-model="popupChildrenState.numseq" disabled="disabled" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC2']['120'] }}</div>
                  <hrms-dropzone  :fileNameQuery="popupChildrenState.filenam1"
                                  :codempNameFile="codempidQuery"
                                  :name="'popupChildren1'"
                                  :flgToggle="childrenDisp"
                                  ref="hrmsDropzone" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC2']['130'] }}</div>
                  <hrms-dropdown  v-model="popupChildrenState.codtitle" 
                                  :options="dropdowns.codtitle[nowLang]" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC2']['140'] }}</div>
                  <input class="normal-input" v-model="popupChildrenState.namchild" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC2']['150'] }}</div>
                  <input class="normal-input" v-model="popupChildrenState._lastchild" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC2']['30'] }}</div>
                  <input class="normal-input" v-model="popupChildrenState.numoffid" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC2']['40'] }}</div>
                  <hrms-datepicker  v-model="popupChildrenState.dtechbd" 
                                    v-validate="'required|date_format:DD/MM/YYYY'"
                                    data-vv-value-path="inputDate"
                                    data-vv-name="dtechbd"
                                    data-vv-as="Birth Date"
                                    name="dtechbd"
                                    :has-error="errors.has('dtechbd')" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC2']['50'] }}</div>
                  <hrms-dropdown  v-model="popupChildrenState.dessex" 
                                  :options="dropdowns.codsex[nowLang]" />
                </div>
              </div> 

              <div class="col-md-6 group-space-md">
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC2']['160'] }}</div>
                  <hcm-lov  v-model="popupChildrenState.codedlv"
                            lovType="codedlv"
                            :descDisp="false"
                            :nowLang="nowLang"
                            name="codedlv" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC2']['170'] }}</div>
                  <div class="row">
                    <div class="radio-group col-md-6">
                      <input class="radio-true" type="radio" id="_child_status1" name="_child_status1" v-model="popupChildrenState._child_status" value="Y" />
                      <label class="radio-fake" for="_child_status1" ></label>
                      <label class="radio-label" for="_child_status1">{{ labels['HRPMC2EC2']['180'] }}</label>
                    </div>
                    <div class="radio-group col-md-6">
                      <input class="radio-true"  type="radio" id="_child_status2" name="_child_status2"v-model="popupChildrenState._child_status" value="N" />
                      <label class="radio-fake" for="_child_status2"></label>
                      <label class="radio-label" for="_child_status2">{{ labels['HRPMC2EC2']['190'] }}</label>
                    </div>   
                  </div>   
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC2']['200'] }}</div>
                  <div class="row">
                    <div class="radio-group col-md-4">
                      <input class="radio-true" type="radio" id="_child_alive1" name="_child_alive1" v-model="popupChildrenState._child_alive" value="Y" />
                      <label class="radio-fake" for="_child_alive1" ></label>
                      <label class="radio-label" for="_child_alive1">{{ labels['HRPMC2EC2']['210'] }}</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="radio-group col-md-4">
                      <input class="radio-true"  type="radio" id="_child_alive2" name="_child_alive2"v-model="popupChildrenState._child_alive" value="N" />
                      <label class="radio-fake" for="_child_alive2"></label>
                      <label class="radio-label" for="_child_alive2">{{ labels['HRPMC2EC2']['220'] }}</label>
                    </div>     
                    <div class="col-md-8">
                      <hrms-datepicker  v-model="popupChildrenState._alive_dtedead" 
                                        v-validate="'required|date_format:DD/MM/YYYY'"
                                        data-vv-value-path="inputDate"
                                        data-vv-name="_alive_dtedead"
                                        data-vv-as="Dead Date"
                                        name="_alive_dtedead"
                                        :has-error="errors.has('_alive_dtedead')" />
                    </div>
                  </div>
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC2']['230'] }}</div>
                  <div class="row">
                    <div class="radio-group col-md-6">
                      <input class="radio-true" type="radio" id="income1" name="income1" v-model="popupChildrenState.income" value="Y" />
                      <label class="radio-fake" for="income1" ></label>
                      <label class="radio-label" for="income1">{{ labels['HRPMC2EC2']['240'] }}</label>
                    </div>
                    <div class="radio-group col-md-6">
                      <input class="radio-true"  type="radio" id="income2" name="income2"v-model="popupChildrenState.income" value="N" />
                      <label class="radio-fake" for="income2"></label>
                      <label class="radio-label" for="income2">{{ labels['HRPMC2EC2']['250'] }}</label>
                    </div>   
                  </div>
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC2']['60'] }}</div>
                  <div class="row">
                    <div class="radio-group col-md-6">
                      <input class="radio-true" type="radio" id="flgedlv1" name="flgedlv1" v-model="popupChildrenState.flgedlv" value="Y" />
                      <label class="radio-fake" for="flgedlv1" ></label>
                      <label class="radio-label" for="flgedlv1">{{ labels['HRPMC2EC2']['260'] }}</label>
                    </div>
                    <div class="radio-group col-md-6">
                      <input class="radio-true"  type="radio" id="flgedlv2" name="flgedlv2"v-model="popupChildrenState.flgedlv" value="N" />
                      <label class="radio-fake" for="flgedlv2"></label>
                      <label class="radio-label" for="flgedlv2">{{ labels['HRPMC2EC2']['270'] }}</label>
                    </div>   
                  </div>   
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC2']['280'] }}</div>
                  <div class="row">
                    <div class="radio-group col-md-6">
                      <input class="radio-true" type="radio" id="flgdeduct1" name="flgdeduct1" v-model="popupChildrenState.flgdeduct" value="Y" />
                      <label class="radio-fake" for="flgdeduct1" ></label>
                      <label class="radio-label" for="flgdeduct1">{{ labels['HRPMC2EC2']['290'] }}</label>
                    </div>
                    <div class="radio-group col-md-6">
                      <input class="radio-true"  type="radio" id="flgdeduct2" name="flgdeduct2"v-model="popupChildrenState.flgdeduct" value="N" />
                      <label class="radio-fake" for="flgdeduct2"></label>
                      <label class="radio-label" for="flgdeduct2">{{ labels['HRPMC2EC2']['300'] }}</label>
                    </div>   
                  </div>   
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC2']['310'] }}</div>
                  <div class="row">
                    <div class="radio-group col-md-6">
                      <input class="radio-true" type="radio" id="benefit1" name="benefit1" v-model="popupChildrenState.benefit" value="Y" />
                      <label class="radio-fake" for="benefit1" ></label>
                      <label class="radio-label" for="benefit1">{{ labels['HRPMC2EC2']['290'] }}</label>
                    </div>
                    <div class="radio-group col-md-6">
                      <input class="radio-true"  type="radio" id="benefit2" name="benefit2"v-model="popupChildrenState.benefit" value="N" />
                      <label class="radio-fake" for="benefit2"></label>
                      <label class="radio-label" for="benefit2">{{ labels['HRPMC2EC2']['300'] }}</label>
                    </div>   
                  </div>   
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EC2']['320'] }}</div>
                  <hrms-dropzone  :fileNameQuery="popupChildrenState.filenam2"
                                  :codempNameFile="codempidQuery"
                                  :name="'popupChildren2'"
                                  :flgToggle="childrenDisp"
                                  ref="hrmsDropzone" />
                </div>
              </div> 
            </div>
          </div>
          <div class="modal-footer">
            <div class="button-md _bg-grey" data-dismiss="modal"><i class="fa fa-times-circle"></i> {{ labelsButton['cancel'] }}</div>
            <div class="button-md _bg-blue" data-dismiss="modal" @click="confirm()" ><i class="fa fa-check-circle"></i> {{ labelsButton['ok'] }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hrpmc2e-popup-family1',
  props: [
    'labels',
    'labelsButton',
    'nowLang',
    'dropdowns',
    'popupChildren',
    'childrenSelected',
    'eventBtn',
    'codempidQuery',
    'setChildrenAddInlinePopup',
    'receivedHrpmc2ePopupChildrenQuery'
  ],
  data () {
    return {
      paramSearch: {
        codempid: ''
      },
      popupChildrenState: this.popupChildren,
      childrenDisp: true
    }
  },
  watch: {
    popupChildren () {
      this.popupChildrenState = this.popupChildren
      this.$nextTick(function () {
        this.errors.clear()
      })
    }
  },
  methods: {
    callSearch () {
      this.receivedHrpmc2ePopupChildrenQuery(this.paramSearch.codempid)
    },
    confirm () {
      if (this.popupChildrenState.flgedlv === 'Y') {
        this.popupChildrenState.desflgedlv = this.labels['HRPMC2EC2']['260']
      }
      if (this.popupChildrenState.flgedlv === 'N') {
        this.popupChildrenState.desflgedlv = this.labels['HRPMC2EC2']['270']
      }
      if (this.popupChildrenState.flgdeduct === 'Y') {
        this.popupChildrenState.desflgded = this.labels['HRPMC2EC2']['290']
      }
      if (this.popupChildrenState.flgdeduct === 'N') {
        this.popupChildrenState.desflgded = this.labels['HRPMC2EC2']['300']
      }
      this.popupChildrenState.namchild = this.dropdowns.codtitle[this.nowLang][this.popupChildrenState.codtitle] + ' ' + this.popupChildrenState.namchild + ' ' + this.popupChildrenState._lastchild
      this.setChildrenAddInlinePopup(this.popupChildrenState)
    }
  }
}
</script>
