@import "../../../modules/global";

.hcm-hral5ou {
  .head-label {
    font-size: 18px;
    font-family: 'promptregular';
  }
  ._twin-group {
    @include clearfix;
    margin: 0 0 25px 0;

    ._twin {
      width: 44% !important;
      float: left;
    }
    .slash {
      width: 8%;
      margin: 0 2%;
      float: left;
      text-align: center;
      line-height: 35px;
    }
  }
}