<template>
  <div id="hrpm38e" class="body-wrapper">
    <hcm-setting-page :newEvent="refreshPage" />

    <component-index  v-show="indexDisp"
                      v-model="index"
                      :nowLang="app.nowLang"
                      :labels="labels[app.nowLang]"
                      :labelsButton="app.button[app.nowLang]"
                      :receivedHrpm38eDetail="receivedHrpm38eDetail"
                      :receivedHrpm38eDetailCreate="receivedHrpm38eDetailCreate"
                      :detailDisabled="detailDisabled"
                      :setDetailDisabled="setDetailDisabled"
                      ref="indexSearch" />

    <component-detail :nowLang="app.nowLang"
                      :labels="labels[app.nowLang]"
                      :labelsButton="app.button[app.nowLang]"
                      :columns="columns[app.nowLang]"
                      :detail="detail"
                      :detailDisabled="detailDisabled"
                      :saveHrpm38eDetail="saveHrpm38eDetail"
                      :dropdowns="dropdowns"
                      :searchParams="index" />

  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import * as types from './store/mutation-types'
import componentIndex from './components/componentIndex'
import componentDetail from './components/componentDetail'

export default {
  name: 'hrpm38e',
  data () {
    return {
      app: this.$root.$children[0],
      index: {
        codcomp: '',
        codpos: '',
        codempid: ''
      }
    }
  },
  created () {
    this.receivedHrpm38eColumnsLabels()
    // this.receivedHrpm38eDropdowns()
  },
  computed: {
    codempid () {
      let currentUser = this.app.currentUser
      return currentUser.p_codempid
    },
    ...mapGetters({
      indexDisp: types.GET_HRPM38E_INDEX_DISP,
      detailDisp: types.GET_HRPM38E_DETAIL_DISP,
      labels: types.GET_HRPM38E_LABELS,
      columns: types.GET_HRPM38E_COLUMNS,
      dropdowns: types.GET_HRPM38E_DROPDOWNS,
      detail: types.GET_HRPM38E_DETAIL,
      detailDisabled: types.GET_HRPM38E_DETAIL_DISABLED
    })
  },
  methods: {
    refreshPage () {
      this.$refs.indexSearch.callNew()
    },
    ...mapMutations({
      setDetailDisp: types.SET_HRPM38E_DETAIL_DISP,
      setDetailDisabled: types.SET_HRPM38E_DETAIL_DISABLED
    }),
    ...mapActions({
      toggle: types.TOGGLE_HRPM38E_PAGE,
      receivedHrpm38eColumnsLabels: types.RECEIVED_HRPM38E_COLUMNS_LABELS,
      receivedHrpm38eIndex: types.RECEIVED_HRPM38E_INDEX,
      receivedHrpm38eDetail: types.RECEIVED_HRPM38E_DETAIL,
      receivedHrpm38eDetailCreate: types.RECEIVED_HRPM38E_DETAIL_CREATE,
      saveHrpm38eDetail: types.SAVE_HRPM38E_DETAIL
    })
  },
  components: {
    componentIndex,
    componentDetail
  }
}
</script>

<style src="./assets/style.scss" lang='scss'></style>

