<template>
  <div id="dash-overview" class="dash-item dashboard-overview">
    <div class="card-box card-type1">
	    <div class="header _text-black">Summary</div>
	    <div class="header-icon">
        <div class="dropdown pull-right">
          <div class="dropdown-icon dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <span class="caret"></span>
          </div>
          <ul class="dropdown-menu">
            <div class="triangle"></div>
            <div class="dropdown-box">
              <li @click="hideWidget(widgetName)">hide widget</li>
            </div>
          </ul>
        </div>
	    </div>
	    <div class="content-list">
        <div id="carouselExampleIndicators" data-interval="false" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="graph-box">
                <img class="img" :src="require('@/assets/image/Overview-Graph/graph_img1.jpg')">
              </div>
              <div class="detail-box">
                <div class="topic">Employee by department 2017</div>
                <div class="detail">
                  This statistic shows the number of employees in 2017. As of this year, out of total number of employees, 1,299 were working in the marketing, implement, development and support department.
                </div>
                <div class="description-box">
                  <div class="description-set">
                    <div class="bullet color-1"><i class="fa fa-circle" aria-hidden="true"></i></div>
                    <div class="desc">Develpoment</div>
                    <div class="percent">50%</div>
                  </div>
                  <div class="description-set">
                    <div class="bullet color-2"><i class="fa fa-circle" aria-hidden="true"></i></div>
                    <div class="desc">Support</div>
                    <div class="percent">20%</div>
                  </div>
                  <div class="description-set">
                    <div class="bullet color-3"><i class="fa fa-circle" aria-hidden="true"></i></div>
                    <div class="desc">Marketing</div>
                    <div class="percent">10%</div>
                  </div>
                  <div class="description-set">
                    <div class="bullet color-4"><i class="fa fa-circle" aria-hidden="true"></i></div>
                    <div class="desc">Implement</div>
                    <div class="percent">20%</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="graph-box">
                <img class="img" :src="require('@/assets/image/Overview-Graph/graph_img2.jpg')">
              </div>
              <div class="detail-box">
                <div class="topic">Competency</div>
                <div class="detail">
                </div>
                <div class="description-box">
                  <div class="description-set">
                    <div class="bullet color-1"><i class="fa fa-circle" aria-hidden="true"></i></div>
                    <div class="desc">Patient Care</div>
                    <div class="percent">60%</div>
                  </div>
                  <div class="description-set">
                    <div class="bullet color-2"><i class="fa fa-circle" aria-hidden="true"></i></div>
                    <div class="desc">Medical Knowledge</div>
                    <div class="percent">96%</div>
                  </div>
                  <div class="description-set">
                    <div class="bullet color-3"><i class="fa fa-circle" aria-hidden="true"></i></div>
                    <div class="desc">Practice Based Learning and Improvement</div>
                    <div class="percent">32%</div>
                  </div>
                  <div class="description-set">
                    <div class="bullet color-4"><i class="fa fa-circle" aria-hidden="true"></i></div>
                    <div class="desc">System Base Practice</div>
                    <div class="percent">80%</div>
                  </div>
                  <div class="description-set">
                    <div class="bullet color-5"><i class="fa fa-circle" aria-hidden="true"></i></div>
                    <div class="desc">Professionalism</div>
                    <div class="percent">20%</div>
                  </div>
                  <div class="description-set">
                    <div class="bullet color-6"><i class="fa fa-circle" aria-hidden="true"></i></div>
                    <div class="desc">Interpersonal Skill & Communication</div>
                    <div class="percent">50%</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="graph-box">
                <img class="img" :src="require('@/assets/image/Overview-Graph/graph_img3_revise.jpg')">
              </div>
              <div class="detail-box">
                <div class="topic">Workforce statistics for department</div>
                <div class="detail">
                  Statistics of work for each department in November 2017.
                </div>
                <div class="description-box">
                  <div class="description-set">
                    <div class="bullet color-1"><i class="fa fa-circle" aria-hidden="true"></i></div>
                    <div class="desc">Development</div>
                    <div class="percent">100%</div>
                  </div>
                  <div class="description-set">
                    <div class="bullet color-2"><i class="fa fa-circle" aria-hidden="true"></i></div>
                    <div class="desc">Support</div>
                    <div class="percent">90%</div>
                  </div>
                  <div class="description-set">
                    <div class="bullet color-3"><i class="fa fa-circle" aria-hidden="true"></i></div>
                    <div class="desc">Marketing</div>
                    <div class="percent">90%</div>
                  </div>
                  <div class="description-set">
                    <div class="bullet color-4"><i class="fa fa-circle" aria-hidden="true"></i></div>
                    <div class="desc">Implement</div>
                    <div class="percent">80%</div>
                  </div>
                </div>
              </div>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
          </div>

        </div>
	    </div>
	  </div>
  </div>
</template>

<script>

export default {
  name: 'dash-overview',
  data () {
    return {
      widgetName: 'overview'
    }
  },
  props: {
    hideWidget: {
      type: Function
    }
  }
}
</script>