<template>
 <div class="body-wrapper">
    <div class="row">
      <div class="col-md-6 group-space-lg">
        <div class="changedetail-group">
          <div class="img-box">
            <img class="menu-icon" :src="require('@/assets/image/ex-photo.png')">
          </div>
          <div class="detail-box">
            <div class="label-box">
              <div class="editor-label">{{ labels['HRPM4CEC2']['10'] }} : </div>
              <div class="editor-label">{{ labels['HRPM4CEC2']['20'] }} :</div>
              <div class="editor-label">{{ labels['HRPM4CEC2']['30'] }} :</div>
            </div>
            <div class="data-box">
              <div class="editor-data">{{params.codempid}} - {{params.desc_codempid}}</div>
              <div class="editor-data">{{params.desc_codpos}}</div>
              <div class="editor-data">{{params.typcodpos}}</div>
            </div>         
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="changedetail-group">
          <div class="detail-box">
            <div class="label-box">
              <div class="editor-label">{{ labels['HRPM4CEC2']['40'] }} : </div>
              <div class="editor-label">{{ labels['HRPM4CEC2']['50'] }} :</div>
            </div>
            <div class="data-box">
              <div class="editor-data">{{params.dteeffect}}</div>
              <div class="editor-data">{{params.dteexpir}}</div>
            </div>         
          </div> 
        </div>
      </div>
    </div>
    <div class="clearfix">
      <div class="collapse-group">
        <div class="panel-group" id="accordion">
          <div class="panel">
            <detail-cancel  :labels="labels"
                            :labelsButton="labelsButton"
                            :detailCancel="detail.tab1"
                            :nowLang="nowLang"
                            :indexSelected="indexSelected"
                            :detailDisabled="detailDisabled"
                            :flgCollapse="flgCollapse"                
                            :setCollapseToggle="setCollapseToggle"
                            :pinCollapse="pinCollapse"
                            :setPinCollapseToggle="setPinCollapseToggle"/>

            <detail-income  :labels="labels"
                            :labelsButton="labelsButton"
                            :nowLang="nowLang"
                            :indexSelected="indexSelected"
                            :detailIncome="detail.tab2"
                            :detailIncomeColumns="columns.detailTab2"
                            :detailDisabled="detailDisabled"
                            :flgCollapse="flgCollapse"
                            :setCollapseToggle="setCollapseToggle"
                            :pinCollapse="pinCollapse"
                            :setPinCollapseToggle="setPinCollapseToggle"/>            
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top:20px;"> 
      <div class="group-space-sm">   
        <button type="button" class="button-md _bg-grey" @click="toggle('index')" value="Back"><i class="fa fa-chevron-circle-left"></i>{{ labelsButton['back'] }}</button>   
        <div type="button" class="button-md _bg-blue"  @click="saveDetail(saveParams())" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div>       
      </div>
    </div>
    <div style="margin-top: -50px;">  
      <button type="button" class="button-sm _bg-small-button pull-right" data-toggle="modal" data-target="#hrpm4ce-popup-other-data" @click="togglePopupAddOtherdata()">{{ labels['HRCO2FEC1']['10'] }}</button>
    </div> 
    <popup-other-data   :labels="labels"
                        :nowLang="nowLang"
                        :labelsButton="labelsButton"
                        :popupSelected="popupSelected"
                        :setCreateTablePopupSelected="setCreateTablePopupSelected"
                        :detailOtherDataPopup="detailOtherDataPopup"
                        :detailOtherDataPopupColumns="detailOtherDataPopupColumns" 
                        :detailCreateTablePopup="detailCreateTablePopup"
                        :detailCreateTablePopupColumns="detailCreateTablePopupColumns"
                        :saveHrpm4ceCreateTablePopup="saveHrpm4ceCreateTablePopup"
                        :setCreateTablePopupDisp="setCreateTablePopupDisp"
                        :detailCreateTablePopupDisp="detailCreateTablePopupDisp"
                        :receivedHrpm4ceCreateTablePopup="receivedHrpm4ceCreateTablePopup" />
  </div>
</template>

<script>
import detailCancel from './detailCancel'
import detailIncome from './detailIncome'
import popupOtherData from './popupOtherData'

export default {
  name: 'hrpm4ce-detail',
  data () {
    return {
      data: this.value,
      params: {
        codempid: '',
        desc_codempid: '',
        desc_codpos: '',
        typcodpos: '',
        dteeffect: '',
        codtrn: '',
        dtecancel: '',
        seqno: '',
        desnote: '',
        codreq: '',
        currency: '',
        monincom1: '',
        dayincom1: '',
        ourincom1: '',
        monincom2: '',
        dayincom2: '',
        ourincom2: '',
        monincom3: '',
        dayincom3: '',
        ourincom3: ''
      },
      pinCollapse: {
        cancel: false,
        income: false
      },
      flgCollapse: {
        cancel: false,
        income: true
      }
    }
  },
  watch: {
    'data.codempid' (newValue) {
      this.$emit('input', { codempid: newValue })
    },
    value (newValue) {
      this.data = newValue
    },
    detail () {
      if (this.eventBtn === 'edit') {
        this.params.codempid = this.indexSelected.codempid
        this.params.desc_codempid = this.indexSelected.desc_codempid
        this.params.desc_codpos = this.indexSelected.desc_codpos
        this.params.typcodpos = this.indexSelected.typcodpos
        this.params.dteeffect = this.indexSelected.dteeffect
        this.params.dteexpir = this.indexSelected.dteexpir
      }
      this.params.codtrn = this.detail.codtrn
      this.params.dtecancel = this.detail.dtecancel
      this.params.seqno = this.detail.seqno
      this.params.desnote = this.detail.desnote
      this.params.codreq = this.detail.codreq
      this.params.currency = this.detail.currency
      this.params.monincom1 = this.detail.monincom1
      this.params.dayincom1 = this.detail.dayincom1
      this.params.ourincom1 = this.detail.ourincom1
      this.params.monincom2 = this.detail.monincom2
      this.params.dayincom2 = this.detail.dayincom2
      this.params.ourincom2 = this.detail.ourincom2
      this.params.monincom3 = this.detail.monincom3
      this.params.dayincom3 = this.detail.dayincom3
      this.params.ourincom3 = this.detail.ourincom3
    }
  },
  methods: {
    resetCollapse () {
      this.flgCollapse = {
        cancel: false,
        income: true
      }
      this.pinCollapse = {
        cancel: false,
        income: false
      }
    },
    setPinCollapseToggle (tab) {
      this.pinCollapse[tab] = !this.pinCollapse[tab]
    },
    setCollapseToggle (tab) {
      for (let collapseTab in this.flgCollapse) {
        if (collapseTab !== tab) {
          if (!this.pinCollapse[collapseTab]) {
            this.flgCollapse[collapseTab] = true
          }
        }
      }
      this.flgCollapse[tab] = !this.flgCollapse[tab]
    },
    saveParams () {
      return {
        indexSelected: this.indexSelected,
        detail: this.detail
      }
    },
    togglePopupAddOtherdata () {
      let popupParams = {}
      this.receivedHrpm4ceOtherDataPopup(popupParams)
    }
  },
  props: [ 'labels',
    'labelsButton',
    'detail',
    'toggle',
    'nowLang',
    'searchIndex',
    'indexSelected',
    'saveDetail',
    'detailDisabled',
    'eventBtn',
    'receivedHrpm4ceDetail',
    'columns',
    'popupSelected',
    'setCreateTablePopupSelected',
    'detailOtherDataPopup',
    'detailOtherDataPopupColumns',
    'detailCreateTablePopup',
    'detailCreateTablePopupColumns',
    'saveHrpm4ceCreateTablePopup',
    'setCreateTablePopupDisp',
    'detailCreateTablePopupDisp',
    'receivedHrpm4ceOtherDataPopup',
    'receivedHrpm4ceCreateTablePopup'
  ],
  components: {
    detailCancel,
    detailIncome,
    popupOtherData
  }
}
</script>
