@import "../../../../modules/global";

.hrpmb1e-personal {
  .checkbox-group {
    .checkbox-label {
      left: auto;
      right: 45px;
      font-size: 14px;
    }
    .checkbox-fake {
      left: auto;
      right: 120px;
    }
  }
  .group-topic {
    padding: 20px 0px 20px 0px;
  }
  .column-page-border-right {
    border-right: 0.5px solid $black-10;
  }
}

.hrpmb1e {
  font-size: 14px;
  // Main menu --------------------------------------------------------
  .c2e-panelbutton {
	  background: #FFF;
	  margin: 0 0 20px 0;
	  // padding: 0 0 5px 0;
	  font-family: 'promptmedium';

	  .rows {
	    margin: 0;
	    text-align: center;

	    .box-btn-cal {
	      cursor: pointer;
	      padding: 20px 0 20px;
				background: $black-10;
				border-bottom: 2px solid $black-30;
				border-left: 1px solid $black-30;
				border-right: 1px solid $black-30;

				&:first-child {
					border-left: 2px solid $black-30;
				}
				&:last-child {
					border-right: 2px solid $black-30;
				}

	      &.hover {
	        &:hover {
	        }
	      }

	      &.btn-width {
	        width: 16.6666666667%;
	        float: left;
	      }

	      &.active {
					border-top: 5px solid $blue;
					border-bottom: none;
					padding: 19px 0 18px;
	        color: $blue;
	        background: #FFF;
	      }

	      .label-btn-cal {
	        font-size: 16px;

	        @media (max-width: 768px) {
	          font-size: 16px;
	        }

	        .menu-icon {
	          margin: 0 0 5px 0;
	          height: 40px;
	          width: auto;
	        }
	      }
	    }
	  }
	}
}