<template>
  <div name="hcm-std" id="hcm-std" class="hcm-std">
    <div class="title-bar">
      <div class="title -heading">UI KIT</div>
      <div class="title">
        <div class="name">Style Guide template</div>
        <div class="for">For Designer and Developer</div>
      </div>
    </div>

    <menu-std :togglePage="togglePage"
              :exButtonActive="exButtonActive"
              :exButtonGroupActive="exButtonGroupActive"
              :exCollapseActive="exCollapseActive"
              :exDropdownActive="exDropdownActive"
              :exCheckboxActive="exCheckboxActive"
              :exFileActive="exFileActive"
              :exInputActive="exInputActive"
              :exRadioActive="exRadioActive"
              :exSelectActive="exSelectActive"
              :exModalActive="exModalActive"
              :exTabActive="exTabActive"
              :exColorActive='exColorActive' 
              :exChangeActive='exChangeActive'
              :exCardActive='exCardActive'
              :exHeadTableActive='exHeadTableActive'
              :exSwitchActive='exSwitchActive' />

    <div class="contents">
      <exButton v-show="exButtonActive" />
      <exButtonGroup v-show="exButtonGroupActive" />
      <exCollapse v-show="exCollapseActive" />
      <exDropdown v-show="exDropdownActive" />
      <exCheckbox v-show="exCheckboxActive" />
      <exFile v-show="exFileActive" />
      <exInput v-show="exInputActive" />
      <exRadio v-show="exRadioActive" />
      <exSelect v-show="exSelectActive" />
      <exModal v-show="exModalActive" />
      <exTab v-show="exTabActive" />
      <exColor v-show="exColorActive" />
      <exChange v-show="exChangeActive" />
      <exCard v-show="exCardActive" />
      <exHeadTable v-show="exHeadTableActive" />
      <exSwitch v-show="exSwitchActive" />
    </div>

    <!-- <backup /> -->

  </div>
</template>

<script>
import backup from './components/backup'
import menuStd from './components/menu'
import exButton from './components/ex-button'
import exButtonGroup from './components/ex-buttongroup'
import exCollapse from './components/ex-collapse'
import exDropdown from './components/ex-dropdown'
import exCheckbox from './components/ex-checkbox'
import exFile from './components/ex-file'
import exInput from './components/ex-input'
import exRadio from './components/ex-radio'
import exSelect from './components/ex-select'
import exModal from './components/ex-modal'
import exTab from './components/ex-tab'
import exColor from './components/ex-color'
import exChange from './components/ex-changedetail'
import exCard from './components/ex-card'
import exHeadTable from './components/ex-headtable'
import exSwitch from './components/ex-switch'

export default {
  name: 'hcm-std',
  data () {
    return {
      exColorActive: true,
      exButtonActive: false,
      exButtonGroupActive: false,
      exCollapseActive: false,
      exDropdownActive: false,
      exCheckboxActive: false,
      exFileActive: false,
      exInputActive: false,
      exRadioActive: false,
      exSelectActive: false,
      exModalActive: false,
      exTabActive: false,
      exChangeActive: false,
      exCardActive: false,
      exHeadTableActive: false,
      exSwitchActive: false,
      page: 'exColorActive'
    }
  },
  methods: {
    togglePage (page) {
      this.exButtonActive = false
      this.exButtonGroupActive = false
      this.exCollapseActive = false
      this.exDropdownActive = false
      this.exCheckboxActive = false
      this.exFileActive = false
      this.exInputActive = false
      this.exRadioActive = false
      this.exSelectActive = false
      this.exModalActive = false
      this.exTabActive = false
      this.exColorActive = false
      this.exChangeActive = false
      this.exCardActive = false
      this.exHeadTableActive = false
      this.exSwitchActive = false
      switch (page) {
        case 'exButtonActive':
          this.exButtonActive = true
          break
        case 'exButtonGroupActive':
          this.exButtonGroupActive = true
          break
        case 'exCollapseActive':
          this.exCollapseActive = true
          break
        case 'exDropdownActive':
          this.exDropdownActive = true
          break
        case 'exCheckboxActive':
          this.exCheckboxActive = true
          break
        case 'exFileActive':
          this.exFileActive = true
          break
        case 'exInputActive':
          this.exInputActive = true
          break
        case 'exRadioActive':
          this.exRadioActive = true
          break
        case 'exSelectActive':
          this.exSelectActive = true
          break
        case 'exModalActive':
          this.exModalActive = true
          break
        case 'exTabActive':
          this.exTabActive = true
          break
        case 'exColorActive':
          this.exColorActive = true
          break
        case 'exChangeActive':
          this.exChangeActive = true
          break
        case 'exCardActive':
          this.exCardActive = true
          break
        case 'exHeadTableActive':
          this.exHeadTableActive = true
          break
        case 'exSwitchActive':
          this.exSwitchActive = true
          break
        default:
          this.exButtonActive = true
          break
      }
    }
  },
  components: {
    backup,
    menuStd,
    exButton,
    exButtonGroup,
    exCollapse,
    exDropdown,
    exCheckbox,
    exFile,
    exInput,
    exRadio,
    exSelect,
    exModal,
    exTab,
    exColor,
    exChange,
    exCard,
    exHeadTable,
    exSwitch
  }
}
</script>
