@import "../../../modules/global";

.hcm-calculator {
  .modal-icon {
    width: 18px;
    height: auto;
    margin-top: -5px;
  }
  .calculator-wrapper {
    margin: 25px;
    background: #F1F1F1;
    border: 1px solid $black-15;
    border-radius: 3px;
    @include clearfix;

    >.panel-left {
      width: 50%;
      float: left;
      padding: 15px;

      >.header-box {
        font-family: 'promptmedium';

        i {
          font-size: 18px;
          padding: 0 5px 0 0 ;
          color: $blue;
        }
      }
    }
    >.panel-right {
      width: 50%;
      float: left;
      padding: 15px;
      border-left: 1px solid $black-25;
      >.header-box {
        font-family: 'promptmedium';

        img {
            width: 20px;
            padding: 0 5px 0 0 ;
        }
      }

      .command-box {
        padding: 20px 0 0 0;
        .calculator-row {
          @include clearfix;
          width: 100%;
          display: table;
          margin: 10px 0;
          border-collapse: separate;

          &:last-child {
            margin: 10px 0 15px 0;
          }

          .calculator-button {
            width: 52px;
            height: 52px;
            border-radius: 50px;
            display: table-cell;
            background: $black-15;
            vertical-align: middle;
            text-align: center;
            font-size: 12px;
            color: $black-65;
            font-family: 'promptregular';
            cursor: pointer;

            &:hover {
              background: $black-20;
              transition: all .3s ease-in-out
            }

            &.-oval {
              width: 119px;
              text-align: left;
              padding: 0 0 0 20px;
            }

            &.-have-bg {
              color: #FFF;
              font-family: 'promptregular';
              i {
                font-size: 16px;
              }
            }
            &.-have-border {
              font-size: 20px;
              border: 1px solid $black-30;
              background: none;
              font-family: 'promptlight';

              &:hover {
                background: $black-10;
                transition: all .3s ease-in-out
              }
            }
            &.-bracket {
              font-size: 20px;
              font-family: 'promptlight';
            }
            &.divide {
              font-size: 33px;
              font-family: 'promptlight';
            }
          }
          .cal-space {
            display: table-cell;
            width: 15px;
          }
        }
      }
    }
  }
}
