@import "../../../modules/global";

.box-dpk {
  display: table;
  position: relative;
  width: 100%;
  border: 1px solid #b7b7b7;
  .input-datepicker {
    display: table-cell;
    height: 35px;
    padding: 6px;
    border-right: 1px solid #b7b7b7;
    border-left: none;
    border-top: none;
    border-bottom: none;
    width: 100%;
    font-family: 'promptregular';
    font-size: 16px;
    color: #252525;
    outline: none;
    border-radius: 2px 0 0 2px;
  }
  .cov-vue-date {
    display: table-cell;
    width: 1%;
    border: none;
    border-left: none;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    vertical-align: middle;
    color: #959595;
    background: #fff;
    height: 35px;
    .datepickbox {
      width: 100%;
      height: 100%;
      display: table;
      .icon-search {
        width: 100%;
        height: 100%;
        padding: 0 12px;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

.wrapper-hrms-table {
  .box-dpk {
    .input-datepicker {
      border-right: 1px solid #b7b7b7;
      border-left: none;
      border-top: none;
      border-bottom: none;
    }
    .cov-vue-date {
      border: none;
      border-left: none;
      background: #fff;
    }
  }
}

// Pop Up -----------------------------------------------------

.icon-disabled {
  background: #ededed;
  cursor: default;
}
.datepicker-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -ms-animation: fadein 0.5s;
  -o-animation: fadein 0.5s;
  animation: fadein 0.5s;
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-ms-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-o-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .cov-date-wrapper {
    background-color: #FFF !important;
    overflow: hidden;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    position: fixed;
    display: block;
    width: 400px;
    height: 450px;
    max-width: 100%;
    z-index: 999;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.2);

    .cov-date-header {
      @include clearfix;
      background: #fff;
      padding: 0 10px;
      margin-top: 20px;

      > div {
        display: inline-block;
        padding: 0;
        margin: 0;
        vertical-align: middle;
        color: $blue;
        float: left;
        text-align: center;
        cursor: pointer;
      }
      .cov-date-previous,
      .cov-date-next {
        padding: 10px 0;
        position: relative;
        width: 10% !important;
        text-indent: -300px;
        overflow: hidden;
        color: $blue;
      }
      .cov-date-next::before,
      .cov-date-previous::before {
        width: 13px;
        height: 2px;
        text-align: center;
        position: absolute;
        background: $blue;
        top: 50%;
        margin-top: -2px;
        margin-left: -7px;
        left: 50%;
        line-height: 0;
        content: '';
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      .cov-date-next::after,
      .cov-date-previous::after {
        width: 13px;
        height: 2px;
        text-align: center;
        position: absolute;
        background: $blue;
        margin-top: 6px;
        margin-left: -7px;
        top: 50%;
        left: 50%;
        line-height: 0;
        content: '';
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      .cov-date-previous::after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      .cov-date-previous::before {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      .cov-date-caption {
        padding: 10px 0;
        width: 80%;
        box-sizing: border-box;
        font-size: 20px;
        font-family: 'promptregular';
        color: $blue !important;

        span {
          padding: 0 10px 0 0;

          &:last-child {
            padding: 0;
          }
        }
      }
    }
    .cov-date-box {
      padding: 0 25px;
      
      .cov-picker-box {
        .week {
          border-top: 0.1px solid $black-25;
          border-bottom: 0.1px solid $black-25;
          padding: 10px 0 0 0;
          margin: 0 0 10px 0;

          ul {
           margin: 0 0 8px;
           padding: 0;
           list-style: none;
  
            li {
              width: 14.2%;
              display: inline-block;
              text-align: center;
              background: transparent;
              color: #000;
              font-weight: bold;
           }
         }
        }
        .day-box {
          display: inline-block;
          padding: 10px;

          .day {
            // width: 14.2857143%;
            height: 30px;
            width: 30px;
            border-radius: 40px;
            font-size: 12px;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            padding: 0;
            line-height: 30px;
            background: #fff;
            color: $black-95;

            &:hover {
              background: $black-30;
            }
    
            &.passive-day {
              color: $black-30;

              &:hover {
                background: #FFF;
              }
            }
            &.checked {
              color: #FFF !important;
              background: $black-65 !important;
            }
            &.unavailable {
              color: #ccc;
              cursor: not-allowed;
            }
          }
        }
        
        table {
          border-collapse: collapse;
          border-spacing: 0;
          width: 100%;
          
          td {
            height: 34px;
            width: 34px;
            padding: 0;
            line-height: 34px;
            color: #000;
            background: #fff;
            text-align: center;
            cursor: pointer;
            
            &:hover {
              background: #E6E6E6;
            }
          }
        }
      }
    }

    .list-box {
      overflow-y: auto;
      height: 380px;

      
    .date-list {
      overflow: auto;
      vertical-align: top;
      padding: 0;

      .date-item {
        text-align: center;
        font-size: 16px;
        padding: 30px 0;
        cursor: pointer;
        color:#212121;
        float: left;
        width: 33%;
        
        &:hover {
          background: #e0e0e0;
        }
        
        &.selected {
          background: #3887c9;
          color: #fff;
        }
      }
    }

    }
    .button-box {
      background: #fff;
      vertical-align: top;
      height: 50px;
      line-height: 50px;
      text-align: right;
      padding-right: 20px;
      
      span {
        cursor: pointer;
        padding: 10px 20px;
      }
    }
  }

  .cov-date-caption span:hover {
    // color: rgba(255, 255, 255, 0.7);
  }
  .cov-date-previous:hover,
  .cov-date-next:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  .day:hover {
    background: #EAEAEA;
  }
  .unavailable:hover {
    background: none;
  }
  .checked:hover {
    background: #FF4F8E;
  }



  // .watch-box {
  //   height: 100%;
  //   overflow: hidden;
  // }
  // .hour-box,
  // .min-box {
  //   display: inline-block;
  //   width: 50%;
  //   text-align: center;
  //   height: 100%;
  //   overflow: auto;
  //   float: left;
  // }
  // .hour-box ul,
  // .min-box ul {
  //   list-style: none;
  //   margin: 0;
  //   padding: 0;
  // }
  // .hour-item,
  // .min-item {
  //   padding: 10px;
  //   font-size: 36px;
  //   cursor: pointer;
  // }
  // .hour-item:hover,
  // .min-item:hover {
  //   background: #E3E3E3;
  // }
  // .hour-box .active,
  // .min-box .active {
  //   background: #F50057;
  //   color: #FFF !important;
  // }
  ::-webkit-scrollbar {
    width: 2px;
  }
  ::-webkit-scrollbar-track {
    background: #E3E3E3;
  }
  ::-webkit-scrollbar-thumb {
    background: #C1C1C1;
    border-radius: 2px;
  }
}