<template>
  <div id="hrpm1ee" class="hrpm1ee">
    <hcm-setting-page />

    <index-head  v-show="indexHeadDisp"
                  :nowLang="app.nowLang"
                  :labels="labels[app.nowLang]"
                  :indexHead="indexHead"
                  :searchIndex="searchIndex"/>
                 
    <hrms-search-box-table  v-show="indexDisp"
                            v-model="searchIndex"
                            :data="index"
                            :nowLang="app.nowLang"
                            :columns="columns[app.nowLang].index"
                            :unLoadBool="true"
                            :receivedStore="receivedHrpm1eeIndex"
                            :addEvent="addEvent"
                            :editEvent="editEvent"
                            :deleteInlineEventBool="true"
                            :deleteInlineBtnDisp="false"
                            :saveInlineBtnDisp="true"
                            searchBoxAlias="hrpm1ee"
                            :saveInlineEvent="callSave" />

    <detail v-show="detailDisp"
            :toggle="toggle"
            :nowLang="app.nowLang"
            :searchIndex="searchIndex"
            :indexSelected="indexSelected"
            :labels="labels[app.nowLang]"
            :eventBtn="eventBtn"
            :detail="detail"
            :labelsButton="app.button[app.nowLang]"
            :saveDetail="saveDetail"
            :receivedHrpm1eeDetail="receivedHrpm1eeDetail"
            :detailDisabled="detailDisabled"
            @setDetailDisabled="detailDisabled = arguments[0]" />
  </div>

</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import * as types from './store/mutation-types'
import detail from './components/detail'
import indexHead from './components/indexHead'

export default {
  name: 'hrpm1ee',
  data () {
    return {
      app: this.$root.$children[0],
      searchIndex: {
        codasset: ''
      },
      searchDetail: {
        codasset: ''
      },
      eventBtn: '',
      detailDisabled: false
    }
  },
  created () {
    this.receivedHrpm1eeColumnsLabels()
    this.receivedHrpm1eeIndexHead()
  },
  computed: {
    codempid () {
      let currentUser = this.app.currentUser
      return currentUser.p_codempid
    },
    ...mapGetters({
      indexDisp: types.GET_HRPM1EE_INDEX_DISP,
      indexHeadDisp: types.GET_HRPM1EE_INDEX_HEAD_DISP,
      detailDisp: types.GET_HRPM1EE_DETAIL_DISP,
      labels: types.GET_HRPM1EE_LABELS,
      index: types.GET_HRPM1EE_INDEX,
      indexHead: types.GET_HRPM1EE_INDEX_HEAD,
      columns: types.GET_HRPM1EE_COLUMNS,
      indexSelected: types.GET_HRPM1EE_INDEX_SELECTED,
      detail: types.GET_HRPM1EE_DETAIL
    })
  },
  methods: {
    pageDetail (event, param) {
      this.eventBtn = event
      switch (event) {
        case 'add':
          this.searchDetail.codasset = ''
          this.detailDisabled = true
          this.receivedHrpm1eeDetailCreate()
          this.toggle('detail')
          break
        case 'edit':
          this.detailDisabled = false
          let detailParams = {
            p_codasset: param.codasset
          }
          this.receivedHrpm1eeDetail(detailParams)
          this.setIndexSelected(param)
          this.toggle('detail')
          break
      }
    },
    addEvent () {
      this.pageDetail('add')
    },
    editEvent (param) {
      this.pageDetail('edit', param)
    },
    callSave (dataRowsHasFlg) {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.deleteHrpm1eeIndex({ searchIndex: this.searchIndex, dataRowsHasFlg: dataRowsHasFlg })
        }
      })
    },
    ...mapMutations({
      setIndexSelected: types.SET_HRPM1EE_INDEX_SELECTED
    }),
    ...mapActions({
      toggle: types.TOGGLE_HRPM1EE_PAGE,
      receivedHrpm1eeColumnsLabels: types.RECEIVED_HRPM1EE_COLUMNS_LABELS,
      receivedHrpm1eeIndex: types.RECEIVED_HRPM1EE_INDEX,
      receivedHrpm1eeIndexHead: types.RECEIVED_HRPM1EE_INDEX_HEAD,
      receivedHrpm1eeDetailCreate: types.RECEIVED_HRPM1EE_DETAIL_CREATE,
      receivedHrpm1eeDetail: types.RECEIVED_HRPM1EE_DETAIL,
      saveDetail: types.SAVE_HRPM1EE_DETAIL,
      deleteHrpm1eeIndex: types.DELETE_HRPM1EE_INDEX

    })
  },
  components: {
    detail,
    indexHead
  }
}
</script>

<style src="./assets/style.scss" lang='scss'></style>

