<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.income }" :aria-expanded="!flgCollapse.income" @click.self="setCollapseToggle('income')" data-parent="#accordion" href="#income" >
      <div class="title" @click.self="setCollapseToggle('income')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('income')"></i>{{ labels['HRPM4CEC3']['10'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('income')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('income')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.income ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('income')"></i>
    </div>
    <div id="general" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.income}">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <div class="label">{{ labels['HRPM4CEC3']['20'] }} : {{ detailIncome.detail.currency }}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hrms-table :labels="labels"
                        :columns="detailIncomeColumns" 
                        :data="detailIncome"
                        :nowLang="nowLang"
                        :searchDisp="false"
                        :tablePageDisp="false"
                        :csvExportDisp="false"
                        :columnSettingDisp="false"
                        :editInlineEventBool="true"
                        :saveInlineBtnDisp="false"/>   
          </div>
        </div>
        <div class="row">
          <div class="row ot-summary-box">
            <div class="col-12 col-lg-4">
              <div class="col-12 heading">{{ labels['HRPM4CEC3']['60'] }}</div>
              <div class="col-12 panel-set">
                <div class="content-set">
                  <div class="ot-label"><i class="fa"></i>{{ labels['HRPM4CEC3']['90'] }} :</div>
                  <div class="ot-data">{{detailIncome.detail.monincom1}}</div>
                </div>
                <div class="content-set">
                  <div class="ot-label"><i class="fa"></i>{{ labels['HRPM4CEC3']['100'] }} :</div>
                  <div class="ot-data">{{detailIncome.detail.dayincom1}}</div>
                </div>
                <div class="content-set">
                  <div class="ot-label"><i class="fa"></i>{{ labels['HRPM4CEC3']['110'] }} :</div>
                  <div class="ot-data">{{detailIncome.detail.ourincom1}}</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="col-12 heading">{{ labels['HRPM4CEC3']['70'] }}</div>
              <div class="col-12 panel-set">
                <div class="content-set">
                  <div class="ot-label"><i class="fa"></i>{{ labels['HRPM4CEC3']['90'] }} :</div>
                  <div class="ot-data">{{detailIncome.detail.monincom2}}</div>
                </div>
                <div class="content-set">
                  <div class="ot-label"><i class="fa"></i>{{ labels['HRPM4CEC3']['100'] }} :</div>
                  <div class="ot-data">{{detailIncome.detail.dayincom2}}</div>
                </div>
                <div class="content-set">
                  <div class="ot-label"><i class="fa"></i>{{ labels['HRPM4CEC3']['110'] }} :</div>
                  <div class="ot-data">{{detailIncome.detail.ourincom2}}</div>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-4">
              <div class="col-12 heading">{{ labels['HRPM4CEC3']['80'] }}</div>
              <div class="col-12 panel-set">
                <div class="content-set">
                  <div class="ot-label"><i class="fa"></i>{{ labels['HRPM4CEC3']['90'] }} :</div>
                  <div class="ot-data">{{detailIncome.detail.monincom3}}</div>
                </div>
                <div class="content-set">
                  <div class="ot-label"><i class="fa"></i>{{ labels['HRPM4CEC3']['100'] }} :</div>
                  <div class="ot-data">{{detailIncome.detail.dayincom3}}</div>
                </div>
                <div class="content-set">
                  <div class="ot-label"><i class="fa"></i>{{ labels['HRPM4CEC3']['110'] }} :</div>
                  <div class="ot-data">{{detailIncome.detail.ourincom3}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hrpm4ce-detail-income',
  props: [ 'nowLang',
    'labels',
    'detailIncome',
    'labelsButton',
    'indexSelected',
    'dropdowns',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled',
    'detailIncomeColumns'
  ]
}
</script>
