<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.competency2 }" :aria-expanded="!flgCollapse.competency2" @click.self="setCollapseToggle('competency2')" data-parent="#competency" href="#competency2" >
      <div class="title" @click.self="setCollapseToggle('competency2')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('competency2')"></i>{{ labels['HRPMC2EE2']['10'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('competency2')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('competency2')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.competency2 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('competency2')"></i>
    </div>
    <div id="competency2" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.competency2}">
      <div class="panel-body">
        <hrms-table v-show="detailDisabled" 
                    :columns="languageColumns"
                    :nowLang="nowLang"
                    :data="detail"
                    :searchDisp="false"
                    :tablePageDisp="false" 
                   />

        <hrms-table v-show="!detailDisabled"  
                    :columns="languageColumns"
                    :nowLang="nowLang"
                    :data="detail"
                    :searchDisp="false"
                    :tablePageDisp="false" 
                    :addInlineEventBool="false"
                    :editInlineEventBool="true"
                    :deleteInlineEventBool="true"
                    :deleteInlineBtnDisp="false"
                    :saveInlineEvent="callSaveCompetency2"
                    :saveInlineBtnDisp="false"
                    ref="competency2Table"
                />

        <div class="align-right">
          <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
          <div  v-if="!detailDisabled" class="button-sm _bg-small-button pull-right" 
                @click="togglePopupChangeDetail()" 
                data-toggle="modal" 
                ref="changeDetailBtn" 
                :data-target="'#' + modalID">{{ labels['HRPMC2EE2']['60'] }}</div>  
        </div>
      </div>
    </div>

    <change-detail-popup :labels="labels"
                         :modalID="modalID"
                         :nowLang="nowLang"
                         :changeDetailColumns="changeDetailColumns"
                         :labelsButton="labelsButton" 
                         :popupChangeDetail="popupChangeDetail"/>

  </div>
</template>

<script>
import changeDetailPopup from '../changeDetailPopup'

export default {
  name: 'hrpmc2e-competency2',
  props: [
    'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'languageColumns',
    'codempidQuery',
    'popupChangeDetail',
    'changeDetailColumns',
    'receivedHrpmc2eChangeDetailPopup',
    'competency2Table',
    'callSaveCompetency2',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ],
  data: function () {
    return {
      modalID: 'hrpmc2e-competency2'
    }
  },
  mounted () {
    this.$on('$competency2', () => {
      this.$refs.competency2Table.$emit('$saveInlineEventBuiltIn')
    })
  },
  methods: {
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  },
  components: {
    changeDetailPopup
  }
}
</script>
