<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.competency1 }" :aria-expanded="!flgCollapse.competency1" @click.self="setCollapseToggle('competency1')" data-parent="#competency" href="#competency1" >
      <div class="title" @click.self="setCollapseToggle('competency1')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('competency1')"></i>{{ labels['HRPMC2EE1']['10'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('competency1')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('competency1')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.competency1 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('competency1')"></i>
    </div>
    <div id="competency1" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.competency1}">
      <div class="panel-body">
        <hrms-table v-show="detailDisabled" 
                    :columns="competencyColumns"
                    :nowLang="nowLang"
                    :data="detail"
                    :searchDisp="false"
                    :tablePageDisp="false" 
                   />

        <hrms-table v-show="!detailDisabled" 
                    :columns="competencyColumns"
                    :nowLang="nowLang"
                    :data="detail"
                    :searchDisp="false"
                    :tablePageDisp="false" 
                    :addInlineEventBool="true"
                    :editInlineEventBool="false"
                    :deleteInlineEventBool="true"
                    :deleteInlineBtnDisp="false"
                    :saveInlineEvent="callSaveCompetency1"
                    :columnEvent="columnEvent" 
                    :saveInlineBtnDisp="false"
                    ref="competency1Table"
                />

        <div class="align-right">
          <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
          <div  v-if="!detailDisabled" class="button-sm _bg-small-button pull-right" 
                @click="togglePopupChangeDetail()" 
                data-toggle="modal" 
                ref="changeDetailBtn" 
                :data-target="'#' + modalID">{{ labels['HRPMC2EE1']['80'] }}
          </div>
          <input data-toggle="modal" data-target="#hrpmc2e-codtency-popup" ref="popupCodtencyDisp" type="hidden"/>
        </div>
      </div>
    </div>

    <popup-codtency       :labels="labels"
                          :nowLang="nowLang"
                          :labelsButton="labelsButton"
                          :popupCodtency="popupCodtency"
                          :codtencyColumns="codtencyColumns"
                          :competencySelected="competencySelected" />

    <change-detail-popup  :labels="labels"
                          :modalID="modalID"
                          :nowLang="nowLang"
                          :changeDetailColumns="changeDetailColumns"
                          :labelsButton="labelsButton" 
                          :popupChangeDetail="popupChangeDetail"/>

  </div>
</template>

<script>
import swal from 'sweetalert'
// import assetsLabels from 'assets/js/labels'
import changeDetailPopup from '../changeDetailPopup'
import popupCodtency from './popupCodtency'

export default {
  name: 'hrpmc2e-competency1',
  props: [
    'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'competencyColumns',
    'codtencyColumns',
    'codempidQuery',
    'receivedHrpmc2eCodtencyAddInline',
    'popupChangeDetail',
    'changeDetailColumns',
    'receivedHrpmc2eChangeDetailPopup',
    'popupCodtency',
    'receivedHrpmc2eCodtencyPopup',
    'competencySelected',
    'setCompetencySelected',
    'competency1Table',
    'callSaveCompetency1',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ],
  data: function () {
    return {
      modalID: 'hrpmc2e-competency1'
    }
  },
  mounted () {
    this.$on('$competency1', () => {
      this.$refs.competency1Table.$emit('$saveInlineEventBuiltIn')
    })
  },
  methods: {
    columnEvent (eventName, param) {
      switch (eventName) {
        case 'codtency':
          if (param.codtency !== '') {
            let valid = true
            for (var i = 0; i < this.detail.rows.length - 1; i++) {
              if (this.detail.rows[i].codtency === param.codtency) {
                valid = false
              }
            }
            if (valid) {
              this.receivedHrpmc2eCodtencyAddInline(param)
            } else {
              swal({
                title: 'ยืนยันการทำรายการ',
                text: 'รายการนี้ได้ถูกเลือกไปแล้ว'
              })
            }
          }
          break
        case 'desc_codtency':
          let popupParams = {
            codtency: param.codtency
          }
          this.setCompetencySelected(param)
          this.receivedHrpmc2eCodtencyPopup(popupParams)
          this.$refs.popupCodtencyDisp.click()
          break
        default:
          break
      }
    },
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  },
  components: {
    changeDetailPopup,
    popupCodtency
  }
}
</script>
