<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.competency3 }" :aria-expanded="!flgCollapse.competency3" @click.self="setCollapseToggle('competency3')" data-parent="#competency" href="#competency3" >
      <div class="title" @click.self="setCollapseToggle('competency3')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('competency3')"></i>{{ labels['HRPMC2EE3']['10'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('competency3')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('competency3')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.competency3 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('competency3')"></i>
    </div>
    <div id="competency3" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.competency3}">
      <div class="panel-body">
        <hrms-table v-show="detailDisabled" 
                    :columns="honorsColumns"
                    :nowLang="nowLang"
                    :data="detail"
                    :searchDisp="false"
                    :tablePageDisp="false" 
                   />
        <hrms-table v-show="!detailDisabled"
                    :columns="honorsColumns"
                    :nowLang="nowLang"
                    :data="detail"
                    :searchDisp="false"
                    :tablePageDisp="false" 
                    :addEvent="addEvent"
                    :editEvent="editEvent"
                    :deleteInlineEventBool="true"
                    :deleteInlineBtnDisp="false"
                    :saveInlineEvent="callSaveCompetency3"
                    :saveInlineBtnDisp="false"
                    ref="competency3Table"
                />

        <div class="align-right">
          <input data-toggle="modal" ref="popupHonors" data-target="#hrpmc2e-popup-competency1" type="hidden"/>
          <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
          <div  v-if="!detailDisabled" class="button-sm _bg-small-button pull-right" 
                @click="togglePopupChangeDetail()" 
                data-toggle="modal" 
                ref="changeDetailBtn" 
                :data-target="'#' + modalID">{{ labels['HRPMC2EE3']['80'] }}</div>  
        </div>
      </div>
    </div>

    <popup-honors         :popupHonors="popupHonors"
                          :labels="labels"
                          :eventBtn="eventBtn"
                          :labelsButton="labelsButton"
                          :honorsSelected="honorsSelected"
                          :popupDisabled="popupDisabled"
                          @setPopupDisabled="popupDisabled = arguments[0]"
                          :postHrpmc2eHonorsPopupSave="postHrpmc2eHonorsPopupSave" 
                          :setHonorsAddInlinePopup="setHonorsAddInlinePopup"
                          :lovCurrentDesc="lovCurrentDesc" />

    <change-detail-popup  :labels="labels"
                          :modalID="modalID"
                          :nowLang="nowLang"
                          :changeDetailColumns="changeDetailColumns"
                          :labelsButton="labelsButton" 
                          :popupChangeDetail="popupChangeDetail"/>

  </div>
</template>

<script>
import popupHonors from './popupCompetency1'
import changeDetailPopup from '../changeDetailPopup'

export default {
  name: 'hrpmc2e-competency3',
  props: [
    'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'honorsColumns',
    'codempidQuery',
    'popupHonors',
    'honorsSelected',
    'setHonorsSelected',
    'receivedHrpmc2ePopupHonorsCreate',
    'receivedHrpmc2ePopupHonors',
    'postHrpmc2eHonorsPopupSave',
    'popupChangeDetail',
    'changeDetailColumns',
    'receivedHrpmc2eChangeDetailPopup',
    'setHonorsAddInlinePopup',
    'competency3Table',
    'callSaveCompetency3',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled',
    'lovCurrentDesc'
  ],
  data: function () {
    return {
      eventBtn: '',
      popupDisabled: false,
      modalID: 'hrpmc2e-competency3'
    }
  },
  mounted () {
    this.$on('$competency3', () => {
      this.$refs.competency3Table.$emit('$saveInlineEventBuiltIn')
    })
  },
  methods: {
    addEvent (param) {
      let popupParams = {
        p_numseq: '1'
      }
      this.eventBtn = 'add'
      this.popupDisabled = true
      this.receivedHrpmc2ePopupHonorsCreate(popupParams)
      this.$refs.popupHonors.click()
    },
    editEvent (dataRow) {
      let popupParams = {
        p_numseq: dataRow.numseq
      }
      this.eventBtn = 'edit'
      this.popupDisabled = false
      this.setHonorsSelected(dataRow)
      this.receivedHrpmc2ePopupHonors(popupParams)
      this.$refs.popupHonors.click()
    },
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  },
  components: {
    popupHonors,
    changeDetailPopup
  }
}
</script>
