<template>
 <div class="collapse-group">
    <div class="panel-group" id="competency">
      <div class="panel">
        <competency1  :labels="labels"
                      :labelsButton="labelsButton"
                      :nowLang="nowLang"
                      :detail="detail.tableCompetency"
                      :competencyColumns="columns.competencyColumns" 
                      :codempidQuery="codempidQuery"
                      :receivedHrpmc2eCodtencyAddInline="receivedHrpmc2eCodtencyAddInline"
                      :popupChangeDetail="popupChangeDetail"
                      :changeDetailColumns="columns.changeDetail"
                      :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                      :codtencyColumns="columns.codtencyColumns" 
                      :popupCodtency="popupCodtency"
                      :receivedHrpmc2eCodtencyPopup="receivedHrpmc2eCodtencyPopup"
                      :competencySelected="competencySelected"
                      :setCompetencySelected="setCompetencySelected"
                      :callSaveCompetency1="callSaveCompetency1"
                      ref="competency1Table"
                      :flgCollapse="flgCollapse"
                      :setCollapseToggle="setCollapseToggle"
                      :pinCollapse="pinCollapse"
                      :setPinCollapseToggle="setPinCollapseToggle"
                      :detailDisabled="detailDisabled" />             
      </div>
      <div class="panel">
        <competency2  :labels="labels"
                      :labelsButton="labelsButton"
                      :nowLang="nowLang"
                      :detail="detail.tableLanguage"
                      :languageColumns="columns.languageColumns" 
                      :popupChangeDetail="popupChangeDetail"
                      :changeDetailColumns="columns.changeDetail"
                      :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                      :callSaveCompetency2="callSaveCompetency2"
                      ref="competency2Table"
                      :flgCollapse="flgCollapse"
                      :setCollapseToggle="setCollapseToggle"
                      :pinCollapse="pinCollapse"
                      :setPinCollapseToggle="setPinCollapseToggle"
                      :detailDisabled="detailDisabled"   />                 
      </div>

      <div class="panel">
        <competency3  :labels="labels"
                      :labelsButton="labelsButton"
                      :nowLang="nowLang"
                      :detail="detail.tableHonors"
                      :honorsColumns="columns.honorsColumns" 
                      :codempidQuery="codempidQuery"
                      :popupHonors="popupHonors"
                      :honorsSelected="honorsSelected"
                      :setHonorsSelected="setHonorsSelected"
                      :receivedHrpmc2ePopupHonorsCreate="receivedHrpmc2ePopupHonorsCreate"
                      :receivedHrpmc2ePopupHonors="receivedHrpmc2ePopupHonors"
                      :postHrpmc2eHonorsPopupSave="postHrpmc2eHonorsPopupSave" 
                      :popupChangeDetail="popupChangeDetail"
                      :changeDetailColumns="columns.changeDetail"
                      :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                      :setHonorsAddInlinePopup="setHonorsAddInlinePopup"
                      :callSaveCompetency3="callSaveCompetency3"
                      ref="competency3Table"
                      :flgCollapse="flgCollapse"
                      :setCollapseToggle="setCollapseToggle"
                      :pinCollapse="pinCollapse"
                      :setPinCollapseToggle="setPinCollapseToggle"
                      :detailDisabled="detailDisabled"
                      :lovCurrentDesc="lovCurrentDesc"   />
      </div>

      <div class="group-space" style="padding-top: 40px">
        <div v-if="detailDisabled" class="button-md -disable _bg-green-disable" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div>  
        <div v-if="!detailDisabled" class="button-md _bg-green" @click="postCompetencySave()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div>  
      </div>

    </div>
  </div>
</template>

<script>
import competency1 from './competency1'
import competency2 from './competency2'
import competency3 from './competency3'
import swal from 'sweetalert'
import { constLabels } from 'assets/js/constLabels'

export default {
  name: 'hrpmc2e-competency',
  data () {
    return {
      pinCollapse: {
        competency1: false,
        competency2: false,
        competency3: false
      },
      flgCollapse: {
        competency1: false,
        competency2: true,
        competency3: true
      }
    }
  },
  props: [
    'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'columns',
    'codempidQuery',
    'receivedHrpmc2eCodtencyAddInline',
    'popupHonors',
    'honorsSelected',
    'setHonorsSelected',
    'receivedHrpmc2ePopupHonorsCreate',
    'receivedHrpmc2ePopupHonors',
    'postHrpmc2eHonorsPopupSave',
    'popupChangeDetail',
    'receivedHrpmc2eChangeDetailPopup',
    'popupCodtency',
    'receivedHrpmc2eCodtencyPopup',
    'competencySelected',
    'setCompetencySelected',
    'setInlineCompetency1',
    'setInlineCompetency2',
    'setInlineCompetency3',
    'inlineCompetency1',
    'inlineCompetency2',
    'inlineCompetency3',
    'postCompetencySaveAll',
    'setHonorsAddInlinePopup',
    'detailDisabled',
    'lovCurrentDesc'
  ],
  methods: {
    resetCollapse () {
      this.flgCollapse = {
        competency1: false,
        competency2: true,
        competency3: true
      }
      this.pinCollapse = {
        competency1: false,
        competency2: false,
        competency3: false
      }
    },
    setPinCollapseToggle (tab) {
      this.pinCollapse[tab] = !this.pinCollapse[tab]
    },
    setCollapseToggle (tab) {
      for (let collapseTab in this.flgCollapse) {
        if (collapseTab !== tab) {
          if (!this.pinCollapse[collapseTab]) {
            this.flgCollapse[collapseTab] = true
          }
        }
      }
      this.flgCollapse[tab] = !this.flgCollapse[tab]
    },
    callSaveCompetency1 (dataRowsHasFlg) {
      this.setInlineCompetency1(dataRowsHasFlg)
    },
    callSaveCompetency2 (dataRowsHasFlg) {
      this.setInlineCompetency2(dataRowsHasFlg)
    },
    callSaveCompetency3 (dataRowsHasFlg) {
      this.setInlineCompetency3(dataRowsHasFlg)
    },
    postCompetencySave () {
      this.$refs.competency1Table.$emit('$competency1')
      this.$refs.competency2Table.$emit('$competency2')
      this.$refs.competency3Table.$emit('$competency3')

      let _this = this
      swal({
        title: constLabels('confirmTitle'),
        text: constLabels('msgConfirmSave'),
        showCancelButton: true,
        closeOnConfirm: false,
        confirmButtonText: 'ok',
        cancelButtonText: 'cancel',
        html: true
      },
      function (isConfirm) {
        if (isConfirm) {
          let competency = {
            tableCompetency: _this.inlineCompetency1,
            tableLanguage: _this.inlineCompetency2,
            tableHonors: _this.inlineCompetency3
          }
          _this.postCompetencySaveAll({
            searchParams: _this.codempidQuery,
            competency: competency
          })
        }
      })
    }
  },
  components: {
    competency1,
    competency2,
    competency3
  }
}
</script>
