<template>
  <div class="modal-group">
    <div id="hrpmc2e-codtency-popup" name="hrpmc2e-codtency-popup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">{{ labels['HRPMC2EE1']['120'] }}</div>
            <div class="close ion-android-close" data-dismiss="modal"></div>
            <div class="tag fa fa-tag"></div>
          </div>
          <div class="modal-body">
            <div class="changedetail-group">
              <div class="detail-box">
                <div class="label-box">
                  <div class="editor-label">{{ labels['HRPMC2EE1']['130'] }} :</div>
                </div>
                <div class="data-box">
                  <div class="editor-data">{{competencySelected.codtency}} - {{competencySelected.desc_codtency}}</div>
                </div>
              </div>
            </div>
       
              <hrms-table :columns="codtencyColumns"
                          :data="popupCodtency"
                          :indexDisp="false"
                          :searchDisp="false"
                          :tablePageDisp="false" 
                      />
     
          </div>
          <div class="modal-footer">
            <div class="button-md _bg-grey" data-dismiss="modal"><i class="fa fa-chevron-circle-left"></i> {{ labelsButton['back'] }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hrpmc2e-codtency-popup',
  props: [
    'labels',
    'labelsButton',
    'nowLang',
    'popupCodtency',
    'codtencyColumns',
    'competencySelected'
  ]
}
</script>
