<template>
  <div class="modal-group">
    <div id="hrpmc2e-popup-competency1" name="hrpmc2e-popup-competency1" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">{{ labels['HRPMC2EE3']['40'] }}</div>
            <div class="close ion-android-close" data-dismiss="modal"></div>
            <div class="tag fa fa-tag"></div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6 group-space-md">
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EE3']['90'] }}</div>
                  <hrms-datepicker  v-model="popupHonorsState.dteinput" 
                                    v-validate="'required|date_format:DD/MM/YYYY'"
                                    data-vv-value-path="inputDate"
                                    data-vv-name="dteinput"
                                    data-vv-as="Date of publication"
                                    name="dteinput"
                                    :disabled="!popupDisabled"
                                    :class="{ '-disable': !popupDisabled }" 
                                    :has-error="errors.has('dteinput')" />
                  <div class="validator-text -error" v-show="errors.has('dteinput')">{{errors.first('dteinput')}}</div>
                </div> 
              </div>
              <div class="col-md-1 group-space-md"  style="padding-top: 35px;">
                <div class="button-md _bg-blue"  @click="callSubmit()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>  
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 group-space-md">
                <div class="input-group ">
                  <div class="label">{{ labels['HRPMC2EE3']['100'] }}</div>
                  <hcm-lov  v-model="popupHonorsState.typrewd"
                            lovType="typrewd"
                            :descDisp="false"
                            :nowLang="nowLang"
                            name="typrewd"
                            :disabled="popupDisabled" 
                            :class="{ '-disable': popupDisabled }"  />
                </div>              
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EE3']['110'] }}</div>
                  <input class="normal-input" v-model="popupHonorsState.numhmref" :disabled="popupDisabled" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EE3']['120'] }}</div>
                  <hrms-dropzone  :fileNameQuery="popupHonorsState.filenam1"
                                  :codempNameFile="paramSearch.codempid"
                                  :name="'popupHonors1'"
                                  :flgToggle="honorsDisp"
                                  ref="hrmsDropzone"
                                  :disabled="popupDisabled" />
                </div>               
              </div> 
              <div class="col-md-6 group-space-md">
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EE3']['130'] }}</div>
                  <textarea class="normal-textarea"  maxlength="600"
                            v-model="popupHonorsState.desrewd1" 
                            :disabled="popupDisabled" >
                  </textarea>
                </div>                         
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EE3']['140'] }}</div>
                  <hrms-dropzone  :fileNameQuery="popupHonorsState.filenam2"
                                  :codempNameFile="paramSearch.codempid"
                                  :name="'popupHonors2'"
                                  :flgToggle="honorsDisp"
                                  ref="hrmsDropzone"
                                  :disabled="popupDisabled" />
                </div>
              </div> 
            </div>
          </div>
          <div class="modal-footer">
            <div class="button-md _bg-grey" data-dismiss="modal"><i class="fa fa-times-circle"></i> {{ labelsButton['cancel'] }}</div>
            <div class="button-md _bg-blue" data-dismiss="modal" @click="confirm()" ><i class="fa fa-check-circle"></i> {{ labelsButton['ok'] }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hrpmc2e-popup-competency1',
  props: [
    'labels',
    'labelsButton',
    'nowLang',
    'popupHonors',
    'honorsSelected',
    'postHrpmc2eHonorsPopupSave',
    'popupDisabled',
    'codempidQuery',
    'eventBtn',
    'setHonorsAddInlinePopup',
    'lovCurrentDesc'
  ],
  data () {
    return {
      paramSearch: {
        codempid: ''
      },
      popupHonorsState: this.popupHonors,
      honorsDisp: true,
      disabled: false
    }
  },
  watch: {
    popupHonors () {
      this.popupHonorsState = this.popupHonors
      this.$nextTick(function () {
        this.errors.clear()
      })
    }
  },
  methods: {
    callSubmit () {
      this.$validator.validateAll().then(result => {
        this.$emit('setPopupDisabled', false)
      })
    },
    confirm () {
      this.popupHonorsState.desrewd = this.lovCurrentDesc('typrewd', this.popupHonorsState.typrewd)
      this.setHonorsAddInlinePopup({ flg: this.eventBtn, data: this.popupHonorsState })
    }
    // callSave () {
    //   this.$validator.validateAll().then(result => {
    //     if (result) {
    //       let saveParam = {
    //         dteinput: this.popupHonorsState.dteinput,
    //         typrewd: this.popupHonorsState.typrewd,
    //         numhmref: this.popupHonorsState.numhmref,
    //         filenam1: this.popupHonorsState.filenam1,
    //         desrewd1: this.popupHonorsState.desrewd1,
    //         filenam2: this.popupHonorsState.filenam2
    //       }
    //       let searchParams = {
    //         p_codempid: this.codempidQuery
    //       }
    //       this.postHrpmc2eHonorsPopupSave({ saveParam: saveParam, searchParams: searchParams })
    //     }
    //   })
    // }
  }
}
</script>
