<template>
	<div name="hrms-datepicker" class="box-dpk">
    <input v-model="inputDate" @blur="calendarDate()" class="normal-input input-datepicker align-center"
           :name="name"
           :class="{ 'input-error' : hasError, '-disable' : disabled }" 
           :disabled="disabled"
           :id="name"
           ref="datePickerInput" />
	  <date-picker :date="date" :option="option" :disabled="disabled" :limit="limit" @change="changeInputDate(arguments[0])"></date-picker>
	</div>
</template>

<script>
import vueDatepickerForked from './components/vueDatepickerForked'

export default {
  name: 'hrms-datepicker',
  data () {
    return {
      inputDate: this.dateOutputConvertFormat(this.dateInputConvertFormat(this.value)),
      date: {
        time: this.dateInputConvertFormat(this.value)
      },
      option: {
        type: 'day',
        SundayFirst: true,
        week: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
        month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        format: 'YYYY-MM-DD'
      }
    }
  },
  watch: {
    value () {
      this.date.time = this.dateInputConvertFormat(this.value)
    },
    'date.time' () {
      this.inputDate = this.dateOutputConvertFormat(this.date.time)
      this.$emit('input', this.dateOutputConvertFormat(this.date.time))
    }
  },
  methods: {
    changeInputDate (data) {
      this.$emit('changeInputDate', this.dateOutputConvertFormat(data))
    },
    calendarDate () {
      this.date.time = this.dateInputConvertFormat(this.inputDate)
      this.inputDate = this.dateOutputConvertFormat(this.date.time)
      this.$emit('input', this.dateOutputConvertFormat(this.date.time))
    },
    dateInputConvertFormat (dateInput) {
      // ex. dateInput = '31/12/2017' or '31122017'
      let dateInputConverted = ''
      if (dateInput === '' || typeof dateInput === 'undefined') {
        dateInputConverted = ''
      } else {
        let dateInputReplace = dateInput.replace(/\//g, '')
        dateInputConverted = dateInputReplace.substring(4, 8) + '-' + dateInputReplace.substring(2, 4) + '-' + dateInputReplace.substring(0, 2)
      }
      return dateInputConverted
    },
    dateOutputConvertFormat (dateOutput) {
      // ex. dateOutput = '2017-12-31'
      let dateOutputConverted = ''
      if (dateOutput === '') {
        dateOutputConverted = ''
      } else {
        let arrDateOutput = dateOutput.split('-')
        dateOutputConverted = arrDateOutput[2] + '/' + arrDateOutput[1] + '/' + arrDateOutput[0]
      }
      return dateOutputConverted
    }
  },
  props: {
    value: {
      type: String,
      required: true,
      default: ''
    },
    hasError: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    name: {
      type: String,
      default: 'date'
    },
    limit: {
      type: Array,
      default () {
        return []
      }
    }
  },
  components: {
    'date-picker': vueDatepickerForked
  }
}
</script>

<style src="./assets/style.scss" lang='scss'></style>