<template>
  <div name="hcm-calculator" class="hcm-calculator">
    <div v-show="tableMode" class="input-group _unmargin">
      <input class="icon-input" type="text" name="input" v-model="value.description" :disabled="true" />
      <span v-if="disabled" class="fa fa-pencil icon _text-grey -disable"></span>
      <span v-if="!disabled" class="fa fa-pencil icon _text-blue cursor-pointer" @click="openMainModal()"></span>
    </div>
    <div v-show="!tableMode" class="input-group">
      <div class="label">สูตรคำนวณ
        <i v-if="disabled" class="fa fa-pencil icon _text-grey -disable"></i>
        <i v-if="!disabled" class="fa fa-pencil _text-blue cursor-pointer" @click="openMainModal()"></i>
      </div>
      <textarea class="normal-textarea" type="text" name="textarea"  v-model="value.description" :disabled="true"></textarea>
    </div>

    <transition name="modal">
      <div v-show="showMainModal" class="modal-mask">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <slot name="header">
                <div class="modal-title">
                  <img class="modal-icon" :src="require('@/assets/image/calculator-icon.png')">
                  สูตรคำนวณ
                </div>
                <div class="ion-android-close close" @click.prevent="back()" ref="closeBtn"></div>
              </slot>
            </div>

            <div class="modal-body">
              <slot name="body">
                <div class="calculator-wrapper">
                  <div class="panel-left">
                    <div class="header-box">
                      <i class="material-icons">mode_edit</i>
                      <span>Formula</span>
                    </div>
                    <div class="content-box">
                      <div class="input-group">
                        <div class="label">Please fill format this field</div>
                        <textarea class="normal-textarea" type="text" name="textarea"  v-model="descFormula" ref="textareaCalculator" @keydown="triggerKeydown($event)" @keyup="triggerKeyup($event)"></textarea>
                      </div>
                    </div>
                    <div class="button-box">
                      <div type="button" class="button-md _bg-grey" @click="back()"value="back"><i class="fa fa-times-circle"></i>{{ app.button[app.nowLang]['cancel'] }}</div>
                      <div type="button" class="button-md _bg-blue"  @click="confirm()" value="save"><i class="fa fa-check-circle"></i>ยืนยัน</div> 
                    </div>
                  </div>
                  <div class="panel-right">
                    <div class="header-box">
                      <img class="modal-icon" :src="require('@/assets/image/calculator-icon.png')">
                      Calculator
                    </div>
                    <div class="command-box">
                      <div class="calculator-row">
                        <div class="calculator-button -have-bg _bg-blue" @click="setDescFormula('{ค่าจ้างรายเดือน}')">Month</div>
                        <div class="cal-space"></div>
                        <div class="calculator-button -have-bg _bg-blue" @click="setDescFormula('{ค่าจ้างรายวัน}')">Day</div>
                        <div class="cal-space"></div>
                        <div class="calculator-button -have-bg _bg-blue" @click="setDescFormula('{ค่าจ้างรายชั่วโมง}')">Hour</div>
                        <div class="cal-space"></div>
                        <div class="calculator-button -have-bg _bg-blue" @click="showModal = true">Pay code</div>
                      </div>
                      <div class="calculator-row">
                        <div class="calculator-button -bracket" @click="setDescFormula('(')">(</div>
                        <div class="cal-space"></div>
                        <div class="calculator-button -bracket" @click="setDescFormula(')')">)</div>
                        <div class="cal-space"></div>
                        <div class="calculator-button -have-bg _bg-red" @click="clearFormula()">Clear</div>
                        <div class="cal-space"></div>
                        <div class="calculator-button -have-bg _bg-red" @click="deleteFormula()">Del</div>
                      </div>
                      <div class="calculator-row">
                        <div class="calculator-button -have-border" @click="setDescFormula('7')">7</div>
                        <div class="cal-space"></div>
                        <div class="calculator-button -have-border" @click="setDescFormula('8')">8</div>
                        <div class="cal-space"></div>
                        <div class="calculator-button -have-border" @click="setDescFormula('9')">9</div>
                        <div class="cal-space"></div>
                        <div class="calculator-button divide _bg-green" @click="setDescFormula('÷')">÷</div>
                      </div>
                      <div class="calculator-row">
                        <div class="calculator-button -have-border" @click="setDescFormula('4')">4</div>
                        <div class="cal-space"></div>
                        <div class="calculator-button -have-border" @click="setDescFormula('5')">5</div>
                        <div class="cal-space"></div>
                        <div class="calculator-button -have-border" @click="setDescFormula('6')">6</div>
                        <div class="cal-space"></div>
                        <div class="calculator-button divide _bg-green" @click="setDescFormula('×')">×</div>
                      </div>
                      <div class="calculator-row">
                        <div class="calculator-button -have-border" @click="setDescFormula('1')">1</div>
                        <div class="cal-space"></div>
                        <div class="calculator-button -have-border" @click="setDescFormula('2')">2</div>
                        <div class="cal-space"></div>
                        <div class="calculator-button -have-border" @click="setDescFormula('3')">3</div>
                        <div class="cal-space"></div>
                        <div class="calculator-button divide _bg-green" @click="setDescFormula('-')">-</div>
                      </div>
                      <div class="calculator-row">
                        <div class="calculator-button -have-border -oval" @click="setDescFormula('0')">0</div>
                        <div class="cal-space"></div>
                        <div class="calculator-button -bracket" @click="setDescFormula('.')"><i class="fa fa-circle" style="font-size: 4px;"></i></div>
                        <div class="cal-space"></div>
                        <div class="calculator-button divide _bg-green" @click="setDescFormula('+')">+</div>
                      </div>
                    </div>

                    <pay-code-popup  :index="lov['codpay']"
                                    :payCodeColumns="columns[app.nowLang]['codpay']"
                                    :nowLang="app.nowLang"
                                    :showModal="showModal"
                                    :closeModal="closeModal"
                                    :labelsButton="app.button[app.nowLang]"
                                    @triggerTick="setDescFormulaByTickData(arguments[0])" />
                  </div>
                </div>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as types from '@/components/hcmLov/store/mutation-types'
import payCodePopup from './components/payCodePopup'

export default {
  name: 'hcm-calculator',
  data () {
    return {
      formula: '',
      descFormula: '',
      setDescFormulaCursorPosition: 0,
      showMainModal: false,
      showModal: false,
      app: this.$root.$children[0],
      delChar: ''
    }
  },
  computed: {
    ...mapGetters({
      columns: types.GET_HCM_LOV_COLUMNS,
      lov: types.GET_HCM_LOV,
      lovCurrentCode: types.GET_HCM_LOV_CURRENT_CODE
    })
  },
  props: {
    tableMode: {
      type: Boolean,
      default: false
    },
    value: {
      type: Object,
      default () {
        return {
          code: '',
          description: ''
        }
      }
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    value () {
      this.descFormula = this.value.description || ''
      this.formula = this.value.code || ''
    }
  },
  created () {
    this.receivedHcmColumnsLabels({ lovType: 'codpay' })
    this.receivedHcmLov({ lovType: 'codpay' })
  },
  methods: {
    setFormula (descFormula, payCodes) {
      let formula = descFormula
      for (let descCodpay of payCodes) {
        let codpay = ''
        if (['ค่าจ้างรายเดือน', 'ค่าจ้างรายวัน', 'ค่าจ้างรายชั่วโมง'].indexOf(descCodpay) === -1) {
          codpay = this.lovCurrentCode('codpay', descCodpay)
        } else {
          switch (descCodpay) {
            case 'ค่าจ้างรายเดือน':
              codpay = 'Mon'
              break
            case 'ค่าจ้างรายวัน':
              codpay = 'Day'
              break
            case 'ค่าจ้างรายชั่วโมง':
              codpay = 'Hr'
              break
          }
        }
        formula = formula.replace(descCodpay, codpay)
      }
      formula = formula.replace(/×/g, '*').replace(/÷/g, '/')
      return formula
    },
    setDescFormula (descFomulaString, flgDel = false) {
      let descFormulaCursorPosition = this.getCalculatorCursorPosition()
      let descFormulaPayCodeFirstBracket = this.descFormula.substring(0, descFormulaCursorPosition).lastIndexOf('{')
      let descFormulaPayCodeCloseBracket = this.descFormula.substring(0, descFormulaCursorPosition).lastIndexOf('}')

      if (descFormulaPayCodeFirstBracket > -1 && descFormulaPayCodeCloseBracket === -1) {
        // { | }
        if (!flgDel) {
          return
        } else {
          descFormulaCursorPosition = descFormulaCursorPosition + this.descFormula.substring(descFormulaCursorPosition, this.descFormula.length).indexOf('}') + 1
          descFormulaPayCodeFirstBracket = this.descFormula.substring(0, descFormulaCursorPosition).lastIndexOf('{')
          descFormulaPayCodeCloseBracket = this.descFormula.substring(0, descFormulaCursorPosition).lastIndexOf('}')
        }
      } else if (descFormulaPayCodeFirstBracket > -1 && descFormulaPayCodeCloseBracket > -1) {
        // { } | or { } { } ... | or { } ... { | }
        if (descFormulaPayCodeFirstBracket > descFormulaPayCodeCloseBracket) {
          // { } ... { | }
          if (!flgDel) {
            return
          } else {
            descFormulaCursorPosition = descFormulaCursorPosition + this.descFormula.substring(descFormulaCursorPosition, this.descFormula.length).indexOf('}') + 1
            descFormulaPayCodeFirstBracket = this.descFormula.substring(0, descFormulaCursorPosition).lastIndexOf('{')
            descFormulaPayCodeCloseBracket = this.descFormula.substring(0, descFormulaCursorPosition).lastIndexOf('}')
          }
        }
      }
      if (!flgDel) {
        this.setDescFormulaCursorPosition = descFormulaCursorPosition + descFomulaString.length
        this.descFormula = this.descFormula.substring(0, descFormulaCursorPosition) + descFomulaString + this.descFormula.substring(descFormulaCursorPosition, this.descFormula.length)
      } else {
        let descFormulaPayCodeCloseBracketDel = this.descFormula.substring(0, descFormulaCursorPosition).lastIndexOf('}')
        let delDescFormulaPosition = 1
        if (descFormulaCursorPosition - descFormulaPayCodeCloseBracketDel === 1) {
          // { }|
          let descFormulaPayCodeFirstBracketDel = this.descFormula.substring(0, descFormulaCursorPosition).lastIndexOf('{')
          delDescFormulaPosition = descFormulaPayCodeCloseBracketDel - descFormulaPayCodeFirstBracketDel + 1
        }
        this.setDescFormulaCursorPosition = descFormulaCursorPosition - delDescFormulaPosition
        this.descFormula = this.descFormula.substring(0, descFormulaCursorPosition - delDescFormulaPosition) + this.descFormula.substring(descFormulaCursorPosition, this.descFormula.length)
      }
      this.$nextTick(() => {
        this.setCalculatorCursorPosition(this.setDescFormulaCursorPosition)
      })
    },
    clearFormula () {
      this.formula = ''
      this.descFormula = ''
      this.$nextTick(() => {
        this.setCalculatorCursorPosition(0)
      })
    },
    setDescFormulaByTickData (dataRow) {
      this.setDescFormula('{' + dataRow.desc_codpay + '}')
    },
    getCalculatorCursorPosition () {
      let oField = this.$refs.textareaCalculator
      let cursorPos = 0
      if (document.selection) {
        oField.focus()
        let oSel = document.selection.createRange()
        oSel.moveStart('character', -oField.value.length)
        cursorPos = oSel.text.length
      } else if (oField.selectionStart || oField.selectionStart === '0') {
        cursorPos = oField.selectionStart
      }
      return cursorPos
    },
    setCalculatorCursorPosition (setCursorPosition) {
      let oField = this.$refs.textareaCalculator
      oField.focus()
      oField.selectionEnd = setCursorPosition
    },
    triggerKeydown (event) {
      let allowKey = ['+', '-', '×', '/', '*', '÷']
      let allowArrow = ['ArrowUp', 'ArrowLeft', 'ArrowDown', 'ArrowRight', 'Home', 'End']
      if (allowArrow.indexOf(event.key) === -1) {
        event.preventDefault()
        if (event.key.match(/[^0-9().]/g) && allowKey.indexOf(event.key) === -1) {
          if (event.key === 'Backspace') {
            this.setDescFormula('', true)
          }
        } else {
          this.setDescFormula(event.key)
        }
      }
    },
    triggerKeyup (event) {
      let currentCursor = this.getCalculatorCursorPosition()
      this.descFormula = this.descFormula.replace('*', '×').replace('/', '÷')
      this.$nextTick(() => {
        this.setCalculatorCursorPosition(currentCursor)
      })
    },
    deleteFormula () {
      this.setDescFormula('', true)
    },
    back () {
      this.clearFormula()
      this.closeMainModal()
    },
    calPayCodes (descFormula) {
      let payCodes = []
      if (descFormula.indexOf('}') > -1) {
        // a{b}c{d}e{f}g -> [a{b, c{d, e{f, g]
        let firstBrackets = descFormula.split('}')
        for (let firstBracket of firstBrackets) {
          // a{b -> [a, b] and c{d -> [c, d] and e{f -> [e, f]
          if (firstBracket.indexOf('{') > -1) {
            let withoutBrackets = firstBracket.split('{')
            // [b, d, f]
            payCodes.push(withoutBrackets[1])
          }
        }
      }
      return payCodes
    },
    confirm () {
      let payCodes = this.calPayCodes(this.descFormula)
      this.formula = this.setFormula(this.descFormula, payCodes)
      this.$emit('input', { code: this.formula, description: this.descFormula })
      this.$nextTick(() => {
        this.setCalculatorCursorPosition(this.setDescFormulaCursorPosition)
      })
      this.closeMainModal()
    },
    openMainModal () {
      this.descFormula = this.value.description
      this.formula = this.value.code
      this.showMainModal = true
    },
    closeMainModal () {
      this.showMainModal = false
    },
    closeModal () {
      this.showModal = false
    },
    ...mapActions({
      receivedHcmColumnsLabels: types.RECEIVED_HCM_LOV_COLUMNS_LABELS,
      receivedHcmLov: types.RECEIVED_HCM_LOV
    })
  },
  components: {
    payCodePopup
  }
}
</script>

<style src="./assets/style.scss" lang="scss"></style>