<template>
  <div id="hrpmb3e" class="hrpmb3e body-wrapper">
    <hcm-setting-page />

    <hrms-table v-show="indexDisp"
                :data="index"
                :nowLang="app.nowLang"
                :columns="columns[app.nowLang].index"
                :addInlineEventBool="false"
                :deleteInlineEventBool="true"
                :deleteInlineBtnDisp="false"
                :addEvent="addEvent"
                :editEvent="editEvent"
                :saveInlineEvent="callSave"/>

    <detail v-show="detailDisp"
            :toggle="toggle"
            :nowLang="app.nowLang"
            :searchIndex="searchIndex"
            :indexSelected="indexSelected"
            :labels="labels[app.nowLang]"
            :columns="columns[app.nowLang]"
            :detail="detail"
            :dropdowns="dropdowns"
            :eventBtn="eventBtn"
            :labelsButton="app.button[app.nowLang]"
            :saveHrpmb3eDetail="saveHrpmb3eDetail"
            :receivedHrpmb3eDetail="receivedHrpmb3eDetail"
            :detailDisabled="detailDisabled"
            :setDetailDisabled="setDetailDisabled"
            :detailFaultPopup="detailFaultPopup"
            :receivedHrpmb3eDetailFaultPopup="receivedHrpmb3eDetailFaultPopup"
            :headerDisp="headerDisp"
            ref="detail" />
              
  </div>

</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import * as types from './store/mutation-types'
import detail from './components/detail'

export default {
  name: 'hrpmb3e',
  data () {
    return {
      app: this.$root.$children[0],
      searchIndex: {
        idcard: ''
      },
      eventBtn: ''
    }
  },
  created () {
    this.receivedHrpmb3eColumnsLabels()
    this.receivedHrpmb3eIndex()
    this.receivedHrpmb3eDropdowns()
  },
  computed: {
    codempid () {
      let currentUser = this.app.currentUser
      return currentUser.p_codempid
    },
    ...mapGetters({
      indexDisp: types.GET_HRPMB3E_INDEX_DISP,
      detailDisp: types.GET_HRPMB3E_DETAIL_DISP,
      headerDisp: types.GET_HRPMB3E_HEADER_DISP,
      labels: types.GET_HRPMB3E_LABELS,
      index: types.GET_HRPMB3E_INDEX,
      columns: types.GET_HRPMB3E_COLUMNS,
      indexSelected: types.GET_HRPMB3E_INDEX_SELECTED,
      dropdowns: types.GET_HRPMB3E_DROPDOWNS,
      detail: types.GET_HRPMB3E_DETAIL,
      detailCreate: types.GET_HRPMB3E_DETAIL_CREATE,
      detailDisabled: types.GET_HRPMB3E_DETAIL_DISABLED,
      detailFaultPopup: types.GET_HRPMB3E_DETAIL_FAULT_POPUP
    })
  },
  methods: {
    pageDetail (event, param) {
      this.eventBtn = event
      switch (event) {
        case 'add':
          this.setDetailDisabled(true)
          this.searchIndex.idcard = ''
          this.receivedHrpmb3eDetailCreate()
          this.toggle('detail')
          break
        case 'edit':
          this.setDetailDisabled(false)
          this.receivedHrpmb3eDetail(param)
          this.setIndexSelected(param)
          this.toggle('detail')
          break
      }
    },
    addEvent () {
      this.pageDetail('add')
    },
    editEvent (param) {
      this.pageDetail('edit', param)
    },
    callSave (dataRowsHasFlg) {
      this.$validator.validateAll().then(result => {
        if (result) {
          for (var i = 0; i < dataRowsHasFlg.length; i++) {
            dataRowsHasFlg[i] = Object.assign(dataRowsHasFlg[i])
          }
          this.saveHrpmb3eIndex({ searchIndex: this.searchIndex, indexSelected: this.indexSelected, dataRowsHasFlg: dataRowsHasFlg })
        }
      })
    },
    ...mapMutations({
      setIndexSelected: types.SET_HRPMB3E_INDEX_SELECTED,
      setDetailDisabled: types.SET_HRPMB3E_DETAIL_DISABLED,
      setHeaderDisp: types.SET_HRPMB3E_HEADER_DISP
    }),
    ...mapActions({
      toggle: types.TOGGLE_HRPMB3E_PAGE,
      receivedHrpmb3eColumnsLabels: types.RECEIVED_HRPMB3E_COLUMNS_LABELS,
      receivedHrpmb3eIndex: types.RECEIVED_HRPMB3E_INDEX,
      receivedHrpmb3eDetail: types.RECEIVED_HRPMB3E_DETAIL,
      receivedHrpmb3eDetailCreate: types.RECEIVED_HRPMB3E_DETAIL_CREATE,
      receivedHrpmb3eDetailFaultPopup: types.RECEIVED_HRPMB3E_DETAIL_FAULT_POPUP,
      receivedHrpmb3eDropdowns: types.RECEIVED_HRPMB3E_DROPDOWNS,
      saveHrpmb3eIndex: types.SAVE_HRPMB3E_INDEX,
      saveHrpmb3eDetail: types.SAVE_HRPMB3E_DETAIL
    })
  },
  components: {
    detail
  }
}
</script>

<style src="./assets/style.scss" lang='scss'></style>
