<template>
  <div id="hrpmb1e" class="hrpmb1e body-wrapper">
    <hcm-setting-page />

    <!-- <div class="tabselect-group">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab1">{{labels[app.nowLang]['HRPMB1EC1']['10']}}</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab2">{{labels[app.nowLang]['HRPMB1EC1']['20']}}</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab3">{{labels[app.nowLang]['HRPMB1EC1']['30']}}</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab4">{{labels[app.nowLang]['HRPMB1EC1']['40']}}</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab5">{{labels[app.nowLang]['HRPMB1EC1']['50']}}</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab6">{{labels[app.nowLang]['HRPMB1EC1']['60']}}</a></li>
      </ul>
      <div class="tab-content">
        <div id="tab1" class="tab-pane fade active show">
          <personal-detail :labels="labels[app.nowLang]"
                           :personalDetail="personalDetail" />
        </div>
        <div id="tab2" class="tab-pane fade">
          <educat-work-his :labels="labels[app.nowLang]"
                           :educatWorkDetail="educatWorkDetail" />
        </div>
        <div id="tab3" class="tab-pane fade">
          <family :labels="labels[app.nowLang]"
                  :familyDetail="familyDetail" />
        </div>
        <div id="tab4" class="tab-pane fade">
          <guarantee :labels="labels[app.nowLang]"
                     :guaranteeDetail="guaranteeDetail" />
        </div>
        <div id="tab5" class="tab-pane fade">
          <talent :labels="labels[app.nowLang]"
                  :talentDetail="talentDetail" />
        </div>
        <div id="tab6" class="tab-pane fade">
          <others :labels="labels[app.nowLang]"
                  :othersDetail="othersDetail" />
        </div>
      </div>
      <div class="button-md _bg-white" @click="callSave()"> <i class="fa fa-check-circle" aria-hidden="true"></i>{{ app.button[app.nowLang]['save'] }}</div>
    </div> -->
    <div class="row">
      <div class="col-12 group-space-md">
        <div class="c2e-panelbutton">
          <div class="rows clearfix">

            <div class=" box-btn-cal hover btn-width clearfix" :class="{ 'active' : detail1Btn1Disp }" @click="toggleBtn(1)">
              <div class="label-btn-cal">
                <img class="menu-icon" :src="require('@/assets/image/C2E/icon_menu1.png')">
                <div>{{labels[app.nowLang]['HRPMB1EC1']['10']}}</div>
              </div>
            </div>

            <div class=" box-btn-cal hover btn-width clearfix" :class="{ 'active' : detail2Btn2Disp }" @click="toggleBtn(2)">
              <div class="label-btn-cal">
                <img class="menu-icon" :src="require('@/assets/image/C2E/icon_menu2.png')">
                <div>{{labels[app.nowLang]['HRPMB1EC1']['20']}}</div>
              </div>
            </div>

            <div class=" box-btn-cal hover btn-width clearfix"  :class="{ 'active' : detail3Btn3Disp }" @click="toggleBtn(3)">
              <div class="label-btn-cal">
                <img class="menu-icon" :src="require('@/assets/image/C2E/icon_menu3.png')">
                <div>{{labels[app.nowLang]['HRPMB1EC1']['30']}}</div>
              </div>
            </div>

            <div class=" box-btn-cal hover btn-width clearfix" :class="{ 'active' : detail4Btn4Disp }" @click="toggleBtn(4)">
              <div class="label-btn-cal">
                <img class="menu-icon" :src="require('@/assets/image/C2E/icon_menu4.png')">
                <div>{{labels[app.nowLang]['HRPMB1EC1']['40']}}</div>
              </div>
            </div>

            <div class=" box-btn-cal hover btn-width clearfix" :class="{ 'active' : detail5Btn5Disp }" @click="toggleBtn(5)">
              <div class="label-btn-cal">
                <img class="menu-icon" :src="require('@/assets/image/C2E/icon_menu5.png')">
                <div>{{labels[app.nowLang]['HRPMB1EC1']['50']}}</div>
              </div>
            </div>

            <div class=" box-btn-cal hover btn-width clearfix" :class="{ 'active' : detail6Btn6Disp }" @click="toggleBtn(6)">
              <div class="label-btn-cal">
                <img class="menu-icon" :src="require('@/assets/image/C2E/icon_menu6.png')">
                <div>{{labels[app.nowLang]['HRPMB1EC1']['60']}}</div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 group-space-md" v-show="detail1Btn1Disp">
        <personal-detail :labels="labels[app.nowLang]"
          :personalDetail="personalDetail" />
      </div>

      <div class="col-12 group-space-md" v-show="detail2Btn2Disp">
        <educat-work-his :labels="labels[app.nowLang]"
          :educatWorkDetail="educatWorkDetail" />
      </div>

      <div class="col-12 group-space-md" v-show="detail3Btn3Disp">
        <family :labels="labels[app.nowLang]"
          :familyDetail="familyDetail" />
      </div>

      <div class="col-12 group-space-md" v-show="detail4Btn4Disp">
        <guarantee :labels="labels[app.nowLang]"
          :guaranteeDetail="guaranteeDetail" />
      </div>

      <div class="col-12 group-space-md" v-show="detail5Btn5Disp">
        <talent :labels="labels[app.nowLang]"
          :talentDetail="talentDetail" />
      </div>

      <div class="col-12 group-space-md" v-show="detail6Btn6Disp">
        <others :labels="labels[app.nowLang]"
          :othersDetail="othersDetail" />
      </div>

      <div class="col-12 group-space-md">
        <div class="button-md _bg-green" @click="callSave()"> <i class="fa fa-check-circle" aria-hidden="true"></i>{{ app.button[app.nowLang]['save'] }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as types from './store/mutation-types'
import personalDetail from './components/personalDetail'
import educatWorkHis from './components/educatWorkHis'
import family from './components/family'
import guarantee from './components/guarantee'
import talent from './components/talent'
import others from './components/others'
export default {
  name: 'hrpmb1e',
  data () {
    return {
      app: this.$root.$children[0],
      typeActive: '',
      detail1Btn1Disp: true,
      detail2Btn2Disp: false,
      detail3Btn3Disp: false,
      detail4Btn4Disp: false,
      detail5Btn5Disp: false,
      detail6Btn6Disp: false
    }
  },
  created () {
    this.receivedHrpmb1eColumnsLabels()
    this.receivedHrpmb1ePersonalDetail()
    this.receivedHrpmb1eEducatWorkDetail()
    this.receivedHrpmb1eFamilyDetail()
    this.receivedHrpmb1eGuaranteeDetail()
    this.receivedHrpmb1eTalentDetail()
    this.receivedHrpmb1eOthersDetail()
  },
  computed: {
    ...mapGetters({
      labels: types.GET_HRPMB1E_LABELS,
      personalDetail: types.GET_HRPMB1E_PERSONAL_DETAIL,
      educatWorkDetail: types.GET_HRPMB1E_EDUCAT_WORK_DETAIL,
      familyDetail: types.GET_HRPMB1E_FAMILY_DETAIL,
      guaranteeDetail: types.GET_HRPMB1E_GUARANTEE_DETAIL,
      talentDetail: types.GET_HRPMB1E_TALENT_DETAIL,
      othersDetail: types.GET_HRPMB1E_OTHERS_DETAIL
    })
  },
  methods: {
    toggleBtn (btnNo) {
      this.detail1Btn1Disp = false
      this.detail2Btn2Disp = false
      this.detail3Btn3Disp = false
      this.detail4Btn4Disp = false
      this.detail5Btn5Disp = false
      this.detail6Btn6Disp = false
      switch (btnNo) {
        case 1:
          this.detail1Btn1Disp = true
          break
        case 2:
          this.detail2Btn2Disp = true
          break
        case 3:
          this.detail3Btn3Disp = true
          break
        case 4:
          this.detail4Btn4Disp = true
          break
        case 5:
          this.detail5Btn5Disp = true
          break
        case 6:
          this.detail6Btn6Disp = true
          break
        default:
          this.detail1Btn1Disp = true
          break
      }
    },
    ...mapActions({
      receivedHrpmb1eColumnsLabels: types.RECEIVED_HRPMB1E_COLUMNS_LABELS,
      receivedHrpmb1ePersonalDetail: types.RECEIVED_HRPMB1E_PERSONAL_DETAIL,
      receivedHrpmb1eEducatWorkDetail: types.RECEIVED_HRPMB1E_EDUCAT_WORK_DETAIL,
      receivedHrpmb1eFamilyDetail: types.RECEIVED_HRPMB1E_FAMILY_DETAIL,
      receivedHrpmb1eGuaranteeDetail: types.RECEIVED_HRPMB1E_GUARANTEE_DETAIL,
      receivedHrpmb1eTalentDetail: types.RECEIVED_HRPMB1E_TALENT_DETAIL,
      receivedHrpmb1eOthersDetail: types.RECEIVED_HRPMB1E_OTHERS_DETAIL,
      postHrpmb1eData: types.POST_HRPMB1E_DATA
    }),
    callSave () {
      let dataSave = []
      // personal
      let personalDetailFilterEdit = this.personalDetail.personalInfo.rows.filter(dataRow => dataRow.flgEdit === 'Y')
      let personalAddrFilterEdit = this.personalDetail.personalAddr.rows.filter(dataRow => dataRow.flgEdit === 'Y')
      let personalEmpFilterEdit = this.personalDetail.personalEmp.rows.filter(dataRow => dataRow.flgEdit === 'Y')
      let personalTravelFilterEdit = this.personalDetail.personalTravel.rows.filter(dataRow => dataRow.flgEdit === 'Y')
      let personalIncomFilterEdit = this.personalDetail.personalIncom.rows.filter(dataRow => dataRow.flgEdit === 'Y')
      let personalTaxFilterEdit = this.personalDetail.personalTax.rows.filter(dataRow => dataRow.flgEdit === 'Y')
      let personalSpouseTaxFilterEdit = this.personalDetail.personalSpouseTax.rows.filter(dataRow => dataRow.flgEdit === 'Y')
      let personalChangNameFilterEdit = this.personalDetail.personalChangName.rows.filter(dataRow => dataRow.flgEdit === 'Y')
      let personalDocFilterEdit = this.personalDetail.personalDoc.rows.filter(dataRow => dataRow.flgEdit === 'Y')
      // educatWorkDetail
      let educatFilterEdit = this.educatWorkDetail.educat.rows.filter(dataRow => dataRow.flgEdit === 'Y')
      let workHisFilterEdit = this.educatWorkDetail.workHis.rows.filter(dataRow => dataRow.flgEdit === 'Y')
      let trainHisFilterEdit = this.educatWorkDetail.trainHis.rows.filter(dataRow => dataRow.flgEdit === 'Y')
      let internalTrainHisFilterEdit = this.educatWorkDetail.internalTrainHis.rows.filter(dataRow => dataRow.flgEdit === 'Y')
      // familyDetail
      let spouseFilterEdit = this.familyDetail.spouse.rows.filter(dataRow => dataRow.flgEdit === 'Y')
      let childrenFilterEdit = this.familyDetail.children.rows.filter(dataRow => dataRow.flgEdit === 'Y')
      let parentFilterEdit = this.familyDetail.parent.rows.filter(dataRow => dataRow.flgEdit === 'Y')
      let relativeFilterEdit = this.familyDetail.relative.rows.filter(dataRow => dataRow.flgEdit === 'Y')
      // familyDetail
      let guarantorFilterEdit = this.guaranteeDetail.guarantor.rows.filter(dataRow => dataRow.flgEdit === 'Y')
      let securitiesFilterEdit = this.guaranteeDetail.securities.rows.filter(dataRow => dataRow.flgEdit === 'Y')
      let referenceFilterEdit = this.guaranteeDetail.reference.rows.filter(dataRow => dataRow.flgEdit === 'Y')
      // talentDetail
      let talentFilterEdit = this.talentDetail.talent.rows.filter(dataRow => dataRow.flgEdit === 'Y')
      let langSkillFilterEdit = this.talentDetail.langSkill.rows.filter(dataRow => dataRow.flgEdit === 'Y')
      let goodnessFilterEdit = this.talentDetail.goodness.rows.filter(dataRow => dataRow.flgEdit === 'Y')
      // othersDetail
      let othersFilterEdit = this.othersDetail.rows.filter(dataRow => dataRow.flgEdit === 'Y')

      dataSave = personalDetailFilterEdit.concat(
        personalAddrFilterEdit,
        personalEmpFilterEdit,
        personalTravelFilterEdit,
        personalIncomFilterEdit,
        personalTaxFilterEdit,
        personalSpouseTaxFilterEdit,
        personalChangNameFilterEdit,
        personalDocFilterEdit,
        educatFilterEdit,
        workHisFilterEdit,
        trainHisFilterEdit,
        internalTrainHisFilterEdit,
        spouseFilterEdit,
        childrenFilterEdit,
        parentFilterEdit,
        relativeFilterEdit,
        guarantorFilterEdit,
        securitiesFilterEdit,
        referenceFilterEdit,
        talentFilterEdit,
        langSkillFilterEdit,
        goodnessFilterEdit,
        othersFilterEdit
      )
      this.postHrpmb1eData(dataSave)
    }
  },
  components: {
    personalDetail,
    educatWorkHis,
    family,
    guarantee,
    talent,
    others
  }
}
</script>

<style src="./assets/style.scss" lang="scss"></style>
