@import "../../../../modules/global";
.lucky-draw {
  width:100%;
  height: 100vh;
  background: url(../../../../assets/image/LuckyDraw/bg_image_revise.jpg) no-repeat;
  background-size: 100% auto;
  position: relative;
  // img {
  //   width: 100%;
  //   height: auto;
  //   position: relative;
  //   top:0;
  //   z-index: 1;
  // }

  .lucky-box {
    width: 100%;
    padding: 110px 0 0 0;
    text-align: center;
    .lucky-title {
      font-size: 36px;
      color: $black-85;
    }
    .lucky-counter {
      // float: left;
      // margin-right: 7px;
      @include clearfix;
      zoom: 2.5;
      margin: 0 auto;
      width: 80%;
      position: relative;
      // margin-top: 67px;
      // border: 5px solid rgb(255, 255, 255);
      // background-color: white;
      // border-radius: 5px;
      .counter-item {
        margin-left: 10%;
        float: left;
        position: relative;
        top: -23px;
        left: 46px;

        .counter_marker {
          background-image: none !important;
        }
        .counter_character_left {
          filter: invert(100%);
        }
      }
    }
    .lucky-man {
      width: 500px;
      padding: 15px;
      background: $blue;
      border-radius: 4px;
      opacity: 0.8;
      font-size: 24px;
      position: relative;
      text-align: center;
      margin: 0 auto;
      color: #FFF;
      // font-family: 'promptregular';
      top: 125px;
      visibility: hidden;

      &.-disp {
        visibility: visible;
        transition: all;
        transition-delay: 1.5s;
      }
    }
  }
  .lucky-button {
    width: 100%;
    position: absolute;
    bottom: 50px;
    text-align: center;
    transition: ease-in;
    transition-delay: 10s;

    input {
      float: none !important;
    }
  }
}