<template>
  <div name="hcm-lov-detail" class="hcm-lov-detail">
    <div class="lov-search-panel">
      <lov-search-button  :labels="labels"
                          :setLists="setLists"
                          :lovType="lovType"
                          ref="searchBtn"
      />
    </div>

    <hrms-table :columns="columns[lovType]"
                :data="{ total: lists.length, rows: lists }"
                :indexDisp="false"
                :searchDisp="false"
                :tickEvent="tickEvent" />
  </div>
</template>

<script>
import lovSearchButton from './lovSearchButton'

export default {
  name: 'hcm-lov-detail',
  props: {
    columns: {
      type: Object,
      require: true
    },
    codeDescValue: {
      type: String
    },
    labels: {
      type: Object
    },
    lists: {
      type: Array
    },
    setLists: {
      type: Function
    },
    setList: {
      type: Function
    },
    lovType: {
      type: String
    },
    closeModal: {
      type: Function
    }
  },
  methods: {
    tickEvent (list) {
      this.setList(list)
      this.$emit('setDataRow', list)
      this.$emit('input', list[this.lovType])
      this.$emit('changeLov', list[this.lovType])
      this.closeModal()
    },
    emitDetailSearchButton (codeDescValue) {
      this.$refs.searchBtn.emitSearchButton(codeDescValue)
    }
  },
  components: {
    lovSearchButton
    // listCategory
  }
}
</script>

<style lang="scss">
.hcm-lov-detail {
  .margin-right {
    margin-right: 30px;
  }
  .search-input {
    width: 395px;
  }
}
</style>