<template>
  <div name="hcm-lov-search-button" class="search-input row">
    <!-- <div class="input-group">
      <input class="normal-input" type="text" name="input" :placeholder="labels['HCM_LOV']['10']"
             v-model="inputSearch"
             @keyup="triggerSearch($event)"
      />
      <span class="icon fa fa-refresh" aria-hidden="true" @click="clearInputSearch()"></span>
    </div> -->

    <div class="col-10 col-md-11">
      <div class="input-group">
        <input class="lov-search-input" type="text" name="input" :placeholder="labels['HCM_LOV']['10']"
             v-model="inputSearch"
             @keyup="triggerSearch($event)"
        />
        <span class="search-icon ion-android-search" aria-hidden="true"></span>
        <div class="validator-text"></div>
      </div>
    </div>
    <div class="col-2 col-md-1">
      <span class="lov-icon fa fa-refresh cursor-pointer" aria-hidden="true" @click="clearInputSearch()"></span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hcm-lov-search-button',
  data () {
    return {
      inputSearch: ''
    }
  },
  props: {
    labels: {
      type: Object
    },
    setLists: {
      type: Function
    },
    lovType: {
      type: String
    }
  },
  methods: {
    clearInputSearch () {
      this.inputSearch = ''
      this.setLists({ inputSearch: this.inputSearch, lovType: this.lovType })
    },
    emitSearchButton (codeDescValue) {
      this.inputSearch = codeDescValue
      this.setLists({ inputSearch: this.inputSearch, lovType: this.lovType })
    },
    triggerSearch (event) {
      if (event.key !== 'Enter' && event.key !== 'ArrowDown' && event.key !== 'ArrowUp' && event.key !== 'ArrowLeft' && event.key !== 'ArrowRight') {
        this.setLists({ inputSearch: this.inputSearch, lovType: this.lovType })
      }
    }
  }
}
</script>