<template>
  <ul class="dropdown-menu dropdown-replace" :class="{ 'show' : dropdownSearchDisp }">
    <div class="codlov-box">
      <div class="level-list" v-for="(list, listIndex) in filterDropdownLists(lists)" :key="listIndex">
        <div class="list">
          <div class="list-set" @click="setArgumentForList(list)">
            <span class="list-code"><i class="fa fa-chevron-right"></i>{{ list[lovType] }}</span>
            <template v-if="!codeFillOnly">
              <span class="list-dash">-</span>
              <span class="list-name">{{ list['desc_' + lovType] }}</span>
            </template>
          </div>
        </div>
      </div>
      <div class="level-list" v-show="seeMore" @click="clickSearchBtnIndex()">
        <div class="level-name cursor-pointer">See results for "{{ codeDescValue }}"</div>
      </div>
    </div>
  </ul>
</template>

<script>
export default {
  name: 'lov-search-dropdown',
  data () {
    return {
      seeMore: true
    }
  },
  props: {
    codeDescValue: {
      type: String
    },
    dropdownSearchDisp: {
      type: Boolean
    },
    hideDropdownSearch: {
      type: Function
    },
    lists: {
      type: Array
    },
    lovType: {
      type: String
    },
    clickSearchBtnIndex: {
      type: Function
    },
    codeFillOnly: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    lists () {
      this.seeMore = (this.lists.length > 5)
    }
  },
  methods: {
    filterDropdownLists (lists) {
      let count = 0
      let filterLists = []
      for (let list of lists) {
        count++
        filterLists.push(list)
        if (count >= 5) {
          break
        }
      }
      return filterLists
    },
    setArgumentForList (list) {
      this.hideDropdownSearch()
      this.$emit('emitDropdownSetList', list)
    }
  }
}
</script>
