<template>
  <div class="panel-right">
    <div class="heading-section">
      <i class="fa fa-check-circle _text-blue" aria-hidden="true"></i>
      <span class="heading-text">Add To Do List</span>
    </div>
    <div class="todo-detail-section">
      <div class="input-group">
        <div class="label">Subject</div>
        <input class="normal-input" 
               type="text" 
               name="title" 
               v-validate="'required'"
               data-vv-name="title"
               data-vv-as="Topic"
               v-model="detail.title">
        <div class="validator-text -error">{{errors.first('title')}}</div>
      </div>
      <div class="input-group">
        <div class="label">Location</div>
        <input class="normal-input" 
               type="text" 
               name="place" 
               v-validate="'required'"
               data-vv-name="place"
               data-vv-as="Location"
               v-model="detail.place">
        <div class="validator-text -error">{{errors.first('place')}}</div>
      </div>
      <div class="date-time-group">
        <div class="from">
          <div class="date-input-box">
            <div class="input-group">
              <div class="label">Date</div>
              <hrms-datepicker  v-model="detail.dtestrt" 
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dtestrt"
                                data-vv-as="Start Date"
                                name="dtestrt"/>
              <div class="validator-text -error">{{errors.first('dtestrt')}}</div>
            </div> 
          </div>
        </div>
        <div class="dash">to</div>
        <div class="to">
          <div class="date-input-box">
            <div class="input-group">
              <div class="label">Date</div>
              <hrms-datepicker  v-model="detail.dteend" 
                                v-validate="'required|date_format:DD/MM/YYYY|after:dtestrt'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dteend"
                                data-vv-as="Start Date"
                                name="dteend"
                                :class="{ 'input-error' : errors.has('dteend') }"/>
              <div class="validator-text -error">{{errors.first('dteend')}}</div>
            </div> 
          </div>
        </div>
      </div>
      <div class="date-time-group" v-show="!flgAllDay">
        <div class="from">
          <div class="time-input-box">
            <div class="input-group">
              <div class="label">Time</div>
              <hrms-timepicker  v-model="detail.timstrt" 
                                v-validate="validateTime + 'date_format:HH:mm'"
                                data-vv-value-path="inputTime"
                                data-vv-name="timstrt"
                                name="timstrt"/>
              <div class="validator-text -error">{{errors.first('timstrt')}}</div>
            </div> 
          </div>
        </div>
        <div class="dash">to</div>
        <div class="to">
          <div class="time-input-box">
            <div class="input-group">
              <div class="label" style="white-space: nowrap;">Time</div>
              <hrms-timepicker  v-model="detail.timend" 
                                v-validate="validateTime + 'date_format:HH:mm'"
                                data-vv-value-path="inputTime"
                                data-vv-name="timend"
                                name="timend"/>
              <div class="validator-text -error">{{errors.first('timend')}}</div>
            </div> 
          </div>
        </div>
      </div>
      <div class="input-group _unmargin">
        <div class="label">Detail</div> 
        <textarea type="textarea" 
                  name="detail" 
                  class="normal-textarea" 
                  v-model="detail.detail"
                  v-validate="'required'"
                  data-vv-name="detail"
                  data-vv-as="Detail"></textarea> 
        <div class="validator-text -error">{{errors.first('detail')}}</div>
      </div>
      <div class="checkbox-group">
        <input class="checkbox-true" type="checkbox" id="allday" value="1" v-model="flgAllDay">
        <label class="checkbox-fake _unmargin" for="allday"></label>
        <label class="checkbox-label" for="allday" style="left:30px; font-family:'promptregular;'">All day</label>
      </div>
      <div class="todolist-button-box">
        <div class="button-md _bg-grey" style="margin-left:0;" @click="cancel()"><i class="fa fa-times-circle" aria-hidden="true"></i>Cancel</div>
        <div class="button-md _bg-green" @click="save()"><i class="fa fa-check-circle" aria-hidden="true"></i>Save</div>
      </div>
    </div>
  </div>
</template>

<script>
import swal from 'sweetalert'
import { constLabels } from 'assets/js/constLabels'

export default {
  name: 'dash-calendar-add-todolist',
  data () {
    return {
      flgAllDay: true,
      validateTime: ''
    }
  },
  props: {
    togglePage: {
      type: Function
    },
    detail: {
      type: Object
    },
    saveTodoList: {
      type: Function
    }
  },
  watch: {
    flgAllDay () {
      if (this.flgAllDay) {
        this.detail.flgAllDay = 'Y'
        this.validateTime = ''
        this.detail.timstrt = ''
        this.detail.timend = ''
      } else {
        this.detail.flgAllDay = 'N'
        this.validateTime = 'required|'
      }
    },
    detail () {
      this.$nextTick(() => {
        this.errors.clear()
      })
    },
    'detail.topic' () {
      this.$validator.validate('topic', this.detail.topic).catch(e => {})
    },
    'detail.place' () {
      this.$validator.validate('place', this.detail.place).catch(e => {})
    },
    'detail.dtestrt' () {
      this.$validator.validate('dtestrt', this.detail.dtestrt).catch(e => {})
    },
    'detail.dteend' () {
      this.$validator.validate('dteend', this.detail.dteend).catch(e => {})
    },
    'detail.timstrt' () {
      this.$validator.validate('timstrt', this.detail.timstrt).catch(e => {})
    },
    'detail.timend' () {
      this.$validator.validate('timend', this.detail.timend).catch(e => {})
    },
    'detail.detail' () {
      this.$validator.validate('detail', this.detail.detail).catch(e => {})
    }
  },
  methods: {
    cancel () {
      this.togglePage('day')
    },
    save () {
      let _this = this
      this.$validator.validateAll().then(result => {
        if (result) {
          swal({
            title: constLabels('confirmTitle'),
            text: constLabels('msgConfirmSave'),
            showCancelButton: true,
            closeOnConfirm: false,
            confirmButtonText: 'ok',
            cancelButtonText: 'cancel',
            html: true
          },
          function (isConfirm) {
            if (isConfirm) {
              _this.saveTodoList(_this.detail)
              _this.togglePage('day')
            }
          })
        }
      })
    }
  }
}
</script>