<template>
  <div class="header-icon">
    <div class="dropdown pull-right">
      <div class="dropdown-icon dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-filter"></i>
      </div>
      <ul class="dropdown-menu" :class="[ dispSettingToggleItem ? 'show' : '']">
        <div class="triangle _toggleItem"></div> 
        <div class="dropdown-box" @click.stop="">
          <li v-for="(detail, detailIndex) in calendarDetailGroup" :key="detailIndex" @click="toggleCheckbox(detailIndex, detail.enabled)">
            <div class="checkbox-group _unmargin">
              <input class="checkbox-true" type="checkbox" :id="detailIndex" :value="detail.name" v-model="detail.enabled">
              <label class="checkbox-fake _unmargin" :class="'-' + detailIndex" :for="detailIndex"></label>
              <label class="checkbox-label" style="left: 35px;" :for="detailIndex">{{ detail.name }}</label>
            </div>
          </li>
        </div>
      </ul>
    </div>
    <div class="dropdown pull-right">
      <div class="dropdown-icon dropdown-toggle" @click="switchMode()">
        <i class="material-icons" style="font-size: 16px; line-height: 24px;" v-show="viewMonthDisp">view_day</i>
        <i class="material-icons _text-blue" style="font-size: 20px; line-height: 24px;" v-show="viewDayDisp || addTodoListDisp">view_module</i>
      </div>
    </div>
    <div class="dropdown pull-right" v-show="viewDayDisp && !addTodoListDisp">
      <div class="dropdown-icon dropdown-toggle" data-toggle="dropdown" @click="hideSettingToggleItem()">
        <i class="ion-android-add" aria-hidden="true"></i>
      </div>
      <ul class="dropdown-menu">
        <div class="triangle"></div>
        <div class="dropdown-box">
          <li><i class="fa fa-pencil _text-blue"></i> Add Leave</li>
          <li @click="addTodoList()"><i class="fa fa-check-circle _text-red"></i> Add To Do List</li>
        </div>
      </ul>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  name: 'dash-calendar-setting',
  data () {
    return {
      dispSettingToggleItem: false
    }
  },
  props: {
    toggleMode: {
      type: Function
    },
    togglePage: {
      type: Function
    },
    viewMonthDisp: {
      type: Boolean
    },
    viewDayDisp: {
      type: Boolean
    },
    addTodoListDisp: {
      type: Boolean
    },
    calendarDetailGroup: {
      type: Object
    },
    setTodoListDetails: {
      type: Function
    },
    selectedDate: {
      type: Number
    },
    selectedMonth: {
      type: Number
    },
    selectedYear: {
      type: Number
    }
  },
  methods: {
    switchMode () {
      this.hideSettingToggleItem()
      this.toggleMode()
    },
    toggleSettingToggleItem () {
      this.dispSettingToggleItem = !this.dispSettingToggleItem
    },
    hideSettingToggleItem () {
      this.dispSettingToggleItem = false
    },
    addTodoList () {
      let detailObj = {
        topic: '',
        place: '',
        dtestrt: _.padStart(this.selectedDate, 2, '0') + '/' + _.padStart(this.selectedMonth, 2, '0') + '/' + this.selectedYear,
        dteend: _.padStart(this.selectedDate, 2, '0') + '/' + _.padStart(this.selectedMonth, 2, '0') + '/' + this.selectedYear,
        timstrt: '',
        timend: '',
        detail: '',
        flgAllDay: 'Y'
      }
      this.setTodoListDetails(detailObj)
      this.togglePage('addTodoList')
    },
    toggleCheckbox (detailIndex, flg) {
      this.calendarDetailGroup[detailIndex]['enabled'] = !flg
    }
  }
}
</script>