<template>
  <div class="detail-set-wrapper">
    <div class="detail-set">
      <div class="topic-box">
        <i class="type-circle -holiday fa fa-circle" aria-hidden="true"></i>
        <div class="topic-text">{{ detail.title }}</div>
      </div>
      <div class="detail-box">
        <div class="detail">
          <span class="label-text">Date : </span>
          <span class="data-text">
            {{ detail.dtestrt }} - {{ detail.dteend }}
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'dash-calendar-detail-holiday',
  props: {
    detail: {
      type: Object
    }
  }
}
</script>