<template>
  <div class="detail-set-wrapper">
    <div class="detail-set">
      <div class="topic-box">
        <i class="type-circle -leave fa fa-circle" aria-hidden="true"></i>
        <div class="topic-text">{{ detail.desc_codleave }}</div>
        <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>
          {{ detail.timstrt }} - {{ detail.timend }}
        </div>
      </div>
      <div class="detail-box">
        <div class="status" :class="statusClass(detail.staappr)">
          <i :class="statusIcon(detail.staappr)" aria-hidden="true"></i>
          {{ detail.desc_staappr }}
        </div>
        <div class="detail">
          <span class="label-text">Date : </span>
          <span class="data-text">{{ detail.dtestrt }} - {{ detail.dteend }}</span>
        </div>
        <div class="detail">
          <span class="label-text">Detail : </span>
          <span class="data-text">{{ detail.remark }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'dash-calendar-detail-leave',
  props: {
    detail: {
      type: Object
    }
  },
  methods: {
    statusClass (staappr) {
      return staappr === 'P' ? '_text-black' : staappr === 'A' ? '_text-blue' : staappr === 'Y' ? '_text-green' : staappr === 'N' ? '_text-red' : staappr === 'C' ? '_text-grey' : ''
    },
    statusIcon (staappr) {
      return staappr === 'P' ? 'ion-document' : staappr === 'A' ? 'ion-edit' : staappr === 'Y' ? 'ion-checkmark' : staappr === 'N' ? 'ion-close' : staappr === 'C' ? 'ion-trash-a' : ''
    }
  }
}
</script>