<template>
  <div class="detail-set-wrapper">
    <div class="detail-set">
      <div class="topic-box">
        <i class="type-circle -todolist fa fa-circle" aria-hidden="true"></i>
        <div class="topic-text">{{ detail.title }}</div>
        <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>
          <template v-if="detail.flgAllDay === 'Y'">All days</template>
          <template v-else> {{ detail.timstrt }} - {{ detail.timend }} </template>
        </div>
      </div>
      <div class="detail-box">
        <div class="location">
          <i class="ion-ios-location" aria-hidden="true"></i>
          {{ detail.place }}
        </div>
        <div class="detail">
          <span class="label-text">Date : </span>
          <span class="data-text">
            {{ detail.dtestrt }} - {{ detail.dteend }}
          </span>
        </div>
        <div class="detail">
          <span class="label-text">Detail : </span>
          <span class="data-text">
            {{ detail.detail }}
          </span>
        </div>
        <div class="detail-button">
          <div class="edit-set" @click="editList(detail)">
            <i class="material-icons">mode_edit</i>
            <span class="edit-text">Edit</span>
          </div>
          <div class="del-set" @click="deleteList(detail)">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <span class="del-text">Delete</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import swal from 'sweetalert'
import { constLabels } from 'assets/js/constLabels'

export default {
  name: 'dash-calendar-detail-todo-list',
  props: {
    detail: {
      type: Object
    },
    togglePage: {
      type: Function
    },
    setTodoListDetails: {
      type: Function
    },
    deleteTodoList: {
      type: Function
    }
  },
  methods: {
    editList (todoListObj) {
      this.setTodoListDetails(todoListObj)
      this.togglePage('addTodoList')
    },
    deleteList (todoListObj) {
      let _this = this
      this.$validator.validateAll().then(result => {
        if (result) {
          swal({
            title: constLabels('confirmTitle'),
            text: constLabels('msgConfirmDelete'),
            showCancelButton: true,
            closeOnConfirm: false,
            confirmButtonText: 'ok',
            cancelButtonText: 'cancel',
            html: true
          },
          function (isConfirm) {
            if (isConfirm) {
              _this.deleteTodoList(todoListObj)
            }
          })
        }
      })
    }
  }
}
</script>