<template>
  <div class="detail-set-wrapper">
    <div class="detail-set">
      <div class="topic-box">
        <i class="type-circle -appointment fa fa-circle" aria-hidden="true"></i>
        <div class="topic-text">{{ detail.title }}</div>
        <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>
          {{ detail.timstrt }} - {{ detail.timend }}
        </div>
      </div>
      <div class="detail-box">
        <div class="location">
          <i class="ion-ios-location" aria-hidden="true"></i>
          {{ detail.place }}
        </div>
        <div class="detail">
          <span class="label-text">Date : </span>
          <span class="data-text">
            {{ detail.dtestrt }} - {{ detail.dteend }}
          </span>
        </div>
        <div class="detail">
          <span class="label-text">Detail : </span>
          <span class="data-text">
            {{ detail.detail }}
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'dash-calendar-detail-appointment',
  props: {
    detail: {
      type: Object
    }
  }
}
</script>