<template>
  <div id="dash-calendar" class="dashboard-calendar" :class="[ viewMonthDisp ? 'mode-month' : 'mode-day']">
    <div class="dash-calendar">
      <div class="calendar-header">
        <calendar-year :selectingYear="selectingYear"
                       :setSelectYear="setSelectYear"
                       :selectingMonth="selectingMonth"
                       :setSelectMonth="setSelectMonth"
                       v-show="viewMonthDisp"
                       :nowLang="app.nowLang"
                       :addMonth="addMonth"/>

        <calendar-setting :togglePage="togglePage"
                          :toggleMode="toggleMode"
                          :viewMonthDisp="viewMonthDisp"
                          :viewDayDisp="viewDayDisp"
                          :selectedDate="selectedDate"
                          :selectedMonth="selectedMonth"
                          :selectedYear="selectedYear"
                          :addTodoListDisp="addTodoListDisp"
                          :calendarDetailGroup="calendarDetailGroup"
                          :setTodoListDetails="setTodoListDetails" />
      </div>

      <!-- Calendar Display -->
      <mode-month v-show="viewMonthDisp"
                  :days="days"
                  :nowLang="app.nowLang"
                  :totalWeek="totalWeek"
                  :setSelectDate="setSelectDate"
                  :checkCurrentDay="checkCurrentDay"
                  :checkSelectedDay="checkSelectedDay"
                  :selectedMonth="selectedMonth"
                  :selectedYear="selectedYear"
                  :selectingYear="selectingYear"
                  :selectingMonth="selectingMonth"
                  :calendar="calendar"
                  :filterCalendar="filterCalendar"
                  :calArrWeek="calArrWeek"
                  :togglePage="togglePage"
                  :toggleMode="toggleMode"
                  :calendarDetailGroup="calendarDetailGroup"
                  :filterDetailGroupDisp="filterDetailGroupDisp"/>

      <mode-day v-show="viewDayDisp"
                :nowLang="app.nowLang"
                :days="days"
                :month="month"
                :calendar="calendar"
                :filterCalendar="filterCalendar"
                :selectedDate="selectedDate"
                :selectedDay="selectedDay"
                :selectedMonth="selectedMonth"
                :selectingMonth="selectingMonth"
                :selectedYear="selectedYear"
                :selectingYear="selectingYear"
                :togglePage="togglePage"
                :toggleMode="toggleMode"
                :viewMonthDisp="viewMonthDisp"
                :viewDayDisp="viewDayDisp"
                :addTodoListDisp="addTodoListDisp"
                :calendarDetailGroup="calendarDetailGroup"
                :filterDetailGroupDisp="filterDetailGroupDisp"
                :addDay="addDay"
                :todoListDetails="todoListDetails"
                :setTodoListDetails="setTodoListDetails"
                :saveTodoList="saveTodoList"
                :deleteTodoList="deleteTodoList"/>

    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import * as types from '../../store/mutation-types'
import moment from 'moment'
import _ from 'lodash'
import calendarYear from './year'
import modeDay from './modeDay'
import modeMonth from './modeMonth'
import calendarSetting from './calendarSetting'

const defaultDate = {
  currentYear: new Date().getFullYear(),
  currentMonth: new Date().getMonth() + 1,
  currentDate: new Date().getDate(),
  currentDay: new Date().getDay()
}

export default {
  name: 'dash-calendar',
  data () {
    return {
      app: this.$parent.$parent,
      currentYear: defaultDate.currentYear,
      currentMonth: defaultDate.currentMonth,
      currentDate: defaultDate.currentDate,
      currentDay: defaultDate.currentDay,
      selectingYear: defaultDate.currentYear,
      selectingMonth: defaultDate.currentMonth,
      selectedYear: defaultDate.currentYear,
      selectedMonth: defaultDate.currentMonth,
      selectedDate: defaultDate.currentDate,
      selectedDay: defaultDate.currentDay,
      days: [],
      month: [],
      viewMonthDisp: true,
      viewDayDisp: false,
      addTodoListDisp: false
    }
  },
  created () {
    this.receivedCalendar()
    for (let i = 1; i <= 7; i++) {
      this.days.push({short: moment(i, 'E', this.app.nowLang).weekday(i - 1).format('dd'), middle: moment(i, 'E', this.app.nowLang).weekday(i - 1).format('ddd'), full: moment(i, 'E', this.app.nowLang).weekday(i - 1).format('dddd')})
    }
    for (let i = 1; i <= 12; i++) {
      this.month.push({short: moment(i, 'M', this.app.nowLang).format('MMM'), full: moment(i, 'M', this.app.nowLang).format('MMMM')})
    }
  },
  watch: {
    'app.nowLang' () {
      this.days = []
      this.month = []
      for (let i = 1; i <= 7; i++) {
        this.days.push({short: moment(i, 'E', this.app.nowLang).weekday(i - 1).format('dd'), middle: moment(i, 'E', this.app.nowLang).weekday(i - 1).format('ddd'), full: moment(i, 'E', this.app.nowLang).weekday(i - 1).format('dddd')})
      }
      for (let i = 1; i <= 12; i++) {
        this.month.push({short: moment(i, 'M', this.app.nowLang).format('MMM'), full: moment(i, 'M', this.app.nowLang).format('MMMM')})
      }
    }
  },
  computed: {
    totalWeek () {
      return Math.ceil((this.firstDate + this.sumDayInMonth) / 7)
    },
    firstDate () {
      return Number(moment(moment().format(this.selectingYear + '-' + _.padStart(this.selectingMonth, 2, '0') + '-01')).format('e'))
    },
    sumDayInMonth () {
      return moment(moment().format(this.selectingYear + '-' + _.padStart(this.selectingMonth, 2, '0') + '-01')).daysInMonth()
    },
    ...mapGetters({
      calendar: types.GET_CALENDAR,
      calendarDetailGroup: types.GET_CALENDAR_DETAIL_GROUP,
      todoListDetails: types.GET_TODO_LIST_DETAILS
    })
  },
  methods: {
    togglePage (page) {
      this.viewMonthDisp = false
      this.viewDayDisp = false
      this.addTodoListDisp = false
      switch (page) {
        case 'month':
          this.viewMonthDisp = true
          break
        case 'day':
          this.viewDayDisp = true
          break
        case 'addTodoList':
          this.viewDayDisp = true
          this.addTodoListDisp = true
          break
      }
    },
    toggleMode () {
      this.addTodoListDisp = false
      if (this.viewMonthDisp) {
        this.viewDayDisp = true
        this.viewMonthDisp = false
        // go today
        this.selectedDay = this.currentDay
        this.selectedDate = this.currentDate
        this.selectingMonth = this.currentMonth
        this.selectedMonth = this.currentMonth
        this.selectingYear = this.currentYear
        this.selectedYear = this.currentYear
      } else {
        this.viewDayDisp = false
        this.viewMonthDisp = true
      }
    },
    checkCurrentDay (day) {
      return (parseInt(this.currentMonth) === parseInt(this.selectingMonth) &&
             parseInt(this.currentYear) === parseInt(this.selectingYear) &&
             parseInt(this.currentDate) === parseInt(day))
    },
    checkSelectedDay (day) {
      return (parseInt(this.selectedMonth) === parseInt(this.selectingMonth) &&
             parseInt(this.selectedYear) === parseInt(this.selectingYear) &&
             parseInt(this.selectedDate) === parseInt(day))
    },
    calArrWeek (week) {
      var dayStartInRow = 1 + (week - 1) * 7
      if (week > 1) {
        dayStartInRow = dayStartInRow - this.firstDate
      }
      var arrWeek = []
      for (var i = 1; i <= 7; i++) {
        if (week === 1 && i <= this.firstDate) {
          for (var j = 1; j <= this.firstDate; j++) {
            arrWeek.push('')
            i++
          }
        }

        if (dayStartInRow <= this.sumDayInMonth) {
          arrWeek.push(dayStartInRow)
          dayStartInRow++
        } else {
          arrWeek.push('')
        }
      }
      return arrWeek
    },
    setSelectYear (year) {
      this.selectingYear = parseInt(this.selectingYear) + parseInt(year)
      this.selectedYear = parseInt(this.selectingYear)
    },
    setSelectMonth (month) {
      this.selectingMonth = parseInt(month)
      this.selectedMonth = parseInt(month)
      this.selectedYear = parseInt(this.selectingYear)
    },
    setSelectDate (objDate) {
      this.selectedYear = this.selectingYear
      this.selectedMonth = this.selectingMonth
      this.selectedDate = objDate.date
      this.selectedDay = objDate.day
    },
    filterCalendar (date) {
      let calendarFilter = {}
      let month = this.selectedMonth
      let year = this.selectedYear
      if (typeof this.calendar.rows !== 'undefined') {
        calendarFilter = this.calendar.rows.filter(function (val, index) {
          return val.date === _.padStart(date, 2, '0') && val.month === _.padStart(month, 2, '0') && val.year === year.toString()
        })
      }
      return calendarFilter
    },
    filterDetailGroupDisp (eventItemType, calendarGroupName) {
      return eventItemType === calendarGroupName && this.calendarDetailGroup[eventItemType]['enabled']
    },
    addDay (dayAmount) {
      let newDate = new Date(this.selectedYear, this.selectedMonth - 1, this.selectedDate)
      newDate.setDate(newDate.getDate() + dayAmount)
      const selectDate = newDate.getDate()
      const selectMonth = newDate.getMonth() + 1
      const selectYear = newDate.getFullYear()
      const selectDay = this.selectedDay + dayAmount
      const indexDay = (selectDay > 6) ? 0 : ((selectDay < 0) ? 6 : selectDay)
      this.selectingMonth = selectMonth
      this.selectingYear = selectYear
      this.selectedDate = selectDate
      this.selectedMonth = selectMonth
      this.selectedYear = selectYear
      this.selectedDay = indexDay
    },
    addMonth (monthAmount) {
      let newDate = new Date(this.selectedYear, this.selectedMonth - 1, this.selectedDate)
      newDate.setMonth(newDate.getMonth() + monthAmount)
      const selectDate = 1
      const selectMonth = newDate.getMonth() + 1
      const selectYear = newDate.getFullYear()
      const indexDay = Number(moment(moment().format(selectYear + '-' + _.padStart(selectMonth, 2, '0') + '-01')).format('e'))
      this.selectingMonth = selectMonth
      this.selectingYear = selectYear
      this.selectedDate = selectDate
      this.selectedMonth = selectMonth
      this.selectedYear = selectYear
      this.selectedDay = indexDay
    },
    ...mapMutations({
      setTodoListDetails: types.SET_TODO_LIST_DETAILS
    }),
    ...mapActions({
      receivedCalendar: types.RECEIVED_CALENDAR,
      saveTodoList: types.POST_TODO_LIST,
      deleteTodoList: types.POST_DELETE_TODO_LIST
    })
  },
  components: {
    calendarYear,
    modeDay,
    modeMonth,
    calendarSetting
  }
}
</script>