<template>
  <div class="calendar-box">
    <table class="table-calendar" id="calendar-date">
      <thead>
        <tr>
          <th class="weekdays " 
              :class="{'_text-red': index_day === 1}"
              v-for="index_day in 7"
              :key="index_day"
              :id="index_day">
              {{ days[index_day - 1]['short'] }}
          </th> 
        </tr>
      </thead>
      <!-- Section days -->
      <tbody>
        <template v-for="week in totalWeek">
          <week-row :key="week"
                    :arrWeek="calArrWeek(week)"
                    :setSelectDate="setSelectDate"
                    :checkCurrentDay="checkCurrentDay"
                    :checkSelectedDay="checkSelectedDay"
                    :selectedMonth="selectedMonth"
                    :selectedYear="selectedYear"
                    :selectingYear="selectingYear"
                    :selectingMonth="selectingMonth"
                    :calendar="calendar"
                    :filterCalendar="filterCalendar"
                    :togglePage="togglePage"
                    :toggleMode="toggleMode"
                    :calendarDetailGroup="calendarDetailGroup"
                    :filterDetailGroupDisp="filterDetailGroupDisp" />
        </template>
      </tbody>
    </table>
  </div>
</template>

<script>
import weekRow from './weekRow'

export default {
  name: 'dash-calendar-mode-day',
  props: {
    days: {
      type: Array
    },
    nowLang: {
      type: String
    },
    totalWeek: {
      type: Number
    },
    setSelectDate: {
      type: Function
    },
    checkCurrentDay: {
      type: Function
    },
    checkSelectedDay: {
      type: Function
    },
    selectedMonth: {
      type: Number
    },
    selectedYear: {
      type: Number
    },
    selectingYear: {
      type: Number
    },
    selectingMonth: {
      type: Number
    },
    calendar: {
      type: Object
    },
    filterCalendar: {
      type: Function
    },
    calArrWeek: {
      type: Function
    },
    togglePage: {
      type: Function
    },
    toggleMode: {
      type: Function
    },
    calendarDetailGroup: {
      type: Object
    },
    filterDetailGroupDisp: {
      type: Function
    }
  },
  components: {
    weekRow
  }
}
</script>