<template>
  <div class="modeday-wrapper">
    <div class="panel-left">
      <div class="date-pc">
        <div class="year-section">
          <div class="year">{{ selectedYear }}</div>
          <div class="next" @click="addDay(1)"><i class="fa fa-angle-right"></i></div>
          <div class="back" @click="addDay(-1)"><i class="fa fa-angle-left"></i></div>
        </div>
        <div class="month-section">{{ month[selectedMonth - 1]['short'] }}</div>
        <div class="date-section">
          <span>{{ days[selectedDay]['middle'] }}</span>
          <span>{{ selectedDate }}</span>
        </div>
      </div>

      <div class="date-mobile">
        <div class="nextback">
          <div class="back" @click="addDay(-1)"><i class="fa fa-angle-left"></i></div>
          <div class="next" @click="addDay(1)"><i class="fa fa-angle-right"></i></div>
        </div>
        <div class="date-section">
          <span>{{ days[selectedDay]['middle'] }}</span> 
          <span>{{ selectedDate }}</span> 
          <span>{{ month[selectedMonth - 1]['short'] }}</span> 
          <span>{{ selectedYear }}</span> 
        </div>
      </div>
      <div class="line-section"></div>
    </div>
    <div class="panel-right" v-show="!addTodoListDisp">
      <div class="heading-section">
        <i class="fa fa-check-circle _text-blue" aria-hidden="true"></i>
        <span class="heading-text">Today's list</span>
      </div>
      <div class="detail-section">
        <template v-if="details.length > 0">
          <template v-for="(detail, index) in details">
            <detail-leave :key="index" v-show="filterDetailGroupDisp(detail.type, 'leave')"
                          :detail="detail"/>
            <detail-todo-list :key="index" v-show="filterDetailGroupDisp(detail.type, 'todoList')"
                              :detail="detail"
                              :togglePage="togglePage"
                              :setTodoListDetails="setTodoListDetails"
                              :deleteTodoList="deleteTodoList"/>
            <detail-appointment :key="index" v-show="filterDetailGroupDisp(detail.type, 'appointment')"
                                :detail="detail"/>
            <detail-training :key="index" v-show="filterDetailGroupDisp(detail.type, 'training')"
                             :detail="detail"/>
            <detail-holiday :key="index" v-show="filterDetailGroupDisp(detail.type, 'holiday')"
                            :detail="detail"/>
          </template>
        </template>
        <template v-else>
          <div class="detail-no-event">
            <div class="-content">
              There are no events on this day.
            </div>
          </div>
        </template>
      </div>
    </div>
    
    <add-todo-list v-show="addTodoListDisp" 
                  :togglePage="togglePage"
                  :detail="todoListDetails"
                  :saveTodoList="saveTodoList"/>
  </div>
</template>

<script>
import addTodoList from './addTodoList'
import detailHoliday from './detailHoliday'
import detailLeave from './detailLeave'
import detailTodoList from './detailTodoList'
import detailAppointment from './detailAppointment'
import detailTraining from './detailTraining'
import _ from 'lodash'

export default {
  name: 'dash-calendar-mode-day',
  props: {
    toggleMode: {
      type: Function
    },
    togglePage: {
      type: Function
    },
    viewMonthDisp: {
      type: Boolean
    },
    viewDayDisp: {
      type: Boolean
    },
    addTodoListDisp: {
      type: Boolean
    },
    nowLang: {
      type: String
    },
    days: {
      type: Array
    },
    month: {
      type: Array
    },
    calendar: {
      type: Object
    },
    filterCalendar: {
      type: Function
    },
    selectedDate: {
      type: Number
    },
    selectedDay: {
      type: Number
    },
    selectedMonth: {
      type: Number
    },
    selectingMonth: {
      type: Number
    },
    selectedYear: {
      type: Number
    },
    selectingYear: {
      type: Number
    },
    calendarDetailGroup: {
      type: Object
    },
    filterDetailGroupDisp: {
      type: Function
    },
    addDay: {
      type: Function
    },
    todoListDetails: {
      type: Object
    },
    setTodoListDetails: {
      type: Function
    },
    saveTodoList: {
      type: Function
    },
    deleteTodoList: {
      type: Function
    }
  },
  computed: {
    details () {
      let calendarFilter = this.filterCalendar(this.selectedDate)
      let calendarDetail = []
      _.each(calendarFilter, function (calendar, index) {
        if (typeof calendar.events !== 'undefined') {
          calendarDetail = calendar.events
        }
      })
      return this.sortByTimstrt(calendarDetail)
    }
  },
  methods: {
    sortByTimstrt (calendarEvent) {
      calendarEvent.sort(function (calendarEventA, calendarEventB) {
        return parseInt(calendarEventA.timstrt.replace(':', '') + '' + calendarEventA.numType) - parseInt(calendarEventB.timstrt.replace(':', '') + '' + calendarEventB.numType)
      })
      return calendarEvent
    }
  },
  components: {
    addTodoList,
    detailHoliday,
    detailLeave,
    detailTodoList,
    detailAppointment,
    detailTraining
  }
}
</script>