<template>
  <tr>
    <!-- Loop Date Number -->
    <template v-for="(value, index) in arrWeek">
      <template v-if="value != ''">
        <td :key="index" class="numberdate-set" @click="toggleDetail(value, index)">
          <div class="numberdate-box">
            <div class="numberdate-center">
              <div class="numberdate" :class="{ 'active': checkCurrentDay(value) }">{{ value }}</div>
            </div>
          </div>
          <div class="date-type">
            <template v-for="(calendar, index) in filterCalendar(value)">
              <template v-if="typeof calendar.events !== 'undefined'">
                <template v-for="(val, eventItem) in groupEventCategory(calendar.events)">
                  <i :key="eventItem" class="fa fa-circle -leave" aria-hidden="true" v-if="val && filterDetailGroupDisp(eventItem, 'leave')"></i>
                  <i :key="eventItem" class="fa fa-circle -appointment" aria-hidden="true" v-if="val && filterDetailGroupDisp(eventItem, 'appointment')"></i>
                  <i :key="eventItem" class="fa fa-circle -training" aria-hidden="true" v-if="val && filterDetailGroupDisp(eventItem, 'training')"></i>
                  <i :key="eventItem" class="fa fa-circle -todolist" aria-hidden="true" v-if="val && filterDetailGroupDisp(eventItem, 'todoList')"></i>
                  <i :key="eventItem" class="fa fa-circle -holiday" aria-hidden="true" v-if="val && filterDetailGroupDisp(eventItem, 'holiday')"></i>
                </template>
              </template>
            </template>
          </div>
        </td>
      </template>
      <template v-else>
        <td><div></div></td>
      </template>
    </template>
  </tr>
</template>

<script>
export default {
  name: 'dash-calendar-week-row',
  props: {
    calendar: {
      type: Object
    },
    filterCalendar: {
      type: Function
    },
    arrWeek: {
      type: Array
    },
    setSelectDate: {
      type: Function
    },
    checkCurrentDay: {
      type: Function
    },
    checkSelectedDay: {
      type: Function
    },
    selectedMonth: {
      type: Number
    },
    selectedYear: {
      type: Number
    },
    selectingYear: {
      type: Number
    },
    selectingMonth: {
      type: Number
    },
    togglePage: {
      type: Function
    },
    toggleMode: {
      type: Function
    },
    calendarDetailGroup: {
      type: Object
    },
    filterDetailGroupDisp: {
      type: Function
    }
  },
  methods: {
    toggleDetail (date, day) {
      this.setSelectDate({ date: date, day: day })
      this.togglePage('day')
    },
    groupEventCategory (events) {
      let groupEvent = {
        leave: false,
        appointment: false,
        training: false,
        todoList: false,
        holiday: false
      }
      events.map((event) => {
        if (event.type in groupEvent) {
          groupEvent[event.type] = true
        }
      })
      return groupEvent
    }
  }
}
</script>