<template>
  <div class="monthyear-box">
    <i class="fa fa-angle-left left-button" aria-hidden="true" v-on:click="addMonth(-1)"></i>
    <div class="monthyear-dropdown">
      <div class="month-dropdown">
        <hrms-dropdown-month v-model="selectionMonth" :nowLang="nowLang" />
      </div>
      <div class="year-dropdown">
        <hrms-dropdown-year v-model="selectionYear" :minYear="minYear" :maxYear="maxYear" :nowLang="nowLang" />
      </div>
    </div>
    <i class="fa fa-angle-right right-button" aria-hidden="true" v-on:click="addMonth(1)"></i>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'dash-calendar-year',
  props: [ 'selectingYear', 'setSelectYear', 'selectingMonth', 'setSelectMonth', 'addMonth', 'nowLang' ],
  data () {
    return {
      selectionMonth: this.selectingMonth,
      selectionYear: this.selectingYear
    }
  },
  computed: {
    maxYear () {
      return parseInt(moment().format('YYYY')) + 10
    },
    minYear () {
      return parseInt(moment().format('YYYY')) - 50
    }
  },
  watch: {
    selectingYear () {
      this.selectionYear = this.selectingYear
    },
    selectionYear () {
      this.setSelectYear(this.selectionYear - this.selectingYear)
    },
    selectingMonth () {
      this.selectionMonth = this.selectingMonth
    },
    selectionMonth () {
      this.setSelectMonth(this.selectionMonth)
    }
  }
}
</script>