<template>
<div class="ex-wrapper">
  <div class="heading">Card</div>
  <div class="description">All Information about Card.</div>

	<ex-card1 />
  <ex-card2 />
</div>
</template>

<script>
import exCard1 from './ex-card-1'
import exCard2 from './ex-card-2'

var Prism = require('prismjs')
var code = `

`
var html = Prism.highlight(code, Prism.languages.markup)

export default {
  name: 'ex-card',
  data () {
    return {
      tag: html
    }
  },
  created () {
    // console.log(this.tag)
  },
  components: {
    exCard1,
    exCard2
  }
}
</script>