<template>
<div class="ex-wrapper">
		<div class="heading">Colors</div>
		<div class="description">All Information about Colors.</div>

		<div class="example-set">
			<div class="example clearfix">
					<div class="col-xs-2 ex-color">
						<div class="color-box">
							<div class="color _bg-blue"></div>
							<div class="color-code">#3887C8</div>
						</div>
						<div class="detail-color _text-blue">
							Add <br/>
							Submit <br/>
							Search <br/>
						</div>
					</div>

					<div class="col-xs-2 ex-color">
						<div class="color-box">
							<div class="color _bg-green"></div>
							<div class="color-code">#56BD5B</div>
						</div>
						<div class="detail-color _text-green">
							Save <br/>
							Process
						</div>
					</div>

					<div class="col-xs-2 ex-color">
						<div class="color-box">
							<div class="color _bg-orange"></div>
							<div class="color-code">#F7B422</div>
						</div>
						<div class="detail-color _text-orange">
							Warning <br/>
							Alert
						</div>
					</div>

					<div class="col-xs-2 ex-color">
						<div class="color-box">
							<div class="color _bg-red"></div>
							<div class="color-code">#E34C4C</div>
						</div>
						<div class="detail-color _text-red">
							Delete
						</div>
					</div>
					<div class="col-xs-2 ex-color">
						<div class="color-box">
							<div class="color _bg-grey"></div>
							<div class="color-code">#636363</div>
						</div>
						<div class="detail-color">
							Cancel <br/>
							Back <br/>
							Other 
						</div>
					</div>

			</div>
<!-- 			<pre class="use">
				<code class="language-markup" style="tab-size:1;">
					
				</code>
			</pre> -->

		</div>
		
	</div>
</template>

<script>
var Prism = require('prismjs')
var code = `
`
var html = Prism.highlight(code, Prism.languages.markup)

export default {
  name: 'ex-color',
  data () {
    return {
      tag: html
    }
  },
  created () {
    // console.log(this.tag)
  }
}
</script>