<template>
  <div class="lucky-draw">
    <!-- <img :src="require('@/assets/image/LuckyDraw/bg_image_revise.jpg')"> -->
    <div class="lucky-box">
      <div class="lucky-title">หมายเลขผู้โชคดี ที่ได้รับรางวัล</div>
      <div class="lucky-counter">
        <div id="lucky_counter_1" class="counter-item" />
        <div id="lucky_counter_2" class="counter-item" />
        <div id="lucky_counter_3" class="counter-item" />
      </div>
      <div class="lucky-man" :class="{'-disp' : luckyManDisp}">{{luckyMan}}</div>
    </div>
    
    <div class="lucky-button">
      <!-- <input type="button" class="button-lg _bg-green"@click="generate()">ค้นหาผู้โชคดี</div> -->
      <input v-show="disabled"  type="button" class="button-lg _bg-green-disable -disable" value="ค้นหาผู้โชคดี" disabled="disabled" />
      <input v-show="!disabled" type="button" class="button-lg _bg-green" value="ค้นหาผู้โชคดี" @click="generate()" />
    </div>
  </div>
</template>

<script>
import { Counter } from './assets/counter.js'
import _ from 'lodash'

export default {
  name: 'lucky-draw',
  data () {
    return {
      users: require('./assets/users'),
      luckyNumber: '000',
      luckyMan: '',
      luckyManDisp: false,
      luckyCounter1: null,
      luckyCounter2: null,
      luckyCounter3: null,
      timerId1: null,
      timerId2: null,
      timerId3: null,
      count1: 0,
      count2: 0,
      count3: 0,
      disabled: false,
      counterOption: {
        digitsNumber: 1,
        direction: Counter.ScrollDirection.Downwards,
        characterSet: Counter.DefaultCharacterSets.numericUp,
        charsImageUrl: './static/image/counter/numeric_up_blackbg5.png',
        markerImageUrl: './static/image/counter/marker.png'
      }
    }
  },
  mounted () {
    this.luckyCounter1 = new Counter('lucky_counter_1', this.counterOption)
    this.luckyCounter2 = new Counter('lucky_counter_2', this.counterOption)
    this.luckyCounter3 = new Counter('lucky_counter_3', this.counterOption)
  },
  watch: {
    count1 () {
      if (this.count1 > 30) {
        clearInterval(this.timerId1)
        this.luckyCounter1.setValue(this.luckyNumber.substring(0, 1))
      }
    },
    count2 () {
      if (this.count2 > 50) {
        clearInterval(this.timerId2)
        this.luckyCounter2.setValue(this.luckyNumber.substring(1, 2))
      }
    },
    count3 () {
      if (this.count3 > 70) {
        clearInterval(this.timerId3)
        this.luckyCounter3.setValue(this.luckyNumber.substring(2, 3))
        this.disabled = false
        this.luckyManDisp = true
      }
    }
  },
  methods: {
    generate () {
      this.disabled = true
      this.luckyManDisp = false
      this.count1 = 0
      this.count2 = 0
      this.count3 = 0
      let userIndex = Math.floor(Math.random() * this.users.length)
      let user = {
        number: 0,
        name: 'ไม่มีรายชื่อผู้โชคดี'
      }
      if (this.users[userIndex]) {
        user = this.users[userIndex]
        this.users.splice(userIndex, 1)
      }
      this.luckyNumber = _.padStart(user.number, 3, '0')
      this.luckyMan = user.name
      this.timerId1 = setInterval(() => {
        this.count1++
        this.luckyCounter1.setValue(Math.floor(Math.random() * 10))
      }, 100)
      this.timerId2 = setInterval(() => {
        this.count2++
        this.luckyCounter2.setValue(Math.floor(Math.random() * 10))
      }, 100)
      this.timerId3 = setInterval(() => {
        this.count3++
        this.luckyCounter3.setValue(Math.floor(Math.random() * 10))
      }, 100)
    }
  }
}
</script>

<style src="./assets/style.scss" lang="scss"></style>