<template>
 <div class="body-wrapper">
    <div class="row">
      <div class="col-md-3 group-space-sm">
        <div class="input-group">
          <div class="label">{{ labels['HRPMB5E2']['10'] }}</div>
            <hcm-lov v-model="params.codcompy"
                    :nowLang="nowLang"
                    lovType="codcompy"
                    v-validate="'required'"
                    :descDisp="false"
                    data-vv-value-path="inputValue"
                    data-vv-as="codcompy"
                    data-vv-name="codcompy"
                    name="codcompy"
                    :disabled="!detailDisabled"  />
        </div>
      </div>
      <div class="col-md-3 group-space-sm">
        <div class="input-group">
          <div class="label">{{ labels['HRPMB5E2']['20'] }}</div>
          <hrms-datepicker  v-model="params.dteeffect"
                              v-validate="'required|date_format:DD/MM/YYYY'"
                              data-vv-value-path="inputDate"
                              data-vv-name="dteeffect"
                              data-vv-as="Effec Date"
                              name="dteeffect"
                              :disabled="!detailDisabled" />
        </div>
      </div>
      <div class="col-md-3 group-space-sm">
        <div class="input-group">
          <div class="label">{{ labels['HRPMB5E2']['30'] }}</div>
          <hcm-lov v-model="params.codfrm"
                  :nowLang="nowLang"
                  lovType="codfrm"
                  v-validate="'required'"
                  :descDisp="false"
                  data-vv-value-path="inputValue"
                  data-vv-as="codfrm"
                  data-vv-name="codfrm"
                  name="codfrm"
                  :disabled="!detailDisabled"  />
        </div>
      </div>
      <div class="col-md-3" style="padding: 35px 0">
        <div v-if="!detailDisabled" type="button" class="button-md -disable _bg-blue-disable" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>
        <div v-if="detailDisabled" type="button" class="button-md _bg-blue"  @click="submitEvent()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>
      </div>
      <div class="underline"></div>
    </div>
    <div class="row">
      <div class="group-topic group-space-lg">{{ labels['HRPMB5E2']['40'] }}</div>
    </div>
    <div class="row">
      <div class="col-md-4 group-space-sm">
        <div class="input-group">
          <div class="label">{{ labels['HRPMB5E2']['50'] }}</div>
            <input class="normal-input" type="text" name="input" v-model="params.namfrm" :disabled="detailDisabled">
        </div>
        <div class="input-group">
          <div class="label">{{ labels['HRPMB5E2']['60'] }}</div>
          <textarea class="normal-textarea" type="text" name="textarea" v-model="params.syncond" :disabled="detailDisabled"></textarea>
        </div>
      </div>
      <div class="col-md-8">
        <hrms-table :labels="labels"
                    :columns="columns.detail" 
                    :data="detail.table"
                    :nowLang="nowLang"
                    :searchDisp="false"
                    :tablePageDisp="false"
                    :columnSettingDisp="false"
                    :csvExportDisp="false"
                    :editInlineEventBool="true"
                    :saveInlineBtnDisp="false" />
      </div>
    </div>
    <div class="row" style="padding-top:20px;"> 
      <div class="group-space-sm">   
        <button type="button" class="button-md _bg-grey" @click="toggle('index')" value="Back"><i class="fa fa-chevron-circle-left"></i>{{ labelsButton['back'] }}</button>   
        <div type="button" class="button-md _bg-blue"  @click="saveDetail(saveParams())" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hrpmb5e-detail',
  data () {
    return {
      data: this.value,
      params: {
        codcompy: '',
        dteeffect: '',
        codfrm: '',
        namfrm: '',
        syncond: ''
      }
    }
  },
  watch: {
    'data.codcompy' (newValue) {
      this.$emit('input', { codcompy: newValue })
    },
    value (newValue) {
      this.data = newValue
    },
    detail () {
      if (this.eventBtn === 'add') {
        this.params.codcompy = this.detail.detail.codcompy
        this.params.dteeffect = this.detail.detail.dteeffect
        this.params.codfrm = this.detail.detail.codfrm
        this.params.namfrm = this.detail.detail.namfrm
      } else if (this.eventBtn === 'edit') {
        this.params.codcompy = this.searchIndex.codcompy
        this.params.dteeffect = this.searchIndex.dteeffect
        this.params.codfrm = this.indexSelected.codfrm
        this.params.namfrm = this.indexSelected.namfrm
      }
      this.params.syncond = this.detail.syncond
    }
  },
  methods: {
    submitEvent () {
      if (this.params.codcompy !== '' && this.params.dteeffect !== '' && this.params.codfrm !== '') {
        let detailParams = {
          p_syncond: this.params.syncond
        }
        this.$validator.validateAll().then(result => {
          if (result) {
            this.$emit('setDetailDisabled', false)
          }
        })
        this.receivedHrpmb5eDetail(detailParams)
        this.$emit('setDetailDisabled', false)
      }
    },
    saveParams () {
      return {
        indexSelected: this.indexSelected,
        detail: this.detail
      }
    }
  },
  props: [ 'labels',
    'labelsButton',
    'detail',
    'toggle',
    'nowLang',
    'searchIndex',
    'indexSelected',
    'saveDetail',
    'detailDisabled',
    'eventBtn',
    'receivedHrpmb5eDetail',
    'columns'
  ]
}
</script>
