<template>
  <div class="index-header-box">
    <div class="index-col">
      <div class="index-set">
        <div class="index-label">{{ higherOrderLabels['HRPMB5E1']['10'] }} :</div>
        <div class="index-data">{{higherOrderData.codcompy}} - {{higherOrderData.desc_codcompy}}</div>
      </div>
      <div class="index-set">
        <div class="index-label">{{ higherOrderLabels['HRPMB5E1']['20'] }} :</div>
        <div class="index-data">{{higherOrderData.dteeffect}}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hrpmb5e-index-head',
  props: {
    higherOrderLabels: {
      type: Object
    },
    higherOrderEvent: {
      type: Object
    },
    higherOrderData: {
      type: Object
    }
  }
}
</script>

