<template>
  <div id="component-detail" class="body-wrapper">
    <div class="clearfix">
      <div class="collapse-group">
        <div class="panel-group" id="accordion">
          <div class="panel">
            <detail-employee :labels="labels"
                              :labelsButton="labelsButton"
                              :detailEmployee="detail.tab1"
                              :columns="columns"
                              :nowLang="nowLang"
                              :flgCollapse="flgCollapse"
                              :setCollapseToggle="setCollapseToggle"
                              :pinCollapse="pinCollapse"
                              :setPinCollapseToggle="setPinCollapseToggle"/>

            <detail-form :labels="labels"
                          :labelsButton="labelsButton"
                          :detailForm="detail.tab2"
                          :columns="columns"
                          :flgCollapse="flgCollapse"
                          :setCollapseToggle="setCollapseToggle"
                          :pinCollapse="pinCollapse"
                          :setPinCollapseToggle="setPinCollapseToggle"/>
          </div>
        </div>
      </div>
      <button type="button" class="button-md _bg-blue" @click="saveHrpm55rDetail(saveParams())" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</button>  
     </div>
  </div>
</template>

<script>
import detailEmployee from './detailEmployee'
import detailForm from './detailForm'

export default {
  name: 'component-detail',
  data () {
    return {
      pinCollapse: {
        employee: false,
        form: false
      },
      flgCollapse: {
        employee: false,
        form: true
      }
    }
  },
  methods: {
    resetCollapse () {
      this.flgCollapse = {
        employee: false,
        form: true
      }
      this.pinCollapse = {
        employee: false,
        form: false
      }
    },
    setPinCollapseToggle (tab) {
      this.pinCollapse[tab] = !this.pinCollapse[tab]
    },
    setCollapseToggle (tab) {
      for (let collapseTab in this.flgCollapse) {
        if (collapseTab !== tab) {
          if (!this.pinCollapse[collapseTab]) {
            this.flgCollapse[collapseTab] = true
          }
        }
      }
      this.flgCollapse[tab] = !this.flgCollapse[tab]
    },
    saveParams () {
      return {
        detial: this.detail
      }
    }
  },
  props: [
    'labels',
    'labelsButton',
    'data',
    'toggle',
    'detail',
    'dropdowns',
    'nowLang',
    'columns',
    'saveHrpm55rDetail'
  ],
  components: {
    detailEmployee,
    detailForm
  }
}
</script>
