<template>
  <div id="component-index" class="search-heading">
    <!--search-->
    <div name="hrpm55r-search" class="group-space-sm clearfix" id="hrpm55r-search">
      <div class="row">
        <div class="col-md-3">
          <div class="input-group">
            <div class="label">{{ labels['HRPM55RP1']['10'] }}</div>
            <hcm-lov-codcomp  v-model="data.codcomp"
                              lovType="codcomp"
                              :descDisp="false"
                              :nowLang="nowLang"
                              name="codcomp"
                              :disabled="!detailDisabled"
                              :class="{ '-disable': !detailDisabled }"
                              v-validate="'required'"
                              data-vv-value-path="inputValue"
                              data-vv-name="codcomp"
                              data-vv-as="Code of Company"
                              :has-error="errors.has('codcomp')" />
            <div class="validator-text -error" v-show="errors.has('codcomp')" >{{errors.first('codcomp')}}</div>
          </div>
          <div class="input-group">
            <div class="label">{{ labels['HRPM55RP1']['20'] }}</div>
              <hrms-datepicker  v-model="data.stdate"
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="stdate"
                                data-vv-as="Date"
                                name="stdate"
                                :has-error="errors.has('stdate')"
                                :disabled="!detailDisabled" />
          </div>
          <div class="input-group">
            <div v-if="!detailDisabled" type="button" class="button-md -disable _bg-blue-disable" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>
          <div v-if="detailDisabled" type="button" class="button-md _bg-blue"  @click="submitEvent()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="input-group">
            <div class="label">{{ labels['HRPM55RP1']['30'] }}</div>
              <hcm-lov  v-model="data.codempid"
                        lovType="codempid"
                        :descDisp="false"
                        :nowLang="nowLang"
                        name="codempid"
                        :disabled="!detailDisabled"
                        :class="{ '-disable': !detailDisabled }"
                        v-validate="'required'"
                        data-vv-value-path="inputValue"
                        data-vv-name="codempid"
                        data-vv-as="Code of Employee"
                        :has-error="errors.has('codempid')" />
            <div class="validator-text -error" v-show="errors.has('codempid')" >{{errors.first('codempid')}}</div>
          </div>
          <div class="input-group">
            <div class="label">{{ labels['HRPM55RP1']['20'] }}</div>
              <hrms-datepicker  v-model="data.endate"
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="endate"
                                data-vv-as="Date"
                                name="endate"
                                :has-error="errors.has('endate')"
                                :disabled="!detailDisabled" />
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'component-index',
  data () {
    return {
      data: this.value
    }
  },
  watch: {
    value (newValue) {
      this.data = newValue
    }
  },
  methods: {
    submitEvent () {
      this.$validator.validateAll().then(result => {
        if (result) {
          let searchParams = {
            p_codcomp: this.data.codcomp,
            p_codempid: this.data.codempid
          }
          this.receivedHrpm55rDetail(searchParams)
        }
      })
    },
    callNew () {
      this.data.codcomp = ''
      this.data.codempid = ''
      let searchParams = {
        p_codcomp: '',
        p_codempid: ''
      }
      this.receivedHrpm55rDetailCreate(searchParams)
      this.$nextTick(() => {
        this.errors.clear()
      })
    }
  },
  props: [
    'labels',
    'value',
    'labelsButton',
    'toggle',
    'nowLang',
    'receivedHrpm55rDetail',
    'receivedHrpm55rDetailCreate',
    'detailDisabled',
    'setDetailDisabled',
    'detail'
  ]
}
</script>
