<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.form }" :aria-expanded="!flgCollapse.form" @click.self="setCollapseToggle('form')" data-parent="#form" href="#form" >
      <div class="title" @click.self="setCollapseToggle('form')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('form')"></i>{{ labels['HRPM55RP2']['10'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('form')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('form')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.form ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('form')"></i>
    </div>
    <div id="detail-form" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.form}">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div class="input-group">
              <div class="label">{{ labels['HRPM55RP2']['20'] }}</div>
                <hcm-lov  v-model="detailForm.detail.tempfile"
                          lovType="tempfile"
                          :descDisp="false"
                          :nowLang="nowLang"
                          name="tempfile"
                          v-validate="'required'"
                          data-vv-value-path="inputValue"
                          data-vv-name="tempfile"
                          data-vv-as="Code of Tempfile"
                          :has-error="errors.has('tempfile')"
                          :disabled="detailDisabled"  />
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group">
              <div class="label">{{ labels['HRPM55RP2']['30'] }}</div>
                <hrms-datepicker  v-model="detailForm.detail.dtehmref"
                                  v-validate="'required|date_format:DD/MM/YYYY'"
                                  data-vv-value-path="inputDate"
                                  data-vv-name="dtehmref"
                                  data-vv-as="Date"
                                  name="dtehmref"
                                  :has-error="errors.has('dtehmref')"
                                  :disabled="detailDisabled" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group">
              <div class="label">{{ labels['HRPM55RP2']['40'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detailForm.detail.numdoc" :disabled="detailDisabled">
            </div>
          </div>
        </div>
        
          <hrms-table :labels="labels"
                      :columns="columns.detailTab2" 
                      :data="detailForm.table"
                      :nowLang="nowLang"
                      :saveInlineBtnDisp="false"
                      :editInlineEventBool="true"
                      :deleteInlineEventBool="true"
                      :deleteInlineBtnDisp="false"  />
       

    </div>
  </div>
  </div>
</template>

<script>
export default {
  name: 'detail-form',
  props: [ 'nowLang',
    'labels',
    'labelsButton',
    'columns',
    'detailForm',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ]
}
</script>
