<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.employee }" :aria-expanded="!flgCollapse.employee" @click.self="setCollapseToggle('employee')" data-parent="#employee" href="#employee" >
      <div class="title" @click.self="setCollapseToggle('employee')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('employee')"></i>{{ labels['HRPM55RP1']['50'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('employee')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('employee')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.employee ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('employee')"></i>
    </div>
    <div id="detail-employee" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.employee}">
      <div class="panel-body">
        <hrms-table :labels="labels"
                    :columns="columns.detailTab1" 
                    :data="detailEmployee"
                    :nowLang="nowLang"
                    :saveInlineBtnDisp="false"
                    :deleteInlineEventBool="true"
                    :deleteInlineBtnDisp="false"  />
     
      </div>
    </div>
  </div>
  </div>
</template>

<script>
export default {
  name: 'detail-employee',
  props: [ 'nowLang',
    'labels',
    'columns',
    'labelsButton',
    'detailEmployee',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ]
}
</script>
