<template>
  <div id="page-dashboard" class="page-dashboard">
    <div class="dashboard-left">
  		<div class="dashboard-profile">
  			<img class="profile-header-img" :src="require('@/assets/image/dashboard/banner_crop.jpg')">
        <div class="shadow-img"></div>
        <div class="user-img">
          <img class="img" :src="require('@/assets/image/ex-photo.jpg')">
          <div class="profile-title">
            <div class="title-1">Welcome {{ app.currentUser.username[app.nowLang] }}</div>
            <div class="title-2">Good morning, let's have a happy working day today.</div>
          </div>
        </div>
  		</div>

      <dash-setting :hideSettingToggleItem="hideSettingToggleItem"
                    :saveSetting="saveSetting"
                    :resetSetting="resetSetting"
                    :toggleSettingToggleItem="toggleSettingToggleItem"
                    :dispSettingToggleItem="dispSettingToggleItem"
                    :dashLayoutCustom="dashLayoutCustom"
                    :isDrag="isDrag"
                    :toggleDrag="toggleDrag"/>

      <div class="dashboard-detail">
      	<div class="row">
          <div class="clear-padding col-xl-8">
            <div class="row">
              <div class="clear-padding col-xl-12">
                <dash-calendar />
              </div>
              <div class="clear-padding col-xl-6">
                <draggable v-model="dashLayoutCustom.left" class="clearfix " :class="[ isDrag ? 'draggable' : '']" :options="{disabled: !isDrag, group: 'dashItem'}">
                  <div v-for="(dashItem, index) in dashLayoutCustom.left" :key="index">
                    <dash-item-list :item="dashItem"
                                    :hideWidget="hideWidget" />
                  </div>
                </draggable>
              </div>
              <div class="clear-padding col-xl-6">
                <draggable v-model="dashLayoutCustom.center" class="clearfix " :class="[ isDrag ? 'draggable' : '']" :options="{disabled: !isDrag, group: 'dashItem'}">
                  <div v-for="(dashItem, index) in dashLayoutCustom.center" :key="index">
                    <dash-item-list :item="dashItem"
                                    :hideWidget="hideWidget" />
                  </div>
                </draggable>
              </div>
            </div>
          </div>
          <div class="clear-padding col-xl-4">
            <draggable v-model="dashLayoutCustom.right" class="clearfix " :class="[ isDrag ? 'draggable' : '']" :options="{disabled: !isDrag, group: 'dashItem'}">
              <div v-for="(dashItem, index) in dashLayoutCustom.right" :key="index">
                <dash-item-list :item="dashItem"
                                :hideWidget="hideWidget" />
              </div>
            </draggable>
          </div>
      	</div>
      </div>
    </div>

    <div class="dashboard-right">
  		<dash-contact />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as types from './store/mutation-types'
import dashCalendar from './components/calendar/index'
import dashContact from './components/contact/index'
import dashSetting from './components/dashSetting'
import dashItemList from './components/dashItemList'
import draggable from 'vuedraggable'
import swal from 'sweetalert'
import { constLabels } from 'assets/js/constLabels'
import _ from 'lodash'

export default {
  name: 'home',
  data () {
    return {
      app: this.$root.$children[0],
      isDrag: false,
      dispSettingToggleItem: false,
      dashLayoutCustom: {},
      dashItemCustom: {}
    }
  },
  created () {
    this.receivedDashLayoutDefault()
    this.receivedDashLayout()
  },
  watch: {
    dashLayout () {
      this.dashLayoutCustom = _.cloneDeep(this.dashLayout)
    }
  },
  computed: {
    ...mapGetters({
      dashLayoutDefault: types.GET_DASH_LAYOUT_DEFAULT,
      dashLayout: types.GET_DASH_LAYOUT
    })
  },
  methods: {
    hideWidget (widgetName) {
      let _this = this
      _.each(this.dashLayoutCustom, function (layout, layoutName) {
        _.each(layout, function (widget, widgetKey) {
          if (widget.component === widgetName) {
            _this.dashLayoutCustom[layoutName][widgetKey]['enabled'] = false
          }
        })
      })
    },
    hideSettingToggleItem () {
      this.dispSettingToggleItem = false
    },
    toggleSettingToggleItem () {
      this.dispSettingToggleItem = !this.dispSettingToggleItem
    },
    toggleDrag () {
      this.hideSettingToggleItem()
      this.isDrag = !this.isDrag
    },
    saveSetting () {
      let _this = this
      swal({
        title: constLabels('confirmTitle'),
        text: constLabels('msgConfirmSave'),
        showCancelButton: true,
        closeOnConfirm: false,
        confirmButtonText: 'ok',
        cancelButtonText: 'cancel',
        html: true
      },
      function (isConfirm) {
        if (isConfirm) {
          _this.isDrag = false
          _this.dispSettingToggleItem = false
          _this.processSave()
        }
      })
    },
    resetSetting () {
      let _this = this
      swal({
        title: constLabels('confirmTitle'),
        text: constLabels('msgConfirmResetSetting'),
        showCancelButton: true,
        closeOnConfirm: false,
        confirmButtonText: 'ok',
        cancelButtonText: 'cancel',
        html: true
      },
      function (isConfirm) {
        if (isConfirm) {
          _this.isDrag = false
          _this.dispSettingToggleItem = false
          _this.dashLayoutCustom = _.cloneDeep(_this.dashLayoutDefault)
          _this.processSave()
        }
      })
    },
    processSave () {
      swal({title: '', text: constLabels('msgWaiting'), type: 'info', showConfirmButton: false})
      this.postDashLayout({
        saveParam: this.dashLayoutCustom
      })
    },
    ...mapActions({
      receivedDashLayoutDefault: types.RECEIVED_DASH_LAYOUT_DEFAULT,
      receivedDashLayout: types.RECEIVED_DASH_LAYOUT,
      receivedCalendar: types.RECEIVED_CALENDAR,
      postDashLayout: types.POST_DASH_LAYOUT
    })
  },
  components: {
    dashCalendar,
    dashContact,
    dashSetting,
    dashItemList,
    draggable
  }
}
</script>

<style src="./assets/style.scss" lang='scss'></style>
