<template>
  <div class="dash-item dashboard-banner dash-news">
    <div class="banner-header-icon">
      <div class="dropdown pull-right">
        <div class="dropdown-icon dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-cog" aria-hidden="true"></i>
          <span class="caret"></span>
        </div>
        <ul class="dropdown-menu">
          <div class="triangle"></div>
          <div class="dropdown-box">
            <li @click="hideWidget(widgetName)">hide widget</li>
          </div>
        </ul>
      </div>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <template v-if="typeof news.rows !== 'undefined'">
          <div class="carousel-item" :class="{'active': index === 0 }" v-for="(newItem, index) in news.rows" :key="index">
            <img class="d-block img-fluid" :src="require('@/assets/image/dashboard/' + newItem.image)">
            <div class="carousel-text">
              <div class="carousel-topic">{{ newItem.title }}</div>
              <div class="carousel-detail">{{ newItem.detail }}</div>
            </div>
          </div>
        </template>
      </div>
      <a class="carousel-control-prev -carousel-left" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="ion-ios-arrow-back -carousel-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next -carousel-right" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="ion-ios-arrow-forward  -carousel-icon" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as types from '../../store/mutation-types'

export default {
  name: 'dash-news',
  data () {
    return {
      widgetName: 'news'
    }
  },
  props: {
    hideWidget: {
      type: Function
    }
  },
  created () {
    this.receivedNews()
  },
  computed: {
    ...mapGetters({
      news: types.GET_NEWS
    })
  },
  methods: {
    ...mapActions({
      receivedNews: types.RECEIVED_NEWS
    })
  }
}
</script>