<template>
  <div class="index-header-box">   
    <div class="index-col">
      <div class="index-set">
        <div class="index-label">{{ higherOrderLabels['HRPM4CEC1']['10'] }} :</div>
        <div class="index-data">{{higherOrderData.codempid}} - {{higherOrderData.desc_codempid}}</div>
      </div>
      <div class="index-set">
        <div class="index-label">{{ higherOrderLabels['HRPM4CEC1']['20'] }} :</div>
        <div class="index-data">{{higherOrderData.codcomp}}</div>
      </div>
    </div>
    <div class="index-col">
      <div class="index-set">
        <div class="index-label">{{ higherOrderLabels['HRPM4CEC1']['30'] }} :</div>
        <div class="index-data">{{higherOrderData.codpos}}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hrpm4ce-index-head',
  props: {
    higherOrderLabels: {
      type: Object
    },
    higherOrderEvent: {
      type: Object
    },
    higherOrderData: {
      type: Object
    }
  }
}
</script>

