<template>
  <div name="hrpm4ce-popup-other-data" class="modal-group">  
	<div id="hrpm4ce-popup-other-data" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-lg">

		  <div class="modal-content">
		  	<div class="modal-header">
          <div class="modal-title" v-if="!detailCreateTablePopupDisp">{{ labels['HRCO2FEC1']['10'] }}</div>
          <div class="modal-title" v-if="detailCreateTablePopupDisp">{{ labels['HRCO2FEC1']['70'] }}</div>
          <div class="close ion-android-close" data-dismiss="modal"></div>
          <div class="tag fa fa-tag"></div>
		    </div>

		    <div class="modal-body">
					<div class="clearfix"> 
            <template v-if="!detailCreateTablePopupDisp">
              <div  class="row">
                <div class="col-md-4 group-space-lg">      
                  <div class="input-group">
                    <div class="label">{{ labels['HRCO2FEC1']['20'] }} : </div>
                  </div>
                </div>
                <div class="col-md-6">
                   <div class="input-group">
                      {{detailOtherDataPopup.detail.fortable}} - {{ detailOtherDataPopup.detail.desc_fortable }} 
                  </div>
                </div>
              </div>
               <div class="row">
                  <div class="col-md-12  group-space-lg">
                    <button type="button" class="button-sm _bg-small-button pull-right" @click="toggleCreateTable()">{{ labels['HRCO2FEC1']['70'] }}</button>  
                  </div>
                </div>
              <hrms-table :columns="detailOtherDataPopupColumns" 
                          :data="detailOtherDataPopup.table"
                          :popupSelected="popupSelected"                    
                          :indexDisp="false"
                          :searchDisp="false"
                          :tablePageDisp="false"
                           :csvExportDisp="false"
                          :columnSettingDisp="false" />
            </template>

            <template v-else>
              <div  class="row">
                <div class="col-md-4 group-space-lg">      
                  <div class="input-group">
                    <div class="label">{{ labels['HRCO2FEC1']['80'] }} : </div>
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRCO2FEC1']['90'] }} : </div>
                  </div>
                </div>  
                <div class="col-md-6 group-space-lg">
                  <div class="input-group">
                    {{ detailCreateTablePopup.detail.forprogram }} - {{detailCreateTablePopup.detail.desc_forprogram}}  
                  </div>
                  <div class="input-group">
                   {{ detailCreateTablePopup.detail.fortable }} - {{ detailCreateTablePopup.detail.desc_fortable }} 
                  </div>
                </div>
              </div>
              <hrms-table :columns="detailCreateTablePopupColumns" 
                          :data="detailCreateTablePopup.table" 
                          :popupSelected="popupSelected" 
                          :addInlineEventBool="true"
                          :deleteInlineEventBool="true"                
                          :deleteInlineBtnDisp="false"
                          :saveInlineBtnDisp="false"
                          :tablePageDisp="false" />

              <div class="modal-footer" >
                <div type="button" class="button-md _bg-grey" @click="back()" value="back"><i class="fa fa-chevron-circle-left"></i>{{ labelsButton['back'] }}</div> 
                <div type="button" class="button-md _bg-green"  @click="saveHrpm4ceCreateTablePopup(saveParams())" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div> 
              </div>
            </template>
           </div>
        </div>
               
		  </div>
		 </div>
	</div>
</div>
</template>


<script>
export default {
  name: 'hrpm4ce-popup-other-data',
  methods: {
    saveParams () {
      return {
        detail: this.detailCreateTablePopup
      }
    },
    // callSave (dataRowsHasFlg) {
    //   this.$validator.validateAll().then(result => {
    //     if (result) {
    //       for (var i = 0; i < dataRowsHasFlg.length; i++) {
    //         dataRowsHasFlg[i] = Object.assign(dataRowsHasFlg[i])
    //       }
    //       this.saveHrco01eCreateTablePopup(dataRowsHasFlg)
    //     }
    //   })
    // },
    back () {
      this.setCreateTablePopupDisp(false)
    },
    toggleCreateTable () {
      let popupParams = {}
      this.setCreateTablePopupDisp(true)
      this.receivedHrpm4ceCreateTablePopup(popupParams)
    }
  },
  props: [ 'labels',
    'nowLang',
    'detail',
    'labelsButton',
    'popupSelected',
    'setCreateTablePopupSelected',
    'detailOtherDataPopup',
    'detailOtherDataPopupColumns',
    'detailCreateTablePopup',
    'detailCreateTablePopupColumns',
    'setCreateTablePopupDisp',
    'detailCreateTablePopupDisp',
    'saveHrpm4ceCreateTablePopup',
    'receivedHrpm4ceCreateTablePopup'
  ]
}
</script>