
@font-face {
  font-family: 'promptblack';
  src: url('../fonts/prompt/prompt-black-webfont.woff2') format('woff2'),
       url('../fonts/prompt/prompt-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'promptblack_italic';
  src: url('../fonts/prompt/prompt-blackitalic-webfont.woff2') format('woff2'),
       url('../fonts/prompt/prompt-blackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'promptbold';
  src: url('../fonts/prompt/prompt-bold-webfont.woff2') format('woff2'),
       url('../fonts/prompt/prompt-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'prompt_boldbold_italic';
  src: url('../fonts/prompt/prompt-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/prompt/prompt-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'promptextrabold';
  src: url('../fonts/prompt/prompt-extrabold-webfont.woff2') format('woff2'),
       url('../fonts/prompt/prompt-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'promptextrabold_italic';
  src: url('../fonts/prompt/prompt-extrabolditalic-webfont.woff2') format('woff2'),
       url('../fonts/prompt/prompt-extrabolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'promptextralight';
  src: url('../fonts/prompt/prompt-extralight-webfont.woff2') format('woff2'),
       url('../fonts/prompt/prompt-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'promptextralight_italic';
  src: url('../fonts/prompt/prompt-extralightitalic-webfont.woff2') format('woff2'),
       url('../fonts/prompt/prompt-extralightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'promptitalic';
  src: url('../fonts/prompt/prompt-italic-webfont.woff2') format('woff2'),
       url('../fonts/prompt/prompt-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'promptlight';
  src: url('../fonts/prompt/prompt-light-webfont.woff2') format('woff2'),
       url('../fonts/prompt/prompt-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'promptlight_italic';
  src: url('../fonts/prompt/prompt-lightitalic-webfont.woff2') format('woff2'),
       url('../fonts/prompt/prompt-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'promptmedium';
  src: url('../fonts/prompt/prompt-medium-webfont.woff2') format('woff2'),
       url('../fonts/prompt/prompt-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
    font-family: 'promptregular';
    src: url('../fonts/prompt/prompt-regular-webfont.woff2') format('woff2'),
         url('../fonts/prompt/prompt-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/material-icon/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../fonts/material-icon/MaterialIcons-Regular.woff2') format('woff2'),
    url('../fonts/material-icon/MaterialIcons-Regular.woff') format('woff'),
    url('../fonts/material-icon/MaterialIcons-Regular.ttf') format('truetype');
}

html body {
  font-family: 'promptlight' !important;
}

.group-topic {
  font-size: 22px;
  font-family: 'promptmedium';
  padding: 40px 40px 10px;
  width: 100%;
}
.group-topic2 {
  font-size: 22px;
  font-family: 'promptmedium';
  padding: 40px 0 10px 0;
  width: 100%;
}

label {
  font-size: 16px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.validator-text {
  display: table-row;
  font-size: 12px;

  &.-success {
    color: #56BD5B;
  }
  &.-error {
    color: #E34C4C;
  }
}

// ::-webkit-scrollbar {
//   width: 2px;
// }
// ::-webkit-scrollbar-track {
//   background: #E3E3E3;
// }
// ::-webkit-scrollbar-thumb {
//   background: #C1C1C1;
//   border-radius: 2px;
// }

._logicaltext-td {
  padding: 20px 6px !important;
}

.-disable {
  input {
    background: #e1e1e1;
  }
}