<template>
  <div name="hcm-hral4ke" class="hcm-hral4ke">
    <div class="row">
      <div class="col-md-12 group-space-md">
          <div class="input-group">
            <div class="label">{{ labels[nowLang]['HRAL4KE']['10'] }}</div>
              <div class="row">
                <div class="col-md-6 group-space-md">
                  <div class="radio-group">
                    <input class="radio-true" type="radio" v-model="inputValue" value="1" id="dateLabel">
                    <label class="radio-fake _unmargin" for="dateLabel"></label>
                    <label class="radio-label" style="left :40px;" for="dateLabel">{{ labels[nowLang]['HRAL4KE']['11'] }}</label>
                  </div>
                </div>
                <div class="col-md-6 group-space-md">
                  <div class="radio-group">
                    <input class="radio-true" type="radio" v-model="inputValue" value="2" id="codempidLabel" />
                    <label class="radio-fake _unmargin" for="codempidLabel"></label>
                    <label class="radio-label" style="left :40px;" for="codempidLabel">{{ labels[nowLang]['HRAL4KE']['12'] }}</label>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import assetsLabels from 'assets/js/labels'
import labels from './assets/labels'

export default {
  name: 'hcm-hral4ke',
  data () {
    return {
      inputValue: this.value,
      labels: labels
    }
  },
  watch: {
    value () {
      this.inputValue = this.value
    },
    inputValue (newVal) {
      this.$emit('input', this.inputValue)
    }
  },
  props: {
    value: {
      type: String,
      required: true
    },
    nowLang: {
      type: String,
      default: assetsLabels.defaultLang
    }
  }
}
</script>
