@import "../../../../modules/global";
.hral22e {
    .underline-header {
        margin: 0 15px;
        padding: 5px 0;
        border-bottom: 2px solid $black-50;
    }
    .bold {
    		font-weight: bold;
    }
}