<template>
  <div id="hcm-calendar" class="hcm-calendar clearfix">
    <div v-if="showSideDetail" id="sideDetail" class="panel-left">
      <div class="date-pc">
        <div class="year-section">
          <div class="year">{{ selectedYear }}</div>
          <!-- <div class="next" @click="addDay(1)"><i class="fa fa-angle-right"></i></div> -->
          <!-- <div class="back" @click="addDay(-1)"><i class="fa fa-angle-left"></i></div> -->
        </div>
        <div class="month-section">{{ months[selectedMonth - 1]['short'] }}</div>
        <div class="date-section">
          <span>{{ days[selectedDay]['middle'] }}</span>
          <span>{{ selectedDate }}</span>
        </div>

        <div class="label-group" v-if="arrHoliday">
          <div v-for="(dateDetail, dateDetailIndex) in arrHoliday" :key="dateDetailIndex" class="label-item">
            <i :class="'fa fa-circle ' + dateDetail.typwork"></i>
            <div class="label-date">{{ dateDetail.dtedate }}</div>
            <div class="label-desc">{{ dateDetail.subject }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-right">
      <hcm-calendar-year :selectingYear="selectingYear"
                        :setSelectYear="setSelectYear"
                        :selectingMonth="selectingMonth"
                        :setSelectMonth="setSelectMonth"
                        :nowLang="nowLang"
                        :addMonth="addMonth" />

      <!-- Section Weekdays -->
      <div class="calendar-box">
        <table class="table-calendar" id="calendar-date">
          <thead class="weekdays">
            <tr>
              <th class="weekdays"
                  :class="{'_text-red': key === 0}"
                  v-for="(day, key) in days"
                  :key="key"
                  :id="key + 1">
                  {{ day.short }}
              </th>
            </tr>
          </thead>
          <!-- Section days -->
          <tbody class="days">
            <template v-for="(week, weekIndex) in totalWeek">
              <hcm-week-row :key="weekIndex"
                        :arrWeek="calArrWeek(week)"
                        :setMark="setMark"
                        :setSelectDate="setSelectDate"
                        :checkCurrentDay="checkCurrentDay"
                        :checkSelectedDay="checkSelectedDay"
                        :selectedMonth="selectedMonth" />
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import _ from 'lodash'
import assetsLabels from 'assets/js/labels'
import hcmWeekRow from './components/hcmWeekRow'
import hcmCalendarYear from './components/hcmCalendarYear'
import hcmCalendarDetail from './components/hcmCalendarDetail'

const defaultDate = {
  currentYear: new Date().getFullYear(),
  currentMonth: new Date().getMonth() + 1,
  currentDate: new Date().getDate(),
  currentDay: new Date().getDay()
}

export default {
  name: 'hcm-calendar',
  data () {
    return {
      app: this.$root.$children[0],
      currentYear: defaultDate.currentYear,
      currentMonth: defaultDate.currentMonth,
      currentDate: defaultDate.currentDate,
      currentDay: defaultDate.currentDay,
      selectingYear: defaultDate.currentYear,
      selectingMonth: defaultDate.currentMonth,
      selectedYear: defaultDate.currentYear,
      selectedMonth: defaultDate.currentMonth,
      selectedDate: defaultDate.currentDate,
      selectedDay: defaultDate.currentDay,
      days: [],
      months: []
    }
  },
  created () {
    for (let i = 1; i <= 7; i++) {
      this.days.push({short: moment(i, 'E', this.nowLang).weekday(i - 1).format('dd'), middle: moment(i, 'E', this.nowLang).weekday(i - 1).format('ddd'), full: moment(i, 'E', this.nowLang).weekday(i - 1).format('dddd')})
    }
    for (let i = 1; i <= 12; i++) {
      this.months.push({short: moment(i, 'M', this.nowLang).format('MMM'), full: moment(i, 'M', this.nowLang).format('MMMM')})
    }
  },
  watch: {
    nowLang () {
      this.days = []
      this.months = []
      for (let i = 1; i <= 7; i++) {
        this.days.push({short: moment(i, 'E', this.nowLang).weekday(i - 1).format('dd'), middle: moment(i, 'E', this.nowLang).weekday(i - 1).format('ddd'), full: moment(i, 'E', this.nowLang).weekday(i - 1).format('dddd')})
      }
      for (let i = 1; i <= 12; i++) {
        this.months.push({short: moment(i, 'M', this.nowLang).format('MMM'), full: moment(i, 'M', this.nowLang).format('MMMM')})
      }
    }
  },
  props: {
    showSideDetail: {
      type: Boolean,
      default: false
    },
    showYear: {
      type: Boolean,
      default: true
    },
    eventTpye: {
      type: String,
      default: 'popup'
    },
    eventPopup: {
      type: Function
    },
    calendar: {
      type: Object,
      default: () => {
        return {
          total: 0,
          rows: []
        }
      }
    },
    nowLang: {
      type: String,
      default: assetsLabels.defaultLang
    }
  },
  computed: {
    totalWeek () {
      return Math.ceil((this.firstDate + this.sumDayInMonth) / 7)
    },
    firstDate () {
      return Number(moment(moment().format(this.selectingYear + '-' + _.padStart(this.selectingMonth, 2, '0') + '-01')).format('e'))
    },
    sumDayInMonth () {
      return moment(moment().format(this.selectingYear + '-' + _.padStart(this.selectingMonth, 2, '0') + '-01')).daysInMonth()
    },
    strSelectedDay () {
      return this.days[moment(this.selectedYear + '-' + this.selectingMonth + '-' + this.selectedDate, 'YYYY-MM-DD').format('e')].middle
    },
    strSelectedMonth () {
      return this.months[this.selectedMonth - 1].short
    },
    arrHoliday () {
      let holidays = {}
      let filterDay = []
      if (this.calendar.rows) {
        let arrCalendar = this.calendar.rows
        arrCalendar.sort((a, b) => {
          return moment(a.dtedate, 'DD/MM/YYYY') - moment(b.dtedate, 'DD/MM/YYYY')
        })
        for (let i of arrCalendar) {
          if (filterDay.indexOf(i.dtedate) === -1 && moment(i.dtedate, 'DD/MM/YYYY').format('MM/YYYY') === moment().month(this.selectedMonth - 1).year(this.selectedYear).format('MM/YYYY')) {
            let day = this.calendar.rows.filter((row) => {
              let dtedateA = moment(i.dtedate, 'DD/MM/YYYY')
              let dtedateB = moment(row.dtedate, 'DD/MM/YYYY')
              return i.typwork === row.typwork && dtedateB.diff(dtedateA, 'days') > 0 && dtedateB.diff(dtedateA, 'days') < 7 && i.desholdy[this.nowLang] === row.desholdy[this.nowLang]
            }).map((row) => {
              filterDay.push(row.dtedate)
              return row.dtedate
            })
            let days = Object.assign([], day)
            let dteend = (day.length) ? day.pop() : ''
            holidays[moment(i.dtedate, 'DD/MM/YYYY').format('DD/MM/YYYY')] = {
              dtedate: i.dtedate + ((dteend !== '') ? ' - ' + dteend : ''),
              dtestrt: moment(i.dtedate, 'DD/MM/YYYY').format('DD/MM/YYYY'),
              dteend: moment(((dteend !== '') ? dteend : i.dtedate), 'DD/MM/YYYY').format('DD/MM/YYYY'),
              subject: i.desholdy[this.nowLang],
              typwork: i.typwork,
              days: days
            }
          }
        }
      }
      return holidays
    }
  },
  methods: {
    checkCurrentDay (day) {
      return (this.currentMonth === this.selectingMonth &&
             this.currentYear === this.selectingYear &&
             this.currentDate === day)
    },
    checkSelectedDay (day) {
      return (this.selectedMonth === this.selectingMonth &&
             this.selectedYear === this.selectingYear &&
             this.selectedDate === day)
    },
    calArrWeek (week) {
      var dayStartInRow = 1 + (week - 1) * 7
      if (week > 1) {
        dayStartInRow = dayStartInRow - this.firstDate
      }
      var arrWeek = []
      for (var i = 1; i <= 7; i++) {
        if (week === 1 && i <= this.firstDate) {
          for (var j = 1; j <= this.firstDate; j++) {
            arrWeek.push('')
            i++
          }
        }

        if (dayStartInRow <= this.sumDayInMonth) {
          arrWeek.push(dayStartInRow)
          dayStartInRow++
        } else {
          arrWeek.push('')
        }
      }
      return arrWeek
    },
    setYear (year) {
      this.selectingYear = parseInt(year)
      this.selectedYear = parseInt(this.selectingYear)
    },
    setSelectYear (year) {
      this.selectingYear = parseInt(this.selectingYear) + parseInt(year)
      this.selectedYear = parseInt(this.selectingYear)
    },
    setSelectMonth (month) {
      this.selectingMonth = parseInt(month)
      this.selectedMonth = parseInt(month)
      this.selectedYear = parseInt(this.selectingYear)
    },
    setSelectDate (objDate) {
      this.selectedYear = this.selectingYear
      this.selectedMonth = this.selectingMonth
      this.selectedDate = objDate.date
      this.selectedDay = objDate.day

      if (typeof this.eventPopup !== 'undefined' && this.eventTpye === 'popup') {
        let dtedate = moment(this.selectedYear + '-' + this.selectingMonth + '-' + this.selectedDate, 'YYYY-MM-DD').format('DD/MM/YYYY')
        let objParams = this.arrHoliday[dtedate]
        if (!objParams) {
          objParams = _.values(this.arrHoliday).filter((row) => {
            return row.days.indexOf(moment(dtedate, 'DD/MM/YYYY').format('DD/MM/YYYY')) >= 0
          }).map((row) => {
            return row
          })
          objParams = objParams[0]
        }
        if (!objParams) {
          objParams = {
            dtestrt: moment(dtedate, 'DD/MM/YYYY').format('DD/MM/YYYY'),
            dteend: moment(dtedate, 'DD/MM/YYYY').format('DD/MM/YYYY'),
            typwork: '',
            subject: ''
          }
        }
        let params = {
          dtestrt: objParams.dtestrt,
          dteend: objParams.dteend,
          typwork: objParams.typwork,
          subject: objParams.subject
        }
        this.eventPopup(params)
      }
    },
    setMark (day) {
      if (this.calendar.rows) {
        return this.calendar.rows.filter((row) => {
          return moment(row.dtedate, 'DD/MM/YYYY').format('DD/MM/YYYY') === moment(day + '/' + this.selectedMonth + '/' + this.selectedYear, 'DD/MM/YYYY').format('DD/MM/YYYY')
        }).map((row) => {
          return 'fa fa-circle ' + row.typwork
        })
      }
    },
    addDay (dayAmount) {
      let newDate = new Date(this.selectedYear, this.selectedMonth - 1, this.selectedDate)
      newDate.setDate(newDate.getDate() + dayAmount)
      const selectDate = newDate.getDate()
      const selectMonth = newDate.getMonth() + 1
      const selectYear = newDate.getFullYear()
      const selectDay = this.selectedDay + dayAmount
      const indexDay = (selectDay > 6) ? 0 : ((selectDay < 0) ? 6 : selectDay)
      this.selectingMonth = selectMonth
      this.selectingYear = selectYear
      this.selectedDate = selectDate
      this.selectedMonth = selectMonth
      this.selectedYear = selectYear
      this.selectedDay = indexDay
    },
    addMonth (monthAmount) {
      let newDate = new Date(this.selectedYear, this.selectedMonth - 1, this.selectedDate)
      newDate.setMonth(newDate.getMonth() + monthAmount)
      const selectDate = 1
      const selectMonth = newDate.getMonth() + 1
      const selectYear = newDate.getFullYear()
      const indexDay = Number(moment(moment().format(selectYear + '-' + _.padStart(selectMonth, 2, '0') + '-01')).format('e'))
      this.selectingMonth = selectMonth
      this.selectingYear = selectYear
      this.selectedDate = selectDate
      this.selectedMonth = selectMonth
      this.selectedYear = selectYear
      this.selectedDay = indexDay
    }
  },
  components: {
    hcmWeekRow,
    hcmCalendarYear,
    hcmCalendarDetail
  }
}
</script>

<style src="./assets/style.scss" lang='scss'></style>