<template>
  <transition name="modal">
    <div v-if="showModal" class="modal-mask" >
      <div class="modal-wrapper"  >
        <div class="modal-container">
          <div class="modal-header">
            <slot name="header">
              <h4 class="modal-title">Income Items</h4>
              <i class="fa fa-close close" @click.prevent="closeModal()" ></i>
            </slot>
          </div>
          <div class="modal-body">
            <slot name="body">
              <hrms-table :columns="payCodeColumns"
                          :data="index"
                          :indexDisp="false"
                          :tickEvent="tickEvent" />
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'hcm-paycode-popup',
  data () {
    return {
      inputValue: this.value,
      descInputValue: this.desc,
      descLovType: 'desc_' + this.lovType
    }
  },
  watch: {
    value () {
      this.inputValue = this.value
      this.findDescInputValue(this.value)
    }
  },
  methods: {
    findDescInputValue (inputValue) {
      if (inputValue !== '' && this.data[this.lovType].rows.length > 0) {
        let _this = this
        let params = this.data[this.lovType].rows.filter(function (dataRow) {
          return dataRow[_this.lovType] === inputValue
        })
        if (params.length > 0) {
          this.descInputValue = params[0][this.descLovType]
        } else {
          this.descInputValue = 'XXXXXXXXXXXXXXXX'
        }
      } else {
        this.descInputValue = ''
      }
      this.$emit('input', inputValue)
    },
    tickEvent (dataRow) {
      this.$emit('triggerTick', dataRow)
      this.closeModal()
    }
  },
  props: [
    'labels',
    'index',
    'showModal',
    'closeModal',
    'payCodeColumns',
    'nowLang',
    'labelsButton'
  ]
}
</script>

<style lang="scss">
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
  overflow: auto;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 800px;
  margin: 0px auto;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  overflow-x: auto;
  // font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 10px 0;
  padding: 10px;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-header .close {
  font-size: 20px;
  color: #000;
  opacity: 1;
  cursor: pointer;
}
</style>
