<template>
  <div id="template" :style="[setStyleBackground(themeColor)]">
    <template v-if="currPath == 'help'">
      <template-header-help
        :currPath="currPath"
        :scrollPosition="scrollPosition"
        :themeColor="themeColor"
        :setStyleColor="setStyleColor"
        :setStyleBackground="setStyleBackground"
        :softwareName="app.softwareName"
        :currentUser="app.currentUser"
        :nowLang="app.nowLang"
        :closeSidebarModule="closeSidebarModule"
        :pcDisp="app.pcDisp"
        :modalDisp="modalDisp" />
      <template-body
        :currModule="currModule"
        :currCodapp="currCodapp"
        :nameModule="nameModule"
        :descModule="descModule"
        :nowLang="app.nowLang"
        :currPath="currPath"
        :codapp="codapp"
        :descCodapp="descCodapp"
        :rescale="rescale"
        :sidebarModuleDisp="sidebarModuleDisp"
        :closeSidebarModule="closeSidebarModule"
        :breadcrumbs="breadcrumbs" />
      <template-footer
        :currPath="currPath" />
    </template>
    <template v-else>
      <template-header
        :currPath="currPath"
        :scrollPosition="scrollPosition"
        :setting="setting"
        :clearSettingTheme="clearSettingTheme"
        :flgMainColor="flgMainColor"
        :flgAdvanceColor="flgAdvanceColor"
        :setThemeColor="setThemeColor"
        :themeColor="themeColor"
        :toggleFlgColor="toggleFlgColor"
        :saveThemeColor="saveThemeColor"
        :setStyleColor="setStyleColor"
        :setStyleBackground="setStyleBackground"
        :softwareName="app.softwareName"
        :version="app.version"
        :currentUser="app.currentUser"
        :nowLang="app.nowLang"
        :closeSidebarModule="closeSidebarModule"
        :postLogout="app.postLogout"
        :headerNotiAnnounceTotal="headerNotiAnnounceTotal"
        :headerNotiAnnounceInfiniteLoading="headerNotiAnnounceInfiniteLoading"
        :headerNotiRequestTotal="headerNotiRequestTotal" 
        :headerNotiRequestInfiniteLoading="headerNotiRequestInfiniteLoading" 
        :headerNotiApprove="headerNotiApprove"
        :headerFavourite="headerFavourite"
        :receivedHeaderNotiRequestInfiniteLoading="receivedHeaderNotiRequestInfiniteLoading"
        :receivedHeaderNotiAnnounceInfiniteLoading="receivedHeaderNotiAnnounceInfiniteLoading"
        :pcDisp="app.pcDisp"
        :toggleFavouriteItem="toggleFavouriteItem"
        :setFavourite="setFavourite"
        :modalDisp="modalDisp"
        :toggleSettingDisp="toggleSettingDisp"
        :settingThemeColorDisp="settingThemeColorDisp"
        :switchUserDisp="switchUserDisp"
        :settingLanguageDisp="settingLanguageDisp" />
      <template-sidebar
        :themeColor="themeColor"
        :setStyleColor="setStyleColor"
        :setStyleBackground="setStyleBackground"
        :currModule="currModule"
        :currCodapp="currCodapp"
        :version="app.version"
        :currentUser="app.currentUser"
        :nowLang="app.nowLang"
        :modules="modules"
        :rescale="rescale"
        :setCurrModule="setCurrModule"
        :sidebarModuleDisp="sidebarModuleDisp"
        :openSidebarModule="openSidebarModule"
        :closeSidebarModule="closeSidebarModule" 
        :modalDisp="modalDisp" />
      <template-body
        :currModule="currModule"
        :currCodapp="currCodapp"
        :nameModule="nameModule"
        :descModule="descModule"
        :nowLang="app.nowLang"
        :currPath="currPath"
        :codapp="codapp"
        :descCodapp="descCodapp"
        :rescale="rescale"
        :sidebarModuleDisp="sidebarModuleDisp"
        :closeSidebarModule="closeSidebarModule"
        :breadcrumbs="breadcrumbs" />
      <template-footer
        :currPath="currPath" />
    </template>
  </div>
</template>

<script>
import templateHeaderHelp from './components/templateHeaderHelp'
import templateHeader from './components/templateHeader'
import templateSidebar from './components/templateSidebar'
import templateBody from './components/templateBody'
import templateFooter from './components/templateFooter'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import * as types from './store/mutation-types'
import $ from 'jquery'

export default {
  name: 'template',
  data () {
    return {
      app: this.$root.$children[0],
      scrollPosition: 0,
      descLang: ['English', 'Thai'],
      colorSkins: ['blue', 'green', 'orange', 'red', 'purple', 'black'],
      colorLeftSidebarDark: '#222d32',
      colorBodySidebarDark: '#f4f5f7',
      colorLeftSidebarLight: '#f9fafc',
      colorBodySidebarLight: '#f4f5f7'
    }
  },
  created () {
    window.addEventListener('scroll', this.handleScroll)
    this.receivedSetting()
    this.receivedModules()
    this.receivedHeaderNotiTotal('P,Y,N,A')
    this.receivedHeaderFavourite()
    this.receivedTinitial()
    this.receivedTfolder()
    this.rescale()
    this.setCurrPath(this.$route.fullPath.split('/')[1])
    this.hideModal()
    $(document).on('click', '.collapse-group .panel-heading', function (e) {
      let _this = this
      setTimeout(function () {
        var offset = $(_this).offset()
        if (offset) {
          $('html, body').animate({
            scrollTop: offset.top - 60
          }, 300)
        }
      }, 0)
    })
  },
  watch: {
    $route () {
      this.setCurrPath(this.$route.fullPath.split('/')[1])
    },
    modalDisp () {
      if (this.modalDisp) {
        this.openModal()
      } else {
        this.hideModal()
      }
    }
  },
  computed: {
    codapp () {
      return this.currCodapp
    },
    module () {
      return this.modules[this.currModule]
    },
    nameModule () {
      if (typeof this.module !== 'undefined') {
        if (typeof this.module['code'] !== 'undefined') {
          return this.module['code']
        }
      }
      return ''
    },
    descModule () {
      if (typeof this.module !== 'undefined') {
        if (typeof this.module['description'] !== 'undefined') {
          return this.module['description'][this.app.nowLang]
        }
      }
      return ''
    },
    productionSite () {
      return this.app.baseConn.user.replace('ESS_', '').toUpperCase()
    },
    ...mapGetters({
      themeColor: types.GET_THEME_COLOR,
      setting: types.GET_SETTING,
      flgMainColor: types.GET_FLG_MAIN_COLOR,
      flgAdvanceColor: types.GET_FLG_ADVANCE_COLOR,
      tinitial: types.GET_TINITIAL,
      tfolder: types.GET_TFOLDER,
      currModule: types.GET_CURR_MODULE,
      currCodapp: types.GET_CURR_CODAPP,
      currPath: types.GET_CURR_PATH,
      descCodapp: types.GET_DESC_CODAPP,
      sidebarModuleDisp: types.GET_SIDEBAR_MODULE_DISP,
      modules: types.GET_MODULES,
      headerNotiAnnounceTotal: types.GET_HEADER_ANNOUNCE_TOTAL,
      headerNotiAnnounceInfiniteLoading: types.GET_HEADER_ANNOUNCE_INFINITE_LOADING,
      headerNotiRequestTotal: types.GET_HEADER_REQUEST_TOTAL,
      headerNotiRequestInfiniteLoading: types.GET_HEADER_REQUEST_INFINITE_LOADING,
      headerNotiApprove: types.GET_HEADER_APPROVE,
      headerFavourite: types.GET_HEADER_FAVOURITE,
      breadcrumbs: types.GET_BREADCRUMBS,
      modalDisp: types.GET_MODAL_DISP,
      settingThemeColorDisp: types.GET_SETTING_THEME_COLOR_DISP,
      switchUserDisp: types.GET_SWITCH_USER_DISP,
      settingLanguageDisp: types.GET_SETTING_LANGUAGE_DISP
    })
  },
  methods: {
    openModal () {
      $('body').addClass('modal-open')
    },
    hideModal () {
      $('body').removeClass('modal-open')
      // $('.modal-backdrop').remove() // for bootstrap modal
    },
    handleScroll () {
      this.scrollPosition = document.documentElement.scrollTop
    },
    setStyleBackground (color) {
      color = '#' + color.replace(/#/g, '')
      return {
        'background-color': color
      }
    },
    setStyleColor (color) {
      return {
        'color': color
      }
    },
    getTinitial () {
      let routeName = this.$route.name
      let tinitialRowsFiltered = this.tinitial.rows.filter(tinitialRow => {
        return tinitialRow.codapp.toLowerCase() === routeName.toLowerCase()
      })
      let obj = {
        codapp: '',
        en: {},
        th: {}
      }
      obj.codapp = routeName
      for (let tinitialRowFiltered of tinitialRowsFiltered) {
        obj.en[tinitialRowFiltered.numseq] = tinitialRowFiltered.datainit1
        obj.th[tinitialRowFiltered.numseq] = tinitialRowFiltered.datainit2
      }
      return obj
    },
    getTfolder () {
      let routeName = this.$route.name
      let tfolderRowsFiltered = this.tfolder.rows.filter(tfolderRow => {
        return tfolderRow.codapp.toLowerCase() === routeName.toLowerCase()
      })
      let obj = {
        main: '',
        temp: this.tfolder.rows[0].temp,
        load: this.tfolder.rows[0].load,
        codapp: '',
        folder: ''
      }
      for (let tfolderRowFiltered of tfolderRowsFiltered) {
        obj = tfolderRowFiltered
      }
      return obj
    },
    rescale () {
      if (this.app.pcDisp) {
        this.$nextTick(function () {
          let mainSidebarHeight = $('.main-sidebar').height()
          let mainSidebarModuleHeight = $('.main-sidebar-module').height()
          let contentHeight = $('.dash-body').height()
          let maxHeight = Math.max(mainSidebarHeight, mainSidebarModuleHeight, contentHeight)

          $('.main-sidebar').css({ minHeight: maxHeight })
          $('.overlay, .content-wrapper').css({ minHeight: maxHeight })

          mainSidebarHeight = $('.main-sidebar').height()
          mainSidebarModuleHeight = $('.main-sidebar-module').height()
          contentHeight = $('.dash-body').height()

          if (this.sidebarModuleDisp) {
            if (mainSidebarModuleHeight > mainSidebarHeight) {
              $('.main-sidebar').css({ minHeight: mainSidebarModuleHeight })
            } else {
              $('.main-sidebar-module').css({ minHeight: mainSidebarHeight })
            }
          } else {
            $('.main-sidebar').css({ minHeight: 0 })
            setTimeout(function () {
              $('.main-sidebar-module').css({ minHeight: 0 })
            }, 300)
          }
          $('.overlay, .content-wrapper').css({ minHeight: $('.main-sidebar').height() })
        })
      } else {
        //
      }
    },
    ...mapMutations({
      toggleFlgColor: types.TOGGLE_FLG_COLOR,
      setCurrPath: types.SET_CURR_PATH,
      setCurrModule: types.SET_CURR_MODULE,
      openSidebarModule: types.SET_SIDEBAR_MODULE_DISP_TRUE,
      closeSidebarModule: types.SET_SIDEBAR_MODULE_DISP_FALSE,
      setThemeColor: types.SET_THEME_COLOR,
      toggleFavouriteItem: types.SET_TOGGLE_FAVOURITE_LIST_ITEM,
      setFavourite: types.SET_HEADER_FAVOURITE,
      toggleSettingDisp: types.TOGGLE_SETTING_DISP
    }),
    ...mapActions({
      receivedSetting: types.RECEIVED_SETTING,
      receivedTinitial: types.RECEIVED_TINITIAL,
      receivedTfolder: types.RECEIVED_TFOLDER,
      receivedModules: types.RECEIVED_MODULES,
      receivedHeaderNotiTotal: types.RECEIVED_HEADER_NOTI_TOTAL,
      receivedHeaderNotiAnnounceInfiniteLoading: types.RECEIVED_HEADER_ANNOUNCE_INFINITE_LOADING,
      receivedHeaderNotiRequestInfiniteLoading: types.RECEIVED_HEADER_REQUEST_INFINITE_LOADING,
      receivedHeaderFavourite: types.RECEIVED_HEADER_FAVOURITE,
      clearSettingTheme: types.CLEAR_SETTING_THEME,
      saveThemeColor: types.POST_THEME_COLOR
    })
  },
  components: {
    templateHeaderHelp,
    templateHeader,
    templateSidebar,
    templateBody,
    templateFooter
  },
  beforeDestroy () {
    window.removeEventListener('scroll', this.handleScroll)
  }
}
</script>
