<template>
 <div>
    <div class="row">
      <div class="col-md-6 group-space-lg">
        <div class="input-group">
          <div class="label">{{ labels['HRPMB3E2']['10'] }}</div>
          <input class="normal-input" type="text" name="input" v-model="params.idcard">
        </div>
      </div>
        <div class="col-md-3" style="margin-top: 35px;">
            <div type="button" class="button-md" :class="[ detailDisabled ? '_bg-blue' : '-disable _bg-blue-disable' ]" @click="detailDisabled && callSearch()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>
        </div>
        <div class="underline"></div>
    </div>
    <div class="row">
      <div class="col-md-6 group-space-lg">
        <div class="input-group">
          <div class="label">{{ labels['HRPMB3E2']['20'] }}</div>
            <hrms-dropzone  :fileNameQuery="params.imgupload"
                            :imgNameFile="paramSearch.imgupload"
                            :name="'detail'"
                            :flgToggle="imgDisp"
                            ref="hrmsDropzone"
                            :disabled="detailDisabled" />
        </div> 
        <div class="input-group">
          <div class="label">{{ labels['HRPMB3E2']['30'] }}</div>
            <hrms-dropdown  v-model="params.codtitle"
                            :options="dropdowns.codtitle[nowLang]"
                            :disabled="detailDisabled" />
        </div>
        <div class="input-group">
          <div class="label">{{ labels['HRPMB3E2']['40'] }}</div>
            <hrms-change-label :code="code" v-model="params.name" :disabled="detailDisabled"/> 
        </div>
        <div class="input-group">
          <div class="label">{{ labels['HRPMB3E2']['50'] }}</div>
            <hrms-change-label :code="code" v-model="params.lname" :disabled="detailDisabled"/> 
        </div>
        <div class="input-group">
          <div class="label">{{ labels['HRPMB3E2']['60'] }}</div>
            <div class="row">
              <div class="radio-group col-md-6">
                <input class="radio-true" type="radio" id="gender1" name="gender1" v-model="params.gender" value="1" :disabled="detailDisabled"/>
                <label class="radio-fake" for="gender1" ></label>
                <label class="radio-label" for="gender1">{{ labels['HRPMB3E2']['61'] }}</label>
              </div>
              <div class="radio-group col-md-6">
                <input class="radio-true"  type="radio" id="gender2" name="gender2" v-model="params.gender" value="2":disabled="detailDisabled" />
                <label class="radio-fake" for="gender2"></label>
                <label class="radio-label" for="gender2">{{ labels['HRPMB3E2']['62'] }}</label>
              </div>
            </div> 
        </div>
      </div>
      <div class="col-md-6 group-space-lg">
        <div class="input-group">
          <div class="label">{{ labels['HRPMB3E2']['70'] }}</div>
          <input class="normal-input" type="text" name="input" v-model="params.codempido" :disabled="detailDisabled">
        </div>
        <div class="input-group">
          <div class="label">{{ labels['HRPMB3E2']['80'] }}</div>
            <hcm-lov v-model="params.numappl"
                    :nowLang="nowLang"
                    lovType="numappl"
                    v-validate="'required'"
                    :descDisp="false"
                    data-vv-value-path="inputValue"
                    data-vv-as="numappl"
                    data-vv-name="numappl"
                    name="numappl"
                    :disabled="detailDisabled"  />
        </div>
        <div class="input-group">
          <div class="label">{{ labels['HRPMB3E2']['90'] }}</div>
            <hrms-datepicker  v-model="params.birthday"
                              v-validate="'required|date_format:DD/MM/YYYY'"
                              data-vv-value-path="inputDate"
                              data-vv-name="birthday"
                              data-vv-as="Birth Date"
                              name="birthday"
                              :disabled="detailDisabled" />
        </div>
        <div class="input-group">
          <div class="label">{{ labels['HRPMB3E2']['100'] }}</div>
            <input class="normal-input" type="text" name="input" v-model="params.bdyear" :disabled="detailDisabled"><div class="unit">{{ labels['HRPMB3E2']['101'] }}</div>
            <input class="normal-input" type="text" name="input" v-model="params.bdmonth" :disabled="detailDisabled"><div class="unit">{{ labels['HRPMB3E2']['102'] }}</div>

        </div>
        <div class="input-group">
          <div class="label">{{ labels['HRPMB3E2']['110'] }}</div>
          <input class="normal-input" type="text" name="input" v-model="params.numpass" :disabled="detailDisabled">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 group-space-lg clearfix">
        <div class="group-topic _unpadding">{{ labels['HRPMB3E2']['120'] }}</div>
        <div class="input-group">
          <div class="label">{{ labels['HRPMB3E2']['130'] }}</div>
          <input class="normal-input" type="text" name="input" v-model="params.compnam" :disabled="detailDisabled">
        </div>
        <div class="input-group">
          <div class="label">{{ labels['HRPMB3E2']['140'] }}</div>
          <input class="normal-input" type="text" name="input" v-model="params.codcomp" :disabled="detailDisabled">
        </div>
        <div class="input-group">
          <div class="label">{{ labels['HRPMB3E2']['150'] }}</div>
          <input class="normal-input" type="text" name="input" v-model="params.codpos" :disabled="detailDisabled">
        </div>
      </div>
      <div class="col-md-6 group-space-lg clearfix">
        <div class="input-group">
          <div class="row">
            <div class="input-group col-md-6">
              <div class="label">{{ labels['HRPMB3E2']['160'] }}</div>
                <hrms-datepicker  v-model="params.dteefstep"
                                  v-validate="'required|date_format:DD/MM/YYYY'"
                                  data-vv-value-path="inputDate"
                                  data-vv-name="dteefstep"
                                  data-vv-as="Birth Date"
                                  name="dteefstep"
                                  :disabled="detailDisabled" />
            </div>
            <div class="input-group col-md-6">
               <div class="label">{{ labels['HRPMB3E2']['170'] }}</div>
                <hrms-datepicker  v-model="params.dteresig"
                                  v-validate="'required|date_format:DD/MM/YYYY'"
                                  data-vv-value-path="inputDate"
                                  data-vv-name="dteresig"
                                  data-vv-as="Birth Date"
                                  name="dteresig"
                                  :disabled="detailDisabled" />
            </div>
          </div> 
        </div>
        <div class="input-group">
          <div class="label">{{ labels['HRPMB3E2']['180'] }}</div>
          <textarea class="normal-textarea" type="textarea" name="input" v-model="params.causedis" :disabled="detailDisabled"></textarea>
        </div>
      </div>
    </div>
    <div class="clearfix"> 
      <div class="box-footer group-space-md" style="padding-top: 40px;">   
        <button type="button" class="button-md _bg-grey" @click="toggle('index')" value="Back"><i class="fa fa-chevron-circle-left"></i>{{ labelsButton['back'] }}</button>   
        <div type="button" class="button-md" :class="[ !detailDisabled ? '_bg-green' : '-disable _bg-green-disable' ]" @click="!detailDisabled && saveHrpmb3eDetail(saveParams())()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div>
        <button type="button" class="button-sm _bg-small-button pull-right" data-toggle="modal" data-target="#hrpmb3e-popup-detail-fault" @click="togglePopupDetailFault()">{{ labels['HRPMB3E2']['190'] }}</button>
      </div>
    </div>
    <popup-detail-fault :labels="labels"
                        :nowLang="nowLang"
                        :labelsButton="labelsButton"
                        :columnsPopup="columns.detailPopup"
                        :detailFaultPopup="detailFaultPopup"/>
  </div>
</template>

<script>
import popupDetailFault from './popupDetailFault'

export default {
  name: 'hrpmb3e-detail',
  data () {
    return {
      params: {
        idcard: '',
        imgupload: '',
        codtitle: '',
        name: '',
        lname: '',
        gender: '',
        codempido: '',
        numappl: '',
        birthday: '',
        ageyear: '',
        agemonth: '',
        numpass: '',
        compnam: '',
        codcomp: '',
        codpos: '',
        dteefstep: '',
        dteresig: '',
        causedis: ''
      },
      paramSearch: {
        imgupload: ''
      },
      imgDisp: true,
      code: '1234'
    }
  },
  watch: {
    detail () {
      if (this.eventBtn === 'add') {
        this.params.idcard = this.detail.idcard
        this.params.numappl = this.detail.numappl
      } else if (this.eventBtn === 'edit') {
        this.params.idcard = this.indexSelected.idcard
        this.params.numappl = this.indexSelected.numappl
      }
      this.params.imgupload = this.detail.imgupload
      this.params.codtitle = this.detail.codtitle
      this.params.name = this.detail.name
      this.params.lname = this.detail.lname
      this.params.gender = this.detail.gender
      this.params.codempido = this.detail.codempido
      this.params.birthday = this.detail.birthday
      this.params.bdyear = this.detail.bdyear
      this.params.bdmonth = this.detail.bdmonth
      this.params.numpass = this.detail.numpass
      this.params.compnam = this.detail.compnam
      this.params.codcomp = this.detail.codcomp
      this.params.codpos = this.detail.codpos
      this.params.dteefstep = this.detail.dteefstep
      this.params.dteresig = this.detail.dteresig
      this.params.causedis = this.detail.causedis
    }
  },
  methods: {
    saveParams () {
      return {
        detail: this.detail
      }
    },
    callSearch () {
      this.$validator.validateAll('form-search').then(result => {
        if (result) {
          this.setDetailDisabled(false)
        }
      })
    },
    togglePopupDetailFault () {
      let popupParams = {}
      this.receivedHrpmb3eDetailFaultPopup(popupParams)
    }
  },
  props: [ 'labels',
    'labelsButton',
    'detail',
    'toggle',
    'nowLang',
    'columns',
    'searchIndex',
    'indexSelected',
    'saveHrpmb3eDetail',
    'dropdowns',
    'eventBtn',
    'receivedHrpmb3eDetail',
    'detailDisabled',
    'setDetailDisabled',
    'detailFaultPopup',
    'receivedHrpmb3eDetailFaultPopup',
    'headerDisp'
  ],
  components: {
    popupDetailFault
  }
}
</script>
