<template>
 <div>
    <div class="row">
      <div class="col-md-3 group-space-lg">
      </div>
      <div class="col-md-5 group-space-lg">
        <div class="input-group">
            <div class="label">{{ labels['HRPMB3E1']['10'] }}</div>
            <hcm-lov-codcomp  v-model="indexSerch.codcomp"
                            :nowLang="nowLang"
                            :descDisp="false"
                            v-validate="'required'"
                            data-vv-value-path="inputValue"
                            data-vv-as="codcomp"
                            data-vv-name="codcomp"
                            name="codcomp"  />
        </div>
      </div>
      <div class="col-md-3" style="margin-top: 35px;">
          <div type="button" class="button-md _bg-blue"  value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>  
        </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'hrpmb3e-index-search',
  props: [ 'labels',
    'labelsButton',
    'indexSerch',
    'nowLang',
    'receivedHrpy22eIndexSearch'
  ]
}
</script>
