<template>
  <div name="hrpmb3e-popup-detail-fault" class="modal-group">  
	<div id="hrpmb3e-popup-detail-fault" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-lg">

		  <div class="modal-content">
		  	<div class="modal-header">
          <div class="modal-title">{{ labels['HRPMB3E2']['200'] }}</div>
          <div class="close ion-android-close" data-dismiss="modal"></div>
          <div class="tag fa fa-tag"></div>
		    </div>
		    <div class="modal-body">
					<div class="clearfix">
            <div class="employee-detail-header">
              <div class="img-box">
                <!-- <img :src="higherOrderData.headerImage" /> -->
              </div>
              <div class="detail">
                <div class="emp-name">{{ detailFaultPopup.detail.desc_codempid }}</div>
                <div class="emp-detail">
                  <div class="emp-code">
                    {{ labels['HRPMB3E2']['210'] }} - {{ detailFaultPopup.detail.codempid }}
                  </div>
                </div>
              </div>
            </div>
            <hrms-table :labels="labels"
                        :columns="columnsPopup" 
                        :data="detailFaultPopup.table"
                        :nowLang="nowLang"
                        :searchDisp="false"
                        :tablePageDisp="false"
                        :columnSettingDisp="false"
                        :csvExportDisp="false"
                        :saveInlineBtnDisp="false" />
          </div>
        </div>
               
		  </div>
		 </div>
	</div>
</div>
</template>


<script>
export default {
  name: 'hrpmb3e-popup-detail-fault',
  data () {
    return {
      headerImage: ''
    }
  },
  props: [ 'labels',
    'nowLang',
    'labelsButton',
    'columnsPopup',
    'detailFaultPopup'
  ]
}
</script>