.summary-logical {
	margin: 10px 0 10px;
	padding: 10px;
	background: #e2e4e6;
}

.logical-wrapper {
	background: #e2e4e6;
	border-radius: 3px;
	margin: 15px;
	// padding: 10px;

	>.title {
		font-family: 'promptmedium';
		font-size: 20px;
		// font-weight: 700;
		padding: 15px 10px 5px;
	}

	.list-card {
		padding: 5px 10px;

		.group-icon {
			display: block;
			text-align: right;
			float: right;
			margin: 0 10px 10px;
			cursor: pointer;

			&.-disable {
				cursor: not-allowed;
				opacity: 0.3;
			}			
		}
		.desc-text {
			display: block;
			float: left;
			padding: 2px 5px 0 5px;
			font-size: 16px;
			font-weight: 700;
		}
		.unlink-button {
			display: block;
			float: right;
			padding: 5px 10px 5px 5px;
			opacity: 0.5;
			cursor: pointer;

			&:hover {
				opacity: 0.9;
			}

			&.-disable {
				cursor: not-allowed;
				opacity: 0.3;
			}
		}
		.link-button {
			display: block;
			float: right;
			padding: 5px 10px 5px 5px;
			opacity: 0.7;
			cursor: pointer;

			&:hover {
				opacity: 1;
			}

			&.-disable {
				cursor: not-allowed;
				opacity: 0.3;
			}
		}
		.ungroup-button {
			display: block;
			float: right;
			padding: 5px 10px 5px 5px;
			opacity: 0.5;
			cursor: pointer;
			// color: #E34C4C;

			&:hover {
				opacity: 0.9;
			}
		}
		.close-button {
			display: block;
			float: right;
			padding: 5px;
			opacity: 0.5;
			cursor: pointer;

			&:hover {
				opacity: 0.9;
			}
		}

		.conjuction-box {
			margin: 5px 0 0 0;
			border-bottom: 1px solid #CCC;
			border-radius: 3px;
			background: #FFF;
			padding: 10px;
		}
		.text-box {
			margin: 5px 0 0 0;
			border-bottom: 1px solid #CCC;
			border-radius: 3px;
			background: #FFF;
			padding: 10px;
		}
	}

	.addlist-wrapper {
		padding: 0 5px 10px;
		.close-button {
			float: right;
			padding: 5px 0;
			opacity: 0.5;
			cursor: pointer;

			&:hover {
				opacity: 0.9;
			}
		}

		.logical-button {
			padding: 6px 14px;
			border: none;
			border-radius: 2px;
			margin: 0 0 10px 10px;
			box-shadow: 0 1px 2px rgba(0,0,0,0.3);
			color: #FFF;
			float: left;
			cursor: pointer;
			display: inline-block;

			&.-disable {
				opacity: 0.4;
				cursor: not-allowed;
				box-shadow: none;
			}

			i {
				padding: 0 5px 0 0;
			}
		}
		.list-box {
			margin: 0 10px 5px;
			padding: 10px;
			background: #FFF;
			border-radius: 3px;
			border-bottom: 1px solid #CCC;

			&.-edit {
				margin: 5px 0;
			}

			.select-input-1 {
				padding: 5px;
				margin: 10px 0 5px 0;
				outline: none;
				width: 100%;
				border: 1px solid #CCC;
				cursor: pointer;
			}
			.select-input-2 {
				padding: 5px;
				margin: 5px 0 5px 0;
				outline: none;
				width: 100%;
				border: 1px solid #CCC;
				cursor: pointer;
			}
			.text-input {
				padding: 5px;
				margin: 5px 0 5px 0;
				outline: none;
				width: 100%;
				border: 1px solid #CCC;
			}
		}
	}
}
.validate-box {
	padding: 5px;
}
.validate-text {
	display: block;
	font-size: 12px;
	padding: 0 0 10px 0;
	color: red;
}

.list-complete-item {
  transition: all .4s;
}

.list-complete-enter, .list-complete-leave-active {
  opacity: 0;
}

.list-bg {
	background: #CCC;
}