<template>
  <div id="hrpmb5e"  class="hrpmb5e">
    <hcm-setting-page :newEvent="refreshPage"/>

    <hrms-search-box-table v-show="indexDisp"
                          v-model="searchIndex"
                          :data="index"
                          :nowLang="app.nowLang"
                          :columns="columns[app.nowLang].index"
                          :unLoadBool="true"
                          :receivedStore="receivedHrpmb5eIndex"
                          :addEvent="addEvent"
                          :editEvent="editEvent"
                          :deleteInlineEventBool="true"
                          :deleteInlineBtnDisp="false"
                          :saveInlineBtnDisp="true"                         
                          :saveInlineEvent="callSave"
                          :headerLabels="labels[app.nowLang]"
                          :headerData="searchIndex"
                          :headerComponent="headerComponent"
                          :headerDisp="true"
                          searchBoxAlias="hrpmb5e"  />

    <detail v-show="detailDisp"
            :toggle="toggle"
            :nowLang="app.nowLang"
            :searchIndex="searchIndex"
            :indexSelected="indexSelected"
            :labels="labels[app.nowLang]"
            :eventBtn="eventBtn"
            :detail="detail"
            :columns="columns[app.nowLang]"
            :labelsButton="app.button[app.nowLang]"
            :receivedHrpmb5eDetail="receivedHrpmb5eDetail"
            :saveDetail="saveDetail"
            :detailDisabled="detailDisabled"
            @setDetailDisabled="detailDisabled = arguments[0]"/>
  </div>

</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import * as types from './store/mutation-types'
import detail from './components/detail'
import indexHead from './components/indexHead'

export default {
  name: 'hrpmb5e',
  data () {
    return {
      app: this.$root.$children[0],
      searchIndex: {
        codcompy: '',
        desc_codcompy: '',
        dteeffect: '',
        codfrm: ''
      },
      searchDetail: {
        codcompy: '',
        dteeffect: '',
        codfrm: ''
      },
      headerComponent: indexHead,
      eventBtn: '',
      detailDisabled: false
    }
  },
  created () {
    this.receivedHrpmb5eColumnsLabels()
    this.receivedHrpmb5eIndex()
  },
  computed: {
    codempid () {
      let currentUser = this.app.currentUser
      return currentUser.p_codempid
    },
    ...mapGetters({
      indexDisp: types.GET_HRPMB5E_INDEX_DISP,
      indexHeadDisp: types.GET_HRPMB5E_INDEX_HEAD_DISP,
      detailDisp: types.GET_HRPMB5E_DETAIL_DISP,
      labels: types.GET_HRPMB5E_LABELS,
      index: types.GET_HRPMB5E_INDEX,
      indexHead: types.GET_HRPMB5E_INDEX_HEAD,
      columns: types.GET_HRPMB5E_COLUMNS,
      indexSelected: types.GET_HRPMB5E_INDEX_SELECTED,
      detail: types.GET_HRPMB5E_DETAIL
    })
  },
  methods: {
    refreshPage () {
      this.$refs.indexSearch.callNew()
    },
    pageDetail (event, dataRow) {
      this.eventBtn = event
      switch (event) {
        case 'add':
          this.detailDisabled = true
          this.receivedHrpmb5eDetailCreate()
          this.toggle('detail')
          break
        case 'edit':
          this.detailDisabled = false
          this.receivedHrpmb5eDetail(dataRow)
          this.setIndexSelected(dataRow)
          this.toggle('detail')
          break
      }
    },
    addEvent () {
      this.pageDetail('add')
    },
    editEvent (param) {
      this.pageDetail('edit', param)
    },
    callSave (dataRowsHasFlg) {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.deleteHrpmb5eIndex({ searchIndex: this.searchIndex, dataRowsHasFlg: dataRowsHasFlg })
        }
      })
    },
    ...mapMutations({
      setIndexSelected: types.SET_HRPMB5E_INDEX_SELECTED
    }),
    ...mapActions({
      toggle: types.TOGGLE_HRPMB5E_PAGE,
      receivedHrpmb5eColumnsLabels: types.RECEIVED_HRPMB5E_COLUMNS_LABELS,
      receivedHrpmb5eIndex: types.RECEIVED_HRPMB5E_INDEX,
      receivedHrpmb5eIndexHead: types.RECEIVED_HRPMB5E_INDEX_HEAD,
      receivedHrpmb5eDetailCreate: types.RECEIVED_HRPMB5E_DETAIL_CREATE,
      receivedHrpmb5eDetail: types.RECEIVED_HRPMB5E_DETAIL,
      saveDetail: types.SAVE_HRPMB5E_DETAIL,
      deleteHrpmb5eIndex: types.DELETE_HRPMB5E_INDEX
    })
  },
  components: {
    detail
  }
}
</script>

<style src="./assets/style.scss" lang='scss'></style>

