/* Variable */
$calendar-primary-color   : #1ba39c;
$calendar-secoundary-color: #49b5b0;
$calendar-color-white     : #fff;
$calendar-color-black     : #000;
$calendar-color-gray      : #bababa;
$normal-font-style        : 'cloud_lightlight';
$bold-font-style          : 'cloudbold';

#hrms-calendar-work-time {

  .carlendar-detail-mb{
    margin: 20px 0 0 0;
  }

  .set-number-date{
    padding: 4px 0 0 0;
    width:100%;
    font-size:16px;
  }

  /* Layout and Style Custom :: Color,font,Icon,Silder etc.. */
  .calendar-bg-white {
    background-color: $calendar-color-white;
    color: $calendar-color-black;
  }
  .calendar-text-center {
    text-align: center;
  }

 
  /* Table Show Calendar */
  table#calendar-date,#calendar-month {
    background-color: $calendar-color-white;
    margin-bottom: 0;

    &.table-bordered > thead > tr > th {
      border: 1px solid rgba(255,255,255,0.15);
      font-size: 1.3em;
    }
    .table-bordered > tbody > tr > td {
      border: 1px solid rgba(206, 207, 208, 1) !important;
    }

    tbody > tr > td {
      height: 53px;
      text-align: center;
      font-weight: bold;
      padding: 12px 0 0 0;
      color:#444;
      position:relative;

      i {
        font-size: 9px;
        float: left;
        color: #1ba39c;
      }

      // .text_day{
      //   padding-top: 9px;
      //   font-size: 1.2em;
      // }

      .selected-day{
        border: 2px solid #FFF;
        border-radius: 50%;
        width: 80%;
        max-width: 30px;
        height: 30px;
        // float: left;
        // position: absolute;
        // top: 18%;
        // left: 11%;
        // line-height: 35px;
        // padding-top: 10px;
        // margin: 0 auto;
          &.set-position{   
          margin: -1px auto 0;
        }
      }
      &.active{
        // background-color: #1ba39c;
        cursor: pointer;
        color: #fff;
        border: none;
        // font-size: 16px;
        font-weight: bolder;
        z-index: 10;
        // position: relative;

        // padding-top: 14px;
        i {
          color: #ffffff;
          position: absolute;
        }
        .selected-day{
          border-color: #fff !important;
        }

      }
    }
  }
  .table-bordered{
    border: 1px solid #fff;
  }
  thead.weekdays {
    border-top: 1px solid #000;
  }
  .month,.weekdays {
    margin: 0;
    padding: 5px 0 0 0;
    background-color: $calendar-color-white;
  }
  .month {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
  }
  .block-month {
    padding: 10px 0 ;
    background: $calendar-color-white;
    margin: 0;
    td {
      list-style-type: none;
      display: inline-block;
      width: 33%;
      text-align: center;
      font-size: 20px;
      font-weight: normal !important;
      color: #777;
      height: 55px !important;
    }
    &:hover {
      // font-size: 16px;
      color:#fff;
    }
  }
  .weekdays th {
    display: inline-block;
    width: 14.2%;
    color: #666;
    text-align: center;
    font-weight: bold;
    padding-top: 8px;
  }
  .month li {
    display: inline-block;
    width: 16.6%;
    text-align: center;
    color: #999;
  }
  .days {
    padding: 10px 0;
    background: $calendar-color-white;
    margin: 0;
    td {
      list-style-type: none;
      // display: inline-block;
      float: left;
      width: 14.2%;
      text-align: center;
      font-size: 12px;
      color: #777;
      height: 29px;
    }
    li .active {
      padding: 5px;
      background: #1abc9c;
      color: white !important
    }
  }
  .hide-block {
    display: none;
  }
  .block-month-only {
    height: 80px;
    text-align: center;
    float: left;
    margin-top: 8px;
    font-size: 1.5em;
    line-height: 29px;
    padding-top: 7px;
    justify-content: center;
    width: 80%;
    font-size: 1.9em;
  }
  .block-date {
    position: relative;
    width: 80%;
    cursor: pointer;
  }
  /* Action */
  .current-month {
    color: $calendar-color-black !important;
    font-family: $bold-font-style;
  }
  .set-hover-border{
    &:hover{
      .selected-month{
        border-color: #FFF !important;
      }
    }
    &.active{
      .selected-month{
        border-color: #FFF !important;
      }
    }
  }
  .selected-month {
    border: 2px solid #FFF;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding-top: 5px;
    margin: -8px auto;
    // &:hover{    
    //   // background-color: #1ba39c;
    //   cursor: pointer;
    //   color: #fff;
    //   border: none;
    //   // font-size: 1.5em;
    //   // font-weight: bolder;
    //   z-index: 10;
    //   position: relative;
    //   padding-top: 18px;
    //   line-height: 16px;
    //   i {
    //     color: #ffffff;
    //     position: absolute;
    //   }
    // }
    &.active{
      // background-color: #1ba39c;
      cursor: pointer;
      color: #fff;
      // border: none;
      font-size: 1.5em;
      font-weight: bolder;
      box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.30);
      // outline-color: #1ba39c;
      outline-style: solid;
      z-index: 10;
      position: relative;
      padding-top: 11px;
      i {
        color: #ffffff;
        position: absolute;
      }
    }
  }
}
