<template>
  <div id="hrpm55r" class="hrpm55r">
    <hcm-setting-page :newEvent="refreshPage" />

    <component-index  v-show="indexDisp"
                      v-model="index"
                      :nowLang="app.nowLang"
                      :labels="labels[app.nowLang]"
                      :labelsButton="app.button[app.nowLang]"
                      :receivedHrpm55rDetail="receivedHrpm55rDetail"
                      :receivedHrpm55rDetailCreate="receivedHrpm55rDetailCreate"
                      :detailDisabled="detailDisabled"
                      :setDetailDisabled="setDetailDisabled"
                      :detail="detail"
                      ref="indexSearch" />

    <component-detail :nowLang="app.nowLang"
                      :labels="labels[app.nowLang]"
                      :labelsButton="app.button[app.nowLang]"
                      :columns="columns[app.nowLang]"
                      :detail="detail"
                      :saveHrpm55rDetail="saveHrpm55rDetail"/>

  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import * as types from './store/mutation-types'
import componentIndex from './components/componentIndex'
import componentDetail from './components/componentDetail'

export default {
  name: 'hrpm55r',
  data () {
    return {
      app: this.$root.$children[0],
      index: {
        codcompy: ''
      }
    }
  },
  created () {
    this.receivedHrpm55rColumnsLabels()
  },
  computed: {
    codempid () {
      let currentUser = this.app.currentUser
      return currentUser.p_codempid
    },
    ...mapGetters({
      indexDisp: types.GET_HRPM55R_INDEX_DISP,
      detailDisp: types.GET_HRPM55R_DETAIL_DISP,
      labels: types.GET_HRPM55R_LABELS,
      columns: types.GET_HRPM55R_COLUMNS,
      detail: types.GET_HRPM55R_DETAIL,
      detailDisabled: types.GET_HRPM55R_DETAIL_DISABLED
    })
  },
  methods: {
    refreshPage () {
      this.$refs.indexSearch.callNew()
    },
    ...mapMutations({
      setDetailDisp: types.SET_HRPM55R_DETAIL_DISP,
      setDetailDisabled: types.SET_HRPM55R_DETAIL_DISABLED
    }),
    ...mapActions({
      toggle: types.TOGGLE_HRPM55R_PAGE,
      receivedHrpm55rColumnsLabels: types.RECEIVED_HRPM55R_COLUMNS_LABELS,
      receivedHrpm55rIndex: types.RECEIVED_HRPM55R_INDEX,
      receivedHrpm55rDetail: types.RECEIVED_HRPM55R_DETAIL,
      receivedHrpm55rDetailCreate: types.RECEIVED_HRPM55R_DETAIL_CREATE,
      saveHrpm55rDetail: types.SAVE_HRPM55R_DETAIL
    })
  },
  components: {
    componentIndex,
    componentDetail
  }
}
</script>

<style src="./assets/style.scss" lang='scss'></style>

