
@import "../../../modules/global";

.hcm-lov {
  position: relative;

  .input-group {
    &.lov {
      margin: 0;
      border: 1px solid #B7B7B7;

      .icon-input {
        border-top: none;
        border-left: none;
        border-bottom: none;
      }

      .icon {
        border: none;
      }
    }
  }

  // Dropdown input
  .dropdown-replace {
    position: absolute;
    width: 100%;
    top: 34px;
    z-index: 800;

    >.codlov-box {
      .level-list {
        .level-name {
          font-family: 'promptmedium';
          font-size: 16px;
          padding: 5px 10px;

          i {
            padding: 0 10px 0 0;
          }
        }
        .list {
          padding: 0 0 10px 0;
          .list-set {
            padding: 5px 10px;
            cursor: pointer;
            font-size: 14px;

            &:hover {
              background:  $black-10;
            }
            .list-code {
              color: $black-70;
              padding: 2px 0 0 0;
              font-family: 'promptregular';

              i{ 
                font-size: 12px;
                padding: 0 10px 0 5px;
              }
            }
            .list-dash {
              color: $black-50;
            }
            .list-name {
              color: $black-50;
            }
          }
        }

      }
    }
  }

  .codetext {
    position: absolute;
    top: 55px;
    font-size: 11px;
    font-family: 'promptmedium';
  }

  .modalheader-icon {
    font-size: 22px;
    padding: 0 10px 0 0;
    color: $blue;
  }

  .content-set {
    position: relative;
    .card-select-box {
      position: absolute;
      right: 0;
      top: 0;
      width: 90px;
      height: 100%;
      padding: 23px 0px 0px 15px !important;
      webkit-transition: none !important;
      transition: none !important;
    }
  }

  .lov-search-panel {
    @include clearfix;
    padding: 0 15px;
    // border-bottom: 1px solid $black-20;

    .search-input {
      width: 50%;
      float: right;

      @media (min-width: 769px) and (max-width: 991px) {
        width: 65%;
      }

      @media (min-width: 41px) and (max-width: 768px) {
        width: 70%;
      }

      @media (max-width: 480px) {
        width: 100%;
      }

      .input-group {
        >.lov-search-input {
          display: table-cell;
          height: 35px;
          padding: 6px 34px 6px 6px;
          border: 1px solid #B7B7B7;
          border-radius: 2px 0 0 2px;
          width: 100%;
          font-family: 'promptlight';
          font-size: 14px;
          color: #252525;
          outline: none;
      
          &:focus{
            border-color: $blue;
          }
          &.-active {
            border-color: $blue;
          }
          &.-success {
            border-color: $green;
          }
          &.-error {
            border-color: $red;
          }
          &.-disable {
            background: #E1E1E1;
            cursor: not-allowed;
          }
        }
        >.search-icon {
            display: block;
            font-size: 22px;
            color: $black-50 !important;
            padding: 0 12px;
            width: 1%;
            cursor: pointer;
            vertical-align: middle;
            position: absolute;
            top: 2px;
            right: 12px;
      
          &:focus{
          }
          &.-disable {
            cursor: not-allowed;
          }
        }
      }
      .lov-icon {
        float: right;
        padding: 25px 5px 0 0;
        font-size: 22px;
        color: $blue;
      }
    }
  }
}