@import "../../../../modules/global";

.hrpm15e {

  .panel-left {
    width: 25%;
  }
  .panel-right {
    width: 75%;
  }

  @media (max-width: 1279px){
    .panel-left {
      width: 50%;
    }
    .panel-right {
      width: 100%;
    }
  }

  .-custom-padding {
    padding: 40px 0 20px;
  }

  .dragdrop-body {
    padding: 25px 40px;
    background: #f4f2f3;
    border: 1px solid $black-30;
    border-radius: 3px 3px 0 0;

    @media (max-width: 900px){
      padding: 25px 20px;
    }

    .draggable {
      padding: 0 0 10px 0;
    }

    .dragTag {
      float: right;
      padding: 5px 10px;
      margin: 0 5px 0 0;
      cursor: pointer;
      border-radius: 50vh;

      &.-static {
        background: #566994;
      }
      &.-year {
        background: #3887c9;
      }
      &.-month {
        background: #998675;
      }
      &.-running {
        background: #57bd5a;
      }
      .tag-label {
        color: #FFF;
        cursor: pointer;
      }
    }

    .dragCard {
      width: 25%;
      float: left;
      padding: 10px 10px 10px 0;

      &:last-child {
        padding: 10px 0;
      }

      >.item {
        width: 100%;
        min-height: 211px;
        border: 1px solid $black-30;
        border-radius: 3px;
        cursor: move;
        box-shadow: 2px 5px 0px 0 rgba(0,0,0,0.2);

        >.header {
          padding: 4px 10px;
          background: #FFF;
          border-bottom: 1px solid $black-30;

          .close-icon {
            width: 100%;
            text-align: right;
            color: $black-50;
            font-size: 22px;
            height: 33px;
            i {
              cursor: pointer;
            }
          }

          .circle-box {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            margin: 0 auto 15px;

            &.-static {
              background: #566994;
            }
            &.-year {
              background: #3887c9;
            }
            &.-month {
              background: #998675;
            }
            &.-running {
              background: #57bd5a;
            }

            .header-label {
              padding: 20px 0;
              text-align: center;
              font-family: 'promptregular';
              color: #FFF;

              label {
                font-size: 18px;
                line-height: 50px;
              }
            }
          }
        }

        .-forcard {
          padding: 5px 10px;
          margin: 10px 0;

          .label {
            >label {
              font-size: 14px;
              margin: 0 0 10px 0;
            }
          }
        }
      }
    }
  }
  .codeemp-ex {
    margin: 0;
    width: 100%;
    border: 1px solid $black-30;
    border-radius: 0 0 3px 3px;
    padding: 20px;

    .label-ex {
      width: 100%;
      font-family: 'promptlight';
      font-size: 16px;
      font-weight: normal;
      line-height: 20px;
      text-align: left;
      white-space: normal;
      @include clearfix;

      .icon-user-box {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $black-50;
        text-align: center;
        float: left;

        i {
          color: #FFF;
          line-height: 55px;
          font-size: 38px;
        }
      }
      .genlabel {
        float: left;
        padding: 10px 0 0 20px;
        font-size: 18px;
        font-family: 'promptregular';
        color: $black-90;
      }
    }
    .gencode {
      float: left;
      padding: 0 0 0 40px;
      font-size: 24px;
      border: none;
      background: none;
      font-family: 'promptmedium';
      color: $blue;
    }
  } 


  .footer-group {
    width: 100%;
    margin: 60px 1.5% 0;
    padding: 30px 0 0;
    border-top: 2px solid $black-30;
  }
}