.button-group {
	@include clearfix;
	padding: 5px;

	>.first {
		@include text-md;
		height: 35px;
		min-width: 100px;
		padding: 6px 14px;
		text-align: center;
		border-radius: 4px 0 0 4px;
		border: 1px solid $black-25;
		outline: none !important;
		cursor: pointer;
		display: inline-block;
		float: left;
		position: relative;
		z-index: 1;
		transition: all .3s ease-in-out;
	}
	>.mid {
		@include text-md;
		margin: 0 0 0 -1px;
		height: 35px;
		min-width: 100px;
		padding: 6px 14px;
		text-align: center;
		border-radius: none;
		border: 1px solid $black-25;
		outline: none !important;
		cursor: pointer;
		display: inline-block;
		float: left;
		position: relative;
		z-index: 1;
		transition: all .3s ease-in-out;
	}
	>.last {
		@include text-md;
		margin: 0 0 0 -1px;
		height: 35px;
		min-width: 100px;
		padding: 6px 14px;
		text-align: center;
		border-radius: 0 4px 4px 0;
		border: 1px solid $black-25;
		outline: none !important;
		cursor: pointer;
		display: inline-block;
		float: left;
		position: relative;
		z-index: 1;
		transition: all .3s ease-in-out;
	}

	>.first, >.mid, >.last {
		&:hover {
			background: $black-15;
			transition: all .3s ease-in-out;
		}

		&.-active {
			background: $black-15;
			border: 1px solid $black-25;
			position: relative;
			z-index: 2;
		}
	}
}