button, html [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: none;
	appearance: none;
}



//Button_Large
.button-lg {
	font-size: 18px;
	height: 45px;
	min-width: 110px;
	padding: 10px 16px;
	text-align: center;
	border-radius: 2px;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
	border: none;
	outline: none !important;
	cursor: pointer;
	margin: 5px;
	display: inline-block;
	float:left;

	&:first-child {
		margin-left: 0;
	}

	&.-disable {
		cursor: not-allowed;
		box-shadow: none;
	}

	i {
		padding: 0 7px 0 0;
	}
}

//Button_Normal
.button-md {
	@include text-md;
	height: 35px;
	min-width: 100px;
	padding: 6px 12px;
	text-align: center;
	border-radius: 2px;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
	border: none;
	outline: none !important;
	cursor: pointer;
	margin: 5px;
	display: inline-block;
	float:left;

	&:first-child {
		margin-left: 0;
	}

	&.-disable {
		cursor: not-allowed;
		box-shadow: none;
  }
  
  &.-mobile {
    width: 100%;
    margin: 5px 0;
  }

	i {
		padding: 0 7px 0 0;
	}
}

//Button_Small
.button-sm {
	@include text-sm;
	height: 25px;
	min-width: 90px;
	padding: 2px 10px;
	text-align: center;
	border-radius: 2px;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
	border: none;
	outline: none !important;
	cursor: pointer;
	margin: 5px;
	display: inline-block;
	float:left;

	&:first-child {
		margin-left: 0;
	}

	&.-disable {
		cursor: not-allowed;
		box-shadow: none;
	}

	i {
		padding: 0 7px 0 0;
	}
}

//Dropdown Button
.dropdown-button {
	@include text-md;
	height: 35px;
	min-width: 100px;
	padding: 6px 14px;
	text-align: center;
	border-radius: 2px;
	border: 1px solid $black-25;
	outline: none !important;
	cursor: pointer;
	margin: 5px;
	display: inline-block;

	&.-disable {
		cursor: not-allowed;
		box-shadow: none;
	}
}