.bg-card {
	background: #CFCFCF;
}

.card-box {
	width: 100%;
	background: #FFF;
	padding: 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	>.header {
		text-align: center;
		font-size: 22px;
		padding: 15px 0;
		@include clearfix;
	}
	>.header-icon {
		text-align: right;
		float: right;
		margin: -50px 0 0 0;
		cursor: pointer;
		padding: 0 20px 0 0;
		color: $black-50;
		font-size: 18px;

		>.dropdown {

			.dropdown-icon {
        font-size: 16px;
        outline: none !important;
        cursor: pointer;
        margin: 5px;
        display: inline-block;
			}
      .dropdown-toggle::after {
        display: none;
        width: 0;
        height: 0;
        margin-left: 0;
      }

      .dropdown-menu {
        min-width: 200px;
        font-size: 14px;
        text-align: left;
        background: none;
        box-shadow: none;
        padding: 0;
        margin: -10px 0 2px -160px;
        list-style: none;
        border: none;
        border-image: initial;
        border-radius: 2px;

        .triangle {
          width: 24px;
          border-top: 13px solid transparent;
          border-right: 13px solid transparent;
          border-left: 13px solid transparent;
          border-bottom: 13px solid #FFF;
          position: relative;
          top: 2px;
          left: 155px;
          filter: drop-shadow(0 -1px 0 rgba(0,0,0,0.25));
          z-index: 8;
        }
        .dropdown-box {
          min-width: 200px;
          font-size: 14px;
          text-align: left;
          background-color: rgb(255, 255, 255);
          background-clip: padding-box;
          box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px;
          list-style: none;
          border-width: 1px;
          border-style: solid;
          padding: 5px 0;
          border-color: rgba(0, 0, 0, 0.15);
          border-image: initial;
          border-radius: 2px;
        }
      }
		}
	}
	>.content-list {
		// padding: 0 0 0 20px;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;

    @include scrollbar-custom;
	}
}

.card-type1 {
	>.content-list {
		.content-set-wrapper {
      padding: 0;
      
      .-hover {
        visibility: hidden;
      }

      &:hover {
        background: $black-10;
        .-hover {
          visibility: visible;
        }
      }
      &.no-hover:hover{
        background: none;
      }
      .content-set {
        margin: 0 0 0 20px;
        padding: 20px 0;
        border-bottom: 1px solid $black-10;

  			.topic-box {
  				width: 100%;
  				padding: 0 20px 0 0;
  				@include clearfix;

  				.topic-icon {
            float: left;
  					padding: 0 10px 0 0;
  					font-size: 18px;
  					color: $black-50;
  				}
  				.topic-text {
            width: 70%;
            float: left;
  					font-family: 'promptregular';
  					color: $black-60;
  					font-size: 16px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
  				}
  				.topic-time {
            width: 15%;
  					float: right;
  					color: $black-50;
            text-align: right;
            white-space: nowrap;
            font-size: 12px;
  				}
  			}
  			>.detail {
  				padding: 0 30px;
  				color: $black-50;
  				font-size: 14px;
  			}
      }
		}
	}
}

.card-type2 {
  >.content-list {
    .content-set-wrapper {
      padding: 0;

      &:hover {
        background: $black-10;
      }
      &.no-hover:hover{
        background: none;
      }
      .content-set {
        margin: 0 0 0 20px;
        padding: 20px 0;
        border-bottom: 1px solid $black-10;

        .topic-box {
          width: 100%;
          padding: 0 20px 0 0;
          @include clearfix;

          .topic-icon {
            float: left;
            padding: 0 10px 0 0;

            img {
              width: 35px;
            }
          }
          .topic-text {
            width: 55%;
            float: left;

            .company-name {
              font-size: 14px;
              color: $black-65;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              line-height: 1.2;
            }
            .topic {
              font-family: 'promptregular';
              font-size: 16px;
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              line-height: 1.2;
            }
          }
          .topic-time {
            width: 25%;
            float: right;
            color: $black-50;
            text-align: right;
            white-space: nowrap;
            font-size: 12px;
          }
        }
        >.detail-box {
          width: 100%;
          padding: 15px 0 0;
          @include clearfix;

          .detail {
            font-size: 14px;
            color: $black-50;
            width: 85%;
            float: left;
          }
          .detail-icon {
            font-size: 20px;
            width: 15%;
            float: right;
            text-align: right;
            padding: 0 20px 0 0;
            color: $black-50;
            a {
              text-decoration: none;
              color: $black-50;
            }
          }
        }
      }
    }
  }
}

// CodeComp ---------------------------------------------------------------------------
.card-company-box {
	width: 100%;
	background: #FFF;
	padding: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  margin: 0 0 20px 0;
	>.header {
		font-size: 18px;
		padding: 10px 15px;
    @include clearfix;
    font-family: 'promptmedium';
    border-bottom: 1px solid $black-20;

    i {
      padding: 0 5px 0 0;
      color: $blue;
    }
	}
	>.content-list {
    padding: 0;

    .content-set-wrapper {
      cursor: pointer;

      .content-set {
        @include clearfix;
        width: 100%;

        .content-icon {
          float: left;
          font-size: 12px;
          line-height: 21px;
          color: $black-50;
          text-align: center;
          padding: 10px;
          width: 10%;
        }
        .content-text {
          float: left;
          font-size: 14px;
          width: 70%;
          padding: 10px 10px 10px 0;
          @include clearfix;

          >.code {
            font-family: 'promptregular';
            color: $black-65;
            width: 20%;
            float: left;
          }
          >.desc {
            color: $black-50;
            float: left;
            width: 80%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
        .content-button {
          font-size: 14px;
          padding: 10px 0;
          width: 20%;
          float: right;
          text-align: center;
          color: #FFF;
          background: $blue;
          visibility: hidden;

          &.-one-column {
            width: 10%;
          }
        }
      }
      &:hover {
        background: $black-10;

        .content-button {
          font-size: 14px;
          padding: 10px 0;
          width: 20%;
          float: right;
          text-align: center;
          color: #FFF;
          background: $blue;
          visibility: visible;
        }
      }
    }
    .view-all-box {
      cursor: pointer;
      border-top: 1px solid $black-15;
      padding: 10px 15px;
      color: $blue;
      font-size: 14px;

      i {
        padding: 0 10px 0 0;
      }
    }
  }
  
  &.-one-column {
    box-shadow: none;

    >.header {
      border: none;
    }
    >.content-list {
      .content-set-wrapper {
        .content-set {
          width: 100%;
  
          .content-icon {
            width: 5%;
          }
          .content-text {
            width: 85%;
  
            >.code {
              width: 8%;
            }
            >.desc {
              width: 92%;
            }
          }
          .content-button {
            width: 10%;
          }
        }
      }
    }
  }
}
