.changedetail-group {
	@include clearfix;
	padding: 15px 0;
	
	>.img-box {
		margin: 5px 0;
		width: 40px;
		float: left;

		img {
			border-radius: 50%;
			width: 100%;
		}
	}
	>.detail-box {
		padding: 0 15px;
		float: left;

		.label-box {
			float: left;

			.editor-label {
				color: $black-35;
				white-space: nowrap;
			}
		}

		.data-box {
			padding: 0 0 0 20px;
			float: left;

			.editor-data {
				font-family: 'promptregular';
				color: $black-90;
				white-space: nowrap; 
			}
		}

	}
}