.checkbox-group {
	@include clearfix;
	margin: 10px 0;
	position: relative;

	>.checkbox-true {
	visibility: hidden;
	}

	>.checkbox-fake {
		margin: 0 0 0 15px;
		cursor: pointer;
		position: absolute;
		width: 18px;
		height: 18px;
		top: 0;
		left: 0;
		background: #FFF;
		border: 2px solid $black-20;
		border-radius: 3px;

		&:after {
			opacity: 0;
			content: '';
			position: absolute;
			width: 10px;
			height: 6px;
			background: transparent;
			top: 3px;
			left: 2px;
			border: 3px solid #FFF;
			border-top: none;
			border-right: none;
			transform: rotate(-45deg);
		}
	}

	input[type=checkbox]:checked + .checkbox-fake {
		border: 2px solid $blue;
		background: $blue;
	}
	input[type=checkbox]:checked + .checkbox-fake:after {
		opacity: 1;
	}
	input[type=checkbox][disabled] + .checkbox-fake{
	  cursor: not-allowed;
	  opacity: 0.5;
	}

	.checkbox-label {
		cursor: pointer;
		position: absolute;
		top: -1px;
		left: 50px;
		font-size: 16px;
		font-weight: normal;
	}
	input[type=checkbox][disabled] + .checkbox-fake + .checkbox-label {
		cursor: not-allowed;
	}
}