.collapse-group {
	width: 100%;

	>.panel-group {
		margin-bottom: 20px;

		.panel {
			margin-bottom: 0;
			background-color: #fff;
			border-radius: 0;
			border: none;
			box-shadow: none;

			.panel-heading {
				height: 55px;
				padding: 0 15px;
				background-color: #FFF;
				color: #252525;
				margin: -1px 0 0 0;
				border-top-right-radius: 0;
				border-top-left-radius: 0;
				border-top: 1px solid $blue;
				border-left: 1px solid $blue;
				border-right: 1px solid $blue;
				border-bottom: none;
				line-height: 55px;
				cursor: pointer;
				@include clearfix;
				
				.title {
					font-family: 'promptlight';
					font-size: 18px;
					display: inline;
					color: $blue;

					>.right {
						font-size: 12px;
						vertical-align: middle;
						padding: 0 10px 5px 0
					}
				}
				.up {
					font-size: 30px;
					line-height: 50px;
					display: inline;
					text-align: right;
					float: right;
					color: $blue;
				}
				.down {
					font-size: 30px;
					line-height: 50px;
					display: none;
					text-align: right;
					float: right;
				}
				.bookmark {
					font-size: 28px;
					line-height: 54px;
					padding: 0 20px 0 10px;
					display: inline;
					text-align: right;
					float: right;
					color: $blue;

					&.unpin {
						transform: rotate(45deg);
						height: 35px;
						line-height: 75px;
						color: $black-50;
					}
				}

				&.collapsed {
					border: 1px solid $black-30;

					.title {
						color: $black-90;

						>.right {
							color: $black-50;
							font-size: 12px;
							vertical-align: middle;
							padding: 0 10px 5px 0
						}
					}

					.up {
						font-size: 30px;
						line-height: 50px;
						display: none;
						text-align: right;
						float: right;
						color: $black-30;

					}
					.down {
						font-size: 30px;
						line-height: 50px;
						display: inline;
						text-align: right;
						float: right;
						color: $black-30;
					}
					.bookmark {
						font-size: 28px;
						line-height: 54px;
						padding: 0 20px 0 10px;
						display: inline;
						text-align: right;
						float: right;
						color: $blue;

						&.unpin {
							transform: rotate(45deg);
							height: 35px;
							line-height: 75px;
							color: $black-50;
						}
					}
				}
			}

			.panel-collapse {
				>.panel-body {
					@include clearfix;
					padding: 20px 60px;
					border-top: 1px solid $blue;
					border-left: 1px solid $blue;
					border-right: 1px solid $blue;
					border-bottom: 1px solid $blue;
					position: relative;
					// z-index: 3;
					margin: 0 0 -1px 0;
				}
			}
			
		}
		.panel + .panel {
			margin-top: 0;
		}
	}
}