.custom-banner {

  &.header-banner {
    background: $blue;
    // margin: 0 5% 30px;
    @include clearfix;
    position: relative;
    margin: -30px -3.325% 30px -3.325%;

    >.icon {
      float: left;
      margin-left: 6.05%;

      @media (max-width: 768px) {
        margin-left: 0;
      }

      img {
        width: 250px;
        height: auto;
        position: relative;
        top: 20px;
        margin-left: 10.125%;

        @media (max-width: 768px) {
          margin-left: 0;
        }
      }
    }
    >.topic {
      margin-left: 6.05%;
      color: #fff;
      font-size: 28px;
      font-family: 'promptregular';
      position: absolute;
      bottom: 20px;
      left: 220px;

      @media (max-width: 768px) {
        font-size: 22px;
        margin-left: 0;
        padding-right: 10px;
      }
    }
  }
}