.dropdown-button {
    white-space: nowrap;
}
.dropdown-menu {
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 2px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);

    li {
    	padding: 5px 20px;
    	cursor: pointer;

    	&:hover {
    		background: $black-10;
    	}

    	a{
    		color: $black-90;
    		text-decoration: none;
    	}
    }

  .divider {
  	height: 1px;
    margin: 5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
  }
}
