.file-group {
	display: table;
	margin: 10px 0;
	position: relative;
	width: 100%;
	>.label {
		display: table-row;
		font-family: 'prompt';
		font-size: 14px;
		font-weight: normal;
		line-height: 20px;
		text-align: left;
		color: #B7B7B7;
	}
	>.validator-text {
		display: table-row;
		@include text-xs;

		&.-success {
			color: $green;
		}
		&.-error {
			color: $red;
		}
	}
	>.name-file {
		display: table-cell;
		height: 35px;
		padding: 6px;
		border: 1px solid #B7B7B7;
		border-radius: 2px 0 0 2px;
		width: 100%;
		font-family: 'prompt';
		font-size: 16px;
		color: #252525;
		outline: none;

		&:focus{
			border-color: $blue;
		}
		&.-active {
			border-color: $blue;
		}
		&.-success {
			border-color: $green;
		}
		&.-error {
			border-color: $red;
		}
		&.-disable {
			background: #E1E1E1;
			cursor: not-allowed;
		}
		
	}
	>.icon {
		display: table-cell;
		font-size: 16px;
		color: #B7B7B7;
		padding: 0 12px;
		border-radius: 0 2px 2px 0; 
		border: 1px solid #B7B7B7;
		border-left: none;
		width: 1%;
		cursor: pointer;
		vertical-align: middle;

		&:focus{
			border-color: $blue;
		}
		&.-disable {
			background: #E1E1E1;
			cursor: not-allowed;
		}
	}
}