.footer-summary {
  @include clearfix;

  >.panel-set{
    position: static;
  
    .content-set {
      @include clearfix;
  
      .summary-label {
        float: left;
        width: 50%;
        color: $black-65;
      }
      .summary-data {
        float: left;
        width: 50%;
        color: $blue;
        font-family: 'promptregular';
      }
    }
  }
}


