.format-modal {
    .panel-body {
    padding: 60px;

    >.header-banner {
      background: $blue;
      margin: 0 5% 30px;
      @include clearfix;
      position: relative;

      >.icon {
        float: left;

        img {
          width: 250px;
          height: auto;
          position: relative;
          top: 20px;
        }
      }
      >.topic {
        color: #fff;
        font-size: 28px;
        font-family: 'promptregular';
        position: absolute;
        bottom: 20px;
        left: 220px;
      }
    }
  }
  .content-wrapper-custom {
    padding: 20px;

    >.content-box {
      @include clearfix;
      border: 1px solid $black-15;
      background: $black-10;
      display: table;
      width: 100%;
      min-height: 500px;

      >.panel-left {
        display: table-cell;
        // padding: 10px;
        float: left;
        width: 30%;
        min-height: 500px;
        background: $black-10;

        .topic {
          font-size: 16px;
          padding: 10px;
          font-family: 'promptmedium';
          background: $black-5;

          i {
            color: $blue;
            padding: 0 5px 0 0;
          }
        }
        .format-date-box {
          padding: 10px;
          border-bottom: 1px solid $black-15;
          background: $black-5;
        }
        .list-box {
          padding: 10px;
          
          .field-set {
            width: 100%;
            background: #FFF;
            border: 1px solid $black-15;
            padding: 5px 10px;
            margin: 5px 0 0 0;
            cursor: move;
            box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3); 
            @include clearfix;
            display: table;
            min-height: 40px;
            border-left: 3px solid $blue;
            border-top: none;
            border-bottom: none;
            border-right: none;

            &:first-child {
              margin: 0;
            }
            .tag {
              color: $blue;
              font-size: 12px;
              display: table-cell;
              vertical-align: middle;
            }
            .field-name {
              font-family: 'promptregular';
              font-size: 14px;
              color: $black-65;
              display: table-cell;
              vertical-align: middle;
              width: 80%;
            }
            .arrow-icon {
              display: table-cell;
              vertical-align: middle;
              color: $blue;
              font-size: 14px;
              text-align: right;
            }
          }
        }
      }
      >.panel-right {
        display: table-cell;
        float: left;
        width: 70%;
        min-height: 500px;
        // padding: 10px;
        background: #FFF;
        border-left: 1px solid $black-15;
        @include clearfix;

        .topic {
          font-size: 16px;
          font-family: 'promptmedium';
          margin: 0 0 31px 0;
          padding: 10px 10px 0 10px;

          .add-icon {
            float: right;
            color: $black-50;
            padding: 0 10px 0 0;
            cursor: pointer;

            &:hover {
              color: $blue;
            }
          }

          .hide-icon {
            color: $blue;
            float: right;
            cursor: pointer;

            &.-show {
              color: $black-50;

              &:hover {
                color: $blue;
              }
            }
          }
        }

        >.-content {
          padding: 0 10px 10px 10px;
          height: 500px;
          overflow-y: auto;
          @include scrollbar-custom;
        }
        .format-field-set {
          width: 100%;
          background: #FFF;
          border: 1px solid $black-15;
          margin: 10px 0;
          padding: 10px;
          box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3); 
          @include clearfix;
          cursor: move;
          
          &.field-moveable {
            border-left: 5px solid  $blue;
            border-bottom: 1px solid $blue;
            border-right: 1px solid $blue;
            border-top: 1px solid $blue;
          }

          .format-noneinput-group {
            @include clearfix;
            font-family: 'promptregular';
            .num {
              float: left;
              padding: 0 10px 0 0;
            }
            >.tag {
              float: left;
              font-size: 12px;
              padding: 6px 5px 0 0;
              color: $blue;
            }
            .field {
              float: left;
              padding: 0 5px 0 0;
            }
            .icon-sort {
              float: right;
              color: $blue;
            }
            .icon-close {
              float: right;
              padding: 0 0 0 15px;
              cursor: pointer;
              color: $red;
            }
          }
          
          .format-input-group {
            display: table;
            width: 100%;
            
            .column-name {
              padding-right: 5px;
              display: table-cell;
              width: 35%;
              >.input-group {
                margin-bottom: 0;
              }
            }
            .fix {
              padding-right: 5px;
              display: table-cell;
              width: 35%;
              >.input-group {
                margin-bottom: 0;
              }
            }
            .digit {
              padding-right: 5px;
              display: table-cell;
              width: 15%;
              >.input-group {
                margin-bottom: 0;
              }
            }
            .decimal {
              display: table-cell;
              width: 15%;
              >.input-group {
                margin-bottom: 0;
              }
            } 
          }
        }
      }
    }
  }
}
