.employee-detail-header {
  display: flex;
  .img-box {
    width: 60px;
    height: 60px;
    border-radius: 50%;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  >.detail {
    flex-grow: 1;
    padding: 0 0 0 20px;

    .emp-name {
      font-family: 'promptbold';
      font-size: 24px;
      color: $blue;
      line-height: 34px;
    }
    .emp-detail {
      display: table;

      .emp-code {
        font-size: 16px;
        line-height: 14px;
        font-family: 'promptmedium';
        display: table-cell;
      }

      .date-code {
        font-family: 'promptregular';

        >.label {
          color: $black-65;
        }
      }
      .arrow-box {
        padding: 0 0 0 35px;
        display: table-cell;
        .button-arrow {
          width: 25px;
          height: 25px;
          line-height: 25px;
          margin: -5px 0 0 5px;
          border-radius: 3px;
          vertical-align: middle;
          cursor: pointer;
          text-align: center;
  
          &:hover {
            background: $black-15;
          }
        }
      }
    }
  }
}