.index-header-box {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;

	.index-col {
		flex-grow: 1;

		@media (max-width: 1134px) {
			flex-basis: 100%;
		}

		.index-set {
			display: flex;

			.index-label {
				flex-basis: 30%;
				color: $black-60;
				font-family: 'promptlight';

				@media (max-width: 1366px) {
					flex-basis: 40%;
				}
				@media (max-width: 1134px) {
					flex-basis: 25%;
				}
				@media (max-width: 970px) {
					flex-basis: 30%;
				}
				@media (max-width: 768px) {
					flex-basis: 35%;
				}
			}
			.index-data {
				flex-basis: 70%;
				color: $black-90;
				font-family: 'promptregular';

				@media (max-width: 1366px) {
					flex-basis: 60%;
				}
				@media (max-width: 1134px) {
					flex-basis: 75%;
				}
				@media (max-width: 970px) {
					flex-basis: 70%;
				}
				@media (max-width: 768px) {
					flex-basis: 65%;
				}
			}
		}
	}
}