.input-group {
	display: table;
	margin: 20px 0;
	position: relative;
	width: 100%;
	.label {
		display: table-row;
		font-family: 'promptlight';
		font-size: 14px;
		font-weight: normal;
		line-height: 20px;
		text-align: left;
		color: $black-55;
		white-space: normal;
	}

	.label-underline {
		display: table-row;
		font-family: 'promptmedium';
		font-size: 16px;
		font-weight: normal;
		line-height: 20px;
		text-align: left;
		color: $black-90;
		text-decoration: underline;
		white-space: normal;
	}
	.validator-text {
		display: table-row;
		@include text-xs;

		&.-success {
			color: $green;
		}
		&.-error {
			color: $red;
		}
	}
	.normal-input {
		display: table-cell;
		height: 35px;
		padding: 6px;
		border: 1px solid #B7B7B7;
		border-radius: 2px;
		width: 100%;
		font-family: 'promptregular';
		font-size: 16px;
		color: #252525;
		outline: none;

		&:focus{
			border-color: $blue;
		}
		&.-active {
			border-color: $blue;
		}
		&.-success {
			border-color: $green;
		}
		&.-error {
			border-color: $red;
		}
		&.-disable {
			background: #E1E1E1;
			cursor: not-allowed;
		}
	}
	>.icon-input {
		display: table-cell;
		height: 35px;
		padding: 6px;
		border: 1px solid #B7B7B7;
		border-radius: 2px 0 0 2px;
		width: 100%;
		font-family: 'promptlight';
		font-size: 16px;
		color: #252525;
		outline: none;

		&:focus{
			border-color: $blue;
		}
		&.-active {
			border-color: $blue;
		}
		&.-success {
			border-color: $green;
		}
		&.-error {
			border-color: $red;
		}
		&.-disable {
			background: #E1E1E1;
			cursor: not-allowed;
		}
		
	}
	>.icon {
		display: table-cell;
		font-size: 16px;
		color: $black-50 !important;
		padding: 0 12px;
		border-radius: 0 2px 2px 0; 
		border: 1px solid #B7B7B7;
		border-left: none;
		width: 1%;
		cursor: pointer;
		vertical-align: middle;

		&:focus{
			border-color: $blue;
		}
		&.-disable {
			background: #E1E1E1;
			cursor: not-allowed;
		}
	}
	>.unit-input {
		display: table-cell;
		height: 35px;
		padding: 6px;
		border: 1px solid #B7B7B7;
		border-radius: 2px 0 0 2px;
		width: 100%;
		font-family: 'promptlight';
		font-size: 16px;
		color: #252525;
		outline: none;

		&:focus{
			border-color: $blue;
		}
		&.-active {
			border-color: $blue;
		}
		&.-success {
			border-color: $green;
		}
		&.-error {
			border-color: $red;
		}
		&.-disable {
			background: #E1E1E1;
			cursor: not-allowed;
		}
		
	}
	>.unit {
		display: table-cell;
		font-family: 'promptlight';
		font-size: 16px;
		color: $black-50 !important;
		padding: 0 12px;
		border-radius: 0 2px 2px 0;
		border: 1px solid #B7B7B7;
		border-left: none;
		width: 1%;
		white-space: nowrap;

		&.-disable {
			background: #E1E1E1;
			cursor: not-allowed;
		}
	}

	>.search-input {
		display: table-cell;
		height: 35px;
		padding: 6px 6px 6px 34px;
		border: 1px solid #B7B7B7;
		border-radius: 2px 0 0 2px;
		width: 100%;
		font-family: 'promptlight';
		font-size: 16px;
		color: #252525;
		outline: none;

		&:focus{
			border-color: $blue;
		}
		&.-active {
			border-color: $blue;
		}
		&.-success {
			border-color: $green;
		}
		&.-error {
			border-color: $red;
		}
		&.-disable {
			background: #E1E1E1;
			cursor: not-allowed;
		}
		
	}
	>.search-icon {
		display: block;
	    font-size: 16px;
	    color: $black-50 !important;
	    padding: 0 12px;
	    width: 1%;
	    cursor: pointer;
	    vertical-align: middle;
	    position: absolute;
	    top: 28px;

		&:focus{
		}
		&.-disable {
			cursor: not-allowed;
		}
	}
}