//--------------------- lov input
.lov-box {
    margin: 0 0 5px 0;

    .lovCodcomp {
        width: 12.5% !important;
        padding: 2px 1px !important;
        text-transform: uppercase;
        text-align: center;
        outline: none;
        border-top: 1px solid #d2d6de !important;
        border-left: 1px solid #d2d6de !important;
        border-bottom: 1px solid #d2d6de !important;
        border-right: none !important;
        float: left;
    }
    .btn-lov {
        background-color: #FFF;
        padding: 3px;
        height: 35px;
        font-size: 16px;
        border-radius: 2px;
        border: 1px solid #C2C3C3;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
        outline: none;
        text-align: center;
        width: 12.5%;
        float: left;

        &:hover {
            box-shadow: none;
        }
    }
    .btn-lov-disable {
        background-color: #EDEDED;
        color:#9E9E9E;
        padding: 3px;
        height: 35px;
        font-size: 16px;
        border-radius: 2px;
        border: 1px solid #C2C3C3;
        outline: none;
        text-align: center;
        width: 12.5%;
        float: left;
    }
    .detail-lov{
        width: 100% !important;
    }
    .lov-input{
        width: 87.5%;
        float: left;
    }
}

//--------------------- lov input