@media (min-width: 576px) {
  .modal-dialog {
    max-width: 700px;
    margin: 30px auto;
  }
  .modal-sm {
    max-width: 300px;
  }
}

.modal-group {
	.fade {
		opacity: 0;
	  transition: opacity 0.15s linear;

	  &.show {
	  	opacity: 1;
	  }
	}

	.modal {
	  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;

		.modal-dialog {
		  position: relative;
	    min-width: 500px !important;
      margin: 30px auto;

      &.modal-md {
        max-width: 700px !important;
      }

    	&.modal-lg {
				max-width: 900px !important;
				// width: 900px !important;
				
				@media (max-width: 768px) {
					max-width: 700px !important;
				}
    	}

    	&.modal-sm {
    		max-width: 300px !important;
    	}

    	.modal-content {
				position: relative;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-direction: column;
				flex-direction: column;
				background-color: #fff;
				background-clip: padding-box;
				border: 1px solid rgba(0, 0, 0, 0.2);
				border-radius: 3px;
				outline: 0;

				.modal-header {
					// display: -ms-flexbox;
					// display: flex;
					// -ms-flex-align: center;;
					// align-items: center;
					// -ms-flex-pack: justify;
					// justify-content: space-between;
					@include clearfix;
					display: block;
					padding: 15px;
          border-bottom: 1px solid $black-10;
          background: $black-10;
          box-shadow: 1px 1px 1px rgba(0,0,0,0.3);

					.modal-title {
						float: left;
						@include text-lg;
						margin-bottom: 0;
						line-height: 1.5;
					}
					.tag {
						cursor: pointer;
						float: right;
						font-size: 20px;
						line-height: 1.3;
						color: #000;
						text-shadow: 0 1px 0 #fff;
            opacity: .5;

						&:hover {
							opacity: .9;
						}
					}

					.close {
						cursor: pointer;
						float: right;
						font-size: 24px;
						line-height: 1;
						color: #000;
						text-shadow: 0 1px 0 #fff;
            opacity: .5;

						&:hover {
							opacity: .9;
						}
					}
				}
        .modal-breadcrumb {
          padding: 0 15px;
          height: 30px;
          line-height: 28px;
          font-size: 14px;
          background: $black-10;
          border-top: 2px solid $black-20;

          >.left {
            color: $blue;
            font-size: 16px;
            padding: 0 5px 0 0;
          }
        }
				.modal-body {
					position: relative;
					-ms-flex: 1 1 auto;
					flex: 1 1 auto;
					padding: 25px 15px;
          margin: 0;
          

					// &.-fix-height {
					// 	height: 500px;
					// 	overflow-y: auto;
					// 	@include scrollbar-custom;
					// }
				}
				.modal-footer {
					display: -ms-flexbox;
					display: block;
					-ms-flex-align: center;
					align-items: center;
					-ms-flex-pack: end;
					justify-content: flex-end;
					padding: 15px;
					border-top: 1px solid $black-10;
				}
    	}
		}
	}

	.modal.show .modal-dialog {
    transform: translate(0, 0);
  }
  .modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
	}
	
	.modal-header .close {
		padding: 15px;
		margin: -15px -15px -15px 5px;
	}
}

// Modal LOV ------------------------------------------------------
.modal-mask {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2000;
	display: block;
	background-color: rgba(0, 0, 0, .5);
	overflow-x: hidden;
	overflow-y: auto;
	outline: 0;
	transition: opacity .3s ease;

	.modal-wrapper {
		vertical-align: middle;
		padding: 20px 0;

		.modal-container {
      width: 90%;
      max-width: 900px;
			margin: 0 auto;
			background-color: #fff;
			border-radius: 2px;
			box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
			transition: all .3s ease;
			overflow-x: auto;

			.modal-header {
				display: -ms-flexbox;
				display: flex;
				-ms-flex-align: center;
				align-items: center;
				-ms-flex-pack: justify;
				justify-content: space-between;
				padding: 15px;
				border-bottom: 1px solid $black-10;
				background: #FFF;
				box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
				@include clearfix;
			
				.modal-title {
					@include text-lg;
					margin-bottom: 0;
					line-height: 1.5;
				}

				.close {
					cursor: pointer;
					float: right;
					font-size: 24px;
					font-weight: bold;
					line-height: 1;
					color: #000;
					text-shadow: 0 1px 0 #fff;
          opacity: .5;

					&:hover {
						opacity: .9;
					}
				}
			}
			.modal-body {
				margin: 10px 0;
        padding: 10px;
			}
		}
	}
}	
.modal-default-button {
	float: right;
}

.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}