.ot-summary-box {
	border: 1px solid $black-30;
	width: 100%;
	padding: 30px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	margin: 10px 0 0 0;

	.heading {
		font-size: 22px;
		font-family: 'promptmedium';
		position: static;
	}
	.panel-set{
		padding: 20px;
		position: static;

		.content-set {
			@include clearfix;

			.ot-label {
				float: left;
				width: 50%;
				color: $black-65;

				i {
					padding: 0 10px 0 0;
				}
			}
			.ot-data {
				float: left;
				width: 50%;
				color: $blue;
				font-family: 'promptregular';
			}
		}
	}
}