.radio-group {
	@include clearfix;
	margin: 10px 0 5px;
	position: relative;

	>.radio-true {
	visibility: hidden;
	}

	>.radio-fake {
		margin: 0 0 0 15px;
		cursor: pointer;
		position: absolute;
		width: 20px;
		height: 20px;
		top: 0;
		left: 0;
		background: #FFF;
		border: 2px solid $black-20;
		border-radius: 20px;

		&:after {
			opacity: 0;
			content: '';
			position: absolute;
			width: 10px;
			height: 10px;
			background: $blue;
			top: 3px;
			left: 3px;
			border-radius: 6px;
		}
	}

	input[type=radio]:checked + .radio-fake {
		border: 2px solid $blue;
	}
	input[type=radio]:checked + .radio-fake:after {
		opacity: 1;
	}
	input[type=radio][disabled] + .radio-fake{
	  cursor: not-allowed;
	  opacity: 0.5;
	}

	.radio-label {
		cursor: pointer;
		position: absolute;
		top: 1px;
		left: 50px;
		font-size: 14px;
		font-weight: normal;
	}
	input[type=radio][disabled] + .radio-fake + .radio-label {
		cursor: not-allowed;
	}
}