.select-group {
	width: 100%;
	// margin: 20px 0;
	@include clearfix;

	>.label {
		display: table-row;
		font-family: 'promptlight';
		font-size: 14px;
		font-weight: normal;
		line-height: 20px;
		text-align: left;
		color: #B7B7B7;
	}
	
	>.select {
		width: 100%;
		height: 35px;
		float: left;
		border-radius: 2px;
		border: 1px solid #b7b7b7;
		background: transparent;
		outline: none;
		padding: 0 6px;
		appearance: none;
		position: relative;
		// z-index: 3;

		&::-ms-expand{
    	display: none;
		}

		&:focus {
			border-color: $blue;
		}
	}

	.caret {
		background: #FFF;
	    width: 30px;
	    height: 30px;
	    line-height: 30px;
	    float: right;
	    text-align: center;
	    margin-top: -34px;
	    margin-right: 2px;
	    position: relative;
		z-index: 2;
		border: none;
	}
}