.body-wrapper {
	background: #FFF;
	// padding: 50px;
	padding: 30px 3.125%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
	min-height: 100vh;
}

.underline {
	width: 100%;
	margin: 20px 7.5% 5px 7.5%;
	border-bottom: 1px solid $black-10;
}
.hidden {
	display: none;
}

.group-space-lg {
	// padding: 0 120px;
	padding: 0 7.5%;
}

.group-space-md {
	// padding: 0 60px;
	padding: 0 5%;
}

.group-space-sm {
	// padding: 0 60px;
	padding: 0 2.5%;
}