.tabselect-group {
	width: 100%;
	padding: 20px;

	.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    // display: block;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    @include clearfix;

    &.nav-tabs {
	    border-bottom: 1px solid #d7d7d7;

	    .nav-item {
		    margin-bottom: -1px;
		    @include text-lg
		    // float: left;
		    padding: 0;

		    .nav-link {
		    	padding: 15px 35px;
		    	border-radius: 0;
		    	color: #252525;

		    	&:hover {
				    border-color: transparent;
		    	}
		    	&.active, &.active:focus &.active:hover {
		    		color: $blue;
				    background-color: #fff;
				    border: 1px solid #d7d7d7;
				    border-top: 2px solid $blue;
				    border-bottom-color: transparent;
				    cursor: default;
		    	}
		    }
			}
	  }
  }

  .tab-content {
  	@include text-md
  	color: #252525;
  	padding: 30px;
  }
}