/*table*/
.wrapper-hrms-table{
    padding:15px 15px 0 0;
    @include clearfix;

    @media (max-width:768px) {
        box-shadow: none;
    }

    .top-table{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

      .top-higher-order {
        display: flex;
        padding: 10px 0;
        align-items: flex-end;
        flex-direction: row;
        flex-basis: 100%;
        // flex-grow: 30;
      }
      .top-option-table {
        display: flex;
        padding: 10px 0;
        align-items: flex-end;
        flex-grow: 1;
        justify-content: flex-end;

        .control-search {
          .search-table {
            height: 35px;
            padding: 6px;
            border: 1px solid #B7B7B7;
            border-radius: 2px;
            width: 100%;
            font-family: 'promptregular';
            font-size: 16px;
            color: #252525;
            outline: none;

            &:focus {
              border: 1px solid $blue;
            }
          }
        }
        .columnsetting {
          align-items: center;

          .inline-button  {
            padding: 5px 0 5px 10px;
          }
        }
        .inline-button {
          padding: 5px 10px;
          color: $black-65;
          cursor: pointer;

          &:hover {
              color: $blue;
          }
        }
      }
    }

    .bottom-table{
        padding-bottom: 10px;

        .num-show{
            margin: 9px 0 0;
        }
    } 

    .bottom-table-left {
      .panel-control-bottom {
        @include clearfix;

        .control-search {
          float: left;
        }
      }
    }

    .loading {
        overflow:hidden !important;
    }

    .table-hrms {
        margin:0 0 10px;
        overflow-x: auto;
        // overflow-y: -webkit-paged-y;
        clear: both;

        .table-paging {
            .paging-left {
                margin-top: 13px;
            }
        }
        #table-paging-bottom{
            margin-bottom: 15px;
            background-color: #e6e6e6;
            padding: 0 10px 10px;
            margin-top: 5px;
        }
        .table-border {
            position: relative;
        }
        table {

            .odd{
                background-color: #FFFFFF;
            }
            .even{
                background-color: #FFF;
            }
            thead {
                .tools {
                    opacity: 1;
                    margin-top: -15px;
                    margin-left: -15px;
                }
                .tool-approve{
                    height: 30px;
                    vertical-align: middle;
                    padding-bottom: 0;
                }
                tr {
                    background-color: #FFF;
                    color:#212121;
                    th {
                        text-align: center;
                        vertical-align: middle !important;
                        font-family: 'promptregular';
                        border-bottom: 2px solid #757575;
                        padding: 20px 5px;
                        font-size: 16px;
                    }
                }
            }
            tbody {
                background-color: #ffffff;
                color: #000000;
                .selected {
                    background-color: #C2DEED;
                    &:hover {
                        background-color: #C2DEED;
                    }
                }
                tr {
                	border-bottom: 1px solid $black-10;

                	&:last-child {
                		border-bottom: 2px solid $black-65;
                	}
                    td {
                        vertical-align: middle;
                        // position: inherit;

                        .emp-img-table {
                            width: 35px;
                            height: 35px;
                            margin: auto;

                            .emp-img {
                                border-radius: 50%;
                                width: 100%;
                                height: auto;
                            }
                        }

                        .table-button{

                            .icon-detail{
                                font-size:20px;
                                color:#757575;
                            }
                        }

                        .button-in-td{
                        		text-align: center;
                            font-size:20px;
                            color: $blue;
                            cursor: pointer;
                        }

                        .td-link{
                            text-align: center;
                            
                            a{
                                color:#212121 !important;
                            }
                        }

                        .td-textarea{
                            text-align: center;
                            padding: 5px 0 0;
                            textarea {
                                height: 35px;
                            }
                        }
                            
                        textarea, input, select{
                            outline:none;
                            border:1px solid #b7b7b7;
                            padding:7px 10px;
                        }
                        input, select {
                            height: 35px;
                        }
                    }
                    &:hover {
                        background: #F1F1F1;
                        color:#212121;
                    }
                }
            }

            td, th {
                padding: 2px 6px;
                // overflow: auto;
                max-width: 400px;
            }
        }

        &.table-main {
            table {
                width: 100%;
                thead {
                	background: #FFF;
                	border-top: 1px solid $black-15;
                	border-bottom: 2px solid $black-65;
                    // background-color: #3C8DBC;
                    // color: #ffffff;
                    tr {
                        th {
                            &.col-left {
                                border-left: 1px solid #3C8DBC;
                            }
                            &.col-right {
                                border-right: 1px solid #3C8DBC;
                            }
                            &.thead-icon {
                              padding: 0 20px;
                              width: 50px;
                            }
                            .sort-icon {
                            	color: $black-50;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        height: 45px;
                    }
                }
                &.with-filter {
                    margin-top: 45px;
                }
            }
        }

        &.table-lov {
            tbody {
                tr {
                    height: 35px !important;
                }
            }
        }

        &.table-detail {
          table {
            width: 100%;
            thead {
              background-color: #1A96D6;
              color: #ffffff;
              tr {
                th {
                  border-top: 1px solid #cccccc;
                  &.col-left {
                    border-left: 1px solid #cccccc;
                  }
                  &.col-right {
                    border-right: 1px solid #cccccc;
                  }
                }
              }
            }
            &.with-filter {
              margin-top: 45px;
            }
          }
        }

        .tools{
            position: absolute;
            background-color: rgba(121, 121, 121, 0.67);
            color: #e4e4e4;
            opacity: 1;
            line-height: 1;
            margin-left: 0;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            -khtml-border-radius: 5px;
            border-radius: 4px;
            margin-top: -20px;
            &:hover{
                opacity: 1 !important;
            }
        }
        thead .tools{
            -moz-border-radius: 4px !important;
            -webkit-border-radius: 4px !important;
            -khtml-border-radius: 4px !important;
            border-radius: 4px !important;
        }
        .tool-approve{
            display: table-cell;
            vertical-align: bottom;
            height: 40px;
            width: 85px;
            font-size: 10px;
            cursor: pointer;
            padding-bottom: 3px;
            padding-left: 5px;
            padding-right: 5px;
            .flg-name{
                text-transform: uppercase;
            }
        }
    }

    .table-header{
        overflow: hidden;
        margin-right: 12px;
    }
    .table-overflow{
        overflow: auto;
    }
    .table-overflow-x{
        overflow-x: auto;
    }
    .table-detail-overflow{
        overflow-x: auto;
        max-height: 500px;
    }
    .table-lov-overflow{
        overflow-x: auto;
    }

    // $header-table-mobile: 562px;
    // .panel-control {
    //     float: right;
    //     padding: 0 0 15px 0;
    //     width: 100%;

    //     @media(max-width: $header-table-mobile) {
    //         text-align: center;
    //     }

    //     // .inline-button {
    //     //     float: right;
    //     //     padding: 5px 10px;
    //     //     color: $black-65;
    //     //     cursor: pointer;

    //     //     &:hover {
    //     //         color: $blue;
    //     //     }
    //     // }

    //     .control-search {
    //         float: right;

    //         .control-button {
    //             float:left;
    //             cursor: pointer;
    //             font-size: 16px;
    //             height: 35px;
    //             outline: none;
    //             text-align: center;
    //             padding: 0 12px;
    //             box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
    //             margin: 10px;
    //             border-radius:2px;

    //             i {
    //                 float:left;
    //                 font-size: 16px;
    //                 line-height: 35px;
    //             }

    //             .label-btn-table{
    //                 float:left;
    //                 margin:0 5px;
    //                 line-height: 37px;
    //                 font-size:16px;
    //             }
    //         }

    //         .control-center {
    //             display: table;
    //             // margin: 0 0 10px;
    //             position: relative;
    //             width: 100%;
    //             // float: right;   
    //             // @media (max-width: $header-table-mobile) {
    //             //     width:70%;
    //             // }

    //             .search-table {
    //                 display: table-cell;
    //                 height: 35px;
    //                 padding: 6px;
    //                 border: 1px solid #B7B7B7;
    //                 border-radius: 2px;
    //                 width: 100%;
    //                 font-family: 'promptlight';
    //                 font-size: 16px;
    //                 color: #252525;
    //                 outline: none;

    //                 &:focus{
    //                     border-color: $blue;
    //                 }
    //                 &.-active {
    //                     border-color: $blue;
    //                 }
    //                 &.-success {
    //                     border-color: $green;
    //                 }
    //                 &.-error {
    //                     border-color: $red;
    //                 }
    //                 &.-disable {
    //                     background: #E1E1E1;
    //                     cursor: not-allowed;
    //                 }
    //             }
    //         }
    //         @media (max-width: $header-table-mobile) {
    //              width:100%;
    //         }
    //     }
    //     .control-page {
    //         float: right;
    //         margin-top: 10px;
    //         @media (max-width: $header-table-mobile) {
    //             width: 100%;
    //             margin-top: 0;
    //             background-color: #fff;
    //             padding: 5px;
    //         }
    //     }    
    // }

    .paging{
        border: none;
        display: block;
        float: left;
        min-width: 30px;
        text-align: center;
        color: #212121;
        height:35px;
        line-height: 35px;
    }
    .paging-focus{
        background-color: #757575;
        color: #FFF;
    }
    .select-perpage{
        border: 1px solid #d2d6de;
        outline: none;
        height: 35px;
        color: #212121;
        padding: 0 25px 0 5px;
    }
    .perpage-focus{
        color: #212121;
        font-family: 'promptregular'
    }
    .panel-perpage{
        margin-right: 20px;
    }
    .panel-perpage-bottom{
      .num-show {
        height: 35px;
        line-height: 35px;
        color: $black-65;
      }
    }
    .panel-paging{
    }
    .panel-paging-bottom{
        margin-bottom: 10px;
    }
    .no-link{
        display: none;
        color: #777;
    }
    .no-data{
        text-align: center;
        padding: 15px;
    }
    .td-link{
        width: 100%;
        height: 100%;
    }

}
/*END table*/