.input-group {
	display: table;
	margin: 20px 0;
	position: relative;
	width: 100%;
	>.label {
		display: table-row;
		font-family: 'promptlight';
		font-size: 14px;
		font-weight: normal;
		line-height: 20px;
		text-align: left;
		color: $black-55;
		white-space: normal;
	}
	>.validator-text {
		display: table-row;
		@include text-xs;

		&.-success {
			color: $green;
		}
		&.-error {
			color: $red;
		}
	}
	>.normal-textarea {
		display: table-cell;
		padding: 6px;
		border: 1px solid $black-50;
		border-radius: 2px;
		width: 100%;
		font-family: 'promptlight';
		font-size: 16px;
		color: #252525;
		outline: none;

		&:focus{
			border-color: $blue;
		}
		&.-active {
			border-color: $blue;
		}
		&.-success {
			border-color: $green;
		}
		&.-error {
			border-color: $red;
		}
		&.-disable {
			background: #E1E1E1;
			cursor: not-allowed;
		}
	}
}