<template>
  <div name="hrms-search-box" class="hrms-search-box clearfix" id="hrms-search-box">
    <div class="box-body clearfix">
	    <div v-if="searchComponents.length > 0">
        <template v-for="(searchComponent, searchComponentIndex) in searchComponents">
          <hrms-search-box-higher-order
              :key="searchComponentIndex"
              v-model="inputValue"
              :boxType="searchComponent.boxType"
              :rules="searchComponent.rules"
              :condition="searchComponent.condition"
              :searchBoxLabels="searchBoxLabels[nowLang]"
              :nowLang="nowLang"
              :findLovType="findLovType"
              :checkBoxType="checkBoxType"
              :genDropdowns="genDropdowns"
              @setDataRowSearchbox="setDataRowSearchboxTable(arguments[0])"
              @validateEvent="findValid(arguments[0])"
              :listFields="listFields" />
        </template>
        <div class="col-xs-12">
          <div class="button-md _bg-grey" @click="clearSearchParams()" style="margin-left: 0;"><i class="fa fa-refresh"></i>{{button[nowLang].clear}}</div>
          <div class="button-md _bg-blue" @click="callSearch(inputValue)"><i class="fa fa-search"></i>{{button[nowLang].search}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import assetsLabels from 'assets/js/labels'
import { searchComponentGenerator, searchBoxLabels, findLovType, checkBoxType, genDropdowns } from './components/searchComponents'
import hrmsSearchBoxHigherOrder from './components/higherOrder'
import moment from 'moment'
import bus from 'assets/js/bus'

export default {
  name: 'hrms-search-box',
  data () {
    return {
      dash: this.$root.$children[0].$children[1],
      dataRow: {},
      button: assetsLabels.button,
      searchBoxLabels: searchBoxLabels,
      findLovType: findLovType,
      checkBoxType: checkBoxType,
      genDropdowns: genDropdowns,
      allChildValid: false,
      searchComponents: searchComponentGenerator(this.searchBoxAlias),
      inputValue: {},
      inputSearchDefault: {}
    }
  },
  created () {
    this.inputValue = this.initialInputValue(false)
    this.inputSearchDefault = this.initialInputValue(false)
  },
  computed: {
    tinitial () {
      let tinitial = this.dash.getTinitial()
      // return tinitial[this.nowLang]
      return tinitial['en']
    }
  },
  props: {
    value: {
      type: Object
    },
    receivedStore: {
      type: Function,
      required: true
    },
    nowLang: {
      type: String,
      default: assetsLabels.defaultLang
    },
    searchBoxAlias: {
      type: String,
      required: true
    },
    listFields: {
      type: Object
    },
    closeSearchBoxTable: {
      type: Function
    }
  },
  watch: {
    inputValue (newVal) {
      this.$emit('input', newVal)
    },
    tinitial () {
      this.inputValue = this.initialInputValue(false)
    }
  },
  methods: {
    setDataRowSearchboxTable (dataRow) {
      this.dataRow = dataRow
      this.$emit('setDataRowSearchboxTable', this.dataRow)
    },
    initialInputValue (clearValue) {
      let inputValue = {}
      let index = 0
      for (var searchComponent of this.searchComponents) {
        index++
        if (typeof this.tinitial[index] !== 'undefined') {
          inputValue[searchComponent.boxType] = this.tinitial[index]
        } else if (typeof this.value[searchComponent.boxType] !== 'undefined') {
          if (!clearValue) {
            inputValue[searchComponent.boxType] = this.value[searchComponent.boxType]
          } else {
            inputValue[searchComponent.boxType] = this.inputSearchDefault[searchComponent.boxType]
          }
        } else {
          inputValue[searchComponent.boxType] = this.setValueFromBoxType(searchComponent)
        }
      }
      if (inputValue.hasOwnProperty('syncond')) {
        inputValue.syncond = {
          code: '',
          description: ''
        }
      }
      if (inputValue.hasOwnProperty('hcmhral5ou')) {
        inputValue.hcmhral5ou = {
          status: '',
          data: {}
        }
      }
      return inputValue
    },
    setValueFromBoxType (searchComponent) {
      if (searchComponent.boxType.indexOf('year') !== -1) {
        return moment().year()
      } else if (searchComponent.boxType.indexOf('month') !== -1) {
        return moment().month()
      } else if (searchComponent.boxType.indexOf('staappr') !== -1) {
        return 'P'
      } else if (searchComponent.boxType.indexOf('hcmhral4ke') !== -1) {
        return '1'
      } else if (searchComponent.boxType.indexOf('calculator') > -1) {
        return {
          code: '',
          description: ''
        }
      } else {
        return ''
      }
    },
    findValid (allChildValidResult) {
      this.allChildValid = (this.allChildValid && !allChildValidResult) ? allChildValidResult : this.allChildValid
    },
    callSearch (inputValue) {
      this.allChildValid = true
      Promise.all([
        bus.$emit('veeValidate'),
        this.$validator.validateAll()
      ]).then((results) => {
        this.$nextTick(function () {
          if (this.allChildValid && results[1]) {
            this.$emit('setLoadingParentBool', true)
            this.$emit('setPreLoadParentBool', false)
            this.$emit('setStaappr', inputValue.staappr || '')
            this.$emit('clearTableInputSearch')
            this.closeSearchBoxTable()
            this.receivedStore(inputValue)
          }
        })
      })
    },
    clearSearchParams () {
      this.inputValue = this.initialInputValue(true)
    }
  },
  components: {
    hrmsSearchBoxHigherOrder
  }
}
</script>

<style lang="scss">
  .form-group-button {
    margin: 20px 0 10px 0;
    text-align: center;
  }
</style> 