<template>
  <div name="logical-statement">
    <div v-show="tableMode" class="input-group _unmargin">
      <input class="icon-input" type="text" name="input" v-model="submitDescStmt" :disabled="true" />
      <span v-if="disabled" class="fa fa-pencil icon _text-grey -disable"></span>
      <span v-if="!disabled" class="fa fa-pencil icon _text-blue cursor-pointer" @click.prevent="showModal = true"></span>
    </div>
    <div v-show="!tableMode" class="input-group">
      <div class="label">กำหนดเงื่อนไข
        <i v-if="disabled" class="fa fa-pencil icon _text-grey -disable" ></i>
        <i v-if="!disabled" class="fa fa-pencil _text-blue cursor-pointer" @click="showModal = true"></i>
      </div>
      <textarea class="normal-textarea" type="text" name="textarea"  v-model="submitDescStmt" :disabled="true"></textarea>
    </div>

    <popup  :lists="myLists"
            :name="name"
            :showModal="showModal"
            :closeModal="closeModal"
            :listFields="listFields[nowLang]"
            :listConjunctions="listConjunctions[nowLang]"
            :listOperators="listOperators[nowLang]"
            :viewList="viewList"
            :editList="editList"
            :deleteList="deleteList"
            :linkList="linkList"
            :unlinkList="unlinkList"
            :groupList="groupList"
            :ungroupList="ungroupList"
            :setDescConjAndDescStmt="setDescConjAndDescStmt"
            @setLists="myLists = arguments[0]"
            :totalLink="totalLink"
            :validStmt="validStmt"
            :rootNode="myLists.length === 0"
            :list="list"
            :listDisp="listDisp"
            :objConj="objConj"
            :addList="addList"
            :resetLists="resetLists"
            :back="back"
            :submit="submit"
            :findInputType="findInputType"
            :showAddList="showAddList" />
  </div>
</template>

<script>
  import popup from './components/popup'
  const crypto = require('crypto')

  export default {
    name: 'logical-statement',
    components: {
      popup
    },
    data () {
      return {
        showModal: false,
        myLists: this.setMyLists(this.value),
        list: this.initialList(),
        listDisp: false,
        objConj: this.initialConjunction(),
        submitCodeStmt: this.value.code,
        submitDescStmt: this.value.description,
        validStmt: true,
        listConjunctions: {
          en: {
            'and': 'And',
            'or': 'Or'
          },
          th: {
            'and': 'และ',
            'or': 'หรือ'
          }
        },
        listOperators: {
          en: [
            { code: '=', description: 'EQUAL TO', type: [ 'varchar2', 'number', 'date' ] },
            { code: '>', description: 'MORE THAN', type: [ 'varchar2', 'number', 'date' ] },
            { code: '<', description: 'LESS THAN', type: [ 'varchar2', 'number', 'date' ] },
            { code: '<>', description: 'NOT EQUAL TO', type: [ 'varchar2', 'number', 'date' ] },
            { code: '<=', description: 'NOT MORE THAN', type: [ 'varchar2', 'number', 'date' ] },
            { code: '>=', description: 'NOT LESS THAN', type: [ 'varchar2', 'number', 'date' ] },
            { code: '_%', description: 'START WITH', type: [ 'varchar2' ] },
            { code: '%_', description: 'END WITH', type: [ 'varchar2' ] },
            { code: '%_%', description: 'COMPOSED OF', type: [ 'varchar2' ] },
            { code: '!%_%', description: 'NOT COMPOSED OF', type: [ 'varchar2' ] }
          ],
          th: [
            { code: '=', description: 'เท่ากับ', type: [ 'varchar2', 'number', 'date' ] },
            { code: '>', description: 'มากกว่า', type: [ 'varchar2', 'number', 'date' ] },
            { code: '<', description: 'น้อยกว่า', type: [ 'varchar2', 'number', 'date' ] },
            { code: '<>', description: 'ไม่เท่ากับ', type: [ 'varchar2', 'number', 'date' ] },
            { code: '<=', description: 'ไม่มากกว่า', type: [ 'varchar2', 'number', 'date' ] },
            { code: '>=', description: 'ไม่น้อยกว่า', type: [ 'varchar2', 'number', 'date' ] },
            { code: '_%', description: 'ขึ้นต้นด้วย', type: [ 'varchar2' ] },
            { code: '%_', description: 'ลงท้ายด้วย', type: [ 'varchar2' ] },
            { code: '%_%', description: 'ที่ประกอบด้วย', type: [ 'varchar2' ] },
            { code: '!%_%', description: 'ที่ไม่ประกอบด้วย', type: [ 'varchar2' ] }
          ]
        }
      }
    },
    watch: {
      myLists (newVal) {
        this.$emit('setLists', newVal)
      },
      value (newVal) {
        if (newVal.code !== this.submitCodeStmt) {
          this.submitCodeStmt = newVal.code
          this.submitDescStmt = newVal.description
          this.myLists = this.setMyLists(this.value)
        }
      },
      submitCodeStmt (newVal) {
        this.$emit('input', { code: newVal, description: this.submitDescStmt })
        this.$emit('changeStatement')
      },
      submitDescStmt (newVal) {
        this.$emit('input', { code: this.submitCodeStmt, description: newVal })
        this.$emit('changeStatement')
      }
    },
    props: {
      tableMode: {
        type: Boolean,
        default: false
      },
      value: {
        type: Object,
        required: true
      },
      nowLang: {
        type: String,
        default: 'en'
      },
      name: {
        type: String,
        required: true
      },
      disabled: {
        type: Boolean,
        default: false
      },
      listFields: {
        type: Object,
        default () {
          return {
            en: [],
            th: []
          }
        }
      }
    },
    computed: {
      totalLink () {
        return this.myLists.filter(function (list) {
          return list.flgLink
        }).length
      }
    },
    methods: {
      nthIndex (str, pat, n) {
        let L = str.length
        let i = -1
        while (n-- && i++ < L) {
          i = str.indexOf(pat, i)
          if (i < 0) break
        }
        return i
      },
      // setMyLists (statement) {
      //   let firstOperator = 99999
      //   let firstConjunction = 99999
      //   let firstStartBracket = 99999
      //   let operators = ['=', '>', '<', '<>', '<=', '>=', '_%', '%_', '%_%', '!%_%']
      //   let conjunctions = ['and', 'or']
      //   for (let operator of operators) {
      //     if (statement.code.indexOf(operator) > -1) {
      //       firstOperator = Math.min(firstOperator, statement.code.indexOf(operator))
      //     }
      //   }
      //   for (let conjunction of conjunctions) {
      //     if (statement.code.indexOf(conjunction) > -1) {
      //       firstConjunction = Math.min(firstConjunction, statement.code.indexOf(conjunction))
      //     }
      //   }
      //   firstStartBracket = statement.code.indexOf('(')
      //   if (firstOperator < firstStartBracket) {
      //     if (firstStartBracket > -1) {
      //       let closeEndBracket = this.nthIndex(statement.code, ')', statement.code.split('(').length - 1)
      //       let groupStatement = statement.code.substring(firstStartBracket, closeEndBracket)
      //       statement.code = statement.code.replace(groupStatement, '')
      //     }
      //   }
      // },
      setMyLists (statement) {
        let lists = []
        if (statement.code !== '') {
          lists.push({
            id: this.hashCode(),
            codeStmt: statement.code,
            descStmt: statement.description,
            flgEdit: false,
            flgLink: false,
            ...this.getStatement(statement)
          })
        }
        return lists
      },
      getStatement (statement) {
        let operators = ['=', '>', '<', '<>', '<=', '>=', '_%', '%_', '%_%', '!%_%']
        if (statement.code.split('(').length <= 1) {
          // has not group statement
          let newStatement = statement.code.replace('(', '').replace(')', '')
          for (let operator of operators) {
            if (newStatement.indexOf(operator) > -1) {
              let piecesOfStatement = newStatement.split(operator)
              if (piecesOfStatement.length >= 1) {
                return {
                  field: piecesOfStatement[0].trim(),
                  operator: operator,
                  value: piecesOfStatement[1].trim()
                }
              } else {
                return {
                  field: '',
                  operator: '',
                  value: ''
                }
              }
            }
          }
        }
        // else {
        //   // have two statement atleast
        //   let firstStartBracket = statement.code.indexOf('(')
        //   let newStatement = {
        //     code: statement.code.substring(firstStartBracket, statement.code.length - 1),
        //     description: statement.description.substring(firstStartBracket, statement.description.length - 1)
        //   }
        //   return {
        //     statement: this.setMyLists(newStatement)
        //   }
        // }
      },
      closeModal () {
        this.showModal = false
      },
      hashCode () {
        return crypto.randomBytes(20).toString('hex')
      },
      initialList () {
        return {
          field: '',
          operator: '',
          value: ''
        }
      },
      initialConjunction () {
        return {
          descConj: '',
          conj: ''
        }
      },
      findInputType (field) {
        let listFieldIndex = this.listFields[this.nowLang].map(function (listField) {
          return listField.code
        }).indexOf(field)
        if (listFieldIndex > -1) {
          return this.listFields[this.nowLang][listFieldIndex].type
        } else {
          return 'varchar2'
        }
      },
      addList ({ newList, addStmtDisp }, { newObjConj, addConjDisp }) {
        if (this.myLists.length > 0 && addConjDisp) {
          newObjConj = this.setDescConjAndDescStmt(newObjConj)
          newObjConj.id = this.hashCode()
          this.myLists.push(newObjConj)
          this.$set(this.myLists[this.myLists.length - 1], 'flgEdit', false)
          this.$set(this.myLists[this.myLists.length - 1], 'flgLink', false)
        }
        if (addStmtDisp) {
          newList = this.setDescConjAndDescStmt(newList)
          newList.id = this.hashCode()
          this.myLists.push(newList)
          this.$set(this.myLists[this.myLists.length - 1], 'flgEdit', false)
          this.$set(this.myLists[this.myLists.length - 1], 'flgLink', false)
        }
        this.list = this.initialList()
        this.listDisp = false
        this.objConj = this.initialConjunction()
      },
      setDescConjAndDescStmt (newOrEditList) {
        if (typeof newOrEditList.conj !== 'undefined') {
          newOrEditList.descConj = this.listConjunctions[this.nowLang][newOrEditList.conj]
        }
        if (typeof newOrEditList.field !== 'undefined') {
          let operator = ''
          let value = ''
          if (newOrEditList.operator.indexOf('%') > -1) {
            operator = 'like'
            if (newOrEditList.operator === '_%') {
              value = newOrEditList.value + '%'
            }
            if (newOrEditList.operator === '%_') {
              value = '%' + newOrEditList.value
            }
            if (newOrEditList.operator === '%_%') {
              value = '%' + newOrEditList.value + '%'
            }
            if (newOrEditList.operator === '!%_%') {
              operator = 'not like'
              value = '%' + newOrEditList.value + '%'
            }
          } else {
            operator = newOrEditList.operator
            value = newOrEditList.value
          }
          value = '\'' + value + '\''
          if (this.findInputType(newOrEditList.field) === 'number') {
            value = 'to_number(' + value + ')'
          } else if (this.findInputType(newOrEditList.field) === 'date') {
            value = 'to_date(' + value + ', \'DD/MM/YYYY\')'
          }
          let listFieldIndex = this.listFields[this.nowLang].map(function (listField) {
            return listField.code
          }).indexOf(newOrEditList.field)
          let listOperatorIndex = this.listOperators[this.nowLang].map(function (listOperator) {
            return listOperator.code
          }).indexOf(newOrEditList.operator)
          newOrEditList.codeStmt = `${newOrEditList.field} ${operator} ${value}`
          newOrEditList.descStmt = `${this.listFields[this.nowLang][listFieldIndex].description} ${this.listOperators[this.nowLang][listOperatorIndex].description} ${newOrEditList.value}`
        }
        return newOrEditList
      },
      resetLists () {
        this.myLists = []
      },
      back () {
        this.list = this.initialList()
        this.listDisp = false
        this.objConj = this.initialConjunction()
      },
      submit () {
        for (let list of this.myLists) {
          list.flgEdit = false
        }
        this.submitDescStmt = ''
        this.submitCodeStmt = ''
        this.validStmt = this.validateStmtLists(this.myLists)
        if (this.validStmt) {
          if (this.myLists.length <= 0) {
            this.submitCodeStmt = ''
            this.submitDescStmt = ''
          } else if (this.myLists.length === 1) {
            this.submitCodeStmt = this.myLists[0].codeStmt
            this.submitDescStmt = this.myLists[0].descStmt
          } else {
            let space = ''
            for (let list of this.myLists) {
              this.submitCodeStmt += space + ((typeof list.conj !== 'undefined') ? list.conj : (typeof list.codeStmt !== 'undefined') ? list.codeStmt : '')
              this.submitDescStmt += space + ((typeof list.descConj !== 'undefined') ? list.descConj : (typeof list.descStmt !== 'undefined') ? list.descStmt : '')
              space = ' '
            }
          }
        }
      },
      showAddList () {
        this.listDisp = true
      },
      viewList (index, editList) {
        this.myLists[index] = editList
        this.myLists[index].flgEdit = false
      },
      editList (index) {
        this.myLists[index].flgEdit = true
      },
      deleteList (index) {
        this.myLists.splice(index, 1)
      },
      linkList (index) {
        this.myLists[index].flgLink = true
      },
      unlinkList (index) {
        this.myLists[index].flgLink = false
      },
      groupList () {
        let linkedLists = this.myLists.filter(function (list) {
          return list.flgLink
        })
        this.validStmt = this.validateStmtLists(linkedLists)

        if (this.validStmt) {
          let statementIndex = this.myLists.map(function (list) { return list.id }).indexOf(linkedLists[0].id)
          for (let index = 0; index < linkedLists.length; index++) {
            let listIndex = this.myLists.map(function (list) {
              return list.id
            }).indexOf(linkedLists[index].id)
            if (listIndex > -1) {
              this.myLists.splice(listIndex, 1)
            }
            linkedLists[index].flgLink = false
          }
          if (linkedLists.length > 0) {
            let list = this.setStmt({ id: this.hashCode(), statement: linkedLists })
            this.myLists.splice(statementIndex, 0, list)
            this.$set(this.myLists[this.myLists.length - 1], 'flgEdit', false)
            this.$set(this.myLists[this.myLists.length - 1], 'flgLink', false)
          }
        }
      },
      ungroupList (index) {
        let statement = this.myLists[index].statement
        this.myLists.splice(index, 1)
        for (let i = statement.length - 1; i >= 0; i--) {
          this.myLists.splice(index, 0, statement[i])
        }
      },
      validateStmtLists (myLists) {
        let valid = true
        let flgStmt = true
        for (let list of myLists) {
          if ((typeof list.codeStmt !== 'undefined' && flgStmt) || (typeof list.conj !== 'undefined' && !flgStmt)) {
            flgStmt = !flgStmt
          } else {
            valid = false
            break
          }
        }
        return valid
      },
      setStmt (list) {
        if (typeof list.statement !== 'undefined') {
          let codeStmt = '('
          let descStmt = '('
          let space = ''
          for (let i = 0; i < list.statement.length; i++) {
            let statement = list.statement[i]
            if (typeof statement.descStmt !== 'undefined') {
              codeStmt += space + statement.codeStmt
              descStmt += space + statement.descStmt
            }
            if (typeof statement.descConj !== 'undefined') {
              codeStmt += space + statement.conj
              descStmt += space + statement.descConj
            }
            space = ' '
          }
          codeStmt += ')'
          descStmt += ')'
          list.codeStmt = codeStmt
          list.descStmt = descStmt
          return list
        }
      }
    }
  }
</script>

<style src="./assets/style.scss" lang='scss'></style>