<template>
  <div id="hrpm15e" class="hrpm15e body-wrapper">
    <hcm-setting-page />

    <hrms-table v-show="indexDisp"
            :columns="columns[app.nowLang].index"
            :addEvent="addEvent"
            :editEvent="editEvent"
            :deleteInlineEventBool="true"
            :deleteInlineBtnDisp="true"
            :data="index" />

    <detail v-show="detailDisp"
            :labels="labels[app.nowLang]"
            :nowLang="app.nowLang"
            :toggle="toggle"
            :searchIndex="searchIndex"
            :postHrpm15eSave="postHrpm15eSave"
            :listFields="listFields"
            :indexSelected="indexSelected"
            :colorClass="colorClass"
            :setIndexSelected="setIndexSelected"
            :typgrpidsDefault="typgrpidsDefault"
            :lpad="lpad" />
  </div>
  
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import * as types from './store/mutation-types'
import detail from './components/detail'

export default {
  name: 'hrpm15e',
  data () {
    return {
      app: this.$root.$children[0],
      searchIndex: {},
      detailVal: {
        groupid: '',
        namempid: '',
        syncond: {
          code: '',
          description: ''
        },
        typgrpids: [],
        lastFullId: ''
      },
      colorClass: {
        ST: '-static',
        CE: '-year',
        MT: '-month',
        RN: '-running'
      }
    }
  },
  created () {
    this.receivedHrpm15eColumnsLabels()
    this.receivedHrpm15eIndex()
  },
  watch: {
    index () {
      this.index.rows.filter((indexRow) => {
        let strComputed = indexRow.typgrpids.map((typgrpid) => {
          if (typgrpid.typgrpid === 'RN') return this.lpad(typgrpid.value, typgrpid.typeval)
          return typgrpid.value
        })
        indexRow.lastFullId = strComputed.join('')
      })
    }
  },
  computed: {
    codempid () {
      let currentUser = this.app.currentUser
      return currentUser.p_codempid
    },
    typgrpidsDefault () {
      return this.labels[this.app.nowLang].typgrpidsDefault
    },
    ...mapGetters({
      indexDisp: types.GET_HRPM15E_INDEX_DISP,
      detailDisp: types.GET_HRPM15E_DETAIL_DISP,
      labels: types.GET_HRPM15E_LABELS,
      index: types.GET_HRPM15E_INDEX,
      columns: types.GET_HRPM15E_COLUMNS,
      indexSelected: types.GET_HRPM15E_INDEX_SELECTED,
      listFields: types.GET_HRPM15E_LOGICAL_LISTFIELDS
    })
  },
  methods: {
    addEvent (param) {
      this.detailVal.typgrpids = Object.assign([], this.typgrpidsDefault)
      this.setIndexSelected(this.detailVal)
      this.toggle('detail')
    },
    editEvent (param) {
      this.setIndexSelected(param)
      this.toggle('detail')
    },
    lpad (str, length) {
      let pad = '00000000000000000000'
      return pad.substring(0, length - str.toString().length) + str.toString()
    },
    ...mapMutations({
      setIndexSelected: types.SET_HRPM15E_INDEX_SELECTED
    }),
    ...mapActions({
      toggle: types.TOGGLE_HRPM15E_PAGE,
      receivedHrpm15eColumnsLabels: types.RECEIVED_HRPM15E_COLUMNS_LABELS,
      receivedHrpm15eIndex: types.RECEIVED_HRPM15E_INDEX,
      postHrpm15eSave: types.POST_HRPM15E_SAVE
    })
  },
  components: {
    detail
  }
}
</script>

<style src="./assets/style.scss" lang='scss'></style>