<template>
  <li class="dropdown messages-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-bell"></i>
      <span class="label label-red">5</span>
    </a>
    <ul class="dropdown-menu replace-2">
      <div class="triangle"></div>
      <div class="request-box">
        <div class="header">
          <div class="center-text">
            <span class="header-text">Request Message</span>
            <span class="number">5</span>
          </div>
        </div>
        <div class="request-list">
          <div class="list-box">
            <div class="request-icon"><i class="icon ion-ios-bell"></i></div>
            <div class="detail">
              <div class="topic-row">
                <div class="topic">Request for transfer</div>
                <div class="request-date">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span class="date">17/10/2017</span>
                </div>
              </div>
              <div class="request-status">Pending</div>
              <div class="detail-row">
                <div class="detail-set">
                  <span class="label">Date transfer :</span>
                  <span class="data">18/10/2017</span>
                </div>
                <div class="detail-set">
                  <span class="label">Branch :</span>
                  <span class="data">Bangkok</span>
                </div>
              </div>
              <div class="detail-row">
                <div class="detail-set">
                  <span class="label">Department :</span>
                  <span class="data">Marketing</span>
                </div>
              </div>
            </div>
          </div>
          <div class="list-box">
            <div class="request-icon"><i class="icon ion-ios-bell"></i></div>
            <div class="detail">
              <div class="topic-row">
                <div class="topic">Request for leave</div>
                <div class="request-date">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span class="date">12/10/2017</span>
                </div>
              </div>
              <div class="request-status">Pending</div>
              <div class="detail-row">
                <div class="detail-set">
                  <span class="label">Date :</span>
                  <span class="data">16/10/2017 - 16/10/2017</span>
                </div>
              </div>
              <div class="detail-row">
                <div class="detail-set">
                  <span class="label">Detail :</span>
                  <span class="data">Errand leave</span>
                </div>
              </div>
            </div>
          </div>
          <div class="list-box">
            <div class="request-icon"><i class="icon ion-ios-bell"></i></div>
            <div class="detail">
              <div class="topic-row">
                <div class="topic">Request for leave</div>
                <div class="request-date">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span class="date">12/10/2017</span>
                </div>
              </div>
              <div class="request-status">Pending</div>
              <div class="detail-row">
                <div class="detail-set">
                  <span class="label">Date :</span>
                  <span class="data">02/11/2017 - 06/11/2017</span>
                </div>
              </div>
              <div class="detail-row">
                <div class="detail-set">
                  <span class="label">Detail :</span>
                  <span class="data">Holiday leave</span>
                </div>
              </div>
            </div>
          </div>
          <div class="list-box">
            <div class="request-icon"><i class="icon ion-ios-bell"></i></div>
            <div class="detail">
              <div class="topic-row">
                <div class="topic">Request for transfer</div>
                <div class="request-date">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span class="date">17/10/2017</span>
                </div>
              </div>
              <div class="request-status">Pending</div>
              <div class="detail-row">
                <div class="detail-set">
                  <span class="label">Date transfer :</span>
                  <span class="data">18/10/2017</span>
                </div>
                <div class="detail-set">
                  <span class="label">Branch :</span>
                  <span class="data">Bangkok</span>
                </div>
              </div>
              <div class="detail-row">
                <div class="detail-set">
                  <span class="label">Department :</span>
                  <span class="data">Marketing</span>
                </div>
              </div>
            </div>
          </div>
          <div class="list-box">
              <div class="request-icon"><i class="icon ion-ios-bell"></i></div>
              <div class="detail">
                <div class="topic-row">
                  <div class="topic">Request for transfer</div>
                  <div class="request-date">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span class="date">17/10/2017</span>
                  </div>
                </div>
                <div class="request-status">Pending</div>
                <div class="detail-row">
                  <div class="detail-set">
                    <span class="label">Date transfer :</span>
                    <span class="data">18/10/2017</span>
                  </div>
                  <div class="detail-set">
                    <span class="label">Branch :</span>
                    <span class="data">Bangkok</span>
                  </div>
                </div>
                <div class="detail-row">
                  <div class="detail-set">
                    <span class="label">Department :</span>
                    <span class="data">Marketing</span>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="footer">
          View all Request Message
        </div>
       </div>
    </ul>
  </li>
</template>

<script>
export default {
  name: 'header-noti',
  props: [ 'headerNotiRequestTotal', 'headerNotiRequestInfiniteLoading', 'receivedHeaderNotiRequestInfiniteLoading', 'numberFormat', 'nowLang' ]
}
</script>
