<template>
  <li class="dropdown messages-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <!-- <span class="icon-stack fa-stack">
        <i class="icon ion-android-clipboard fa-stack-2x"></i>
        <i class="icon-lineheight icon ion-checkmark fa-stack-1x"></i>
      </span> -->
      <i class="material-icons" style="font-size: 18px; line-height: 25px;">assignment_turned_in</i>
      <span class="label label-red">20</span>
    </a>
    <ul class="dropdown-menu replace-2">
      <div class="triangle"></div>
      <div class="approve-box">
        <div class="header">
          <div class="center-text">
            <span class="header-text">Approve Message</span>
            <span class="number">20</span>
          </div>
        </div>
        <div class="approve-list">
          <div class="list-box">
            <div class="approve-icon">
              <i class="material-icons">assignment_turned_in</i>
            </div>
            <div class="detail">
              <div class="topic-row">
                <div class="topic">Approve Leave Request</div>
                <div class="approve-date">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span class="date">18/10/2017</span>
                </div>
              </div>
              <div class="approve-total">2 Approve Messsage</div>
            </div>
          </div>
          <div class="list-box">
            <div class="approve-icon">
              <i class="material-icons">assignment_turned_in</i>
            </div>
            <div class="detail">
              <div class="topic-row">
                <div class="topic">Approve leave cancelation request</div>
                <div class="approve-date">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span class="date">12/10/2017</span>
                </div>
              </div>
              <div class="approve-total">3 Approve messsage</div>
            </div>
          </div>
          <div class="list-box">
            <div class="approve-icon">
              <i class="material-icons">assignment_turned_in</i>
            </div>
            <div class="detail">
              <div class="topic-row">
                <div class="topic">Approve time in/out change request</div>
                <div class="approve-date">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span class="date">10/10/2017</span>
                </div>
              </div>
              <div class="approve-total">1 Approve messsage</div>
            </div>
          </div>
          <div class="list-box">
            <div class="approve-icon">
              <i class="material-icons">assignment_turned_in</i>
            </div>
            <div class="detail">
              <div class="topic-row">
                <div class="topic">Approve O.T. request</div>
                <div class="approve-date">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span class="date">5/10/2017</span>
                </div>
              </div>
              <div class="approve-total">10 Approve messsage</div>
            </div>
          </div>
          <div class="list-box">
            <div class="approve-icon">
              <i class="material-icons">assignment_turned_in</i>
            </div>
            <div class="detail">
              <div class="topic-row">
                <div class="topic">Approve shift schedule change request</div>
                <div class="approve-date">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span class="date">2/10/2017</span>
                </div>
              </div>
              <div class="approve-total">1 Approve messsage</div>
            </div>
          </div>
          <div class="list-box">
            <div class="approve-icon">
              <i class="material-icons">assignment_turned_in</i>
            </div>
            <div class="detail">
              <div class="topic-row">
                <div class="topic">Approve shift schedule change request</div>
                <div class="approve-date">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span class="date">2/10/2017</span>
                </div>
              </div>
              <div class="approve-total">1 Approve messsage</div>
            </div>
          </div>
          <div class="list-box">
            <div class="approve-icon">
              <i class="material-icons">assignment_turned_in</i>
            </div>
            <div class="detail">
              <div class="topic-row">
                <div class="topic">Approve shift schedule change request</div>
                <div class="approve-date">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span class="date">2/10/2017</span>
                </div>
              </div>
              <div class="approve-total">1 Approve messsage</div>
            </div>
          </div>
        </div>
        <div class="footer">
          View all Approve Message
        </div>
       </div>
    </ul>
  </li>
</template>

<script>
export default {
  name: 'header-approve',
  props: [ 'headerNotiApprove', 'numberFormat', 'nowLang' ]
}
</script>
