<template>
  <li class="dropdown messages-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-star"></i>
    </a>
    <ul class="dropdown-menu replace" id="favourite-panel" :class="[ favouriteDisp ? 'show' : '']">
    	<div class="triangle"></div>
    	<div class="favourite-box" @click.stop="">
        <div class="header">
          <div class="center-text">
            <span class="header-text">Favorite</span>
          </div>
        </div>
        <div class="favourite-body">
          <template v-if="Object.keys(headerFavourite).length > 0">
            <div class="module-list" v-for="(module, moduleIndex) in headerFavourite" :key="moduleIndex">
              <div class="module-name">{{ moduleIndex }} - {{ module.description[nowLang] }}</div>
              <div class="function-list">
                <div class="function-box" v-for="(codappItem, codappIndex) in module.codapp" :key="codappIndex">
                  <template v-if="$router.match(codappItem.codapp.toLowerCase()).name !== '404'">
                    <router-link :to="{ name: codappItem.codapp.toLowerCase() }" class="clearfix">
                      <div class="function-text" @click="closeFavourite()">
                        <span class="function-code"><i class="fa fa-chevron-right" aria-hidden="true"></i>{{ codappItem.codapp }}</span>
                        <span class="dash">-</span>
                        <span class="function-name">{{ codappItem.descCodapp[nowLang] }}</span>
                      </div>
                    </router-link>
                  </template>
                  <template v-else>
                    <div class="function-text">
                      <span class="function-code"><i class="fa fa-chevron-right" aria-hidden="true"></i>{{ codappItem.codapp }}</span>
                      <span class="dash">-</span>
                      <span class="function-name">{{ codappItem.descCodapp[nowLang] }}</span>
                    </div>
                  </template>
                  <span class="trash-fav" @click.stop="removeFavourite(codappItem.codapp)"><i class="fa fa-trash" aria-hidden="true"></i></span>
                </div>
              </div>
            </div>
          </template>
          <template v-else>
            <div class="no-data">
              No Favorites
            </div>
          </template>
        </div>
	     </div>
    </ul>
  </li>
</template>

<script>
export default {
  name: 'header-favourite',
  props: [ 'headerFavourite', 'nowLang', 'favouriteDisp', 'closeFavourite', 'toggleFavourite', 'toggleFavouriteItem', 'setFavourite' ],
  methods: {
    removeFavourite (codapp) {
      this.toggleFavouriteItem(codapp)
      this.setFavourite()
    }
  }
}
</script>
