<template>
  <div name="demo-validate-larger-than">
    <!-- <input type="text" v-validate="'required|date_format:DD/MM/YYYY'" data-vv-name="date1" :class="{ 'input-error' : errors.has('date1') }" />
    <div class="validator-text -error" v-show="errors.has('date1')">{{ errors.first('date1') }}</div>
    <input type="text" v-validate="'required|date_format:DD/MM/YYYY|after:date1'" data-vv-name="date2" :class="{ 'input-error' : errors.has('date2') }" />
    <div class="validator-text -error" v-show="errors.has('date2')">{{ errors.first('date2') }}</div> -->

    <div class="row">
      <div class="col-4">
        <div class="input-group">
          <label class="label">Date 1</label>
          <hrms-datepicker  v-model="dte1" 
                            v-validate="'required|date_format:DD/MM/YYYY'"
                            data-vv-value-path="inputDate"
                            data-vv-name="date1" 
                            name="date1"
                            :has-error="errors.has('date1')" />
          <div class="validator-text -error" v-show="errors.has('date1')">{{ errors.first('date1') }}</div>
        </div>
        <div class="input-group">
          <label class="label">Date 2</label>
          <hrms-datepicker  v-model="dte2" 
                            v-validate="'required|date_format:DD/MM/YYYY|after:date1'" 
                            data-vv-value-path="inputDate"
                            data-vv-name="date2" 
                            name="date2"
                            :has-error="errors.has('date2')" />
          <div class="validator-text -error" v-show="errors.has('date2')">{{ errors.first('date2') }}</div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'demo-validate-larger-than',
  data () {
    return {
      date1: '',
      date2: ''
    }
  }
}
</script>