<template>
  <div>
    <div id="animated-number-demo">
      <div class="button-md _bg-green" @click="generate()">LUCKY DRAW</div>
      <div class="clearfix">
        <p style="font-size: 90px; text-align: center; margin-top: 100px;">{{ description }}</p>
        <p style="font-size: 90px; text-align: center; margin-top: 25px;">{{ animated1stDigit }}{{ animated2ndDigit }}{{ animated3rdDigit }}</p>
        <!-- <p style="font-size: 90px; text-align: center; margin-top: 25px;">{{ animated1stDigit }}{{ animated2ndDigit }}{{ animated3rdDigit }}{{ animated4thDigit }}{{ animated5thDigit }}{{ animated6thDigit }}</p> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'demo-lucky-draw',
  data () {
    return {
      description: 'หมายเลขผู้โชคดี คือ',
      animated1stDigit: 0,
      animated2ndDigit: 0,
      animated3rdDigit: 0,
      // animated4thDigit: 0,
      // animated5thDigit: 0,
      // animated6thDigit: 0,
      count1stDigit: 999,
      count2ndDigit: 999,
      count3rdDigit: 999,
      // count4thDigit: 999,
      // count5thDigit: 999,
      // count6thDigit: 999,
      interval1stDigit: setInterval,
      interval2ndDigit: setInterval,
      interval3rdDigit: setInterval
      // interval4thDigit: setInterval,
      // interval5thDigit: setInterval,
      // interval6thDigit: setInterval
    }
  },
  watch: {
    count1stDigit () {
      if (this.count1stDigit >= 30) {
        clearInterval(this.interval1stDigit)
        this.animated1stDigit = Math.floor(Math.random() * 10)
      }
    },
    count2ndDigit () {
      if (this.count2ndDigit >= 50) {
        clearInterval(this.interval2ndDigit)
        this.animated2ndDigit = Math.floor(Math.random() * 10)
      }
    },
    count3rdDigit () {
      if (this.count3rdDigit >= 70) {
        clearInterval(this.interval3rdDigit)
        this.animated3rdDigit = Math.floor(Math.random() * 10)
      }
    }
    // count4thDigit () {
    //   if (this.count4thDigit >= 90) {
    //     clearInterval(this.interval4thDigit)
    //     this.animated4thDigit = Math.floor(Math.random() * 2)
    //   }
    // },
    // count5thDigit () {
    //   if (this.count5thDigit >= 110) {
    //     clearInterval(this.interval5thDigit)
    //     this.animated5thDigit = Math.floor(Math.random() * 10)
    //   }
    // },
    // count6thDigit () {
    //   if (this.count6thDigit >= 130) {
    //     clearInterval(this.interval6thDigit)
    //     this.animated6thDigit = Math.floor(Math.random() * 10)
    //   }
    // }
  },
  methods: {
    generate () {
      this.count1stDigit = 0
      this.count2ndDigit = 0
      this.count3rdDigit = 0
      // this.count4thDigit = 0
      // this.count5thDigit = 0
      // this.count6thDigit = 0
      this.interval1stDigit = setInterval(() => {
        this.count1stDigit++
        this.animated1stDigit = Math.floor(Math.random() * 10)
      }, 100)
      this.interval2ndDigit = setInterval(() => {
        this.count2ndDigit++
        this.animated2ndDigit = Math.floor(Math.random() * 10)
      }, 100)
      this.interval3rdDigit = setInterval(() => {
        this.count3rdDigit++
        this.animated3rdDigit = Math.floor(Math.random() * 10)
      }, 100)
      // this.interval4thDigit = setInterval(() => {
      //   this.count4thDigit++
      //   this.animated4thDigit = Math.floor(Math.random() * 10)
      // }, 100)
      // this.interval5thDigit = setInterval(() => {
      //   this.count5thDigit++
      //   this.animated5thDigit = Math.floor(Math.random() * 10)
      // }, 100)
      // this.interval6thDigit = setInterval(() => {
      //   this.count6thDigit++
      //   this.animated6thDigit = Math.floor(Math.random() * 10)
      // }, 100)
    }
  }
}
</script>

