<template>
  <div name="demo-upload-limit">
    <dropzone id="vueDropzone" :url="url" :useFontAwesome="true" v-on:vdropzone-success="showSuccess" :showRemoveLink="false">
        <input type="hidden" name="token" value="xxx">
    </dropzone>
  </div>
</template>

<script>
import Dropzone from 'vue2-dropzone'

export default {
  name: 'demo-upload-limit',
  data () {
    return {
      url: window.localStorage.getItem('baseURL') + 'api/uploader/uploadFile'
    }
  },
  props: [ 'type' ],
  methods: {
    showSuccess (file) {
      console.log('A file was successfully uploaded')
    }
  },
  components: {
    Dropzone
  }
}
</script>