<template>
  <div name="demo-searchbox-box-type">
    <div class="row">
      <div class="col-4">
        <hrms-search-box	 :receivedStore="receivedStore"
                       :nowLang="nowLang"
                       searchBoxAlias="demo-searchbox-box-type" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'demo-searchbox-box-type',
  data () {
    return {
      nowLang: 'en'
    }
  },
  methods: {
    receivedStore (params) {
      console.log(params)
    }
  }
}
</script>