<template>
  <div name="demo-searchbox-codapp">
    <div class="row">
      <div class="col-4">
        <hcm-lov           v-model="codapp1"
                           lovType="codapp"
                           :disabled="false"
                           :nowLang="nowLang"
                           name="codapp1"
                           style="margin-bottom: 10px;" />
        <hcm-lov           v-model="codapp2"
                           lovType="codapp"
                           :disabled="true"
                           :nowLang="nowLang"
                           name="codapp2"
                           style="margin-bottom: 10px;" />
        <hcm-lov           v-model="codapp3"
                           lovType="codapp"
                           :disabled="false"
                           :nowLang="nowLang"
                           name="codapp2"
                           style="margin-bottom: 10px;" />
                           
        <hrms-search-box	 :receivedStore="receivedStore"
                           :nowLang="nowLang"
                           :searchBoxAlias="searchBoxAlias" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'demo-searchbox-codapp',
  data () {
    return {
      codapp1: '',
      codapp2: '',
      codapp3: '',
      nowLang: 'en',
      searchBoxAlias: 'demo-lov-codapp'
    }
  },
  methods: {
    receivedStore (params) {
      console.log(params)
    }
  }
}
</script>