<template>
  <div name="demo-validate-required-all-when-exist-any">

    <div class="row">
      <div class="col-4">
        <div class="input-group">
          <label class="label">TimeStrt</label>
          <hrms-timepicker  v-model="timstrt" 
                            v-validate="'requiredAllWhenExistAny:timstrt-timend,dtestrt-dteend|date_format:HH:mm'"
                            data-vv-value-path="inputTime"
                            data-vv-name="timstrt"
                            name="timstrt"
                            :has-error="errors.has('timstrt')" />
          <div class="validator-text -error" v-show="errors.has('timstrt')">{{errors.first('timstrt')}}</div>
        </div>

        <div class="input-group">
          <label class="label">TimeEnd</label>
          <hrms-timepicker  v-model="timend" 
                            v-validate="'requiredAllWhenExistAny:timstrt-timend,dtestrt-dteend|date_format:HH:mm'"
                            data-vv-value-path="inputTime"
                            data-vv-name="timend"
                            name="timend"
                            :has-error="errors.has('timend')" />
          <div class="validator-text -error" v-show="errors.has('timend')">{{errors.first('timend')}}</div>
        </div>

        <div class="input-group">
          <label class="label">DateStrt</label>
          <hrms-datepicker  v-model="dtestrt" 
                            v-validate="'date_format:DD/MM/YYYY'"
                            data-vv-value-path="inputDate"
                            data-vv-name="dtestrt"
                            name="dtestrt"
                            :has-error="errors.has('dtestrt')" />
          <div class="validator-text -error" v-show="errors.has('dtestrt')">{{errors.first('dtestrt')}}</div>
        </div>

        <div class="input-group">
          <label class="label">TimeStrt</label>
          <hrms-datepicker  v-model="dteend" 
                            v-validate="'date_format:DD/MM/YYYY'"
                            data-vv-value-path="inputDate"
                            data-vv-name="dteend"
                            name="dteend"
                            :has-error="errors.has('dteend')" />
          <div class="validator-text -error" v-show="errors.has('dteend')">{{errors.first('dteend')}}</div>
        </div>
      </div>
    </div>

    <div class="button-md _bg-green" @click="validateFields()">Save</div>
  </div>
</template>

<script>
export default {
  name: 'demo-validate-required-all-when-exist-any',
  data () {
    return {
      timstrt: '',
      timeend: '',
      dtestrt: '',
      dteend: ''
    }
  },
  methods: {
    validateFields () {
      this.$validator.validateAll()
        .then(result => {
          if (result) {
            console.log('validate pass')
          }
        })
    }
  }
}
</script>