<template>
  <div name="demo-searchbox-codpos">
    <div class="row">
      <div class="col-4">
        <hcm-lov  v-model="codpos1"
                  lovType="codpos"
                  :disabled="false"
                  :nowLang="nowLang"
                  name="codpos1"
                  style="margin-bottom: 10px;" />
        <hcm-lov  v-model="codpos2"
                  lovType="codpos"
                  :disabled="true"
                  :nowLang="nowLang"
                  name="codpos2"
                  style="margin-bottom: 10px;" />
        <hcm-lov  v-model="codpos3"
                  lovType="codpos"
                  :disabled="false"
                  :nowLang="nowLang"
                  name="codpos2"
                  style="margin-bottom: 10px;" />
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <hrms-search-box	 :receivedStore="receivedStore"
                     :nowLang="nowLang"
                     :searchBoxAlias="searchBoxAlias" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'demo-searchbox-codpos',
  data () {
    return {
      codpos1: '',
      codpos2: '',
      codpos3: '',
      nowLang: window.localStorage.getItem('lang'),
      searchBoxAlias: 'demo-lov-codpos'
    }
  },
  methods: {
    receivedStore (params) {
      console.log(params)
    }
  }
}
</script>