<template>
  <div name="demo-calendar-worktime">
    <hrms-calendar-work-time />
  </div>
</template>

<script>
import hrmsCalendarWorkTime from 'components/hrmsCalendarWorkTime'

export default {
  name: 'demo-calendar-worktime',
  components: {
    hrmsCalendarWorkTime
  }
}
</script>