<template>
  <div name="demo-hcm-lov-codcomp">
    <div class="row">
      <div class="col-4">
        <div class="input-group">
          <label class="label">HCM Lov Codcomp</label>
          <hcm-lov-codcomp  v-model="codcomp1"
          :name="name1"/>
        </div>
        
        <div class="input-group">
          <label class="label">HCM Lov Codcomp2</label>
          <hcm-lov-codcomp  v-model="codcomp2"
          :name="name2"/>
        </div>
      </div>
    </div>
    <!-- <hrms-search-box   :receivedStore="receivedStore"
                       nowLang="en"
                       searchBoxAlias="demo-lov-codcomp" /> -->
  </div>
</template>

<script>
export default {
  name: 'demo-hcm-lov-codcomp',
  data () {
    return {
      codcomp1: 'PPS',
      codcomp2: 'PPS-DEV',
      name1: 'demo-hcm-lov-codcomp1',
      name2: 'demo-hcm-lov-codcomp2'
    }
  },
  methods: {
    receivedStore (params) {
      console.log(params)
    }
  }
}
</script>
