<template>
  <div name="demo-upload-file">
    <div class="row">
      <div class="col-6">
        <dropzone id="vueDropzone" :url="url" :useFontAwesome="true" v-on:vdropzone-success="showSuccess" acceptedFileTypes="application/pdf,.doc,.docx,.xlsx,.xls" :showRemoveLink="false">
            <input type="hidden" name="token" value="xxx">
        </dropzone>
        {{url}}
      </div>
    </div>
  </div>
</template>

<script>
import Dropzone from 'vue2-dropzone'

export default {
  name: 'demo-upload-file',
  data () {
    return {
      url: window.localStorage.getItem('baseURL') + 'api/uploader/uploadFile'
    }
  },
  props: [ 'type' ],
  methods: {
    showSuccess (file) {
      console.log('A file was successfully uploaded')
    }
  },
  components: {
    Dropzone
  }
}
</script>