<template>
  <div name="demo-change-label">
    <div class="row">
      <div class="col-4">
        <div class="input-group">
          <label class="label">Label</label>
          <hrms-change-label 
            v-model="input"
            :code="code"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import hrmsChangeLabel from 'components/hrmsChangeLabel'
export default {
  name: 'demo-change-label',
  data () {
    return {
      input: '1234',
      code: '1234'
    }
  },
  components: {
    hrmsChangeLabel
  }
}
</script>