<template>
  <div name="demo-validate-validate-all">

    <div class="row">
      <div class="col-4">
        <div class="input-group">
          <label class="label">TimeStrt</label>
          <hrms-timepicker  v-model="timstrt" 
                            v-validate="'requiredWhenExist:timend|date_format:HH:mm'"
                            data-vv-value-path="inputTime"
                            data-vv-name="timstrt"
                            name="timstrt"
                            :has-error="errors.has('timstrt')" />
          <div class="validator-text -error" v-show="errors.has('timstrt')">{{errors.first('timstrt')}}</div>
        </div>

        <div class="input-group">
          <label class="label">TimeEnd</label>
          <hrms-timepicker  v-model="timend" 
                            v-validate="'requiredWhenExist:timstrt|date_format:HH:mm'"
                            data-vv-value-path="inputTime"
                            data-vv-name="timend"
                            name="timend"
                            :has-error="errors.has('timend')" />
          <div class="validator-text -error" v-show="errors.has('timend')">{{errors.first('timend')}}</div>
        </div>

        <div class="input-group">
          <label class="label">Username</label>
          <input type="text" v-model="username"
               v-validate="'required'" 
               name="username" 
               data-vv-as="Username" 
               class="normal-input"
               :class="{ '-error' : errors.has('username') }" />
          <div v-show="errors.has('username')" class="validator-text -error">{{ errors.first('username') }}</div>
        </div>

        <div class="input-group">
          <label class="label">DteReq</label>
          <input type="text" v-model="dtereq"
               maxlength="10" 
               v-validate="'required|date_format:DD/MM/YYYY'" 
               name="dtereq" 
               data-vv-as="request date" 
               placeholder="DD/MM/YYYY" 
               class="normal-input"
               :class="{ '-error' : errors.has('dtereq') }" />
          <div v-show="errors.has('dtereq')" class="validator-text -error">{{ errors.first('dtereq') }}</div>
        </div>

        <div class="input-group">
          <label class="label">DteWork</label>
          <hrms-datepicker  v-model="dtework" 
                            v-validate="'required|date_format:DD/MM/YYYY'"
                            data-vv-value-path="inputDate"
                            data-vv-name="dtework"
                            name="dtework"
                            :has-error="errors.has('dtework')" />
          <div class="validator-text -error" v-show="errors.has('dtework')">{{errors.first('dtework')}}</div>
        </div>
      </div>
    </div>
    
    <div class="button-md _bg-green" @click="validateFields()">Save</div>
  </div>
</template>

<script>
export default {
  name: 'demo-validate-validate-all',
  data () {
    return {
      username: '',
      dtereq: '',
      timstrt: '',
      timend: ''
    }
  },
  watch: {
    timstrt () {
      this.$validator.validate('timend', this.timend).catch(e => {})
    },
    timend () {
      this.$validator.validate('timstrt', this.timstrt).catch(e => {})
    }
  },
  methods: {
    validateFields () {
      this.$validator.validateAll()
        .then(result => {
          if (result) {
            console.log('validate pass')
          }
        })
    }
  }
}
</script>