<template>
  <div name="demo-hcm-hral5ou">
    <div class="col-md-4 col-lg-4">
        <!-- {{inputValue}} -->
        <hcm-hral5ou v-model="inputValue"           
                     :nowLang="nowLang" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'demo-hcm-hral5ou',
  data () {
    return {
      inputValue: {
        status: '1',
        data: {
          dtestrt: '20/11/2017',
          dteend: '23/11/2017',
          year: '2017'
        }
      },
      nowLang: 'en'
    }
  }
}
</script>

