<template>
  <div name="demo-searchbox-codcomp">
    <div class="row">
      <div class="form-group col-xs-12 col-md-6">
        <hrms-lov-codcomp v-model="codcomp1"
                           :nowLang="nowLang"
                           name="codcomp1"
                           :descDisp="false" />
        <hrms-lov-codcomp v-model="codcomp1"
                           :disabled="true"
                           :nowLang="nowLang"
                           name="codcomp1"
                           :descDisp="false" />
        <hrms-lov-codcomp v-model="codcomp2"
                           :nowLang="nowLang"
                           name="codcomp2" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'demo-searchbox-codcomp',
  data () {
    return {
      codcomp1: '',
      codcomp2: '',
      nowLang: window.localStorage.getItem('lang')
    }
  },
  methods: {
    receivedStore (params) {
      console.log(params)
    }
  }
}
</script>