<template>
  <div name="demo-mutation-observer" class="test">
    55555555555555555555555
  </div>
</template>

<script>
export default {
  name: 'demo-mutation-observer',
  mounted () {
    let e = document.getElementsByClassName('test')
    let observer = new MutationObserver(function (event) {
      console.log(event)
    })
    observer.observe(e[0], {
      attributes: true,
      attributeFilter: ['class'],
      childList: false,
      characterData: false
    })

    setInterval(function () {
      e[0].className += ' hello'
    }, 1000)
  }
}
</script>

