<template>
  <div name="demo-searchbox-codempid">
    <div class="row">
      <div class="col-4">
        <hcm-lov  v-model="codempid1"
                  lovType="codempid"
                  :disabled="false"
                  :nowLang="nowLang"
                  name="codempid1"
                  :descDisp="false" 
                  style="margin-bottom: 10px;"/>
        <hcm-lov  v-model="codempid2"
                  lovType="codempid"
                  :disabled="true"
                  :nowLang="nowLang"
                  name="codempid2"
                  style="margin-bottom: 10px;" />
        <hcm-lov  v-model="codempid3"
                  lovType="codempid"
                  :disabled="false"
                  :nowLang="nowLang"
                  name="codempid2"
                  style="margin-bottom: 10px;" />
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <hrms-search-box	 :receivedStore="receivedStore"
                           :nowLang="nowLang"
                           :searchBoxAlias="searchBoxAlias" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'demo-searchbox-codempid',
  data () {
    return {
      codempid1: '',
      codempid2: '',
      codempid3: '',
      nowLang: window.localStorage.getItem('lang'),
      searchBoxAlias: 'demo-lov-codempid'
    }
  },
  methods: {
    receivedStore (params) {
      console.log(params)
    }
  }
}
</script>