<template>
  <div name="demo-validate-required-any">
    <!-- <hrms-timepicker  v-model="timstrt" 
                      v-validate="'requiredAny:timstrt,timend|date_format:HH:mm'"
                      data-vv-value-path="inputTime"
                      data-vv-name="timstrt"
                      name="timstrt"
                      :has-error="errors.has('timstrt')" />
    <div class="validator-text -error" v-show="errors.has('timstrt')">{{errors.first('timstrt')}}</div>

    <hrms-timepicker  v-model="timend" 
                      v-validate="'requiredAny:timstrt,timend|date_format:HH:mm'"
                      data-vv-value-path="inputTime"
                      data-vv-name="timend"
                      name="timend"
                      :has-error="errors.has('timend')" />
    <div class="validator-text -error" v-show="errors.has('timend')">{{errors.first('timend')}}</div> -->
    <div class="row">
      <div class="col-4">
        <div class="input-group">
          <label class="label">timstrt</label>
          <hrms-timepicker  v-model="timstrt" 
                            v-validate="'requiredAny:timstrt,timend|date_format:HH:mm'"
                            data-vv-value-path="inputTime"
                            data-vv-name="timstrt"
                            name="timstrt"
                            :has-error="errors.has('timstrt')" />
          <div class="validator-text -error" v-show="errors.has('timstrt')">{{errors.first('timstrt')}}</div>
        </div>

        <div class="input-group">
          <label class="label">timend</label>
          <hrms-timepicker  v-model="timend" 
                            v-validate="'requiredAny:timstrt,timend|date_format:HH:mm'"
                            data-vv-value-path="inputTime"
                            data-vv-name="timend"
                            name="timend"
                            :has-error="errors.has('timend')" />
          <div class="validator-text -error" v-show="errors.has('timend')">{{errors.first('timend')}}</div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'demo-validate-required-any'
}
</script>