<template>
  <div name="demo-google-map" class="checkin-work-place">
    ลติจูด {{center.lat}}<br>
    ลองติจูด {{center.lng}}<br>
    posBound {{posBound}}<br>
    <gmap-map
      :center="center"
      :zoom="14"
      ref="currentPosition"
      style="width: 100%; height: 400px;" >
      <gmap-marker
        :key="index"
        v-for="(m, index) in meMarker"
        :position="m.position"
        :clickable="true"
        :draggable="true"
        :icon="'http://maps.google.com/mapfiles/ms/icons/green-dot.png'"
        @click="toggleInfoWindow(m, index)" />
      <gmap-marker
        :key="index"
        v-for="(m, index) in workPlace"
        :position="m.position"
        :clickable="true"
        @click="toggleInfoWindow(m, index)"  />
      <gmap-circle
        :center="center"
        :radius="radius"
        :clickable="false"
        :options="optionsCircle" />
      <gmap-info-window
        :options="optionsInfoCenter"
        :position="infoWindowPos"
        :opened="infoWinOpen"
        @closeclick="infoWinOpen=false">
        {{infoContent}}
      </gmap-info-window>
    </gmap-map>
    <div class="button-lg _bg-white"><i class="fa fa-info-circle" aria-hidden="true"></i>Detail</div>
    <div class="button-lg _bg-white"><i class="fa fa-clock-o" aria-hidden="true"></i>History</div>
    <div class="button-lg _bg-white" @click="callCheckIn()"><i class="fa fa-map-marker" aria-hidden="true"></i>Check In</div>
  </div>
</template>

<script>
export default {
  name: 'demo-google-map',
  data () {
    return {
      accuracy: 0,
      center: {
        lat: 0,
        lng: 0
      },
      circlePosition: {
        lat: 0,
        lng: 0
      },
      currentMidx: null,
      infoContent: '',
      infoWinOpen: false,
      infoWindowPos: {
        lat: 0,
        lng: 0
      },
      posBound: {k: 'FF', l: 'YY'},
      workPlace: [
        {
          cust_company: '',
          desc_compay: '',
          title: 'Khon Kean',
          position: {
            lat: 16.418548,
            lng: 102.840058
          }
        },
        {
          title: 'Chiang Mai',
          position: {
            lat: 18.706054,
            lng: 98.981720
          }
        },
        {
          title: 'Route 66',
          position: {
            lat: 13.751556,
            lng: 100.575287
          }
        },
        {
          title: 'Seenspace Bar',
          position: {
            lat: 13.733631,
            lng: 100.581455
          }
        },
        {
          title: 'Terminal 21',
          position: {
            lat: 13.737338,
            lng: 100.560598
          }
        },
        {
          title: 'Central World',
          position: {
            lat: 13.746228,
            lng: 100.539819
          }
        }
      ],
      meMarker: [{
        title: 'Me',
        position: {
          lat: 0,
          lng: 0
        }
      }],
      optionsCircleWorkPlace: {
        fillColor: '#ff0000',
        fillOpacity: 0.5,
        strokeColor: '#ff0000',
        strokeOpacity: 0.4,
        strokeWeight: 0.8
      },
      optionsCircle: {
        fillColor: '#99ccff',
        fillOpacity: 0.5,
        strokeColor: '#004d99',
        strokeOpacity: 0.4,
        strokeWeight: 0.8
      },
      optionsInfoCenter: {
        pixelOffset: {
          width: 0,
          height: -35
        }
      },
      boundsField: {},
      circleBounds: {},
      radius: 2000
    }
  },
  created () {
    let options = {
      enableHighAccuracy: true,
      timeout: 10000,
      maximumAge: 0
    }
    navigator.geolocation.getCurrentPosition(this.successGeoCallback, this.errorGeoCallback, options)

    // let googleMapsClient = require('@google/maps').createClient({
    //   key: 'AIzaSyDnlb02M1OwgsGNoNM2e0c53vkSxk-Q7ro'
    // })
    // googleMapsClient.geocode({
    //   address: '1600 Amphitheatre Parkway, Mountain View, CA'
    // }, function (err, response) {
    //   if (!err) {
    //   }
    // })
  },
  methods: {
    successGeoCallback (position) {
      if (position !== '') {
        let coords = position.coords
        this.center.lat = parseFloat(coords.latitude.toFixed(8))
        this.center.lng = parseFloat(coords.longitude.toFixed(8))
        this.accuracy = coords.accuracy.toFixed(2)
        this.meMarker[0].position = this.center
      }
    },
    errorGeoCallback (error) {
      console.log(error)
    },
    toggleInfoWindow (marker, idx) {
      this.infoWindowPos = marker.position
      this.infoContent = marker.title

      // check if its the same marker that was selected if yes toggle
      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen
      } else {
        // if different marker set infowindow to open and reset current marker index
        this.infoWinOpen = true
        this.currentMidx = idx
      }
    },
    toRad (num) {
      return num * Math.PI / 180
    },
    calDistance (lat1, lon1, lat2, lon2) {
      let R = 6371 // km
      let dLat = this.toRad(lat2 - lat1)
      let dLon = this.toRad(lon2 - lon1)
      let a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
              Math.cos(this.toRad(lat1)) * Math.cos(this.toRad(lat2)) *
              Math.sin(dLon / 2) * Math.sin(dLon / 2)
      let c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a))
      let d = R * c
      return d
    },
    callCheckIn () {
      let _this = this
      let nearWorkPlace = this.workPlace.filter(function (workPlaces) {
        return _this.radius >= _this.calDistance(_this.meMarker[0].position.lat, _this.meMarker[0].position.lng, workPlaces.position.lat, workPlaces.position.lng) * 1000
      })
      console.log(nearWorkPlace)
    }
  }
}
</script>

<style lang="scss">

.checkin-work-place {
  .infowin {
    // top: -10px;
  }
}

</style>