<template>
  <div name="demo-searchbox-codcours">
    <hcm-lov           v-model="codcours1"
                       lovType="codcours"
                       :disabled="false"
                       :nowLang="nowLang"
                       name="codcours1" />
    <hcm-lov           v-model="codcours2"
                       lovType="codcours"
                       :disabled="true"
                       :nowLang="nowLang"
                       name="codcours2" />
    <hcm-lov           v-model="codcours3"
                       lovType="codcours"
                       :disabled="false"
                       :nowLang="nowLang"
                       name="codcours2" />
    <hrms-search-box	 :receivedStore="receivedStore"
                			 :nowLang="nowLang"
                			 :searchBoxAlias="searchBoxAlias" />
  </div>
</template>

<script>
export default {
  name: 'demo-searchbox-codcours',
  data () {
    return {
      codcours1: '',
      codcours2: '',
      codcours3: '',
      nowLang: 'en',
      searchBoxAlias: 'demo-lov-codcours'
    }
  },
  methods: {
    receivedStore (params) {
      console.log(params)
    }
  }
}
</script>