<template>
  <div name="demo-searchbox-rules">
    <div class="row">
      <div class="col-4">
        <hrms-search-box	 :receivedStore="receivedStore"
                       :nowLang="nowLang"
                       :searchBoxAlias="searchBoxAlias" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'demo-searchbox-rules',
  data () {
    return {
      nowLang: 'en',
      searchBoxAlias: 'demo-searchbox-rules'
    }
  },
  methods: {
    receivedStore (params) {
      console.log(params)
    }
  }
}
</script>