<template>
  <div name="demo-higher-order-component">
    <div class="col-md-4 col-lg-4">
        <higher-order-component 
                    :higherOrderData="dataObj"
                    :higherOrderEvent="getEventObj()"
                    :higherOrderComponent="exampleHigherOrderComponent" 
        />
    </div>
  </div>
</template>

<script>
import exampleHigherOrderComponent from './exampleHigherOrderComponent'

export default {
  name: 'demo-higher-order-component',
  data () {
    return {
      dataObj: {
        input1: 'input 1',
        input2: 'input 2',
        input3: 'input 3'
      },
      exampleHigherOrderComponent: exampleHigherOrderComponent
    }
  },
  methods: {
    event1 () {
      console.log('event1')
    },
    event2 () {
      console.log('event2')
    },
    event3 () {
      console.log('event3')
    },
    getEventObj () {
      return {
        event1: this.event1,
        event2: this.event2,
        event3: this.event3
      }
    }
  }
}
</script>

