<template>
  <div name="demo-hcm-lov">
    <div class="row">
      <div class="col-4">
        <div class="input-group">
          <label class="label">Demo Lov Codempid1</label>
          <!-- {{inputValue1}} -->
          <hcm-lov
            v-model="inputValue1"
            nowLang="en"
            lovType="codempid"
            v-validate="'required'"
            data-vv-value-path="inputValue"
            data-vv-as="Demo Lov Codempid1"
            data-vv-name="codempid1"
            name="codempid1"
          />
        </div>

        <div class="input-group">
          <label class="label">Demo Lov Codempid2</label>
          <!-- {{inputValue2}} -->
          <hcm-lov
            v-model="inputValue2"
            nowLang="en"
            lovType="codempid"
            v-validate="'required'"
            data-vv-value-path="inputValue"
            data-vv-as="Demo Lov Codempid2"
            data-vv-name="codempid2"
            name="codempid2"
          />
        </div>

        <div class="input-group">
          <label class="label">Demo Lov Codempid3</label>
          <!-- {{inputValue3}} -->
          <hcm-lov
            v-model="inputValue3"
            nowLang="en"
            lovType="codempid"
            v-validate="'required'"
            data-vv-value-path="inputValue"
            data-vv-as="Demo Lov Codempid3"
            data-vv-name="codempid3"
            name="codempid3"
            :disabled="true"
          />
          <div v-if="errors.has('codempid')" class="input-error">{{errors.first('codempid')}}</div>
        </div>
      </div>
    </div>
    <div class="button-md _bg-green" @click="validate()">Validate</div>
  </div>
</template>

<script>
export default {
  name: 'demo-hcm-lov',
  data () {
    return {
      inputValue1: '53100',
      inputValue2: '54003',
      inputValue3: '38055'
    }
  },
  methods: {
    validate () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          console.log('success')
        }
      }).catch(() => {})
    }
  }
}
</script>

