<template>
  <div name="demo-validate-required">
    <!-- <input type="text" v-model="username"
         v-validate="'required'" 
         name="username" 
         data-vv-as="Username" 
         placeholder="Username" 
         :class="{ 'input-error' : errors.has('username') }" />
    <div v-show="errors.has('username')" class="validator-text -error">{{ errors.first('username') }}</div> -->
    <div class="row">
      <div class="col-4">
        <div class="input-group">
          <div class="label">Username</div>
          <input  type="text" v-model="username"
                  v-validate="'required'" 
                  name="username" 
                  data-vv-as="Username" 
                  class="normal-input"
                  :class="{ '-error' : errors.has('username') }" >
          <div v-show="errors.has('username')" class="validator-text -error">{{ errors.first('username') }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'demo-validate-required',
  data () {
    return {
      username: ''
    }
  }
}
</script>