<template>
  <div name="demo-validate-required-when-exist">
    <div class="row">
      <div class="col-4">
        <div class="input-group">
          <label class="label">Time 1</label>
          <hrms-timepicker  v-model="timstrt" 
                            v-validate="'requiredWhenExist:timend|date_format:HH:mm'"
                            data-vv-value-path="inputTime"
                            data-vv-name="timstrt"
                            name="timstrt"
                            :has-error="errors.has('timstrt')" />
          <div class="validator-text -error" v-show="errors.has('timstrt')">{{errors.first('timstrt')}}</div>
        </div>
        <div class="input-group">
          <label class="label">Time 2</label>
          <hrms-timepicker  v-model="timend" 
                            v-validate="'requiredWhenExist:timstrt|date_format:HH:mm'"
                            data-vv-value-path="inputTime"
                            data-vv-name="timend"
                            name="timend"
                            :has-error="errors.has('timend')" />
          <div class="validator-text -error" v-show="errors.has('timend')">{{errors.first('timend')}}</div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'demo-validate-required-when-exist',
  data () {
    return {
      timstrt: '',
      timend: ''
    }
  },
  watch: {
    timstrt () {
      this.$validator.validate('timend', this.timend).catch(e => {})
    },
    timend () {
      this.$validator.validate('timstrt', this.timstrt).catch(e => {})
    }
  }
}
</script>