<template>
  <div name="demo-logical-statement">
    <!-- {{statement.code}}
    {{statement.description}} -->
    <div class="row">
      <div class="col-6">
        <hrms-logical-statement :listFields="listFields"
                                :nowLang="nowLang"
                                :lists="lists"
                                name="demo-logical-statement"
                                v-model="statement" />
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'demo-logical-statement',
    data () {
      return {
        lists: [ { 'field': 'codempid', 'operator': '=', 'value': '1111', 'codeStmt': 'codempid = \'1111\'', 'descStmt': 'รหัสพนักงาน เท่ากับ 1111', 'id': '4c5de9b1359596ab4690a22064aaae098afe7a37', 'flgEdit': false, 'flgLink': false } ],
        statement: {
          code: 'codempid = \'1111\'',
          description: 'รหัสพนักงาน เท่ากับ 1111'
        },
        nowLang: 'th',
        listFields: {
          en: [
            { code: 'codempid', description: 'Employee Code', type: 'varchar2' },
            { code: 'numlvl', description: 'Number Level', type: 'number' },
            { code: 'codpos', description: 'Position Code', type: 'varchar2' },
            { code: 'dtestrt', description: 'Start Date', type: 'date' }
          ],
          th: [
            { code: 'codempid', description: 'รหัสพนักงาน', type: 'varchar2' },
            { code: 'numlvl', description: 'ระดับ', type: 'number' },
            { code: 'codpos', description: 'รหัสตำแหน่ง', type: 'varchar2' },
            { code: 'dtestrt', description: 'วันที่เริ่มต้น', type: 'date' }
          ]
        }
      }
    }
  }
</script>