<template>
  <div name="demo-upload-single">
    <div class="row">
      <div class="col-6">
        <hrms-dropzone />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'demo-upload-single',
  data () {
    return {
      fileDir: '\\\\192.168.2.18\\temp\\'
    }
  }
}
</script>