<template>
  <div>
    <input class="button-md _bg-green" type="button" v-model="higherOrderData.input1" @click="higherOrderEvent.event1" />
    <input class="button-md _bg-blue" type="button" v-model="higherOrderData.input2" @click="higherOrderEvent.event2" />
    <input class="button-md _bg-red" type="button" v-model="higherOrderData.input3" @click="higherOrderEvent.event3" />
  </div>
</template>

<script>
export default {
  name: 'example-higher-order-component',
  props: {
    higherOrderData: {
      type: Object
    },
    higherOrderEvent: {
      type: Object
    }
  }
}
</script>
