<template>
  <div class="panel-group" id="accordion">
    <div class="panel">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" :href="'#' + id">
        <div class="title">{{topic.descMain}}</div>
        <i class="fa fa-angle-down down" aria-hidden="true"></i>
        <i class="fa fa-angle-up up" aria-hidden="true"></i>
      </div>
      <div :id="id" class="panel-collapse collapse">
        <div class="panel-body">
          <a class="list-menu" :key="index" v-for="(sub, index) in subFilter(topic.sub, 'done')" href="#toTop"
            @click="togglePage(topic, sub)"
            :class="{ 'active' : (main == topic.main && type == sub.type) }">
            {{sub.type}}
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['topic', 'subFilter', 'id', 'togglePage', 'main', 'type']
  }
</script>