<template>
  <div id="hrpmb8e">
    <hcm-setting-page />

    <hrms-search-box-table v-show="indexDisp"
            v-model="searchIndex"
            :data="index"
            :nowLang="app.nowLang"
            :columns="columns[app.nowLang].index"
            :unLoadBool="true"
            :receivedStore="receivedHrpmb8eIndex"
            :addInlineEventBool="true"
            :editEvent="editEvent"
            :editInlineEventBool="true"
            :deleteInlineEventBool="true"
            :deleteInlineBtnDisp="true"
            :searchDisp="false"
            searchBoxAlias="hrpmb8e"
            :saveInlineEvent="callSave" />
  </div>
  
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import * as types from './store/mutation-types'
import { constLabels } from 'assets/js/constLabels'
import swal from 'sweetalert'

export default {
  name: 'hrpmb8e',
  data () {
    return {
      app: this.$root.$children[0],
      searchIndex: {}
    }
  },
  created () {
    this.receivedHrpmb8eColumnsLabels()
  },
  computed: {
    codempid () {
      let currentUser = this.app.currentUser
      return currentUser.p_codempid
    },
    ...mapGetters({
      indexDisp: types.GET_HRPMB8E_INDEX_DISP,
      labels: types.GET_HRPMB8E_LABELS,
      index: types.GET_HRPMB8E_INDEX,
      columns: types.GET_HRPMB8E_COLUMNS,
      indexSelected: types.GET_HRPMB8E_INDEX_SELECTED
    })
  },
  methods: {
    editEvent (param) {
      this.setIndexSelected(param)
    },
    deleteEvent (dataRowsHasFlg) {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.postHrpmb8eDelete({ searchIndex: this.searchIndex, dataRowsHasFlg: dataRowsHasFlg })
        }
      })
    },
    callSave (dataRowsHasFlg) {
      this.$validator.validateAll().then(result => {
        if (result) {
          if (this.index.total === 0) {
            swal({title: '', text: constLabels('HR2045'), type: 'error'})
          } else {
            this.postHrpmb8eSave({
              searchIndex: this.searchIndex,
              detail: dataRowsHasFlg
            })
          }
        }
      })
    },
    ...mapMutations({
      setIndexSelected: types.SET_HRPMB8E_INDEX_SELECTED
    }),
    ...mapActions({
      receivedHrpmb8eColumnsLabels: types.RECEIVED_HRPMB8E_COLUMNS_LABELS,
      receivedHrpmb8eIndex: types.RECEIVED_HRPMB8E_INDEX,
      postHrpmb8eDelete: types.POST_HRPMB8E_DELETE,
      postHrpmb8eSave: types.POST_HRPMB8E_SAVE
    })
  }
}
</script>

