<template>
  <div id="hrpm36x" class="hrpm36x">
    <hcm-setting-page />

<!--     <index-head  v-show="indexHeadDisp"
                  :nowLang="app.nowLang"
                  :labels="labels[app.nowLang]"
                  :indexHead="indexHead"
                  :searchIndex="searchIndex"/> -->
                 
    <hrms-search-box-table  v-show="indexDisp"
                            v-model="searchIndex"
                            :data="index"
                            :nowLang="app.nowLang"
                            :columns="columns[app.nowLang].index"
                            :unLoadBool="true"
                            :receivedStore="receivedHrpm36xIndex"
                            :deleteInlineBtnDisp="false"
                            :saveInlineBtnDisp="true"
                            :maxRowspan="maxRowspan.index"
                            searchBoxAlias="hrpm36x"
                            :headerLabels="labels[app.nowLang]"
                            :headerData="searchIndex"
                            :headerComponent="headerComponent"
                            :headerDisp="true" />

  </div>

</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import * as types from './store/mutation-types'
import indexHead from './components/indexHead'

export default {
  name: 'hrpm36x',
  data () {
    return {
      app: this.$root.$children[0],
      searchIndex: {
        codcomp: '',
        datest: ''
      },
      headerComponent: indexHead
    }
  },
  created () {
    this.receivedHrpm36xColumnsLabels()
    // this.receivedHrpm36xIndexHead()
  },
  computed: {
    codempid () {
      let currentUser = this.app.currentUser
      return currentUser.p_codempid
    },
    ...mapGetters({
      indexDisp: types.GET_HRPM36X_INDEX_DISP,
      indexHeadDisp: types.GET_HRPM36X_INDEX_HEAD_DISP,
      labels: types.GET_HRPM36X_LABELS,
      index: types.GET_HRPM36X_INDEX,
      indexHead: types.GET_HRPM36X_INDEX_HEAD,
      columns: types.GET_HRPM36X_COLUMNS,
      indexSelected: types.GET_HRPM36X_INDEX_SELECTED,
      maxRowspan: types.GET_HRPM36X_MAX_ROWSPAN
    })
  },
  methods: {
    callSave (dataRowsHasFlg) {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.deleteHrpm36xIndex({ searchIndex: this.searchIndex, dataRowsHasFlg: dataRowsHasFlg })
        }
      })
    },
    ...mapMutations({
      setIndexSelected: types.SET_HRPM36X_INDEX_SELECTED
    }),
    ...mapActions({
      toggle: types.TOGGLE_HRPM36X_PAGE,
      receivedHrpm36xColumnsLabels: types.RECEIVED_HRPM36X_COLUMNS_LABELS,
      receivedHrpm36xIndex: types.RECEIVED_HRPM36X_INDEX,
      receivedHrpm36xIndexHead: types.RECEIVED_HRPM36X_INDEX_HEAD,
      deleteHrpm36xIndex: types.DELETE_HRPM36X_INDEX

    })
  }
}
</script>

<style src="./assets/style.scss" lang='scss'></style>

