#wrapper {
  width: 860px;
  margin: 0 auto;
  font-family: "Arial";
}

#wrapper li {
  margin-top: 20px;
}

#wrapper a {
  font-size: 24px;
}

#wrapper span {
  font-size: 24px;
}

#chart-container {
  position: relative;
  display: inline-block;
  top: 10px;
  left: 10px;
  height: 420px;
  width: calc(100% - 24px);
  border: 2px dashed #aaa;
  border-radius: 5px;
  overflow: auto;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.orgchart .second-menu-icon {
    transition: opacity .5s;
    opacity: 0;
    right: -5px;
    top: -5px;
    z-index: 2;
    color: rgba(68, 157, 68, 0.5);
    font-size: 18px;
    position: absolute;
}
.orgchart .second-menu-icon:hover {
  color: #449d44;
}
.orgchart .node:hover .second-menu-icon {
  opacity: 1;
}
.orgchart .node .second-menu {
  position: absolute;
  top: 0;
  right: -70px;
  border-radius: 35px;
  box-shadow: 0 0 10px 1px #999;
  background-color: #fff;
  z-index: 1;
}
.orgchart .node .avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  float: left;
  margin-top: -75px;
  margin-left: 30px;
}
.orgchart .node .content {
    height: 100px;
}
.orgchart .node .third-menu {
  position: absolute;
  display: inline-flex;
  margin-top: -20px;
  margin-left: 20px;
}
.orgchart .node .secretary {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin: 5px;
}
.orgchart .hidden {
  display: none!important;
}
.fa-info-circle {
  position: absolute;
  margin-top: -20px;
  margin-left: 20px;
}