<template>
  <div id="widget-breadcrumb" class="breadcrumb-wrapper">
  	<div class="breadcrumb-path">
      <router-link :to="{ name: 'home' }" class="hilight" title="Link to Home">
  		  <span>Home</span>
      </router-link>
      <template v-for="(breadcrumb, index) in breadcrumbs[nowLang]">
        <span>/</span>
        <span>{{ breadcrumb }}</span>
      </template>
  	</div>
    <div class="function-name"><i class="fa fa-chevron-right" aria-hidden="true"></i> {{ codapp.toUpperCase() }} - {{ descCodapp[nowLang] }}</div>
  </div>
</template>

<script>
export default {
  name: 'widget-breadcrumb',
  props: [ 'currModule', 'currCodapp', 'nameModule', 'descModule', 'codapp', 'descCodapp', 'nowLang', 'breadcrumbs' ]
}
</script>