@import "../../../modules/global";

/* Variable */
$screen-mobile      : 480px;
$calendar-height    : 650px;
$t-color            : #56bd5b;
$s-color            : #007bff;

.hcm-calendar {
  background: #FFF;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  height: $calendar-height;

  .panel-left {
    width: 35%;
    height: 100%;
    float: left;
    background: #F1F1F1;
    padding: 25px 15px 15px 25px;

    @media (max-width: $screen-mobile) {
      width: 100%;
      height: auto;
    }

    .date-pc {
      @media (max-width: $screen-mobile) {
        display: none;
      }
      .year-section {
        width: 100%;
        @include clearfix;
        font-family: 'promptregular';
        font-size: 28px;
        .year {
          color: $blue;
          float: left;
        }
        .back {
          float: right;
          padding: 0 10px 0 10px;
          color: $black-50;
          cursor: pointer;
        }
        .next {
          float: right;
          padding: 0 10px 0 10px;
          color: $black-50;
          cursor: pointer;
        }
      }
      .month-section {
        width: 100%;
        font-family: 'promptlight';
        font-size: 54px;
        line-height: 50px;
        color: $blue;
      }
      .date-section {
        width: 100%;
        font-family: 'promptlight';
        font-size: 50px;
        line-height: 60px;
        color: $blue;
      }
      .label-group {
        margin: 40px 0;
        max-height: 400px;
        overflow-y: auto;

        @include scrollbar-custom;
        .label-item {
          font-size: 14px;
          padding: 8px 0;

          > i {
            float: left;
            font-size: 10px;
            margin-top: 5px;
            &.T {
              color: $t-color;
            }
            &.S {
              color: $s-color;
            }
          }
          > .label-date {
            margin-left: 20px;
            font-weight: bold;
            font-size: 13px;
          }
          > .label-desc {
            margin-left: 20px;
            line-height: 1;
          }
        }
      }
      .line-section {
        width: 35%;
        padding: 10px 0;
        border-bottom: 5px solid $blue;
      }
    }
    .date-mobile {
      @media (max-width: $screen-mobile) {
        .nextback {
          width: 100%;
        }
        .back {
          float: left;
          padding: 0 10px 0 10px;
          margin-top: -10px;
          color: $black-50;
          cursor: pointer;
          font-size: 22px;
        }
        .next {
          float: left;
          padding: 0 10px 0 10px;
          margin-top: -10px;
          color: $black-50;
          cursor: pointer;
          font-size: 22px;
        }
        .date-section {
          display: block;
          float: left;
          width: 100%;
          font-family: 'promptlight';
          font-size: 30px;
          line-height: normal;
          color: $blue;
          text-align: center;
          margin-top: 10px;
        }
      }
      @media (min-width: $screen-mobile + 1) {
        display: none;
      }
    }
  }
  .panel-right {
    width: 65%;
    height: 100%;
    float: left;
    padding: 30px 0 0 0;
    
    @media (max-width: $screen-mobile) {
      width: 100%;
      height: auto;
    }

    .heading-section {
      padding: 0 20px;
      font-size: 20px;

      .heading-text {
        padding: 0 0 0 5px;
        font-family: 'promptregular';
        color: $black-85;
      }
    }
  }

  .monthyear-box {
    width: 60%;
    margin: 0 auto;
    padding: 25px 0;
    cursor: pointer;
    display: table;
    @include clearfix;
    @media (max-width: $screen-mobile) {
      width: 90%;
      padding: 50px 0 10px;
    }

    >.left-button {
      display: table-cell;
      text-align: left;
      font-size: 30px;
      width: 10%;
      color: $blue;
    }
    .monthyear-dropdown {
      display: block;
      width: 70%;
      @include clearfix;
      margin: 0 auto;
      @media (max-width: $screen-mobile) {
        width: 100%;
      }
      @media (min-width: $screen-mobile + 1) and (max-width: $screen-xs-max) {
        width: 100%;
      }

      >.month-dropdown {
        display: block;
        float: left;
        width: 65%;

        .select-group {
          >.select {
            direction: rtl;
            padding: 0 10px 0 0;
            font-family: 'promptregular';
            font-size: 20px;
            border: none;
            color: $blue;
            text-align-last: center;
          }
          .caret {
            display: none;
            font-size: 8px;
            color: $blue;
          }
        }
      }
      >.year-dropdown {
        display: block;
        float: left;
        width: 35%;

        .select-group {
          >.select {
            font-family: 'promptregular';
            font-size: 20px;
            padding: 0 0 0 10px;
            border: none;
            color: $blue;
          }
          .caret {
            display: none;
            font-size: 8px;
            color: $blue;
          }
        }
      }
    }
    >.right-button {
      display: table-cell;
      text-align: right;
      font-size: 30px;
      width: 10%;
      color: $blue;
    }
  }

  .calendar-box {
    padding: 0 15px 15px 15px;

    .table-calendar {
      width: 100%;
      text-align: center;
      .weekdays {
        width: 14.2857142857%;
        font-family: 'promptlight';
        font-size: 18px;
        padding: 10px 0;
        border-top: 1px solid $black-10;
        border-bottom: 1px solid $black-10;
        @media (max-width: $screen-mobile) {
          font-size: 14px;
        }
      }
      .numberdate-set {
        padding: 25px 0 0 0;
        @media (max-width: $screen-mobile) {
          padding: 5px 0 0 0;
        }

        .numberdate-box {
          text-align: center;

          .numberdate-center {
            width: 35px;
            margin: auto;
            
            .numberdate {
              display: table-cell;
              vertical-align: middle;
              width: 35px;
              height: 35px;
              border-radius: 20px;
              cursor: pointer;
              &:hover, &.selected {
                background: $black-10;
              }
              &.active {
                background: $black-65;
                color: #FFF;

                &:hover {
                  background: $black-65;
                }
              }
            }
          }
        }
        .date-type {
          text-align: center;
          font-size: 8px;
          padding: 4px 0;
          min-height: 19px;
          @media (max-width: $screen-mobile) {
            font-size: 4px;
            padding: 5px 0;
            min-height: 13px;
          }

          >i {
            padding: 1px;

            &.T {
              color: $t-color;
            }
            &.S {
              color: $s-color;
            }
          }
        }
      }
    }
  }
}
