<template>
  <div name="demo" class="demo-kit">
    <div class="menu-panel" v-show="!hideMenu">
      <i class="ion-close minimize" aria-hidden="true" @click="toggleHideMenu"></i>
      <div class="menu-header">
        <div class="name">HCM</div>
        <div class="desc">Standard Demo</div>
      </div>
      <div class="menu-box">
        <div class="collapse-group" :key="index" v-for="(topic, index) in topicFilter(topics, 'done')">
          <menu-collapse :topic="topic" :subFilter="subFilter" :id="index" :togglePage="togglePage" :main="main" :type="type" />
        </div>
      </div>
      <div class="all-list" data-toggle="modal" data-target="#listDemoModal">
        <i class="fa fa-check-circle-o"></i>
        All demo status
      </div>
      <div class="modal-group">
        <div id="listDemoModal" class="modal fade" role="dialog" data-keyboard="false">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <div class="modal-title">All Demo</div>
                <div class="close ion-android-close" data-dismiss="modal"></div>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="form-group">
                        <ul v-for="topic in topicFilter(topics, 'done')">
                          <li class="header-list">{{topic.descMain}}</li>
                          <ul v-for="sub in subFilter(topic.sub, 'done')" style="padding-left: 20px;">
                            <li class="check-list">
                              <i class="done fa fa-check-circle-o"></i>
                              {{sub.type}}
                            </li>
                          </ul>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="form-group">
                        <ul v-for="topic in topicFilter(topics, 'coding')">
                          <li class="header-list">{{topic.descMain}}</li>
                          <ul v-for="sub in subFilter(topic.sub, 'coding')" style="padding-left: 20px;">
                            <li class="check-list">
                              <i class="coding fa fa-circle-o"></i>
                              {{sub.type}}
                            </li>
                          </ul>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="show-menu-button" v-show="hideMenu" @click="toggleHideMenu">
      <i class="ion-navicon-round" aria-hidden="true"></i>
    </div>
    <div class="content-panel" :class="{'-full' : hideMenu}" id="toTop">
      <div class="topic-box">
        <div class="topic">{{type}}</div>
        <div class="desc">{{descSub}}</div>
      </div>
      <template v-if="main == 'Table'">
          <demo-table-sort              v-if="type == 'Sort'" />
          <demo-table-request           v-if="type == 'Request'" />
          <demo-table-approve-all       v-if="type == 'ApproveAll'" />
          <demo-table-approve-row       v-if="type == 'ApproveRow'" />
          <demo-table-inline-add        v-if="type == 'AddInline'" />
          <demo-table-inline-edit       v-if="type == 'EditInline'" />
          <demo-table-inline-delete     v-if="type == 'DeleteInline'" />
          <demo-table-inline-validate   v-if="type == 'ValidateInline'" />
          <demo-table-inline            v-if="type == 'Inline'" />
          <demo-table-display           v-if="type == 'Display'" />
          <demo-table-row-condition-request v-if="type == 'RowconditionRequest'" />
          <demo-table-row-condition-inline  v-if="type == 'RowconditionInline'" />
          <demo-table-row-condition-approve v-if="type == 'RowconditionApprove'" />
          <demo-table-row-column-style      v-if="type == 'Rowcolumnstyle'" />
          <demo-table-display-column        v-if="type == 'Displaycolumn'" />
          <demo-table-export-csv        v-if="type == 'Exportcsv'" />
        </template>
        <template v-else-if="main == 'Searchbox'">
          <demo-searchbox-box-type      v-if="type == 'BoxType'" />
          <demo-searchbox-rules         v-if="type == 'Rules'" />
          <demo-searchbox-condition     v-if="type == 'Condition'" />
          <demo-searchbox-codcomp       v-if="type == 'Codcomp'" />
          <demo-searchbox-codempid      v-if="type == 'Codempid'" />
          <demo-searchbox-codpos        v-if="type == 'Codpos'" />
          <demo-searchbox-codapp        v-if="type == 'Codapp'" />
        </template>
        <template v-else-if="main == 'Validate'">
          <demo-validate-required             v-if="type == 'Required'" />
          <demo-validate-date-format          v-if="type == 'DateFormat'" />
          <demo-validate-larger-than          v-if="type == 'LargerThan'" />
          <demo-validate-required-when-exist  v-if="type == 'RequiredWhenExist'" />
          <demo-validate-required-any         v-if="type == 'RequiredAny'" />
          <demo-validate-required-all-when-exist-all      v-if="type == 'RequiredAllWhenExistAll'" />
          <demo-validate-required-all-when-exist-any      v-if="type == 'RequiredAllWhenExistAny'" />
          <demo-validate-required-all-when-not-exist-all  v-if="type == 'RequiredAllWhenNotExistAll'" />
          <demo-validate-required-all-when-not-exist-any  v-if="type == 'RequiredAllWhenNotExistAny'" />
          <demo-validate-required-any-when-exist-all      v-if="type == 'RequiredAnyWhenExistAll'" />
          <demo-validate-required-any-when-exist-any      v-if="type == 'RequiredAnyWhenExistAny'" />
          <demo-validate-required-any-when-not-exist-all  v-if="type == 'RequiredAnyWhenNotExistAll'" />
          <demo-validate-required-any-when-not-exist-any  v-if="type == 'RequiredAnyWhenNotExistAny'" />
          <demo-validate-validate-all         v-if="type == 'ValidateAll'" />
        </template>
        <template v-else-if="main == 'Pdf'">
          <demo-pdf-report-html     v-if="type == 'Html'" />
          <demo-pdf-report-text     v-if="type == 'Text'" />
          <demo-pdf-report-password v-if="type == 'Password'" />
        </template>
        <template v-else-if="main == 'Export'">
          <demo-export-html     v-if="type == 'Html'" />
          <demo-export-text     v-if="type == 'Text'" />
          <demo-export-excel    v-if="type == 'Excel'" />
        </template>
        <template v-else-if="main == 'Import'">
          <demo-import-csv      v-if="type == 'Csv'" />
          <demo-import-text     v-if="type == 'Text'" />
          <demo-import-excel    v-if="type == 'Excel'" />
        </template>
        <template v-else-if="main == 'Calendar'">
          <demo-calendar-worktime v-if="type == 'Worktime'" />
        </template>
        <template v-else-if="main == 'Upload'">
          <demo-upload-single     v-if="type == 'Single'" />
          <demo-upload-single     v-if="type == 'Multi'" />
          <demo-upload-image      v-if="type == 'Image'" />
          <demo-upload-file       v-if="type == 'File'" />
          <demo-upload-limit       v-if="type == 'Limit'" />
        </template>
        <template v-else-if="main == 'Logicalstatement'">
          <demo-logical-statement v-if="type == 'Add'" />
        </template>
        <template v-else-if="main == 'Changelabel'">
          <demo-change-label      v-if="type == 'Label'" />
        </template>
        <template v-else-if="main == 'Hcmlovcodcomp'">
          <demo-hcm-lov-codcomp   v-if="type == 'Main'" />
        </template>
        <template v-else-if="main == 'Googlemap'">
          <demo-google-map        v-if="type == 'Main'" />
        </template>
        <template v-else-if="main == 'Hcmhral5ou'">
          <demo-hcm-hral5ou       v-if="type == 'SearchRadio'" />
        </template>
        <template v-else-if="main == 'HcmLov'">
          <demo-hcm-lov           v-if="type == 'Main'" />
        </template>
        <template v-else-if="main == 'Luckydraw'">
          <demo-lucky-draw       v-if="type == 'Main'" />
        </template>
        <template v-else-if="main == 'Mutationobserver'">
          <demo-mutation-observer       v-if="type == 'Main'" />
        </template>
        <template v-else-if="main == 'Higherordercomponent'">
          <demo-higher-order-component       v-if="type == 'Main'" />
        </template>
    </div>
  </div>
</template>

<script>
import menuCollapse from './components/menuCollapse'
import demoTableSort from './components/demoTableSort'
import demoTableRequest from './components/demoTableRequest'
import demoTableApproveAll from './components/demoTableApproveAll'
import demoTableApproveRow from './components/demoTableApproveRow'
import demoTableInlineAdd from './components/demoTableInlineAdd'
import demoTableInlineEdit from './components/demoTableInlineEdit'
import demoTableInlineDelete from './components/demoTableInlineDelete'
import demoTableInlineValidate from './components/demoTableInlineValidate'
import demoTableInline from './components/demoTableInline'
import demoTableDisplay from './components/demoTableDisplay'
import demoTableRowConditionRequest from './components/demoTableRowConditionRequest'
import demoTableRowConditionInline from './components/demoTableRowConditionInline'
import demoTableRowConditionApprove from './components/demoTableRowConditionApprove'
import demoTableRowColumnStyle from './components/demoTableRowColumnStyle'
import demoTableDisplayColumn from './components/demoTableDisplayColumn'
import demoTableExportCsv from './components/demoTableExportCsv'
import demoSearchboxBoxType from './components/demoSearchboxBoxType'
import demoSearchboxRules from './components/demoSearchboxRules'
import demoSearchboxCondition from './components/demoSearchboxCondition'
import demoSearchboxCodcomp from './components/demoSearchboxCodcomp'
import demoSearchboxCodempid from './components/demoSearchboxCodempid'
import demoSearchboxCodpos from './components/demoSearchboxCodpos'
import demoSearchboxCodapp from './components/demoSearchboxCodapp'
import demoValidateRequired from './components/demoValidateRequired'
import demoValidateDateFormat from './components/demoValidateDateFormat'
import demoValidateLargerThan from './components/demoValidateLargerThan'
import demoValidateRequiredWhenExist from './components/demoValidateRequiredWhenExist'
import demoValidateRequiredAny from './components/demoValidateRequiredAny'
import demoValidateRequiredAllWhenExistAll from './components/demoValidateRequiredAllWhenExistAll'
import demoValidateRequiredAllWhenExistAny from './components/demoValidateRequiredAllWhenExistAny'
import demoValidateRequiredAllWhenNotExistAll from './components/demoValidateRequiredAllWhenNotExistAll'
import demoValidateRequiredAllWhenNotExistAny from './components/demoValidateRequiredAllWhenNotExistAny'
import demoValidateRequiredAnyWhenExistAll from './components/demoValidateRequiredAnyWhenExistAll'
import demoValidateRequiredAnyWhenExistAny from './components/demoValidateRequiredAnyWhenExistAny'
import demoValidateRequiredAnyWhenNotExistAll from './components/demoValidateRequiredAnyWhenNotExistAll'
import demoValidateRequiredAnyWhenNotExistAny from './components/demoValidateRequiredAnyWhenNotExistAny'
import demoValidateValidateAll from './components/demoValidateValidateAll'
import demoCalendarWorktime from './components/demoCalendarWorktime'
import demoUploadSingle from './components/demoUploadSingle'
import demoUploadImage from './components/demoUploadImage'
import demoUploadFile from './components/demoUploadFile'
import demoUploadLimit from './components/demoUploadLimit'
import demoPdfReportHtml from './components/demoPdfReportHtml'
import demoPdfReportText from './components/demoPdfReportText'
import demoPdfReportPassword from './components/demoPdfReportPassword'
import demoExportHtml from './components/demoExportHtml'
import demoExportText from './components/demoExportText'
import demoExportExcel from './components/demoExportExcel'
import demoImportCsv from './components/demoImportCsv'
import demoImportText from './components/demoImportText'
import demoImportExcel from './components/demoImportExcel'
import demoLogicalStatement from './components/demoLogicalStatement'
import demoChangeLabel from './components/demoChangeLabel'
import demoHcmLovCodcomp from './components/demoHcmLovCodcomp'
import demoGoogleMap from './components/demoGoogleMap'
import demoHcmHral5ou from './components/demoHcmHral5ou'
import demoHcmLov from './components/demoHcmLov'
import demoLuckyDraw from './components/demoLuckyDraw'
import demoMutationObserver from './components/demoMutationObserver'
import demoHigherOrderComponent from './components/demoHigherOrderComponent'

export default {
  name: 'demo',
  data () {
    return {
      hideMenu: false,
      menuDisp: true,
      main: '',
      type: '',
      descMain: '',
      descSub: '',
      title: 'HRMS Standard Demo',
      topics: [{
        main: 'Table',
        descMain: 'Table Generator',
        sub: [{
          type: 'Sort',
          descSub: 'Sort Target Column by String, Number, and Date',
          status: 'done'
        }, {
          type: 'Request',
          descSub: 'Request',
          status: 'done'
        }, {
          type: 'ApproveAll',
          descSub: 'Approve All',
          status: 'done'
        }, {
          type: 'ApproveRow',
          descSub: 'Approve Row',
          status: 'done'
        }, {
          type: 'AddInline',
          descSub: 'Add Inline',
          status: 'done'
        }, {
          type: 'EditInline',
          descSub: 'Edit Inline',
          status: 'done'
        }, {
          type: 'DeleteInline',
          descSub: 'Delete Inline',
          status: 'done'
        }, {
          type: 'ValidateInline',
          descSub: 'Validate Inline',
          status: 'done'
        }, {
          type: 'Inline',
          descSub: 'Full Inline',
          status: 'done'
        }, {
          type: 'Display',
          descSub: 'Display',
          status: 'done'
        }, {
          type: 'RowconditionRequest',
          descSub: 'Specific Event for each Row in Request Tablee',
          status: 'done'
        }, {
          type: 'RowconditionApprove',
          descSub: 'Specific Event for each Row in Approve Table',
          status: 'done'
        }, {
          type: 'RowconditionInline',
          descSub: 'Specific Event for each Row in Inline Table',
          status: 'done'
        }, {
          type: 'Rowcolumnstyle',
          descSub: 'Specific Style for each Row-Column',
          status: 'done'
        }, {
          type: 'Displaycolumn',
          descSub: 'Specific Style for each Row-Column',
          status: 'done'
        }, {
          type: 'Exportcsv',
          descSub: 'Table Export CSV',
          status: 'done'
        }]
      }, {
        main: 'Searchbox',
        descMain: 'Searchbox Generator',
        sub: [{
          type: 'BoxType',
          descSub: 'Generate Searchbox Components',
          status: 'done'
        }, {
          type: 'Rules',
          descSub: 'Generate Validation on Searchbox Components',
          status: 'done'
        }, {
          type: 'Condition',
          descSub: 'Generate Event Condition on Searchbox Components',
          status: 'coding'
        }, {
          type: 'Codcomp',
          descSub: 'Generate Searchbox Codcomp',
          status: 'done'
        }, {
          type: 'Codempid',
          descSub: 'Generate Searchbox Codempid',
          status: 'done'
        }, {
          type: 'Codpos',
          descSub: 'Generate Searchbox Codpos',
          status: 'done'
        }, {
          type: 'Codapp',
          descSub: 'Generate Searchbox Codapp',
          status: 'done'
        }]
      }, {
        main: 'Validate',
        descMain: 'Validator',
        sub: [{
          type: 'Required',
          descSub: 'Required',
          status: 'done'
        }, {
          type: 'DateFormat',
          descSub: 'Date Format DD/MM/YYYY',
          status: 'done'
        }, {
          type: 'LargerThan',
          descSub: 'Date2 must large or equal to Date1',
          status: 'done'
        }, {
          type: 'RequiredWhenExist',
          descSub: 'Time2 is required when Time1 exist',
          status: 'done'
        }, {
          type: 'RequiredAny',
          descSub: 'TimeStrt or TimeEnd are required any',
          status: 'done'
        }, {
          type: 'RequiredAllWhenExistAll',
          descSub: 'TimeStrt and TimeEnd are required when DateStrt and DateEnd are exist',
          status: 'done'
        }, {
          type: 'RequiredAllWhenExistAny',
          descSub: 'TimeStrt and TimeEnd are required when DateStrt or DateEnd are exist',
          status: 'done'
        }, {
          type: 'RequiredAllWhenNotExistAll',
          descSub: 'TimeStrt and TimeEnd are required when DateStrt and DateEnd are not exist',
          status: 'done'
        }, {
          type: 'RequiredAllWhenNotExistAny',
          descSub: 'TimeStrt and TimeEnd are required when DateStrt or DateEnd are not exist',
          status: 'done'
        }, {
          type: 'RequiredAnyWhenExistAll',
          descSub: 'TimeStrt or TimeEnd are required when DateStrt and DateEnd are exist',
          status: 'done'
        }, {
          type: 'RequiredAnyWhenExistAny',
          descSub: 'TimeStrt or TimeEnd are required when DateStrt or DateEnd are exist',
          status: 'done'
        }, {
          type: 'RequiredAnyWhenNotExistAll',
          descSub: 'TimeStrt or TimeEnd are required when DateStrt and DateEnd are not exist',
          status: 'done'
        }, {
          type: 'RequiredAnyWhenNotExistAny',
          descSub: 'TimeStrt or TimeEnd are required when DateStrt or DateEnd are not exist',
          status: 'done'
        }, {
          type: 'ValidateAll',
          descSub: 'All rules',
          status: 'done'
        }]
      }, {
        main: 'Pdf',
        descMain: 'PDF Report',
        sub: [{
          type: 'Html',
          descSub: 'Export to PDF from HTML',
          status: 'coding'
        }, {
          type: 'Text',
          descSub: 'Export to PDF from Text',
          status: 'coding'
        }, {
          type: 'Password',
          descSub: 'Export to PDF with Password',
          status: 'coding'
        }]
      }, {
        main: 'Export',
        descMain: 'Export File  ',
        sub: [{
          type: 'Html',
          descSub: 'Export to HTML File',
          status: 'coding'
        }, {
          type: 'Text',
          descSub: 'Export to Text File',
          status: 'coding'
        }, {
          type: 'Excel',
          descSub: 'Export to Excel File',
          status: 'coding'
        }]
      }, {
        main: 'Import',
        descMain: 'Import File  ',
        sub: [{
          type: 'Csv',
          descSub: 'Import to CSV File',
          status: 'coding'
        }, {
          type: 'Text',
          descSub: 'Import to Text File',
          status: 'coding'
        }, {
          type: 'Excel',
          descSub: 'Import to Excel File',
          status: 'coding'
        }]
      }, {
        main: 'Calendar',
        descMain: 'Calendar',
        sub: [{
          type: 'Worktime',
          descSub: 'Work Time',
          status: 'done'
        }]
      }, {
        main: 'Upload',
        descMain: 'File Uploader',
        sub: [{
          type: 'Single',
          descSub: 'Single File',
          status: 'done'
        }, {
          type: 'Multi',
          descSub: 'Multiple File',
          status: 'coding'
        }, {
          type: 'Image',
          descSub: 'Only Image File (jpeg/gif/pdf)',
          status: 'done'
        }, {
          type: 'File',
          descSub: 'Only Document File (xlsx/pdf/doc)',
          status: 'done'
        }, {
          type: 'Limit',
          descSub: 'Limit Size',
          status: 'coding'
        }]
      }, {
        main: 'Logicalstatement',
        descMain: 'Logical Statement',
        sub: [{
          type: 'Add',
          descSub: 'Add',
          status: 'done'
        }]
      }, {
        main: 'Changelabel',
        descMain: 'Change label',
        sub: [{
          type: 'Label',
          descSub: 'Detail Label',
          status: 'done'
        }]
      }, {
        main: 'Hcmlovcodcomp',
        descMain: 'Lists of Company Code (HCM)',
        sub: [{
          type: 'Main',
          descSub: 'Main Feature of List Company',
          status: 'done'
        }]
      }, {
        main: 'Googlemap',
        descMain: 'Google Map',
        sub: [{
          type: 'Main',
          descSub: 'Example for Goole Map API',
          status: 'done'
        }]
      }, {
        main: 'Hcmhral5ou',
        descMain: 'Component of Hcm HRAL5OU',
        sub: [{
          type: 'SearchRadio',
          descSub: 'Example Search Radio Component',
          status: 'done'
        }]
      }, {
        main: 'HcmLov',
        descMain: 'Demo List of Value (HCM)',
        sub: [{
          type: 'Main',
          descSub: 'Main Feature of List value',
          status: 'done'
        }]
      }, {
        main: 'Luckydraw',
        descMain: 'Demo Lucky Draw',
        sub: [{
          type: 'Main',
          descSub: 'Main Feature of Lucky Draw',
          status: 'done'
        }]
      }, {
        main: 'Mutationobserver',
        descMain: 'Demo Mutation Observer',
        sub: [{
          type: 'Main',
          descSub: 'Main Feature of Mutation Observer',
          status: 'done'
        }]
      }, {
        main: 'Higherordercomponent',
        descMain: 'Demo Higher Order Component',
        sub: [{
          type: 'Main',
          descSub: 'Main Feature of Higher Order Component',
          status: 'done'
        }]
      }]
    }
  },
  methods: {
    togglePage (topic, sub) {
      this.toggleMenu()
      this.toggle(topic, sub)
    },
    toggleMenu () {
      this.menuDisp = !this.menuDisp
    },
    toggle (topic, sub) {
      this.main = topic.main
      this.descMain = topic.descMain
      this.type = sub.type
      this.descSub = sub.descSub
    },
    topicFilter (topics, status) {
      return topics.filter(function (topic) {
        var found = false
        for (var sub of topic.sub) {
          if (sub.status === status) {
            found = true
          }
        }
        return found
      })
    },
    subFilter (subs, status) {
      return subs.filter(function (sub) {
        return sub.status === status
      })
    },
    toggleHideMenu () {
      this.hideMenu = !this.hideMenu
    }
  },
  components: {
    menuCollapse,
    demoTableSort,
    demoTableRequest,
    demoTableApproveAll,
    demoTableApproveRow,
    demoTableInlineAdd,
    demoTableInlineEdit,
    demoTableInlineDelete,
    demoTableInlineValidate,
    demoTableInline,
    demoTableDisplay,
    demoTableRowConditionRequest,
    demoTableRowConditionInline,
    demoTableRowConditionApprove,
    demoTableRowColumnStyle,
    demoTableDisplayColumn,
    demoTableExportCsv,
    demoSearchboxBoxType,
    demoSearchboxRules,
    demoSearchboxCondition,
    demoSearchboxCodcomp,
    demoSearchboxCodempid,
    demoSearchboxCodpos,
    demoSearchboxCodapp,
    demoValidateRequired,
    demoValidateDateFormat,
    demoValidateLargerThan,
    demoValidateRequiredWhenExist,
    demoValidateRequiredAny,
    demoValidateRequiredAllWhenExistAll,
    demoValidateRequiredAllWhenExistAny,
    demoValidateRequiredAllWhenNotExistAll,
    demoValidateRequiredAllWhenNotExistAny,
    demoValidateRequiredAnyWhenExistAll,
    demoValidateRequiredAnyWhenExistAny,
    demoValidateRequiredAnyWhenNotExistAll,
    demoValidateRequiredAnyWhenNotExistAny,
    demoValidateValidateAll,
    demoCalendarWorktime,
    demoUploadSingle,
    demoUploadImage,
    demoUploadFile,
    demoUploadLimit,
    demoPdfReportHtml,
    demoPdfReportText,
    demoPdfReportPassword,
    demoExportHtml,
    demoExportText,
    demoExportExcel,
    demoImportCsv,
    demoImportText,
    demoImportExcel,
    demoLogicalStatement,
    demoChangeLabel,
    demoHcmLovCodcomp,
    demoGoogleMap,
    demoHcmHral5ou,
    demoHcmLov,
    demoLuckyDraw,
    demoMutationObserver,
    demoHigherOrderComponent
  }
}
</script>

<style src="./assets/style.scss" lang='scss'></style>