
@import "../../../modules/global";

.hcm-lov-codcomp {
  position: relative;

  // Dropdown input-------------------------------------------------------------
  .dropdown-replace {
    position: absolute;
    width: 100%;
    top: 33px;

    >.codcomp-box {
      .level-list {
        .level-name {
          font-family: 'promptmedium';
          font-size: 16px;
          padding: 5px 10px;

          i {
            padding: 0 10px 0 0;
          }
        }
        .department-list {
          padding: 0 0 10px 0;
          .department-set {
            padding: 5px 10px;
            cursor: pointer;
            font-size: 14px;

            &:hover {
              background:  $black-10;
            }
            .department-code {
              color: $black-70;
              padding: 2px 0 0 0;
              font-family: 'promptregular';

              i{ 
                font-size: 12px;
                padding: 0 10px 0 5px;
              }
            }
            .department-dash {
              color: $black-50;
            }
            .department-name {
              color: $black-50;
            }
          }
        }

      }
    }
  }
  .codetext {
    position: absolute;
    top: 35px;
    font-size: 12px;
    color: $blue;
  }
  .modal-header {
    .modalheader-icon {
      font-size: 26px;
      padding: 0 10px 0 0;
      color: $blue;
    }
  }
  .content-set {
    position: relative;
    .card-select-box {
      position: absolute;
      right: 0;
      top: 0;
      width: 90px;
      height: 100%;
      padding: 23px 0px 0px 15px !important;
      webkit-transition: none !important;
      transition: none !important;
    }
  }
  // Detail --------------------------------------------------------------------------------------------------
  .hcm-lov-codcomp-detail {
    @include clearfix;

    // DepartmentSearchButton ----------------------------------------------------
    .department-search-panel {
      @include clearfix;
      padding: 0 15px;
      border-bottom: 1px solid $black-20;

      .search-input {
        width: 50%;
        float: right;

        @media (min-width: 769px) and (max-width: 991px) {
          width: 65%;
        }

        @media (min-width: 41px) and (max-width: 768px) {
          width: 70%;
        }

        @media (max-width: 480px) {
          width: 100%;
        }
  
        .input-group {
          >.lov-search-input {
            display: table-cell;
            height: 35px;
            padding: 6px 34px 6px 6px;
            border: 1px solid #B7B7B7;
            border-radius: 2px 0 0 2px;
            width: 100%;
            font-family: 'promptlight';
            font-size: 14px;
            color: #252525;
            outline: none;
        
            &:focus{
              border-color: $blue;
            }
            &.-active {
              border-color: $blue;
            }
            &.-success {
              border-color: $green;
            }
            &.-error {
              border-color: $red;
            }
            &.-disable {
              background: #E1E1E1;
              cursor: not-allowed;
            }
          }
          >.search-icon {
              display: block;
              font-size: 22px;
              color: $black-50 !important;
              padding: 0 12px;
              width: 1%;
              cursor: pointer;
              vertical-align: middle;
              position: absolute;
              top: 2px;
              right: 12px;
        
            &:focus{
            }
            &.-disable {
              cursor: not-allowed;
            }
          }
        }
        .lov-icon {
          float: right;
          padding: 25px 5px 0 0;
          font-size: 22px;
          color: $blue;
        }
      }
    }

    // DepartmentHistorybutton,Mainbutton ----------------------------------------
    .department-history-button, .department-main-button {
      @include clearfix;
      padding: 15px;
      border-top: 1px solid $black-15;

      >.button-box-right {
        float: right;
      }
      >.button-box-left {
        float: left;
      }
    }

    // DepartmentSubButton ---------------------------------------------------------
    .department-sub-button {
      >.sub-button {
        padding: 25px 0;
        color: $blue;
        font-family: 'promptregular';
        cursor: pointer;

        i{ 
          padding: 0 5px 0 0;
        }
      }
    }

    // DepartmentMain --------------------------------------------------------------
    .department-main {
      padding: 20px 20px 0 20px;
      background: $black-10;
    }

    // DepartmentSub ---------------------------------------------------------------
    .department-sub {
      padding: 20px;
      background: $black-10;

      .department-sub-box {
        width: 100%;
        height: 500px;
        background: #FFF;
        padding: 0;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        overflow-y: auto;
        @include scrollbar-custom;
        @include clearfix;

        .department-card-left {
          float: left;
          width: 40%;
          background: $black-10;
          height: 100%;
          border: 1px solid $black-15;

          .card-company-box {
            box-shadow: none;
            background: none;

            >.header {
              border: none;
            }
            >.content-list {
              padding: 0;
          
              .content-set-wrapper {
                .content-set {
                  @include clearfix;
                  width: 100%;
          
                  .content-icon {
                    float: left;
                    font-size: 12px;
                    line-height: 21px;
                    color: $black-50;
                    text-align: center;
                    padding: 10px;
                    width: 10%;
                  }
                  .content-text {
                    float: left;
                    font-size: 14px;
                    width: 70%;
                    padding: 10px 10px 10px 0;
                    @include clearfix;
          
                    >.code {
                      font-family: 'promptregular';
                      color: $black-65;
                      width: 25%;
                      float: left;
                    }
                    >.desc {
                      color: $black-50;
                      float: left;
                      width: 75%;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      overflow: hidden;
                    }
                  }
                  .content-button {
                    font-size: 14px;
                    padding: 10px 0;
                    width: 20%;
                    float: right;
                    text-align: center;
                    color: #FFF;
                    background: $blue;
                    visibility: hidden;
                  }
                }
                &:hover {
                  background: $black-15;
          
                  .content-button {
                    font-size: 14px;
                    padding: 10px 0;
                    width: 20%;
                    float: right;
                    text-align: center;
                    color: #FFF;
                    background: $blue;
                    visibility: visible;
                  }
                }
              }
            }
          }
        }
        .department-card-right {
          float: left;
          width: 60%;
          background: #FFF;
          height: 100%;
          border: 1px solid $black-15;
          border-left: none;

          .card-company-box {
            box-shadow: none;
            background: none;

            >.header {
              border: none;
            }
            >.content-list {
              padding: 0;
            }
          }
        }
      }
    }
  }
}