.container-color{
    background: #515151 !important;

    .full-screen{
        height:100vh;
        width:100%;
        
        .text-404{
            background: url('../components/404-01.png') no-repeat center center;
            background-size: 100%;
            opacity: 0.05;
            height:100vh;
        }

        .box-text{
            width:100%;
            position:absolute;
            top: 50%;
            left:0;
            transform: translateY(-50%);

            h1{
                color:#FFF;
                font-size: 325%;
                font-weight: 700;
                margin:0 0 20px 0;
            }

            h4{
                color:#FFF;
                font-size: 20px;
                margin:0 0 5px 0;
            }

            .link-home{
                font-size:20px;
            }
        }  
    }
}