<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.cancel }" :aria-expanded="!flgCollapse.cancel" @click.self="setCollapseToggle('cancel')" data-parent="#accordion" href="#cancel" >
      <div class="title" @click.self="setCollapseToggle('cancel')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('cancel')"></i>{{ labels['HRPM4CEC2']['60'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('cancel')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('cancel')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.cancel ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('cancel')"></i>
    </div>
    <div id="general" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.cancel}">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6 group-space-lg">
            <div class="group-topic _unpadding">{{ labels['HRPM4CEC2']['70'] }}</div>
            <div class="input-group">
              <div class="label">{{ labels['HRPM4CEC2']['80'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detailCancel.codtrn" :disabled="detailDisabled">   
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPM4CEC2']['90'] }}</div>
                <hrms-datepicker  v-model="detailCancel.dtecancel"
                                  v-validate="'required|date_format:DD/MM/YYYY'"
                                  data-vv-value-path="inputDate"
                                  data-vv-name="dtecancel"
                                  data-vv-as="Cancel Date"
                                  name="dtecancel"/>   
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPM4CEC2']['100'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detailCancel.seqno">   
            </div>
          </div>
          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPM4CEC2']['110'] }}</div>
                <textarea class="normal-textarea" type="text" name="textarea" v-model="detailCancel.desnote"></textarea>
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPM4CEC2']['120'] }}</div>
                <hcm-lov v-model="detailCancel.codreq"
                          :nowLang="nowLang"
                          lovType="codempid"
                          v-validate="'required'"
                          :descDisp="false"
                          data-vv-value-path="inputValue"
                          data-vv-as="codempid"
                          data-vv-name="codempid"
                          name="codempid" 
                          :disabled="detailDisabled" />
            </div>
          </div>       
        </div>     
    </div>
  </div>
  </div>
</template>

<script>
export default {
  name: 'hrpm4ce-detail-cancel',
  props: [ 'nowLang',
    'labels',
    'detailCancel',
    'labelsButton',
    'indexSelected',
    'dropdowns',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ]
}
</script>
