<template>
  <div class="dash-body" @click="clickBody()">
    <div class="overlay" v-show="sidebarModuleDisp"></div>
    <template v-if="currPath == 'home'">
      <div class="content-wrapper content-dashboard">
        <section class="content">
          <router-view />
        </section>
      </div>
    </template>
    <template v-else-if="currPath == 'help'">
      <div class="content-wrapper content-help">
        <section class="content">
          <router-view />
        </section>
      </div>
    </template>
    <template v-else>
      <div class="content-wrapper">
        <section class="content-header">
          <widget-breadcrumb
            :currModule="currModule"
            :currCodapp="currCodapp"
            :nameModule="nameModule"
            :descModule="descModule"
            :codapp="codapp"
            :nowLang="nowLang"
            :descCodapp="descCodapp"
            :breadcrumbs="breadcrumbs" />
        </section>

        <section class="content-body">
          <div class="content">
            <router-view />
          </div>
        </section>
      </div>
    </template>
  </div>
</template>

<script>
import widgetBreadcrumb from './widgets/widgetBreadcrumb'

export default {
  name: 'template-body',
  props: [ 'currModule', 'currCodapp', 'nowLang', 'nameModule', 'descModule', 'currPath', 'codapp', 'descCodapp', 'rescale', 'sidebarModuleDisp', 'closeSidebarModule', 'breadcrumbs' ],
  methods: {
    clickBody () {
      this.closeSidebarModule()
      this.rescale()
    }
  },
  components: {
    widgetBreadcrumb
  }
}
</script>