<template>
  <aside class="main-sidebar-module" :class="[sidebarModuleDisp ? 'sidebar-open' : 'sidebar-collapse']">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <div class="module-description" :style="[setStyleColor(themeColor)]">{{ moduleDesc }}</div>

        <!-- menu level 1 -->
        <template v-for="(moduleLv1Obj, keyLv1) in moduleObj">
          <div :key="keyLv1" :class="'module ' + [ keyLv1Selected === selectedModule + concat + keyLv1 ? 'active' : '' ]" @click="setKeyLv1Selected(keyLv1)" @mouseover="adjustScale(keyLv1)">
            <i class="icon-sm fa fa-chevron-right" :style="[setStyleColor(themeColor)]"></i> 
            <template v-if="moduleLv1Obj['type'] === typeFunction">
              <template v-if="$router.match(moduleLv1Obj['code'].toLowerCase()).name !== '404'">
                <router-link :to="{ name: moduleLv1Obj['code'].toLowerCase() }" class="module-name menu-lv-1">
                    {{ moduleLv1Obj['description'][nowLang] }}
                </router-link>
              </template>
              <template v-else>
                <a :href="moduleLv1Obj['code'].toLowerCase()" class="module-name menu-lv-1">
                  {{ moduleLv1Obj['description'][nowLang] }}
                </a>
              </template>
            </template>
            <template v-else>
              <div class="module-name menu-lv-1">
                {{ moduleLv1Obj['description'][nowLang] }}
              </div>
            </template>

            <!-- menu level 2 (sub-module) -->
            <template v-if="typeof moduleLv1Obj.children !== 'undefined'">
              <template-sidebar-level2 :moduleObj="moduleLv1Obj"
                                       :currCodapp="currCodapp"
                                       :currModule="currModule"
                                       :selectedModule="selectedModule"
                                       :concat="concat"
                                       :keyLv1="keyLv1"
                                       :keyLv2Selected="keyLv2Selected"
                                       :setKeyLv2Selected="setKeyLv2Selected"
                                       :setStyleBackground="setStyleBackground"
                                       :adjustScaleWhenClick="adjustScaleWhenClick"
                                       :themeColor="themeColor"
                                       :typeFunction="typeFunction"
                                       :typeMenu="typeMenu"
                                       :nowLang="nowLang" />
            </template>

          </div>
        </template>

      </ul>
    </section>
  </aside>
</template>

<script>
import templateSidebarLevel2 from './templateSidebarLevel2'
import $ from 'jquery'

export default {
  name: 'dash-sidebar-level1',
  props: [ 'sidebarModuleDisp', 'themeColor', 'setStyleColor', 'setStyleBackground', 'rescale', 'currCodapp', 'currModule', 'selectedModule', 'moduleDesc', 'moduleObj', 'concat', 'typeFunction', 'typeMenu', 'nowLang', 'keyLv1Selected', 'keyLv2Selected', 'setKeyLv1Selected', 'setKeyLv2Selected' ],
  methods: {
    adjustScaleWhenClick (keyLv1, keyLv2) {
      this.setKeyLv2Selected(keyLv1, keyLv2)
      let _this = this
      setTimeout(function () {
        _this.adjustScale(keyLv1)
      }, 100)
    },
    adjustScale (keyLv1) {
      let menuEle = '#' + this.selectedModule + keyLv1 + 'sub-sidebar-module'
      let menuEleTop = typeof $(menuEle).offset() !== 'undefined' ? $(menuEle).offset().top : 0
      let menuOffsetBottom = menuEleTop + $(menuEle).height()
      let footerOffsetTop = typeof $('#dash-footer').offset() !== 'undefined' ? $('#dash-footer').offset().top : 0
      if (menuOffsetBottom > footerOffsetTop) {
        let menuHeight = $('.main-sidebar-module').height()
        $('.main-sidebar-module').css({ minHeight: menuHeight + (menuOffsetBottom - footerOffsetTop) + 30 })
        this.rescale()
      }
    }
  },
  components: {
    templateSidebarLevel2
  }
}
</script>