<template>
  <div id="dash-header">
    <div class="main-header" :class="{'-modal-open' : modalDisp}" v-show="pcDisp">
      <nav class="navbar navbar-static-top" role="navigation">
        <router-link :to="{ name: 'home' }" class="header-home-button" title="Link to Home" :style="[setStyleColor(themeColor)]">
          <i class="fa fa-home"></i>
        </router-link>
        <div class="navbar-custom-left"><img :src="require('@/assets/image/logo.png')"> {{ softwareName }}</div>
        <div class="navbar-custom-menu notification">
          <ul class="nav navbar-nav">
            <li class="dropdown user-menu">
              <div class="user-box">
                <div class="user-img">
                  <img :src="require('@/assets/image/ex-photo.jpg')">
                </div>
                <div class="user-name" v-show="pcDisp">
                  {{ currentUser.username[nowLang] }}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div class="navbar-custom-center"><img :src="require('@/assets/image/logo_pps.png')"></div>
    </div>

    <div class="header-mb" :class="{ 'responsive-header' : scrollPosition > 50 }" v-show="!pcDisp">
      <div class="logobar"><img :src="require('@/assets/image/logo_pps.png')"></div>
      <div class="navbar-left">
        <i class="material-icons">menu</i>
        <router-link :to="{ name: 'home' }" title="Link to Home">
          <i class="material-icons">home</i>
        </router-link>
      </div>
      <div class="navbar-custom-menu notification-mb">
        <ul class="nav navbar-nav">
          <li class="dropdown user-menu">
            <div class="user-box">
              <div class="user-img">
                <img :src="require('@/assets/image/ex-photo.jpg')">
              </div>
              <div class="user-name" v-show="pcDisp">
                {{ currentUser.username[nowLang] }}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import headerUserSetting from './setting/index'

export default {
  name: 'dash-header',
  props: [ 'scrollPosition', 'softwareName', 'themeColor', 'setStyleColor', 'setStyleBackground', 'currentUser', 'nowLang', 'pcDisp', 'modalDisp' ],
  components: {
    headerUserSetting
  },
  data () {
    return {
      sidebarDisp: false,
      favouriteDisp: false
    }
  },
  methods: {
    toggleFavourite () {
      this.favouriteDisp = !this.favouriteDisp
    },
    closeFavourite () {
      let _this = this
      setTimeout(function () {
        _this.favouriteDisp = true
      }, 250)
      setTimeout(function () {
        _this.favouriteDisp = false
      }, 250)
    },
    numberFormat (number, decimals = 0) {
      if (number > 0) {
        return parseInt(number).toFixed(decimals).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,')
      }
      return number
    }
  }
}
</script>
