<template>
  <div class="sub-sidebar-function">
    <template v-for="(subModuleObj, keyLv3) in moduleObj.children">
      <div v-if="keyLv2Selected === selectedModule + concat + keyLv1 + concat + keyLv2"
           :key="keyLv3" class="module" :style="[setStyleBackground(themeColor)]">
        <i class="icon-sm fa fa-chevron-right"></i>
        <template v-if="subModuleObj['type'] === typeFunction">
          <template v-if="$router.match(subModuleObj['code'].toLowerCase()).name !== '404'">
            <router-link :to="{ name: subModuleObj['code'].toLowerCase() }" class="module-name menu-lv-3">
                {{ subModuleObj['description'][nowLang] }}
            </router-link>
          </template>
          <template v-else>
            <a :href="subModuleObj['code'].toLowerCase()" class="module-name menu-lv-3">
              {{ subModuleObj['description'][nowLang] }}
            </a>
          </template>
        </template>
        <template v-else>
          <div class="module-name menu-lv-3">
            {{ subModuleObj['description'][nowLang] }}
          </div>
        </template>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  name: 'dash-sidebar-level3',
  props: [ 'moduleObj', 'keyLv2Selected', 'currCodapp', 'currModule', 'selectedModule', 'concat', 'keyLv1', 'keyLv2', 'setStyleBackground', 'themeColor', 'typeFunction', 'typeMenu', 'nowLang' ]
}
</script>