<template>
  <div id="dash-header">
    <div class="main-header" :class="{'-modal-open' : modalDisp}" v-show="pcDisp">
      <nav class="navbar navbar-static-top" role="navigation">
        <router-link :to="{ name: 'home' }" class="header-home-button" title="Link to Home" :style="[setStyleColor(themeColor)]">
          <i class="fa fa-home"></i>
        </router-link>
        <div class="navbar-custom-left"><img :src="require('@/assets/image/logo.png')"> {{ softwareName }}</div>
        <div class="navbar-custom-menu notification">
          <ul class="nav navbar-nav">
            <header-favourite title="Show favourite"
                              :headerFavourite="headerFavourite"
                              :nowLang="nowLang"
                              :favouriteDisp="favouriteDisp"
                              :closeFavourite="closeFavourite"
                              :toggleFavourite="toggleFavourite"
                              :toggleFavouriteItem="toggleFavouriteItem"
                              :setFavourite="setFavourite" />
            <header-request title="Show request"
                            :headerNotiRequestTotal="headerNotiRequestTotal"
                            :headerNotiRequestInfiniteLoading="headerNotiRequestInfiniteLoading"
                            :receivedHeaderNotiRequestInfiniteLoading="receivedHeaderNotiRequestInfiniteLoading"
                            :numberFormat="numberFormat"
                            :nowLang="nowLang" />
            <header-approve title="Show approve"
                            :headerNotiApprove="headerNotiApprove"
                            :numberFormat="numberFormat"
                            :nowLang="nowLang" />
            <header-user-setting :currentUser="currentUser"
                                 :nowLang="nowLang"
                                 :version="version"
                                 :postLogout="postLogout"
                                 :pcDisp="pcDisp"
                                 :themeColor="themeColor"
                                 :setting="setting"
                                 :clearSettingTheme="clearSettingTheme"
                                 :flgMainColor="flgMainColor"
                                 :flgAdvanceColor="flgAdvanceColor"
                                 :toggleFlgColor="toggleFlgColor"
                                 :setThemeColor="setThemeColor"
                                 :saveThemeColor="saveThemeColor"
                                 :setStyleColor="setStyleColor"
                                 :setStyleBackground="setStyleBackground"
                                 :toggleSettingDisp="toggleSettingDisp"
                                 :settingThemeColorDisp="settingThemeColorDisp"
                                 :switchUserDisp="switchUserDisp"
                                 :settingLanguageDisp="settingLanguageDisp" />
          </ul>
        </div>
      </nav>
      <div class="navbar-custom-center"><img :src="require('@/assets/image/logo_pps.png')"></div>
    </div>

    <div class="header-mb" :class="{ 'responsive-header' : scrollPosition > 50 }" v-show="!pcDisp">
      <div class="logobar"><img :src="require('@/assets/image/logo_pps.png')"></div>
      <div class="navbar-left">
        <i class="material-icons">menu</i>
        <router-link :to="{ name: 'home' }" title="Link to Home">
          <i class="material-icons">home</i>
        </router-link>
      </div>
      <div class="navbar-custom-menu notification-mb">
        <ul class="nav navbar-nav">
          <header-favourite title="Show favourite"
                          :headerFavourite="headerFavourite"
                          :nowLang="nowLang"
                          :favouriteDisp="favouriteDisp"
                          :closeFavourite="closeFavourite"
                          :toggleFavourite="toggleFavourite"
                          :toggleFavouriteItem="toggleFavouriteItem"
                          :setFavourite="setFavourite" />
          <header-request title="Show request"
                          :headerNotiRequestTotal="headerNotiRequestTotal"
                          :headerNotiRequestInfiniteLoading="headerNotiRequestInfiniteLoading"
                          :receivedHeaderNotiRequestInfiniteLoading="receivedHeaderNotiRequestInfiniteLoading"
                          :numberFormat="numberFormat"
                          :nowLang="nowLang"
                          />
          <header-approve title="Show approve"
                          :headerNotiApprove="headerNotiApprove"
                          :numberFormat="numberFormat"
                          :nowLang="nowLang" />
          <header-user-setting :currentUser="currentUser"
                               :nowLang="nowLang"
                               :version="version"
                               :postLogout="postLogout"
                               :pcDisp="pcDisp"
                               :themeColor="themeColor"
                               :setting="setting"
                               :clearSettingTheme="clearSettingTheme"
                               :flgMainColor="flgMainColor"
                               :flgAdvanceColor="flgAdvanceColor"
                               :toggleFlgColor="toggleFlgColor"
                               :setThemeColor="setThemeColor"
                               :saveThemeColor="saveThemeColor"
                               :setStyleColor="setStyleColor"
                               :setStyleBackground="setStyleBackground"
                               :toggleSettingDisp="toggleSettingDisp"
                               :settingThemeColorDisp="settingThemeColorDisp"
                               :switchUserDisp="switchUserDisp"
                               :settingLanguageDisp="settingLanguageDisp" />
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import headerFavourite from './headers/headerFavourite'
import headerAnnounce from './headers/headerAnnounce'
import headerRequest from './headers/headerRequest'
import headerApprove from './headers/headerApprove'
import headerUserSetting from './setting/index'

export default {
  name: 'dash-header',
  props: [ 'scrollPosition', 'softwareName', 'themeColor', 'toggleFlgColor', 'saveThemeColor', 'setStyleColor', 'setStyleBackground', 'version', 'currentUser', 'nowLang', 'postLogout', 'headerNotiRequestTotal', 'headerNotiRequestInfiniteLoading', 'headerNotiApprove', 'headerFavourite', 'receivedHeaderNotiRequestInfiniteLoading', 'pcDisp', 'setting', 'clearSettingTheme', 'setThemeColor', 'flgMainColor', 'flgAdvanceColor', 'toggleFavouriteItem', 'setFavourite', 'modalDisp', 'toggleSettingDisp', 'settingThemeColorDisp', 'switchUserDisp', 'settingLanguageDisp' ],
  components: {
    headerFavourite,
    headerAnnounce,
    headerRequest,
    headerApprove,
    headerUserSetting
  },
  data () {
    return {
      sidebarDisp: false,
      favouriteDisp: false
    }
  },
  methods: {
    toggleFavourite () {
      this.favouriteDisp = !this.favouriteDisp
    },
    closeFavourite () {
      let _this = this
      setTimeout(function () {
        _this.favouriteDisp = true
      }, 250)
      setTimeout(function () {
        _this.favouriteDisp = false
      }, 250)
    },
    numberFormat (number, decimals = 0) {
      if (number > 0) {
        return parseInt(number).toFixed(decimals).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,')
      }
      return number
    }
  }
}
</script>
