<template>
  <div id="dash-sidebar">
    <aside class="main-sidebar clearfix" :class="{'-modal-open' : modalDisp}" :style="[setStyleBackground(themeColor)]">
      <section class="sidebar">
        <ul class="sidebar-menu">
          <template v-for="(moduleObj, key) in modules">
            <div :key="key" class="module" @click="clickMenuModule(key, moduleObj)" :class="[ currModule === key ? 'active' : currModule !== '' ? 'unactive' : '' ]">
              <div :class="'module-icon module-' + moduleObj.icon"></div>
              <div class="module-name">
                {{ moduleObj.code }}
              </div>
            </div>
          </template>
        </ul>
      </section>
    </aside>

    <template-sidebar-level1 :sidebarModuleDisp="sidebarModuleDisp" 
                             :themeColor="themeColor" 
                             :setStyleColor="setStyleColor" 
                             :setStyleBackground="setStyleBackground" 
                             :rescale="rescale"
                             :currCodapp="currCodapp" 
                             :currModule="currModule" 
                             :selectedModule="selectedModule" 
                             :moduleDesc="moduleDesc" 
                             :moduleObj="moduleChild" 
                             :concat="concat" 
                             :typeFunction="typeFunction" 
                             :typeMenu="typeMenu" 
                             :nowLang="nowLang"
                             :keyLv1Selected="keyLv1Selected"
                             :keyLv2Selected="keyLv2Selected"
                             :setKeyLv1Selected="setKeyLv1Selected"
                             :setKeyLv2Selected="setKeyLv2Selected" />
  </div>
</template>

<script>
import templateSidebarLevel1 from './templateSidebarLevel1'

export default {
  name: 'dash-sidebar',
  props: [ 'themeColor', 'setStyleColor', 'setStyleBackground', 'currModule', 'currCodapp', 'version', 'currentUser', 'nowLang', 'modules', 'rescale', 'setCurrModule', 'sidebarModuleDisp', 'openSidebarModule', 'closeSidebarModule', 'modalDisp' ],
  data () {
    return {
      concat: '-',
      typeMenu: 'menu',
      typeFunction: 'function',
      moduleDesc: '',
      moduleChild: {},
      selectedModule: this.currModule,
      keyLv1Selected: -1,
      keyLv2Selected: -1
    }
  },
  methods: {
    clickMenuModule (module, objModule) {
      if (objModule.type === 'link') {
        window.open(objModule.url, '_blank')
      } else {
        this.selectedModule = module
        this.keyLv1Selected = -1
        this.keyLv2Selected = -1
        this.rescale()
        this.openSidebarModule()
        this.moduleDesc = this.modules[module]['description'][this.nowLang]
        this.moduleChild = this.modules[module]['children']
        window.scrollTo(0, 0)
      }
    },
    setKeyLv1Selected (keyLv1) {
      let key = this.selectedModule + this.concat + keyLv1
      if (this.keyLv1Selected === key) {
        // this.keyLv1Selected = -1
      } else {
        this.keyLv1Selected = key
      }
    },
    setKeyLv2Selected (keyLv1, keyLv2) {
      let key = this.selectedModule + this.concat + keyLv1 + this.concat + keyLv2
      if (this.keyLv2Selected === key) {
        this.keyLv2Selected = -1
      } else {
        this.keyLv2Selected = key
      }
    }
  },
  components: {
    templateSidebarLevel1
  }
}
</script>