<template>
  <div class="sub-sidebar-module" :id="selectedModule + keyLv1 + 'sub-sidebar-module'">
    <template v-for="(moduleLv2Obj, keyLv2) in moduleObj.children">
      <div :key="keyLv2" :class="'module ' + [ keyLv2Selected === selectedModule + concat + keyLv1 + concat + keyLv2 ? 'active' : '' ]" @click="adjustScaleWhenClick(keyLv1, keyLv2)">
        <div class="tri" v-if="keyLv2 === '0'"></div>
        <template v-if="moduleLv2Obj['type'] === typeFunction">
          <template v-if="$router.match(moduleLv2Obj['code'].toLowerCase()).name !== '404'">
            <router-link :to="{ name: moduleLv2Obj['code'].toLowerCase() }" class="module-name menu-lv-2">
                {{ moduleLv2Obj['description'][nowLang] }}
            </router-link>
          </template>
          <template v-else>
            <a :href="moduleLv2Obj['code'].toLowerCase()" class="module-name menu-lv-2">
              {{ moduleLv2Obj['description'][nowLang] }}
            </a>
          </template>
        </template>
        <template v-else>
          <div class="module-name menu-lv-2">
            {{ moduleLv2Obj['description'][nowLang] }}
          </div>
          <i :class="'icon-lg fa ' + [ keyLv2Selected === selectedModule + concat + keyLv1 + concat + keyLv2 ? 'fa-angle-down' : 'fa-angle-right' ]" class="icon-lg fa fa-angle-right" v-if="moduleLv2Obj['type'] === typeMenu"></i>
        </template>
      </div>

      <!-- menu level 3 (expand) -->
      <template v-if="typeof moduleLv2Obj.children !== 'undefined'">
        <template-sidebar-level3 :key="keyLv2"
                                 :moduleObj="moduleLv2Obj"
                                 :keyLv2Selected="keyLv2Selected"
                                 :currCodapp="currCodapp"
                                 :currModule="currModule"
                                 :selectedModule="selectedModule"
                                 :concat="concat"
                                 :keyLv1="keyLv1"
                                 :keyLv2="keyLv2"
                                 :setStyleBackground="setStyleBackground"
                                 :themeColor="themeColor"
                                 :typeFunction="typeFunction"
                                 :typeMenu="typeMenu"
                                 :nowLang="nowLang" />
      </template>

    </template>
  </div>
</template>

<script>
import templateSidebarLevel3 from './templateSidebarLevel3'

export default {
  name: 'dash-sidebar-level2',
  props: [ 'moduleObj', 'currCodapp', 'currModule', 'selectedModule', 'concat', 'keyLv1', 'keyLv2Selected', 'setKeyLv2Selected', 'setStyleBackground', 'adjustScaleWhenClick', 'themeColor', 'typeFunction', 'typeMenu', 'nowLang' ],
  components: {
    templateSidebarLevel3
  }
}
</script>