<template>
  <div id="dash-footer">
    <template v-if="currPath == 'help'">
      <footer class="help-footer">
        <div class="group-space-lg">
          <div class="footer-header">
            <i class="fa fa-phone"></i> Contact Support
          </div>
          <div class="row">
            <div class="col-6">
              <div class="footer-detail">
                For technical assistance, please contact the Support Center at +662-661-7888 Ext.200
              </div>
              <div class="footer-detail">
                Monday - Friday 9:00 - 18:00 or by email at <a href="mailto:support@peopleplus.co.th">support@peopleplus.co.th</a>
              </div>
            </div>
            <div class="col-6">
              <div class="footer-copyright">
                Copyright &copy; 1988 <a href="http://peopleplus.co.th" target="_blank" class="text-skin">People Plus Software Co.,Ltd.</a> 
                <span class="nowrap">All Rights Reserved.</span>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </template>
    <template v-else>
      <footer class="main-footer">
        <div class="footer-copyright">
          Copyright &copy; 1988 <a href="http://peopleplus.co.th" target="_blank" class="text-skin">People Plus Software Co.,Ltd.</a> 
          <span class="nowrap">All Rights Reserved.</span>
        </div>
      </footer>
    </template>
  </div>
</template>

<script>
export default {
  name: 'dash-footer',
  props: [ 'currPath' ]
}
</script>