<template>
  <div id="hrpm33r" class="hrpm33r">
    <hcm-setting-page :newEvent="refreshPage" />              
    <hrms-search-box-table  v-show="indexDisp"
                            v-model="searchIndex"
                            :data="index"
                            :nowLang="app.nowLang"
                            :unLoadBool="true"
                            :receivedStore="receivedHrpm33rIndex"
                            :deleteInlineBtnDisp="false"
                            :saveInlineBtnDisp="true"
                            searchBoxAlias="hrpm33r"
                            :headerLabels="labels[app.nowLang]"
                            :headerData="searchIndex"
                            :headerComponent="headerComponent"
                            :headerDisp="true" />

    <component-detail :nowLang="app.nowLang"
                      :labels="labels[app.nowLang]"
                      :labelsButton="app.button[app.nowLang]"
                      :columns="columns[app.nowLang]"
                      :detail="detail" />

  </div>

</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import * as types from './store/mutation-types'
import indexHead from './components/indexHead'
import componentDetail from './components/componentDetail'

export default {
  name: 'hrpm33r',
  data () {
    return {
      app: this.$root.$children[0],
      searchIndex: {
        codcomp: '',
        datest: ''
      },
      headerComponent: indexHead,
      index: componentDetail
    }
  },
  created () {
    this.receivedHrpm33rColumnsLabels()
    // this.receivedHrpm33rIndexHead()
  },
  computed: {
    codempid () {
      let currentUser = this.app.currentUser
      return currentUser.p_codempid
    },
    ...mapGetters({
      indexDisp: types.GET_HRPM33R_INDEX_DISP,
      indexHeadDisp: types.GET_HRPM33R_INDEX_HEAD_DISP,
      labels: types.GET_HRPM33R_LABELS,
      index: types.GET_HRPM33R_INDEX,
      indexHead: types.GET_HRPM33R_INDEX_HEAD,
      detail: types.GET_HRPM33R_DETAIL,
      columns: types.GET_HRPM33R_COLUMNS,
      indexSelected: types.GET_HRPM33R_INDEX_SELECTED
    })
  },
  methods: {
    refreshPage () {
      this.$refs.indexSearch.callNew()
    },
    ...mapMutations({
      setIndexSelected: types.SET_HRPM33R_INDEX_SELECTED
    }),
    ...mapActions({
      toggle: types.TOGGLE_HRPM33R_PAGE,
      receivedHrpm33rColumnsLabels: types.RECEIVED_HRPM33R_COLUMNS_LABELS,
      receivedHrpm33rIndex: types.RECEIVED_HRPM33R_INDEX,
      receivedHrpm33rIndexHead: types.RECEIVED_HRPM33R_INDEX_HEAD,
      receivedHrpm33rDetail: types.RECEIVED_HRPM33R_DETAIL
    })
  },
  components: {
    componentDetail
  }
}
</script>

<style src="./assets/style.scss" lang='scss'></style>

