@import "../../../../modules/global";

.hrpy21e {

  .add-text-button {
    float: left;
    width: 10%; 
    padding-top: 45px; 
    text-align: right; 
    cursor: pointer;
  }
  ._code {
    float: left;
  }
  ._desc {
    float: left;
  }
  .slash {
    width: 2%;
    float: left;
    text-align: center;
    line-height: 35px;
  }
}