<template>
  <li class="dropdown user-menu">
    <div href="#" class="user-box dropdown-toggle" data-toggle="dropdown">
      <div class="user-img">
        <img :src="require('@/assets/image/ex-photo.jpg')">
      </div>
      <div class="user-name" v-show="pcDisp">
        {{ app.currentUser.username[nowLang] }}
      </div>
      <i class="fa fa-angle-down down" aria-hidden="true" v-show="pcDisp"></i>
    </div>

    <ul class="dropdown-menu replace" :class="[ userSettingDisp ? 'show' : '']">
      <div class="triangle"></div>
      <div class="setting-box" @click.stop="">
        <div class="user-box">
          <div class="img-box">
            <img :src="require('@/assets/image/ex-photo.jpg')">
            <div class="change-img">Change</div>
          </div>
          <div class="detail-box">
            <div class="username">{{ app.currentUser.username[nowLang] }}</div>
            <div class="email">somchai.k@peopleplus.com</div>
          </div>
          <template v-if="$router.match('hres31x').name !== '404'">
            <router-link :to="{ name: 'hres31x' }">
              <div class="button-md _bg-blue -user-profile" @click="closeUserSetting()">
                <i class="ion-person" aria-hidden="true"></i>Profile
              </div>
            </router-link>
          </template>
          <template v-else>
            <div class="button-md _bg-blue-disable -user-profile">
              <i class="ion-person" aria-hidden="true"></i>Profile
            </div>
          </template>
        </div>
        <div class="setting-menu">
          <div class="menu-row">
            <div class="fa fa-gear icon-left" aria-hidden="true"></div>
            <div class="menu-text">General setting</div>
            <div class="fa fa-angle-right icon-right" aria-hidden="true"></div>
            <div class="sub-menu">
              <div class="menu-row">
                <div class="menu-text">Logo setting</div>
              </div>
              <div class="menu-row" @click="openSettingThemeColor()">
                <div class="menu-text">Theme color setting</div>
              </div>
              <div class="menu-row" @click="openSettingLanguage()">
                <div class="menu-text">Language</div>
              </div>
              <div class="menu-row">
                <div class="menu-text">Select a notification language</div>
              </div>
              <div class="menu-row">
                <div class="menu-text">Change password</div>
              </div>
            </div>
          </div>
          <div class="menu-row" @click="openSwitchUser()">
            <div class="ion-person-stalker icon-left" aria-hidden="true"></div>
            <div class="menu-text">Switch account</div>
          </div>
          <div class="menu-row" @click="postLogout()">
            <div class="fa fa-sign-out icon-left" aria-hidden="true"></div>
            <div class="menu-text">Sign out</div>
          </div>
        </div>
      </div>
    </ul>

    <setting-theme-color v-show="settingThemeColorDisp"
                         :closeSetting="closeSetting"
                         :themeColor="themeColor"
                         :setting="setting"
                         :clearSettingTheme="clearSettingTheme"
                         :flgMainColor="flgMainColor"
                         :flgAdvanceColor="flgAdvanceColor"
                         :toggleFlgColor="toggleFlgColor"
                         :setThemeColor="setThemeColor"
                         :saveThemeColor="saveThemeColor"
                         :setStyleColor="setStyleColor"
                         :setStyleBackground="setStyleBackground" />

    <switch-user v-show="switchUserDisp"
                 :closeSetting="closeSetting"
                 :setting="setting" />

    <setting-language v-show="settingLanguageDisp"
                      :closeSetting="closeSetting"
                      :setting="setting"
                      :nowLang="nowLang"
                      :allLang="app.allLang"
                      :setLang="app.setLang" />
  </li>
</template>

<script>
import settingThemeColor from './settingThemeColor'
import switchUser from './switchUser'
import settingLanguage from './settingLanguage'

export default {
  name: 'header-user-setting',
  props: [ 'currentUser', 'nowLang', 'version', 'postLogout', 'pcDisp', 'themeColor', 'setting', 'clearSettingTheme', 'flgMainColor', 'flgAdvanceColor', 'toggleFlgColor', 'setThemeColor', 'saveThemeColor', 'setStyleColor', 'setStyleBackground', 'toggleSettingDisp', 'settingThemeColorDisp', 'switchUserDisp', 'settingLanguageDisp' ],
  data () {
    return {
      app: this.$root.$children[0],
      userSettingDisp: false
    }
  },
  methods: {
    openSettingThemeColor () {
      this.closeSetting()
      this.toggleSettingDisp('themeColor')
    },
    openSwitchUser () {
      this.closeSetting()
      this.toggleSettingDisp('switchUser')
    },
    openSettingLanguage () {
      this.closeSetting()
      this.toggleSettingDisp('language')
    },
    closeSetting () {
      this.closeUserSetting()
      this.toggleSettingDisp('none')
    },
    closeUserSetting () {
      let _this = this
      setTimeout(function () {
        _this.userSettingDisp = true
      }, 250)
      setTimeout(function () {
        _this.userSettingDisp = false
      }, 250)
    }
  },
  components: {
    settingThemeColor,
    switchUser,
    settingLanguage
  }
}
</script>
