<template>
  <div class="setting-panel setting-language">
    <div class="setting-main-header">
    	<div class="text">Language</div>
    	<div class="close" @click="clearSetting()"><i class="icon ion-android-close"></i></div>
    </div>

    <div class="setting-group-set -unpadding">
      <template v-for="(value, index) in allLang">
        <div class="language-set" :class="{ 'active': value === nowLang }" @click="switchLang(value)">
          <div class="img-panel">
            <img class="lang-img" :src="require('static/image/flag/' + value + '.png')">
          </div>
          <div class="detail-panel">
            <div class="lang-name">{{ descLang[index] }}</div>
          </div>
          <div class="lang-checked" v-show="value === nowLang">
            <i class="ion-ios-checkmark-empty" aria-hidden="true"></i>
          </div>
        </div>
      </template>
    </div>

<!--     <div class="panel-button">
      <div type="button" class="button-md _bg-grey" @click="clearSetting()">
        <i class="fa fa-times-circle"></i>Cancel
      </div>
      <div type="button" class="button-md _bg-green">
        <i class="fa fa-check-circle"></i>Change
      </div>
    </div> -->
  </div>
</template>

<script>
export default {
  name: 'setting-language',
  props: {
    pcDisp: {
      type: Boolean
    },
    closeSetting: {
      type: Function
    },
    allLang: {
      type: Array
    },
    setLang: {
      type: Function
    },
    nowLang: {
      type: String
    },
    setting: {
      type: Object
    }
  },
  data () {
    return {
      descLang: ['English', 'Thai']
    }
  },
  methods: {
    clearSetting () {
      this.closeSetting()
    },
    switchLang (lang) {
      this.setLang(lang)
    }
  }
}
</script>