<template>
  <div class="setting-panel setting-theme-color">
    <div class="setting-main-header">
    	<div class="text">Theme color setting</div>
    	<div class="close" @click="clearSetting()"><i class="icon ion-android-close"></i></div>
    </div>
    <div class="setting-group-set -with-margin-left -main">
    	<div class="header" @click="selectMainColor()">
        <i class="fa" :class="[ flgMainColor ? 'fa-check-circle' : 'fa-circle-thin' ]"></i>
    		Main Color
    	</div>
    	<div class="content clearfix">
        <div class="color-box" v-for="(color, index) in mainColorDefault" :key="index" :style="[setStyleBackground(color)]" @click="selectColor(color)" :class="[ flgMainColor ? 'cursor-pointer' : '' ]">
          <i class="fa fa-check-circle" :class="[ flgMainColor && color === themeColor ? 'selected' : '' ]"></i>
        </div>
    	</div>
    </div>
    <div class="setting-group-set -with-margin-left -advance">
      <div class="header" @click="selectAdvanceColor()">
        <i class="fa" :class="[ flgAdvanceColor ? 'fa-check-circle' : 'fa-circle-thin' ]"></i>
        Advanced Color
      </div>
      <div class="content clearfix">
        <div class="color-box" :style="[setStyleBackground(getExampleBgColor())]">
          <i class="material-icons">mode_edit</i>
        </div>
        <div class="input-box">
          <div class="input-group">
            <div class="label">Color your corporate</div>
            <span class="search-icon fa fa-hashtag" aria-hidden="true"></span>
            <input  class="search-input"
                    type="text"
                    name="advanceColor"
                    maxlength="6"
                    :class="{ '-disable': !flgAdvanceColor }"
                    :disabled="!flgAdvanceColor" 
                    v-model="advanceColor"
                    v-validate="{ rules: { required: validateAdvanceColorBg, regex: regex.colorCode } }"
                    data-vv-as="Color"
                    :has-error="errors.has('advanceColor')">
            <div v-show="errors.has('advanceColor')" class="validator-text -error">{{ errors.first('advanceColor') }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-button">
      <div type="button" class="button-md _bg-grey" @click="cancel()">
        <i class="fa fa-times-circle"></i>Cancel
      </div>
      <div type="button" class="button-md _bg-green" @click="save()">
        <i class="fa fa-check-circle"></i>Save
      </div>
    </div>
  </div>
</template>

<script>
import swal from 'sweetalert'
import { constLabels } from 'assets/js/constLabels'

export default {
  name: 'setting-theme-color',
  props: {
    pcDisp: {
      type: Boolean
    },
    closeSetting: {
      type: Function
    },
    themeColor: {
      type: String
    },
    setting: {
      type: Object
    },
    clearSettingTheme: {
      type: Function
    },
    flgMainColor: {
      type: Boolean
    },
    flgAdvanceColor: {
      type: Boolean
    },
    toggleFlgColor: {
      type: Function
    },
    setThemeColor: {
      type: Function
    },
    saveThemeColor: {
      type: Function
    },
    setStyleColor: {
      type: Function
    },
    setStyleBackground: {
      type: Function
    }
  },
  data () {
    return {
      regex: require('assets/js/regex'),
      validateAdvanceColorBg: false,
      mainColorDefault: {
        blue: '#3887C9',
        red: '#E44A4D',
        yellow: '#F6B423',
        lightGreen: '#57BD59',
        lightBlue: '#7CA7D9',
        green: '#31A651',
        orange: '#F7941D',
        grey: '#8AA1B3',
        lightBrown: '#998574',
        pink: '#F36D7E',
        brown: '#372F2D',
        darkGrey: '#707070'
      },
      mainColor: this.setting.mainColor,
      advanceColor: this.setting.advanceColor
    }
  },
  watch: {
    'setting.mainColor' () {
      this.mainColor = this.setting.mainColor
    },
    'setting.advanceColor' () {
      this.advanceColor = this.setting.advanceColor
    },
    advanceColor () {
      this.advanceColor = this.advanceColor.replace(/[^a-fA-F0-9]/g, '').toUpperCase()
      if (typeof this.advanceColor !== 'undefined' && this.flgAdvanceColor) {
        if (this.advanceColor === '') {
          this.setThemeColor('#FFFFFF')
        } else {
          this.$validator.validate('advanceColor', this.advanceColor).catch(e => {})
          this.setThemeColor('#' + this.advanceColor)
        }
      }
    }
  },
  methods: {
    getExampleBgColor () {
      if (this.advanceColor === '' || !this.flgAdvanceColor) {
        return 'FFFFFF'
      }
      return this.advanceColor
    },
    selectMainColor () {
      this.validateAdvanceColorBg = false
      this.toggleFlgColor('main')
      this.mainColor = this.mainColor || this.mainColorDefault.blue
      this.advanceColor = ''
      this.setThemeColor(this.mainColor)
    },
    selectAdvanceColor () {
      this.validateAdvanceColorBg = true
      this.toggleFlgColor('advance')
      this.mainColor = ''
      this.advanceColor = this.advanceColor || this.themeColor
    },
    selectColor (color) {
      if (this.flgMainColor) {
        this.mainColor = color
        this.setThemeColor(color)
      }
    },
    clearSetting () {
      this.clearSettingTheme()
      this.closeSetting()
      this.mainColor = this.setting.mainColor
      this.advanceColor = this.setting.advanceColor
      this.$nextTick(() => {
        this.errors.clear()
      })
    },
    cancel () {
      let _this = this
      swal({
        title: constLabels('confirmTitle'),
        text: constLabels('msgConfirmCancelGeneral'),
        showCancelButton: true,
        closeOnConfirm: true,
        confirmButtonText: 'ok',
        cancelButtonText: 'cancel',
        html: true
      },
      function (isConfirm) {
        if (isConfirm) {
          _this.clearSetting()
        }
      })
    },
    setColor (color) {
      color = color.replace(/#/g, '').toUpperCase()
      return color !== '' ? '#' + color : ''
    },
    save () {
      let _this = this
      this.$validator.validateAll().then(result => {
        if (result) {
          swal({
            title: constLabels('confirmTitle'),
            text: constLabels('msgConfirmSave'),
            showCancelButton: true,
            closeOnConfirm: false,
            confirmButtonText: 'ok',
            cancelButtonText: 'cancel',
            html: true
          },
          function (isConfirm) {
            if (isConfirm) {
              let saveParam = {
                saveParam: {
                  mainColor: _this.setColor(_this.mainColor),
                  advanceColor: _this.setColor(_this.advanceColor)
                }
              }
              _this.saveThemeColor(saveParam)
            }
          })
        }
      })
    }
  }
}
</script>