<template>
  <div class="setting-panel switch-user">
    <div class="setting-main-header">
    	<div class="text">Switch account</div>
    	<div class="close" @click="clearSetting()"><i class="icon ion-android-close"></i></div>
    </div>
    <form>
      <div class="setting-group-set -unpadding">
        <div class="user-set">
          <div class="img-panel">
            <img class="emp-img" :src="require('@/assets/image/ex-photo.jpg')">
          </div>
          <div class="detail-panel">
            <div class="user-name">สมชาย เข็มกลัดทองแดง</div>
            <div class="user-email">somchai.k@peopleplus.co.th</div>
          </div>
          <div class="switch-tab -switch-user">
            <label class="switch">
              <input type="radio" name="switchUser" id="switch1" checked="checked">
              <span class="slider round" for="switch1"></span>
            </label>
          </div>

        </div>
        <div class="user-set">
          <div class="img-panel">
            <img class="emp-img" :src="require('@/assets/image/ex-photo.jpg')">
          </div>
          <div class="detail-panel">
            <div class="user-name">Administrator</div>
            <div class="user-email">admin@peopleplus.co.th</div>
          </div>
          <div class="switch-tab -switch-user">
            <label class="switch">
              <input type="radio" name="switchUser" id="switch2">
              <span class="slider round" for="switch2"></span>
            </label>
          </div>
        </div>
        <div class="user-set">
          <div class="img-panel">
            <img class="emp-img" :src="require('@/assets/image/ex-photo.jpg')">
          </div>
          <div class="detail-panel">
            <div class="user-name">C.S.R. People Plus</div>
            <div class="user-email">csr@peopleplus.co.th</div>
          </div>
          <div class="switch-tab -switch-user">
            <label class="switch">
              <input type="radio" name="switchUser" id="switch3">
              <span class="slider round" for="switch3"></span>
            </label>
          </div>
        </div>
      </div>
    </form>

    <div class="panel-button">
      <div type="button" class="button-md _bg-grey" @click="clearSetting()">
        <i class="fa fa-times-circle"></i>Cancel
      </div>
      <div type="button" class="button-md _bg-green">
        <i class="fa fa-check-circle"></i>Change
      </div>
    </div>
  </div>
</template>

<script>
// import swal from 'sweetalert'
// import { constLabels } from 'assets/js/constLabels'

export default {
  name: 'switch-user',
  props: {
    pcDisp: {
      type: Boolean
    },
    closeSetting: {
      type: Function
    },
    setting: {
      type: Object
    }
  },
  data () {
    return {

    }
  },
  watch: {

  },
  methods: {
    clearSetting () {
      this.closeSetting()
    }
  }
}
</script>
