#autologin {
}
.autologin-page {
  padding-left: 45px;
  // background: url(~/assets/image_/login/Templat_web_blank.png) no-repeat;
}
.autologin-content {
  width: 100vw;
  text-align: center;
  color: #b1b1b1;
  height: 100vh;
  vertical-align: middle;
  display: table-cell;
  font-size: 31px;
  font-weight: bold;
}
.autologin-content i {
  font-size: 3em;
}
.autologin-content .detail {
  font-size: 20px;
  font-weight: normal;
  color: #bfbfbf;
  padding: 20px 10px;
  font-style: italic;
}