<template>
  <div class="dashboard-config">
    <div class="header-icon">
      <div class="dropdown pull-right">
        <div class="dropdown-icon dropdown-toggle" data-toggle="dropdown" @click="hideSettingToggleItem()">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </div>
        <ul class="dropdown-menu">
          <div class="triangle"></div>
          <div class="dropdown-box">
            <li @click="saveSetting()">Save</li>
            <li @click="resetSetting()">Reset All Settings</li>
          </div>
        </ul>
      </div>
      <div class="dropdown pull-right">
        <div class="dropdown-icon dropdown-toggle" data-toggle="dropdown">
          <i class="material-icons" style="font-size: 18px; line-height: 22px;">dashboard</i>
        </div>
        <ul class="dropdown-menu" :class="[ dispSettingToggleItem ? 'show' : '']">
          <div class="triangle"></div> 
          <div class="dropdown-box" @click.stop="">
            <template v-for="(layout, layoutIndex) in dashLayoutCustom">
              <draggable :key="layoutIndex" v-model="dashLayoutCustom[layoutIndex]" class="clearfix" :class="[ isDrag ? 'item-group' : '']" :options="{disabled: !isDrag, group: 'dashItem2'}">
                <li v-for="(widget, widgetIndex) in layout" :key="widgetIndex" :class="[ isDrag ? 'draggable' : '']" @click="toggleCheckbox(layoutIndex, widgetIndex, widget.enabled)">
                  <div class="checkbox-group _unmargin">
                    <input class="checkbox-true" type="checkbox" :id="widget.component" :value="widget.component" v-model="widget.enabled">
                    <label class="checkbox-fake _unmargin" :for="widget.component"></label>
                    <label class="checkbox-label" style="left: 35px;" :for="widget.component">{{ widget.name }}</label>
                  </div>
                </li>
              </draggable>
            </template>
          </div>
        </ul>
      </div>
      <div class="dropdown pull-right">
        <div class="dropdown-icon dropdown-toggle" @click="toggleDrag()">
          <span v-if="isDrag" :class="[ isDrag ? '_text-blue' : '']">Dragging</span>
          <i class="fa fa-arrows" :class="[ isDrag ? '_text-blue' : '']"></i> 
        </div>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import draggable from 'vuedraggable'

export default {
  name: 'dash-setting',
  props: {
    hideSettingToggleItem: {
      type: Function
    },
    saveSetting: {
      type: Function
    },
    resetSetting: {
      type: Function
    },
    toggleSettingToggleItem: {
      type: Function
    },
    dispSettingToggleItem: {
      type: Boolean
    },
    dashLayoutCustom: {
      type: Object
    },
    isDrag: {
      type: Boolean
    },
    toggleDrag: {
      type: Function
    }
  },
  methods: {
    toggleCheckbox (layoutIndex, widgetIndex, flg) {
      this.dashLayoutCustom[layoutIndex][widgetIndex]['enabled'] = !flg
    }
  },
  components: {
    draggable
  }
}
</script>