<template>
  <div id="page-item">
    <dash-today-task  v-if="item.component === 'todayTask' && item.enabled"
                      :hideWidget="hideWidget"/>
    <dash-annoucement v-if="item.component === 'annoucement' && item.enabled"
                      :hideWidget="hideWidget"/>
    <dash-overview  v-if="item.component === 'overview' && item.enabled"
                    :hideWidget="hideWidget"/>
    <dash-meeting-room v-if="item.component === 'meetingRoom' && item.enabled"
                  :hideWidget="hideWidget"/>
    <dash-weekly-report v-if="item.component === 'weeklyReport' && item.enabled"
                  :hideWidget="hideWidget"/>
    <dash-news v-if="item.component === 'news' && item.enabled"
                  :hideWidget="hideWidget"/>
    <dash-poll  v-if="item.component === 'poll' && item.enabled"
                :hideWidget="hideWidget"/>
  </div>
</template>

<script>
import dashTodayTask from './todayTask/index'
import dashAnnoucement from './annoucement/index'
import dashOverview from './overview/index'
import dashPoll from './poll/index'
import dashMeetingRoom from './meetingRoom/index'
import dashWeeklyReport from './weeklyReport/index'
import dashNews from './news/index'

export default {
  name: 'dash-item',
  props: {
    item: {
      type: Object,
      required: true
    },
    hideWidget: {
      type: Function
    }
  },
  components: {
    dashTodayTask,
    dashAnnoucement,
    dashOverview,
    dashPoll,
    dashMeetingRoom,
    dashWeeklyReport,
    dashNews
  }
}
</script>