<template>
  <div id="dash-annoucement" class="dash-item dashboard-annoucement">
    <div class="card-box card-type2">
	    <div class="header">Annoucement</div>
	    <div class="header-icon">
	      <div class="dropdown pull-right">
	        <div class="dropdown-icon dropdown-toggle" data-toggle="dropdown">
	        	<i class="fa fa-cog" aria-hidden="true"></i>
	          <span class="caret"></span>
	        </div>
	        <ul class="dropdown-menu">
	          <div class="triangle"></div>
	          <div class="dropdown-box">
	            <li @click="hideWidget(widgetName)">hide widget</li>
	          </div>
	        </ul>
	      </div>
	    </div>
	    <div class="content-list">
        <template v-if="typeof annoucements.rows !== 'undefined'">
          <div class="content-set-wrapper" v-for="(annoucement, index) in annoucements.rows" :key="index">
            <div class="content-set">
              <div class="topic-box">
                <div class="topic-icon">
                  <img class="user-img" :src="require('@/assets/image/ex-profileimg.png')">
                </div>
                <div class="topic-text">
                  <div class="company-name">{{ annoucement.company }}</div>
                  <div class="topic _text-blue">{{ annoucement.title }}</div>
                </div>      
                <div class="topic-time">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span>{{ annoucement.time }}</span>
                </div>
              </div>
              <div class="detail-box">
                <div class="detail">
                	{{ annoucement.description }}
                </div>
                <div class="detail-icon" v-if="annoucement.attachfile">
                  <a class="fa fa-paperclip" :href="annoucement.attachfile" download @click.stop></a>
                </div>
              </div>
            </div>
          </div>
        </template>
	    </div>
	  </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as types from '../../store/mutation-types'

export default {
  name: 'dash-annoucement',
  data () {
    return {
      widgetName: 'annoucement'
    }
  },
  props: {
    hideWidget: {
      type: Function
    }
  },
  created () {
    this.receivedAnnoucement()
  },
  computed: {
    ...mapGetters({
      annoucements: types.GET_ANNOUCEMENT
    })
  },
  methods: {
    ...mapActions({
      receivedAnnoucement: types.RECEIVED_ANNOUCEMENT
    })
  }
}
</script>