<template>
  <div id="hrpm4ce"  class="hrpm4ce">
    <hcm-setting-page :newEvent="refreshPage"/>
Hello World 2
    <hrms-search-box-table v-show="indexDisp"
                            v-model="searchIndex"
                            :data="index"
                            :nowLang="app.nowLang"
                            :columns="columns[app.nowLang].index"
                            :unLoadBool="true"
                            :receivedStore="receivedHrpm4ceIndex"
                            :editEvent="editEvent"
                            :headerLabels="labels[app.nowLang]"
                            :headerData="searchIndex"
                            :headerComponent="headerComponent"
                            :headerDisp="true"
                            searchBoxAlias="hrpm4ce"  />

    <detail v-show="detailDisp"
            :toggle="toggle"
            :nowLang="app.nowLang"
            :searchIndex="searchIndex"
            :indexSelected="indexSelected"
            :labels="labels[app.nowLang]"
            :eventBtn="eventBtn"
            :detail="detail"
            :columns="columns[app.nowLang]"
            :labelsButton="app.button[app.nowLang]"
            :receivedHrpm4ceDetail="receivedHrpm4ceDetail"
            :saveDetail="saveDetail"
            :detailDisabled="detailDisabled"
            @setDetailDisabled="detailDisabled = arguments[0]"
            :popupSelected="popupSelected"
            :setCreateTablePopupSelected="setCreateTablePopupSelected"
            :detailOtherDataPopup="detailOtherDataPopup"
            :detailOtherDataPopupColumns="columns[app.nowLang].detailOtherData" 
            :detailCreateTablePopup="detailCreateTablePopup"
            :detailCreateTablePopupColumns="columns[app.nowLang].detailCreateTable"
            :saveHrpm4ceCreateTablePopup="saveHrpm4ceCreateTablePopup"
            :setCreateTablePopupDisp="setCreateTablePopupDisp"
            :detailCreateTablePopupDisp="detailCreateTablePopupDisp"
            :receivedHrpm4ceOtherDataPopup="receivedHrpm4ceOtherDataPopup" 
            :receivedHrpm4ceCreateTablePopup="receivedHrpm4ceCreateTablePopup" />
  </div>

</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import * as types from './store/mutation-types'
import detail from './components/detail'
import indexHead from './components/indexHead'

export default {
  name: 'hrpm4ce',
  data () {
    return {
      app: this.$root.$children[0],
      searchIndex: {
        codempid: '',
        desc_codempid: '',
        codcomp: '',
        codpos: ''
      },
      headerComponent: indexHead,
      eventBtn: '',
      detailDisabled: false
    }
  },
  created () {
    this.receivedHrpm4ceColumnsLabels()
    this.receivedHrpm4ceIndex()
  },
  computed: {
    codempid () {
      let currentUser = this.app.currentUser
      return currentUser.p_codempid
    },
    ...mapGetters({
      indexDisp: types.GET_HRPM4CE_INDEX_DISP,
      indexHeadDisp: types.GET_HRPM4CE_INDEX_HEAD_DISP,
      detailCreateTablePopupDisp: types.GET_HRPM4CE_CREATE_TABLE_POPUP_DISP,
      detailDisp: types.GET_HRPM4CE_DETAIL_DISP,
      labels: types.GET_HRPM4CE_LABELS,
      index: types.GET_HRPM4CE_INDEX,
      indexHead: types.GET_HRPM4CE_INDEX_HEAD,
      columns: types.GET_HRPM4CE_COLUMNS,
      indexSelected: types.GET_HRPM4CE_INDEX_SELECTED,
      popupSelected: types.GET_HRPM4CE_POPUP_SELECTED,
      detail: types.GET_HRPM4CE_DETAIL,
      detailOtherDataPopup: types.GET_HRPM4CE_OTHER_DATA_POPUP,
      detailCreateTablePopup: types.GET_HRPM4CE_CREATE_TABLE_POPUP
    })
  },
  methods: {
    refreshPage () {
      this.$refs.indexSearch.callNew()
    },
    pageDetail (event, dataRow) {
      this.eventBtn = event
      switch (event) {
        case 'edit':
          this.detailDisabled = false
          this.receivedHrpm4ceDetail(dataRow)
          this.setIndexSelected(dataRow)
          this.toggle('detail')
          break
      }
    },
    editEvent (param) {
      this.pageDetail('edit', param)
    },
    callSave (dataRowsHasFlg) {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.deleteHrpm4ceIndex({ searchIndex: this.searchIndex, dataRowsHasFlg: dataRowsHasFlg })
        }
      })
    },
    ...mapMutations({
      setIndexSelected: types.SET_HRPM4CE_INDEX_SELECTED,
      setCreateTablePopupSelected: types.SET_HRPM4CE_CREATE_TABLE_POPUP_SELECTED,
      setCreateTablePopupDisp: types.SET_HRPM4CE_CREATE_TABLE_POPUP_DISP
    }),
    ...mapActions({
      toggle: types.TOGGLE_HRPM4CE_PAGE,
      receivedHrpm4ceColumnsLabels: types.RECEIVED_HRPM4CE_COLUMNS_LABELS,
      receivedHrpm4ceIndex: types.RECEIVED_HRPM4CE_INDEX,
      receivedHrpm4ceIndexHead: types.RECEIVED_HRPM4CE_INDEX_HEAD,
      receivedHrpm4ceDetailCreate: types.RECEIVED_HRPM4CE_DETAIL_CREATE,
      receivedHrpm4ceDetail: types.RECEIVED_HRPM4CE_DETAIL,
      receivedHrpm4ceOtherDataPopup: types.RECEIVED_HRPM4CE_OTHER_DATA_POPUP,
      receivedHrpm4ceCreateTablePopup: types.RECEIVED_HRPM4CE_CREATE_TABLE_POPUP,
      saveDetail: types.SAVE_HRPM4CE_DETAIL,
      saveHrpm4ceCreateTablePopup: types.SAVE_HRPM4CE_CREATE_TABLE_POPUP,
      deleteHrpm4ceIndex: types.DELETE_HRPM4CE_INDEX
    })
  },
  components: {
    detail
  }
}
</script>

<style src="./assets/style.scss" lang='scss'></style>

