<template>
  <div name="hcm-hral5ou" class="hcm-hral5ou">
    <div class="row">
      <div class="col-md-12">
        <div class="head-label">สถานะข้อมูล</div>
        <div class="radio-group">
          <input class="radio-true" type="radio" v-model="inputValue.status" value="1" id="resign">
          <label class="radio-fake _unmargin" for="resign"></label>
          <label class="radio-label" style="left :40px" for="resign">เฉพาะพนักงานที่ลาออกระหว่างวันที่</label>
        </div>

        <div class="input-group _twin-group">
          <!-- <div class="label">ระหว่างวันที่</div> -->
            <hrms-datepicker  class="_twin"
                              :disabled="inputValue.status !== '1'"
                              v-model="inputValue.data.dtestrt"
                              v-validate="'required|date_format:DD/MM/YYYY'"
                              data-vv-value-path="inputDate"
                              data-vv-name="hcm-hral5ou-dtestrt"
                              data-vv-as="Start Date"
                              name="hcm-hral5ou-dtestrt" />
            
            <div class="slash">-</div>

            <hrms-datepicker  class="_twin"
                              :disabled="inputValue.status !== '1'"
                              v-model="inputValue.data.dteend"
                              v-validate="'required|date_format:DD/MM/YYYY|after:hcm-hral5ou-dtestrt'"
                              data-vv-value-path="inputDate"
                              data-vv-name="hcm-hral5ou-dteend"
                              data-vv-as="End Date"
                              name="hcm-hral5ou-dteend" />

            <span v-show="errors.has('hcm-hral5ou-dteend')" class="validator-text _text-red">{{ errors.first('hcm-hral5ou-dteend') }}</span>
        </div> 

        <div class="radio-group">
          <input class="radio-true" type="radio" v-model="inputValue.status" value="2" id="all" />
          <label class="radio-fake _unmargin" for="all"></label>
          <label class="radio-label" style="left :40px" for="all">สำหรับทุกคน</label>
        </div>
        <div class="input-group _unmargin">
          <hrms-dropdown-year :disabled="inputValue.status !== '2'"
                  v-model="inputValue.data.year" 
                  :nowLang="nowLang" />
        </div>

        <div class="radio-group" style="margin: 25px 0 15px 0;">
          <input class="radio-true" type="radio" v-model="inputValue.status" value="3" id="request" />
          <label class="radio-fake _unmargin" for="request"></label>
          <label class="radio-label" style="left :40px" for="request">พนักงานขอ Request ที่ ESS</label>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import assetsLabels from 'assets/js/labels'

export default {
  name: 'hcm-hral5ou',
  data () {
    return {
      inputValue: {
        status: this.value.status,
        data: this.value.data
      }
    }
  },
  watch: {
    value () {
      this.inputValue.status = this.value.status
      this.inputValue.data = this.value.data
    },
    'inputValue.status' (newVal) {
      this.$emit('input', this.inputValue)
    },
    'inputValue.data' () {
      this.$emit('input', this.inputValue)
    }
  },
  props: {
    value: {
      type: Object,
      required: true
    },
    nowLang: {
      type: String,
      default: assetsLabels.defaultLang
    }
  }
}
</script>

<style src="./assets/style.scss" lang='scss'></style>