<template>
 <div class="body-wrapper">
    <div class="row">
      <div class="col-md-3 group-space-sm">
        <div class="input-group">
          <div class="label">{{ labels['HRPM1EEC2']['10'] }}</div>
          
            <hcm-lov   v-model="params.codasset"
                      :nowLang="nowLang"
                      lovType="codasset"
                      :descDisp="false"
                      v-validate="'required'"
                      data-vv-value-path="inputValue"
                      data-vv-as="codasset"
                      data-vv-name="codasset"
                      name="codasset"
                      :disabled="!detailDisabled"  />
          
          <div class="validator-text -error" v-show="errors.has('codasset')" >{{errors.first('codasset')}}</div>
        </div>
      </div>
      <div class="col-md-3" style="margin-top: 35px;">
        <div v-if="!detailDisabled" type="button" class="button-md -disable _bg-blue-disable" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>  
        <div v-if="detailDisabled" type="button" class="button-md _bg-blue" @click="callSearch()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>  
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 group-space-lg">
        <div class="input-group">
          <div class="label">{{ labels['HRPM1EEC2']['20'] }}</div>
            <hrms-dropzone  :fileNameQuery="params.imgfile"
                            :imgNameFile="paramSearch.imgfile"
                            :name="'detail'"
                            :flgToggle="imgDisp"
                            ref="hrmsDropzone"
                            :disabled="detailDisabled" />
        </div>
        <div class="input-group">
          <div class="label">{{ labels['HRPM1EEC2']['30'] }}</div>
          <input class="normal-input" type="text" name="input" v-model="params.desasse" :disabled="detailDisabled">
        </div>
        <div class="input-group">
          <div class="label">{{ labels['HRPM1EEC2']['40'] }}</div>
            <hrms-datepicker  v-model="params.dterec"
                              v-validate="'required|date_format:DD/MM/YYYY'"
                              data-vv-value-path="inputDate"
                              data-vv-name="dterec"
                              data-vv-as="Birth Date"
                              name="dterec"
                              :disabled="detailDisabled" />
        </div>
         <div class="input-group">
            <div class="label">{{ labels['HRPM1EEC2']['50'] }}</div>
             <textarea class="normal-textarea" type="textarea" name="input" v-model="params.desnote" :disabled="detailDisabled"></textarea>
        </div> 
      </div>
      <div class="col-md-6 group-space-lg">
        <div class="input-group">
          <div class="label">{{ labels['HRPM1EEC2']['60'] }}</div>
             <textarea class="normal-textarea" type="textarea" name="input" v-model="params.srcasset" :disabled="detailDisabled"></textarea>
        </div>
        <div class="input-group">
          <div class="label">{{ labels['HRPM1EEC2']['70'] }}</div>
            <hcm-lov v-model="params.typasset"
                    :nowLang="nowLang"
                    lovType="codasset"
                    v-validate="'required'"
                    :descDisp="false"
                    data-vv-value-path="inputValue"
                    data-vv-as="codasset1"
                    data-vv-name="codasset1"
                    name="codasset1"
                    :disabled="detailDisabled"  />
        </div>
        <div class="input-group">
          <div class="label">{{ labels['HRPM1EEC2']['80'] }}</div>
            <div class="row">
              <div class="radio-group col-md-6">
                <input class="radio-true" type="radio" id="status1" name="status1" v-model="params.status" value="1" :disabled="detailDisabled"/>
                <label class="radio-fake" for="status1" ></label>
                <label class="radio-label" for="status1">{{ labels['HRPM1EEC2']['81'] }}</label>
              </div>
              <div class="radio-group col-md-6">
                <input class="radio-true"  type="radio" id="status2" name="status2" v-model="params.status" value="2":disabled="detailDisabled" />
                <label class="radio-fake" for="status2"></label>
                <label class="radio-label" for="status2">{{ labels['HRPM1EEC2']['82'] }}</label>
              </div>
            </div> 
        </div>
        <div class="input-group">
          <div class="label">{{ labels['HRPM1EEC2']['90'] }}</div>
          <input class="normal-input" type="text" name="input" v-model="params.takeby" :disabled="detailDisabled">
        </div>
        <div class="input-group">
          <div class="label">{{ labels['HRPM1EEC2']['100'] }}</div>
            <hrms-datepicker  v-model="params.dtetake"
                              v-validate="'required|date_format:DD/MM/YYYY'"
                              data-vv-value-path="inputDate"
                              data-vv-name="dtetake"
                              data-vv-as="Birth Date"
                              name="dtetake"
                              :disabled="detailDisabled" />
        </div>
      </div>
    </div>


    <div class="row" style="padding-top:20px;"> 
      <div class="group-space-sm">   
        <button type="button" class="button-md _bg-grey" @click="toggle('index')" value="Back"><i class="fa fa-chevron-circle-left"></i>{{ labelsButton['back'] }}</button>   
        <div type="button" class="button-md _bg-blue"  @click="saveDetail(saveParams())" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hral22e-detail',
  data () {
    return {
      params: {
        codasset: '',
        imgfile: '',
        desasse: '',
        dterec: '',
        desnote: '',
        srcasset: '',
        typasset: '',
        status: '',
        dtetake: '',
        takeby: ''
      },
      paramSearch: {
        imgfile: ''
      },
      imgDisp: true
    }
  },
  watch: {
    detail () {
      if (this.eventBtn === 'add') {
        this.params.codasset = this.detail.codasset
        this.params.desasse = this.detail.desasse
        this.params.dterec = this.detail.dterec
        this.params.typasset = this.detail.typasset
        this.params.status = this.detail.status
        this.params.takeby = this.detail.takeby
        this.params.dtetake = this.detail.dtetake
      } else if (this.eventBtn === 'edit') {
        this.params.codasset = this.indexSelected.codasset
        this.params.desasse = this.indexSelected.desasse
        this.params.dterec = this.indexSelected.dterec
        this.params.typasset = this.indexSelected.desctypass
        this.params.status = this.indexSelected.status
      }
      this.params.imgfile = this.detail.imgfile
      this.params.desnote = this.detail.desnote
      this.params.srcasset = this.detail.srcasset
      this.params.takeby = this.detail.takeby
      this.params.dtetake = this.detail.dtetake
    }
  },
  methods: {
    saveParams () {
      return {
        indexSelected: this.indexSelected,
        detail: this.detail
      }
    },
    callSearch () {
      if (this.params.codasset !== '') {
        let detailParams = {
          p_imgfile: this.params.imgfile,
          p_desasse: this.params.desasse,
          p_dterec: this.params.dterec,
          p_desnote: this.params.desnote,
          p_srcasset: this.params.srcasset,
          p_typasset: this.params.typasset,
          p_status: this.params.status,
          p_dtetake: this.params.dtetake,
          p_takeby: this.params.takeby
        }
        this.$validator.validateAll().then(result => {
          if (result) {
            this.$emit('setDetailDisabled', false)
          }
        })
        this.receivedHrpm1eeDetail(detailParams)
        this.$emit('setDetailDisabled', false)
      }
    }
  },
  props: [ 'labels',
    'labelsButton',
    'detail',
    'toggle',
    'nowLang',
    'searchIndex',
    'indexSelected',
    'saveDetail',
    'detailDisabled',
    'eventBtn',
    'receivedHrpm1eeDetail'
  ]
}
</script>
