<template>
 <div>
    <!-- <div class="row">
      <div class="col-md-3 group-space-sm">
        <div class="input-group">
            {{indexHead.desc_codempid}}
            <div class="label">{{ labels['HRPMB2E1']['10'] }} : {{searchIndex.codempid}}</div>
        </div>
      </div>
      <div class="col-md-3 group-space-sm">
        <div class="input-group">
          <div class="label">{{ labels['HRPMB2E1']['20'] }} : {{searchIndex.yearstrt}}</div>
        </div>
        <div class="input-group">
          <div class="label">{{ labels['HRPMB2E1']['30'] }} : {{searchIndex.yearend}}</div>
        </div>
      </div>
    </div> -->
</div>

</template>

<script>
export default {
  name: 'hrpm1ee-index-head',
  props: [ 'labels',
    'labelsButton',
    'indexHead',
    'nowLang',
    'searchIndex'
  ]
}
</script>

