<template>
  <div class="addlist-wrapper">
    <div class="triangle"></div>
    <div class="addlist-body">
      <div class="input-group -contact-input">
        <span class="search-icon -contact-input-icon ion-android-search" aria-hidden="true"></span>
        <input class="search-input" type="text" name="input" placeholder="Enter Name, Employee id" @keyPress="filterContact()">
        <div class="validator-text"></div>
      </div>
      <div class="contact-set" v-for="(contact, index) in allContactCustom" :key="index" @click="selectContact(index)">
        <div class="img-panel">
          <img class="emp-img" :src="require('@/assets/image/contact-list/emp_img' + (parseInt(index) + 1) + '.jpg')">
          <div class="status-circle" v-if="contact.flgPresent === 'Y'"></div>
        </div>
        <div class="detail-panel">
          <div class="contact-name">{{ contact.name }}</div>
          <div class="contact-position">{{ contact.position }}</div>
        </div>
        <div class="contact-checked" v-if="contact.selected">
          <i class="ion-ios-checkmark-empty" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  name: 'dash-contact-add',
  data () {
    return {
      allContactCustom: {}
    }
  },
  props: {
    receivedAllContact: {
      type: Function
    },
    allContacts: {
      type: Object
    }
  },
  created () {
    this.receivedAllContact()
  },
  watch: {
    allContacts () {
      let _this = this
      this.allContactCustom = Object.assign({}, this.allContacts.rows)
      _.each(this.allContactCustom, function (contact, index) {
        _this.allContactCustom[index].selected = false
      })
    }
  },
  methods: {
    selectContact (contactIndexSelected) {
      let _this = this
      _.each(this.allContactCustom, function (contact, index) {
        if (index === contactIndexSelected) {
          _this.allContactCustom[index].selected = true
        }
      })
    }
  }
}
</script>