<template>
  <div name="dash-contact-popup" class="dash-contact-popup">
    <div class="modal-body">
      <div class="contact-panel">
        <div class="contact-img">
          <template v-if="typeof detail.image !== 'undefined'">
            <img class="img" :src="require('@/assets/image/contact-list/emp_img' + detail.image)">
          </template>
          <template v-else>
            <img class="img" :src="require('@/assets/image/ex-photo.png')">
          </template>
        </div>
        <div class="contact-name">{{ detail.name }}</div>
        <div class="contact-department">{{ detail.department }}</div>
        <div class="contact-position">{{ detail.position }}</div>
        <div class="contact-control-group">
          <div class="control-item">
            <a :href="'tel:' + detail.mobile" v-if="Object(detail.email).length > 1">
              <i class="fa fa-phone _bg-green"></i>
            </a>
            <i class="fa fa-phone _bg-grey-disable _disabled" v-if="Object(detail.email).length == 1"></i>
            <div class="control-text">Call</div>
          </div>
          <div class="control-item">
            <a :href="'mailto:' + detail.email" v-if="Object(detail.email).length > 1">
              <i class="fa fa-envelope _bg-blue"></i>
            </a>
            <i class="fa fa-envelope _bg-grey-disable _disabled" v-if="Object(detail.email).length == 1"></i>
            <div class="control-text">E-Mail</div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <div class="footer-item -phone">
        <i class="fa fa-phone"></i> <div class="footer-text">{{ detail.phone }}</div>
      </div>
      <div class="footer-item -mobile">
        <i class="fa fa-mobile"></i> <div class="footer-text">{{ detail.mobile }}</div>
      </div>
      <div class="footer-item -email">
        <i class="fa fa-envelope"></i> <div class="footer-text">{{ detail.email }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'dash-contact-popup',
  props: [ 'nowLang', 'labelsButton', 'detail' ]
}
</script>