<template>
  <div class="dashboard-contact" :class="[ addDisp ? '-bg-addlist' : '' ]">
    <div class="dash-contact">
      <div class="header clearfix">
        <div class="title">Contact</div>
        <i class="icon ion-android-add" :class="[ addDisp ? '_text-blue' : '']" @click="addContact()"></i>
      </div>
      <div class="body">
        <add-contact v-show="addDisp"
                     :receivedAllContact="receivedAllContact"
                     :allContacts="allContacts" />
        <list-contact v-show="!addDisp" :contacts="contacts" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as types from '../../store/mutation-types'
import addContact from './addContact'
import listContact from './listContact'

export default {
  name: 'dash-contact',
  data () {
    return {
      addDisp: false
    }
  },
  created () {
    this.receivedContact()
  },
  computed: {
    ...mapGetters({
      allContacts: types.GET_ALL_CONTACT,
      contacts: types.GET_CONTACT
    })
  },
  methods: {
    addContact () {
      this.addDisp = !this.addDisp
    },
    ...mapActions({
      receivedAllContact: types.RECEIVED_ALL_CONTACT,
      receivedContact: types.RECEIVED_CONTACT
    })
  },
  components: {
    addContact,
    listContact
  }
}
</script>