<template>
  <div class="collapse-group list-body">
    <div class="panel-group" id="accordion-contact">
      <template v-if="typeof contacts.rows !== 'undefined'">
        <div class="panel" v-for="(contactGroup, contactGroupIndex) in contacts.rows" :key="contactGroupIndex">
          <div class="panel-heading-contact -collapsed-custom" 
               :class="[ contactGroup.name === 'Subordinate' ? '' : 'collapsed' ]"
               data-toggle="collapse" :data-parent="'#accordion-contact-' + contactGroupIndex" 
               :href="'#collapse-contact-' + contactGroupIndex">
            <div class="title">
              <i class="icon" :class="[ contactGroup.name === 'People' ? 'ion-person left-icon' : 'ion-ios-people left-icon-group' ]" aria-hidden="true"></i>
              <span class="contact-group">{{ contactGroup.name }}</span>
              <span class="contact-number">({{ contactGroup.total }})</span>
            </div>
            <i class="fa fa-angle-down down right-icon" aria-hidden="true"></i>
            <i class="fa fa-angle-up up right-icon" aria-hidden="true"></i>
          </div>
          <div :id="'collapse-contact-' + contactGroupIndex" class="panel-collapse collapse" :class="[ contactGroup.name === 'Subordinate' ? 'show' : '' ]">
            <div class="panel-body-contact">
              <template v-if="typeof contactGroup.rows !== 'undefined'">
                <div class="contact-set" v-for="(contact, index) in contactGroup.rows" :key2="index" @click="showContactDetail(contact)">
                  <div class="img-panel">
                    <img class="emp-img" :src="require('@/assets/image/contact-list/emp_img' + (index + 1) + '.jpg')">
                    <div class="status-circle" v-if="contact.flgPresent === 'Y'"></div>
                  </div>
                  <div class="detail-panel">
                    <div class="contact-name">{{ contact.name }}</div>
                    <div class="contact-position">{{ contact.position }}</div>
                  </div>
                  <div class="contact-del" v-if="contactGroup.name !== 'Subordinate'">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>

        <transition name="modal">
          <div v-show="showModal" class="modal-mask">
            <div class="modal-wrapper">
              <div class="modal-container _unpadding">

                <div class="modal-header">
                  <slot name="header">
                    <div class="modal-title"><i class="icon ion-person _text-blue"></i> Contact Detail</div>
                    <div class="ion-android-close close" @click.prevent="closeModal()" ref="closeBtn"></div>
                  </slot>
                </div>

                <div class="modal-body">
                  <slot name="body">
                      <contact-popup  :nowLang="app.nowLang"
                                      :labelsButton="app.button[app.nowLang]"
                                      :detail="contactPopupDetail" />
                  </slot>
                </div>
              </div>
            </div>
          </div>
        </transition>
        <input type="hidden" data-toggle="modal" data-target="#dash-contact-popup" ref="popupContactBtn" />
      </template>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import * as templateTypes from '../../../template/store/mutation-types'
import contactPopup from './contactPopup'

export default {
  name: 'dash-contact-list',
  props: {
    contacts: {
      type: Object
    }
  },
  data () {
    return {
      app: this.$root.$children[0],
      contactPopupDetail: {},
      showModal: false
    }
  },
  methods: {
    showContactDetail (contact) {
      this.contactPopupDetail = contact
      this.showModal = true
      this.setModalDisp(true)
    },
    closeModal () {
      this.showModal = false
      this.setModalDisp(false)
    },
    ...mapMutations({
      setModalDisp: templateTypes.SET_MODAL_DISP
    })
  },
  components: {
    contactPopup
  }
}
</script>