<template>
  <div class="dash-item dashboard-banner dash-weekly-report">
    <div class="card-box _bg-blue">
      <div class="content-banner row">
        <div class="banner-header-icon">
          <div class="dropdown pull-right">
            <div class="dropdown-icon dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-cog" aria-hidden="true"></i>
              <span class="caret"></span>
            </div>
            <ul class="dropdown-menu">
              <div class="triangle"></div>
              <div class="dropdown-box">
                <li @click="hideWidget(widgetName)">hide widget</li>
              </div>
            </ul>
          </div>
          <div class="dropdown pull-right">
            <div class="dropdown-icon dropdown-toggle">
              <i class="ion-plus"></i>
            </div>
          </div>
        </div>
        <div class="_left">
          <img class="img" :src="require('@/assets/image/dashboard/weekly_icon.png')">
        </div>
        <div class="_right">
          <div class="header">{{ weeklyReport.title }}</div>
          <div class="detail">{{ weeklyReport.detail }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as types from '../../store/mutation-types'

export default {
  name: 'dash-weekly-report',
  data () {
    return {
      widgetName: 'weeklyReport'
    }
  },
  props: {
    hideWidget: {
      type: Function
    }
  },
  created () {
    this.receivedWeeklyReport()
  },
  computed: {
    ...mapGetters({
      weeklyReport: types.GET_WEEKLY_REPORT
    })
  },
  methods: {
    ...mapActions({
      receivedWeeklyReport: types.RECEIVED_WEEKLY_REPORT
    })
  }
}
</script>