<template>
  <div id="hrpm15e-detail">
    <div class="row">
      <div class="panel-left group-space-sm">
        <div class="group-topic -custom-padding">{{ labels['HRPM15EC2']['10'] }}</div>
        <div class="panel-body">
          <div class="col-xs-12" style="margin-bottom: 5px;">
            <label for="groupid">{{ labels['HRPM15EC2']['20'] }}</label>
            <hcm-lov  v-model="indexSelected.groupid"
                      lovType="codcalen"
                      :disabled="false"
                      :nowLang="nowLang"
                      name="groupid"
                      :descDisp="false" />
            <div class="validator-text"></div>
          </div>

          <div class="col-xs-12" style="margin-bottom: 5px;">
            <hrms-logical-statement :listFields="listFields"
                                    :nowLang="nowLang"
                                    name="syncond"
                                    v-model="indexSelected.syncond" />
            <div class="validator-text"></div>
          </div>
        </div>
      </div>
  
      <div class="panel-right group-space-sm ">
        <div class="group-topic -custom-padding">{{ labels['HRPM15EC3']['10'] }}</div>
        <div class="dragdrop-body">
          <draggable class="draggable clearfix" v-model="typgrpidsTag" :options="{draggable:'.dragTag', group: 'typgrpid'}">
            <div v-for="eleTag in typgrpidsTag" :key="eleTag.numseq" @click="closekTag(eleTag)" :class="'dragTag ' + colorClass[eleTag.typgrpid]">
              <div class="tag-label">{{ eleTag.name }}</div>
            </div>
          </draggable>
          <draggable class="draggable clearfix" v-model="typgrpids" :options="{draggable:'.dragCard', group: 'typgrpid'}">
            <div v-for="element in typgrpids" :key="element.numseq" class="dragCard">
              <div class="item">
                <div class="header">
                  <div class="close-icon">
                    <i class="icon ion-android-close" v-if="element.typgrpid !== 'RN'" @click="closeCard(element)"></i>
                  </div>
                  <div :class="'circle-box ' + colorClass[element.typgrpid]">
                    <div class="header-label">
                      <label>{{element.name}}</label>
                    </div>
                  </div>
                </div>

                <div class="input-group -forcard">
                  <div class="label"><label :for="'typgrpid-' + element.typgrpid">{{ element.desc }}</label></div>
                  <div v-if="element.type === 'text' && element.typgrpid === 'RN'">
                    <div class="input-group _unmargin">
                      <input class="unit-input" type="number" min="1" max="6" @change="onGenlastid(element.typeval)" style="min-width: 40px;" v-model="element.typeval">
                      <div class="unit" style="font-size: 12px; padding: 0 5px;">{{ labels['HRPM15EC1']['50'] }}</div>
                      <input type="text" class="normal-input" @change="onGenlastid(element.typeval)" v-model="lastIdVal" :disabled="element.disabled">
                    </div>
                  </div>
                  <input v-if="element.type === 'text' && element.typgrpid !== 'RN'" type="text" class="normal-input" v-model="element.value" :disabled="element.disabled" @keyup="element.value = element.value.toUpperCase()">
                  <input v-if="element.type === 'number' && element.typgrpid !== 'RN'" type="number" class="normal-input" v-model="element.value" :disabled="element.disabled">
                  <div class="validator-text"></div>
                </div>
              </div>
            </div>
          </draggable>

        </div>
        <div class="codeemp-ex">
          <div class="label-ex">
            <div class="icon-user-box">
              <i class="icon ion-person"></i>
            </div>
            <div class="genlabel">{{ labels['HRPM15EC3']['70'] }}</div class="genlabel">
            <input class="gencode" type="text" disabled="disabled" :value="genLastId" >
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="footer-group" >
        <div class="button-md _bg-grey"  @click="toggleBack()" value="Back"><i class="fa fa-times-circle"></i> {{ labelBtnCancel }}</div>
        <div class="button-md _bg-green"  @click="callSave()" value="Back"><i class="fa fa-check-circle"></i> {{ labelBtnSave }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { constLabels } from 'assets/js/constLabels'
import draggable from 'vuedraggable'

export default {
  name: 'hrpm15e-detail',
  data () {
    return {
      labelBtnCancel: constLabels('cancel'),
      labelBtnSave: constLabels('save'),
      typgrpidsTag: [],
      typgrpids: [],
      lastIdVal: 0
    }
  },
  computed: {
    genLastId () {
      let strComputed = this.typgrpids.filter((typgrpid) => {
        return true
      }).map((typgrpid) => {
        if (typgrpid.typgrpid === 'RN') return this.lastIdVal
        return typgrpid.value
      })
      return strComputed.join('')
    }
  },
  watch: {
    'indexSelected' () {
      let typgrpidsDefaultSet = Object.assign([], this.typgrpidsDefault)
      this.typgrpidsTag = []
      if (typeof this.indexSelected !== 'undefined' && this.indexSelected.typgrpids) {
        let typgrpids = []
        for (let typgrpidKey in typgrpidsDefaultSet) {
          let key = this.indexSelected.typgrpids.findIndex(i => i.typgrpid === typgrpidsDefaultSet[typgrpidKey].typgrpid)
          if (key > -1) {
            let objTmp = Object.assign({}, typgrpidsDefaultSet[typgrpidKey])
            typgrpids.push(objTmp)
            let keyVal = typgrpids.length - 1
            typgrpids[keyVal].numseq = this.indexSelected.typgrpids[key].numseq
            typgrpids[keyVal].typeval = this.indexSelected.typgrpids[key].typeval
            typgrpids[keyVal].value = this.indexSelected.typgrpids[key].value
            if (typgrpids[keyVal].typgrpid === 'RN') this.lastIdVal = typgrpids[keyVal].value
          } else {
            this.typgrpidsTag.push(typgrpidsDefaultSet[typgrpidKey])
          }
        }
        this.typgrpids = typgrpids
      } else {
        this.typgrpids = typgrpidsDefaultSet
      }
      this.typgrpids.sort((a, b) => {
        return a.numseq - b.numseq
      })
    },
    typgrpidsTag () {
      this.typgrpidsTag.filter((row) => {
        return row.typgrpid === 'RN'
      }).map((row) => {
        this.closekTag(row)
      })
    },
    typgrpids () {
      this.typgrpids.filter((row) => {
        if (row.typgrpid === 'RN') {
          this.onGenlastid(row.typeval)
        }
      })
    }
  },
  methods: {
    callSave () {
      this.typgrpids.filter((row) => {
        if (row.typgrpid === 'RN') {
          row.value = parseInt(this.lastIdVal)
        }
      })
      this.$validator.validateAll().then(result => {
        if (result) {
          let saveParam = this.indexSelected
          saveParam.typgrpids = this.typgrpids
          this.postHrpm15eSave({
            searchIndex: this.searchIndex,
            detail: saveParam
          })
        }
      })
    },
    closeCard (param) {
      if (param.typgrpid === 'RN') return false
      let key = this.typgrpids.findIndex(i => i.typgrpid === param.typgrpid)
      this.typgrpidsTag.push(param)
      this.typgrpids.splice(key, 1)
    },
    closekTag (param) {
      let key = this.typgrpidsTag.findIndex(i => i.typgrpid === param.typgrpid)
      this.typgrpids.push(param)
      this.typgrpidsTag.splice(key, 1)
    },
    toggleBack () {
      this.toggle('index')
    },
    onGenlastid (typeval) {
      if (isNaN(parseInt(this.lastIdVal))) this.lastIdVal = 1
      this.lastIdVal = this.lpad(parseInt(this.lastIdVal), typeval)
    }
  },
  components: {
    draggable
  },
  props: [ 'toggle', 'labels', 'nowLang', 'searchIndex', 'postHrpm15eSave', 'listFields', 'indexSelected', 'colorClass', 'setIndexSelected', 'typgrpidsDefault', 'lpad' ]
}
</script>
