<template>
  <div class="index-header-box">
    <div class="index-col">
      <div class="index-set">
        <div class="index-label">{{ higherOrderLabels['HRPM36XC1']['10'] }} :</div>
        <div class="index-data">{{higherOrderData.codcomp}} - People plus Co.,Ltd.</div>
      </div>
      <div class="index-set">
        <div class="index-label">{{ higherOrderLabels['HRPM36XC1']['20'] }} :</div>
        <div class="index-data">{{higherOrderData.datest}}</div>
      </div>
      <div class="index-set">
        <div class="index-label">{{ higherOrderLabels['HRPM36XC1']['30'] }} :</div>
        <div class="index-data">{{higherOrderData.dateend}}</div>
      </div>
    </div>

    <div class="index-col">
      <div class="index-set">
        <div class="index-label">{{ higherOrderLabels['HRPM36XC1']['40'] }} :</div>
        <div class="index-data">ทดลองตำแหน่ง</div>
      </div>
      <div class="index-set">
        <div class="index-label">{{ higherOrderLabels['HRPM36XC1']['50'] }} :</div>
        <div class="index-data">ยืนยันและพิมพ์จดหมาย</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hrpm36x-index-head',
  props: {
    higherOrderLabels: {
      type: Object
    },
    higherOrderEvent: {
      type: Object
    },
    higherOrderData: {
      type: Object
    }
  }
}
</script>

