.hrms-searchbox-table {
	position: relative;
  width: 100%;
  background: #FFF;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
  min-height: 800px;

  // @media (max-width: 768px) {
  //   display: block;
  // }

  .search-group-wrapper {
    width: 30%;
    position: absolute;
    height: 100%;
    z-index: 900;
    animation-name: search-resize-max;
    animation-duration: .2s;
    background: #FFF;
    box-shadow: 4px 0 4px 0 rgba(0,0,0,0.1);

    // @media (max-width: 768px) {
    //   width: 100%;
    //   float: none;
    //   display: block;
    // }
  }
  .search-group-wrapper-min {
    width: 5%;
    position: absolute;
    // z-index: 3;

  //   @media (max-width: 768px) {
  //     width: 100%;
  //     float: none;
  //     display: block;
  //   }
  }
  .toggle-wrapper {
    width: 100%;
    padding: 15px 25px; 
    color: #3887c8;
    // font-size: 18px;
    // cursor: pointer;
    border-bottom: 1px solid #EBEBEB;

    .search-ico {
    	font-size: 24px;
      float: left;
    }

    .search-label {
      float: left;
      font-size: 20px;
      font-family: 'promptmedium';
      // font-weight: 700;
      padding: 3px 0 0 20px;
      color: #252525;
    }

    .close-ico {
    	font-size: 24px;
    	cursor: pointer;
      float: right;
      color: #7D7D7D;
    }
  }
  .toggle-wrapper-min {
    width: 100%;
    padding: 15px 25px; 
    color: #3887c8;
    font-size: 18px;
    cursor: pointer;
    border-bottom: none;

    .search-ico {
    	font-size: 24px;
      float: left;
    }

    .search-label {
      float: left;
      font-size: 16px;
      font-weight: 700;
      padding: 1px 0 0 5px;
    }

    .close-ico {
    	font-size: 24px;
      float: right;
    }
  }
  .search-box-panel {
    width: 100%;
    // background: #F5F5F5;
    // box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    padding: 25px;
    min-height: 605px;
    animation-duration: .4s;

    // @media (max-width: 768px) {
    //   min-height: 0;
    //   display: block;
    // }
  }
  .table-box-wrapper {
    width: 100%;
    height: 100%;
    background: #FFF;
    // position: relative;
    padding: 50px 10px 20px 60px;
    // z-index: 2;
    top: 0;

    @media (max-width: 768px) {
      width: 100%;
      float: none;
      display: block;
    }
  }
  // .table-box-wrapper-full {
  //   width: 96.5%;
  //   background: #FFF;
  //   /*box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);*/
  //   float: left;

  //   @media (max-width: 768px) {
  //     width: 100%;
  //     float: none;
  //     display: block;
  //   }
  // }
}

@keyframes search-resize-max {
  0% {
    width: 5%;
  }
  100% {
    width: 30%;
  }
}