$theme-color : #3887c9;
$theme-color-mobile : #fff;
$color-input-password :#88b7dd;
$color-input-password-mobile : #53c0ff;
$font-size : 24px;
$font-normal: 'promptlight';
$font-bold: 'promptbold';
$font-medium: 'promptmedium';
$screen-mobile: 768px;
$screen-xs: 480px;
$screen-sm: 769px;
$screen-md: 991px;
$screen-lg: 1200px;
$screen-xl: 1400px;

.login-page {
  width:100%;
  color: #fff;
  font-family: $font-normal;
  font-size: $font-size;

  .box-input-material {
    width:100%;
    height:50px;
    position: relative;

    .icon-id {
      &.fa-lock {
        font-size: 28px;
        margin-left: 3px;
      }
      position: absolute;
      top: 0;
      z-index: 10;
      font-size: 24px;
      color: #777777;
      margin: -5px 0 0 0;
      @media (max-width: $screen-mobile) {
        color: $theme-color-mobile;
      }
    }

    input {
      height: auto;
      width: 100%;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 2px solid #bbb;
      box-sizing: border-box;
      margin-bottom: 10px;
      color: #000;
      padding-left: 45px;
      @media (max-width: $screen-mobile) {
        background: none;
        border-bottom: 2px solid rgba(225, 225, 225, 0.85);
        color: $theme-color-mobile;
      }
    }
    span {
      position: relative;
      float:left;
      display: block;
      top: -40px;
      left: 45px;
      color: #8e8e8e;
      font-size: 16px;
      line-height: 30px;
      transition: .3s ease;
      @media (max-width: $screen-mobile) {
        color: $theme-color-mobile;
        opacity: 0.68;
      }
    }

    input:focus {
      border-top:none;
      border-left:none;
      border-right:none;
      border-bottom: 1px solid #2196f3;
      outline: none;
      @media (max-width: $screen-mobile) {
        border-bottom: 2px solid $theme-color-mobile;
      }
    }

    input:focus + span,
    input.focus + span {
      transform: translateY(-70%);
      font-size: 12px;
      color: #2196f3;
      @media (max-width: $screen-mobile) {
        color: #ddd;
      }
    }

    &.input-password {
      .icon-id {
        color: $color-input-password;
        @media (max-width: $screen-mobile) {
          color: $color-input-password-mobile;
        }
      }
      input {
        border-bottom: 2px solid $color-input-password;
        @media (max-width: $screen-mobile) {
          border-bottom: 2px solid $color-input-password-mobile;
        }
      }
      span {
        color: $color-input-password;
        @media (max-width: $screen-mobile) {
          color: $color-input-password-mobile;
        }
      }
      input:focus + span,
      input.focus + span {
        color: darken($color-input-password, 10%);
        @media (max-width: $screen-mobile) {
          color: $color-input-password-mobile;
        }
      }
    }
  }

  .bg-img-pc {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #376384;
    overflow-x: hidden;
  }
  .bg-img-mobile {
    position: relative;
    width:100%;
    height:100vh;
    background: url('../../../../assets/image/login/bg-login-mobile.jpg') no-repeat;
    background-size: cover;
    overflow: auto;
    &.filter {
      filter: brightness(0.9);
      -webkit-filter: brightness(0.9);
      -moz-filter: brightness(0.9);
      -o-filter: brightness(0.9);
      -ms-filter: brightness(0.9);
    }
  }

  .panel-left {
    float: left;
    width: 70%;
    height: 100%;
    background: url('../../../../assets/image/login/bg-login-pc.jpg') no-repeat;
    background-size: cover;
    @media (max-width: $screen-mobile) {
      width: 100%;
      height: 0;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md) {
      width: 65%;
    }
    .login-header {
      padding: 10px 20px;
      width: 100%;
      height: 20%;
      .company-logo {
        @media (max-width: $screen-mobile) {
          float: right;
          margin-top: 15px;
          margin-right: 20px;
        }
        .logo {
          width: 160px;
          @media (max-width: $screen-mobile) {
            width: 100px;
          }
        }
      }
    }
    .login-body {
      width: 100%;
      height: 60%;
      display: table;
      @media (max-width: $screen-mobile) {
        display: none;
      }
      .box-content {
        display: table-cell;
        // vertical-align: middle;
        padding: 35px;
        .main-content {
          font-family: $font-bold;
          font-size: 44px;
          @media (min-width: $screen-sm) and (max-width: $screen-md) {
            font-size: 35px;
          }
          @media (min-width: $screen-md) and (max-width: $screen-lg) {
            font-size: 42px;
          }
        }
        .main-content-2 {
          font-family: $font-bold;
          font-size: 32px;
          margin-top: -10px;
          margin-bottom: 20px;
          @media (min-width: $screen-sm) and (max-width: $screen-md) {
            font-size: 23px;
          }
          @media (min-width: $screen-md) and (max-width: $screen-lg) {
            font-size: 30px;
          }
        }
        .sub-content {
          font-size: 18px;
          @media (min-width: $screen-sm) and (max-width: $screen-md) {
            font-size: 14px;
          }
          @media (min-width: $screen-md) and (max-width: $screen-lg) {
            font-size: 16px;
          }
        }
      }
    }
    .login-footer {
      position: relative;
      width: 100%;
      height: 20%;
      @media (max-width: $screen-mobile) {
        display: none;
      }
      .software-name {
        position: absolute;
        float: left;
        width: 50%;
        left: 35px;
        bottom: 25px;
        .header1 {
          font-family: $font-bold;
          font-size: 22px;
        }
        .header2 {
          font-size: 15px;
        }
      }
      .software-logo {
        position: absolute;
        float: right;
        width: 50%;
        right: 35px;
        bottom: 40px;
        text-align: right;
        img {
          width: 150px;
        }
      }
      .base-conn {
        position: absolute;
        float: right;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.5);
        width: 50%;
        text-align: right;
        right: 35px;
        bottom: 25px;
        font-size: 10px;
      }
    }
  }

  .panel-right {
    float: left;
    width: 30%;
    height: 100%;
    background: #fff;
    @media (max-width: $screen-mobile) {
      display: table;
      width: 100%;
      height: 100%;
      background: none;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md) {
      width: 35%;
    }

    .box-login,
    .box-forgot-password,
    .box-change-password {
      background: #fff;
      padding: 40px;
      width: 100%;
      @media (max-width: $screen-mobile) {
        display: table-cell;
        vertical-align: middle;
        background: none;
      }
      @media (min-width: $screen-sm) and (max-width: $screen-md) {
        padding: 25px;
      }
      .box-title {
        font-family: $font-bold;
        color: $theme-color;
        font-size: 32px;
        margin-bottom: 25px;
        @media (max-width: $screen-mobile) {
          color: $theme-color-mobile;
          font-size: 34px;
          margin-bottom: 40px;
        }
      } 
      .box-intro {
        color: #69c56f;
        font-size: 14px;
        text-align: center;
        padding: 10px 10px 50px;
        @media (max-width: $screen-mobile) {
          color: $theme-color-mobile;
        }
      }
      .response-msg {
        margin: 0 0 -10px 0;
        width: 100%;
        text-align: center;
        color: red;
        font-size: 12px;
        background: #ffdddd;
        padding: 5px;
        -webkit-transition-duration: 0.8s;
        -moz-transition-duration: 0.8s;
        transition-duration: 0.8s;
        max-height: 150px;
        overflow: auto;
        &.msg-success {
          color: #4b9a4a;
          background: #ddffdd;
        }
      }
      .infinite-loading-container {
        margin-top: -25px;
      } 
      .link-forgot, .link-change {
        float: left;
        width: 50%;
        color: $theme-color;
        font-size: 12px;
        cursor: pointer;
        margin-top: 20px;
        -webkit-transition-duration: 0.8s;
        -moz-transition-duration: 0.8s;
        transition-duration: 0.8s;
        &:hover {
          color: #275479;
          -webkit-transition-duration: 0.8s;
          -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
        }
        @media (max-width: $screen-mobile) {
          color: $theme-color-mobile;
          &:hover {
            color: darken($theme-color-mobile, 20%);
          }
        }
      }
      .link-change {
        text-align: right;
      }

      .box-button {
        float: right;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
        .btn-login,
        .btn-forgot,
        .btn-change {
          height: 35px;
          background: $theme-color;
          border-radius: 1px;
          font-size: 18px;
          border: none;
          float: right;
          margin-left: 10px;
          padding: 5px 15px;
          font-family: "promptmedium";
          -webkit-transition-duration: 0.8s;
          -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
          outline: none;

          @media (max-width: $screen-mobile) {
            width: 100%;
            font-size: 24px;
            height: 40px;
            padding: 0px;
          }
          
          &:hover {
            -webkit-transition-duration: 0.8s;
            -moz-transition-duration: 0.8s;
            transition-duration: 0.8s;
          }
          
          &.submit {
            @media (min-width: $screen-sm) {
              right: 25px;
            }
            &:hover {
              background: #275479;
            }
          }
          &.cancel {
            background: #fff;
            border: 1px solid #c3c1c1;
            color: #c3c1c1;
            font-family: "promptlight";
            @media (max-width: $screen-mobile) {
              background: none;
              border: none;
              color: $theme-color-mobile;
              font-size: 16px;
              margin-top: 20px;
            }
            @media (min-width: $screen-sm) {
              right: 130px;
            }
            &:hover {
              background: rgba(195, 193, 193, 0.45);
              color: #fff;
            }
          }
        }
      }
      .box-login,
      .box-forgot-password {
        .response-msg {
          margin: -15px 0 0 0;
          max-height: 150px;
        }
      }
      .upper {
        text-transform: uppercase;
      }
      .login-validate {
        color: #ff0000;
        font-style: italic;
        font-size: 12px;
        position: absolute;
        left: 40px;
        top: 27px;
      }

    }
  }

  .footer-mobile {
    &.login-footer {
      display: none;
      @media (max-width: $screen-mobile) {
        position: relative;
        display: block;
        float: left;
        width: 100%;
      }
      .software-name {
        position: absolute;
        float: left;
        width: 50%;
        left: 5%;
        bottom: 15px;
        .header1 {
          font-family: $font-bold;
          font-size: 16px;
        }
        .header2 {
          font-size: 11px;
        }
      }
      .software-logo {
        position: absolute;
        float: right;
        width: 50%;
        right: 5%;
        bottom: 30px;
        text-align: right;
        img {
          width: 115px;
        }
      }
      .base-conn {
        position: absolute;
        float: right;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.5);
        width: 50%;
        text-align: right;
        right: 5%;
        bottom: 15px;
        font-size: 10px;
      }
    }
  }
}