<template>
  <div id="dash-today-task" class="dash-item dashboard-task">
    <div class="card-box card-type1">
	    <div class="header _text-red">Today Task!</div>
	    <div class="header-icon">
	      <div class="dropdown pull-right">
	        <div class="dropdown-icon dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog" aria-hidden="true"></i>
	          <span class="caret"></span>
	        </div>
	        <ul class="dropdown-menu">
	          <div class="triangle"></div>
	          <div class="dropdown-box">
	            <li @click="hideWidget(widgetName)">hide widget</li>
	          </div>
	        </ul>
	      </div>

	    </div>

      <task-list :todayTasks="todayTasks"/>
	  </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as types from '../../store/mutation-types'
import taskList from './taskList'

export default {
  name: 'dash-today-task',
  data () {
    return {
      widgetName: 'todayTask'
    }
  },
  props: {
    hideWidget: {
      type: Function
    }
  },
  created () {
    this.receivedTodayTask()
  },
  computed: {
    ...mapGetters({
      todayTasks: types.GET_TODAY_TASK
    })
  },
  methods: {
    ...mapActions({
      receivedTodayTask: types.RECEIVED_TODAY_TASK
    })
  },
  components: {
    taskList
  }
}
</script>