<template>
  <div class="content-list">
    <template v-if="filterTask().length > 0">
      <div class="content-set-wrapper" v-for="(todayTask, index) in filterTask()" :key="index">
        <template v-if="todayTask.type !== 'holiday' && todayTask.type !== 'leave'">
          <div class="content-set">
            <div class="topic-box">
              <div class="topic-icon icon " :class="flgCheck(todayTask.timstrt, todayTask.timend)"></div>
              <div class="topic-text " :class="[ todayTask.flgCheck === '1' ? '-passed' : '_text-red' ]">{{ todayTask.title }}</div>
              <div class="topic-time">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span>{{ todayTask.timstrt }}</span>
              </div>
            </div>
            <div class="detail">
              {{ todayTask.detail }}
            </div>
          </div>
        </template>
      </div>
    </template>
    <template v-else>
      <div class="detail-no-event">
        <div class="-content">
          <div class="-content-1">Your Today Task! tab is empty.</div>
          <div class="-content-2">Today List and other items. Your presence will appear here.</div>
          <div class="-content-3">To add or remove list click to <span class="_text-blue">calendar.</span></div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'dash-today-task-list',
  props: {
    todayTasks: {
      type: Array
    }
  },
  data () {
    return {
      flgNextTask: false
    }
  },
  methods: {
    flgCheck (timstrt, timend) {
      let currentTime = moment().format('HH:mm').replace(':', '')
      let classTask = 'ion-ios-circle-outline'

      timstrt = timstrt.replace(':', '')
      timend = timend.replace(':', '')

      if (timend < currentTime) {
        classTask = 'ion-checkmark-circled'
      } else if (timstrt <= currentTime && timend >= currentTime) {
        classTask = '_text-red ion-checkmark-circled'
      }
      return classTask
    },
    timeFormat (time) {
      let timeReplaced = time.replace(':', '')
      return timeReplaced.substr(0, 2) + ':' + timeReplaced.substr(2, 2)
    },
    filterTask () {
      return this.todayTasks.filter((todayTask) => {
        return todayTask.type !== 'holiday' && todayTask.type !== 'leave'
      })
    }
  }
}
</script>