<template>
  <div id="login" class="hold-transition login-page">
      
    <div :class="[ app.pcDisp ? 'bg-img-pc' : 'bg-img-mobile ' + bgFilter ]">
      <div class="panel-left">
        <div class="login-header">
          <div class="company-logo">
            <img class="logo" :src="require('@/assets/image/login/company-logo.png')">
          </div>
        </div>

        <div class="login-body">
          <div class="box-content">
            <div class="main-content">More than a </div>
            <div class="main-content-2">Personnel Management System</div>
            <div class="sub-content">Recognizing the importance of freedom to work, our system</div>
            <div class="sub-content">has been designed with the special interface, functions or modules</div>
            <div class="sub-content">so that the customers can freely design their own work</div>
            <div class="sub-content">and enhance the flexibility.</div>
          </div>
        </div>

        <div class="login-footer">
          <div class="software-name">
            <div class="header1">PeoplePlus HCM</div>
            <div class="header2">Version 11.0</div>
          </div>
          <div class="software-logo">
            <img class="logo" :src="require('@/assets/image/login/logo_pps.png')">
          </div>
          <div class="base-conn">{{ baseConn.user }}@{{ baseConn.db }}</div>
        </div>
      </div>
      
      <div class="panel-right">
        <div class="box-login clearfix" v-show="loginDisp">
          <div class="box-title">Login</div>

          <label class="box-input-material position-up clearfix">
            <div class="glyphicon glyphicon-user icon-id"></div>
            <input  class="upper" :class="{ 'focus' : username != '', 'input-error' : errors.has('username') }" 
                    v-model="username" 
                    @keyup.enter="$refs.passwordInput.focus()" 
                    @keyup="clearResponse()"
                    name="username" 
                    v-validate="'required'">
            <span>Username</span>
            <div class="login-validate" v-show="errors.has('username')">{{ errors.first('username') }}</div>
          </label>

          <label class="box-input-material clearfix">
            <div class="fa fa-lock icon-id"></div>
            <input  type="password" 
                    ref="passwordInput" 
                    :class="{ 'focus' : password != '', 'input-error' : errors.has('password') }" 
                    v-model="password" 
                    @keyup.enter="callSignIn()" 
                    @keyup="clearResponse()"
                    name="password" 
                    v-validate="'required'">
            <span>Password</span>
            <div class="login-validate" v-show="errors.has('password')">{{ errors.first('password') }}</div>
          </label>

          <div class="infinite-loading-container" v-if="loadingDisp"><i class="loading-wave-dots"></i></div>
          <div class="response-msg" v-show="response !== ''">{{ response }}</div>

          <div class="link-forgot" @click="goForgotPassword()">Forgot Password?</div>
          <div class="link-change" @click="goChangePassword()">Change Password</div>

          <div class="box-button">
            <button class="button-md _bg-blue btn-login submit" rel="go_item3" id="btn-login" v-on:click="callSignIn()">{{ app.loginLabel }}</button>
          </div>
        </div>

        <forgot-password :forgotPasswordDisp="forgotPasswordDisp"
                         :forgotPasswordVerifyDisp="forgotPasswordVerifyDisp"
                         :pcDisp="app.pcDisp"
                         :inputUsername="inputUsername"
                         :loadingDisp="loadingDisp"
                         :goLogin="goLogin"
                         :goForgotPassword="goForgotPassword"
                         :postForgotPassword="postForgotPassword"
                         :postForgotPasswordVerify="postForgotPasswordVerify"
                         :response="response"
                         :setResponse="setResponse" />

        <change-password v-show="changePasswordDisp"
                         :pcDisp="app.pcDisp"
                         :inputUsername="inputUsername"
                         :loadingDisp="loadingDisp"
                         :goLogin="goLogin"
                         :postChangePassword="postChangePassword"
                         :response="response"
                         :setResponse="setResponse"
                         :flgAction="flgAction" />
      </div>

      <div class="footer-mobile login-footer">
        <div class="software-name">
          <div class="header1">PeoplePlus HCM</div>
          <div class="header2">Version 11.0</div>
        </div>
        <div class="software-logo">
          <img class="logo" :src="require('@/assets/image/login/logo_pps.png')">
        </div>
        <div class="base-conn">{{ baseConn.user }}@{{ baseConn.db }}</div>
      </div>
      
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import * as types from './store/mutation-types'

import forgotPassword from './components/forgotPassword'
import changePassword from './components/changePassword'

export default {
  name: 'Login',
  data () {
    return {
      inputUsername: '',
      username: '',
      password: '',
      app: this.$parent
    }
  },
  created () {
    this.receivedBaseConnection()
  },
  computed: {
    bgFilter () {
      return this.forgotPasswordDisp || this.forgotPasswordVerifyDisp || this.changePasswordDisp ? 'filter' : ''
    },
    formUser () {
      return {
        coduser: this.username.toUpperCase(),
        codpswd: this.password,
        codapp: this.$route.params.codapp
      }
    },
    ...mapGetters({
      loadingDisp: types.GET_LOGIN_LOADING_DISP,
      loginDisp: types.GET_LOGIN_LOGIN_DISP,
      forgotPasswordDisp: types.GET_LOGIN_FORGOT_PASSWORD_DISP,
      forgotPasswordVerifyDisp: types.GET_LOGIN_FORGOT_PASSWORD_VERIFY_DISP,
      changePasswordDisp: types.GET_LOGIN_CHANGE_PASSWORD_DISP,
      currentUser: types.GET_CURRENT_USER,
      response: types.GET_RESPONSE,
      baseConn: types.GET_BASE_CONNECTION,
      flgAction: types.GET_LOGIN_FLG_ACTION
    })
  },
  watch: {
    username () {
      this.inputUsername = this.username
    }
  },
  methods: {
    clearResponse () {
      this.setResponse('')
    },
    callSignIn () {
      this.clearResponse()
      this.$validator.validateAll().then(result => {
        if (result) {
          this.postCurrentUser(this.formUser)
        }
      })
    },
    goLogin () {
      this.errors.clear()
      this.clearResponse()
      this.toggleLoginPage('login')
    },
    goForgotPassword () {
      this.errors.clear()
      this.clearResponse()
      this.inputUsername = this.username
      this.toggleLoginPage('forgotPassword')
      this.setFlgAction('forgot')
    },
    goForgotPasswordVerify () {
      this.errors.clear()
      this.clearResponse()
      this.toggleLoginPage('forgotPasswordVerify')
      this.setFlgAction('forgot')
    },
    goChangePassword () {
      this.errors.clear()
      this.clearResponse()
      this.inputUsername = this.username
      this.toggleLoginPage('changePassword')
      this.setFlgAction('change')
    },
    ...mapMutations({
      setResponse: types.SET_RESPONSE,
      setFlgAction: types.SET_LOGIN_FLG_ACTION,
      toggleLoginPage: types.TOGGLE_LOGIN_PAGE
    }),
    ...mapActions({
      receivedBaseConnection: types.RECEIVED_BASE_CONNECTION,
      postCurrentUser: types.POST_CURRENT_USER,
      postForgotPassword: types.POST_FORGOT_PASSWORD,
      postForgotPasswordVerify: types.POST_FORGOT_PASSWORD_VERIFY,
      postChangePassword: types.POST_CHANGE_PASSWORD
    })
  },
  components: {
    forgotPassword,
    changePassword
  }
}
</script>

<style src="./assets/style.scss" lang="scss"></style>