// .hrsc01e {
// 	.custom-radio-space2 {
// 		margin-bottom: 10px;

// 		@media (max-width: 1429px) {
// 			margin-bottom: 30px;
// 		}

// 		@media (max-width: 1144px) {
// 			margin-bottom: 50px;
// 		}
// 	}
// 	.custom-radio-space3 {
// 		margin-bottom: 30px;

// 		@media (max-width: 1315px) {
// 			margin-bottom: 50px;
// 		}
// 		@media (max-width: 1147px) {
// 			margin-bottom: 70px;
// 		}
// 		@media (max-width: 1069px) {
// 			margin-bottom: 90px;
// 		}
// 	}

// 	._twin {
// 	  width: 44% !important;
// 	  float: left;
// 	}

// 	.dash {
// 		width: 8%;
// 		margin: 0 2%;
// 		float: left;
// 		text-align: center;
// 		line-height: 35px;
// 	}
// }