.hcm-std {
	@include clearfix;
	background: #FFF;
	.title-bar {
    @include clearfix;
    background: #333;

    >.title {
      width: 50%;
      padding: 10px 60px;
      float: left;

    &.-heading {
      	font-family: 'promptbold';
        font-size: 72px;
        color: #FFF;
      }
      .name {
      	font-family: 'promptmedium';
      	font-size: 24px;
      	text-align: right;
      	color: #FFF;
      	padding: 18px 0 0 0;
      }
      .for {
      	font-size: 18px;
      	text-align: right;
      	color: #CCC;      
      }
    }
  }
	>.menu-std {
		padding: 30px 30px;
		width:20%;
		float: left;

		.heading {
			font-family: 'promptmedium';
			font-size: 22px;
			color: $black-90;
			padding: 0 0 5px 0;
		}

		.menu-panel {
			padding: 5px 0 0 20px;

			.menu {
				list-style: none;
				padding: 0 0 5px 0;
				color: $black-60;
				cursor: pointer;

				&.-active {
					color: $black-70;
					font-size: 18px;
					font-family: 'promptmedium';
				}
			}
		}
	}

	>.contents {
		@include clearfix;
		width: 80%;
		float: left;
		padding: 20px 30px;

		.ex-wrapper {
			>.heading {
	  		font-family: 'promptmedium';
	  		font-size: 46px;
	  		text-transform: uppercase;
	  	}
	  	.description {
	  		@include text-md;
	  		color: #4d4d4d;
	  		margin: -10px 0 40px 0;
	  	}
	  	.example-set {
	  		padding: 10px;
	  		border: 1px solid $black-15;
	  		margin: 0 0 20px 0; 
	  		@include clearfix;

		  	.example {
		  		margin: 0 0 10px 0;
		  	}
		  	.use {
		  		padding: 0;
		  		background: $black-10; 
		  	}
	  	}
	  	.spacing {
	  		padding: 55px 0;
	  	}
		}
	}
}