.ui-kit {
  width: 100%;

  .title-bar {
    @include clearfix;
    background: #333;

    >.title {
      width: 50%;
      padding: 10px 60px;
      float: left;

    &.-heading {
      	font-family: 'promptbold';
        font-size: 72px;
        color: #FFF;
      }
      .name {
      	font-family: 'promptmedium';
      	font-size: 24px;
      	text-align: right;
      	color: #FFF;
      	padding: 18px 0 0 0;
      }
      .for {
      	font-size: 18px;
      	text-align: right;
      	color: #CCC;      
      }
    }
  }

  .kit-box {
  	width: 100%;
  	padding: 40px 60px 0;

  	>.name {
  		font-family: 'promptmedium';
  		font-size: 46px;
  		text-transform: uppercase;
  	}
  	>.description {
  		@include text-md;
  		color: #4d4d4d;
  		margin: -10px 0 0 0;
  	}
  	>.component {
  		padding: 40px 0;
  		@include clearfix;

  		&.-colors {
  			.set-box {
  				width: 25%;
  				float: left;
  				@include clearfix;
  				padding: 0 0 0 20px;

 					.meaning {
 						width: 30%;
 						color: #4d4d4d;
 						float: left;
  					@include clearfix;
  					padding: 15px 10px;
 					}
 					.color-box {
 						width: 140px;
 						height: 170px;
 						border: 1px solid #c2c2c2;
 						float: left;
  					@include clearfix;
  					padding: 0 10px;
 						.color {
 							width: 110px;
 							height: 110px;
 							margin: 15px auto;
 							&.-green {
 								background: $green;
 							}
 							&.-orange {
 								background: $orange;
 							}
 							&.-red {
 								background: $red;
 							}
 							&.-blue {
 								background: $blue;
 							}
 						}
 						.code {
 							text-align: center;
 						}
 					}
  			}
  		}

  		&.-typeface {
  			.set-box {
  				width: 50%;
  				float: left;
  				padding: 0 0 0 120px;

  				.font-name {
  					font-family: 'prompt';
  				}
  				.example {
  					font-family: 'prompt';
  					font-size: 60px;
  				}
  			}
  		}

  		&.-typography {
  			.set-box {
  				@include clearfix;
  				width: 100%;
  				padding: 0 0 0 80px;
  				margin: 0 0 60px 0;

  				.detail-box {
  					width: 25%;
  					float: left;
  					border-right: 2px solid #c2c2c2;

  					>.name {
								@include text-lg;
								padding: 0 0 5px 0;
						}
  				}
  				>.example {
						width: 75%;
						float: left;
						text-align: center;

						&.-text-xl {
							@include text-xl;
							padding: 5px 0 0 0;
						}
						&.-text-lg {
							@include text-lg;
							padding: 25px 0 0 0;
						}
						&.-text-md {
							@include text-md;
							padding: 20px 0 0 0;
						}
						&.-text-sm {
							@include text-sm;
							padding: 25px 0 0 0;
						}
						&.-text-xs {
							@include text-xs;
							padding: 25px 0 0 0;
						}
					}
  			}
  		}

  		&.-button {
  			.set-box {
  				@include clearfix;
  				width: 100%;
  				padding: 0 0 0 80px;
  				margin: 0 0 60px 0;

  				.detail-box {
  					width: 25%;
  					float: left;
  					border-right: 2px solid #c2c2c2;

  					>.name {
  							@include text-lg;
  							padding: 0 0 5px 0;
  					}
  				}
  				
  				.example {
						width: 75%;
						float: left;

						.button-set {
							width: 25%;
							float: left;
							padding: 50px 0 0 0;

							.description {
								text-align: center;
							}
							.button-box {
								padding: 10px 0 0 0; 
								text-align: center;

								.button-lg {								
									&.-green-hover {
										background: $green-hover;
										color: #FFF;
									}
									&.-green-disable {
										background: $green-disable;
										color: #FFF;
									}
								}
								.button-md {
									&.-green-hover {
										background: $green-hover;
										color: #FFF;
									}
									&.-green-disable {
										background: $green-disable;
										color: #FFF;
									}
								}
								.button-sm {
									&.-green-hover {
										background: $green-hover;
										color: #FFF;
									}
									&.-green-disable {
										background: $green-disable;
										color: #FFF;
									}
								}
							}
						}
					}
  			}
  		}

  		&.-input, &.-dropdown, &.-tabselect, &.-expandtabs {
  			.set-box {
  				@include clearfix;
  				width: 100%;
  				padding: 0 0 0 80px;
  				margin: 0 0 60px 0;

  				.detail-box {
  					width: 25%;
  					float: left;
  					border-right: 2px solid #c2c2c2;

  					>.name {
  							@include text-lg;
  							padding: 0 0 5px 0;
  					}
  				}
  				
  				.example {
						width: 75%;
						float: left;

						.input-set, &.-dropdown-set {
							width: 40%;
							float: left;
							padding: 10px 50px 0;
						}
						.tabselect-set {
							margin: 0 5%;
							width: 80%;
							padding: 25px 30px;
							border: 1px solid #c2c2c2;
							box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
							.topic-ex {
								font-family: 'promptmedium';
								font-size: 24px;
								padding: 0 0 40px 0;
							}
						}
						.expandtabs-set {
							margin: 0 5%;
							width: 80%;
						}
					}
				}
			}


  	}
  }
}


.ex-color {
  width: 20%;
  float: left;
  padding: 5px;
  .color-box {
    border: 1px solid $black-30;
    padding: 5px;
    text-align: center;
    font-family: 'promptmedium';

    .color {
      height: 140px;
      margin: 5px;
    }
    .color-code {
      padding: 10px 0;
    }
  }
  .detail-color {
    margin: 15px 0 0 0;
    font-family: 'promptmedium';
    font-size: 14px;
  }
}