<template>
  <div id="hrpmb2e"  class="hrpmb2e">
    <hcm-setting-page />
 
    <index-head  v-show="indexHeadDisp"
                :nowLang="app.nowLang"
                :labels="labels[app.nowLang]"
                :indexHead="indexHead"
                :searchIndex="searchIndex"/>

    <hrms-search-box-table v-show="indexDisp"
                v-model="searchIndex"
                :data="index"
                :nowLang="app.nowLang"
                :columns="columns[app.nowLang].index"
                :unLoadBool="true"
                :receivedStore="receivedHrpmb2eIndex"
                :addEvent="addEvent"
                :editEvent="editEvent"
                :deleteInlineEventBool="true"
                :deleteInlineBtnDisp="false"
                :saveInlineBtnDisp="true"
                searchBoxAlias="hrpmb2e"
                :saveInlineEvent="callSave" />

    <detail v-show="detailDisp"
            :toggle="toggle"
            :nowLang="app.nowLang"
            :searchIndex="searchIndex"
            :dropdowns="dropdowns"
            :indexSelected="indexSelected"
            :labels="labels[app.nowLang]"
            :eventBtn="eventBtn"
            :detail="detail"
            :columns="columns[app.nowLang]"
            :labelsButton="app.button[app.nowLang]"
            :receivedHrpmb2eDetail="receivedHrpmb2eDetail"
            :saveDetail="saveDetail"
            :detailDisabled="detailDisabled"
            @setDetailDisabled="detailDisabled = arguments[0]"/>
  </div>

</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import * as types from './store/mutation-types'
import detail from './components/detail'
import indexHead from './components/indexHead'

export default {
  name: 'hrpmb2e',
  data () {
    return {
      app: this.$root.$children[0],
      searchIndex: {
        codempid: '53100',
        yearstrt: '2017',
        yearend: '2018'
      },
      searchDetail: {
        codempid: '',
        yearstrt: '',
        yearend: ''
      },
      eventBtn: '',
      detailDisabled: false
    }
  },
  created () {
    this.receivedHrpmb2eColumnsLabels()
    this.receivedHrpmb2eIndex()
    this.receivedHrpmb2eIndexHead()
    this.receivedHrpmb2eDropdowns()
  },
  computed: {
    codempid () {
      let currentUser = this.app.currentUser
      return currentUser.p_codempid
    },
    ...mapGetters({
      indexDisp: types.GET_HRPMB2E_INDEX_DISP,
      indexHeadDisp: types.GET_HRPMB2E_INDEX_HEAD_DISP,
      detailDisp: types.GET_HRPMB2E_DETAIL_DISP,
      labels: types.GET_HRPMB2E_LABELS,
      dropdowns: types.GET_HRPMB2E_DROPDOWNS,
      index: types.GET_HRPMB2E_INDEX,
      indexHead: types.GET_HRPMB2E_INDEX_HEAD,
      columns: types.GET_HRPMB2E_COLUMNS,
      indexSelected: types.GET_HRPMB2E_INDEX_SELECTED,
      detail: types.GET_HRPMB2E_DETAIL
    })
  },
  methods: {
    pageDetail (event, param) {
      this.eventBtn = event
      switch (event) {
        case 'add':
          this.searchDetail.codempid = ''
          this.searchDetail.yearstrt = ''
          this.searchDetail.yearend = ''
          this.detailDisabled = true
          this.receivedHrpmb2eDetailCreate()
          this.toggle('detail')
          break
        case 'edit':
          this.detailDisabled = false
          let detailParams = {
            p_codempid: this.searchIndex.codempid,
            p_yearstrt: param.yearstrt,
            p_yearend: param.yearend
          }
          this.receivedHrpmb2eDetail(detailParams)
          this.setIndexSelected(param)
          this.searchDetail.codempid = this.searchIndex.codempid
          this.searchDetail.yearstrt = param.yearstrt
          this.searchDetail.yearend = param.yearend
          this.toggle('detail')
          break
      }
    },
    addEvent () {
      this.pageDetail('add')
    },
    editEvent (param) {
      this.pageDetail('edit', param)
    },
    callSave (dataRowsHasFlg) {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.deleteHrpmb2eIndex({ searchIndex: this.searchIndex, dataRowsHasFlg: dataRowsHasFlg })
        }
      })
    },
    ...mapMutations({
      setIndexSelected: types.SET_HRPMB2E_INDEX_SELECTED
    }),
    ...mapActions({
      toggle: types.TOGGLE_HRPMB2E_PAGE,
      receivedHrpmb2eColumnsLabels: types.RECEIVED_HRPMB2E_COLUMNS_LABELS,
      receivedHrpmb2eIndex: types.RECEIVED_HRPMB2E_INDEX,
      receivedHrpmb2eIndexHead: types.RECEIVED_HRPMB2E_INDEX_HEAD,
      receivedHrpmb2eDetailCreate: types.RECEIVED_HRPMB2E_DETAIL_CREATE,
      receivedHrpmb2eDetail: types.RECEIVED_HRPMB2E_DETAIL,
      receivedHrpmb2eDropdowns: types.RECEIVED_HRPMB2E_DROPDOWNS,
      saveDetail: types.SAVE_HRPMB2E_DETAIL,
      deleteHrpmb2eIndex: types.DELETE_HRPMB2E_INDEX
    })
  },
  components: {
    detail,
    indexHead
  }
}
</script>

<style src="./assets/style.scss" lang='scss'></style>

