<template>
  <div id="component-detail" class="body-wrapper">
    <div class="clearfix">
      <div class="collapse-group">
        <div class="panel-group" id="accordion">
          <div class="panel">
            <detail-employee :labels="labels"
                              :labelsButton="labelsButton"
                              :detailEmployee="detail.tab1"
                              :columns="columns"
                              :nowLang="nowLang"
                              :flgCollapse="flgCollapse"
                              :setCollapseToggle="setCollapseToggle"
                              :pinCollapse="pinCollapse"
                              :setPinCollapseToggle="setPinCollapseToggle"/>

            <detail-book :labels="labels"
                        :labelsButton="labelsButton"
                        :detailBook="detail.tab2"
                        :columns="columns"
                        :flgCollapse="flgCollapse"
                        :setCollapseToggle="setCollapseToggle"
                        :pinCollapse="pinCollapse"
                        :setPinCollapseToggle="setPinCollapseToggle"/>
          </div>
        </div>
      </div>
     </div>
  </div>
</template>

<script>
import detailEmployee from './detailEmployee'
import detailBook from './detailBook'

export default {
  name: 'component-detail',
  data () {
    return {
      pinCollapse: {
        employee: false,
        book: false
      },
      flgCollapse: {
        employee: false,
        book: true
      }
    }
  },
  methods: {
    resetCollapse () {
      this.flgCollapse = {
        employee: false,
        book: true
      }
      this.pinCollapse = {
        employee: false,
        book: false
      }
    },
    setPinCollapseToggle (tab) {
      this.pinCollapse[tab] = !this.pinCollapse[tab]
    },
    setCollapseToggle (tab) {
      for (let collapseTab in this.flgCollapse) {
        if (collapseTab !== tab) {
          if (!this.pinCollapse[collapseTab]) {
            this.flgCollapse[collapseTab] = true
          }
        }
      }
      this.flgCollapse[tab] = !this.flgCollapse[tab]
    }
  },
  props: [
    'labels',
    'labelsButton',
    'data',
    'toggle',
    'detail',
    'nowLang',
    'columns'
  ],
  components: {
    detailEmployee,
    detailBook
  }
}
</script>
