<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.book }" :aria-expanded="!flgCollapse.book" @click.self="setCollapseToggle('book')" data-parent="#book" href="#book" >
      <div class="title" @click.self="setCollapseToggle('book')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('book')"></i>{{ labels['HRPM33RP2']['10'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('book')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('book')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.book ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('book')"></i>
    </div>
    <div id="detail-book" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.book}">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPM33RP2']['20'] }}</div>
                <hcm-lov  v-model="detailBook.codform"
                          :nowLang="nowLang"
                          lovType="codform"
                          :descDisp="false"
                          v-validate="'required'"
                          data-vv-value-path="inputValue"
                          data-vv-as="codform"
                          data-vv-name="codform"
                          name="codform" 
                          :disabled="detailDisabled" />
            </div>
          </div>
          <div class="col-md-4 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPM33RP2']['30'] }}</div>
                <hrms-datepicker  v-model="detailBook.dteduepr"
                                  v-validate="'required|date_format:DD/MM/YYYY'"
                                  data-vv-value-path="inputDate"
                                  data-vv-name="dteduepr"
                                  data-vv-as="Date"
                                  name="dteduepr"
                                  :disabled="detailDisabled" />
            </div>
          </div>
          <div class="col-md-4 group-space-lg">
            <div class="input-group">
              <input class="normal-input" type="text" name="input" v-model="detailBook.numdoc" :disabled="detailDisabled">
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="input-group">
            <hrms-table :labels="labels"
                        :columns="columns.detailTab2" 
                        :data="detailBook"
                        :nowLang="nowLang"
                        :searchDisp="false"
                        :tablePageDisp="false"
                        :columnSettingDisp="false"
                        :csvExportDisp="false" />
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
export default {
  name: 'detail-book',
  props: [ 'nowLang',
    'labels',
    'labelsButton',
    'columns',
    'detailBook',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ]
}
</script>
