<template>
  <div class="index-header-box">
    <div class="index-col">
      <div class="index-set">
        <div class="index-label">{{ higherOrderLabels['HRPM33RP1']['10'] }} :</div>
        <div class="index-data">{{higherOrderData.codcomp}} - People plus Co.,Ltd.</div>
      </div>
      <div class="index-set">
        <div class="index-label">{{ higherOrderLabels['HRPM33RP1']['20'] }} :</div>
        <div class="index-data">{{higherOrderData.codempid}}</div>
      </div>
    </div>

    <div class="index-col">
      <div class="index-set">
        <div class="index-label">{{ higherOrderLabels['HRPM33RP1']['30'] }} :</div>
        <div class="index-data">{{higherOrderData.month}}</div>
      </div>
      <div class="index-set">
        <div class="index-label">{{ higherOrderLabels['HRPM33RP1']['40'] }} :</div>
        <div class="index-data">{{higherOrderData.year}}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hrpm33r-index-head',
  props: {
    higherOrderLabels: {
      type: Object
    },
    higherOrderEvent: {
      type: Object
    },
    higherOrderData: {
      type: Object
    }
  }
}
</script>

