.help-page {
  .panel-header {
    .header1 {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 22px;
      margin: 10px;
      padding-top: 30px;
    }
    .header2 {
      font-size: 16px;
      margin: auto;
      margin-bottom: 45px;
      padding-bottom: 30px;
      border-bottom: 2px solid #a0a0a0;
    }
  }
  .panel-module {
    .module-item {
      margin-top: 20px;
      margin-bottom: 20px;
      .module-name {
        text-transform: uppercase;
        font-size: 36px;
        font-family: 'promptregular';
        font-weight: bold;
      }
      .module-desc {
        text-transform: uppercase;
        font-size: 16px;
        font-family: 'promptregular';
        font-weight: bold;
        line-height: 1;
        margin-top: -10px;
      }
      .module-detail {
        line-height: 1;
        margin-top: 5px;
        color: #555;
      }
    }
  }
}