<template>
  <div class="box-change-password clearfix">
    <div class="box-title">Change Password</div>

    <label class="box-input-material position-up clearfix">
      <div class="glyphicon glyphicon-user icon-id"></div>
      <input  class="upper" :class="{ 'focus' : username != '', 'input-error' : errors.has('username') }"
              v-model="username"
              @keyup.enter="$refs.passwordInput.focus()"
              @keyup="clearResponse()"
              name="username"
              v-validate="'required'">
      <span>Username</span>
      <div class="login-validate" v-show="errors.has('username')">{{ errors.first('username') }}</div>
    </label>

    <label v-if="flgAction==='change'" class="box-input-material clearfix">
      <div class="fa fa-lock icon-id"></div>
      <input  :class="{ 'focus' : password != '', 'input-error' : errors.has('password') }"
              type="password"
              v-model="password"
              ref="passwordInput"
              @keyup.enter="$refs.newPasswordInput.focus()"
              @keyup="clearResponse()"
              name="password"
              v-validate="'required'">
      <span>Current Password</span>
      <div class="login-validate" v-show="errors.has('password')">{{ errors.first('password') }}</div>
    </label>

    <label class="input-password box-input-material clearfix">
      <div class="fa fa-key icon-id"></div>
      <input  :class="{ 'focus' : newPassword != '', 'input-error' : errors.has('newPassword') }" 
              type="password" 
              v-model="newPassword" 
              ref="newPasswordInput" 
              @keyup.enter="$refs.confirmNewPasswordInput.focus()" 
              @keyup="clearResponse()"
              name="newPassword" 
              v-validate="'required'">
      <span>New Password</span>
      <div class="login-validate" v-show="errors.has('newPassword')">{{ errors.first('newPassword') }}</div>
    </label>

    <label class="input-password box-input-material clearfix">
      <div class="fa fa-key icon-id"></div>
      <input  :class="{ 'focus' : confirmNewPassword != '', 'input-error' : errors.has('confirmNewPassword') }" 
              type="password" 
              v-model="confirmNewPassword" 
              ref="confirmNewPasswordInput" 
              @keyup.enter="validateInput()" 
              @keyup="clearResponse()"
              name="confirmNewPassword" 
              v-validate="'required|confirmed:newPassword'">
      <span>Confirm Password</span>
      <div class="login-validate" v-show="errors.has('confirmNewPassword')">{{ errors.first('confirmNewPassword') }}</div>
    </label>
    <div class="infinite-loading-container" v-if="loadingDisp"><i class="loading-wave-dots"></i></div>
    <div class="response-msg" :class="getStatusResponse" v-show="response !== ''">{{ response }}</div>

    <div class="box-button">
      <button class="button-md _bg-blue btn-change submit" v-on:click="validateInput()" v-show="!dispBtnOk">Submit</button>
      <button class="button-md _bg-white btn-change cancel" v-on:click="cancel()" v-show="!dispBtnOk">Cancel</button>
      <button class="button-md _bg-blue btn-change submit" v-on:click="cancel()" v-show="dispBtnOk">OK</button>
    </div>
  </div>
</template>

<script>
import { EncodeUtils } from 'assets/js/encode'

export default {
  name: 'change-password',
  data () {
    return {
      username: '',
      password: '',
      newPassword: '',
      confirmNewPassword: '',
      errorConfirmNewPassword: '',
      dispBtnOk: false
    }
  },
  props: [ 'pcDisp', 'loadingDisp', 'goLogin', 'postChangePassword', 'response', 'setResponse', 'inputUsername', 'flgAction' ],
  watch: {
    inputUsername () {
      this.username = this.inputUsername
    }
  },
  methods: {
    clearResponse () {
      this.setResponse('')
    },
    validateInput () {
      this.clearResponse()
      this.$validator.validateAll().then(result => {
        if (result) {
          var formChangePassword = {
            flg: this.flgAction,
            chg_username: this.username,
            chg_password: EncodeUtils.stdenc(this.password),
            chg_new_password: EncodeUtils.stdenc(this.newPassword)
          }
          this.postChangePassword(formChangePassword)
        }
      })
    },
    cancel () {
      this.username = this.inputUsername
      this.password = ''
      this.newPassword = ''
      this.confirmNewPassword = ''
      this.errorConfirmNewPassword = ''
      this.errors.clear()
      this.clearResponse()
      this.goLogin()
    }
  },
  computed: {
    getStatusResponse () {
      let result
      if (this.response.search('HR2410') !== -1) {
        this.dispBtnOk = true
        result = 'msg-success'
      } else {
        this.dispBtnOk = false
        result = ''
      }
      return result
    }
  }
}
</script>