<template>
  <div id="page-forgot-password-request">
    <div class="box-title">Forgot Password</div>

    <label class="box-input-material position-up clearfix">
      <div class="fa fa-id-card icon-id"></div>
      <input  :class="{ 'focus' : IdCardNumber != '', 'input-error' : errors.has('idcardno')}" 
              v-model="IdCardNumber"
              maxlength="13" 
              @keyup="clearResponse()"
              name="idcardno" 
              v-validate="'required'">
      <span>ID Card Number</span>
      <div class="login-validate" v-show="errors.has('idcardno')">{{ errors.first('idcardno') }}</div>
    </label>

    <label class="box-input-material position-up clearfix">
      <div class="glyphicon glyphicon-user icon-id"></div>
      <input  class="upper" :class="{ 'focus' : forgotUsername != '', 'input-error' : errors.has('username')}" 
              v-model="forgotUsername" 
              @keyup.enter="$refs.emailInput.focus()" 
              @keyup="clearResponse()"
              name="username" 
              v-validate="'required'">
      <span>Username</span>
      <div class="login-validate" v-show="errors.has('username')">{{ errors.first('username') }}</div>
    </label>

    <label class="box-input-material clearfix">
      <div class="fa fa-envelope icon-id"></div>
      <input  :class="{ 'focus' : forgotEmail != '', 'input-error' : errors.has('email') }" 
              type="email" 
              v-model="forgotEmail" 
              ref="emailInput" 
              @keyup.enter="validateInput()" 
              @keyup="clearResponse()"
              name="email" 
              v-validate="'required|email'">
      <span>Email</span>
      <div class="login-validate" v-show="errors.has('email')">{{ errors.first('email') }}</div>
    </label>
    
    <div class="infinite-loading-container" v-if="loadingDisp"><i class="loading-wave-dots"></i></div>
    <div class="response-msg" v-show="response !== ''">{{ response }}</div>

    <div class="box-button">
      <button class="button-md _bg-blue btn-forgot submit" v-on:click="validateInput()">Submit</button>
      <button class="button-md _bg-white btn-forgot cancel" v-on:click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'forgot-password-request',
  data () {
    return {
      IdCardNumber: '',
      forgotUsername: '',
      forgotEmail: ''
    }
  },
  props: [ 'pcDisp', 'loadingDisp', 'goLogin', 'postForgotPassword', 'response', 'setResponse', 'inputUsername' ],
  watch: {
    inputUsername () {
      this.forgotUsername = this.inputUsername
    }
  },
  methods: {
    clearResponse () {
      this.setResponse('')
    },
    validateInput () {
      this.clearResponse()
      this.$validator.validateAll().then(result => {
        if (result) {
          var formForgotPassword = {
            forg_idcardno: this.IdCardNumber,
            forg_username: this.forgotUsername,
            forg_email: this.forgotEmail
          }
          this.postForgotPassword(formForgotPassword)
          this.forgotEmail = ''
          this.IdCardNumber = ''
        }
      })
    },
    cancel () {
      this.forgotUsername = this.inputUsername
      this.forgotEmail = ''
      this.IdCardNumber = ''
      this.errors.clear()
      this.goLogin()
    }
  }
}
</script>