<template>
  <div id="page-forgot-password" class="box-forgot-password clearfix" v-show="forgotPasswordDisp || forgotPasswordVerifyDisp">
    <forgot-password-request v-show="forgotPasswordDisp"
                             :pcDisp="pcDisp"
                             :loadingDisp="loadingDisp"
                             :goLogin="goLogin"
                             :postForgotPassword="postForgotPassword"
                             :response="response"
                             :setResponse="setResponse"
                             :inputUsername="inputUsername" />

    <forgot-password-verify  v-show="forgotPasswordVerifyDisp"
                             :pcDisp="pcDisp"
                             :loadingDisp="loadingDisp"
                             :goForgotPassword="goForgotPassword"
                             :postForgotPasswordVerify="postForgotPasswordVerify"
                             :response="response"
                             :setResponse="setResponse"
                             :inputUsername="inputUsername" />
  </div>
</template>

<script>
import forgotPasswordRequest from './forgotPasswordRequest'
import forgotPasswordVerify from './forgotPasswordVerify'

export default {
  name: 'forgot-password',
  props: [ 'pcDisp', 'loadingDisp', 'goLogin', 'goForgotPassword', 'postForgotPassword', 'postForgotPasswordVerify', 'response', 'setResponse', 'inputUsername', 'forgotPasswordDisp', 'forgotPasswordVerifyDisp' ],
  components: {
    forgotPasswordRequest,
    forgotPasswordVerify
  }
}
</script>