<template>
  <div id="page-forgot-password-verify">
    <div class="box-title">Forgot Password</div>

    <div class="box-intro">
      ระบบได้ส่ง รหัส OTP Code ไปที่อีเมลของคุณ กรุณากรอก รหัส OTP Code เพื่อยืนยันการทำรายการ
    </div>

    <label class="box-input-material clearfix">
      <div class="fa fa-shield icon-id"></div>
      <input  :class="{ 'focus' : otpCode != '', 'input-error' : errors.has('otpCode') }" 
              v-model="otpCode" 
              @keyup="clearResponse()"
              name="otpCode" 
              v-validate="'required'">
      <span>OTP Code Number</span>
      <div class="login-validate" v-show="errors.has('otpCode')">{{ errors.first('otpCode') }}</div>
    </label>
    
    <div class="infinite-loading-container" v-if="loadingDisp"><i class="loading-wave-dots"></i></div>
    <div class="response-msg" v-show="response !== ''">{{ response }}</div>

    <div class="box-button">
      <button class="button-md _bg-blue btn-forgot submit" v-on:click="validateInput()">Verify</button>
      <button class="button-md _bg-white btn-forgot cancel" v-on:click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'forget-password-verify',
  data () {
    return {
      otpCode: ''
    }
  },
  props: [ 'pcDisp', 'loadingDisp', 'goForgotPassword', 'postForgotPasswordVerify', 'response', 'setResponse', 'inputUsername' ],
  methods: {
    clearResponse () {
      this.setResponse('')
    },
    validateInput () {
      this.setResponse('')
      this.$validator.validateAll().then(result => {
        if (result) {
          var formForgetPassword = {
            forg_otpcode: this.otpCode
          }
          this.postForgotPasswordVerify(formForgetPassword)
          this.otpCode = ''
        }
      })
    },
    cancel () {
      this.otpCode = ''
      this.errors.clear()
      this.clearResponse()
      this.goForgotPassword()
    }
  }
}
</script>