@import "../../../modules/global";

$btn-color: #959595;

.hcm-setting-page {
  position: absolute;
  top: -28px;
  right: 0;

  .btn-std {
    float: left;
    margin-left: 15px;
    color: $btn-color;
    cursor: pointer;
    &:hover {
    	color: darken($btn-color, 30%);
    }
    &.-favourite {
      i {
        @include delay(.8s);
      }
    }
  }
}