<template>
  <div name="hcm-lov-codcomp" class="hcm-lov-codcomp">
    <div class="input-group _unmargin">
      <input class="icon-input" type="text" name="input" v-model="codeDescValue" 
                                @keyup="searchDepartmentDropdown($event)"
                                @focusout="hideDropdownSearch()"
                                @focusin="searchDepartmentDropdown($event)"
                                :disabled="disabled" />
      <span v-if="disabled" class="icon fa fa-search -disable"></span>
      <span v-if="!disabled" class="icon fa fa-search" ref="searchBtnIndex" @click="triggerSearch()"></span>
    </div>
    <department-search-dropdown ref="searchDropdown"
                                :codeDescValue="codeDescValue"
                                :dropdownSearchDisp="dropdownSearchDisp"
                                :departments="departments"
                                :hideDropdownSearch="hideDropdownSearch"
                                :clickSearchBtnIndex="clickSearchBtnIndex"
                                :setErrorMessageDispAndCodcompDisp="setErrorMessageDispAndCodcompDisp"
                                @emitDropdownSetDepartmentDetail="dropdownSetDepartmentDetail(arguments[0])" />
                                  
    <div v-show="codcompDisp" class="codetext">{{ inputValue }}</div>
    <div v-show="errorMessageDisp" class="codetext _text-red">{{ errorMessage }}</div>

    <transition name="modal">
      <div v-show="showModal" class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container _unpadding">

            <div class="modal-header">
              <slot name="header">
                <div class="modal-title">{{ labels[nowLang]['HCM_COMP']['20'] }}</div>
                <div class="ion-android-close close" @click.prevent="closeModal()" ref="closeBtn"></div>
              </slot>
            </div>

            <div class="modal-body">
              <slot name="body">
                <detail :labels="labels[nowLang]"
                    :codeDescValue="codeDescValue"
                    :histories="histories"
                    :departments="departments"
                    :setDepartments="setDepartments"
                    :departmentDisp="departmentDisp"
                    :departmentSelected="departmentSelected"
                    :departmentSubDetailLeftParent="departmentSubDetailLeftParent"
                    :departmentSubDetailLeft="departmentSubDetailLeft"
                    :departmentSubDetailRight="departmentSubDetailRight"
                    :setDepartmentDisp="setDepartmentDisp"
                    :setDepartmentSelected="setDepartmentSelected"
                    :setDepartmentDetail="setDepartmentDetail"
                    :receivedDepartmentSubDetail="receivedDepartmentSubDetail"
                    :updatePopupCodcompHistory="updatePopupCodcompHistory"
                    :closeModal="closeModal"
                    :simplert="app.simplert"
                    :setErrorMessageDispAndCodcompDisp="setErrorMessageDispAndCodcompDisp"
                    ref="detail"
                />
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import * as types from './store/mutation-types'
import * as templateTypes from '../../modules/main/template/store/mutation-types'
import assetsLabels from 'assets/js/labels'
import detail from './components/detail'
import departmentSearchDropdown from './components/departmentSearchDropdown'

export default {
  name: 'hcm-lov-codcomp',
  data () {
    return {
      app: this.$root.$children[0],
      showModal: false,
      codeDescValue: '',
      inputValue: this.value,
      dropdownSearchDisp: false,
      dropdownSearchDispTimeout: 200,
      errorMessage: 'Please select department',
      errorMessageDisp: false,
      codcompDisp: true
    }
  },
  watch: {
    baseDepartments () {
      this.codeDescValue = this.calInputValueFromCodcomp(this.value)
    },
    value () {
      if (this.value !== this.inputValue) {
        this.inputValue = this.value
        this.codeDescValue = this.calInputValueFromCodcomp(this.value)
      }
    },
    inputValue () {
      this.$emit('changeLov', this.inputValue)
      this.$emit('input', this.inputValue)
    }
  },
  created () {
    this.receivedPopupCodcompLabels({ simplert: this.app.simplert })
    this.receivedPopupCodcompHistories()
    this.receivedBaseDepartments({ simplert: this.app.simplert })
  },
  computed: {
    ...mapGetters({
      labels: types.GET_HCM_LOV_CODCOMP_LABELS,
      histories: types.GET_HCM_LOV_CODCOMP_HISTORIES,
      baseDepartments: types.GET_HCM_LOV_CODCOMP_BASE_DEPARTMENTS,
      departments: types.GET_HCM_LOV_CODCOMP_DEPARTMENTS,
      departmentDisp: types.GET_HCM_LOV_CODCOMP_DEPARTMENT_DISP,
      departmentSelected: types.GET_HCM_LOV_CODCOMP_DEPARTMENT_SELECTED,
      departmentSubDetailLeftParent: types.GET_HCM_LOV_CODCOMP_DEPARTMENT_SUB_DETAIL_LEFT_PARENT,
      departmentSubDetailLeft: types.GET_HCM_LOV_CODCOMP_DEPARTMENT_SUB_DETAIL_LEFT,
      departmentSubDetailRight: types.GET_HCM_LOV_CODCOMP_DEPARTMENT_SUB_DETAIL_RIGHT
    })
  },
  props: {
    value: {
      type: String
    },
    name: {
      type: String,
      required: true
    },
    nowLang: {
      type: String,
      default: assetsLabels.defaultLang
    },
    disabled: {
      type: Boolean,
      default: false
    },
    autoComplete: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    hideDropdownSearch () {
      if (this.autoComplete) {
        setTimeout(() => {
          this.dropdownSearchDisp = false
        }, this.dropdownSearchDispTimeout)
      }
    },
    calInputValueFromCodcomp (codcomp) {
      let resultDepartment = {}
      this.recursiveDepartments(this.baseDepartments, codcomp, resultDepartment)
      let codeDescValue = ''
      if (resultDepartment.code && resultDepartment.name) {
        codeDescValue = resultDepartment.code + ' - ' + resultDepartment.name
      }
      return codeDescValue
    },
    recursiveDepartments (baseDepartments, codcomp, resultDepartment) {
      for (let baseDepartment of baseDepartments) {
        if (baseDepartment.codcomp === codcomp) {
          // pass by reference object
          resultDepartment.code = baseDepartment.code
          resultDepartment.name = baseDepartment.name
          break
        } else {
          if (baseDepartment.children) {
            this.recursiveDepartments(baseDepartment.children, codcomp, resultDepartment)
          }
        }
      }
    },
    setDepartmentDetail (detail) {
      this.codeDescValue = detail.code + ' - ' + detail.name
      this.inputValue = detail.codcomp
    },
    clickSearchBtnIndex () {
      this.$refs.searchBtnIndex.click()
    },
    dropdownSetDepartmentDetail (detail) {
      this.setDepartmentDetail(detail)
    },
    searchDepartmentDropdown (event) {
      if (this.autoComplete) {
        if (event.key !== 'Enter' && event.key !== 'ArrowDown' && event.key !== 'ArrowUp' && event.key !== 'ArrowLeft' && event.key !== 'ArrowRight') {
          this.emitDetailTriggerSearch()
          setTimeout(() => {
            this.dropdownSearchDisp = true
          }, this.dropdownSearchDispTimeout)
        }
      }
      if (event.type === 'keyup') {
        this.inputValue = ''
        this.setErrorMessageDispAndCodcompDisp(true, false)
      }
    },
    setErrorMessageDispAndCodcompDisp (errorMessageDisp, codcompDisp) {
      this.errorMessageDisp = errorMessageDisp
      this.codcompDisp = codcompDisp
    },
    triggerSearch () {
      this.showModal = true
      this.setModalDisp(true)
      this.emitDetailTriggerSearch()
    },
    closeModal () {
      this.showModal = false
      this.setModalDisp(false)
    },
    emitDetailTriggerSearch () {
      this.$refs.detail.emitDetailSearchButton(this.codeDescValue)
    },
    ...mapMutations({
      setDepartmentDisp: types.SET_HCM_LOV_CODCOMP_DEPARTMENT_DISP,
      setDepartmentSelected: types.SET_HCM_LOV_CODCOMP_DEPARTMENT_SELECTED,
      setDepartments: types.SET_HCM_LOV_CODCOMP_DEPARTMENTS,
      setModalDisp: templateTypes.SET_MODAL_DISP
    }),
    ...mapActions({
      receivedPopupCodcompLabels: types.RECEIVED_HCM_LOV_CODCOMP_LABELS,
      receivedPopupCodcompHistories: types.RECEIVED_HCM_LOV_CODCOMP_HISTORIES,
      updatePopupCodcompHistory: types.UPDATE_HCM_LOV_CODCOMP_HISTORY,
      receivedDepartmentSubDetail: types.RECEIVED_HCM_LOV_CODCOMP_DEPARTMENT_SUB_DETAIL,
      receivedBaseDepartments: types.RECEIVED_HCM_LOV_CODCOMP_BASE_DEPARTMENTS
    })
  },
  components: {
    detail,
    departmentSearchDropdown
  }
}
</script>

<style src="./assets/style.scss" lang='scss'></style>