<template>
  <div class="dash-item dashboard-banner dash-meeting-room">
    <div class="card-box _bg-orange">
	    <div class="content-banner row">
		    <div class="banner-header-icon">
		      <div class="dropdown pull-right">
		        <div class="dropdown-icon dropdown-toggle" data-toggle="dropdown">
		        	<i class="fa fa-cog" aria-hidden="true"></i>
		          <span class="caret"></span>
		        </div>
		        <ul class="dropdown-menu">
		          <div class="triangle"></div>
		          <div class="dropdown-box">
	            <li @click="hideWidget(widgetName)">hide widget</li>
		          </div>
		        </ul>
		      </div>
		      <div class="dropdown pull-right">
		        <div class="dropdown-icon dropdown-toggle">
		        	<i class="ion-plus"></i>
		        </div>
		      </div>
		    </div>
	      <div class="_left">
	      	<img class="img" :src="require('@/assets/image/contact-list/emp2.jpg')">
	      </div>
	      <div class="_right">
	      	<div class="item">
	      		<div class="icon"><i class="ion-person"></i></div>
	      		<div class="text -regular">{{ meetingRoom.name }}</div>
	      	</div>
	      	<div class="item">
	      		<div class="icon"><i class="fa fa-clock-o"></i></div>
	      		<div class="text -light">{{ meetingRoom.date }} ( {{ meetingRoom.time }} )</div>
	      	</div>
	      	<div class="item">
	      		<div class="icon"><i class="fa fa-map-marker"></i></div>
	      		<div class="text -light">{{ meetingRoom.location }}</div>
	      	</div>
	      </div>
	    </div>
	  </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as types from '../../store/mutation-types'

export default {
  name: 'dash-meeting-room',
  data () {
    return {
      widgetName: 'meetingRoom'
    }
  },
  props: {
    hideWidget: {
      type: Function
    }
  },
  created () {
    this.receivedMeetingRoom()
  },
  computed: {
    ...mapGetters({
      meetingRoom: types.GET_MEETING_ROOM
    })
  },
  methods: {
    ...mapActions({
      receivedMeetingRoom: types.RECEIVED_MEETING_ROOM
    })
  }
}
</script>