<template>
  <div name="logical-statement-main">
    <list-view v-if="!list.flgEdit"
               :totalLists="totalLists"
               :list="list"
               :index="index"
               :linkList="linkList"
               :unlinkList="unlinkList"
               :ungroupList="ungroupList"
               :editList="editList"
               :deleteList="deleteList" />
    <list-edit v-if="list.flgEdit"
               :list="list"
               :index="index"
               :setDescConjAndDescStmt="setDescConjAndDescStmt"
               :viewList="viewList"
               :findInputType="findInputType"
               :listFields="listFields"
               :listConjunctions="listConjunctions"
               :listOperators="listOperators" />
  </div>
</template>

<script>
  import listView from './listView'
  import listEdit from './listEdit'
  export default {
    name: 'logical-statement-main',
    props: {
      totalLists: {
        type: Number,
        default: 0
      },
      list: {
        type: Object,
        required: true
      },
      index: {
        type: Number
      },
      setDescConjAndDescStmt: {
        type: Function
      },
      linkList: {
        type: Function
      },
      unlinkList: {
        type: Function
      },
      ungroupList: {
        type: Function
      },
      viewList: {
        type: Function
      },
      editList: {
        type: Function
      },
      deleteList: {
        type: Function
      },
      findInputType: {
        type: Function
      },
      listFields: {
        type: Array,
        required: true
      },
      listConjunctions: {
        type: Object,
        required: true
      },
      listOperators: {
        type: Array,
        required: true
      }
    },
    components: {
      listView,
      listEdit
    }
  }
</script>