<template>
  <div name="logical-statement-edit" class="addlist-wrapper clearfix">
    <template v-if="typeof editList.conj !== 'undefined'">
      <div class="list-box -edit clearfix">
        <div class="pull-left" style="font-weight: bold;">Conjunction</div>
        <i class="fa fa-check ungroup-button" @click="viewList(index, editList)" />
        <select v-model="editList.conj"
                v-validate="'required'" data-vv-name="listConjunction"
                class="select-input-1"
                :class="{ 'input-error' : errors.has('listConjunction') }">
          <option v-for="(val, key) in listConjunctions" :key="key" :value="key">{{ val }}</option>
        </select>
        <span v-show="errors.has('listConjunction')" class="validate-text">{{ errors.first('listConjunction') }}</span>
      </div>
    </template>
    <template v-if="typeof editList.conj === 'undefined'">
      <div class="list-box -edit clearfix">
        <div class="pull-left" style="font-weight: bold;">Statement</div>
        <i class="fa fa-check ungroup-button" @click="viewList(index, editList)" />
        <select v-model="editList.field"
                v-validate="'required'" data-vv-name="listField"
                class="select-input-1"
                :class="{ 'input-error' : errors.has('listField') }">
          <option v-for="(listField, listFieldIndex) in listFields" :key="listFieldIndex" :value="listField.code">{{ listField.description }}</option>
        </select>
        <span v-show="errors.has('listField')" class="validate-text">{{ errors.first('listField') }}</span>
        <select v-model="editList.operator"
                v-validate="'required'" data-vv-name="listOperator"
                class="select-input-2"
                :class="{ 'input-error' : errors.has('listOperator') }">
          <option v-for="(listOperator, listOperatorIndex) in listOperators" :key="listOperatorIndex" v-if="listOperator.type.indexOf(findInputType(editList.field)) > -1" :value="listOperator.code">{{ listOperator.description }}</option>
        </select>
        <span v-show="errors.has('listOperator')" class="validate-text">{{ errors.first('listOperator') }}</span>
        <input v-if="findInputType(editList.field) === 'number'"
               type="number" v-model="editList.value"
               v-validate="'required'" data-vv-name="listValue"
               class="text-input"
               :class="{ 'input-error' : errors.has('listValue') }" />
        <input v-if="findInputType(editList.field) === 'varchar2'"
               type="text" v-model="editList.value"
               v-validate="'required'" data-vv-name="listValue"
               class="text-input"
               :class="{ 'input-error' : errors.has('listValue') }" />
        <hrms-datepicker  v-if="findInputType(editList.field) === 'date'"
                          v-model="editList.value" 
                          v-validate="'required|date_format:DD/MM/YYYY'"
                          data-vv-value-path="inputDate"
                          data-vv-name="listValue"
                          name="listValue"
                          :has-error="errors.has('listValue')" />
        <span v-show="errors.has('listValue')" class="validate-text">{{ errors.first('listValue') }}</span>
      </div>
    </template>
  </div>
</template>

<script>
  export default {
    name: 'logical-statement-edit',
    data () {
      return {
        editList: this.list
      }
    },
    watch: {
      'editList.conj' () {
        this.setDescConjAndDescStmt(this.editList)
      },
      'editList.field' () {
        this.setDescConjAndDescStmt(this.editList)
      },
      'editList.operator' () {
        this.setDescConjAndDescStmt(this.editList)
      },
      'editList.value' () {
        this.setDescConjAndDescStmt(this.editList)
      },
      list (newVal) {
        this.editList = newVal
      }
    },
    props: {
      list: {
        type: Object,
        required: true
      },
      index: {
        type: Number
      },
      viewList: {
        type: Function
      },
      setDescConjAndDescStmt: {
        type: Function
      },
      findInputType: {
        type: Function
      },
      listFields: {
        type: Array,
        required: true
      },
      listConjunctions: {
        type: Object,
        required: true
      },
      listOperators: {
        type: Array,
        required: true
      }
    }
  }
</script>