<template>
  <transition name="modal">
    <div v-show="showModal" class="modal-mask">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <slot name="header">
              <div class="modal-title">กำหนดเงื่อนไข</div>
              <div class="ion-android-close close" @click.prevent="closeModal()" ref="closeBtn"></div>
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              <div class="logical-wrapper">
                <div class="title">Condition</div>
                <lists    :lists="lists"
                          :listFields="listFields"
                          :listConjunctions="listConjunctions"
                          :listOperators="listOperators"
                          :findInputType="findInputType"
                          :setDescConjAndDescStmt="setDescConjAndDescStmt"
                          :viewList="viewList"
                          :editList="editList"
                          :deleteList="deleteList"
                          :linkList="linkList"
                          :unlinkList="unlinkList"
                          :groupList="groupList"
                          :ungroupList="ungroupList"
                          :totalLink="totalLink"
                          @setLists="setLists(arguments[0])" />
                <add-list :rootNode="lists.length === 0"
                          :totalLists="lists.length"
                          :list="list"
                          :listDisp="listDisp"
                          :objConj="objConj"
                          :listFields="listFields"
                          :listConjunctions="listConjunctions"
                          :listOperators="listOperators"
                          :nowLang="nowLang"
                          :addList="addList"
                          :resetLists="resetLists"
                          :back="back"
                          :submit="submit"
                          :findInputType="findInputType"
                          :showAddList="showAddList"
                          :validStmt="validStmt"
                          :closeModal="closeModal" />
              </div>
            </slot>
          </div>

        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import lists from './lists'
  import addList from './addList'

  export default {
    name: 'logical-statement-popup',
    methods: {
      setLists (myLists) {
        this.$emit('setLists', myLists)
      }
    },
    props: {
      showModal: {
        type: Boolean
      },
      closeModal: {
        type: Function
      },
      name: {
        type: String,
        required: true
      },
      lists: {
        type: Array,
        required: true
      },
      listFields: {
        type: Array,
        required: true
      },
      listConjunctions: {
        type: Object,
        required: true
      },
      listOperators: {
        type: Array,
        required: true
      },
      nowLang: {
        type: String,
        default: 'th'
      },
      viewList: {
        type: Function
      },
      editList: {
        type: Function
      },
      deleteList: {
        type: Function
      },
      setDescConjAndDescStmt: {
        type: Function
      },
      linkList: {
        type: Function
      },
      unlinkList: {
        type: Function
      },
      groupList: {
        type: Function
      },
      ungroupList: {
        type: Function
      },
      totalLink: {
        type: Number
      },
      validStmt: {
        type: Boolean,
        default: true
      },
      rootNode: {
        type: Boolean
      },
      list: {
        type: Object,
        default () {
          return {
            field: '',
            operator: '',
            value: ''
          }
        }
      },
      listDisp: {
        type: Boolean,
        defaul: false
      },
      objConj: {
        type: Object,
        default: ''
      },
      addList: {
        type: Function
      },
      resetLists: {
        type: Function
      },
      back: {
        type: Function
      },
      submit: {
        type: Function
      },
      findInputType: {
        type: Function
      },
      showAddList: {
        type: Function
      }
    },
    components: {
      lists,
      addList
    }
  }
</script>
