<template>
  <div id="help" class="body-wrapper help-page">
    <hcm-banner :imgPath="require('@/assets/image/PY/icon-90b.png')"
                title="Help for PeoplePlus HCM"/>
    <div class="panel-header align-center">
      <div class="header1">Introduction to people plus hcm</div>
      <div class="row">
        <div class="col-1 col-md-3"></div>
        <div class="col-10 col-md-6">
          <div class="header2">Welcome to the PeoplepPlus HCM User Guide Choose a Module and function below to find answer, get step-by-step instruction, and develop your skills.</div>
        </div>
      </div>
    </div>
    <div class="panel-module row group-space-lg">
      <template v-for="(module, key) in modules">
        <div class="module-item col-sm-6 col-md-6 col-lg-4">
          <div class="module-name _text-blue">{{ key }}</div>
          <div class="module-desc _text-blue">{{ module.description.en }}</div>
          <div class="module-detail">xxxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxxxx</div>
          <div class="module-detail _text-blue">+ View Guide</div>
        </div>
        <br>
      </template>
    </div>
  </div>
</template>

<script>
import * as typesTemplate from '../template/store/mutation-types'
import { mapGetters } from 'vuex'

export default {
  name: 'Help',
  data () {
    return {
      app: this.$root.$children[0],
      inputUsername: '',
      codapp: this.$route.params.codapp
    }
  },
  computed: {
    ...mapGetters({
      modules: typesTemplate.GET_MODULES
    })
  }
}
</script>

<style src="./assets/style.scss" lang="scss"></style>