<template>
    <div name="hrms-change-label">
      <div class="input-group _unmargin">
        <input class="icon-input" v-model="inputValue" :disabled="disabled"/>
        <span class="icon fa fa-globe" style="verticle-align: middle; color: #3279b4;" @click.prevent="!disabled && callClickSearch()" />
      </div>
      <transition name="modal">
        <div v-show="showModal" class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container _unpadding">
  
              <div class="modal-header">
                <slot name="header">
                  <div class="modal-title">{{ labels[nowLang]['CHANGE_LABEL']['5'] }}</div>
                  <div class="ion-android-close close" @click.prevent="closeModal()" ref="closeBtn"></div>
                </slot>
              </div>
  
              <div class="modal-body">
                <slot name="body">
                  <div class="input-group" style="padding: 0 15%">
                    <div class="label">{{ labels[nowLang]['CHANGE_LABEL']['0'] }}</div>
                    <input class="normal-input" type="text" name="input" v-model="data.ti_descode">
                    <div class="validator-text"></div>
                  </div>
                  <div class="input-group" style="padding: 0 15%">
                    <div class="label">{{ labels[nowLang]['CHANGE_LABEL']['1'] }}</div>
                    <input class="normal-input" type="text" name="input" v-model="data.ti_descodt">
                    <div class="validator-text"></div>
                  </div>
                  <div class="input-group" style="padding: 0 15%">
                    <div class="label">{{ labels[nowLang]['CHANGE_LABEL']['2'] }}</div>
                    <input class="normal-input" type="text" name="input" v-model="data.ti_descod3">
                    <div class="validator-text"></div>
                  </div>
                  <div class="input-group" style="padding: 0 15%">
                    <div class="label">{{ labels[nowLang]['CHANGE_LABEL']['3'] }}</div>
                    <input class="normal-input" type="text" name="input" v-model="data.ti_descod4">
                    <div class="validator-text"></div>
                  </div>
                  <div class="input-group" style="padding: 0 15%">
                    <div class="label">{{ labels[nowLang]['CHANGE_LABEL']['4'] }}</div>
                    <input class="normal-input" type="text" name="input" v-model="data.ti_descod5">
                    <div class="validator-text"></div>
                  </div>
                </slot>
              </div>
              <div class="modal-footer" style="padding-right: 15%; padding-left: 15%; float: left;">
                <button type="button" class="button-md _bg-grey" @click.prevent="closeModal()" value="Back"><i class="fa fa-times-circle"></i>cancel</button>   
                <div type="button" class="button-md _bg-green"  @click="saveHrmsChangeLabelData(saveParams())" value="save"><i class="fa fa-check-circle"></i>save</div>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import * as types from './store/mutation-types'
import * as templateTypes from '../../modules/main/template/store/mutation-types'
import assetsLabels from 'assets/js/labels'

export default {
  name: 'hrms-change-label',
  data () {
    return {
      showModal: false,
      inputValue: this.value
    }
  },
  watch: {
    value () {
      this.inputValue = this.value
      this.receivedHrmsChangeLabelData(this.inputValue)
    },
    inputValue () {
      this.$emit('input', this.inputValue)
    }
  },
  created () {
    this.receivedHrmsChangeLabelLabels()
    this.receivedHrmsChangeLabelData(this.inputValue)
  },
  props: {
    value: {
      type: String,
      required: true
    },
    nowLang: {
      type: String,
      default: assetsLabels.defaultLang
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapGetters({
      data: types.GET_HRMS_CHANGE_LABEL_DATA,
      labels: types.GET_HRMS_CHANGE_LABEL_LABELS
    })
  },
  methods: {
    saveParams () {
      return this.data
    },
    closeModal () {
      this.showModal = false
      this.setModalDisp(false)
    },
    callClickSearch () {
      this.showModal = true
      this.setModalDisp(true)
    },
    ...mapMutations({
      setModalDisp: templateTypes.SET_MODAL_DISP
    }),
    ...mapActions({
      receivedHrmsChangeLabelLabels: types.RECEIVED_HRMS_CHANGE_LABEL_LABELS,
      receivedHrmsChangeLabelData: types.RECEIVED_HRMS_CHANGE_LABEL_DATA,
      saveHrmsChangeLabelData: types.SAVE_HRMS_CHANGE_LABEL_DATA
    })
  }
}
</script>
