<template>
<div name="hrms-table" class="wrapper-hrms-table">
  <div class="top-table"  v-show="!loadingBool && !preLoadBool">
    <div v-show="headerDisp" class="top-higher-order">
      <higher-order-component
                  :higherOrderLabels="headerLabels"
                  :higherOrderData="headerData"
                  :higherOrderEvent="headerEvent"
                  :higherOrderComponent="headerComponent"
      />
    </div>

    <div class="top-option-table">
      <div class="control-search" v-if="searchDisp">
        <input class="search-table" type="text" v-model="inputSearch" @keyup="currentPage = 1" placeholder="Search" :disabled="searchBool" />
      </div>
      <!-- <div class="inline-button">
        <i class="fa fa-users" aria-hidden="true"></i>
      </div> -->
      <div class="inline-button" @click="addInlineEventBuiltIn()" v-if="addInlineEventBool">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
      </div>
      <div class="inline-button" v-show="csvExportDisp">
        <csv-exporter :dataRows="dataTableRows" :filteredBodyColumns="filteredBodyColumns" />
      </div>
      <div name="column-setting" class="columnsetting" v-show="columnSettingDisp">
        <div class="dropdown pull-right">
          <div class="inline-button dropdown-icon dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-sliders" aria-hidden="true"></i>
          </div>
          <ul class="dropdown-menu" :class="[ columnDropdownDisp ? 'show' : '']">
          <div class="triangle"></div>
          <div class="dropdown-box" @click.stop="">
            <draggable v-model="filterSettingColumns" class="clearfix item-group" :options="{ group: 'columnDraggable' }">
              <template v-for="(column, columnIndex) in filterSettingColumns">
                <li :key="columnIndex">
                  <div class="checkbox-group _unmargin">
                    <input class="checkbox-true" type="checkbox" :id="column.key + column.labelCodapp" v-model="column.enabled">
                    <label class="checkbox-fake _unmargin" :for="column.key + column.labelCodapp"></label>
                    <label class="checkbox-label" :for="column.key + column.labelCodapp" style="left: 35px;">{{ column.name }}</label>
                  </div>
                </li>
              </template>
            </draggable>
          </div>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="table-hrms table-main clearfix" :class="{ 'loading' : loadingBool || preLoadBool }">
    <table>
      <thead>
        <tr v-for="(headerRow, headerIndex) in maxRowspan" :key="headerIndex" v-if="headerColumnsFn(headerRow).length > 0">
          <template v-if="headerRow == 1">
            <th :rowspan="maxRowspan" v-if="tickEvent">{{button[nowLang].select}}</th>
            <th v-if="indexDisp" :rowspan="maxRowspan"><i class="fa fa-hashtag"></i></th>
            <th v-if="selectEvent" :rowspan="maxRowspan" style="min-width: 90px">
              <template v-if="!selectRowBool">
                <div class="checkbox-table" @click="countSelect()">
                  <i :class="'ion-android-' + [ selectBtn == 0 ? 'checkbox-outline-blank' : 'checkbox _text-blue' ]" class="icon-select"></i>
                </div>
              </template>
              <template v-else>
                Select
              </template>
            </th>
            <th v-if="userStatusEvent && userStatusBtnDisp" :rowspan="maxRowspan" style="min-width: 90px">
              <template v-if="!userStatusRowBool">
                <div @click="countUserStatus()" :class="[ userStatusBtn == 0 ? 'user-status-none' : userStatusBtn == 1 ? 'user-status-current' : 'user-status-suspend' ]" class="cursor-pointer">
                  <i :class="'fa fa-' + [ userStatusBtn == 0 ? 'circle-o-notch' : userStatusBtn == 1 ? 'check-circle' : 'times-circle' ]" class="icon-user-status"></i>{{userStatusDesc}}
                </div>
              </template>
              <template v-else>
                UserStatus
              </template>
            </th>
            <th v-if="approveEvent && approveBtnDisp" :rowspan="maxRowspan" style="min-width: 90px">
              <template v-if="!approveRowBool">
                <div style="font-weight: 400;" @click="countStaappr()" :class="[ staapprBtn == 0 ? 'sta-none' : staapprBtn == 1 ? 'sta-approve' : 'sta-reject' ]" class="cursor-pointer">
                  <i :class="'fa fa-' + [ staapprBtn == 0 ? 'circle-o-notch' : staapprBtn == 1 ? 'check-circle' : 'ban' ]" class="icon-status"></i>{{statusBtn}}
                </div>
              </template>
              <template v-else>
                Select
              </template>
            </th>
            <th class="thead-icon" :rowspan="maxRowspan" v-if="detailEvent">{{button[nowLang].detail}}</th>
            <th class="thead-icon" :rowspan="maxRowspan" v-if="editEvent">{{button[nowLang].edit}}</th>
            <th class="thead-icon" :rowspan="maxRowspan" v-if="cancelEvent">{{button[nowLang].cancel}}</th>
            <th class="thead-icon" :rowspan="maxRowspan" v-if="deleteInlineEventBool">
              <div @click="toggleDelete(!deleteIconBool)" :class="[ deleteIconBool ? 'main-del-checked' : 'main-del-unchecked' ]" class="cursor-pointer">
                <i :class="'fa fa-' + [ deleteIconBool ? 'trash' : 'trash' ]" class="icon-delete-desc"></i>
              </div>
            </th>
            <template v-if="typeof multiSelect == 'boolean'">
              <th v-if="multiSelect" :rowspan="maxRowspan"><input type="checkbox" v-model="checkedAll"/></th>
              <th v-if="!multiSelect" :rowspan="maxRowspan"><i class="fa fa-circle-o"></i></th>
            </template>
          </template>
          <template v-for="(column, columnIndex) in headerColumnsFn(headerRow)">
            <sort-column  v-show="enableHeaderColumn(column)"
                          :key="columnIndex"
                          :column="column"
                          :sortDisp="sortDisp"
                          @resetOthersColumnSortKey="resetOthersColumnSortKey(arguments[0])" />
          </template>
        </tr>
      </thead>
      <tbody v-show="!loadingBool && !preLoadBool">
        <template v-if="dataTableTotal > 0">
          <tr v-for="(dataRow, rowIndex) in dataTableRows"
              :key="rowIndex"
              v-if="rowIndex + 1 >= startRow && rowIndex + 1 <= endRow"
              :class="[ ( rowIndex + 1 )  % 2 == 0 ? 'even' :  'odd',
                        (dataRow.flgDelete && deleteInlineEventBool && !dataRow.flgAdd) ? 'flg-inline delete' : '' ]">

            <td class="align-center" v-if="tickEvent">
              <div class="button-in-td cursor-pointer">
                <i class="fa fa-check-circle text-green" @click="eventTrigger('tick', dataRow)"></i>
              </div>
            </td>
            <td v-if="indexDisp" class="align-center">
              <div :class="[ dataRow.flgEdit && !dataRow.flgAdd && !dataRow.flgDelete && editInlineEventBool ? 'flg-inline edit' : (dataRow.flgAdd && addInlineEventBool && !dataRow.flgDelete) ? 'flg-inline add' : '' ]"></div>
              {{ rowIndex + 1 }}
            </td>
            <td v-if="selectEvent">
              <template v-if="!selectRowBool">
                <select-button v-model="dataRow.flgSelect"/>
              </template>
              <template v-else>
                <select-button v-model="dataRow.flgSelect" @setDefaultSelect="selectAllSelectInPage('N')" :selectRowBool="true" />
              </template>
            </td>
            <td v-if="userStatusEvent && userStatusBtnDisp">
              <template v-if="!userStatusRowBool">
                <user-status-button v-model="dataRow.flgact"/>
              </template>
              <template v-else>
                <user-status-button v-model="dataRow.flgact" @setDefaultUserStatus="selectAllUserStatusInPage('1')" :userStatusRowBool="true" />
              </template>
            </td>
            <td v-if="approveEvent && approveBtnDisp">
              <template v-if="!approveRowBool">
                <staappr-button :disable="rowDisableConditionBuiltIn(dataRow)" v-model="dataRow.flgStaappr" :staappr="dataRow.staappr"/>
              </template>
              <template v-else>
                <staappr-button :disable="rowDisableConditionBuiltIn(dataRow)" v-model="dataRow.flgStaappr" :staappr="dataRow.staappr" @setDefaultStatus="selectAllStatusInPage('')" :approveRowBool="true" />
              </template>
            </td>
            <td v-if="detailEvent" class="align-center">
              <div class="table-button cursor-pointer" @click="detailEventBuiltIn(dataRow)">
                  <i class="fa fa-info-circle icon-detail text-orange"></i>
              </div>
            </td>
            <td class="align-center" v-if="editEvent">
              <div class="button-in-td cursor-pointer">
                <i class="fa fa-pencil text-blue" @click="eventTrigger('edit', dataRow)"></i>
              </div>
            </td>
            <td class="align-center" v-if="cancelEvent">
              <div class="button-in-td cursor-pointer">
                <i class="fa fa-times-circle _text-red" @click="eventTrigger('cancel', dataRow)"></i>
              </div>
            </td>
            <td class="align-center" v-if="deleteInlineEventBool">
              <delete-button :disable="rowDisableConditionBuiltIn(dataRow)" v-model="dataRow.flgDelete" />
            </td>
            <template v-if="typeof multiSelect == 'boolean'">
              <td v-if="multiSelect" class="align-center"><input type="checkbox" :value="dataRow" v-model="selectedRows" /></td>
              <td v-if="!multiSelect" class="align-center"><input type="radio" :value="dataRow" v-model="selectedRows" /></td>
            </template>
            <template v-for="(column, columnIndex) in filteredBodyColumns">
              <td v-show="column.enabled" :key="columnIndex" :class="[ (column.class) ? column.class : '', (typeof column.columnClassCondition === 'function') ? column.columnClassCondition(dataRow, column.key, rowIndex) : '' ]">
                <template v-if="typeof column.inlineType == 'undefined' || (column.columnDisabledCondition && column.columnDisabledCondition(dataRow, column.key, rowIndex))">
                  <template v-if="typeof column.tagType == 'undefined'">
                    <template v-if="typeof column.eventName == 'undefined'">
                      {{ dataRow[column.key] }}
                    </template>
                    <template v-else>
                      <div>
                        <a href="#" @click="columnEvent(column.eventName, dataRow, $event)">
                          <template v-if="column.eventIcon">
                            <i :class="'fa fa-' + column.eventIcon"></i>
                          </template>
                          <template>
                            {{ dataRow[column.key] }}
                          </template>
                        </a>
                      </div>
                    </template>
                  </template>
                  <template v-else>
                    <template v-if="column.tagType == 'path_link'">
                      <div>
                        <a :href="(dataRow.path_link) ? dataRow.path_link : '#'" target="_blank" >
                          {{ dataRow[column.key] }}
                        </a>
                      </div>
                    </template>
                    <template v-else-if="column.tagType == 'file'">
                      <div>
                        <a :href="(dataRow.path_filename) ? dataRow.path_filename : '#'" download>
                          {{ dataRow[column.key] }}
                        </a>
                      </div>
                    </template>
                    <template v-else-if="column.tagType == 'image'">
                      <div class="emp-img-table" v-if="dataRow[column.key]">
                        <img class="emp-img" :src="dataRow[column.key]" height='20'>
                      </div>
                    </template>
                    <template v-else-if="column.tagType == 'imagelogo'">
                      <div v-if="dataRow[column.key]">
                        <img :src="dataRow[column.key]" height='20'>
                      </div>
                    </template>
                    <template v-else>
                      {{ dataRow[column.key] }}
                    </template>
                  </template>
                </template>
                <template v-else>
                  <template v-if="(!dataRow.flgAdd && !editInlineEventBool) || (!dataRow.flgAdd && column.inlineFlgEditDisabled) || dataRow.flgDelete || rowDisableConditionBuiltIn(dataRow)">
                    <template v-if="typeof column.tagType == 'undefined'">
                      <template v-if="column.inlineType == 'select' && column.inlineDropdown">
                        {{ dataRow[column.key] }} - {{ column.inlineDropdown[dataRow[column.key]] }}
                      </template>
                      <template v-else-if="column.inlineType == 'logical' || column.inlineType == 'calculator'">
                        {{ dataRow[column.key].description }}
                      </template>
                      <template v-else-if="column.inlineType == 'calculator'">
                        {{ dataRow[column.key].desc_formula }}
                      </template>
                      <template v-else-if="column.inlineType == 'checkbox'">
                        <input type="checkbox" v-model="dataRow[column.key]" disabled />
                      </template>
                      <template v-else>
                        {{ dataRow[column.key] }}
                      </template>
                    </template>
                    <template v-else>
                      <template v-if="column.tagType == 'path_link'">
                        <div>
                          <a :href="(dataRow.path_link) ? dataRow.path_link : '#'" target="_blank" >
                            {{ dataRow[column.key] }}
                          </a>
                        </div>
                      </template>
                      <template v-else-if="column.tagType == 'file'">
                        <div>
                          <a :href="(dataRow.path_filename) ? dataRow.path_filename : '#'" download>
                            {{ dataRow[column.key] }}
                          </a>
                        </div>
                      </template>
                      <template v-else>
                        {{ dataRow[column.key] }}
                      </template>
                    </template>
                  </template>
                  <template v-else>
                    <template v-if="typeof column.tagType == 'undefined'">
                      <template v-if="column.inlineType == 'text'">
                        <input  @keyup="columnEvent(column.eventName, dataRow, $event)"
                                @change="onSelectChangeEditInlineAndColumnEvent(column.eventName, dataRow, $event)"
                                @focusout="columnEvent(column.eventName, dataRow, $event)"
                                @focusin="columnEvent(column.eventName, dataRow, $event)"
                                v-validate="findValidateRules(column.validateRules, rowIndex)"
                                :data-vv-as="column.key"
                                :name="column.key + rowIndex"
                                type="text"
                                v-model="dataRow[column.key]" />
                      </template>
                      <template v-if="column.inlineType == 'number'">
                        <input  @keyup="columnEvent(column.eventName, dataRow, $event)"
                                @change="onSelectChangeEditInlineAndColumnEvent(column.eventName, dataRow, $event)"
                                @focusout="columnEvent(column.eventName, dataRow, $event)"
                                @focusin="columnEvent(column.eventName, dataRow, $event)"
                                v-validate="findValidateRules(column.validateRules, rowIndex)"
                                :data-vv-as="column.key"
                                :name="column.key + rowIndex"
                                type="number"
                                v-model="dataRow[column.key]" />
                      </template>
                      <template v-else-if="column.inlineType == 'select'">
                        <hrms-dropdown  @change.native="onSelectChangeEditInlineAndColumnEvent(column.eventName, dataRow, $event)"
                                        v-model="dataRow[column.key]"
                                        :options="column.inlineDropdown"
                                        v-validate="findValidateRules(column.validateRules, rowIndex)"
                                        data-vv-value-path="inputValue"
                                        :data-vv-as="column.key"
                                        :data-vv-name="column.key + rowIndex"
                                        :name="column.key + rowIndex"
                                        :has-error="errors.has(column.key + rowIndex)" />
                      </template>
                      <template v-else-if="column.inlineType == 'lov'">
                        <template v-if="column.lovType === 'codcomp'">
                          <hcm-lov-codcomp    @keyup.native="columnEvent(column.eventName, dataRow, $event)"
                                              @change.native="onSelectChangeEditInlineAndColumnEvent(column.eventName, dataRow, $event)"
                                              @changeLov="onSelectChangeEditInlineAndColumnEvent(column.eventName, dataRow, $event)"
                                              @focusout.native="columnEvent(column.eventName, dataRow, $event)"
                                              @focusin.native="columnEvent(column.eventName, dataRow, $event)"
                                              :flgInlineTable="true"
                                              :descDisp="false"
                                              :autoComplete="false"
                                              v-model="dataRow[column.key]"
                                              :nowLang="nowLang"
                                              v-validate="findValidateRules(column.validateRules, rowIndex)"
                                              data-vv-value-path="inputValue"
                                              :data-vv-as="column.key + rowIndex"
                                              :data-vv-name="column.key + rowIndex"
                                              :name="column.key + rowIndex"
                                              :has-error="errors.has(column.key + rowIndex)" />
                        </template>
                        <template v-else>
                          <hcm-lov        @keyup.native="columnEvent(column.eventName, dataRow, $event)"
                                          @change.native="onSelectChangeEditInlineAndColumnEvent(column.eventName, dataRow, $event)"
                                          @changeLov="onSelectChangeEditInlineAndColumnEvent(column.eventName, dataRow, $event)"
                                          @focusout.native="columnEvent(column.eventName, dataRow, $event)"
                                          @focusin.native="columnEvent(column.eventName, dataRow, $event)"
                                          :flgInlineTable="true"
                                          :descDisp="false"
                                          :autoComplete="false"
                                          v-model="dataRow[column.key]"
                                          :nowLang="nowLang"
                                          :lovType="column.lovType"
                                          v-validate="findValidateRules(column.validateRules, rowIndex)"
                                          data-vv-value-path="inputValue"
                                          :data-vv-as="column.key + rowIndex"
                                          :data-vv-name="column.key + rowIndex"
                                          :name="column.key + rowIndex"
                                          :has-error="errors.has(column.key + rowIndex)" />
                        </template>
                      </template>
                      <template v-else-if="column.inlineType == 'textarea'">
                        <div class="td-textarea">
                          <textarea @keyup="columnEvent(column.eventName, dataRow, $event)"
                                    @change="onSelectChangeEditInlineAndColumnEvent(column.eventName, dataRow, $event)"
                                    @focusout="columnEvent(column.eventName, dataRow, $event)"
                                    @focusin="columnEvent(column.eventName, dataRow, $event)"
                                    v-validate="findValidateRules(column.validateRules, rowIndex)"
                                    :class="{ 'input-error' : errors.has(column.key + rowIndex) }"
                                    :data-vv-as="column.key"
                                    :name="column.key + rowIndex"
                                    v-model="dataRow[column.key]" />
                        </div>
                      </template>
                      <template v-else-if="column.inlineType == 'date'">
                        <hrms-datepicker  @keyup.native="columnEvent(column.eventName, dataRow, $event)"
                                          @change.native="onSelectChangeEditInlineAndColumnEvent(column.eventName, dataRow, $event)"
                                          @changeInputDate="onSelectChangeEditInlineAndColumnEvent(column.eventName, dataRow)"
                                          @focusout.native="columnEvent(column.eventName, dataRow, $event)"
                                          @focusin.native="columnEvent(column.eventName, dataRow, $event)"
                                          v-model="dataRow[column.key]"
                                          v-validate="findValidateRules(column.validateRules, rowIndex)"
                                          data-vv-value-path="inputDate"
                                          :data-vv-as="column.key"
                                          :data-vv-name="column.key + rowIndex"
                                          :name="column.key + rowIndex"
                                          :has-error="errors.has(column.key + rowIndex)" />
                      </template>
                      <template v-else-if="column.inlineType == 'time'">
                        <hrms-timepicker  @keyup.native="columnEvent(column.eventName, dataRow, $event)"
                                          @change.native="onSelectChangeEditInlineAndColumnEvent(column.eventName, dataRow, $event)"
                                          @changeInputTime="onSelectChangeEditInlineAndColumnEvent(column.eventName, dataRow)"
                                          @focusout.native="columnEvent(column.eventName, dataRow, $event)"
                                          @focusin.native="columnEvent(column.eventName, dataRow, $event)"
                                          v-model="dataRow[column.key]"
                                          v-validate="findValidateRules(column.validateRules, rowIndex)"
                                          data-vv-value-path="inputTime"
                                          :data-vv-as="column.key"
                                          :data-vv-name="column.key + rowIndex"
                                          :name="column.key + rowIndex"
                                          :has-error="errors.has(column.key + rowIndex)" />
                      </template>
                      <template v-else-if="column.inlineType == 'logical'">
                        <hrms-logical-statement
                                @changeInputLogical="onSelectChangeEditInlineAndColumnEvent(column.eventName, dataRow)"
                                v-model="dataRow[column.key]"
                                :tableMode="true"
                                :listFields="column.inlineLogicalListFields"
                                :nowLang="nowLang"
                                :name="column.key + rowIndex" />
                      </template>
                      <template v-else-if="column.inlineType == 'calculator'">
                        <hcm-calculator
                                @changeInputCalculator="onSelectChangeEditInlineAndColumnEvent(column.eventName, dataRow)"
                                v-model="dataRow[column.key]"
                                :tableMode="true" />
                      </template>
                      <template v-else-if="column.inlineType == 'checkbox'">
                        <input type="checkbox" v-model="dataRow[column.key]" />
                      </template>
                      <template v-else-if="column.inlineType == 'changeLabel'">
                        <div class="input-group">
                          <!-- <input class="normal-input" v-model="dataRow[column.key]" /> -->
                          <!-- <hrms-change-label :code="dataRow[column.key]" /> -->
                          <hrms-change-label v-model="dataRow[column.key]" :code="dataRow[column.key]" />
                        </div>
                      </template>
                      <div v-show="errors.has(column.key + rowIndex)" class="validator-text -error">{{ errors.first(column.key + rowIndex) }}</div>
                    </template>
                  </template>
                </template>
              </td>
            </template>
          </tr>
          <tr v-if="summaryDisp()">
            <td :colspan="preSummaryColumn" class="even align-right summary-row">{{ summaryLabel }}</td>
            <template v-for="(column, columnIndex) in filteredBodyColumns">
              <template v-if="columnIndex >= notPreSummaryColumn">
                <td :key="columnIndex" class="even align-right summary-row " v-if="column.summary">{{ summaryColumn(column) }}</td>
                <td :key="columnIndex" class="even" v-else></td>
              </template>
            </template>
          </tr>
        </template>
        <template v-else>
          <tr>
            <td :colspan="noDataColumn" class="even no-data-found">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No data found.</td>
          </tr>
        </template>
      </tbody>
    </table>
    <div v-show="preLoadBool" class="infinite-loading-container preLoad">Please fill information to search.</div>
    <div v-show="!preLoadBool && loadingBool" class="infinite-loading-container"><i class="loading-default"></i></div>
  </div>

  <div class="clearfix" v-if="!preLoadBool && !loadingBool && tablePageDisp">
    <div class='pull-left panel-perpage-bottom'>
      <div class="pull-left num-show">
       Show {{ startRow }} to {{ endRow }} of {{ dataTableTotal }}
      </div>
    </div>
    <div class='pull-right paging-right-bottom' v-if="dataTableTotal > 0">
      <select v-model="displayRowSelected" class="select-perpage" :disabled="pageBool">
        <option v-for="(displayRow, displayRowIndex) in displayRowsFilter()" :key="displayRowIndex">{{ displayRow }}</option>
        <option value="999999">all</option>
      </select>
      <div class='pull-right panel-paging-bottom cursor-pointer'>
        <div class='paging' @click="setCurrentPage(1)"><i class='fa fa-angle-double-left'></i></div>
        <div class='paging' @click="setCurrentPage(currentPage - 1)"><i class='fa fa-angle-left'></i></div>
        <template v-for="(page, pageIndex) in totalPage">
          <div :key="pageIndex" class='paging' :class="{ 'paging-focus' : page == currentPage }" @click="setPageClicked(page)" v-show="filterPage(page)">{{ page }}</div>
        </template>
        <div class='paging' @click="setCurrentPage(currentPage + 1)"><i class='fa fa-angle-right'></i></div>
        <div class='paging' @click="setCurrentPage(totalPage)"><i class='fa fa-angle-double-right'></i></div>
      </div>
    </div>
  </div>

  <div class="bottom-table-left clearfix">
    <div class="panel-control-bottom" v-show="!loadingBool && !preLoadBool">
      <div class="control-search">
        <div class="button-md _bg-red" @click="deleteInlineEventBuiltIn()" v-if="deleteInlineEventBool && deleteInlineBtnDisp" :disabled="true">
          <i class="fa fa-trash" aria-hidden="true"></i>{{ button[nowLang].delete }}
        </div>
        <div class="button-md _bg-blue" @click="eventTrigger('add')" v-if="addEvent && addBtnDisp">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>{{ button[nowLang].add }}
        </div>

        <div class="button-md _bg-grey" @click="backEvent('index')" v-if="backEvent">
          <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>{{ button[nowLang].back }}
        </div>
        <div class="button-md _bg-green" @click="saveInlineEventBuiltIn()" v-if="(addInlineEventBool || editInlineEventBool ||deleteInlineEventBool) && saveInlineBtnDisp" :disabled="true">
          <i class="fa fa-check-circle" aria-hidden="true"></i>{{ button[nowLang].save }}
        </div>
        <div class="button-md _bg-green" @click="approveEvent(dataTableRows)" v-if="approveEvent && approveBtnDisp && dataTableTotal > 0">
          <i class="fa fa-check-circle" aria-hidden="true"></i>{{ button[nowLang].approve }}
        </div>
        <div class="button-md _bg-green" @click="selectEvent(dataTableRows)" v-if="selectEvent && selectBtnDisp && dataTableTotal > 0">
          <i class="fa fa-check-circle" aria-hidden="true"></i>{{ button[nowLang].select }}
        </div>
        <div class="button-md _bg-green" @click="userStatusEvent(dataTableRows)" v-if="userStatusEvent && userStatusBtnDisp && dataTableTotal > 0">
          <i class="fa fa-check-circle" aria-hidden="true"></i>{{ button[nowLang].save }}
        </div>
      </div>
    </div>
  </div>

  <higher-order-component
              v-show="footerDisp"
              :higherOrderLabels="headerLabels"
              :higherOrderData="footerData"
              :higherOrderComponent="footerComponent"
  />
</div>
</template>

<script>
import assetsLabels from 'assets/js/labels'

export default {
  name: 'hrms-table',
  props: require('./assets/props'),
  data () {
    return {
      filteredBodyColumns: [],
      localColumns: Object.assign([], this.columns),
      button: assetsLabels.button,
      loadingBool: this.loadingParentBool,
      preLoadBool: this.preLoadParentBool,
      searchBool: false,
      pageBool: false,
      windowWidth: 0,
      windowHeight: 0,
      deleteIconBool: false,
      deleteIconDesc: 'None',
      statusBtn: 'None',
      staapprBtn: 0,
      selectDesc: 'None',
      selectBtn: 0,
      userStatusDesc: 'None',
      userStatusBtn: 0,
      radioAll: '',
      sortKey: '',
      inputSearch: '',
      selectedRows: this.value,
      currentPage: this.page,
      displayRowSelected: this.limit,
      displayRows: [ 5, 10, 25, 50, 100, 250, 500, 1000 ],
      template: this.$root.$children[0].$children[1],
      columnDropdownDisp: false
    }
  },
  created () {
    this.filteredBodyColumns = this.bodyColumnsFn()
    window.addEventListener('resize', this.handleResize)
    this.handleResize()
    if (!this.tablePageDisp) {
      this.displayRowSelected = 1000
    }
  },
  beforeMount () {
    this.filteredBodyColumns = this.bodyColumnsFn()
    for (let column of this.filteredBodyColumns) {
      this.$set(column, 'sortNum', column.sortNum || 0)
      this.$set(column, 'enabled', column.enabled || true)
    }
    this.initialLocalKeyOnDataTableRows()
  },
  mounted () {
    this.$on('$saveInlineEventBuiltIn', () => {
      this.saveInlineEventBuiltIn()
    })
    this.$on('$selectEventBuiltIn', () => {
      this.selectEventBuiltIn()
    })
    this.$on('$clearTableInputSearch', () => {
      this.inputSearch = ''
    })
  },
  watch: require('./assets/watch'),
  computed: require('./assets/computed'),
  methods: require('./assets/methods'),
  components: require('./assets/components'),
  beforeDestroy () {
    window.removeEventListener('resize', this.handleResize)
  }
}
</script>

<style src="./assets/style.scss" lang='scss'></style>
