<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.guarantee1Popup3 }" :aria-expanded="!flgCollapse.guarantee1Popup3" @click.self="setCollapseToggle('guarantee1Popup3')" data-parent="#guaranteePopup" href="#guarantee1-popup-tab3" >
      <div class="title" @click.self="setCollapseToggle('guarantee1Popup3')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('guarantee1Popup3')"></i>{{ labels['HRPMC2ED1']['310'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('guarantee1Popup3')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('guarantee1Popup3')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.guarantee1Popup3 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('guarantee1Popup3')"></i>
    </div>
    <div id="guarantee1-popup-tab3" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.guarantee1Popup3}">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6 group-space-md">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['320'] }}</div>
                <hrms-datepicker  v-model="popupGuarantee1.tab3.dteguarnt" 
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dteguarnt"
                                data-vv-as="Birth Date"
                                name="dteguarnt"
                                :disabled="popupDisabled"/>
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['330'] }}</div>
                <hrms-datepicker  v-model="popupGuarantee1.tab3.dteexpir" 
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dteexpir"
                                data-vv-as="Birth Date"
                                name="dteexpir"
                                :disabled="popupDisabled"/>
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['350'] }}</div>
                <input class="normal-input _twin" v-model="popupGuarantee1.tab3.lastmonth" :disabled="popupDisabled"/>
                <div class="slash">/</div>
                <input class="normal-input _twin" v-model="popupGuarantee1.tab3.lastyear" :disabled="popupDisabled"/>
            </div> 
          </div> 

          <div class="col-md-6 group-space-md">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['340'] }}</div>
              <div class="row">
                <div class="radio-group col-md-12">
                  <input class="radio-true" type="radio" id="cardtype1" name="cardtype1" v-model="popupGuarantee1.tab3.cardtyp" value="1" :disabled="popupDisabled"/>
                  <label class="radio-fake" for="cardtype1" ></label>
                  <label class="radio-label" for="cardtype1">{{ labels['HRPMC2ED1']['341'] }}</label>
                </div>
                <div class="radio-group col-md-12">
                  <input class="radio-true"  type="radio" id="cardtype2" name="cardtype2" v-model="popupGuarantee1.tab3.cardtyp" value="2" :disabled="popupDisabled"/>
                  <label class="radio-fake" for="cardtype2"></label>
                  <label class="radio-label" for="cardtype2">{{ labels['HRPMC2ED1']['342'] }}</label>
                </div>  
                <div class="radio-group col-md-12">
                  <input class="radio-true"  type="radio" id="cardtype3" name="cardtype3" v-model="popupGuarantee1.tab3.cardtyp" value="3" :disabled="popupDisabled"/>
                  <label class="radio-fake" for="cardtype3"></label>
                  <label class="radio-label" for="cardtype3">{{ labels['HRPMC2ED1']['343'] }}</label>
                </div>   
              </div>   
            </div>       
          </div> 
        </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'hrpmc2e-guarantee1-popup-tab3',
  props: [ 'nowLang',
    'labels',
    'labelsButton',
    'popupGuarantee1',
    'popupDisabled',
    'popupDisabled',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle'
  ]
}
</script>
