<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.guarantee1 }" :aria-expanded="!flgCollapse.guarantee1" @click.self="setCollapseToggle('guarantee1')" data-parent="#guarantee" href="#guarantee1" >
      <div class="title" @click.self="setCollapseToggle('guarantee1')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('guarantee1')"></i>{{ labels['HRPMC2ED1']['10'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('guarantee1')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('guarantee1')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.guarantee1 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('guarantee1')"></i>
    </div>
    <div id="guarantee1" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.guarantee1}">
      <div class="panel-body">
          <div class="col-xs-12">
              <hrms-table v-show="detailDisabled" 
                          :columns="guarntee1Columns"
                          :nowLang="nowLang"
                          :data="detail"
                          :searchDisp="false"
                          :tablePageDisp="false" 
                        />
              <hrms-table v-show="!detailDisabled"
                          :labels="labels"
                          :columns="guarntee1Columns" 
                          :data="detail"
                          :nowLang="nowLang"
                          :searchDisp="false"
                          :addEvent="addEvent"
                          :editEvent="editEvent"
                          :deleteInlineEventBool="true"
                          :deleteInlineBtnDisp="false"
                          :saveInlineBtnDisp="false"
                          :tablePageDisp="false" />
          </div>
          <div class="col-md-12 ">
            <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
            <button v-if="!detailDisabled" type="button" class="button-sm _bg-small-button pull-right" @click="togglePopupChangeDetail()">รายละเอียดการแก้ไข</button>
            <button type="button" hidden data-toggle="modal" ref="changeDetailBtn" :data-target="'#' + modalID"></button>  
          </div>
      </div>
      <guarantee1-popup :labels="labels"
                        :nowLang="nowLang"
                        :dropdowns="dropdowns"
                        :labelsButton="labelsButton"
                        :detail="detail"
                        :guarantee1Selected="guarantee1Selected"
                        :popupGuarantee1="popupGuarantee1"
                        :saveHrpmc2eGuarantee1Popup="saveHrpmc2eGuarantee1Popup"
                        :popupDisabled="popupDisabled"
                        @setPopupDisabled="popupDisabled = arguments[0]"
                        :codempidQuery="codempidQuery" />
       <input type="hidden" data-toggle="modal" data-target="#hrpmc2e-guarantee1-popup" ref="popupGuarAddBtn" />
  </div>
    <change-detail-popup :labels="labels"
                         :modalID="modalID"
                         :nowLang="nowLang"
                         :changeDetailColumns="changeDetailColumns"
                         :labelsButton="labelsButton" 
                         :popupChangeDetail="popupChangeDetail"/>
  </div>
</template>

<script>
import guarantee1Popup from './guarantee1Popup'
import changeDetailPopup from '../changeDetailPopup'

export default {
  name: 'hrpmc2e-guarntee1',
  data () {
    return {
      modalID: 'hrpmc2e-guarntee1',
      popupDisabled: false
    }
  },
  methods: {
    addEvent (param) {
      let popupParams = {}
      this.popupDisabled = true
      this.receivedHrpmc2eGuarantee1PopupCreate(popupParams)
      this.$refs.popupGuarAddBtn.click()
    },
    editEvent (dataRow) {
      let popupParams = {}
      this.popupDisabled = false
      this.setGuarantee1Selected(dataRow)
      this.receivedHrpmc2eGuarantee1Popup(popupParams)
      this.$refs.popupGuarAddBtn.click()
    },
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  },
  props: [ 'nowLang',
    'labels',
    'labelsButton',
    'dropdowns',
    'detail',
    'guarntee1Columns',
    'changeDetailColumns',
    'popupChangeDetail',
    'receivedHrpmc2eChangeDetailPopup',
    'guarantee1Selected',
    'popupGuarantee1',
    'setGuarantee1Selected',
    'saveHrpmc2eGuarantee1',
    'saveHrpmc2eGuarantee1Popup',
    'receivedHrpmc2eGuarantee1Popup',
    'receivedHrpmc2eGuarantee1PopupCreate',
    'codempidQuery',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'detailDisabled',
    'setPinCollapseToggle'
  ],
  components: {
    changeDetailPopup,
    guarantee1Popup
  }
}
</script>
