<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.guarantee3 }" :aria-expanded="!flgCollapse.guarantee3" @click.self="setCollapseToggle('guarantee3')" data-parent="#guarantee" href="#guarantee3" >
      <div class="title" @click.self="setCollapseToggle('guarantee3')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('guarantee3')"></i>{{ labels['HRPMC2ED3']['10'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('guarantee3')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('guarantee3')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.guarantee3 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('guarantee3')"></i>
    </div>
    <div id="guarantee3" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.guarantee3}">
      <div class="panel-body">
          <div class="col-xs-12">
              <hrms-table v-show="detailDisabled" 
                          :columns="guarntee3Columns"
                          :nowLang="nowLang"
                          :data="detail"
                          :searchDisp="false"
                          :tablePageDisp="false" 
                        />
              <hrms-table v-show="!detailDisabled"
                          :labels="labels"
                          :columns="guarntee3Columns" 
                          :data="detail"
                          :nowLang="nowLang"
                          :searchDisp="false"
                          :addEvent="addEvent"
                          :editEvent="editEvent"
                          :deleteInlineEventBool="true"
                          :deleteInlineBtnDisp="false"
                          :saveInlineBtnDisp="false"
                          :tablePageDisp="false"/>
           
            
          </div>
          <div class="col-md-12 ">
            <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
            <button v-if="!detailDisabled" type="button" class="button-sm _bg-small-button pull-right" @click="togglePopupChangeDetail()">รายละเอียดการแก้ไข</button>
            <button type="button" hidden data-toggle="modal" ref="changeDetailBtn" :data-target="'#' + modalID"></button>  
          </div>
    </div>

      <guarantee3-popup :labels="labels"
                        :nowLang="nowLang"
                        :dropdowns="dropdowns"
                        :labelsButton="labelsButton"
                        :detail="popupGuarantee3"
                        :guarantee3Selected="guarantee3Selected"
                        :popupGuarantee3="popupGuarantee3"
                        :saveHrpmc2eGuarantee3Popup="saveHrpmc2eGuarantee3Popup"
                        :popupDisabled="popupDisabled"
                        @setPopupDisabled="popupDisabled = arguments[0]"
                        :codempidQuery="codempidQuery" />
                        
       <input type="hidden" data-toggle="modal" data-target="#hrpmc2e-guarantee3-popup" ref="popupGuarAddBtn" />
    
  </div>
    <change-detail-popup :labels="labels"
                         :modalID="modalID"
                         :nowLang="nowLang"
                         :changeDetailColumns="changeDetailColumns"
                         :labelsButton="labelsButton" 
                         :popupChangeDetail="popupChangeDetail"/>
  </div>
</template>

<script>
import guarantee3Popup from './guarantee3Popup'
import changeDetailPopup from '../changeDetailPopup'

export default {
  name: 'hrpmc2e-guarntee3',
  data () {
    return {
      modalID: 'hrpmc2e-guarntee3',
      popupDisabled: false
    }
  },
  methods: {
    addEvent (param) {
      let popupParams = {}
      this.popupDisabled = true
      this.receivedHrpmc2eGuarantee3PopupCreate(popupParams)
      this.$refs.popupGuarAddBtn.click()
    },
    editEvent (dataRow) {
      let popupParams = {}
      this.popupDisabled = false
      this.setGuarantee3Selected(dataRow)
      this.receivedHrpmc2eGuarantee3Popup(popupParams)
      this.$refs.popupGuarAddBtn.click()
    },
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  },
  props: [ 'nowLang',
    'labels',
    'labelsButton',
    'dropdowns',
    'detail',
    'guarntee3Columns',
    'changeDetailColumns',
    'popupChangeDetail',
    'receivedHrpmc2eChangeDetailPopup',
    'guarantee3Selected',
    'popupGuarantee3',
    'setGuarantee3Selected',
    'saveHrpmc2eGuarantee3',
    'saveHrpmc2eGuarantee3Popup',
    'receivedHrpmc2eGuarantee3Popup',
    'receivedHrpmc2eGuarantee3PopupCreate',
    'codempidQuery',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'detailDisabled',
    'setPinCollapseToggle'
  ],
  components: {
    changeDetailPopup,
    guarantee3Popup
  }
}
</script>
