<template>
  <div name="hrpmc2e-guarantee1-popup" class="modal-group">
  	<div id="hrpmc2e-guarantee1-popup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  		<div class="modal-dialog modal-lg">
  	    <div class="modal-content">
  	      <div class="modal-header">
            <div class="modal-title">{{ labels['HRPMC2ED1']['70'] }}</div>
            <div class="close ion-android-close" data-dismiss="modal"></div>
            <div class="tag fa fa-tag"></div>
          </div>
          <div class="modal-body">
            <div class="group-space-col3">
              <div class="clearfix">
                <div class="row">
                  <div class="col-md-6 group-space-mg">
                    <div class="input-group">
                      <div class="label">{{ labels['HRPMC2ED1']['80'] }}</div>
                        <input class="normal-input" v-model="popupGuarantee1.detail.codguar" />
                    </div>
                  </div> 
                  <div class="col-md-3" style="padding-top: 35px;">
                    <div type="button" class="button-md _bg-blue" @click="callSearch()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>  
                  </div> 
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="collapse-group">  
                      <div class="panel-group" id="guaranteePopup">            
                        <guarantee1-tab1  :labels="labels"
                                          :labelsButton="labelsButton"
                                          :nowLang="nowLang"
                                          :dropdowns="dropdowns"
                                          :popupGuarantee1="popupGuarantee1"
                                          :popupDisabled="popupDisabled" 
                                          :flgCollapse="flgCollapseGuarantee"
                                          :setCollapseToggle="setCollapseToggleGuarantee"
                                          :pinCollapse="pinCollapseGuarantee"
                                          :setPinCollapseToggle="setPinCollapseToggleGuarantee" />

                        <guarantee1-tab2  :labels="labels"
                                          :labelsButton="labelsButton"
                                          :nowLang="nowLang"
                                          :popupGuarantee1="popupGuarantee1"
                                          :popupDisabled="popupDisabled"
                                          :flgCollapse="flgCollapseGuarantee"
                                          :setCollapseToggle="setCollapseToggleGuarantee"
                                          :pinCollapse="pinCollapseGuarantee"
                                          :setPinCollapseToggle="setPinCollapseToggleGuarantee"  />

                        <guarantee1-tab3  :labels="labels"
                                          :labelsButton="labelsButton"
                                          :nowLang="nowLang"
                                          :popupGuarantee1="popupGuarantee1"
                                          :popupDisabled="popupDisabled"
                                          :flgCollapse="flgCollapseGuarantee"
                                          :setCollapseToggle="setCollapseToggleGuarantee"
                                          :pinCollapse="pinCollapseGuarantee"
                                          :setPinCollapseToggle="setPinCollapseToggleGuarantee"  />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 group-space-md">
                    <div class="changedetail-group">
                      <div class="img-box">
                        <img class="menu-icon" :src="require('@/assets/image/ex-photo.png')">
                      </div>
                      <div class="detail-box">
                        <div class="label-box">
                          <div class="editor-label">{{ labels['HRPMC2ED1']['360'] }} : </div>
                          <div class="editor-label">{{ labels['HRPMC2ED1']['370'] }} :</div>
                        </div>
                        <div class="data-box">
                          <div class="editor-data">{{popupGuarantee1.detail.dteupdate}}</div>
                          <div class="editor-data">53100 - {{popupGuarantee1.detail.updateby}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div> 
            </div>
          </div>
          <div class="modal-footer">
            <div type="button" class="button-md _bg-grey"  value="cancel"><i class="fa fa-times-circle"></i>{{ labelsButton['cancel'] }}</div>  
            <div type="button" class="button-md _bg-blue"  @click="saveHrpmc2eGuarantee1Popup(saveParams())" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div>
          </div>

  	    </div>
      </div>
  	</div>
  </div>
</template>

<script>
import guarantee1Tab1 from './guarantee1Popup_1'
import guarantee1Tab2 from './guarantee1Popup_2'
import guarantee1Tab3 from './guarantee1Popup_3'

export default {
  name: 'hrpmc2e-guarantee1-popup',
  data () {
    return {
      pinCollapseGuarantee: {
        guarantee1Popup1: false,
        guarantee1Popup2: false,
        guarantee1Popup3: false
      },
      flgCollapseGuarantee: {
        guarantee1Popup1: false,
        guarantee1Popup2: true,
        guarantee1Popup3: true
      }
    }
  },
  props: [ 'labels',
    'nowLang',
    'labelsButton',
    'detail',
    'dropdowns',
    'popupGuarantee1',
    'guarantee1Selected',
    'saveHrpmc2eGuarantee1Popup',
    'popupDisabled',
    'setPopupDisabled',
    'codempidQuery'
  ],
  methods: {
    resetCollapseGuarantee () {
      this.flgCollapseGuarantee = {
        guarantee1Popup1: false,
        guarantee1Popup2: true,
        guarantee1Popup3: true
      }
      this.pinCollapseGuarantee = {
        guarantee1Popup1: false,
        guarantee1Popup2: false,
        guarantee1Popup3: false
      }
    },
    setPinCollapseToggleGuarantee (tab) {
      this.pinCollapseGuarantee[tab] = !this.pinCollapseGuarantee[tab]
    },
    setCollapseToggleGuarantee (tab) {
      for (let collapseTab in this.flgCollapseGuarantee) {
        if (collapseTab !== tab) {
          if (!this.pinCollapseGuarantee[collapseTab]) {
            this.flgCollapseGuarantee[collapseTab] = true
          }
        }
      }
      this.flgCollapseGuarantee[tab] = !this.flgCollapseGuarantee[tab]
    },
    callSearch () {
      this.$emit('setPopupDisabled', false)
    },
    saveParams () {
      return {
        searchParams: this.codempidQuery,
        detail: this.popupGuarantee1
      }
    }
  },
  components: {
    guarantee1Tab1,
    guarantee1Tab2,
    guarantee1Tab3
  }
}
</script>