<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.guarantee1Popup2 }" :aria-expanded="!flgCollapse.guarantee1Popup2" @click.self="setCollapseToggle('guarantee1Popup2')" data-parent="#guaranteePopup" href="#guarantee1-popup-tab2" >
      <div class="title" @click.self="setCollapseToggle('guarantee1Popup2')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('guarantee1Popup2')"></i>{{ labels['HRPMC2ED1']['250'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('guarantee1Popup2')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('guarantee1Popup2')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.guarantee1Popup2 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('guarantee1Popup2')"></i>
    </div>
    <div id="guarantee1-popup-tab2" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.guarantee1Popup2}">
      <div class="panel-body">

        <div class="row">
          <div class="col-md-6 group-space">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['260'] }}</div>
                <div class="row">
                  <div class="radio-group col-md-12">
                    <input class="radio-true" type="radio" id="card1" name="card1" v-model="popupGuarantee1.tab2.cardtyp" value="1" :disabled="popupDisabled"/>
                    <label class="radio-fake" for="card1" ></label>
                    <label class="radio-label" for="card1">{{ labels['HRPMC2ED1']['261'] }}</label>
                  </div>
                  <div class="radio-group col-md-12">
                    <input class="radio-true"  type="radio" id="card2" name="card2" v-model="popupGuarantee1.tab2.cardtyp" value="2" :disabled="popupDisabled"/>
                    <label class="radio-fake" for="card2"></label>
                    <label class="radio-label" for="card2">{{ labels['HRPMC2ED1']['262'] }}</label>
                  </div>  
                  <div class="radio-group col-md-12">
                    <input class="radio-true"  type="radio" id="card3" name="card3" v-model="popupGuarantee1.tab2.cardtyp" value="3" :disabled="popupDisabled"/>
                    <label class="radio-fake" for="card3"></label>
                    <label class="radio-label" for="card3">{{ labels['HRPMC2ED1']['263'] }}</label>
                  </div>   
                </div>   
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['270'] }}</div>
                <input class="normal-input" v-model="popupGuarantee1.tab2.cardid" :disabled="popupDisabled"/>
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['280'] }}</div>
                <hrms-datepicker  v-model="popupGuarantee1.tab2.dteexpir" 
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dteexpir"
                                data-vv-as="Birth Date"
                                name="dteexpir"
                                :disabled="popupDisabled"/>
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['290'] }}</div>
                <textarea class="normal-textarea" v-model="popupGuarantee1.tab2.note" :disabled="popupDisabled"/></textarea> 
            </div>
          </div> 

          <div class="col-md-6 group-space">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['300'] }}</div>
                <hrms-dropzone  :fileNameQuery="popupGuarantee1.tab2.fileupload"
                                :imgNameFile="paramSearch.fileupload"
                                :name="'GuaranteeP2'"
                                :flgToggle="fileuploadDisp"
                                ref="hrmsDropzone"
                                :disabled="popupDisabled" />
            </div>
          </div> 
        </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'hrpmc2e-guarantee1-popup-tab2',
  data () {
    return {
      paramSearch: {
        fileupload: ''
      },
      fileuploadDisp: true
    }
  },
  props: [ 'nowLang',
    'labels',
    'labelsButton',
    'popupGuarantee1',
    'popupDisabled',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle'
  ]
}
</script>
