<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.guarantee1Popup1 }" :aria-expanded="!flgCollapse.guarantee1Popup1" @click.self="setCollapseToggle('guarantee1Popup1')" data-parent="#guaranteePopup" href="#guarantee1-popup-tab1" >
      <div class="title" @click.self="setCollapseToggle('guarantee1Popup1')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('guarantee1Popup1')"></i>{{ labels['HRPMC2ED1']['70'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('guarantee1Popup1')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('guarantee1Popup1')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.guarantee1Popup1 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('guarantee1Popup1')"></i>
    </div>
    <div id="guarantee1-popup-tab1" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.guarantee1Popup1}">
      <div class="panel-body">

        <div class="row">
          <div class="col-md-6 group-space">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['90'] }}</div>
                <hrms-dropzone  :fileNameQuery="popupGuarantee1.tab1.imgupload"
                                :imgNameFile="paramSearch.imgupload"
                                :name="'GuaranteeP1'"
                                :flgToggle="imguploadDisp"
                                ref="hrmsDropzone"
                                :disabled="popupDisabled" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['100'] }}</div>
                <hrms-dropdown  v-model="popupGuarantee1.tab1.codtitle" 
                                :options="dropdowns.codtitle[nowLang]"
                                :disabled="popupDisabled" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['110'] }}</div>
                <input class="normal-input" v-model="popupGuarantee1.tab1.codnam" :disabled="popupDisabled" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['120'] }}</div>
                <input class="normal-input" v-model="popupGuarantee1.tab1.codlnam" :disabled="popupDisabled" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['130'] }}</div>
                <hrms-datepicker  v-model="popupGuarantee1.tab1.bddte" 
                                  v-validate="'required|date_format:DD/MM/YYYY'"
                                  data-vv-value-path="inputDate"
                                  data-vv-name="bddte"
                                  data-vv-as="Birth Date"
                                  name="bddte"
                                  :disabled="popupDisabled" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['140'] }}</div>
                <input class="normal-input" v-model="popupGuarantee1.tab1.dteretment" :disabled="popupDisabled" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['150'] }}</div>
                <input class="normal-input" v-model="popupGuarantee1.tab1.relation" :disabled="popupDisabled" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['160'] }}</div>
                <textarea class="normal-textarea" v-model="popupGuarantee1.tab1.contactus" :disabled="popupDisabled" /></textarea> 
            </div>
             <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['170'] }}</div>
                <input class="normal-input" v-model="popupGuarantee1.tab1.codzip" :disabled="popupDisabled" />
            </div>
          </div> 

          <div class="col-md-6 group-space">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['180'] }}</div>
                <input class="normal-input" v-model="popupGuarantee1.tab1.telno" :disabled="popupDisabled" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['190'] }}</div>
                <input class="normal-input" v-model="popupGuarantee1.tab1.faxno" :disabled="popupDisabled" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['200'] }}</div>
                <input class="normal-input" v-model="popupGuarantee1.tab1.email" :disabled="popupDisabled" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['210'] }}</div>
                <hcm-lov   v-model="popupGuarantee1.tab1.codoccup"
                            :nowLang="nowLang"
                            lovType="codoccup"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="codoccup"
                            data-vv-name="codoccup"
                            name="codoccup"
                            :disabled="popupDisabled"  />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['220'] }}</div>
                <input class="normal-input" v-model="popupGuarantee1.tab1.position" :disabled="popupDisabled" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['230'] }}</div>
                <input class="normal-input" v-model="popupGuarantee1.tab1.incomem" :disabled="popupDisabled" />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2ED1']['240'] }}</div>
                <textarea class="normal-textarea" v-model="popupGuarantee1.tab1.workplc" :disabled="popupDisabled" /></textarea> 
            </div>
          </div> 
        </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'hrpmc2e-guarantee1-popup-tab1',
  data () {
    return {
      paramSearch: {
        imgupload: ''
      },
      imguploadDisp: true
    }
  },
  props: [ 'nowLang',
    'labels',
    'labelsButton',
    'dropdowns',
    'popupGuarantee1',
    'popupDisabled',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle'
  ]
}
</script>
