<template>
  <div name="hrpmc2e-guarantee2-popup" class="modal-group">
  	<div id="hrpmc2e-guarantee2-popup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  		<div class="modal-dialog modal-lg">
  	    <div class="modal-content">
  	      <div class="modal-header">
            <div class="modal-title">{{ labels['HRPMC2ED2']['60'] }}</div>
            <div class="close ion-android-close" data-dismiss="modal"></div>
            <div class="tag fa fa-tag"></div>
          </div>
          <div class="modal-body">
            <div class="clearfix">

              <div class="row">
                <div class="col-md-6 group-space-md">
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED2']['20'] }}</div>
                      <input class="normal-input" v-model="popupGuarantee2.numcolla" />
                  </div>
                </div> 
                <div class="col-md-3" style="padding-top: 35px;">
                  <div type="button" class="button-md _bg-blue" @click="callSearch()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>  
                </div> 
                <div class="underline-popup"></div>
              </div>
              <div class="row">
                <div class="col-md-6 group-space-md">
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED2']['50'] }}</div>
                      <input class="normal-input" v-model="popupGuarantee2.numdocum" :disabled="popupDisabled" />
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED2']['30'] }}</div>
                      <hcm-lov v-model="popupGuarantee2.typcolla"
                              :nowLang="nowLang"
                              lovType="codtypcolla"
                              v-validate="'required'"
                              :descDisp="false"
                              data-vv-value-path="inputValue"
                              data-vv-as="codtypcolla"
                              data-vv-name="codtypcolla"
                              name="codtypcolla"
                              :disabled="popupDisabled"  />
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED2']['40'] }}</div>
                      <input class="normal-input" type="text" name="input" v-model="popupGuarantee2.amtcolla" :disabled="popupDisabled"><div class="unit">{{ labels['HRPMC2ED2']['41'] }}</div>
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED2']['70'] }}</div>
                      <input class="normal-input" v-model="popupGuarantee2.dtecolla" :disabled="popupDisabled" />
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED2']['80'] }}</div>
                      <input class="normal-input" v-model="popupGuarantee2.dteeffec" :disabled="popupDisabled" />
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED2']['90'] }}</div>
                      <input class="normal-input" v-model="popupGuarantee2.dtertdoc" :disabled="popupDisabled" />
                  </div>
                </div> 
                <div class="col-md-6 group-space-md">
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED2']['100'] }}</div>
                      <textarea class="normal-textarea" v-model="popupGuarantee2.descoll" :disabled="popupDisabled" ></textarea>
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED2']['110'] }}</div>
                      <hrms-dropzone  :fileNameQuery="popupGuarantee2.namimage"
                                      :imgNameFile="paramSearch.namimage"
                                      :name="'Guarantee'"
                                      :flgToggle="imageuploadDisp"
                                      ref="hrmsDropzone"
                                      :disabled="popupDisabled" />
                  </div>
                  <div class="input-group">
                  <div class="label">{{ labels['HRPMC2ED2']['120'] }}</div>
                    <div class="row">
                      <div class="radio-group col-md-12">
                        <input class="radio-true" type="radio" id="status1" name="status1" v-model="popupGuarantee2.status" value="1" :disabled="popupDisabled"/>
                        <label class="radio-fake" for="status1" ></label>
                        <label class="radio-label" for="status1">{{ labels['HRPMC2ED2']['121'] }}</label>
                      </div>
                      <div class="radio-group col-md-12">
                        <input class="radio-true"  type="radio" id="status2" name="status2" v-model="popupGuarantee2.status" value="2" :disabled="popupDisabled"/>
                        <label class="radio-fake" for="status2"></label>
                        <label class="radio-label" for="status2">{{ labels['HRPMC2ED2']['122'] }}</label>
                      </div>     
                    </div>   
                  </div>
                </div> 
              </div>
              <div class="row">
                <div class="col-md-6 group-space-lg">
                  <div class="changedetail-group">
                    <div class="img-box">
                      <img class="menu-icon" :src="require('@/assets/image/ex-photo.png')">
                    </div>
                    <div class="detail-box">
                      <div class="label-box">
                        <div class="editor-label">{{ labels['HRPMC2ED2']['130'] }} : </div>
                        <div class="editor-label">{{ labels['HRPMC2ED2']['140'] }} :</div>
                      </div>
                      <div class="data-box">
                        <div class="editor-data">{{popupGuarantee2.dteupdate}}</div>
                        <div class="editor-data">53100 - {{popupGuarantee2.updateby}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
          <div class="modal-footer">
            <div type="button" class="button-md _bg-grey"  value="cancel"><i class="fa fa-times-circle"></i>{{ labelsButton['cancel'] }}</div>  
            <div type="button" class="button-md _bg-blue"  @click="saveHrpmc2eGuarantee2Popup(saveParams())" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div>
          </div>
  	    </div>
      </div>
    </div>
	</div>
</template>

<script>
export default {
  name: 'hrpmc2e-guarantee2-popup',
  data () {
    return {
      paramSearch: {
        namimage: ''
      },
      imageuploadDisp: true
    }
  },
  props: [ 'labels',
    'nowLang',
    'labelsButton',
    'detail',
    'popupGuarantee2',
    'guarantee2Selected',
    'saveHrpmc2eGuarantee2Popup',
    'popupDisabled',
    'codempidQuery'
  ],
  methods: {
    callSearch () {
      this.$emit('setPopupDisabled', false)
    },
    saveParams () {
      return {
        searchParams: this.codempidQuery,
        detail: this.popupGuarantee2
      }
    }
  }
}
</script>