<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.guarantee2 }" :aria-expanded="!flgCollapse.guarantee2" @click.self="setCollapseToggle('guarantee2')" data-parent="#guarantee" href="#guarantee2" >
      <div class="title" @click.self="setCollapseToggle('guarantee2')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('guarantee2')"></i>{{ labels['HRPMC2ED2']['10'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('guarantee2')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('guarantee2')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.guarantee2 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('guarantee2')"></i>
    </div>
    <div id="guarantee2" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.guarantee2}">
      <div class="panel-body">
        <div class="col-xs-12">
            <hrms-table v-show="detailDisabled" 
                        :columns="guarntee2Columns"
                        :nowLang="nowLang"
                        :data="detail"
                        :searchDisp="false"
                        :tablePageDisp="false" 
                      />
            <hrms-table v-show="!detailDisabled"
                        :labels="labels"
                        :columns="guarntee2Columns" 
                        :data="detail"
                        :nowLang="nowLang"
                        :searchDisp="false"
                        :addEvent="addEvent"
                        :editEvent="editEvent"
                        :deleteInlineEventBool="true"
                        :deleteInlineBtnDisp="false"
                        :saveInlineBtnDisp="false"
                        :tablePageDisp="false"/>
        </div>
        <div class="col-md-12 ">
          <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
          <button v-if="!detailDisabled" type="button" class="button-sm _bg-small-button pull-right" @click="togglePopupChangeDetail()">รายละเอียดการแก้ไข</button>
          <button type="button" hidden data-toggle="modal" ref="changeDetailBtn" :data-target="'#' + modalID"></button>  
        </div>
    </div>
      <guarantee2-popup :labels="labels"
                        :nowLang="nowLang"
                        :labelsButton="labelsButton"
                        :detail="popupGuarantee2"
                        :guarantee2Selected="guarantee2Selected"
                        :popupGuarantee2="popupGuarantee2"
                        :saveHrpmc2eGuarantee2Popup="saveHrpmc2eGuarantee2Popup"
                        :popupDisabled="popupDisabled"
                        @setPopupDisabled="popupDisabled = arguments[0]"
                        :codempidQuery="codempidQuery" />
       <input type="hidden" data-toggle="modal" data-target="#hrpmc2e-guarantee2-popup" ref="popupGuarAddBtn" />
  </div>
    <change-detail-popup :labels="labels"
                         :modalID="modalID"
                         :nowLang="nowLang"
                         :changeDetailColumns="changeDetailColumns"
                         :labelsButton="labelsButton" 
                         :popupChangeDetail="popupChangeDetail"/>
  </div>
</template>

<script>
import guarantee2Popup from './guarantee2Popup'
import changeDetailPopup from '../changeDetailPopup'

export default {
  name: 'hrpmc2e-guarntee2',
  data () {
    return {
      modalID: 'hrpmc2e-guarntee2',
      popupDisabled: false
    }
  },
  methods: {
    addEvent (param) {
      let popupParams = {}
      this.popupDisabled = true
      this.receivedHrpmc2eGuarantee2PopupCreate(popupParams)
      this.$refs.popupGuarAddBtn.click()
    },
    editEvent (dataRow) {
      let popupParams = {}
      this.popupDisabled = false
      this.setGuarantee2Selected(dataRow)
      this.receivedHrpmc2eGuarantee2Popup(popupParams)
      this.$refs.popupGuarAddBtn.click()
    },
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  },
  props: [ 'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'guarntee2Columns',
    'changeDetailColumns',
    'popupChangeDetail',
    'receivedHrpmc2eChangeDetailPopup',
    'guarantee2Selected',
    'popupGuarantee2',
    'setGuarantee2Selected',
    'saveHrpmc2eGuarantee2',
    'saveHrpmc2eGuarantee2Popup',
    'receivedHrpmc2eGuarantee2Popup',
    'receivedHrpmc2eGuarantee2PopupCreate',
    'codempidQuery',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'detailDisabled',
    'setPinCollapseToggle'
  ],
  components: {
    changeDetailPopup,
    guarantee2Popup
  }
}
</script>
