<template>
  <div name="hrpmc2e-guarantee3-popup" class="modal-group">
    <div id="hrpmc2e-guarantee3-popup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    	<div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">{{ labels['HRPMC2ED3']['10'] }}</div>
            <div class="close ion-android-close" data-dismiss="modal"></div>
            <div class="tag fa fa-tag"></div>
          </div>
          <div class="modal-body">
            <div class="clearfix">
              <div class="row">
                <div class="col-md-6 group-space-md">
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED3']['70'] }}</div>
                      <input class="normal-input" v-model="popupGuarantee3.codempid" />
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED3']['71'] }}</div>
                  </div>
                </div> 
                <div class="col-md-3" style="padding-top: 35px;">
                  <div type="button" class="button-md _bg-blue" @click="callSearch()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>  
                </div>
                <div class="underline-popup"></div> 
              </div>
              <div class="row">
                <div class="col-md-6 group-space-md">
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED3']['80'] }}</div>
                      <input class="normal-input" v-model="popupGuarantee3.numseq" :disabled="popupDisabled" />
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED3']['90'] }}</div>
                      <hrms-dropzone  :fileNameQuery="popupGuarantee3.imgupload"
                                      :imgNameFile="paramSearch.imgupload"
                                      :name="'Guarantee1'"
                                      :flgToggle="imguploadDisp"
                                      ref="hrmsDropzone"
                                      :disabled="popupDisabled" />
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED3']['100'] }}</div>
                      <hrms-dropdown  v-model="popupGuarantee3.codtitle" 
                                      :options="dropdowns.codtitle[nowLang]"
                                      :disabled="popupDisabled"/>
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED3']['110'] }}</div>
                      <input class="normal-input" v-model="popupGuarantee3.codnam" :disabled="popupDisabled" />
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED3']['120'] }}</div>
                      <input class="normal-input" v-model="popupGuarantee3.codlnam" :disabled="popupDisabled" />
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED3']['130'] }}</div>
                      <input class="normal-input" v-model="popupGuarantee3.relation" :disabled="popupDisabled" />
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED3']['140'] }}</div>
                      <input class="normal-input" v-model="popupGuarantee3.codpos" :disabled="popupDisabled" />
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED3']['150'] }}</div>
                      <input class="normal-input" v-model="popupGuarantee3.address" :disabled="popupDisabled" />
                  </div>
                </div> 
                <div class="col-md-6 group-space-md">
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED3']['160'] }}</div>
                      <textarea class="normal-textarea" v-model="popupGuarantee3.codcomp" :disabled="popupDisabled" ></textarea>
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED3']['170'] }}</div>
                      <input class="normal-input" v-model="popupGuarantee3.telno" :disabled="popupDisabled" />
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED3']['180'] }}</div>
                      <input class="normal-input" v-model="popupGuarantee3.email" :disabled="popupDisabled" />
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED3']['190'] }}</div>
                      <hcm-lov   v-model="popupGuarantee3.codoccup"
                                  :nowLang="nowLang"
                                  lovType="codoccup"
                                  v-validate="'required'"
                                  :descDisp="false"
                                  data-vv-value-path="inputValue"
                                  data-vv-as="codoccup"
                                  data-vv-name="codoccup"
                                  name="codoccup"  
                                  :disabled="popupDisabled"/>
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED3']['200'] }}</div>
                      <textarea class="normal-textarea" v-model="popupGuarantee3.note" :disabled="popupDisabled"></textarea>
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2ED3']['210'] }}</div>
                      <hrms-dropzone  :fileNameQuery="popupGuarantee3.fileupload"
                                      :imgNameFile="paramSearch.fileupload"
                                      :name="'Guarantee2'"
                                      :flgToggle="fileuploadDisp"
                                      ref="hrmsDropzone"
                                      :disabled="popupDisabled" />
                  </div>

                </div> 
              </div>
            </div> 
          </div>
          <div class="modal-footer">
            <div type="button" class="button-md _bg-grey"  value="cancel"><i class="fa fa-times-circle"></i>{{ labelsButton['cancel'] }}</div>  
            <div type="button" class="button-md _bg-blue"  @click="saveHrpmc2eGuarantee3Popup(saveParams())" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hrpmc2e-guarantee3-popup',
  data () {
    return {
      paramSearch: {
        imgupload: '',
        fileupload: ''
      },
      imguploadDisp: true,
      fileuploadDisp: true
    }
  },
  methods: {
    callSearch () {
      this.$emit('setPopupDisabled', false)
    },
    saveParams () {
      return {
        detail: this.popupGuarantee3,
        searchParams: this.codempidQuery
      }
    }
  },
  props: [ 'labels',
    'nowLang',
    'labelsButton',
    'dropdowns',
    'detail',
    'popupGuarantee3',
    'guarantee3Selected',
    'saveHrpmc2eGuarantee3Popup',
    'popupDisabled',
    'codempidQuery'
  ]
}
</script>