<template>
 <div class="collapse-group">
    <div class="panel-group" id="guarantee">
      <div class="panel">
        <guarantee1 :labels="labels"
                    :codempidQuery="codempidQuery"
                    :labelsButton="labelsButton"
                    :nowLang="nowLang"
                    :dropdowns="dropdowns"
                    :guarntee1Columns="columns.guarntee1"
                    :detail="detail.guarntee.guarntee1"
                    :changeDetailColumns="columns.changeDetail"
                    :popupChangeDetail="popupChangeDetail"
                    :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                    :guarantee1Selected="guarantee1Selected"
                    :popupGuarantee1="popupGuarantee1"
                    :saveHrpmc2eGuarantee1Popup="saveHrpmc2eGuarantee1Popup"
                    :saveHrpmc2eGuarantee1="saveHrpmc2eGuarantee1"
                    :setGuarantee1Selected="setGuarantee1Selected"
                    :receivedHrpmc2eGuarantee1Popup="receivedHrpmc2eGuarantee1Popup"
                    :receivedHrpmc2eGuarantee1PopupCreate="receivedHrpmc2eGuarantee1PopupCreate"
                    :flgCollapse="flgCollapse"
                    :setCollapseToggle="setCollapseToggle"
                    :pinCollapse="pinCollapse"
                    :detailDisabled="detailDisabled"
                    :setPinCollapseToggle="setPinCollapseToggle" />
      
        <guarantee2 :labels="labels"
                    :codempidQuery="codempidQuery"
                    :labelsButton="labelsButton"
                    :nowLang="nowLang"
                    :guarntee2Columns="columns.guarntee2"
                    :detail="detail.guarntee.guarntee2"
                    :changeDetailColumns="columns.changeDetail"
                    :popupChangeDetail="popupChangeDetail"
                    :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                    :guarantee2Selected="guarantee2Selected"
                    :popupGuarantee2="popupGuarantee2"
                    :saveHrpmc2eGuarantee2="saveHrpmc2eGuarantee2"
                    :saveHrpmc2eGuarantee2Popup="saveHrpmc2eGuarantee2Popup"
                    :setGuarantee2Selected="setGuarantee2Selected"
                    :receivedHrpmc2eGuarantee2Popup="receivedHrpmc2eGuarantee2Popup"
                    :receivedHrpmc2eGuarantee2PopupCreate="receivedHrpmc2eGuarantee2PopupCreate"
                    :flgCollapse="flgCollapse"
                    :setCollapseToggle="setCollapseToggle"
                    :pinCollapse="pinCollapse"
                    :detailDisabled="detailDisabled"
                    :setPinCollapseToggle="setPinCollapseToggle"   />

        <guarantee3 :labels="labels"
                    :codempidQuery="codempidQuery"
                    :labelsButton="labelsButton"
                    :nowLang="nowLang"
                    :dropdowns="dropdowns"
                    :guarntee3Columns="columns.guarntee3"
                    :detail="detail.guarntee.guarntee3"
                    :changeDetailColumns="columns.changeDetail"
                    :popupChangeDetail="popupChangeDetail"
                    :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                    :guarantee3Selected="guarantee3Selected"
                    :popupGuarantee3="popupGuarantee3"
                    :saveHrpmc2eGuarantee3="saveHrpmc2eGuarantee3"
                    :saveHrpmc2eGuarantee3Popup="saveHrpmc2eGuarantee3Popup"
                    :setGuarantee3Selected="setGuarantee3Selected"
                    :receivedHrpmc2eGuarantee3Popup="receivedHrpmc2eGuarantee3Popup"
                    :receivedHrpmc2eGuarantee3PopupCreate="receivedHrpmc2eGuarantee3PopupCreate"
                    :flgCollapse="flgCollapse"
                    :setCollapseToggle="setCollapseToggle"
                    :pinCollapse="pinCollapse"
                    :detailDisabled="detailDisabled"
                    :setPinCollapseToggle="setPinCollapseToggle"  />


    </div>
     <div class="group-space" style="padding-top: 40px">
        <!-- <div type="button" class="button-md _bg-red"  value="delete"><i class="fa fa-trash"></i>{{ labelsButton['delete'] }}</div>   -->
        <div v-if="detailDisabled" class="button-md -disable _bg-green-disable" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div>  
        <div v-if="!detailDisabled" class="button-md _bg-green" @click="saveHrpmc2eGuarantee(saveParams())" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div>  
        <!-- <div class="button-md _bg-green"  @click="callSave()" value="saveAndContinue"><i class="fa fa-check-circle"></i>{{ labelsButton['saveAndContinue'] }}</div>   -->
      </div>

    </div>
  </div>
</template>

<script>
import guarantee1 from './guarantee1'
import guarantee2 from './guarantee2'
import guarantee3 from './guarantee3'

export default {
  name: 'hrpmc2e-guarantee',
  data () {
    return {
      pinCollapse: {
        guarantee1: false,
        guarantee2: false,
        guarantee3: false
      },
      flgCollapse: {
        guarantee1: false,
        guarantee2: true,
        guarantee3: true
      }
    }
  },
  props: [ 'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'columns',
    'dropdowns',
    'popupChangeDetail',
    'receivedHrpmc2eChangeDetailPopup',
    'guarantee1Selected',
    'popupGuarantee1',
    'setGuarantee1Selected',
    'saveHrpmc2eGuarantee1',
    'saveHrpmc2eGuarantee2',
    'saveHrpmc2eGuarantee3',
    'saveHrpmc2eGuarantee1Popup',
    'receivedHrpmc2eGuarantee1Popup',
    'receivedHrpmc2eGuarantee1PopupCreate',
    'guarantee2Selected',
    'popupGuarantee2',
    'setGuarantee2Selected',
    'saveHrpmc2eGuarantee2Popup',
    'receivedHrpmc2eGuarantee2Popup',
    'receivedHrpmc2eGuarantee2PopupCreate',
    'guarantee3Selected',
    'popupGuarantee3',
    'setGuarantee3Selected',
    'saveHrpmc2eGuarantee3Popup',
    'receivedHrpmc2eGuarantee3Popup',
    'receivedHrpmc2eGuarantee3PopupCreate',
    'saveHrpmc2eGuarantee',
    'detailDisabled',
    'codempidQuery'
  ],
  methods: {
    resetCollapse () {
      this.flgCollapse = {
        guarantee1: false,
        guarantee2: true,
        guarantee3: true
      }
      this.pinCollapse = {
        guarantee1: false,
        guarantee2: false,
        guarantee3: false
      }
    },
    setPinCollapseToggle (tab) {
      this.pinCollapse[tab] = !this.pinCollapse[tab]
    },
    setCollapseToggle (tab) {
      for (let collapseTab in this.flgCollapse) {
        if (collapseTab !== tab) {
          if (!this.pinCollapse[collapseTab]) {
            this.flgCollapse[collapseTab] = true
          }
        }
      }
      this.flgCollapse[tab] = !this.flgCollapse[tab]
    },
    saveParams () {
      return {
        searchParams: this.codempidQuery,
        detail: this.detail.guarntee.guarntee1
      }
    }
  },
  components: {
    guarantee1,
    guarantee2,
    guarantee3
  }
}
</script>
