@import "../../../modules/global";
.wrapper-hrms-table {

  // INDEX --------------------------------------------
  .preLoad {
    font-size: 30px;
    padding-top: 50px;
    text-align: center;
  }
  td {
    position: relative; 
  }
  .flg-inline {
    &.add {
      position: absolute;
      top: 0px;
      left: 0;
      border-left: 10px solid #E34C4C;
      border-right: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }
    &.edit {
      position: absolute;
      top: 0px;
      left: 0;
      border: 10px solid #3c8dbc;
      border-right: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }
    &.delete, &.delete:hover {
      color: #E34C4C !important;
      text-decoration: line-through;
    }
  }
  .main-del-unchecked {
    transition: background 0.3s ease;
    border-radius: 2px;
    line-height: 37px;
    height: 35px;
    width: 30px;
    padding-left: 4px;
    margin:0 auto;
    text-align: center;
    color: #707070;
    font-weight:700;
    font-size:20px;
    cursor: pointer;
  }
  .main-del-checked {
    transition: background 0.3s ease;
    text-align: center;
    border-radius: 2px;
    line-height: 37px;
    height: 35px;
    width: 30px;
    padding-left: 4px;
    margin:0 auto;
    color: #E34C4C;
    font-size:20px;
    cursor: pointer;
  }
  .summary-row {
    border-top: 1px solid #757575;
    font-weight: bold;
    font-size: 16px;
  }

  // ColumnSetting -----------------------------------------------------    

  .columnsetting {
    float: right;
    .dropdown {
      .dropdown-icon {
        font-size: 16px;
        outline: none !important;
        cursor: pointer;
        display: inline-block;
      }
      .dropdown-toggle::after {
        display: none;
      }
      .dropdown-menu {
        min-width: 200px;
        font-size: 14px;
        text-align: left;
        background: none;
        box-shadow: none;
        padding: 0;
        margin: -16px 0 2px -160px;
        list-style: none;
        border: none;
        border-image: initial;
        border-radius: 2px;
        .triangle {
          width: 24px;
          border-top: 13px solid transparent;
          border-right: 13px solid transparent;
          border-left: 13px solid transparent;
          border-bottom: 13px solid #FFF;
          position: relative;
          top: 2px;
          left: 165px;
          filter: drop-shadow(0 -1px 0 rgba(0,0,0,0.25));
          z-index: 8;
        }
        li {
          padding: 5px 15px;
        }
        .dropdown-box {
          min-width: 200px;
          font-size: 14px;
          text-align: left;
          background-color: rgb(255, 255, 255);
          background-clip: padding-box;
          box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px;
          list-style: none;
          border-width: 1px;
          border-style: solid;
          padding: 5px 0;
          border-color: rgba(0, 0, 0, 0.15);
          border-image: initial;
          border-radius: 2px;

          .item-group {
            // border: 1px dashed #d6d6d6;
            min-height: 50px;
        
            li {
              .checkbox-group {
                width: 100%;
                cursor: move;
                @include clearfix;

                .checkbox-fake {
                  position: static;
                  float: left;

                  &:after {
                    top: 5px;
                    left: 4px;
                  }
                }

                .checkbox-label {
                  position: static;
                  float: left;
                  margin: -1px 0 0 15px;
                  width: 70%;
                  cursor: move;
                }
              }
            }
          }
          .checkbox-label {
            font-size: 14px;
          }
        }
      }
    }
  }
  // DeleteButton ------------------------------------------------------
  .icon-delete-desc{
    margin:0 5px 0 0;
  }
  .del-disable {
    line-height: 37px;
    height: 35px;
    width: 30px;
    padding-left: 4px;
    margin:0 auto;
    text-align: center;
    font-weight:700;
    font-size:20px;
  }
  .del-unchecked {
    transition: background 0.3s ease;
    border-radius: 2px;
    line-height: 37px;
    height: 35px;
    width: 30px;
    padding-left: 4px;
    margin:0 auto;
    text-align: center;
    color: #707070;
    font-weight:700;
    font-size:20px;
    cursor: pointer;
  }
  .del-checked {
    transition: background 0.3s ease;
    text-align: center;
    border-radius: 2px;
    line-height: 37px;
    height: 35px;
    width: 30px;
    padding-left: 4px;
    margin:0 auto;
    color: #E34C4C;
    font-size:20px;
    cursor: pointer;
  }

  // Checkbox-Table ----------------------------------------------------
  .checkbox-table {
    text-align: center;
    font-size: 22px;
    color: $black-50;
    cursor: pointer;
  }
}