<template>
  <div class="custom-banner header-banner" :style="[setStyleBackground(themeColor)]">
    <div class="icon">
       <img :src="imgPath">
    </div>
    <div class="topic">
      {{ topic }}
    </div>
  </div>
</template>

<script type="text/babel">
import { mapGetters } from 'vuex'
import * as templateTypes from '../../modules/main/template/store/mutation-types'

export default {
  name: 'hcm-banner',
  props: {
    imgPath: {
      default: require('@/assets/image/SC/HRSC04E-Icon.png')
    },
    title: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      app: this.$root.$children[0],
      codapp: this.$route.name,
      topic: this.title
    }
  },
  created () {
    this.genTopic()
  },
  watch: {
    allCodapps () {
      this.genTopic()
    }
  },
  methods: {
    genTopic () {
      this.codapp = typeof this.codapp !== 'undefined' ? this.codapp.toUpperCase() : ''
      let currCodapp = typeof this.allCodapps[this.codapp] !== 'undefined' ? this.allCodapps[this.codapp] : []
      let descCodapp = typeof currCodapp['description'] !== 'undefined' ? currCodapp['description'] : []
      this.topic = this.title !== '' ? this.title : descCodapp[this.app.nowLang]
    },
    setStyleBackground (color) {
      color = '#' + color.replace(/#/g, '')
      return {
        'background-color': color
      }
    }
  },
  computed: {
    ...mapGetters({
      themeColor: templateTypes.GET_THEME_COLOR,
      allCodapps: templateTypes.GET_ALL_CODAPPS
    })
  }
}
</script>