<template>
  <div id="component-detail" class="body-wrapper">
    <div class="clearfix">
      <div class="collapse-group">
        <div class="panel-group" id="accordion">
          <div class="panel">

            <detail-work :labels="labels"
                          :labelsButton="labelsButton"
                          :detailWork="detail.tab1"
                          :columns="columns"
                          :nowLang="nowLang"
                          :dropdowns="dropdowns"
                          :flgCollapse="flgCollapse"
                          :setCollapseToggle="setCollapseToggle"
                          :pinCollapse="pinCollapse"
                          :setPinCollapseToggle="setPinCollapseToggle"
                          :detailDisabled="detailDisabled"/>

            <detail-position :labels="labels"
                            :labelsButton="labelsButton"
                            :detailPosition="detail.tab2"
                            :columns="columns"
                            :dropdowns="dropdowns"
                            :flgCollapse="flgCollapse"
                            :setCollapseToggle="setCollapseToggle"
                            :pinCollapse="pinCollapse"
                            :setPinCollapseToggle="setPinCollapseToggle"
                            :detailDisabled="detailDisabled"/>
          </div>
        </div>
      </div>
      <button type="button" class="button-md _bg-blue" @click="saveHrpm38eDetail(saveParams())" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</button>      
     </div>

  </div>
</template>

<script>
import detailWork from './detailWork'
import detailPosition from './detailPosition'

export default {
  name: 'component-detail',
  data () {
    return {
      pinCollapse: {
        work: false,
        position: false
      },
      flgCollapse: {
        work: false,
        position: true
      }
    }
  },
  methods: {
    resetCollapse () {
      this.flgCollapse = {
        work: false,
        position: true
      }
      this.pinCollapse = {
        work: false,
        position: false
      }
    },
    setPinCollapseToggle (tab) {
      this.pinCollapse[tab] = !this.pinCollapse[tab]
    },
    setCollapseToggle (tab) {
      for (let collapseTab in this.flgCollapse) {
        if (collapseTab !== tab) {
          if (!this.pinCollapse[collapseTab]) {
            this.flgCollapse[collapseTab] = true
          }
        }
      }
      this.flgCollapse[tab] = !this.flgCollapse[tab]
    },
    saveParams () {
      return {
        detail: this.detail,
        searchParams: this.searchParams
      }
    }
  },
  props: [
    'labels',
    'labelsButton',
    'data',
    'toggle',
    'detail',
    'searchParams',
    'dropdowns',
    'nowLang',
    'columns',
    'saveHrpm38eDetail',
    'detailDisabled'
  ],
  components: {
    detailWork,
    detailPosition
  }
}
</script>
