<template>
  <div id="component-index" class="search-heading">
    <!--search-->
    <div name="hrpm38e-search" class="group-space-sm clearfix" id="hrpm38e-search">
      <div class="row">
        <div class="col-md-3 group-space-sm">
          <div class="input-group _unmargin">
            <div class="label">{{ labels['HRPM38EC1']['10'] }}</div>
              <hcm-lov-codcomp  v-model="data.codcomp"
                                lovType="codcomp"
                                :descDisp="false"
                                :nowLang="nowLang"
                                name="codcomp"
                                :disabled="!detailDisabled"
                                :class="{ '-disable': !detailDisabled }"
                                v-validate="'required'"
                                data-vv-value-path="inputValue"
                                data-vv-name="codcomp"
                                data-vv-as="Code of Company"
                                :has-error="errors.has('codcomp')" />
            <div class="validator-text -error" v-show="errors.has('codcomp')" >{{errors.first('codcomp')}}</div>
          </div>
        </div>
        <div class="col-md-3 group-space-sm">
          <div class="input-group _unmargin">
            <div class="label">{{ labels['HRPM38EC1']['20'] }}</div>
              <hcm-lov  v-model="data.codpos"
                        lovType="codpos"
                        :descDisp="false"
                        :nowLang="nowLang"
                        name="codpos"
                        :disabled="!detailDisabled"
                        :class="{ '-disable': !detailDisabled }"
                        v-validate="'required'"
                        data-vv-value-path="inputValue"
                        data-vv-name="codpos"
                        data-vv-as="Code of Company"
                        :has-error="errors.has('codpos')" />
            <div class="validator-text -error" v-show="errors.has('codpos')" >{{errors.first('codpos')}}</div>
          </div>
        </div>
        <div class="col-md-3 group-space-sm">
          <div class="input-group _unmargin">
            <div class="label">{{ labels['HRPM38EC1']['30'] }}</div>
              <hcm-lov  v-model="data.codempid"
                        lovType="codempid"
                        :descDisp="false"
                        :nowLang="nowLang"
                        name="codempid"
                        :disabled="!detailDisabled"
                        :class="{ '-disable': !detailDisabled }"
                        v-validate="'required'"
                        data-vv-value-path="inputValue"
                        data-vv-name="codempid"
                        data-vv-as="Code of Company"
                        :has-error="errors.has('codempid')" />
            <div class="validator-text -error" v-show="errors.has('codempid')" >{{errors.first('codempid')}}</div>
            </div>
        </div>
        <div class="col-md-3"  style="padding: 15px 0">
          <div v-if="!detailDisabled" type="button" class="button-md -disable _bg-blue-disable" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['search'] }}</div>
          <div v-if="detailDisabled" type="button" class="button-md _bg-blue"  @click="submitEvent()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['search'] }}</div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'component-index',
  data () {
    return {
      data: this.value
    }
  },
  watch: {
    value (newValue) {
      this.data = newValue
    }
  },
  methods: {
    submitEvent () {
      this.$validator.validateAll().then(result => {
        if (result) {
          let searchParams = {
            p_codcomp: this.data.codcomp,
            p_codpos: this.data.codpos,
            p_codempid: this.data.codempid
          }
          this.receivedHrpm38eDetail(searchParams)
        }
      })
    },
    callNew () {
      this.data.codcomp = ''
      this.data.codpos = ''
      this.data.codempid = ''
      let searchParams = {
        p_codcomp: '',
        p_codpos: '',
        p_codempid: ''
      }
      this.receivedHrpm38eDetailCreate(searchParams)
      this.$nextTick(() => {
        this.errors.clear()
      })
    }
  },
  props: [
    'labels',
    'value',
    'labelsButton',
    'toggle',
    'nowLang',
    'receivedHrpm38eDetail',
    'receivedHrpm38eDetailCreate',
    'detailDisabled',
    'setDetailDisabled',
    'detail'
  ]
}
</script>
