<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.position }" :aria-expanded="!flgCollapse.position" @click.self="setCollapseToggle('position')" data-parent="#position" href="#position" >
      <div class="title" @click.self="setCollapseToggle('position')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('position')"></i>{{ labels['HRPM38EC2']['10'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('position')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('position')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.position ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('position')"></i>
    </div>
    <div id="detail-position" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.position}">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPM38EC2']['20'] }}</div>
                <hcm-lov  v-model="detailPosition.detail.codform"
                          :nowLang="nowLang"
                          lovType="codform"
                          :descDisp="false"
                          v-validate="'required'"
                          data-vv-value-path="inputValue"
                          data-vv-as="codform"
                          data-vv-name="codform"
                          name="codform" 
                          :disabled="detailDisabled" />
            </div>
            <div class="input-group">
              <div class="row">
                <div class="col-md-6 group-space-sm">
                  <div class="input-group">
                    <div class="label">{{ labels['HRPM38EC2']['30'] }}</div>
                      <input class="normal-input" type="text" name="input" v-model="detailPosition.detail.qtyapp" :disabled="detailDisabled">
                  </div>
                </div>
                <div class="col-md-6 group-space-sm">
                  <div class="input-group">
                    <div class="label">{{ labels['HRPM38EC2']['40'] }}</div>
                      <input class="normal-input" type="text" name="input" v-model="detailPosition.detail.qtyday" :disabled="detailDisabled"><div class="unit">{{ labels['HRPM38EC2']['41'] }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPM38EC2']['50'] }}</div>
              <div class="row">
                <div class="col-md-6 group-space-sm">
                  <div class="radio-group">
                    <input class="radio-true" type="radio" v-model="detailPosition.detail.calscore" value="1" id="calscore1" :disabled="detailDisabled">
                    <label class="radio-fake _unmargin" for="calscore1"></label>
                    <label class="radio-label" style="left :40px;" for="calscore1">{{ labels['HRPM38EC2']['51'] }}</label>
                  </div>
                </div>
                <div class="col-md-6 group-space-sm">
                  <div class="radio-group">
                    <input class="radio-true" type="radio" v-model="detailPosition.detail.calscore" value="2" id="calscore2" :disabled="detailDisabled">
                    <label class="radio-fake _unmargin" for="calscore2"></label>
                    <label class="radio-label" style="left :40px;" for="calscore2">{{ labels['HRPM38EC2']['52'] }}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPM38EC2']['60'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detailPosition.detail.lowscore" :disabled="detailDisabled"><div class="unit">{{ labels['HRPM38EC2']['61'] }}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPM38EC2']['170'] }}</div>
                <hrms-table :labels="labels"
                            :columns="columns.detailTab2" 
                            :data="detailPosition.table"
                            :nowLang="nowLang"
                            :searchDisp="false"
                            :tablePageDisp="false"
                            :columnSettingDisp="false"
                            :csvExportDisp="false"
                            :addInlineEventBool="true"
                            :saveInlineBtnDisp="false"
                            :deleteInlineEventBool="true"
                            :deleteInlineBtnDisp="false"  />
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>
</template>

<script>
export default {
  name: 'detail-position',
  props: [ 'nowLang',
    'labels',
    'labelsButton',
    'columns',
    'detailPosition',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled',
    'dropdowns'
  ]
}
</script>
