<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.work }" :aria-expanded="!flgCollapse.work" @click.self="setCollapseToggle('work')" data-parent="#work" href="#work" >
      <div class="title" @click.self="setCollapseToggle('work')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('work')"></i>{{ labels['HRPM38EC1']['40'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('work')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('work')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.work ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('work')"></i>
    </div>
    <div id="detail-work" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.work}">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPM38EC1']['50'] }}</div>
                <hcm-lov  v-model="detailWork.detail.codform"
                          :nowLang="nowLang"
                          lovType="codform"
                          :descDisp="false"
                          v-validate="'required'"
                          data-vv-value-path="inputValue"
                          data-vv-as="codform"
                          data-vv-name="codform"
                          name="codform" 
                          :disabled="detailDisabled" />
            </div>
            <div class="input-group">
              <div class="row">
                <div class="col-md-6 group-space-sm">
                  <div class="input-group">
                    <div class="label">{{ labels['HRPM38EC1']['60'] }}</div>
                      <input class="normal-input" type="text" name="input" v-model="detailWork.detail.qtyapp" :disabled="detailDisabled">
                  </div>
                </div>
                <div class="col-md-6 group-space-sm">
                  <div class="input-group">
                    <div class="label">{{ labels['HRPM38EC1']['70'] }}</div>
                      <input class="normal-input" type="text" name="input" v-model="detailWork.detail.qtyday" :disabled="detailDisabled"><div class="unit">{{ labels['HRPM38EC1']['71'] }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPM38EC1']['80'] }}</div>
              <div class="row">
                <div class="col-md-6 group-space-sm">
                  <div class="radio-group">
                    <input class="radio-true" type="radio" v-model="detailWork.detail.calscore" value="1" id="calscore1" :disabled="detailDisabled">
                    <label class="radio-fake _unmargin" for="calscore1"></label>
                    <label class="radio-label" style="left :40px;" for="calscore1">{{ labels['HRPM38EC1']['81'] }}</label>
                  </div>
                </div>
                <div class="col-md-6 group-space-sm">
                  <div class="radio-group">
                    <input class="radio-true" type="radio" v-model="detailWork.detail.calscore" value="2" id="calscore2" :disabled="detailDisabled">
                    <label class="radio-fake _unmargin" for="calscore2"></label>
                    <label class="radio-label" style="left :40px;" for="calscore2">{{ labels['HRPM38EC1']['82'] }}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPM38EC1']['90'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detailWork.detail.lowscore" :disabled="detailDisabled"><div class="unit">{{ labels['HRPM38EC1']['91'] }}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPM38EC1']['170'] }}</div>
                <hrms-table :labels="labels"
                            :columns="columns.detail1" 
                            :data="detailWork.table"
                            :nowLang="nowLang"
                            :searchDisp="false"
                            :tablePageDisp="false"
                            :columnSettingDisp="false"
                            :csvExportDisp="false"
                            :addInlineEventBool="true"
                            :saveInlineBtnDisp="false"
                            :deleteInlineEventBool="true"
                            :deleteInlineBtnDisp="false"
                            :disabled="detailDisabled" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
export default {
  name: 'detail-work',
  props: [ 'nowLang',
    'labels',
    'columns',
    'labelsButton',
    'detailWork',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled',
    'dropdowns'
  ]
}
</script>
