.hrms-dropzone {
  .image-file {
    border-radius: 2%;
  }
  .change-image {
    top: -3px;
    background: rgba(0, 0, 0, 0.4);
    color: #FFF;
    text-align: center;
    position: relative;
    font-size: 12px;
    line-height: 24px;
  }
}
