<template>
 <div class="collapse-group">
    <div class="panel-group" id="workStudy">
      <div class="panel">
        <work-study1  :labels="labels"
                      :labelsButton="labelsButton"
                      :nowLang="nowLang"
                      :dropdowns="dropdowns"
                      :codempidQuery="codempidQuery"
                      :detail="detail.tableEducation"
                      :educationColumns="columns.educationColumns"
                      :popupEducation="popupEducation"
                      :educationSelected="educationSelected"
                      :setEducationSelected="setEducationSelected"
                      :receivedHrpmc2ePopupEducationCreate="receivedHrpmc2ePopupEducationCreate"
                      :receivedHrpmc2ePopupEducation="receivedHrpmc2ePopupEducation"
                      :popupChangeDetail="popupChangeDetail"
                      :changeDetailColumns="columns.changeDetail"
                      :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                      :setEducationAddInlinePopup="setEducationAddInlinePopup"
                      :callSaveWorkStudy1="callSaveWorkStudy1"
                      ref="workStudy1Table"
                      :flgCollapse="flgCollapse"
                      :setCollapseToggle="setCollapseToggle"
                      :pinCollapse="pinCollapse"
                      :setPinCollapseToggle="setPinCollapseToggle" 
                      :detailDisabled="detailDisabled"
                      :lovCurrentDesc="lovCurrentDesc"
                       />
      </div>
      <div class="panel">
        <work-study2  :labels="labels"
                      :labelsButton="labelsButton"
                      :nowLang="nowLang"
                      :codempidQuery="codempidQuery"
                      :detail="detail.tableWorkExperiences"
                      :workExperiencesColumns="columns.workExperiencesColumns"
                      :popupWorkExperiences="popupWorkExperiences"
                      :workExperiencesSelected="workExperiencesSelected"
                      :setWorkExperiencesSelected="setWorkExperiencesSelected"
                      :receivedHrpmc2ePopupWorkExperiencesCreate="receivedHrpmc2ePopupWorkExperiencesCreate"
                      :receivedHrpmc2ePopupWorkExperiences="receivedHrpmc2ePopupWorkExperiences"
                      :popupChangeDetail="popupChangeDetail"
                      :changeDetailColumns="columns.changeDetail"
                      :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                      :setWorkExperiencesAddInlinePopup="setWorkExperiencesAddInlinePopup"
                      :callSaveWorkStudy2="callSaveWorkStudy2"
                      ref="workStudy2Table"
                      :flgCollapse="flgCollapse"
                      :setCollapseToggle="setCollapseToggle"
                      :pinCollapse="pinCollapse"
                      :setPinCollapseToggle="setPinCollapseToggle" 
                      :detailDisabled="detailDisabled"
                       />
      </div>
      <div class="panel">
        <work-study3  :labels="labels"
                      :labelsButton="labelsButton"
                      :nowLang="nowLang"
                      :codempidQuery="codempidQuery"
                      :detail="detail.tableTrainingRecord"
                      :trainingRecordColumns="columns.trainingRecordColumns"
                      :popupTrainingRecord="popupTrainingRecord"
                      :trainingRecordSelected="trainingRecordSelected"
                      :setTrainingRecordSelected="setTrainingRecordSelected"
                      :receivedHrpmc2ePopupTrainingRecordCreate="receivedHrpmc2ePopupTrainingRecordCreate"
                      :receivedHrpmc2ePopupTrainingRecord="receivedHrpmc2ePopupTrainingRecord"
                      :popupChangeDetail="popupChangeDetail"
                      :changeDetailColumns="columns.changeDetail"
                      :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                      :setTrainingRecordAddInlinePopup="setTrainingRecordAddInlinePopup"
                      :callSaveWorkStudy3="callSaveWorkStudy3"
                      ref="workStudy3Table"
                      :flgCollapse="flgCollapse"
                      :setCollapseToggle="setCollapseToggle"
                      :pinCollapse="pinCollapse"
                      :setPinCollapseToggle="setPinCollapseToggle" 
                      :detailDisabled="detailDisabled"
                       />
      </div>
      <div class="panel">
        <work-study4  :labels="labels"
                      :labelsButton="labelsButton"
                      :nowLang="nowLang"
                      :detail="detail.tableInternalTraining"
                      :internalTrainingColumns="columns.internalTrainingColumns" 
                      :popupChangeDetail="popupChangeDetail"
                      :changeDetailColumns="columns.changeDetail"
                      :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                      :flgCollapse="flgCollapse"
                      :setCollapseToggle="setCollapseToggle"
                      :pinCollapse="pinCollapse"
                      :setPinCollapseToggle="setPinCollapseToggle"
                      :detailDisabled="detailDisabled"
                       />
      </div>

      <div class="group-space" style="padding-top: 40px">
        <div v-if="detailDisabled" class="button-md -disable _bg-green-disable" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div>  
        <div v-if="!detailDisabled" class="button-md _bg-green" @click="postWorkStudySave()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div>  
      </div>
      
    </div>
  </div>
</template>

<script>
import workStudy1 from './workStudy1'
import workStudy2 from './workStudy2'
import workStudy3 from './workStudy3'
import workStudy4 from './workStudy4'
import swal from 'sweetalert'
import { constLabels } from 'assets/js/constLabels'

export default {
  name: 'hrpmc2e-work-study',
  data () {
    return {
      pinCollapse: {
        workStudy1: false,
        workStudy2: false,
        workStudy3: false,
        workStudy4: false
      },
      flgCollapse: {
        workStudy1: false,
        workStudy2: true,
        workStudy3: true,
        workStudy4: true
      }
    }
  },
  props: [
    'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'columns',
    'dropdowns',
    'codempidQuery',
    'popupEducation',
    'educationSelected',
    'setEducationSelected',
    'receivedHrpmc2ePopupEducationCreate',
    'receivedHrpmc2ePopupEducation',
    'popupWorkExperiences',
    'workExperiencesSelected',
    'setWorkExperiencesSelected',
    'receivedHrpmc2ePopupWorkExperiencesCreate',
    'receivedHrpmc2ePopupWorkExperiences',
    'popupTrainingRecord',
    'trainingRecordSelected',
    'setTrainingRecordSelected',
    'receivedHrpmc2ePopupTrainingRecordCreate',
    'receivedHrpmc2ePopupTrainingRecord',
    'popupChangeDetail',
    'receivedHrpmc2eChangeDetailPopup',
    'setInlineWorkStudy1',
    'setInlineWorkStudy2',
    'setInlineWorkStudy3',
    'inlineWorkStudy1',
    'inlineWorkStudy2',
    'inlineWorkStudy3',
    'postWorkStudySaveAll',
    'setEducationAddInlinePopup',
    'setWorkExperiencesAddInlinePopup',
    'setTrainingRecordAddInlinePopup',
    'detailDisabled',
    'lovCurrentDesc'
  ],
  methods: {
    resetCollapse () {
      this.flgCollapse = {
        workStudy1: false,
        workStudy2: true,
        workStudy3: true,
        workStudy4: true
      }
      this.pinCollapse = {
        workStudy1: false,
        workStudy2: false,
        workStudy3: false,
        workStudy4: false
      }
    },
    setPinCollapseToggle (tab) {
      this.pinCollapse[tab] = !this.pinCollapse[tab]
    },
    setCollapseToggle (tab) {
      for (let collapseTab in this.flgCollapse) {
        if (collapseTab !== tab) {
          if (!this.pinCollapse[collapseTab]) {
            this.flgCollapse[collapseTab] = true
          }
        }
      }
      this.flgCollapse[tab] = !this.flgCollapse[tab]
    },
    callSaveWorkStudy1 (dataRowsHasFlg) {
      this.setInlineWorkStudy1(dataRowsHasFlg)
    },
    callSaveWorkStudy2 (dataRowsHasFlg) {
      this.setInlineWorkStudy2(dataRowsHasFlg)
    },
    callSaveWorkStudy3 (dataRowsHasFlg) {
      this.setInlineWorkStudy3(dataRowsHasFlg)
    },
    postWorkStudySave () {
      this.$refs.workStudy1Table.$emit('$workStudy1')
      this.$refs.workStudy2Table.$emit('$workStudy2')
      this.$refs.workStudy3Table.$emit('$workStudy3')

      let _this = this
      swal({
        title: constLabels('confirmTitle'),
        text: constLabels('msgConfirmSave'),
        showCancelButton: true,
        closeOnConfirm: false,
        confirmButtonText: 'ok',
        cancelButtonText: 'cancel',
        html: true
      },
      function (isConfirm) {
        if (isConfirm) {
          let workStudy = {
            tableEducation: _this.inlineWorkStudy1,
            tableWorkExperiences: _this.inlineWorkStudy2,
            tableTrainingRecord: _this.inlineWorkStudy3
          }
          _this.postWorkStudySaveAll({
            searchParams: _this.codempidQuery,
            workStudy: workStudy
          })
        }
      })
    }
  },
  components: {
    workStudy1,
    workStudy2,
    workStudy3,
    workStudy4
  }
}
</script>
