<template>
  <div class="modal-group">
    <div id="hrpmc2e-popup-work-study2" name="hrpmc2e-popup-work-study2" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">{{ labels['HRPMC2EB2']['10'] }}</div>
            <div class="close ion-android-close" data-dismiss="modal"></div>
            <div class="tag fa fa-tag"></div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4 group-space-md">
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB2']['210'] }}</div>
                  <input class="normal-input -disable" v-model="popupWorkExperiencesState.numseq" disabled="disabled" />
                </div>
              </div> 
            </div> 
            <div class="row">
              <div class="col-md-6 group-space-md">
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB2']['90'] }}</div>
                  <input class="normal-input" v-model="popupWorkExperiencesState.desnoffi" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB2']['100'] }}</div>
                  <input class="normal-input" v-model="popupWorkExperiencesState.deslstjob1" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB2']['40'] }}</div>
                  <input class="normal-input" v-model="popupWorkExperiencesState.deslstpos" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB2']['110'] }}</div>
                  <input class="normal-input" v-model="popupWorkExperiencesState.jobtype" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB2']['120'] }}</div>
                  <input class="normal-input" v-model="popupWorkExperiencesState.health" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB2']['130'] }}</div>
                  <input class="normal-input" v-model="popupWorkExperiencesState.safety" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB2']['140'] }}</div>
                  <textarea class="normal-textarea"  maxlength="600"
                            v-model="popupWorkExperiencesState.desoffi1" >
                  </textarea>
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB2']['150'] }}</div>
                  <input class="normal-input" v-model="popupWorkExperiencesState.numteleo" />
                </div>
              </div> 

              <div class="col-md-6 group-space-md">
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB2']['160'] }}</div>
                  <input class="normal-input" v-model="popupWorkExperiencesState.namboss" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB2']['170'] }}</div>
                  <input class="normal-input" v-model="popupWorkExperiencesState.desres" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB2']['180'] }}</div>
                  <input class="normal-input" v-model="popupWorkExperiencesState.amtincom" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB2']['50'] }}</div>
                  <hrms-datepicker  v-model="popupWorkExperiencesState.dtestart" 
                                    v-validate="'required|date_format:DD/MM/YYYY'"
                                    data-vv-value-path="inputDate"
                                    data-vv-name="dtestart"
                                    data-vv-as="Birth Date"
                                    name="dtestart"
                                    :has-error="errors.has('dtestart')" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB2']['60'] }}</div>
                  <hrms-datepicker  v-model="popupWorkExperiencesState.dteend" 
                                    v-validate="'required|date_format:DD/MM/YYYY'"
                                    data-vv-value-path="inputDate"
                                    data-vv-name="dteend"
                                    data-vv-as="End Date"
                                    name="dteend"
                                    :has-error="errors.has('dteend')" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB2']['190'] }}</div>
                  <textarea class="normal-textarea"  maxlength="600"
                            v-model="popupWorkExperiencesState.remark" >
                  </textarea>
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB2']['200'] }}</div>
                  <hrms-dropzone  :fileNameQuery="popupWorkExperiencesState.filenam1"
                                  :codempNameFile="codempidQuery"
                                  :name="'popupWorkExperiences1'"
                                  :flgToggle="workExperiencesDisp"
                                  ref="hrmsDropzone" />
                </div>
              </div> 
            </div>
          </div>
          <div class="modal-footer">
            <div class="button-md _bg-grey" data-dismiss="modal"><i class="fa fa-times-circle"></i> {{ labelsButton['cancel'] }}</div>
            <div class="button-md _bg-blue" data-dismiss="modal" @click="confirm()" ><i class="fa fa-check-circle"></i> {{ labelsButton['ok'] }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hrpmc2e-popup-work-study2',
  props: [
    'labels',
    'labelsButton',
    'popupWorkExperiences',
    'workExperiencesSelected',
    'codempidQuery',
    'setWorkExperiencesAddInlinePopup',
    'eventBtn'
  ],
  data () {
    return {
      popupWorkExperiencesState: this.popupWorkExperiences,
      workExperiencesDisp: true
    }
  },
  watch: {
    popupWorkExperiences () {
      this.popupWorkExperiencesState = this.popupWorkExperiences
      this.$nextTick(function () {
        this.errors.clear()
      })
    }
  },
  methods: {
    confirm () {
      this.setWorkExperiencesAddInlinePopup(this.popupWorkExperiencesState)
    }
  }
}
</script>
