<template>
	<div class="modal-group">
    <div id="hrpmc2e-popup-work-study1" name="hrpmc2e-popup-work-study1" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">{{ labels['HRPMC2EB1']['10'] }}</div>
            <div class="close ion-android-close" data-dismiss="modal"></div>
            <div class="tag fa fa-tag"></div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4 group-space-md">
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB1']['80'] }}</div>
                  <input class="normal-input -disable" v-model="popupEducationState.numseq" disabled="disabled" />
                </div>
              </div> 
            </div> 
            <div class="row">
              <div class="col-md-6 group-space-md">
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB1']['20'] }}</div>
                  <hcm-lov  v-model="popupEducationState.codedlv"
                            lovType="codedlv"
                            :descDisp="false"
                            :nowLang="nowLang"
                            name="codedlv" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB1']['30'] }}</div>
                  <hrms-dropdown  v-model="popupEducationState.flgeduc" 
                                  :options="dropdowns.flgeduc[nowLang]" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB1']['30'] }}</div>
                  <hcm-lov  v-model="popupEducationState.coddglv"
                            lovType="coddglv"
                            :descDisp="false"
                            :nowLang="nowLang"
                            name="coddglv" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB1']['40'] }}</div>
                  <hcm-lov  v-model="popupEducationState.codmajsb"
                            lovType="codmajsb"
                            :descDisp="false"
                            :nowLang="nowLang"
                            name="codmajsb" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB1']['90'] }}</div>
                  <hcm-lov  v-model="popupEducationState.codminsb"
                            lovType="codminsb"
                            :descDisp="false"
                            :nowLang="nowLang"
                            name="codminsb" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB1']['50'] }}</div>
                  <hcm-lov  v-model="popupEducationState.codinst"
                            lovType="codinst"
                            :descDisp="false"
                            :nowLang="nowLang"
                            name="codinst" />
                </div>
              </div> 

              <div class="col-md-6 group-space-md">
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB1']['60'] }}</div>
                  <hcm-lov  v-model="popupEducationState.codcount"
                            lovType="country"
                            :descDisp="false"
                            :nowLang="nowLang"
                            name="Country" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB1']['100'] }}</div>
                  <input class="normal-input" v-model="popupEducationState.numgpa" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB1']['110'] }}</div>
                  <input class="normal-input" v-model="popupEducationState.stayear" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB1']['120'] }}</div>
                  <input class="normal-input" v-model="popupEducationState.dtegyear" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB1']['130'] }}</div>
                  <hrms-dropzone  :fileNameQuery="popupEducationState.filenam1"
                                  :codempNameFile="codempidQuery"
                                  :name="'educationNew'"
                                  :flgToggle="educationDisp"
                                  ref="hrmsDropzoneNew" />
                </div>
              </div> 
            </div> 
          </div>
          <div class="modal-footer">
            <div class="button-md _bg-grey" data-dismiss="modal"><i class="fa fa-times-circle"></i> {{ labelsButton['cancel'] }}</div>
            <div class="button-md _bg-blue" data-dismiss="modal" @click="confirm()" ><i class="fa fa-check-circle"></i> {{ labelsButton['ok'] }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hrpmc2e-popup-work-study1',
  props: [
    'labels',
    'labelsButton',
    'nowLang',
    'dropdowns',
    'popupEducation',
    'educationSelected',
    'codempidQuery',
    'setEducationAddInlinePopup',
    'eventBtn',
    'lovCurrentDesc'
  ],
  data () {
    return {
      popupEducationState: this.popupEducation,
      educationDisp: true
    }
  },
  watch: {
    popupEducation () {
      this.popupEducationState = this.popupEducation
      this.$nextTick(function () {
        this.errors.clear()
      })
    }
  },
  methods: {
    confirm () {
      this.popupEducationState.desedlv = this.lovCurrentDesc('codedlv', this.popupEducationState.codedlv)
      this.popupEducationState.desdglv = this.lovCurrentDesc('coddglv', this.popupEducationState.coddglv)
      this.popupEducationState.desmajsb = this.lovCurrentDesc('codmajsb', this.popupEducationState.codmajsb)
      this.popupEducationState.desinst = this.lovCurrentDesc('codinst', this.popupEducationState.codinst)
      this.popupEducationState.descount = this.lovCurrentDesc('country', this.popupEducationState.codcount)
      this.setEducationAddInlinePopup(this.popupEducationState)
    }
  }
}
</script>
