<template>
	<div class="modal-group">
    <div id="hrpmc2e-popup-work-study3" name="hrpmc2e-popup-work-study3" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">{{ labels['HRPMC2EB3']['10'] }}</div>
            <div class="close ion-android-close" data-dismiss="modal"></div>
            <div class="tag fa fa-tag"></div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4 group-space-md">
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB3']['70'] }}</div>
                  <input class="normal-input -disable" v-model="popupTrainingRecordState.numseq" disabled="disabled" />
                </div>
              </div> 
            </div> 
            <div class="row">
              <div class="col-md-6 group-space-md">
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB3']['20'] }}</div>
                  <input class="normal-input" v-model="popupTrainingRecordState.destrain" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB3']['30'] }}</div>
                  <hrms-datepicker  v-model="popupTrainingRecordState.dtetrain" 
                                    v-validate="'required|date_format:DD/MM/YYYY'"
                                    data-vv-value-path="inputDate"
                                    data-vv-name="dtestart"
                                    data-vv-as="Birth Date"
                                    name="dtestart"
                                    :has-error="errors.has('dtestart')" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB3']['80'] }}</div>
                  <hrms-datepicker  v-model="popupTrainingRecordState.dtetren" 
                                    v-validate="'required|date_format:DD/MM/YYYY'"
                                    data-vv-value-path="inputDate"
                                    data-vv-name="dtestart"
                                    data-vv-as="Birth Date"
                                    name="dtestart"
                                    :has-error="errors.has('dtestart')" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB3']['40'] }}</div>
                  <input class="normal-input" v-model="popupTrainingRecordState.desplace" />
                </div>
              </div> 

              <div class="col-md-6 group-space-md">
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB3']['90'] }}</div>
                  <input class="normal-input" v-model="popupTrainingRecordState.desinstu" />
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EB3']['100'] }}</div>
                  <hrms-dropzone  :fileNameQuery="popupTrainingRecordState.filenam1"
                                  :codempNameFile="codempidQuery"
                                  :name="'popupTrainingRecord1'"
                                  :flgToggle="trainingRecordDisp"
                                  ref="hrmsDropzone" />
                </div>
              </div> 
            </div> 
          </div>
          <div class="modal-footer">
            <div class="button-md _bg-grey" data-dismiss="modal"><i class="fa fa-times-circle"></i> {{ labelsButton['cancel'] }}</div>
            <div class="button-md _bg-blue" data-dismiss="modal" @click="confirm()" ><i class="fa fa-check-circle"></i> {{ labelsButton['ok'] }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hrpmc2e-popup-work-study3',
  props: [
    'labels',
    'labelsButton',
    'popupTrainingRecord',
    'trainingRecordSelected',
    'setTrainingRecordAddInlinePopup',
    'eventBtn',
    'codempidQuery'
  ],
  data () {
    return {
      popupTrainingRecordState: this.popupTrainingRecord,
      trainingRecordDisp: true
    }
  },
  watch: {
    popupTrainingRecord () {
      this.popupTrainingRecordState = this.popupTrainingRecord
      this.$nextTick(function () {
        this.errors.clear()
      })
    }
  },
  methods: {
    confirm () {
      this.popupTrainingRecordState.dtetr = this.popupTrainingRecordState.dtetrain + ' - ' + this.popupTrainingRecordState.dtetren
      this.setTrainingRecordAddInlinePopup(this.popupTrainingRecordState)
    }
  }
}
</script>
