<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.workStudy2 }" :aria-expanded="!flgCollapse.workStudy2" @click.self="setCollapseToggle('workStudy2')" data-parent="#workStudy" href="#work-study2" >
      <div class="title" @click.self="setCollapseToggle('workStudy2')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('workStudy2')"></i>{{ labels['HRPMC2EB2']['10'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('workStudy2')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('workStudy2')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.workStudy2 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('workStudy2')"></i>
    </div>
    <div id="work-study2" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.workStudy2}">
      <div class="panel-body">
        <hrms-table v-show="detailDisabled" 
                    :columns="workExperiencesColumns"
                    :nowLang="nowLang"
                    :data="detail"
                    :searchDisp="false"
                    :tablePageDisp="false" 
                   />

        <hrms-table v-show="!detailDisabled" 
                    :columns="workExperiencesColumns"
                    :nowLang="nowLang"
                    :data="detail"
                    :searchDisp="false"
                    :tablePageDisp="false" 
                    :addEvent="addEvent"
                    :editEvent="editEvent"
                    :deleteInlineEventBool="true"
                    :deleteInlineBtnDisp="false"
                    :saveInlineEvent="callSaveWorkStudy2"
                    :saveInlineBtnDisp="false"
                    ref="workStudy2Table"
                />

        <div class="align-right">
          <input data-toggle="modal" ref="popupWorkExperiences" data-target="#hrpmc2e-popup-work-study2" type="hidden"/>
          <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
          <div  v-if="!detailDisabled" class="button-sm _bg-small-button pull-right" 
                @click="togglePopupChangeDetail()" 
                data-toggle="modal" 
                ref="changeDetailBtn" 
                :data-target="'#' + modalID">{{ labels['HRPMC2EB1']['70'] }}
          </div>
        </div>
      </div>
    </div>

    <popup-work-experiences   :popupWorkExperiences="popupWorkExperiences"
                              :labels="labels"
                              :eventBtn="eventBtn"
                              :codempidQuery="codempidQuery"
                              :labelsButton="labelsButton"
                              :workExperiencesSelected="workExperiencesSelected"
                              :setWorkExperiencesAddInlinePopup="setWorkExperiencesAddInlinePopup" />

    <change-detail-popup      :labels="labels"
                              :modalID="modalID"
                              :nowLang="nowLang"
                              :changeDetailColumns="changeDetailColumns"
                              :labelsButton="labelsButton" 
                              :popupChangeDetail="popupChangeDetail"/>

  </div>
</template>

<script>
import popupWorkExperiences from './popupWorkStudy2'
import changeDetailPopup from '../changeDetailPopup'

export default {
  name: 'hrpmc2e-work-study2',
  props: [
    'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'codempidQuery',
    'workExperiencesColumns',
    'popupWorkExperiences',
    'workExperiencesSelected',
    'setWorkExperiencesSelected',
    'receivedHrpmc2ePopupWorkExperiencesCreate',
    'receivedHrpmc2ePopupWorkExperiences',
    'popupChangeDetail',
    'changeDetailColumns',
    'receivedHrpmc2eChangeDetailPopup',
    'setWorkExperiencesAddInlinePopup',
    'workStudy2Table',
    'callSaveWorkStudy2',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ],
  data: function () {
    return {
      eventBtn: '',
      modalID: 'hrpmc2e-work-study2'
    }
  },
  mounted () {
    this.$on('$workStudy2', () => {
      this.$refs.workStudy2Table.$emit('$saveInlineEventBuiltIn')
    })
  },
  methods: {
    addEvent (param) {
      let popupParams = {
        p_numseq: '1'
      }
      this.eventBtn = 'add'
      this.receivedHrpmc2ePopupWorkExperiencesCreate(popupParams)
      this.$refs.popupWorkExperiences.click()
    },
    editEvent (dataRow) {
      let popupParams = {
        p_numseq: dataRow.numseq
      }
      this.eventBtn = 'edit'
      this.setWorkExperiencesSelected(dataRow)
      this.receivedHrpmc2ePopupWorkExperiences(popupParams)
      this.$refs.popupWorkExperiences.click()
    },
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  },
  components: {
    popupWorkExperiences,
    changeDetailPopup
  }
}
</script>
