<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.workStudy4 }" :aria-expanded="!flgCollapse.workStudy4" @click.self="setCollapseToggle('workStudy4')" data-parent="#workStudy" href="#work-study4" >
      <div class="title" @click.self="setCollapseToggle('workStudy4')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('workStudy4')"></i>{{ labels['HRPMC2EB4']['10'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('workStudy4')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('workStudy4')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.workStudy4 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('workStudy4')"></i>
    </div>
    <div id="work-study4" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.workStudy4}">
      <div class="panel-body">
        <hrms-table :columns="internalTrainingColumns"
                    :nowLang="nowLang"
                    :data="detail"
                    :searchDisp="false"
                    :tablePageDisp="false" 
                />

        <div class="align-right">
          <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
          <div  v-if="!detailDisabled" class="button-sm _bg-small-button pull-right" 
                @click="togglePopupChangeDetail()" 
                data-toggle="modal" 
                ref="changeDetailBtn" 
                :data-target="'#' + modalID">{{ labels['HRPMC2EB4']['90'] }}
          </div>
        </div>
      </div>
    </div>

    <change-detail-popup  :labels="labels"
                          :modalID="modalID"
                          :nowLang="nowLang"
                          :changeDetailColumns="changeDetailColumns"
                          :labelsButton="labelsButton" 
                          :popupChangeDetail="popupChangeDetail"/>

  </div>
</template>

<script>
import changeDetailPopup from '../changeDetailPopup'

export default {
  name: 'hrpmc2e-work-study4',
  props: [
    'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'internalTrainingColumns',
    'popupChangeDetail',
    'changeDetailColumns',
    'receivedHrpmc2eChangeDetailPopup',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'detailDisabled',
    'setPinCollapseToggle'
  ],
  data: function () {
    return {
      modalID: 'hrpmc2e-work-study4'
    }
  },
  methods: {
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  },
  components: {
    changeDetailPopup
  }
}
</script>
