<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.workStudy1 }" :aria-expanded="!flgCollapse.workStudy1" @click.self="setCollapseToggle('workStudy1')" data-parent="#workStudy" href="#work-study1" >
      <div class="title" @click.self="setCollapseToggle('workStudy1')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('workStudy1')"></i>{{ labels['HRPMC2EB1']['10'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('workStudy1')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('workStudy1')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.workStudy1 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('workStudy1')"></i>
    </div>
    <div id="work-study1" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.workStudy1}">
      <div class="panel-body">
        <hrms-table v-show="detailDisabled" 
                    :columns="educationColumns"
                    :nowLang="nowLang"
                    :data="detail"
                    :searchDisp="false"
                    :tablePageDisp="false" 
                   />

        <hrms-table v-show="!detailDisabled" 
                    :columns="educationColumns"
                    :nowLang="nowLang"
                    :data="detail"
                    :searchDisp="false"
                    :tablePageDisp="false" 
                    :addEvent="addEvent"
                    :editEvent="editEvent"
                    :deleteInlineEventBool="true"
                    :deleteInlineBtnDisp="false"
                    :saveInlineEvent="callSaveWorkStudy1"
                    :saveInlineBtnDisp="false"
                    ref="workStudy1Table"
                />
        <div class="align-right">
          <input data-toggle="modal" ref="popupEducation" data-target="#hrpmc2e-popup-work-study1" type="hidden"/>
          <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
          <div  v-if="!detailDisabled" class="button-sm _bg-small-button pull-right" 
                @click="togglePopupChangeDetail()" 
                data-toggle="modal" 
                ref="changeDetailBtn" 
                :data-target="'#' + modalID">{{ labels['HRPMC2EB1']['70'] }}
          </div>
        </div>
      </div>
    </div>

    <popup-education      :popupEducation="popupEducation"
                          :labels="labels"
                          :nowLang="nowLang"
                          :dropdowns="dropdowns"
                          :eventBtn="eventBtn"
                          :codempidQuery="codempidQuery"
                          :labelsButton="labelsButton"
                          :educationSelected="educationSelected"
                          :setEducationAddInlinePopup="setEducationAddInlinePopup"
                          :lovCurrentDesc="lovCurrentDesc" />

    <change-detail-popup  :labels="labels"
                          :modalID="modalID"
                          :nowLang="nowLang"
                          :changeDetailColumns="changeDetailColumns"
                          :labelsButton="labelsButton" 
                          :popupChangeDetail="popupChangeDetail"/>

  </div>
</template>

<script>
import popupEducation from './popupWorkStudy1'
import changeDetailPopup from '../changeDetailPopup'

export default {
  name: 'hrpmc2e-work-study1',
  props: [
    'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'dropdowns',
    'codempidQuery',
    'educationColumns',
    'popupEducation',
    'educationSelected',
    'setEducationSelected',
    'receivedHrpmc2ePopupEducationCreate',
    'receivedHrpmc2ePopupEducation',
    'postHrpmc2eEducationPopupSave',
    'popupChangeDetail',
    'changeDetailColumns',
    'receivedHrpmc2eChangeDetailPopup',
    'setEducationAddInlinePopup',
    'workStudy1Table',
    'callSaveWorkStudy1',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled',
    'lovCurrentDesc'
  ],
  data: function () {
    return {
      eventBtn: '',
      modalID: 'hrpmc2e-work-study1'
    }
  },
  mounted () {
    this.$on('$workStudy1', () => {
      this.$refs.workStudy1Table.$emit('$saveInlineEventBuiltIn')
    })
  },
  methods: {
    addEvent (param) {
      let popupParams = {
        p_numseq: '1'
      }
      this.eventBtn = 'add'
      this.receivedHrpmc2ePopupEducationCreate(popupParams)
      this.$refs.popupEducation.click()
    },
    editEvent (dataRow) {
      let popupParams = {
        p_numseq: dataRow.numseq
      }
      this.eventBtn = 'edit'
      this.setEducationSelected(dataRow)
      this.receivedHrpmc2ePopupEducation(popupParams)
      this.$refs.popupEducation.click()
    },
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  },
  components: {
    popupEducation,
    changeDetailPopup
  }
}
</script>
