<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.workStudy3 }" :aria-expanded="!flgCollapse.workStudy3" @click.self="setCollapseToggle('workStudy3')" data-parent="#workStudy" href="#work-study3" >
      <div class="title" @click.self="setCollapseToggle('workStudy3')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('workStudy3')"></i>{{ labels['HRPMC2EB3']['10'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('workStudy3')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('workStudy3')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.workStudy3 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('workStudy3')"></i>
    </div>
    <div id="work-study3" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.workStudy3}">
      <div class="panel-body">
        <hrms-table v-show="detailDisabled" 
                    :columns="trainingRecordColumns"
                    :nowLang="nowLang"
                    :data="detail"
                    :searchDisp="false"
                    :tablePageDisp="false" 
                   />

        <hrms-table v-show="!detailDisabled" 
                    :columns="trainingRecordColumns"
                    :nowLang="nowLang"
                    :data="detail"
                    :searchDisp="false"
                    :tablePageDisp="false" 
                    :addEvent="addEvent"
                    :editEvent="editEvent"
                    :deleteInlineEventBool="true"
                    :deleteInlineBtnDisp="false"
                    :saveInlineEvent="callSaveWorkStudy3"
                    :saveInlineBtnDisp="false"
                    ref="workStudy3Table"
                />

        <div class="align-right">
          <input data-toggle="modal" ref="popupTrainingRecord" data-target="#hrpmc2e-popup-work-study3" type="hidden"/>
          <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
          <div  v-if="!detailDisabled" class="button-sm _bg-small-button pull-right" 
                @click="togglePopupChangeDetail()" 
                data-toggle="modal" 
                ref="changeDetailBtn" 
                :data-target="'#' + modalID">{{ labels['HRPMC2EB3']['60'] }}
          </div>  
        </div>
      </div>
    </div>
    <popup-training-record    :popupTrainingRecord="popupTrainingRecord"
                              :labels="labels"
                              :eventBtn="eventBtn"
                              :codempidQuery="codempidQuery"
                              :labelsButton="labelsButton"
                              :trainingRecordSelected="trainingRecordSelected"
                              :setTrainingRecordAddInlinePopup="setTrainingRecordAddInlinePopup" />

    <change-detail-popup      :labels="labels"
                              :modalID="modalID"
                              :nowLang="nowLang"
                              :changeDetailColumns="changeDetailColumns"
                              :labelsButton="labelsButton" 
                              :popupChangeDetail="popupChangeDetail"/>

  </div>
</template>

<script>
import popupTrainingRecord from './popupWorkStudy3'
import changeDetailPopup from '../changeDetailPopup'

export default {
  name: 'hrpmc2e-work-study3',
  props: [
    'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'codempidQuery',
    'trainingRecordColumns',
    'popupTrainingRecord',
    'trainingRecordSelected',
    'setTrainingRecordSelected',
    'receivedHrpmc2ePopupTrainingRecordCreate',
    'receivedHrpmc2ePopupTrainingRecord',
    'popupChangeDetail',
    'changeDetailColumns',
    'receivedHrpmc2eChangeDetailPopup',
    'setTrainingRecordAddInlinePopup',
    'workStudy3Table',
    'callSaveWorkStudy3',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ],
  data: function () {
    return {
      eventBtn: '',
      modalID: 'hrpmc2e-work-study3'
    }
  },
  mounted () {
    this.$on('$workStudy3', () => {
      this.$refs.workStudy3Table.$emit('$saveInlineEventBuiltIn')
    })
  },
  methods: {
    addEvent (param) {
      let popupParams = {
        p_numseq: '1'
      }
      this.eventBtn = 'add'
      this.receivedHrpmc2ePopupTrainingRecordCreate(popupParams)
      this.$refs.popupTrainingRecord.click()
    },
    editEvent (dataRow) {
      let popupParams = {
        p_numseq: dataRow.numseq
      }
      this.eventBtn = 'edit'
      this.setTrainingRecordSelected(dataRow)
      this.receivedHrpmc2ePopupTrainingRecord(popupParams)
      this.$refs.popupTrainingRecord.click()
    },
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  },
  components: {
    popupTrainingRecord,
    changeDetailPopup
  }
}
</script>
