<template>
  <div class="choice-box">
    <template v-if="typeof poll.choices !== 'undefined'">
      <div class="choice" v-for="(choice, indexChoice) in poll.choices" :key="indexChoice">
        <div class="progress" :class="[ pollIndex % 2 === 0 ? '_bg-green' : '_bg-red' ]" :style="{ width: progressPercent(choice.number, poll.totalVote), maxWidth: '100%' }"></div>
        <div class="choosentext cursor-pointer">
          <div class="text"><i class="fa fa-check" v-if="choice.selected === 'Y'"></i> {{ choice.text }}</div>
          <div class="number">{{ choice.number }}%</div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>

export default {
  name: 'dash-poll-choice',
  props: {
    progressPercent: {
      type: Function
    },
    poll: {
      type: Object
    },
    pollIndex: {
      type: Number
    }
  }
}
</script>