<template>
  <div id="dash-poll" class="dash-item dashboard-poll">
    <div class="card-box card-type2">
      <div class="header">Poll</div>
      <div class="header-icon">
        <div class="dropdown pull-right">
          <div class="dropdown-icon dropdown-toggle" data-toggle="dropdown">
          	<i class="fa fa-cog" aria-hidden="true"></i>
            <span class="caret"></span>
          </div>
          <ul class="dropdown-menu">
            <div class="triangle"></div>
            <div class="dropdown-box">
              <li @click="hideWidget(widgetName)">hide widget</li>
            </div>
          </ul>
        </div>
        <div class="dropdown pull-right">
          <div class="dropdown-icon dropdown-toggle">
          	<i class="fa fa-plus"></i>
          </div>
        </div>
      </div>

      <div class="content-list">
        <template v-if="typeof polls.rows !== 'undefined'">
          <div class="content-set-wrapper no-hover" v-for="(poll, index) in polls.rows" :key="index">
            <div class="content-set">
              <div class="topic-box">
                <div class="topic-icon">
                  <img class="user-img" :src="require('@/assets/image/ex-profileimg.png')">
                </div>
                <div class="topic-text">
                  <div class="topic _text-blue">{{ poll.postBy }}</div>
                  <div class="company-name">{{ poll.permission }} - {{ poll.postBy }}</div>
                </div>
              </div>
              <div class="detail-box">
                <div class="poll-title">
                  {{ poll.topic }}
                </div>
                <div class="poll-vote">{{ poll.totalVote }} Vote</div>
                <choice :poll="poll"
                        :progressPercent="progressPercent"
                        :pollIndex="index"/>
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as types from '../../store/mutation-types'
import choice from './choice'

export default {
  name: 'dash-poll',
  data () {
    return {
      widgetName: 'poll'
    }
  },
  props: {
    hideWidget: {
      type: Function
    }
  },
  created () {
    this.receivedPoll()
  },
  computed: {
    ...mapGetters({
      polls: types.GET_POLL
    })
  },
  methods: {
    progressPercent (curVote, totalVote) {
      if (totalVote > 0) {
        return (100 * curVote / totalVote) + '%'
      } else {
        return '0%'
      }
    },
    ...mapActions({
      receivedPoll: types.RECEIVED_POLL
    })
  },
  components: {
    choice
  }
}
</script>