@import "../../../../modules/global";

/* Variable calendar */
$calendar-height    : 610px;
$leave-color        : #3987c9;
$appointment-color  : #f7b421;
$training-color     : #bd8dbe;
$todolist-color     : #e44c4d;
$holiday-color      : #50bc53;

$padding-item: 7px;
$screen-mobile: 480px;

.page-dashboard {
  .row {
    width: 100%;
    margin: 0;
  }
  .clear-padding {
    padding: 0;
  }
  .sortable-chosen .card-box {
    box-shadow: 1px 3px 7px rgba(0,0,0,0.5);
  }
  .dash-item {
    padding: $padding-item;
  }
  .dashboard-left {
    margin-right: $right-sidebar-width;
    @media (max-width: $screen-xs-max) {
      margin-right: 0;
    }
    .dashboard-detail {
      padding: $padding-item;
      position: relative;
      background: #efefef;
      .draggable {
        min-height: 200px;
        padding-bottom: 50px;
        // border: 1px dashed $black-30;       
        .dash-item {
          cursor: move;
        }
      }
    }
  }
  .dashboard-right {
    z-index: 1000;
    position: fixed;
    top: $navbar-height + 1;
    right: 0;
    padding: 0;
    width: $right-sidebar-width;
    height: 100%;
    // background: #FFF;
    background: #f5f1f2;
    box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    $transition-rule: $transition-speed $transition-fn,
    width $transition-speed $transition-fn;
    @include transition-transform($transition-rule);
    @include scrollbar-custom;

    @media (max-width: $screen-xs-max) {
      @include translate($right-sidebar-width, 0);
    }
  }
  .dashboard-contact {
    // height: 100%;
    &.-bg-addlist {
      background: #FFF;
    }
    .dash-contact {
      margin: 0 0 100px 0;

      > .header {
        position: relative;
        background: #f5f1f2;
        height: 70px;
        > .title {
          text-align: center;
          font-family: 'promptlight';
          font-size: 24px;
          padding: 15px 20px;
        }
        > i {
          position: relative;
          margin-top: 0;
          top: -50px;
          right: -255px;
          font-size: 24px;
          font-weight: normal;
          color: #959595;
          cursor: pointer;
        }
      }
      >.body {
        position: relative;
        .list-body {
          margin-top: 1px;
          &.collapse-group > .panel-group .panel {
            background: none;

            .panel-heading-contact {
              height: 55px;
              padding: 0 15px;
              background-color: none;
              color: #252525;
              margin: -1px 0 0 20px;
              border-top-right-radius: 0;
              border-top-left-radius: 0;
              border-top: 1px solid $black-30;
              border-left: none;
              border-right: none;
              border-bottom: 1px solid $black-30;
              line-height: 55px;
              cursor: pointer;
              @include clearfix;
              
              .title {
                font-family: 'promptlight';
                font-size: 18px;
                display: inline;

                .left-icon {
                  display: inline-block;
                  font-size: 22px;
                  padding: 0 5px 0 0;
                }
                .left-icon-group {
                  display: inline-block;
                  font-size: 23px;
                  padding: 0 5px 0 0;
                }
                .contact-group {
                  font-family: 'promptregular';
                  color: $black-65;
                }

                .contact-number {
                  color: $blue;
                }
              }
              .up {
                font-size: 30px;
                line-height: 50px;
                display: inline;
                text-align: right;
                float: right;
                color: $black-30;
              }
              .down {
                font-size: 30px;
                line-height: 50px;
                display: none;
                text-align: right;
                float: right;
                color: $black-30;
              }

              &.collapsed {
                border-top: 1px solid $black-30;
                border-bottom: 1px solid $black-30;
                border-left: none;
                border-right: none;

                .title {
                  color: $black-90;

                  >.right {
                    color: $black-50;
                    font-size: 12px;
                    vertical-align: middle;
                    padding: 0 10px 5px 0
                  }
                }

                .up {
                  font-size: 30px;
                  line-height: 50px;
                  display: none;
                  text-align: right;
                  float: right;
                  color: $black-30;

                }
                .down {
                  font-size: 30px;
                  line-height: 50px;
                  display: inline;
                  text-align: right;
                  float: right;
                  color: $black-30;
                }
              }
            }
            .panel-collapse {
              >.panel-body-contact {
                @include clearfix;
                padding: 0;
                border-top: none;
                position: relative;
                z-index: 3;
                margin: 0 0 -1px 0;

                .contact-set {
                  padding: 5px 0 5px 20px;
                  @include clearfix;
                  cursor: pointer;

                  &:hover {
                    background: $black-10;

                    .contact-del {
                      color: $black-50;
                      width: 10%;
                    }
                  }

                  >.img-panel {
                    width: 20%;
                    float: left;
                    padding-top: 5px;

                    .emp-img {
                      border-radius: 50%;
                      width: 45px;
                      height: 45px;
                    }
                    .status-circle {
                      position: relative;
                      width: 10px;
                      height: 10px;
                      border-radius: 50%;
                      background: $green;
                      top: -45px;
                      left: 35px;
                    }
                  }
                  >.detail-panel {
                    padding: 5px 0 5px 10px;
                    float: left;
                    font-size: 14px;
                    width: 70%;

                    .contact-name {
                      line-height: 18px;
                      font-family: 'promptregular';
                      color: $black-65;
                    }
                    .contact-position {
                      line-height: 18px;
                      font-family: 'promptlight';
                      color: $black-50;
                    }
                  }
                  >.contact-del {
                    float: right;
                    text-align: right;
                    font-size: 18px;
                    line-height: 42px;
                    padding: 0 15px 0 0;
                    color: #f5f1f2;
                    width: 10%;
                  }
                }
              }
            }
          }
        }
        .addlist-wrapper {
          margin: -26px 0 0 0;
          .triangle {
            width: 24px;
            border-top: 13px solid transparent;
            border-right: 13px solid transparent;
            border-left: 13px solid transparent;
            border-bottom: 13px solid #FFF;
            position: relative;
            top: 1px;
            left: 250px;
            filter: drop-shadow(0 -1px 0 rgba(0,0,0,0.25));
            z-index: 8;
          }
          .addlist-body {
            border-top: 1px solid $black-20;
            // height: 100vh;
            // background: blue;

            .-contact-input {
              padding: 10px;
              margin: 0;
              border-bottom: 1px solid $black-20;

              .-contact-input-icon {
                font-size: 22px;
                top: 12px;
              }

              .search-input {
                &::-webkit-input-placeholder { 
                  color: $black-50;
                  font-size: 14px;
                }
                &::-moz-placeholder { 
                  color: $black-50;
                  font-size: 14px;
                }
                &:-ms-input-placeholder { 
                  color: $black-50;
                  font-size: 14px;
                }
              }
            }
            .contact-set {
              padding: 5px 0 5px 20px;
              @include clearfix;
              cursor: pointer;

              &:hover {
                background: $black-10;
              }

              >.img-panel {
                width: 20%;
                float: left;
                padding-top: 5px;

                .emp-img {
                  border-radius: 50%;
                  width: 45px;
                  height: 45px;
                }
                .status-circle {
                  position: relative;
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  background: $green;
                  top: -45px;
                  left: 35px;
                }
              }
              >.detail-panel {
                padding: 5px 0 5px 10px;
                float: left;
                font-size: 14px;
                width: 70%;

                .contact-name {
                  line-height: 18px;
                  font-family: 'promptregular';
                  color: $black-65;
                }
                .contact-position {
                  line-height: 18px;
                  font-family: 'promptlight';
                  color: $black-50;
                }
              }
              >.contact-checked {
                float: right;
                text-align: right;
                font-size: 34px;
                line-height: 46px;
                padding: 0 15px 0 0;
                color: $blue;
                width: 10%;
              }
            }
          }
        }
      }
    }
    .modal-mask .modal-wrapper .modal-container {
      width: 550px;
      margin-top: 70px;
    }
    .dash-contact-popup {
      font-size: 14px;
      .modal-header {
        font-size: 14px;
      }
      .modal-body {
        display: table;
        width: 100%;
        min-height: 350px;

        .contact-panel {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          margin: auto;

          .contact-img {
            img {
              width: 150px;
              border-radius: 100%;
            }  
          }
          .contact-name {
            margin-top: 20px;
            font-family: 'promptregular';
            font-size: 16px;
          }
          .contact-department {
            font-family: 'promptregular';
          }
          .contact-position {
            font-size: 13px;
            line-height: 1;
            color: #777;
          }
          .contact-control-group {
            margin: 25px 0 0;
            .control-item {
              display: inline-block;
              margin-left: 25px;
              margin-right: 25px;
              i {
                border-radius: 100%;
                width: 40px;
                height: 40px;
                font-size: 21px;
                color: #fff;
                padding-top: 9px;
                cursor: pointer;
                &._disabled {
                  cursor: default;
                }
              }
              .control-text {
                font-size: 12px;
                margin-top: 5px;
                color: #555;
              }
            }
          }
        }
      }
      .modal-footer {
        padding: 15px 15px 0;
        border-top: 2px solid #c5c5c5;
        .footer-item {
          display: inline-block;
          width: 33.3%;
          color: #666;
          &.-phone, &.-mobile {
            width: 30%;
          }
          &.-email {
            width: 40%;
          }
          i {
            font-size: 25px;
          }
          .footer-text {
            font-size: 12px;
            width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
          }
        }
      }
    }
  }
  .dashboard-profile {
    position: relative;
    max-height: $cover-height;

    .user-img {
      position: absolute;
      bottom: 30px;
      left: 30px;
      width: 90%;
      > img {
        float: left;
        width: 65px;
        min-height: 65px;
        border: 2px solid #fff;
        border-radius: 100%;
      }
      .profile-title {
        width: 70%;
        float: left;
        color: #fff;
        margin-left: 20px;
        > .title-1 {
          font-family: 'promptregular';
          font-size: 26px;
          filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.3));
          @media (max-width: $screen-mobile) {
            font-size: 20px;
          }
        }
        > .title-2 {
          font-family: 'promptregular';
          font-size: 18px;
          filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.3));
          @media (max-width: $screen-mobile) {
            font-size: 14px;
          }
        }
      }
    }
    .profile-header-img {
      width: 100%;
      height: auto;
      // background: linear-gradient(rgba(0,0,0,0) 71%, rgba(0,0,0, .53));
      // max-height: $right-sidebar-width;
      &:hover {

      }
    }

    .shadow-img {
      position: absolute;
      bottom: 0;
      // margin-top: -$cover-height;
      // left: -30px;
      width: 100%;
      height: $cover-height;
      background: linear-gradient(rgba(0,0,0,0) 71%, rgba(0,0,0, .53));
    }
  }
  .dashboard-config {
    background: #ebebeb;
    height: 40px;
    top: 1px;
    position: relative;
    >.header-icon {
      text-align: right;
      float: right;
      margin: 5px 0;
      cursor: pointer;
      padding: 0 20px 0 0;
      color: $black-50;
      font-size: 18px;

      >.dropdown {
        .dropdown-icon {
          font-size: 16px;
          outline: none !important;
          cursor: pointer;
          margin: 5px;
          display: inline-block;
        }
        .dropdown-toggle::after {
          display: none;
          width: 0;
          height: 0;
          margin-left: 0;
        }
        .dropdown-menu {
          min-width: 200px;
          font-size: 14px;
          text-align: left;
          background: none;
          box-shadow: none;
          padding: 0;
          margin: -10px 0 2px -160px;
          list-style: none;
          border: none;
          border-image: initial;
          border-radius: 2px;
          .triangle {
            width: 24px;
            border-top: 13px solid transparent;
            border-right: 13px solid transparent;
            border-left: 13px solid transparent;
            border-bottom: 13px solid #FFF;
            position: relative;
            top: 2px;
            left: 155px;
            filter: drop-shadow(0 -1px 0 rgba(0,0,0,0.25));
            z-index: 8;
          }
          .dropdown-box {
            min-width: 200px;
            font-size: 14px;
            text-align: left;
            background-color: rgb(255, 255, 255);
            background-clip: padding-box;
            box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px;
            list-style: none;
            border-width: 1px;
            border-style: solid;
            padding: 5px 0;
            border-color: rgba(0, 0, 0, 0.15);
            border-image: initial;
            border-radius: 2px;
            .item-group {
              border: 1px dashed #d6d6d6;
              min-height: 50px;
              li.draggable {
                .checkbox-group {
                  cursor: move;
                  .checkbox-label {
                    cursor: move;
                  }
                }
              }
            }
            .checkbox-label {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .dashboard-calendar {
    background: #FFF;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    margin: 7px 8px;

    .checkbox-group > .checkbox-fake {
      &.-leave {
        border: 2px solid $leave-color;
      }
      &.-appointment {
        border: 2px solid $appointment-color;
      }
      &.-training {
        border: 2px solid $training-color;
      }
      &.-todoList {
        border: 2px solid $todolist-color;
      }
      &.-holiday {
        border: 2px solid $holiday-color;
      }
    }

    .checkbox-group input[type=checkbox]:checked + .checkbox-fake {
      &.-leave {
        border: 2px solid $leave-color;
        background: $leave-color;
      }
      &.-appointment {
        border: 2px solid $appointment-color;
        background: $appointment-color;
      }
      &.-training {
        border: 2px solid $training-color;
        background: $training-color;
      }
      &.-todoList {
        border: 2px solid $todolist-color;
        background: $todolist-color;
      }
      &.-holiday {
        border: 2px solid $holiday-color;
        background: $holiday-color;
      }
    }

    &.mode-day {
      height: $calendar-height;

      .modeday-wrapper {
        height: $calendar-height;

        >.panel-left {
          width: 35%;
          height: 100%;
          float: left;
          background: #F1F1F1;
          padding: 25px 15px 15px 25px;

          @media (max-width: $screen-mobile) {
            width: 100%;
            height: auto;
          }

          .date-pc {
            @media (max-width: $screen-mobile) {
              display: none;
            }
            .year-section {
              width: 100%;
              @include clearfix;
              font-family: 'promptregular';
              font-size: 28px;
              .year {
                color: $blue;
                float: left;
              }
              .back {
                float: right;
                padding: 0 10px 0 10px;
                color: $black-50;
                cursor: pointer;
              }
              .next {
                float: right;
                padding: 0 10px 0 10px;
                color: $black-50;
                cursor: pointer;
              }
            }
            .month-section {
              width: 100%;
              font-family: 'promptlight';
              font-size: 54px;
              line-height: 50px;
              color: $blue;
            }
            .date-section {
              width: 100%;
              font-family: 'promptlight';
              font-size: 50px;
              line-height: 60px;
              color: $blue;
            }
            .line-section {
              width: 35%;
              padding: 10px 0;
              border-bottom: 5px solid $blue;
            }
          }
          .date-mobile {
            @media (max-width: $screen-mobile) {
              .nextback {
                width: 100%;
              }
              .back {
                float: left;
                padding: 0 10px 0 10px;
                margin-top: -10px;
                color: $black-50;
                cursor: pointer;
                font-size: 22px;
              }
              .next {
                float: left;
                padding: 0 10px 0 10px;
                margin-top: -10px;
                color: $black-50;
                cursor: pointer;
                font-size: 22px;
              }
              .date-section {
                display: block;
                float: left;
                width: 100%;
                font-family: 'promptlight';
                font-size: 30px;
                line-height: normal;
                color: $blue;
                text-align: center;
                margin-top: 10px;
              }
            }
            @media (min-width: $screen-mobile + 1) {
              display: none;
            }
          }
        }
        >.panel-right {
          width: 65%;
          height: 100%;
          float: left;
          padding: 30px 0 0 0;
          // overflow-y: auto;
          // @include scrollbar-custom;
          
          @media (max-width: $screen-mobile) {
            width: 100%;
            height: auto;
          }

          .heading-section {
            padding: 0 20px;
            font-size: 20px;

            .heading-text {
              padding: 0 0 0 5px;
              font-family: 'promptregular';
              color: $black-85;
            }
          }
          .detail-section {
            margin: 15px 0 0 0;
            width: 100%;
            overflow-y: auto;
            height: $calendar-height - 76 - 15;
            @include scrollbar-custom;
            
            @media (max-width: $screen-mobile) {
              height: $calendar-height - 76 - 15 - 119;
            }

            .detail-no-event {
              width: 100%;
              height: 100%;
              display: table;
              .-content {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                color: #9d9d9d;
                font-size: 14px;
              }
            }
            .detail-set-wrapper {
              .detail-set {
                margin: 0 0 0 20px;
                padding: 15px 0;
                border-bottom: 1px solid $black-10;

                .topic-box {
                  width: 100%;
                  padding: 0 20px 0 0;
                  @include clearfix;

                  .type-circle {
                    font-size: 20px;
                    padding: 0 15px 0 0;
                    width: 10%;
                    float: left;

                    &.-leave {
                      color: $leave-color;
                    }
                    &.-appointment {
                      color: $appointment-color;
                    }
                    &.-training {
                      color: $training-color;
                    }
                    &.-todolist {
                      color: $todolist-color;
                    }
                    &.-holiday {
                      color: $holiday-color;
                    }
                  }
                  .topic-text {
                    font-size: 14px;
                    font-family: 'promptmedium';
                    width: 60%;
                    float: left;
                  }
                  .time {
                    float: right;
                    text-align: right;
                    font-size: 12px;
                    color: $black-50;
                    width: 30%;
                    >i {
                      font-size: 12px;
                    }
                  }
                }
                .location {
                  color: $blue;
                  font-family: 'promptmedium';
                  >i {
                    font-size: 16px;
                    padding: 0 10px 0 0;
                  }
                }
                .status {
                  font-family: 'promptmedium';

                  >i {
                    font-size: 16px;
                    padding: 0 10px 0 0;
                  }
                }
                .detail-box {
                  padding: 0 9.5%;
                  font-size: 14px;

                  .detail {
                    padding: 2px 0;
                    .label-text {
                      font-family: 'promptregular';
                      color: $black-65;
                    }
                    .data-text {
                      font-family: 'promptregular';
                      color: $black-50;
                    }
                  }
                }
                .detail-button {
                  padding: 5px 0 0;
                  @include clearfix;

                  .edit-set {
                    margin: 5px;
                    cursor: pointer;
                    display: table;
                    float: left;
                    >i {
                      font-size: 16px;
                      line-height: 21px;
                      color: $blue;
                      display: table-cell;
                    }
                    .edit-text {
                      padding: 0 10px;
                      display: table-cell;
                      vertical-align: middle;
                      font-family: 'promptregular';
                    }
                  }
                  .del-set {
                    margin: 5px 5px 5px 40px;
                    cursor: pointer;
                    display: table;
                    float: left;
                    >i {
                      font-size: 16px;
                      line-height: 21px;
                      color: $red;
                      display: table-cell;
                    }
                    .del-text {
                      padding: 0 10px;
                      display: table-cell;
                      vertical-align: middle;
                      font-family: 'promptregular';
                    }
                  }
                }
              }
            }
          }
          .todo-detail-section {
            padding: 0 20px;
            overflow-y: auto;
            height: $calendar-height - 76;
            @include scrollbar-custom;
            @include clearfix;

            .date-time-group {
              width: 85%;
              display: table;
              margin: -20px 0 0 0;
              float: left;
              @include clearfix;

              >.from {
                width: 46%;
                float: left;
                @include clearfix;

                .date-input-box {
                  width: 100%;
                }
                .time-input-box {
                  width: 100%;
                }
              }
              >.dash {
                width: 8%;
                float: left;
                text-align: center;
                padding: 45px 0 0 0;
                color: $black-65;
              }
              >.to {
                width: 46%;
                float: left;
                @include clearfix;
                
                .date-input-box {
                  width: 100%;
                }
                .time-input-box {
                  width: 100%;
                }
              }
            }
            // .checkbox-group {
            //   &.-todolist {
            //     margin: 30px 0 0 5%;
            //     width: 25%;
            //     float: left;
            //   }
            // }
            .todolist-button-box {
              padding: 10px 0;
              @include clearfix;
            }
          }
        }
      }
    }

    .calendar-header {
      .monthyear-box {
        width: 60%;
        margin: 0 auto;
        padding: 25px 0;
        cursor: pointer;
        display: table;
        @include clearfix;
        @media (max-width: $screen-mobile) {
          width: 90%;
          padding: 50px 0 10px;
        }

        >.left-button {
          display: table-cell;
          text-align: left;
          font-size: 30px;
          width: 10%;
          color: $blue;
        }
        .monthyear-dropdown {
          display: block;
          width: 70%;
          @include clearfix;
          margin: 0 auto;
          @media (max-width: $screen-mobile) {
            width: 100%;
          }
          @media (min-width: $screen-mobile + 1) and (max-width: $screen-xs-max) {
            width: 100%;
          }

          >.month-dropdown {
            display: block;
            float: left;
            width: 65%;

            .select-group {
              >.select {
                direction: rtl;
                padding: 0 10px 0 0;
                font-family: 'promptregular';
                font-size: 20px;
                border: none;
                color: $blue;
                text-align-last: center;
              }
              .caret {
                display: none;
                font-size: 8px;
                color: $blue;
              }
            }
          }
          >.year-dropdown {
            display: block;
            float: left;
            width: 35%;

            .select-group {
              >.select {
                font-family: 'promptregular';
                font-size: 20px;
                padding: 0 0 0 10px;
                border: none;
                color: $blue;
              }
              .caret {
                display: none;
                font-size: 8px;
                color: $blue;
              }
            }
          }
        }
        >.right-button {
          display: table-cell;
          text-align: right;
          font-size: 30px;
          width: 10%;
          color: $blue;
        }
      }
      >.header-icon {
        color: $black-50;
        font-size: 18px;
        position: absolute;
        right: 20px;
        top: 35px;
        @media (max-width: $screen-mobile) {
          top: 20px;
        }
    
        >.dropdown {
          .dropdown-icon {
            font-size: 16px;
            outline: none !important;
            cursor: pointer;
            margin: 5px 8px;
            display: inline-block;
          }
          .dropdown-toggle::after {
            display: none;
            width: 0;
            height: 0;
            margin-left: 0;
          }
    
          .dropdown-menu {
            min-width: 200px;
            font-size: 14px;
            text-align: left;
            background: none;
            box-shadow: none;
            padding: 0;
            margin: -10px 0 2px -160px;
            list-style: none;
            border: none;
            border-image: initial;
            border-radius: 2px;
    
            .triangle {
              width: 24px;
              border-top: 13px solid transparent;
              border-right: 13px solid transparent;
              border-left: 13px solid transparent;
              border-bottom: 13px solid #FFF;
              position: relative;
              top: 2px;
              left: 155px;
              filter: drop-shadow(0 -1px 0 rgba(0,0,0,0.25));
              z-index: 8;
              &._toggleItem{
                left: 154px;
              }
            }
            .dropdown-box {
              min-width: 200px;
              font-size: 14px;
              text-align: left;
              background-color: rgb(255, 255, 255);
              background-clip: padding-box;
              box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px;
              list-style: none;
              border-width: 1px;
              border-style: solid;
              padding: 5px 0;
              border-color: rgba(0, 0, 0, 0.15);
              border-image: initial;
              border-radius: 2px;
            }
          }
        }
      }
    }

    .calendar-box {
      padding: 0 15px 15px 15px;

      .table-calendar {
        width: 100%;
        text-align: center;
        .weekdays {
          width: 14.2857142857%;
          font-family: 'promptlight';
          font-size: 18px;
          padding: 10px 0;
          border-top: 1px solid $black-10;
          border-bottom: 1px solid $black-10;
          @media (max-width: $screen-mobile) {
            font-size: 14px;
          }
        }
        .numberdate-set {
          padding: 25px 0 0 0;
          @media (max-width: $screen-mobile) {
            padding: 5px 0 0 0;
          }

          .numberdate-box {
            text-align: center;

            .numberdate-center {
              width: 35px;
              margin: auto;
              
              .numberdate {
                display: table-cell;
                vertical-align: middle;
                width: 35px;
                height: 35px;
                border-radius: 20px;
                cursor: pointer;
  
                &.active {
                  background: $black-65;
                  color: #FFF;
  
                  &:hover {
                    background: $black-65;
                  }
                }
                &:hover {
                  background: $black-10;
                }
              }
            }
          }
          .date-type {
            text-align: center;
            font-size: 8px;
            padding: 4px 0;
            min-height: 19px;
            @media (max-width: $screen-mobile) {
              font-size: 4px;
              padding: 5px 0;
              min-height: 13px;
            }

            >i {
              padding: 1px;

              &.-leave {
                color: $leave-color;
              }
              &.-appointment {
                color: $appointment-color;
              }
              &.-training {
                color: $training-color;
              }
              &.-todolist {
                color: $todolist-color;
              }
              &.-holiday {
                color: $holiday-color;
              }
            }
          }
        }
      }
    }
  }
  .dashboard-banner {
    .banner-header-icon {
      position: absolute;
      right: 10px;
      top: 5px;
      margin: 0;
      cursor: pointer;
      color: #FFF;
      font-size: 18px;

      >.dropdown {
        .dropdown-icon {
          font-size: 16px;
          outline: none !important;
          cursor: pointer;
          margin: 5px;
          display: inline-block;
        }
        .dropdown-toggle::after {
          display: none;
          width: 0;
          height: 0;
          margin-left: 0;
        }

        .dropdown-menu {
          min-width: 200px;
          font-size: 14px;
          text-align: left;
          background: none;
          box-shadow: none;
          padding: 0;
          margin: -10px 0 2px -160px;
          list-style: none;
          border: none;
          border-image: initial;
          border-radius: 2px;

          .triangle {
            width: 24px;
            border-top: 13px solid transparent;
            border-right: 13px solid transparent;
            border-left: 13px solid transparent;
            border-bottom: 13px solid #FFF;
            position: relative;
            top: 2px;
            left: 155px;
            filter: drop-shadow(0 -1px 0 rgba(0,0,0,0.25));
            z-index: 8;
          }
          .dropdown-box {
            min-width: 200px;
            font-size: 14px;
            text-align: left;
            background-color: rgb(255, 255, 255);
            background-clip: padding-box;
            box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px;
            list-style: none;
            border-width: 1px;
            border-style: solid;
            padding: 5px 0;
            border-color: rgba(0, 0, 0, 0.15);
            border-image: initial;
            border-radius: 2px;
          }
        }
      }
    }
    .content-banner {
      min-height: 115px;
      position: relative;
      padding: 20px 20px;
      
      ._left {
        position: absolute;
        width: 75px;
      }
      ._right {
        float: left;
        width: 100%;
        padding: 5px 0 0 85px;
      }
    }
  }
  .dash-meeting-room {
    .content-banner {
      ._left {
        img {
          width: 100%;
          border: 2px solid #fff;
          border-radius: 100%;
        }
      }
      ._right {
        .item {
          width: 100%;
          float: left;
          font-weight: normal;
          .icon {
            font-size: 16px !important;
            position: relative;
            position: absolute;
            width: 20px;
            text-align: center;
          }
          .text {
            float: left;
            margin-left: 30px;
            font-size: 14px;
            padding: 2px 0 0 0 ;

            &.-regular {
              font-family: 'promptmedium';
            }
            &.-light {
              font-family: 'promptextralight';
            }
          }
        }
      }
    }
  }
  .dash-weekly-report {
    .content-banner {
      ._left {
        padding: 12px 0 0 0;
        text-align: center;
        img {
          width: 70%;
          // border: 2px solid #fff;
          // border-radius: 100%;
        }
      }
      ._right {
        padding: 5px 0 0 90px;
        .header {
          font-size: 14px;
          font-family: 'promptregular';
          // font-weight: bold;
        }
        .detail {
          padding: 4px 0 0 0;
          font-family: 'promptextralight';
          font-size: 12px;
        }
      }
    }
  }
  .dash-news {
    position: relative;
    img {
      width: 100%;
    }
    .banner-header-icon {
      z-index: 10;
      .dropdown-icon {
        color: #959595;
      }
    }
    .carousel-text {
      padding: 10px;
      position: absolute;
      bottom: 0;
      color: #fff;
      background: linear-gradient(rgba(0,0,0,0) 0, rgba(0,0,0, .7));
      width: 100%;
      .carousel-topic {
        font-family: 'promptregular';
        font-size: 16px;
        line-height: 20px;
        filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.3));
      }
      .carousel-detail {
        font-family: 'promptextralight';
        padding: 5px 0 0 0;
        font-size: 14px;
        line-height: 18px;
        filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.3));
      }
    }
    .-carousel-left {
      justify-content: left;
      text-align: left;
      opacity: 0;

      .-carousel-icon {
        font-size: 22px;
        background: $blue;
        opacity: 0.8;
        padding: 0 12px; 
      }
    }
    .-carousel-right {
      justify-content: right;
      text-align: right;
      opacity: 0;
      width: auto;

      .-carousel-icon {
        font-size: 22px;
        background: $blue;
        opacity: 0.8;
        padding: 0 12px; 
      }
    }
    &:hover {
      .-carousel-left {
        justify-content: left;
        text-align: left;
        opacity: 1;

        .-carousel-icon {
          font-size: 22px;
          background: $blue;
          opacity: 0.8;
          padding: 0 12px; 
        }
      }
      .-carousel-right {
        justify-content: right;
        text-align: right;
        opacity: 1;
        width: auto;

        .-carousel-icon {
          font-size: 22px;
          background: $blue;
          opacity: 0.8;
          padding: 0 12px; 
        }
      }
    }
  }
  .dashboard-task {
    .card-type1 {
      > .content-list {
        .content-set-wrapper {
          .content-set {
            > .detail {
              line-height: 1;
            }
          }
        }
        .detail-no-event {
          width: 100%;
          min-height: 200px;
          display: table;
          .-content {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            color: #9d9d9d;
            padding: 0px 25px 20px;
            .-content-1 {
              font-size: 18px;
              margin-bottom: 10px;
            }
            .-content-2 {
              font-size: 14px;
              margin-bottom: 10px;
            }
            .-content-3 {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .dashboard-overview {
    .content-list {
      // min-height: 400px;
      min-height: 665px !important;

      .carousel {
        padding: 15px 0;
        position: relative;
        
        .carousel-indicators {
          position: absolute;
          right: 0;
          bottom: -15px;
          left: 0;
          z-index: 15;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: center;
          justify-content: center;
          padding-left: 0;
          margin-right: 15%;
          margin-left: 15%;
          list-style: none;

          li {
            position: relative;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            width: 10px;
            height: 10px;
            border-radius: 20px;
            border: 1px solid $black-50;
            background: #FFF;
            margin-right: 5px;
            margin-left: 5px;
            cursor: pointer;
            text-indent: -999px;

            &.active {
              background: $black-50;
            }
          }
        }
        .carousel-inner {
          height: 620px;

          .carousel-item {
            padding: 0 15px;
            .graph-box {
              margin: 0 auto;
              text-align: center;
              width: 80%;
              >.img {
                width: 100%;
              }
            }
            >.detail-box {
              padding: 40px 0;

              .topic {
                font-family: 'promptregular';
                font-size: 18px;
              }
              .detail {
                padding: 5px 0;
                color: $black-50;
                font-size: 14px;
              }
              .description-box {
                padding: 5px 0;

                .description-set {
                  padding: 5px 0;
                  display: table;

                  .bullet {
                    display: table-cell;
                    font-size: 16px;

                    &.color-1 {
                      color: #3987c9;
                    }
                    &.color-2 {
                      color: #55bd5c;
                    }
                    &.color-3 {
                      color: #f7b521;
                    }
                    &.color-4 {
                      color: #e44b4d;
                    }
                    &.color-5 {
                      color: #bd8dbf;
                    }
                    &.color-6 {
                      color: #998675;
                    }
                  }
                  .desc {
                    font-size: 14px;
                    display: table-cell;
                    padding: 0 0 0 10px;
                    color: $black-50;
                  }
                  .percent {
                    font-family: 'promptmedium';
                    font-size: 14px;
                    display: table-cell;
                    padding: 0 0 0 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .dashboard-poll {
    .card-type2 > .content-list .content-set-wrapper .content-set .topic-box .topic-text {
      width: 80%;
    }
    .card-box > .content-list {
      max-height: 700px;
    }
    .poll-title {
      font-family: 'promptregular';
      padding-right: 20px;
    }
    .poll-vote {
      color: #b9b9b9;
      font-size: 14px;
      padding: 5px 20px 10px 0;
    }
    .choice-box {
      padding-right: 20px;
      .choice {
        height: 35px;
        position: relative;
        margin: 0 0 10px 0;
        background-color: #ccc;
        .progress {
          position: absolute;
          height: 35px;
          background-color: #aaa;
          border-radius: 0;
        }
        .choosentext {
          width: 100%;
          color: #FFFFFF;
          font-size: 22px;
          padding: 4px 0 0 0;
          position: relative;
          .text {
            width: 80%;
            float: left;
            font-size: 14px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 3px 5px 3px 10px;
          }
          .number {
            width: 10%;
            padding: 3px 10px 3px 0;
            float: right;
            font-size: 14px;
            text-align: right;
          }
        }
      }
    }
  }
}