<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.detailTab2 }" :aria-expanded="!flgCollapse.detailTab2" @click.self="setCollapseToggle('detailTab2')" data-parent="#accordion" href="#rights" >
      <div class="title" @click.self="setCollapseToggle('detailTab2')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('detailTab2')"></i>{{ labels['HRPMB2E3']['10'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('detailTab2')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('detailTab2')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.detailTab2 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('detailTab2')"></i>
    </div>
    <div id="general" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.detailTab2}">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            <div class="input-group">
              <div class="label">{{ labels['HRPMB2E3']['20'] }}</div>
                <hcm-lov  v-model="detailTab2.detail.codcurr"
                          :nowLang="nowLang"
                          lovType="codcurr"
                          v-validate="'required'"
                          :descDisp="false"
                          data-vv-value-path="inputValue"
                          data-vv-as="codcurr"
                          data-vv-name="codcurr"
                          name="codcurr"
                          :disabled="detailDisabled"/>
            </div> 
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hrms-table :labels="labels"
                        :columns="detailTab2Columns" 
                        :data="detailTab2.table"
                        :nowLang="nowLang"
                        :searchDisp="false"
                        :tablePageDisp="false"
                        :csvExportDisp="false"
                        :columnSettingDisp="false"
                        :editInlineEventBool="true"
                        :saveInlineBtnDisp="false"/>
          </div>
        </div>
        <div class="row">
  

          <div class="row ot-summary-box">
            <div class="col-12 col-lg-4">
              <div class="col-12 heading">{{ labels['HRPMB2E3']['60'] }}</div>
              <div class="col-12 panel-set">
                <div class="content-set">
                  <div class="ot-label"><i class="fa"></i>{{ labels['HRPMB2E3']['90'] }} :</div>
                  <div class="ot-data">{{detailTab2.detail.incomm_amt1}} {{ labels['HRPMB2E3']['280'] }}</div>
                </div>
                <div class="content-set">
                  <div class="ot-label"><i class="fa"></i>{{ labels['HRPMB2E3']['100'] }} :</div>
                  <div class="ot-data">{{detailTab2.detail.incomd_amt1}} {{ labels['HRPMB2E3']['280'] }}</div>
                </div>
                <div class="content-set">
                  <div class="ot-label"><i class="fa"></i>{{ labels['HRPMB2E3']['110'] }} :</div>
                  <div class="ot-data">{{detailTab2.detail.wage_amt1}} {{ labels['HRPMB2E3']['280'] }}</div>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-4">
              <div class="col-12 heading">{{ labels['HRPMB2E3']['70'] }}</div>
              <div class="col-12 panel-set">
                <div class="content-set">
                  <div class="ot-label"><i class="fa"></i>{{ labels['HRPMB2E3']['90'] }} :</div>
                  <div class="ot-data">{{detailTab2.detail.incomm_adjamt1}} {{ labels['HRPMB2E3']['280'] }}</div>
                </div>
                <div class="content-set">
                  <div class="ot-label"><i class="fa"></i>{{ labels['HRPMB2E3']['100'] }} :</div>
                  <div class="ot-data">{{detailTab2.detail.incomd_adjamt1}} {{ labels['HRPMB2E3']['280'] }}</div>
                </div>
                <div class="content-set">
                  <div class="ot-label"><i class="fa"></i>{{ labels['HRPMB2E3']['110'] }} :</div>
                  <div class="ot-data">{{detailTab2.detail.wage_adjamt1}} {{ labels['HRPMB2E3']['280'] }}</div>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-4">
              <div class="col-12 heading">{{ labels['HRPMB2E3']['80'] }}</div>
              <div class="col-12 panel-set">
                <div class="content-set">
                  <div class="ot-label"><i class="fa"></i>{{ labels['HRPMB2E3']['90'] }} :</div>
                  <div class="ot-data">{{detailTab2.detail.incomm_netamt1}} {{ labels['HRPMB2E3']['280'] }}</div>
                </div>
                <div class="content-set">
                  <div class="ot-label"><i class="fa"></i>{{ labels['HRPMB2E3']['100'] }} :</div>
                  <div class="ot-data">{{detailTab2.detail.incomd_netamt1}} {{ labels['HRPMB2E3']['280'] }}</div>
                </div>
                <div class="content-set">
                  <div class="ot-label"><i class="fa"></i>{{ labels['HRPMB2E3']['110'] }} :</div>
                  <div class="ot-data">{{detailTab2.detail.wage_netamt1}} {{ labels['HRPMB2E3']['280'] }}</div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  </div>
</template>

<script>
export default {
  name: 'hrpmb2e-detail-tab2',
  props: [ 'nowLang',
    'labels',
    'labelsButton',
    'detailTab2',
    'indexSelected',
    'detailTab2Columns',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ]
}
</script>
