<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.detailTab1 }" :aria-expanded="!flgCollapse.detailTab1" @click.self="setCollapseToggle('detailTab1')" data-parent="#accordion" href="#tab1" >
      <div class="title" @click.self="setCollapseToggle('detailTab1')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('detailTab1')"></i>{{ labels['HRPMB2E2']['50'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('detailTab1')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('detailTab1')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.detailTab1 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('detailTab1')"></i>
    </div>
    <div id="general" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.detailTab1}">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6 group-space-lg">
            <div class="group-topic _unpadding">{{ labels['HRPMB2E2']['60'] }}</div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMB2E2']['70'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detailTab1.numannou" :disabled="detailDisabled">   
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMB2E2']['80'] }}</div>
                  <hcm-lov-codcomp v-model="detailTab1.codcomp"
                                  :nowLang="nowLang"
                                  lovType="codcomp"
                                  v-validate="'required'"
                                  :descDisp="false"
                                  data-vv-value-path="inputValue"
                                  data-vv-as="codcomp"
                                  data-vv-name="codcomp"
                                  name="codcomp" 
                                  :disabled="detailDisabled" />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMB2E2']['90'] }}</div>
                  <hcm-lov v-model="detailTab1.codpos"
                          :nowLang="nowLang"
                          lovType="codpos"
                          v-validate="'required'"
                          :descDisp="false"
                          data-vv-value-path="inputValue"
                          data-vv-as="codpos"
                          data-vv-name="codpos"
                          name="codpos" 
                          :disabled="detailDisabled" />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMB2E2']['100'] }}</div>
                  <hcm-lov v-model="detailTab1.codjob"
                          :nowLang="nowLang"
                          lovType="codjob"
                          v-validate="'required'"
                          :descDisp="false"
                          data-vv-value-path="inputValue"
                          data-vv-as="codjob"
                          data-vv-name="codjob"
                          name="codjob" 
                          :disabled="detailDisabled" />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMB2E2']['110'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detailTab1.numlvl" :disabled="detailDisabled">   
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMB2E2']['120'] }}</div>
                  <hcm-lov v-model="detailTab1.codbrlc"
                          :nowLang="nowLang"
                          lovType="codbrlc"
                          v-validate="'required'"
                          :descDisp="false"
                          data-vv-value-path="inputValue"
                          data-vv-as="codbrlc"
                          data-vv-name="codbrlc"
                          name="codbrlc"
                          :disabled="detailDisabled"  />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMB2E2']['130'] }}</div>
                  <hcm-lov v-model="detailTab1.codempmt"
                          :nowLang="nowLang"
                          lovType="codempmt"
                          v-validate="'required'"
                          :descDisp="false"
                          data-vv-value-path="inputValue"
                          data-vv-as="codempmt"
                          data-vv-name="codempmt"
                          name="codempmt"
                          :disabled="detailDisabled"  />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMB2E2']['135'] }}</div>
                  <hcm-lov v-model="detailTab1.codcalen"
                          :nowLang="nowLang"
                          lovType="codcalen"
                          v-validate="'required'"
                          :descDisp="false"
                          data-vv-value-path="inputValue"
                          data-vv-as="codcalen"
                          data-vv-name="codcalen"
                          name="codcalen"
                          :disabled="detailDisabled"  />
              </div>
            </div>
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMB2E2']['140'] }}</div>
                  <hcm-lov v-model="detailTab1.codtypemp"
                          :nowLang="nowLang"
                          lovType="codtypemp"
                          v-validate="'required'"
                          :descDisp="false"
                          data-vv-value-path="inputValue"
                          data-vv-as="codtypemp"
                          data-vv-name="codtypemp"
                          name="codtypemp"
                          :disabled="detailDisabled"  />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMB2E2']['150'] }}</div>
                  <hcm-lov v-model="detailTab1.codpayrol"
                          :nowLang="nowLang"
                          lovType="codpayrol"
                          v-validate="'required'"
                          :descDisp="false"
                          data-vv-value-path="inputValue"
                          data-vv-as="codpayrol"
                          data-vv-name="codpayrol"
                          name="codpayrol"
                          :disabled="detailDisabled"  />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMB2E2']['160'] }}</div>
                  <hcm-lov v-model="detailTab1.codjobgrad"
                          :nowLang="nowLang"
                          lovType="codjobgrad"
                          v-validate="'required'"
                          :descDisp="false"
                          data-vv-value-path="inputValue"
                          data-vv-as="codjobgrad"
                          data-vv-name="codjobgrad"
                          name="codjobgrad"
                          :disabled="detailDisabled"  />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMB2E2']['170'] }}</div>
                  <hcm-lov v-model="detailTab1.codgl"
                          :nowLang="nowLang"
                          lovType="codgl"
                          v-validate="'required'"
                          :descDisp="false"
                          data-vv-value-path="inputValue"
                          data-vv-as="codgl"
                          data-vv-name="codgl"
                          name="codgl" 
                          :disabled="detailDisabled" />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMB2E2']['180'] }}</div>
                  <hrms-dropdown  v-model="detailTab1.tistaemp"
                                  :options="dropdowns.tistaemp[nowLang]"
                                  :disabled="detailDisabled" />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMB2E2']['180'] }}</div>
                  <hrms-dropdown  v-model="detailTab1.tistapost2"
                                  :options="dropdowns.tistapost2[nowLang]"
                                  :disabled="detailDisabled" />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMB2E2']['200'] }}</div>
                  <textarea class="normal-textarea" type="text" name="textarea" v-model="detailTab1.desnote" :disabled="detailDisabled"></textarea>      
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 group-space-lg">
              <div class="group-topic _unpadding">{{ labels['HRPMB2E2']['210'] }}</div>
            </div>
          </div> 
          <div class="row">
            <div class="col-md-4 group-space-md">
              <div class="group-topic _unpadding">{{ labels['HRPMB2E2']['220'] }}</div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMB2E2']['240'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detailTab1.qtydue" :disabled="detailDisabled">
                  <div class="unit">{{ labels['HRPMB2E2']['241'] }}</div>   
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMB2E2']['250'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detailTab1.qtyexpand" :disabled="detailDisabled"><div class="unit">{{ labels['HRPMB2E2']['251'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detailTab1.qtymthrq" :disabled="detailDisabled"><div class="unit">{{ labels['HRPMB2E2']['252'] }}</div>
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMB2E2']['260'] }}</div>
                <hrms-datepicker  v-model="detailTab1.dteduepr"
                                  v-validate="'required|date_format:DD/MM/YYYY'"
                                  data-vv-value-path="inputDate"
                                  data-vv-name="dteduepr"
                                  data-vv-as="Effec Date"
                                  name="dteduepr"
                                  :disabled="detailDisabled"/>
              </div>
            </div>
            <div class="col-md-4 group-space-md">
              <div class="group-topic _unpadding">{{ labels['HRPMB2E2']['230'] }}</div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMB2E2']['270'] }}</div>
                  <hrms-datepicker  v-model="detailTab1.dteeval"
                                    v-validate="'required|date_format:DD/MM/YYYY'"
                                    data-vv-value-path="inputDate"
                                    data-vv-name="dteeval"
                                    data-vv-as="Eval Date"
                                    name="dteeval"
                                    :disabled="detailDisabled"/>
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMB2E2']['280'] }}</div>
                    <input class="normal-input" type="text" name="input" v-model="detailTab1.scoreget" :disabled="detailDisabled">
                </div>
                <div class="input-group">
                  <div class="label">{{ labels['HRPMB2E2']['290'] }}</div>
                    <hrms-dropdown  v-model="detailTab1.codrespr"
                                    :options="dropdowns.codrespr[nowLang]" 
                                    :disabled="detailDisabled"/>
                </div>
            </div>
            <div class="col-md-4 group-space-md">
              <template v-if="detailTab1.codrespr==='1'">
                <div class="group-topic _unpadding">{{ labels['HRPMB2E2']['300'] }}</div>
                <div class="row">
                  <div class="input-group">
                    <div class="checkbox-group col-md-6">
                      <input class="checkbox-true" type="checkbox" id="flgadjin" name="flgadjin" v-model="detailTab1.flgadjin" value="1" :disabled="detailDisabled" />
                      <label class="checkbox-fake" for="flgadjin" ></label>
                      <label class="checkbox-label" for="flgadjin">{{ labels['HRPMB2E2']['310'] }}</label>
                    </div>
                  </div>
                </div>
              </template>
              <template v-else>
                <div class="group-topic _unpadding">{{ labels['HRPMB2E2']['320'] }}</div>
                  <div class="input-group">
                    <textarea class="normal-textarea" type="text" name="textarea" v-model="detailTab1.codcause" :disabled="detailDisabled"></textarea>
                  </div>
              </template>


            </div>
          </div>        
    </div>
  </div>

  </div>
</template>

<script>
export default {
  name: 'hrpmb2e-detail-tab1',
  props: [ 'nowLang',
    'labels',
    'detailTab1',
    'labelsButton',
    'indexSelected',
    'dropdowns',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ]
}
</script>
