<template>
 <div class="body-wrapper">
    <div class="row">
      <div class="col-md-4 group-space-sm">
        <div class="input-group">
          <div class="label">{{ labels['HRPMB2E2']['10'] }}</div>
            <hcm-lov v-model="params.codempid"
                    :nowLang="nowLang"
                    lovType="codempid"
                    v-validate="'required'"
                    :descDisp="false"
                    data-vv-value-path="inputValue"
                    data-vv-as="codempid"
                    data-vv-name="codempid"
                    name="codempid"
                    :disabled="!detailDisabled"  />
        </div>
        <div class="input-group">
          <div class="label">{{ labels['HRPMB2E2']['20'] }}</div>
          <hrms-datepicker  v-model="params.dteeffec"
                              v-validate="'required|date_format:DD/MM/YYYY'"
                              data-vv-value-path="inputDate"
                              data-vv-name="dteeffec"
                              data-vv-as="Effec Date"
                              name="dteeffec"
                              :disabled="!detailDisabled" />
        </div>
      </div>
      <div class="col-md-4 group-space-sm">
        <div class="input-group">
          <div class="label">{{ labels['HRPMB2E2']['30'] }}</div>
          <input class="normal-input" type="text" name="input" v-model="params.numseq" :disabled="!detailDisabled">
        </div>
        <div class="input-group">
          <div class="label">{{ labels['HRPMB2E2']['40'] }}</div>
          <hcm-lov v-model="params.codtrn"
                    :nowLang="nowLang"
                    lovType="codtrn"
                    v-validate="'required'"
                    :descDisp="false"
                    data-vv-value-path="inputValue"
                    data-vv-as="codtrn"
                    data-vv-name="codtrn"
                    name="codtrn"
                    :disabled="!detailDisabled"  />
        </div>
      </div>
      <div class="col-md-6"  style="padding: 15px 0">
          <div v-if="!detailDisabled" type="button" class="button-md -disable _bg-blue-disable" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>
          <div v-if="detailDisabled" type="button" class="button-md _bg-blue"  @click="submitEvent()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>
        </div>
    </div>
    <div class="clearfix">
      <div class="collapse-group">
        <div class="panel-group" id="accordion">
          <div class="panel">
            <detail-tab1  :labels="labels"
                          :labelsButton="labelsButton"
                          :detailTab1="detail.tab1"
                          :nowLang="nowLang"
                          :dropdowns="dropdowns"
                          :indexSelected="indexSelected"
                          :detailDisabled="detailDisabled"
                          :flgCollapse="flgCollapse"                
                          :setCollapseToggle="setCollapseToggle"
                          :pinCollapse="pinCollapse"
                          :setPinCollapseToggle="setPinCollapseToggle"/>

            <detail-tab2  :labels="labels"
                          :labelsButton="labelsButton"
                          :nowLang="nowLang"
                          :indexSelected="indexSelected"
                          :detailTab2="detail.tab2"
                          :detailTab2Columns="columns.detailTab2"
                          :detailDisabled="detailDisabled"
                          :flgCollapse="flgCollapse"
                          :setCollapseToggle="setCollapseToggle"
                          :pinCollapse="pinCollapse"
                          :setPinCollapseToggle="setPinCollapseToggle"/>
            
          </div>
        </div>
      </div>
     </div>

    <div class="row" style="padding-top:20px;"> 
      <div class="group-space-sm">   
        <button type="button" class="button-md _bg-grey" @click="toggle('index')" value="Back"><i class="fa fa-chevron-circle-left"></i>{{ labelsButton['back'] }}</button>   
        <div type="button" class="button-md _bg-blue"  @click="saveDetail(saveParams())" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import detailTab1 from './detailTab1'
import detailTab2 from './detailTab2'

export default {
  name: 'hrpm5e-detail',
  data () {
    return {
      data: this.value,
      params: {
        codempid: '',
        dteeffec: '',
        numseq: '',
        codtrn: '',
        numannou: '',
        codcomp: '',
        codpos: '',
        codjob: '',
        numlvl: '',
        codbrlc: '',
        codempmt: '',
        codcalen: '',
        codtypemp: '',
        codpayrol: '',
        codjobgrad: '',
        codgl: '',
        tistaemp: '',
        tistapost2: '',
        desnote: '',
        qtydue: '',
        qtyexpand: '',
        qtymthrq: '',
        dteduepr: '',
        scoreget: '',
        ticodrespr: '',
        flgadjin: '',
        codcause: '',
        codcurr: '',
        v_amt1: '',
        v_adjamt1: '',
        v_netamt1: ''
      },
      pinCollapse: {
        detailTab1: false,
        detailTab2: false
      },
      flgCollapse: {
        detailTab1: false,
        detailTab2: true
      }
    }
  },
  watch: {
    'data.codempid' (newValue) {
      this.$emit('input', { codempid: newValue })
    },
    value (newValue) {
      this.data = newValue
    },
    detail () {
      if (this.eventBtn === 'add') {
        this.params.codempid = this.detail.detail.codempid
        this.params.dteeffec = this.detail.detail.dteeffec
        this.params.numseq = this.detail.detail.numseq
        this.params.codtrn = this.detail.detail.codtrn
      } else if (this.eventBtn === 'edit') {
        this.params.codempid = this.indexSelected.codempid
        this.params.dteeffec = this.indexSelected.dteeffec
        this.params.numseq = this.indexSelected.numseq
        this.params.codtrn = this.indexSelected.codtrn
      }
      this.params.numannou = this.detail.tab1.numannou
      this.params.codcomp = this.detail.tab1.codcomp
      this.params.codpos = this.detail.tab1.codpos
      this.params.codjob = this.detail.tab1.codjob
      this.params.numlvl = this.detail.tab1.numlvl
      this.params.codbrlc = this.detail.tab1.codbrlc
      this.params.codempmt = this.detail.tab1.codempmt
      this.params.codcalen = this.detail.tab1.codcalen
      this.params.codtypemp = this.detail.tab1.codtypemp
      this.params.codpayrol = this.detail.tab1.codpayrol
      this.params.codjobgrad = this.detail.tab1.codjobgrad
      this.params.codgl = this.detail.tab1.codgl
      this.params.tistaemp = this.detail.tab1.tistaemp
      this.params.tistapost2 = this.detail.tab1.tistapost2
      this.params.desnote = this.detail.tab1.desnote
      this.params.qtydue = this.detail.tab1.qtydue
      this.params.qtyexpand = this.detail.tab1.qtyexpand
      this.params.qtymthrq = this.detail.tab1.qtymthrq
      this.params.dteduepr = this.detail.tab1.dteduepr
      this.params.scoreget = this.detail.tab1.scoreget
      this.params.codrespr = this.detail.tab1.codrespr
      this.params.flgadjin = this.detail.tab1.flgadjin
      this.params.codcause = this.detail.tab1.codcause
      this.params.codcurr = this.detail.tab2.codcurr
      this.params.v_amt1 = this.detail.tab2.v_amt1
      this.params.v_adjamt1 = this.detail.tab2.v_adjamt1
      this.params.v_netamt1 = this.detail.tab2.v_netamt1
    }
  },
  methods: {
    resetCollapse () {
      this.flgCollapse = {
        detailTab1: false,
        detailTab2: true
      }
      this.pinCollapse = {
        detailTab1: false,
        detailTab2: false
      }
    },
    setPinCollapseToggle (tab) {
      this.pinCollapse[tab] = !this.pinCollapse[tab]
    },
    setCollapseToggle (tab) {
      for (let collapseTab in this.flgCollapse) {
        if (collapseTab !== tab) {
          if (!this.pinCollapse[collapseTab]) {
            this.flgCollapse[collapseTab] = true
          }
        }
      }
      this.flgCollapse[tab] = !this.flgCollapse[tab]
    },
    submitEvent () {
      if (this.params.numseq !== '' && this.params.codtrn !== '') {
        let detailParams = {
          p_numannou: this.params.numannou,
          p_codcomp: this.params.codcomp,
          p_codpos: this.params.codpos,
          p_codjob: this.params.codjob,
          p_numlvl: this.params.numlvl,
          p_codbrlc: this.params.codbrlc,
          p_codempmt: this.params.codempmt,
          p_codcalen: this.params.codcalen,
          p_codtypemp: this.params.codtypemp,
          p_codpayrol: this.params.codpayrol,
          p_codjobgrad: this.params.codjobgrad,
          p_codgl: this.params.codgl,
          p_tistaemp: this.params.tistaemp,
          p_tistapost2: this.params.tistapost2,
          p_desnote: this.params.desnote,
          p_qtydue: this.params.qtydue,
          p_qtyexpand: this.params.qtyexpand,
          p_qtymthrq: this.params.qtymthrq,
          p_dteduepr: this.params.dteduepr,
          p_scoreget: this.params.scoreget,
          p_codrespr: this.params.codrespr,
          p_flgadjin: this.params.flgadjin,
          p_codcause: this.params.codcause,
          p_codcurr: this.params.codcurr,
          p_v_amt1: this.params.v_amt1,
          p_v_adjamt1: this.params.v_adjamt1,
          p_v_netamt1: this.params.v_netamt1
        }
        this.$validator.validateAll().then(result => {
          if (result) {
            this.$emit('setDetailDisabled', false)
          }
        })
        this.receivedHrpmb2eDetail(detailParams)
        this.$emit('setDetailDisabled', false)
      }
    },
    saveParams () {
      return {
        indexSelected: this.indexSelected,
        detail: this.detail
      }
    }
  },
  props: [ 'labels',
    'labelsButton',
    'detail',
    'toggle',
    'nowLang',
    'searchIndex',
    'indexSelected',
    'saveDetail',
    'detailDisabled',
    'eventBtn',
    'receivedHrpmb2eDetail',
    'columns',
    'dropdowns'
  ],
  components: {
    detailTab1,
    detailTab2
  }
}
</script>
