<template>
 <div class="collapse-group">
    <div class="panel-group" id="personalTax">
      <div class="panel">
        <personal-tax1  :labels="labels"
                        :labelsButton="labelsButton"
                        :nowLang="nowLang"
                        :dropdowns="dropdowns"
                        :detail="detail.personalTax.personal" 
                        :changeDetailColumns="columns.changeDetail"
                        :popupChangeDetail="popupChangeDetail"
                        :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                        :receivedHrpmc2eSmartCardPopup="receivedHrpmc2eSmartCardPopup"
                        :popupSmartCard="popupSmartCard"
                        :smartCardPopupDisp="smartCardPopupDisp"
                        :setSmartCardPopupDisp="setSmartCardPopupDisp"
                        :flgCollapse="flgCollapse"
                        :setCollapseToggle="setCollapseToggle"
                        :pinCollapse="pinCollapse"
                        :setPinCollapseToggle="setPinCollapseToggle"
                        :detailDisabled="detailDisabled" />

        <personal-tax2  :labels="labels"
                        :labelsButton="labelsButton"
                        :nowLang="nowLang"
                        :detail="detail.personalTax.address"
                        :changeDetailColumns="columns.changeDetail"
                        :popupChangeDetail="popupChangeDetail"
                        :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup" 
                        :flgCollapse="flgCollapse"
                        :setCollapseToggle="setCollapseToggle"
                        :pinCollapse="pinCollapse"
                        :setPinCollapseToggle="setPinCollapseToggle"
                        :detailDisabled="detailDisabled"/>

        <personal-tax3  :labels="labels"
                        :labelsButton="labelsButton"
                        :nowLang="nowLang"
                        :detail="detail.personalTax.work"
                        :changeDetailColumns="columns.changeDetail"
                        :popupChangeDetail="popupChangeDetail"
                        :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                        :flgCollapse="flgCollapse"
                        :setCollapseToggle="setCollapseToggle"
                        :pinCollapse="pinCollapse"
                        :setPinCollapseToggle="setPinCollapseToggle"
                        :detailDisabled="detailDisabled" />

        <personal-tax4  :labels="labels"
                        :labelsButton="labelsButton"
                        :nowLang="nowLang"
                        :detail="detail.personalTax.travel"
                        :changeDetailColumns="columns.changeDetail"
                        :popupChangeDetail="popupChangeDetail"
                        :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                        :flgCollapse="flgCollapse"
                        :setCollapseToggle="setCollapseToggle"
                        :pinCollapse="pinCollapse"
                        :setPinCollapseToggle="setPinCollapseToggle"
                        :detailDisabled="detailDisabled" />

        <personal-tax5  :labels="labels"
                        :labelsButton="labelsButton"
                        :nowLang="nowLang"
                        :detail="detail.personalTax.income"
                        :incomeColumns="columns.income"
                        :changeDetailColumns="columns.changeDetail"
                        :popupChangeDetail="popupChangeDetail"
                        :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                        :flgCollapse="flgCollapse"
                        :setCollapseToggle="setCollapseToggle"
                        :pinCollapse="pinCollapse"
                        :setPinCollapseToggle="setPinCollapseToggle"
                        :detailDisabled="detailDisabled" />

        <personal-tax6  :labels="labels"
                        :labelsButton="labelsButton"
                        :nowLang="nowLang"
                        :detail="detail.personalTax.tax"
                        :tab3Columns="columns.taxTab3"
                        :tab4Columns="columns.taxTab4"
                        :tab5Columns="columns.taxTab5"
                        :changeDetailColumns="columns.changeDetail"
                        :popupChangeDetail="popupChangeDetail"
                        :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup" 
                        :flgCollapse="flgCollapse"
                        :setCollapseToggle="setCollapseToggle"
                        :pinCollapse="pinCollapse"
                        :setPinCollapseToggle="setPinCollapseToggle"
                        :detailDisabled="detailDisabled" />

        <personal-tax7  :labels="labels"
                        :labelsButton="labelsButton"
                        :nowLang="nowLang"
                        :detail="detail.personalTax.spouse"
                        :tab2Columns="columns.spouseTab2"
                        :tab3Columns="columns.spouseTab3"
                        :tab4Columns="columns.spouseTab4"
                        :changeDetailColumns="columns.changeDetail"
                        :popupChangeDetail="popupChangeDetail"
                        :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                        :flgCollapse="flgCollapse"
                        :setCollapseToggle="setCollapseToggle"
                        :pinCollapse="pinCollapse"
                        :setPinCollapseToggle="setPinCollapseToggle"
                        :detailDisabled="detailDisabled" />

        <personal-tax8  :labels="labels"
                        :labelsButton="labelsButton"
                        :nowLang="nowLang"
                        :dropdowns="dropdowns"
                        :detail="detail.personalTax.changename"
                        :changeNamecolumns="columns.changeName"
                        :tax8Selected="tax8Selected"
                        :popupTax8="popupTax8"
                        :setTax8Selected="setTax8Selected"
                        :receivedHrpmc2eTax8Popup="receivedHrpmc2eTax8Popup"
                        :receivedHrpmc2eTax8PopupCreate="receivedHrpmc2eTax8PopupCreate"
                        :saveHrpmc2eTax8Popup="saveHrpmc2eTax8Popup"
                        :saveHrpmc2ePersonalTax8="saveHrpmc2ePersonalTax8"
                        :changeDetailColumns="columns.changeDetail"
                        :popupChangeDetail="popupChangeDetail"
                        :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                        :codempidQuery="codempidQuery"
                        :flgCollapse="flgCollapse"
                        :setCollapseToggle="setCollapseToggle"
                        :pinCollapse="pinCollapse"
                        :setPinCollapseToggle="setPinCollapseToggle"
                        :detailDisabled="detailDisabled" />

        <personal-tax9  :labels="labels"
                        :labelsButton="labelsButton"
                        :nowLang="nowLang"
                        :detail="detail.personalTax.document"
                        :documentColumns="columns.document"
                        :tax9Selected="tax9Selected"
                        :popupTax9="popupTax9"
                        :setTax9Selected="setTax9Selected"
                        :receivedHrpmc2eTax9Popup="receivedHrpmc2eTax9Popup"
                        :receivedHrpmc2eTax9PopupCreate="receivedHrpmc2eTax9PopupCreate"
                        :saveHrpmc2eTax9Popup="saveHrpmc2eTax9Popup"
                        :saveHrpmc2ePersonalTax9="saveHrpmc2ePersonalTax9"
                        :changeDetailColumns="columns.changeDetail"
                        :popupChangeDetail="popupChangeDetail"
                        :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                        :codempidQuery="codempidQuery"
                        :flgCollapse="flgCollapse"
                        :setCollapseToggle="setCollapseToggle"
                        :pinCollapse="pinCollapse"
                        :setPinCollapseToggle="setPinCollapseToggle"
                        :detailDisabled="detailDisabled"  />
    </div>  
    <div class="group-space" style="padding-top: 40px">
        <!-- <div type="button" class="button-md _bg-red"  value="delete"><i class="fa fa-trash"></i>{{ labelsButton['delete'] }}</div>   -->
        <div v-if="detailDisabled" class="button-md -disable _bg-green-disable" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div>  
        <div v-if="!detailDisabled" class="button-md _bg-green" @click="saveHrpmc2ePersonalTax(saveParams())" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div>  
        <!-- <div class="button-md _bg-green"  @click="callSave()" value="saveAndContinue"><i class="fa fa-check-circle"></i>{{ labelsButton['saveAndContinue'] }}</div>   -->
      </div>                
    </div>
  </div>
</template>

<script>
import personalTax1 from './personalTax1'
import personalTax2 from './personalTax2'
import personalTax3 from './personalTax3'
import personalTax4 from './personalTax4'
import personalTax5 from './personalTax5'
import personalTax6 from './personalTax6'
import personalTax7 from './personalTax7'
import personalTax8 from './personalTax8'
import personalTax9 from './personalTax9'

export default {
  name: 'hrpmc2e-personal-tax',
  data () {
    return {
      pinCollapse: {
        personalTax1: false,
        personalTax2: false,
        personalTax3: false,
        personalTax4: false,
        personalTax5: false,
        personalTax6: false,
        personalTax7: false,
        personalTax8: false,
        personalTax9: false
      },
      flgCollapse: {
        personalTax1: false,
        personalTax2: true,
        personalTax3: true,
        personalTax4: true,
        personalTax5: true,
        personalTax6: true,
        personalTax7: true,
        personalTax8: true,
        personalTax9: true
      }
    }
  },
  props: [ 'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'columns',
    'dropdowns',
    'popupChangeDetail',
    'popupTax8',
    'tax8Selected',
    'setTax8Selected',
    'receivedHrpmc2eTax8Popup',
    'receivedHrpmc2eTax8PopupCreate',
    'saveHrpmc2eTax8Popup',
    'popupTax9',
    'tax9Selected',
    'setTax9Selected',
    'receivedHrpmc2eTax9Popup',
    'receivedHrpmc2eTax9PopupCreate',
    'saveHrpmc2eTax9Popup',
    'receivedHrpmc2eChangeDetailPopup',
    'saveHrpmc2ePersonalTax',
    'receivedHrpmc2eSmartCardPopup',
    'popupSmartCard',
    'smartCardPopupDisp',
    'setSmartCardPopupDisp',
    'saveHrpmc2ePersonalTax8',
    'saveHrpmc2ePersonalTax9',
    'codempidQuery',
    'detailDisabled'
  ],
  methods: {
    resetCollapse () {
      this.flgCollapse = {
        personalTax1: false,
        personalTax2: true,
        personalTax3: true,
        personalTax4: true,
        personalTax5: true,
        personalTax6: true,
        personalTax7: true,
        personalTax8: true,
        personalTax9: true
      }
      this.pinCollapse = {
        personalTax1: false,
        personalTax2: false,
        personalTax3: false,
        personalTax4: false,
        personalTax5: false,
        personalTax6: false,
        personalTax7: false,
        personalTax8: false,
        personalTax9: false
      }
    },
    setPinCollapseToggle (tab) {
      this.pinCollapse[tab] = !this.pinCollapse[tab]
    },
    setCollapseToggle (tab) {
      for (let collapseTab in this.flgCollapse) {
        if (collapseTab !== tab) {
          if (!this.pinCollapse[collapseTab]) {
            this.flgCollapse[collapseTab] = true
          }
        }
      }
      this.flgCollapse[tab] = !this.flgCollapse[tab]
    },
    saveParams () {
      return {
        searchParams: this.codempidQuery,
        detail: this.detail.personalTax.personal
      }
    }
  },
  components: {
    personalTax1,
    personalTax2,
    personalTax3,
    personalTax4,
    personalTax5,
    personalTax6,
    personalTax7,
    personalTax8,
    personalTax9
  }
}
</script>
