<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.personalTax6Tab1 }" :aria-expanded="!flgCollapse.personalTax6Tab1" @click.self="setCollapseToggle('personalTax6Tab1')" data-parent="#personalTax6Tab" href="#personal-tax6-tab1" >
      <div class="title" @click.self="setCollapseToggle('personalTax6Tab1')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('personalTax6Tab1')"></i>{{ labels['HRPMC2EA6']['10'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('personalTax6Tab1')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('personalTax6Tab1')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.personalTax6Tab1 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('personalTax6Tab1')"></i>
    </div>
    <div id="personal-tax6-tab1" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.personalTax6Tab1}">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['10'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.numtaxid" :disabled="detailDisabled">
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['20'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.numsaid" :disabled="detailDisabled">
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['30'] }}</div>
                <hrms-datepicker  v-model="detail.frsmemb" 
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="frsmemb"
                                data-vv-as="Birth Date"
                                name="frsmemb"
                                :disabled="detailDisabled"/>
            </div>
          </div>

          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['50'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.faxtax" :disabled="detailDisabled">
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['60'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.typtax" :disabled="detailDisabled">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="group-topic group-space-lg">{{ labels['HRPMC2EA6']['70'] }}</div>
        </div>
        <div class="row">
          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['80'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.dteyrrelf" :disabled="detailDisabled">
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['90'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.dteyrrelt" :disabled="detailDisabled">
            </div>
          </div>

          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['70'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.amtrelas" :disabled="detailDisabled">
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['100'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.amttaxrel" :disabled="detailDisabled">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="group-topic group-space-lg">{{ labels['HRPMC2EA6']['110'] }}</div>
        </div>
        <div class="row">
          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['120'] }}</div>
                <hcm-lov v-model="detail.codbank"
                            :nowLang="nowLang"
                            lovType="codbank"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="codbank"
                            data-vv-name="codbank"
                            name="codbank"
                            :disabled="detailDisabled"  />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['130'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.numbank" :disabled="detailDisabled">
            </div>
             <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['140'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.numbrnch" :disabled="detailDisabled">
            </div>
             <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['150'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.amtbank" :disabled="detailDisabled">
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['160'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.qtyamtbank" :disabled="detailDisabled">
            </div>
          </div>

          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['120'] }}</div>
                <hcm-lov v-model="detail.codbank2"
                            :nowLang="nowLang"
                            lovType="codbank"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="codbank2"
                            data-vv-name="codbank2"
                            name="codbank2"
                            :disabled="detailDisabled"  />
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['130'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.numbank2" :disabled="detailDisabled">
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['140'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.numbrnch2" :disabled="detailDisabled">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12  group-space-lg">
            <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
            <button v-if="!detailDisabled" type="button" class="button-sm _bg-small-button pull-right" @click="togglePopupChangeDetail()">รายละเอียดการแก้ไข</button>
            <button type="button" hidden data-toggle="modal" ref="changeDetailBtn" :data-target="'#' + modalID"></button>  
          </div>
        </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'hrpmc2e-personal-tax6-tab1',
  props: [ 'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'modalID',
    'changeDetailColumns',
    'popupChangeDetail',
    'receivedHrpmc2eChangeDetailPopup',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ],
  methods: {
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  }
}
</script>
