<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.personalTax6Tab4 }" :aria-expanded="!flgCollapse.personalTax6Tab4" @click.self="setCollapseToggle('personalTax6Tab4')" data-parent="#personalTax6Tab" href="#personal-tax6-tab4" >
      <div class="title" @click.self="setCollapseToggle('personalTax6Tab4')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('personalTax6Tab4')"></i>{{ labels['HRPMC2EA6']['280'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('personalTax6Tab4')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('personalTax6Tab4')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.personalTax6Tab4 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('personalTax6Tab4')"></i>
    </div>
    <div id="personal-tax6-tab4" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.personalTax6Tab4}">
      <div class="panel-body">

        <div class="col-xs-12">
          <hrms-table :labels="labels"
                      :columns="tab4Columns" 
                      :data="detail.table"
                      :nowLang="nowLang"
                      :searchDisp="false"
                      :tablePageDisp="false" />

        </div>
        <div class="row">
          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['290'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.detail.qtychedu" :disabled="detailDisabled">
                <div class="unit">{{ labels['HRPMC2EA6']['310'] }}</div>
            </div>
          </div>
          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['300'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.detail.qtychned" :disabled="detailDisabled">
                <div class="unit">{{ labels['HRPMC2EA6']['310'] }}</div>
            </div>
          </div>
        </div>
        <div class="col-md-12 ">
          <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
          <button v-if="!detailDisabled" type="button" class="button-sm _bg-small-button pull-right" @click="togglePopupChangeDetail()">รายละเอียดการแก้ไข</button>
          <button type="button" hidden data-toggle="modal" ref="changeDetailBtn" :data-target="'#' + modalID"></button>  
        </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'hrpmc2e-personal-tax6-tab4',
  props: [
    'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'modalID',
    'tab4Columns',
    'changeDetailColumns',
    'popupChangeDetail',
    'receivedHrpmc2eChangeDetailPopup',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ],
  methods: {
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  }
}
</script>
