<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.personalTax1 }" :aria-expanded="!flgCollapse.personalTax1" @click.self="setCollapseToggle('personalTax1')" data-parent="#personalTax" href="#personal-tax1" >
      <div class="title" @click.self="setCollapseToggle('personalTax1')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('personalTax1')"></i>{{ labels['HRPMC2EA1']['1'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('personalTax1')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('personalTax1')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.personalTax1 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('personalTax1')"></i>
    </div>
    <div id="personal-tax1" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.personalTax1}">
      <div class="panel-body">
          <div class="row">
            <div class="col-md-12  group-space-lg">
              <button v-if="(detailDisabled || editable)" type="button" class="button-sm -disable _bg-white-disable pull-right">Smart Card</button>
              <button v-if="!(detailDisabled || editable)" type="button" class="button-sm _bg-small-button pull-right" @click="togglePopupSmartCard()">Smart Card</button>
              <button type="button" hidden data-toggle="modal" ref="smartCardBtn" data-target="#hrpmc2e-smart-card-popup"></button>
            </div>
          </div>
          <div class="row">
           <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['330'] }}</div>
                  <!-- {{inputFileName.toUpperCase()}} -->
                  <hrms-dropzone  :fileNameQuery="detail.image"
                                  :imgNameFile="paramSearch.image"
                                  :name="'tabTax1'"
                                  :flgToggle="imgDisp"
                                  ref="hrmsDropzone"
                                  :disabled="(detailDisabled || editable)"
                                  :imageHeight="150" />
              </div>
            </div>
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['340'] }}</div>
                  <hrms-dropzone  :fileNameQuery="detail.signature"
                                  :imgNameFile="paramSearch.signature"
                                  :name="'tabTax2'"
                                  :flgToggle="signatureDisp"
                                  ref="hrmsDropzone"
                                  :disabled="(detailDisabled || editable)"
                                  :imageWidth="200" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['10'] }}</div>
                  <hrms-dropdown  v-model="detail.codtitle"
                                  :options="dropdowns.codtitle[nowLang]"
                                  :disabled="(detailDisabled || editable)" />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['20'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.namfirst" :disabled="(detailDisabled || editable)">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['30'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.namlast" :disabled="(detailDisabled || editable)">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['40'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.namnick" :disabled="(detailDisabled || editable)">
              </div>
            </div>

            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['50'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.tel" :disabled="(detailDisabled || editable)">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['60'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.tel1" :disabled="(detailDisabled || editable)">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['70'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.idline" :disabled="(detailDisabled || editable)">
              </div>
            </div>
            <div class="underline"></div>
          </div>

          <div class="row">
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['80'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.numoffid" :disabled="(detailDisabled || editable)">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['90'] }}</div>
                  <hrms-datepicker  v-model="detail.dteoffid"
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dteoffid"
                                data-vv-as="Birth Date"
                                name="dteoffid"
                                :has-error="errors.has('dteoffid')"
                                :disabled="(detailDisabled || editable)"/>
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['100'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.adrissue" :disabled="(detailDisabled || editable)">
              </div>
            </div>

            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['110'] }}</div>
                  <!-- <input class="normal-input" type="text" name="input" v-model="detail.codprovi"> -->
                  <hcm-lov v-model="detail.codprovi"
                            :nowLang="nowLang"
                            lovType="codprov"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="codprov"
                            data-vv-name="codprov"
                            name="codprov"
                            :disabled="(detailDisabled || editable)"  />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['120'] }}</div>
                  <hcm-lov v-model="detail.hospss"
                            :nowLang="nowLang"
                            lovType="codhosp"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="codhosp"
                            data-vv-name="codhosp"
                            name="codhosp"
                            :disabled="(detailDisabled || editable)"  />
              </div>
            </div>
            <div class="underline"></div>
          </div>

          <div class="row">
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['130'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.numpasid" :disabled="(detailDisabled || editable)">
              </div>
            </div>
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['90'] }}</div>
                  <hrms-datepicker  v-model="detail.dtepasid"
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dtepasid"
                                data-vv-as="Birth Date"
                                name="dtepasid"
                                :disabled="(detailDisabled || editable)" />
              </div>
            </div>
            <div class="underline"></div>
          </div>

          <div class="row">
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['140'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.visaid" :disabled="(detailDisabled || editable)">
              </div>
            </div>
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['90'] }}</div>
                  <hrms-datepicker  v-model="detail.dtevisa"
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dtevisa"
                                data-vv-as="Birth Date"
                                name="dtevisa"
                                :disabled="(detailDisabled || editable)"/>
              </div>
            </div>
            <div class="underline"></div>
          </div>

          <div class="row">
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['150'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.numlicid" :disabled="(detailDisabled || editable)">
              </div>
            </div>
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['90'] }}</div>
                  <hrms-datepicker  v-model="detail.dtelicid"
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dtelicid"
                                data-vv-as="Birth Date"
                                name="dtelicid"
                                :disabled="(detailDisabled || editable)"/>
              </div>
            </div>
            <div class="underline"></div>
          </div>

          <div class="row">
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['170'] }}</div>
                  <hrms-datepicker  v-model="detail.dteempdb"
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dteempdb"
                                data-vv-as="Birth Date"
                                name="dteempdb"
                                :has-error="errors.has('dteempdb')"
                                :disabled="(detailDisabled || editable)" />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['180'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.coddomcl" :disabled="(detailDisabled || editable)">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['190'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.bdyear" :disabled="(detailDisabled || editable)"><div class="unit">{{ labels['HRPMC2EA1']['171'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.bdmonth" :disabled="(detailDisabled || editable)"><div class="unit">{{ labels['HRPMC2EA1']['172'] }}</div>

              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['200'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.codsex" :disabled="(detailDisabled || editable)">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['210'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.weight" :disabled="(detailDisabled || editable)">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['220'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.high" :disabled="(detailDisabled || editable)">
              </div>
            </div>
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['230'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.codblood" :disabled="(detailDisabled || editable)">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['240'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.codorgin" :disabled="(detailDisabled || editable)">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['250'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.codnatnl" :disabled="(detailDisabled || editable)">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['260'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.codrelgn" :disabled="(detailDisabled || editable)">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['270'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.stamarry" :disabled="(detailDisabled || editable)">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['280'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.stamilit" :disabled="(detailDisabled || editable)">
              </div>
            </div>
            <div class="underline"></div>
          </div>

          <div class="row">
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['290'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.workid" :disabled="(detailDisabled || editable)">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['300'] }}</div>
                  <hrms-datepicker  v-model="detail.dteworkid"
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dteworkid"
                                data-vv-as="Birth Date"
                                name="dteworkid"
                                :disabled="(detailDisabled || editable)"/>
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['90'] }}</div>
                  <hrms-datepicker  v-model="detail.dtework"
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dtework"
                                data-vv-as="Birth Date"
                                name="dtework"
                                :disabled="(detailDisabled || editable)"/>
              </div>
            </div>
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['310'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.refid" :disabled="(detailDisabled || editable)">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA1']['320'] }}</div>
                  <hrms-datepicker  v-model="detail.dteratir"
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dteratir"
                                data-vv-as="Birth Date"
                                name="dteratir"
                                :disabled="(detailDisabled || editable)"/>
              </div>
            </div>
          </div>
         <div class="row">
            <div class="col-md-12  group-space-lg">
              <button v-if="(detailDisabled || editable)" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
              <button v-if="!(detailDisabled || editable)" type="button" class="button-sm _bg-small-button pull-right" @click="togglePopupChangeDetail()">รายละเอียดการแก้ไข</button>
              <button type="button" hidden data-toggle="modal" ref="changeDetailBtn" :data-target="'#' + modalID"></button>
            </div>
          </div>
    </div>
  </div>
    <change-detail-popup :labels="labels"
                         :modalID="modalID"
                         :nowLang="nowLang"
                         :changeDetailColumns="changeDetailColumns"
                         :labelsButton="labelsButton"
                         :popupChangeDetail="popupChangeDetail"/>

    <smart-card-popup :labels="labels"
                      :nowLang="nowLang"
                      :labelsButton="labelsButton"
                      :popupSmartCard="popupSmartCard"
                      :smartCardPopupDisp="smartCardPopupDisp"
                      :setSmartCardPopupDisp="setSmartCardPopupDisp"
                      :receivedHrpmc2eSmartCardPopup="receivedHrpmc2eSmartCardPopup"/>
  </div>
</template>

<script>
import changeDetailPopup from '../changeDetailPopup'
import smartCardPopup from './smartCardPopup'

export default {
  name: 'hrpmc2e-personal-tax-detail1',
  data () {
    return {
      modalID: 'hrpmc2e-personal-tax-detail1',
      paramSearch: {
        image: '',
        signature: ''
      },
      imgDisp: true,
      signatureDisp: true,
      editable: (JSON.parse(this.app.currentUserPermission).edit.includes('hrpmc2e'))
    }
  },
  props: [ 'nowLang',
    'labels',
    'labelsButton',
    'dropdowns',
    'detail',
    'popupChangeDetail',
    'changeDetailColumns',
    'receivedHrpmc2eChangeDetailPopup',
    'receivedHrpmc2eSmartCardPopup',
    'popupSmartCard',
    'smartCardPopupDisp',
    'setSmartCardPopupDisp',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ],
  methods: {
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    },
    togglePopupSmartCard () {
      let popupParams = {}
      this.receivedHrpmc2eSmartCardPopup(popupParams)
      this.$refs.smartCardBtn.click()
    }
  },
  components: {
    changeDetailPopup,
    smartCardPopup
  }
}
</script>
