<template>
  <div name="hrpmc2e-personal-tax8-popup" class="modal-group">  
  	<div id="hrpmc2e-personal-tax8-popup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  		<div class="modal-dialog modal-lg">
  	    <div class="modal-content">
  	      <div class="modal-header">
            <div class="modal-title">{{ labels['HRPMC2EA8']['80'] }}</div>
            <div class="close ion-android-close" data-dismiss="modal"></div>
            <div class="tag fa fa-tag"></div>
          </div>

          <div class="modal-body">
            <div class="clearfix">
              <div class="row">
                <div class="col-md-6 group-space-md">
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2EA8']['10'] }}</div>
                      <hrms-datepicker  v-model="detailTax8Popup.dtechg" 
                                        v-validate="'required|date_format:DD/MM/YYYY'"
                                        data-vv-value-path="inputDate"
                                        data-vv-name="dtechg"
                                        data-vv-as="Birth Date"
                                        name="dtechg"
                                        :disabled="popupDisabled"/>
                  </div>
                </div> 
                <div class="col-md-3" style="padding-top: 35px">
                  <div type="button" class="button-md _bg-blue" @click="callSearch()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>  
                </div> 
                <div class="underline-popup"></div>
              </div>

              <div class="row">
                <div class="col-md-6 group-space-md">
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2EA8']['20'] }}</div>
                      <hrms-dropdown  v-model="detailTax8Popup.codtitle" 
                                      :options="dropdowns.codtitle[nowLang]"
                                      :disabled="popupDisabled" />
                  </div> 
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2EA8']['30'] }}</div>
                      <input class="normal-input" type="text" name="input" v-model="detailTax8Popup.namfirst" :disabled="popupDisabled">
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2EA8']['40'] }}</div>
                      <input class="normal-input" type="text" name="input" v-model="detailTax8Popup.namlast" :disabled="popupDisabled">
                  </div>
                </div>
                <div class="col-md-6 group-space-md">
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2EA8']['50'] }}</div>
                      <textarea class="normal-textarea" type="textarea" name="input" v-model="detailTax8Popup.deschang" :disabled="popupDisabled"></textarea> 
                  </div> 
                </div>
              </div>
              <div class="col-md-5" style="padding-top: 40px">
                <div type="button" class="button-md _bg-grey"  value="cancel"><i class="fa fa-times-circle"></i>{{ labelsButton['cancel'] }}</div>  
                <div type="button" class="button-md _bg-green"  @click="saveParams()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div>  
              </div>
            </div> 
          </div>

  	    </div>
      </div>
  	</div>
  </div>
</template>

<script>
export default {
  name: 'hrpmc2e-personal-tax8-popup',
  data () {
    return {
      detailTax8Popup: {
        dtechg: this.popupTax8.dtechg,
        namtitle: this.popupTax8.namtitle,
        namfirst: this.popupTax8.namfirst,
        namlast: this.popupTax8.namlast,
        deschang: this.popupTax8.deschang
      }
    }
  },
  watch: {
    popupTax8 () {
      this.detailTax8Popup = {
        dtechg: this.popupTax8.dtechg,
        namtitle: this.popupTax8.namtitle,
        namfirst: this.popupTax8.namfirst,
        namlast: this.popupTax8.namlast,
        deschang: this.popupTax8.deschang
      }
      this.$nextTick(function () {
        this.errors.clear()
      })
    }
  },
  methods: {
    callSearch () {
      this.$emit('setPopupDisabled', false)
    },
    saveParams () {
      this.$validator.validateAll().then(result => {
        if (result) {
          let saveParam = {
            dtechg: this.detailTax8Popup.dtechg,
            namtitle: this.detailTax8Popup.namtitle,
            namfirst: this.detailTax8Popup.namfirst,
            namlast: this.detailTax8Popup.namlast,
            deschang: this.detailTax8Popup.deschang
          }
          let searchParams = {
            p_codempid: this.codempidQuery
          }
          this.saveHrpmc2eTax8Popup({ saveParam: saveParam, searchParams: searchParams })
        }
      })
    }
  },
  props: [ 'labels',
    'nowLang',
    'labelsButton',
    'dropdowns',
    'popupTax8',
    'tax8Selected',
    'saveHrpmc2eTax8Popup',
    'popupDisabled',
    'codempidQuery'
  ]
}
</script>