<template>
  <div name="hrpmc2e-personal-tax9-popup" class="modal-group">  
  	<div id="hrpmc2e-personal-tax9-popup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  		<div class="modal-dialog modal-lg">
  	    <div class="modal-content">
  	      <div class="modal-header">
            <div class="modal-title">{{ labels['HRPMC2EA9']['80'] }}</div>
            <div class="close ion-android-close" data-dismiss="modal"></div>
            <div class="tag fa fa-tag"></div>
          </div>

          <div class="modal-body">
            <div class="clearfix">
              <div class="row">
                <div class="col-md-6 group-space-md">
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2EA9']['10'] }}</div>
                      <input class="normal-input" v-model="detailTax9Popup.numseq" />
                  </div>
                </div> 
                <div class="col-md-3" style="padding-top: 35px">
                  <div type="button" class="button-md _bg-blue" @click="callSearch()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['submit'] }}</div>  
                </div> 
                <div class="underline-popup"></div>
              </div>

              <div class="row">
                <div class="col-md-6 group-space-md">
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2EA9']['20'] }}</div>
                      <hcm-lov v-model="detailTax9Popup.namtypdoc"
                              :nowLang="nowLang"
                              lovType="codtypdoc"
                              v-validate="'required'"
                              :descDisp="false"
                              data-vv-value-path="inputValue"
                              data-vv-as="codtypdoc"
                              data-vv-name="codtypdoc"
                              name="codtypdoc"
                              :disabled="popupDisabled"  />
                  </div> 
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2EA9']['30'] }}</div>
                      <input class="normal-input" type="text" name="input" v-model="detailTax9Popup.namdoc" :disabled="popupDisabled" >
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2EA9']['40'] }}</div>
                      <hrms-datepicker  v-model="detailTax9Popup.dterecv" 
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dterecv"
                                data-vv-as="Birth Date"
                                name="dterecv"
                                :disabled="popupDisabled" />
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2EA9']['50'] }}</div>
                      <hrms-datepicker  v-model="detailTax9Popup.dtedocen" 
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dtedocen"
                                data-vv-as="Birth Date"
                                name="dtedocen"
                                :disabled="popupDisabled" />
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2EA9']['60'] }}</div>
                      <input class="normal-input" type="text" name="input" v-model="detailTax9Popup.numdoc" :disabled="popupDisabled" >
                  </div>
                </div>
                <div class="col-md-6 group-space-md">
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2EA9']['70'] }}</div>
                      <input class="normal-input" type="text" name="input" v-model="detailTax9Popup.filedoc" :disabled="popupDisabled" >
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2EA9']['80'] }}</div>
                      <textarea class="normal-textarea" type="textarea" name="input" v-model="detailTax9Popup.desnote" :disabled="popupDisabled" ></textarea> 
                  </div> 
                </div>
              </div>
             <div class="col-md-5" style="padding-top: 40px">
                <div type="button" class="button-md _bg-grey"  value="cancel"><i class="fa fa-times-circle"></i>{{ labelsButton['cancel'] }}</div>  
                <div type="button" class="button-md _bg-green"  @click="saveParams()" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div>  
              </div>
            </div> 
          </div>
  	    </div>
      </div>
  	</div>
  </div>
</template>

<script>
export default {
  name: 'hrpmc2e-personal-tax9-popup',
  data () {
    return {
      detailTax9Popup: {
        numseq: this.popupTax9.numseq,
        namtypdoc: this.popupTax9.namtypdoc,
        namdoc: this.popupTax9.namdoc,
        dterecv: this.popupTax9.dterecv,
        dtedocen: this.popupTax9.dtedocen,
        numdoc: this.popupTax9.numdoc,
        filedoc: this.popupTax9.filedoc,
        desnote: this.popupTax9.desnote
      }
    }
  },
  watch: {
    popupTax9 () {
      this.detailTax9Popup = {
        numseq: this.popupTax9.numseq,
        namtypdoc: this.popupTax9.namtypdoc,
        namdoc: this.popupTax9.namdoc,
        dterecv: this.popupTax9.dterecv,
        dtedocen: this.popupTax9.dtedocen,
        numdoc: this.popupTax9.numdoc,
        filedoc: this.popupTax9.filedoc,
        desnote: this.popupTax9.desnote
      }
      this.$nextTick(function () {
        this.errors.clear()
      })
    }
  },
  methods: {
    callSearch () {
      this.$emit('setPopupDisabled', false)
    },
    saveParams () {
      this.$validator.validateAll().then(result => {
        if (result) {
          let saveParam = {
            numseq: this.detailTax9Popup.numseq,
            namtypdoc: this.detailTax9Popup.namtypdoc,
            namdoc: this.detailTax9Popup.namdoc,
            dterecv: this.detailTax9Popup.dterecv,
            dtedocen: this.detailTax9Popup.dtedocen,
            numdoc: this.detailTax9Popup.numdoc,
            filedoc: this.detailTax9Popup.filedoc,
            desnote: this.detailTax9Popup.desnote
          }
          let searchParams = {
            p_codempid: this.codempidQuery
          }
          this.saveHrpmc2eTax9Popup({ saveParam: saveParam, searchParams: searchParams })
        }
      })
    }
  },
  props: [ 'labels',
    'nowLang',
    'labelsButton',
    'tax9Selected',
    'popupTax9',
    'saveHrpmc2eTax9Popup',
    'popupDisabled',
    'codempidQuery'
  ]
}
</script>