<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.personalTax6Tab5 }" :aria-expanded="!flgCollapse.personalTax6Tab5" @click.self="setCollapseToggle('personalTax6Tab5')" data-parent="#personalTax6Tab" href="#personal-tax6-tab5" >
      <div class="title" @click.self="setCollapseToggle('personalTax6Tab5')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('personalTax6Tab5')"></i>{{ labels['HRPMC2EA6']['320'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('personalTax6Tab5')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('personalTax6Tab5')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.personalTax6Tab5 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('personalTax6Tab5')"></i>
    </div>
    <div id="personal-tax6-tab5" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.personalTax6Tab5}">
      <div class="panel-body">
        <div class="col-xs-12">

          <hrms-table :labels="labels"
                      :columns="tab5Columns" 
                      :data="detail"
                      :nowLang="nowLang"
                      :searchDisp="false"
                      :tablePageDisp="false" />
         

        </div>
        <div class="col-md-12 ">
          <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
          <button v-if="!detailDisabled" type="button" class="button-sm _bg-small-button pull-right" @click="togglePopupChangeDetail()">รายละเอียดการแก้ไข</button>
          <button type="button" hidden data-toggle="modal" ref="changeDetailBtn" :data-target="'#' + modalID"></button>  
        </div>

    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'hrpmc2e-personal-tax6-tab5',
  props: [
    'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'modalID',
    'tab5Columns',
    'changeDetailColumns',
    'popupChangeDetail',
    'receivedHrpmc2eChangeDetailPopup',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ],
  methods: {
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  }
}
</script>
