<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.personalTax5 }" :aria-expanded="!flgCollapse.personalTax5" @click.self="setCollapseToggle('personalTax5')" data-parent="#personalTax" href="#personal-tax5" >
      <div class="title" @click.self="setCollapseToggle('personalTax5')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('personalTax5')"></i>{{ labels['HRPMC2EA5']['5'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('personalTax5')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('personalTax5')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.personalTax5 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('personalTax5')"></i>
    </div>
    <div id="personal-tax5" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.personalTax5}">
      <div class="panel-body">
          <div class="row">
            <div class="col-md-3">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA5']['10'] }}</div>
                  <hcm-lov  v-model="detail.detail.codcurr"
                            :nowLang="nowLang"
                            lovType="codcurr"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="codcurr"
                            data-vv-name="codcurr"
                            name="codcurr"
                            :disabled="detailDisabled"  />
              </div> 
            </div>
          </div>

          <div class="col-xs-12">
              <hrms-table :labels="labels"
                          :columns="incomeColumns" 
                          :data="detail.table"
                          :nowLang="nowLang"
                          :searchDisp="false"
                          :tablePageDisp="false" />
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="changedetail-group">
                <div class="img-box">
                  <img class="menu-icon" :src="require('@/assets/image/ex-photo.png')">
                </div>
                <div class="detail-box">
                  <div class="label-box">
                    <div class="editor-label">{{ labels['HRPMC2EA5']['100'] }} : </div>
                    <div class="editor-label">{{ labels['HRPMC2EA5']['110'] }} :</div>
                  </div>
                  <div class="data-box">
                    <div class="editor-data">{{detail.detail.dteupdate}}</div>
                    <div class="editor-data">53100 -  {{detail.detail.updateby}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 group-space-lg">
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group" style="margin-top: 0;">
                    <div class="label">{{ labels['HRPMC2EA5']['60'] }} : </div>
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2EA5']['70'] }} : </div>
                  </div> 
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2EA5']['80'] }} : </div>
                  </div>
                  <div class="input-group">
                    <div class="label">{{ labels['HRPMC2EA5']['90'] }} : </div>
                  </div> 
                </div>
                <div class="col-md-6 _text-right">
                  <div class="input-group" style="margin-top: 0;">
                    {{detail.detail.psyfine}}
                  </div>
                  <div class="input-group">
                    {{detail.detail.wageh}}
                  </div>
                  <div class="input-group">
                    {{detail.detail.waged}}
                  </div>
                  <div class="input-group">
                    {{detail.detail.monthly}}
                  </div>
                </div>
              </div>
            </div>
          </div>


         <div class="col-md-12 ">
            <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
            <button v-if="!detailDisabled" type="button" class="button-sm _bg-small-button pull-right" @click="togglePopupChangeDetail()">รายละเอียดการแก้ไข</button>
            <button type="button" hidden data-toggle="modal" ref="changeDetailBtn" :data-target="'#' + modalID"></button>  
          </div>
    </div>
  </div>
       <change-detail-popup :labels="labels"
                            :modalID="modalID"
                            :nowLang="nowLang"
                            :labelsButton="labelsButton" 
                            :changeDetailColumns="changeDetailColumns"
                            :popupChangeDetail="popupChangeDetail"/>
  </div>
</template>

<script>
import changeDetailPopup from '../changeDetailPopup'

export default {
  name: 'hrpmc2e-personal-tax5',
  data () {
    return {
      modalID: 'hrpmc2e-personal-tax5'
    }
  },
  props: [ 'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'incomeColumns',
    'changeDetailColumns',
    'popupChangeDetail',
    'receivedHrpmc2eChangeDetailPopup',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ],
  methods: {
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  },
  components: {
    changeDetailPopup
  }
}
</script>
