<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.personalTax3 }" :aria-expanded="!flgCollapse.personalTax3" @click.self="setCollapseToggle('personalTax3')" data-parent="#personalTax" href="#personal-tax3" >
      <div class="title" @click.self="setCollapseToggle('personalTax3')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('personalTax3')"></i>{{ labels['HRPMC2EA3']['3'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('personalTax3')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('personalTax3')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.personalTax3 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('personalTax3')"></i>
    </div>
    <div id="personal-tax3" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.personalTax3}">
      <div class="panel-body">
          <div class="row">
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['10'] }}</div>
                  <hrms-datepicker  v-model="detail.dteempt" 
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dteempt"
                                data-vv-as="Birth Date"
                                name="dteempt"
                                :disabled="detailDisabled"/>
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['11'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.qtyworky" :disabled="detailDisabled"><div class="unit">{{ labels['HRPMC2EA3']['331'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.qtyworkd" :disabled="detailDisabled"><div class="unit">{{ labels['HRPMC2EA3']['332'] }}</div>
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['20'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.staemp" :disabled="detailDisabled">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['30'] }}</div>
                  <hrms-datepicker  v-model="detail.dteeffex" 
                                    v-validate="'required|date_format:DD/MM/YYYY'"
                                    data-vv-value-path="inputDate"
                                    data-vv-name="dteeffex"
                                    data-vv-as="Birth Date"
                                    name="dteeffex"
                                    :disabled="detailDisabled"/>
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['40'] }}</div>
                  <hcm-lov-codcomp  v-model="detail.codcomp1"
                                    :nowLang="nowLang"
                                    :descDisp="false"
                                    v-validate="'required'"
                                    data-vv-value-path="inputValue"
                                    data-vv-as="codcomp"
                                    data-vv-name="codcomp"
                                    name="codcomp"
                                    :disabled="detailDisabled"  />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['50'] }}</div>
                  <hcm-lov  v-model="detail.codpos"
                            :nowLang="nowLang"
                            lovType="codpos"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="codpos"
                            data-vv-name="codpos"
                            name="codpos"
                            :disabled="detailDisabled"  />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['60'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.codpost" :disabled="detailDisabled">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['70'] }}</div>
                  <hrms-datepicker  v-model="detail.dtecodpos" 
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dtecodpos"
                                data-vv-as="Birth Date"
                                name="dtecodpos"
                                :disabled="detailDisabled"/>
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['80'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.numlvl" :disabled="detailDisabled">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['90'] }}</div>
                  <hrms-datepicker  v-model="detail.dtenumlvl" 
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dtenumlvl"
                                data-vv-as="Birth Date"
                                name="dtenumlvl"
                                :disabled="detailDisabled"/>
              </div>
            </div>

            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['100'] }}</div>
                  <hcm-lov  v-model="detail.codbrlc"
                            :nowLang="nowLang"
                            lovType="codbrlc"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="codbrlc"
                            data-vv-name="codbrlc"
                            name="codbrlc"
                            :disabled="detailDisabled"  />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['110'] }}</div>
                  <hcm-lov  v-model="detail.codempmt"
                            :nowLang="nowLang"
                            lovType="codempmt"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="codempmt"
                            data-vv-name="codempmt"
                            name="codempmt"
                            :disabled="detailDisabled"  />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['120'] }}</div>
                  <hcm-lov  v-model="detail.typayroll"
                            :nowLang="nowLang"
                            lovType="codpayrol"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="codpayrol"
                            data-vv-name="codpayrol"
                            name="codpayrol"
                            :disabled="detailDisabled"  />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['130'] }}</div>
                  <hcm-lov  v-model="detail.typemp"
                            :nowLang="nowLang"
                            lovType="codtypemp"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="codtypemp"
                            data-vv-name="codtypemp"
                            name="codtypemp"
                            :disabled="detailDisabled"  />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['140'] }}</div>
                  <hcm-lov  v-model="detail.codcalen"
                            :nowLang="nowLang"
                            lovType="codcalen"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="codcalen"
                            data-vv-name="codcalen"
                            name="codcalen"
                            :disabled="detailDisabled"  />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['150'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.flgattwn" :disabled="detailDisabled">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['160'] }}</div>
                  <hcm-lov  v-model="detail.codjob"
                            :nowLang="nowLang"
                            lovType="codjob"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="codjob"
                            data-vv-name="codjob"
                            name="codjob"
                            :disabled="detailDisabled"  />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['170'] }}</div>
                  <hcm-lov  v-model="detail.jobgrade"
                            :nowLang="nowLang"
                            lovType="codjobgrad"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="codjobgrad"
                            data-vv-name="codjobgrad"
                            name="codjobgrad"
                            :disabled="detailDisabled"  />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['180'] }}</div>
                  <hrms-datepicker  v-model="detail.dtejobgrade" 
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dtejobgrade"
                                data-vv-as="Birth Date"
                                name="dtejobgrade"
                                :disabled="detailDisabled"/>
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['190'] }}</div>
                  <hcm-lov  v-model="detail.codgrpgl"
                            :nowLang="nowLang"
                            lovType="codgl"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="codgl"
                            data-vv-name="codgl"
                            name="codgl"
                            :disabled="detailDisabled"  />
              </div>
            </div>
            <div class="underline"></div>
          </div>
          <div class="row">
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                  <div class="label">{{ labels['HRPMC2EA3']['200'] }}</div>
                    <input class="normal-input" type="text" name="input" v-model="detail.reptdev" :disabled="detailDisabled">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['210'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.reptpos" :disabled="detailDisabled">
              </div>
            </div>
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['220'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.codhead" :disabled="detailDisabled">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['230'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.stapos" :disabled="detailDisabled">
              </div>
            </div>
            <div class="underline"></div>
          </div>

          <div class="row">
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['240'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.stadisb" :disabled="detailDisabled">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['250'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.numdisab" :disabled="detailDisabled">
              </div>
               <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['260'] }}</div>
                  <hrms-datepicker  v-model="detail.dtedisb" 
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dtedisb"
                                data-vv-as="Birth Date"
                                name="dtedisb"
                                :disabled="detailDisabled"/>
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['280'] }}</div>
                  <hrms-datepicker  v-model="detail.dtedisen" 
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dtedisen"
                                data-vv-as="Birth Date"
                                name="dtedisen"
                                :disabled="detailDisabled"/>
              </div>
            </div>
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['290'] }}</div>
                  <hcm-lov  v-model="detail.typdisp"
                            :nowLang="nowLang"
                            lovType="typdisp"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="typdisp"
                            data-vv-name="typdisp"
                            name="typdisp"
                            :disabled="detailDisabled"  />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['300'] }}</div>
                  <textarea class="normal-textarea" type="textarea" name="input" v-model="detail.desdisp" :disabled="detailDisabled"></textarea>
              </div>
            </div>
            <div class="underline"></div>
          </div>

          <div class="row">
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['310'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.qtyredue" :disabled="detailDisabled">
                  <div class="unit">{{ labels['HRPMC2EA3']['311'] }}</div>
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['320'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.dtedeadlines" :disabled="detailDisabled">

              </div>
               <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['330'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.yredatrq" :disabled="detailDisabled">
                  <div class="unit">{{ labels['HRPMC2EA3']['331'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.mondatrq" :disabled="detailDisabled">
                  <div class="unit">{{ labels['HRPMC2EA3']['332'] }}</div>
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['340'] }}</div>
                  <hrms-datepicker  v-model="detail.dteoccup" 
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dteoccup"
                                data-vv-as="Birth Date"
                                name="dteoccup"
                                :disabled="detailDisabled"/>
              </div>
            </div>
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['350'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.numtelof" :disabled="detailDisabled">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['360'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.email" :disabled="detailDisabled">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['370'] }}</div>
                  <hcm-lov  v-model="detail.numreqst"
                            :nowLang="nowLang"
                            lovType="codreqst"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="codreqst"
                            data-vv-name="codreqst"
                            name="codreqst"
                            :disabled="detailDisabled"  />
              </div>
            </div>
            <div class="underline"></div>
          </div>
          <div class="row">
            <div class="group-topic group-space-lg">{{ labels['HRPMC2EA3']['380'] }}</div>
          </div>
          <div class="row">
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['390'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.codempold" :disabled="detailDisabled">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['400'] }}</div>
                  <hrms-datepicker  v-model="detail.dteback" 
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dteback"
                                data-vv-as="Birth Date"
                                name="dteback"
                                :disabled="detailDisabled"/>
              </div>
            </div>
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['410'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.qtyredue1" :disabled="detailDisabled">
                  <div class="unit">{{ labels['HRPMC2EA3']['331'] }}</div>
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA3']['420'] }}</div>
                  <hrms-datepicker  v-model="detail.dtedue" 
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dtedue"
                                data-vv-as="Birth Date"
                                name="dtedue"
                                :disabled="detailDisabled"/>
              </div>
            </div>
            <div class="underline"></div>
          </div>

          <div class="row">
            <div class="col-md-6 group-space-lg">
              <div class="changedetail-group">
                <div class="img-box">
                  <img class="menu-icon" :src="require('@/assets/image/ex-photo.png')">
                </div>
                <div class="detail-box">
                  <div class="label-box">
                    <div class="editor-label">{{ labels['HRPMC2EA3']['430'] }} : </div>
                    <div class="editor-label">{{ labels['HRPMC2EA3']['440'] }} :</div>
                  </div>
                  <div class="data-box">
                    <div class="editor-data">{{detail.dteupdate}}</div>
                    <div class="editor-data">53100 - {{detail.updateby}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 group-space-lg">
              <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
              <button v-if="!detailDisabled" type="button" class="button-sm _bg-small-button pull-right" @click="togglePopupChangeDetail()">รายละเอียดการแก้ไข</button>
              <button type="button" hidden data-toggle="modal" ref="changeDetailBtn" :data-target="'#' + modalID"></button>  
            </div>
          </div>

    </div>
  </div>
    <change-detail-popup :labels="labels"
                         :modalID="modalID"
                         :nowLang="nowLang"
                         :changeDetailColumns="changeDetailColumns"
                         :labelsButton="labelsButton" 
                         :popupChangeDetail="popupChangeDetail"/>
  </div>
</template>

<script>
import changeDetailPopup from '../changeDetailPopup'

export default {
  name: 'hrpmc2e-personal-tax-detail3',
  data () {
    return {
      modalID: 'hrpmc2e-personal-tax-detail3'
    }
  },
  props: [ 'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'changeDetailColumns',
    'popupChangeDetail',
    'receivedHrpmc2eChangeDetailPopup',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ],
  methods: {
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  },
  components: {
    changeDetailPopup
  }
}
</script>
