<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.personalTax9 }" :aria-expanded="!flgCollapse.personalTax9" @click.self="setCollapseToggle('personalTax9')" data-parent="#personalTax" href="#personal-tax9" >
      <div class="title" @click.self="setCollapseToggle('personalTax9')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('personalTax9')"></i>{{ labels['HRPMC2EA9']['9'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('personalTax9')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('personalTax9')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.personalTax9 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('personalTax9')"></i>
    </div>
    <div id="personal-tax9" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.personalTax9}">
      <div class="panel-body">
        <div class="col-xs-12">
          <hrms-table v-show="detailDisabled" 
                      :columns="documentColumns"
                      :nowLang="nowLang"
                      :data="detail"
                      :searchDisp="false"
                      :tablePageDisp="false" 
                    />
          <hrms-table v-show="!detailDisabled" 
                      :labels="labels"
                      :columns="documentColumns" 
                      :data="detail"
                      :nowLang="nowLang"
                      :searchDisp="false"
                      :addEvent="addEvent"
                      :editEvent="editEvent"
                      :deleteInlineEventBool="true"
                      :deleteInlineBtnDisp="false"
                      :saveInlineBtnDisp="false"
                      :tablePageDisp="false"
                       />                   
        </div>
        <div class="col-md-12 ">
          <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
          <button v-if="!detailDisabled" type="button" class="button-sm _bg-small-button pull-right" @click="togglePopupChangeDetail()">รายละเอียดการแก้ไข</button>
          <button type="button" hidden data-toggle="modal" ref="changeDetailBtn" :data-target="'#' + modalID"></button>  
        </div>
      </div>
      <personal-tax9-popup :labels="labels"
                            :nowLang="nowLang"
                            :labelsButton="labelsButton"
                            :tax9Selected="tax9Selected"
                            :popupTax9="popupTax9"
                            :saveHrpmc2eTax9Popup="saveHrpmc2eTax9Popup"
                            :popupDisabled="popupDisabled"
                            @setPopupDisabled="popupDisabled = arguments[0]" />
      <input type="hidden" data-toggle="modal" data-target="#hrpmc2e-personal-tax9-popup" ref="popupTax9AddBtn" />
  </div>
      <change-detail-popup :labels="labels"
                           :modalID="modalID"
                           :nowLang="nowLang"
                           :changeDetailColumns="changeDetailColumns"
                           :labelsButton="labelsButton" 
                           :popupChangeDetail="popupChangeDetail"/>
</div>
</template>

<script>
import personalTax9Popup from './personalTax9Popup'
import changeDetailPopup from '../changeDetailPopup'

export default {
  name: 'hrpmc2e-personal-tax9',
  data () {
    return {
      modalID: 'hrpmc2e-personal-tax9',
      eventBtn: '',
      popupDisabled: false
    }
  },
  props: [
    'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'documentColumns',
    'popupTax9',
    'tax9Selected',
    'setTax9Selected',
    'receivedHrpmc2eTax9Popup',
    'receivedHrpmc2eTax9PopupCreate',
    'saveHrpmc2eTax9Popup',
    'changeDetailColumns',
    'popupChangeDetail',
    'receivedHrpmc2eChangeDetailPopup',
    'saveHrpmc2ePersonalTax9',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ],
  methods: {
    addEvent (param) {
      let popupParams = {
        p_numseq: ''
      }
      this.popupDisabled = true
      this.receivedHrpmc2eTax9PopupCreate(popupParams)
      this.$refs.popupTax9AddBtn.click()
    },
    editEvent (dataRow) {
      let popupParams = {
        numseq: dataRow.numseq,
        namtypdoc: dataRow.namtypdoc,
        namdoc: dataRow.namdoc,
        dterecv: dataRow.dterecv,
        dtedocen: dataRow.dtedocen,
        numdoc: dataRow.numdoc,
        filedoc: dataRow.filedoc,
        desnote: dataRow.desnote
      }
      this.popupDisabled = false
      this.setTax9Selected(dataRow)
      this.receivedHrpmc2eTax9Popup(popupParams)
      this.$refs.popupTax9AddBtn.click()
    },
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  },
  components: {
    personalTax9Popup,
    changeDetailPopup
  }
}
</script>
