<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.personalTax8 }" :aria-expanded="!flgCollapse.personalTax8" @click.self="setCollapseToggle('personalTax8')" data-parent="#personalTax" href="#personal-tax8" >
      <div class="title" @click.self="setCollapseToggle('personalTax8')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('personalTax8')"></i>{{ labels['HRPMC2EA8']['8'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('personalTax8')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('personalTax8')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.personalTax8 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('personalTax8')"></i>
    </div>
    <div id="personal-tax8" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.personalTax8}">
      <div class="panel-body">
        <div class="col-xs-12">
          <hrms-table v-show="detailDisabled" 
                      :columns="changeNamecolumns"
                      :nowLang="nowLang"
                      :data="detail"
                      :searchDisp="false"
                      :tablePageDisp="false" 
                    />
          <hrms-table v-show="!detailDisabled"
                      :labels="labels"
                      :columns="changeNamecolumns" 
                      :data="detail"
                      :nowLang="nowLang"
                      :searchDisp="false"
                      :addEvent="addEvent"
                      :editEvent="editEvent"
                      :deleteInlineEventBool="true"
                      :deleteInlineBtnDisp="false"
                      :saveInlineBtnDisp="false"
                      :tablePageDisp="false"
                
                       />                   
        </div>
        <div class="col-md-12 ">
          <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
          <button v-if="!detailDisabled" type="button" class="button-sm _bg-small-button pull-right" @click="togglePopupChangeDetail()">รายละเอียดการแก้ไข</button>
          <button type="button" hidden data-toggle="modal" ref="changeDetailBtn" :data-target="'#' + modalID"></button>  
        </div>
      </div>

      <personal-tax8-popup :labels="labels"
                            :nowLang="nowLang"
                            :dropdowns="dropdowns"
                            :labelsButton="labelsButton"
                            :tax8Selected="tax8Selected"
                            :popupTax8="popupTax8"
                            :saveHrpmc2eTax8Popup="saveHrpmc2eTax8Popup"
                            :popupDisabled="popupDisabled"
                            @setPopupDisabled="popupDisabled = arguments[0]"
                            :searchParams="searchParams" />

       <input type="hidden" data-toggle="modal" data-target="#hrpmc2e-personal-tax8-popup" ref="popupTax8AddBtn" />
  </div>
   <change-detail-popup :labels="labels"
                        :modalID="modalID"
                        :nowLang="nowLang"
                        :changeDetailColumns="changeDetailColumns"
                        :labelsButton="labelsButton" 
                        :popupChangeDetail="popupChangeDetail"/>
</div>
</template>

<script>
import personalTax8Popup from './personalTax8Popup'
import changeDetailPopup from '../changeDetailPopup'

export default {
  name: 'hrpmc2e-personal-tax8',
  data () {
    return {
      modalID: 'hrpmc2e-personal-tax8',
      detailTax8: {
        dtechg: this.tax8Selected.dtechg
      },
      eventBtn: '',
      popupDisabled: false
    }
  },
  methods: {
    addEvent (param) {
      let popupParams = {
        p_dtechg: ''
      }
      this.popupDisabled = true
      this.receivedHrpmc2eTax8PopupCreate(popupParams)
      this.$refs.popupTax8AddBtn.click()
    },
    editEvent (dataRow) {
      let popupParams = {
        dtechg: dataRow.dtechg,
        namtitle: dataRow.namtitle,
        namfirst: dataRow.namfirst,
        namlast: dataRow.namlast,
        deschang: dataRow.deschang
      }
      this.popupDisabled = false
      this.setTax8Selected(dataRow)
      this.receivedHrpmc2eTax8Popup(popupParams)
      this.$refs.popupTax8AddBtn.click()
    },
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  },
  props: [
    'nowLang',
    'labels',
    'labelsButton',
    'dropdowns',
    'detail',
    'changeNamecolumns',
    'popupTax8',
    'tax8Selected',
    'setTax8Selected',
    'receivedHrpmc2eTax8Popup',
    'receivedHrpmc2eTax8PopupCreate',
    'saveHrpmc2eTax8Popup',
    'saveHrpmc2ePersonalTax8',
    'changeDetailColumns',
    'popupChangeDetail',
    'receivedHrpmc2eChangeDetailPopup',
    'searchParams',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ],
  components: {
    personalTax8Popup,
    changeDetailPopup
  }
}
</script>
