<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.personalTax7 }" :aria-expanded="!flgCollapse.personalTax7" @click.self="setCollapseToggle('personalTax7')" data-parent="#personalTax" href="#personal-tax7" >
      <div class="title" @click.self="setCollapseToggle('personalTax7')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('personalTax7')"></i>{{ labels['HRPMC2EA7']['7'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('personalTax7')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('personalTax7')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.personalTax7 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('personalTax7')"></i>
    </div>
    <div id="personal-tax7" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.personalTax7}">
      <div class="panel-body">
          <div class="collapse-group">  
            <div class="panel-group" id="personalTax7Tab">            
              <personal-tax7-tab1 :labels="labels"
                                  :labelsButton="labelsButton"
                                  :nowLang="nowLang"
                                  :detail="detail.tab1"
                                  :modalID="modalID1"
                                  :changeDetailColumns="changeDetailColumns"
                                  :popupChangeDetail="popupChangeDetail"
                                  :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                                  :flgCollapse="flgCollapseTax7"
                                  :setCollapseToggle="setCollapseToggleTax7"
                                  :pinCollapse="pinCollapseTax7"
                                  :setPinCollapseToggle="setPinCollapseToggleTax7"
                                  :detailDisabled="detailDisabled" />

              <personal-tax7-tab2 :labels="labels"
                                  :labelsButton="labelsButton"
                                  :nowLang="nowLang"
                                  :detail="detail.tab2" 
                                  :modalID="modalID2"
                                  :tab2Columns="tab2Columns"
                                  :changeDetailColumns="changeDetailColumns"
                                  :popupChangeDetail="popupChangeDetail"
                                  :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                                  :flgCollapse="flgCollapseTax7"
                                  :setCollapseToggle="setCollapseToggleTax7"
                                  :pinCollapse="pinCollapseTax7"
                                  :setPinCollapseToggle="setPinCollapseToggleTax7"
                                  :detailDisabled="detailDisabled" />

              <personal-tax7-tab3 :labels="labels"
                                  :labelsButton="labelsButton"
                                  :nowLang="nowLang"
                                  :detail="detail.tab3"
                                  :modalID="modalID3"
                                  :tab3Columns="tab3Columns"
                                  :changeDetailColumns="changeDetailColumns"
                                  :popupChangeDetail="popupChangeDetail"
                                  :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                                  :flgCollapse="flgCollapseTax7"
                                  :setCollapseToggle="setCollapseToggleTax7"
                                  :pinCollapse="pinCollapseTax7"
                                  :setPinCollapseToggle="setPinCollapseToggleTax7"
                                  :detailDisabled="detailDisabled" />

              <personal-tax7-tab4 :labels="labels"
                                  :labelsButton="labelsButton"
                                  :nowLang="nowLang"
                                  :modalID="modalID4"
                                  :detail="detail.tab4"
                                  :tab4Columns="tab4Columns"
                                  :changeDetailColumns="changeDetailColumns"
                                  :popupChangeDetail="popupChangeDetail"
                                  :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup" 
                                  :flgCollapse="flgCollapseTax7"
                                  :setCollapseToggle="setCollapseToggleTax7"
                                  :pinCollapse="pinCollapseTax7"
                                  :setPinCollapseToggle="setPinCollapseToggleTax7"
                                  :detailDisabled="detailDisabled" />


            </div> 
          </div>     
      </div>
    </div>
    <change-detail-popup :labels="labels"
                         :modalID="modalID1"
                         :nowLang="nowLang"
                         :changeDetailColumns="changeDetailColumns"
                         :labelsButton="labelsButton" 
                         :popupChangeDetail="popupChangeDetail"/>
    <change-detail-popup :labels="labels"
                         :modalID="modalID2"
                         :nowLang="nowLang"
                         :changeDetailColumns="changeDetailColumns"
                         :labelsButton="labelsButton" 
                         :popupChangeDetail="popupChangeDetail"/>
    <change-detail-popup :labels="labels"
                         :modalID="modalID3"
                         :nowLang="nowLang"
                         :changeDetailColumns="changeDetailColumns"
                         :labelsButton="labelsButton" 
                         :popupChangeDetail="popupChangeDetail"/>
    <change-detail-popup :labels="labels"
                         :modalID="modalID4"
                         :nowLang="nowLang"
                         :changeDetailColumns="changeDetailColumns"
                         :labelsButton="labelsButton" 
                         :popupChangeDetail="popupChangeDetail"/>
  </div>
</template>

<script>
import personalTax7Tab1 from './personalTax7_1'
import personalTax7Tab2 from './personalTax7_2'
import personalTax7Tab3 from './personalTax7_3'
import personalTax7Tab4 from './personalTax7_4'
import changeDetailPopup from '../changeDetailPopup'

export default {
  name: 'hrpmc2e-personal-tax7',
  data () {
    return {
      modalID1: 'hrpmc2e-personal-tax7-tab1',
      modalID2: 'hrpmc2e-personal-tax7-tab2',
      modalID3: 'hrpmc2e-personal-tax7-tab3',
      modalID4: 'hrpmc2e-personal-tax7-tab4',
      pinCollapseTax7: {
        personalTax7Tab1: false,
        personalTax7Tab2: false,
        personalTax7Tab3: false,
        personalTax7Tab4: false
      },
      flgCollapseTax7: {
        personalTax7Tab1: false,
        personalTax7Tab2: true,
        personalTax7Tab3: true,
        personalTax7Tab4: true
      }
    }
  },
  props: [
    'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'tab2Columns',
    'tab3Columns',
    'tab4Columns',
    'changeDetailColumns',
    'popupChangeDetail',
    'receivedHrpmc2eChangeDetailPopup',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ],
  methods: {
    resetCollapseTax7 () {
      this.flgCollapseTax7 = {
        personalTax7Tab1: false,
        personalTax7Tab2: true,
        personalTax7Tab3: true,
        personalTax7Tab4: true
      }
      this.pinCollapseTax7 = {
        personalTax7Tab1: false,
        personalTax7Tab2: false,
        personalTax7Tab3: false,
        personalTax7Tab4: false
      }
    },
    setPinCollapseToggleTax7 (tab) {
      this.pinCollapseTax7[tab] = !this.pinCollapseTax7[tab]
    },
    setCollapseToggleTax7 (tab) {
      for (let collapseTab in this.flgCollapseTax7) {
        if (collapseTab !== tab) {
          if (!this.pinCollapseTax7[collapseTab]) {
            this.flgCollapseTax7[collapseTab] = true
          }
        }
      }
      this.flgCollapseTax7[tab] = !this.flgCollapseTax7[tab]
    }
  },
  components: {
    personalTax7Tab1,
    personalTax7Tab2,
    personalTax7Tab3,
    personalTax7Tab4,
    changeDetailPopup
  }
}
</script>
