<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.personalTax4 }" :aria-expanded="!flgCollapse.personalTax4" @click.self="setCollapseToggle('personalTax4')" data-parent="#personalTax" href="#personal-tax4" >
      <div class="title" @click.self="setCollapseToggle('personalTax4')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('personalTax4')"></i>{{ labels['HRPMC2EA4']['4'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('personalTax4')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('personalTax4')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.personalTax4 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('personalTax4')"></i>
    </div>
    <div id="personal-tax4" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.personalTax4}">
      <div class="panel-body">
          <div class="row">
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA4']['10'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.codtravel" :disabled="detailDisabled">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA4']['20'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.numtravel" :disabled="detailDisabled">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA4']['30'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.fueltyp" :disabled="detailDisabled">
              </div>
            </div>

            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA4']['40'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.distance" :disabled="detailDisabled">
                  <div class="unit">{{ labels['HRPMC2EA4']['41'] }}</div>
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA4']['50'] }}</div>
                  <hcm-lov v-model="detail.codcable"
                            :nowLang="nowLang"
                            lovType="codcarcab"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="codcarcab"
                            data-vv-name="codcarcab"
                            name="codcarcab"
                            :disabled="detailDisabled"  />                 
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA4']['60'] }}</div>
                  <hcm-lov v-model="detail.codpoint"
                            :nowLang="nowLang"
                            lovType="codpoint"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="codpoint"
                            data-vv-name="codpoint"
                            name="codpoint"
                            :disabled="detailDisabled"  />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12  group-space-lg">
              <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
              <button v-if="!detailDisabled" type="button" class="button-sm _bg-small-button pull-right" @click="togglePopupChangeDetail()">รายละเอียดการแก้ไข</button>
              <button type="button" hidden data-toggle="modal" ref="changeDetailBtn" :data-target="'#' + modalID"></button>  
            </div>
          </div>
    </div>
  </div>
    <change-detail-popup :labels="labels"
                         :modalID="modalID"
                         :nowLang="nowLang"
                         :labelsButton="labelsButton" 
                         :changeDetailColumns="changeDetailColumns"
                         :popupChangeDetail="popupChangeDetail"/>
  </div>
</template>

<script>
import changeDetailPopup from '../changeDetailPopup'

export default {
  name: 'hrpmc2e-personal-tax-detail4',
  data () {
    return {
      modalID: 'hrpmc2e-personal-tax-detail4'
    }
  },
  props: [ 'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'changeDetailColumns',
    'popupChangeDetail',
    'receivedHrpmc2eChangeDetailPopup',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ],
  methods: {
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  },
  components: {
    changeDetailPopup
  }
}
</script>
