<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.personalTax7Tab1 }" :aria-expanded="!flgCollapse.personalTax7Tab1" @click.self="setCollapseToggle('personalTax7Tab1')" data-parent="#personalTax7Tab" href="#personal-tax7-tab1" >
      <div class="title" @click.self="setCollapseToggle('personalTax7Tab1')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('personalTax7Tab1')"></i>{{ labels['HRPMC2EA7']['8'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('personalTax7Tab1')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('personalTax7Tab1')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.personalTax7Tab1 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('personalTax7Tab1')"></i>
    </div>
    <div id="personal-tax7-tab1" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.personalTax7Tab1}">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA7']['10'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.numtaxid" :disabled="detailDisabled">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="group-topic group-space-lg">{{ labels['HRPMC2EA7']['20'] }}</div>
        </div>
        <div class="row">
          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA7']['30'] }}</div>
                <hrms-datepicker  v-model="detail.dtebfsp" 
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dtebfsp"
                                data-vv-as="Birth Date"
                                name="dtebfsp"
                                :disabled="detailDisabled"/>
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA7']['40'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.amtincsp" :disabled="detailDisabled">
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA7']['50'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.amttaxsp" :disabled="detailDisabled">
            </div>
          </div>

          <div class="col-md-6 col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA7']['60'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.amtpfsp" :disabled="detailDisabled">
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA7']['70'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.amtsasp" :disabled="detailDisabled">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12  group-space-lg">
            <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
            <button v-if="!detailDisabled" type="button" class="button-sm _bg-small-button pull-right" @click="togglePopupChangeDetail()">รายละเอียดการแก้ไข</button>
            <button type="button" hidden data-toggle="modal" ref="changeDetailBtn" :data-target="'#' + modalID"></button>  
          </div>
        </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'hrpmc2e-personal-tax7-tab1',
  props: [
    'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'modalID',
    'changeDetailColumns',
    'popupChangeDetail',
    'receivedHrpmc2eChangeDetailPopup',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ],
  methods: {
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  }
}
</script>
