<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.personalTax2 }" :aria-expanded="!flgCollapse.personalTax2" @click.self="setCollapseToggle('personalTax2')" data-parent="#personalTax" href="#personal-tax2" >
      <div class="title" @click.self="setCollapseToggle('personalTax2')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('personalTax2')"></i>{{ labels['HRPMC2EA2']['2'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('personalTax2')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('personalTax2')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.personalTax2 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('personalTax2')"></i>
    </div>
    <div id="personal-tax2" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.personalTax2}">
      <div class="panel-body">
          <div class="row">
            <div class="col-md-6 group-space-lg">
              <div class="group-topic _unpadding">{{ labels['HRPMC2EA2']['3'] }}</div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA2']['10'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.adrreg" :disabled="detailDisabled">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA2']['20'] }}</div>
                  <hcm-lov v-model="detail.codprovr"
                            :nowLang="nowLang"
                            lovType="codprov"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="codprov"
                            data-vv-name="codprov"
                            name="codprov"
                            :disabled="detailDisabled"  />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA2']['30'] }}</div>
                  <hcm-lov v-model="detail.coddistr"
                            :nowLang="nowLang"
                            lovType="coddist"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="coddist"
                            data-vv-name="coddist"
                            name="coddist"
                            :disabled="detailDisabled"  />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA2']['40'] }}</div>
                  <hcm-lov v-model="detail.codsubdistr"
                            :nowLang="nowLang"
                            lovType="codsubdist"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="codsubdist"
                            data-vv-name="codsubdist"
                            name="codsubdist"
                            :disabled="detailDisabled"  />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA2']['50'] }}</div>
                  <hcm-lov v-model="detail.codcntyr"
                            :nowLang="nowLang"
                            lovType="country"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="country"
                            data-vv-name="country"
                            name="country"
                            :disabled="detailDisabled"  />
                  
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA2']['60'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.codpostr" :disabled="detailDisabled">
              </div>
            </div>

            <div class="col-md-6 group-space-lg">
              <div class="group-topic _unpadding">{{ labels['HRPMC2EA2']['4'] }}</div>
              <!-- <div class="group-topic">{{ labels['HRPMC2EA2']['4'] }}</div> -->
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA2']['10'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.adrcont" :disabled="detailDisabled">
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA2']['20'] }}</div>
                  <hcm-lov v-model="detail.codprovc"
                            :nowLang="nowLang"
                            lovType="codprov"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="codprov1"
                            data-vv-name="codprov1"
                            name="codprov1"
                            :disabled="detailDisabled"  />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA2']['30'] }}</div>
                  <hcm-lov v-model="detail.coddistc"
                            :nowLang="nowLang"
                            lovType="coddist"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="coddist1"
                            data-vv-name="coddist1"
                            name="coddist1"
                            :disabled="detailDisabled"  />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA2']['40'] }}</div>
                  <!-- <input class="icon-input" type="text" name="input" v-model="detail.codsubdistc" :disabled="detailDisabled"> -->
                  <hcm-lov v-model="detail.codsubdistc"
                            :nowLang="nowLang"
                            lovType="codsubdist"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="codsubdist1"
                            data-vv-name="codsubdist1"
                            name="codsubdist1"
                            :disabled="detailDisabled"  />

              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA2']['50'] }}</div>
                  <hcm-lov v-model="detail.codcntyc"
                            :nowLang="nowLang"
                            lovType="country"
                            v-validate="'required'"
                            :descDisp="false"
                            data-vv-value-path="inputValue"
                            data-vv-as="country1"
                            data-vv-name="country1"
                            name="country1"
                            :disabled="detailDisabled"  />
              </div>
              <div class="input-group">
                <div class="label">{{ labels['HRPMC2EA2']['60'] }}</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.codpostc" :disabled="detailDisabled">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12  group-space-lg">
              <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
              <button v-if="!detailDisabled" type="button" class="button-sm _bg-small-button pull-right" @click="togglePopupChangeDetail()">รายละเอียดการแก้ไข</button>
              <button type="button" hidden data-toggle="modal" ref="changeDetailBtn" :data-target="'#' + modalID"></button>  
            </div>
          </div>
    </div>
  </div>
  <change-detail-popup :labels="labels"
                       :modalID="modalID"
                       :nowLang="nowLang"
                       :changeDetailColumns="changeDetailColumns"
                       :labelsButton="labelsButton" 
                       :popupChangeDetail="popupChangeDetail"/>
  </div>
</template>

<script>
import changeDetailPopup from '../changeDetailPopup'

export default {
  name: 'hrpmc2e-personal-tax-detail2',
  data () {
    return {
      modalID: 'hrpmc2e-personal-tax-detail2'
    }
  },
  props: [ 'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'changeDetailColumns',
    'popupChangeDetail',
    'receivedHrpmc2eChangeDetailPopup',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ],
  methods: {
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  },
  components: {
    changeDetailPopup
  }
}
</script>
