<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.personalTax6 }" :aria-expanded="!flgCollapse.personalTax6" @click.self="setCollapseToggle('personalTax6')" data-parent="#personalTax" href="#personal-tax6" >
      <div class="title" @click.self="setCollapseToggle('personalTax6')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('personalTax6')"></i>{{ labels['HRPMC2EA6']['6'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('personalTax6')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('personalTax6')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.personalTax6 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('personalTax6')"></i>
    </div>
    <div id="personal-tax6" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.personalTax6}">
      <div class="panel-body">
          <div class="collapse-group">  
            <div class="panel-group" id="personalTax6Tab">            
              <personal-tax6-tab1 :labels="labels"
                                  :labelsButton="labelsButton"
                                  :nowLang="nowLang"
                                  :detail="detail.tab1"
                                  :modalID="modalID1"
                                  :changeDetailColumns="changeDetailColumns"
                                  :popupChangeDetail="popupChangeDetail"
                                  :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                                  :flgCollapse="flgCollapseTax6"
                                  :setCollapseToggle="setCollapseToggleTax6"
                                  :pinCollapse="pinCollapseTax6"
                                  :setPinCollapseToggle="setPinCollapseToggleTax6"
                                  :detailDisabled="detailDisabled" />

              <personal-tax6-tab2 :labels="labels"
                                  :labelsButton="labelsButton"
                                  :nowLang="nowLang"
                                  :detail="detail.tab2"
                                  :modalID="modalID2"
                                  :changeDetailColumns="changeDetailColumns"
                                  :popupChangeDetail="popupChangeDetail"
                                  :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                                  :flgCollapse="flgCollapseTax6"
                                  :setCollapseToggle="setCollapseToggleTax6"
                                  :pinCollapse="pinCollapseTax6"
                                  :setPinCollapseToggle="setPinCollapseToggleTax6"
                                  :detailDisabled="detailDisabled" />

              <personal-tax6-tab3 :labels="labels"
                                  :labelsButton="labelsButton"
                                  :nowLang="nowLang"
                                  :detail="detail.tab3"
                                  :modalID="modalID3"
                                  :tab3Columns="tab3Columns"
                                  :changeDetailColumns="changeDetailColumns"
                                  :popupChangeDetail="popupChangeDetail"
                                  :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                                  :flgCollapse="flgCollapseTax6"
                                  :setCollapseToggle="setCollapseToggleTax6"
                                  :pinCollapse="pinCollapseTax6"
                                  :setPinCollapseToggle="setPinCollapseToggleTax6"
                                  :detailDisabled="detailDisabled" />

              <personal-tax6-tab4 :labels="labels"
                                  :labelsButton="labelsButton"
                                  :nowLang="nowLang"
                                  :detail="detail.tab4"
                                  :modalID="modalID4"
                                  :tab4Columns="tab4Columns"
                                  :changeDetailColumns="changeDetailColumns"
                                  :popupChangeDetail="popupChangeDetail"
                                  :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                                  :flgCollapse="flgCollapseTax6"
                                  :setCollapseToggle="setCollapseToggleTax6"
                                  :pinCollapse="pinCollapseTax6"
                                  :setPinCollapseToggle="setPinCollapseToggleTax6"
                                  :detailDisabled="detailDisabled" />

              <personal-tax6-tab5 :labels="labels"
                                  :labelsButton="labelsButton"
                                  :nowLang="nowLang"
                                  :detail="detail.tab5"
                                  :modalID="modalID5"
                                  :tab5Columns="tab5Columns"
                                  :changeDetailColumns="changeDetailColumns"
                                  :popupChangeDetail="popupChangeDetail"
                                  :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                                  :flgCollapse="flgCollapseTax6"
                                  :setCollapseToggle="setCollapseToggleTax6"
                                  :pinCollapse="pinCollapseTax6"
                                  :setPinCollapseToggle="setPinCollapseToggleTax6"
                                  :detailDisabled="detailDisabled" />

            </div> 
          </div>     
      </div>
    </div>
    <change-detail-popup :labels="labels"
                         :modalID="modalID1"
                         :nowLang="nowLang"
                         :changeDetailColumns="changeDetailColumns"
                         :labelsButton="labelsButton" 
                         :popupChangeDetail="popupChangeDetail"/>
    <change-detail-popup :labels="labels"
                         :modalID="modalID2"
                         :nowLang="nowLang"
                         :changeDetailColumns="changeDetailColumns"
                         :labelsButton="labelsButton" 
                         :popupChangeDetail="popupChangeDetail"/>
    <change-detail-popup :labels="labels"
                         :modalID="modalID3"
                         :nowLang="nowLang"
                         :changeDetailColumns="changeDetailColumns"
                         :labelsButton="labelsButton" 
                         :popupChangeDetail="popupChangeDetail"/>
    <change-detail-popup :labels="labels"
                         :modalID="modalID4"
                         :nowLang="nowLang"
                         :changeDetailColumns="changeDetailColumns"
                         :labelsButton="labelsButton" 
                         :popupChangeDetail="popupChangeDetail"/>
    <change-detail-popup :labels="labels"
                         :modalID="modalID5"
                         :nowLang="nowLang"
                         :changeDetailColumns="changeDetailColumns"
                         :labelsButton="labelsButton" 
                         :popupChangeDetail="popupChangeDetail"/>
  </div>
</template>

<script>
import personalTax6Tab1 from './personalTax6_1'
import personalTax6Tab2 from './personalTax6_2'
import personalTax6Tab3 from './personalTax6_3'
import personalTax6Tab4 from './personalTax6_4'
import personalTax6Tab5 from './personalTax6_5'
import changeDetailPopup from '../changeDetailPopup'

export default {
  name: 'hrpmc2e-personal-tax6',
  data () {
    return {
      modalID1: 'hrpmc2e-personal-tax6-tab1',
      modalID2: 'hrpmc2e-personal-tax6-tab2',
      modalID3: 'hrpmc2e-personal-tax6-tab3',
      modalID4: 'hrpmc2e-personal-tax6-tab4',
      modalID5: 'hrpmc2e-personal-tax6-tab5',
      pinCollapseTax6: {
        personalTax6Tab1: false,
        personalTax6Tab2: false,
        personalTax6Tab3: false,
        personalTax6Tab4: false,
        personalTax6Tab5: false
      },
      flgCollapseTax6: {
        personalTax6Tab1: false,
        personalTax6Tab2: true,
        personalTax6Tab3: true,
        personalTax6Tab4: true,
        personalTax6Tab5: true
      }
    }
  },
  props: [
    'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'tab3Columns',
    'tab4Columns',
    'tab5Columns',
    'changeDetailColumns',
    'popupChangeDetail',
    'receivedHrpmc2eChangeDetailPopup',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ],
  methods: {
    resetCollapseTax6 () {
      this.flgCollapseTax6 = {
        personalTax6Tab1: false,
        personalTax6Tab2: true,
        personalTax6Tab3: true,
        personalTax6Tab4: true,
        personalTax6Tab5: true
      }
      this.pinCollapseTax6 = {
        personalTax6Tab1: false,
        personalTax6Tab2: false,
        personalTax6Tab3: false,
        personalTax6Tab4: false,
        personalTax6Tab5: false
      }
    },
    setPinCollapseToggleTax6 (tab) {
      this.pinCollapseTax6[tab] = !this.pinCollapseTax6[tab]
    },
    setCollapseToggleTax6 (tab) {
      for (let collapseTab in this.flgCollapseTax6) {
        if (collapseTab !== tab) {
          if (!this.pinCollapseTax6[collapseTab]) {
            this.flgCollapseTax6[collapseTab] = true
          }
        }
      }
      this.flgCollapseTax6[tab] = !this.flgCollapseTax6[tab]
    }
  },
  components: {
    personalTax6Tab1,
    personalTax6Tab2,
    personalTax6Tab3,
    personalTax6Tab4,
    personalTax6Tab5,
    changeDetailPopup
  }
}
</script>
