<template>
  <div class="panel">
    <div class="panel-heading" :class="{ 'collapsed': flgCollapse.personalTax6Tab2 }" :aria-expanded="!flgCollapse.personalTax6Tab2" @click.self="setCollapseToggle('personalTax6Tab2')" data-parent="#personalTax6Tab" href="#personal-tax6-tab2" >
      <div class="title" @click.self="setCollapseToggle('personalTax6Tab2')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('personalTax6Tab2')"></i>{{ labels['HRPMC2EA6']['170'] }}</div>
      <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('personalTax6Tab2')"></i>
      <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('personalTax6Tab2')"></i>
      <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.personalTax6Tab2 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('personalTax6Tab2')"></i>
    </div>
    <div id="personal-tax6-tab2" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.personalTax6Tab2}">
      <div class="panel-body">
        <div class="group-topic">{{ labels['HRPMC2EA6']['180'] }}</div>
        <div class="row">
          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['190'] }}</div>
                <hrms-datepicker  v-model="detail.dtebf" 
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                data-vv-value-path="inputDate"
                                data-vv-name="dtebf"
                                data-vv-as="Birth Date"
                                name="dtebf"
                                :disabled="detailDisabled"/>
              <div class="validator-text"></div>
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['200'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.amtincbf" :disabled="detailDisabled">
              <div class="validator-text"></div>
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['210'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.amttaxbf" :disabled="detailDisabled">
              <div class="validator-text"></div>
            </div>
          </div>

          <div class="col-md-6 group-space-lg">
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['220'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.amtpf" :disabled="detailDisabled">
              <div class="validator-text"></div>
            </div>
            <div class="input-group">
              <div class="label">{{ labels['HRPMC2EA6']['230'] }}</div>
                <input class="normal-input" type="text" name="input" v-model="detail.amtsaid" :disabled="detailDisabled">
              <div class="validator-text"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12  group-space-lg">
            <button v-if="detailDisabled" type="button" class="button-sm -disable _bg-white-disable pull-right">รายละเอียดการแก้ไข</button>
            <button v-if="!detailDisabled" type="button" class="button-sm _bg-small-button pull-right" @click="togglePopupChangeDetail()">รายละเอียดการแก้ไข</button>
            <button type="button" hidden data-toggle="modal" ref="changeDetailBtn" :data-target="'#' + modalID"></button>  
          </div>
        </div>

    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'hrpmc2e-personal-tax6-tab2',
  props: [ 'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'modalID',
    'changeDetailColumns',
    'popupChangeDetail',
    'receivedHrpmc2eChangeDetailPopup',
    'flgCollapse',
    'setCollapseToggle',
    'pinCollapse',
    'setPinCollapseToggle',
    'detailDisabled'
  ],
  methods: {
    togglePopupChangeDetail (param) {
      let popupParams = {}
      this.receivedHrpmc2eChangeDetailPopup(popupParams)
      this.$refs.changeDetailBtn.click()
    }
  }
}
</script>
