<template>
  <div name="hrpmc2e-smart-card-popup" class="modal-group">
    <div id="hrpmc2e-smart-card-popup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">{{ labels['HRPMC2EA1']['350'] }}</div>
            <div class="close ion-android-close" data-dismiss="modal"></div>
            <div class="tag fa fa-tag"></div>
          </div>

          <div class="modal-body">
            <div class="group-space-3col">
              <div class="clearfix">        
                <template v-if="!smartCardPopupDisp">
                    <div class="scanner-content">
                      <img class="scanner-img" :src="require('@/assets/image/C2E/informs.png')">
                      <div class="inform-smartcard">{{ labels['HRPMC2EA1']['360'] }}</div>
                    </div>
                </template>
                <template v-else>
                  <div class="scanner-content">
                      <img class="scanner-img" :src="require('@/assets/image/C2E/success.png')">
                      <div class="success-smartcard">{{ labels['HRPMC2EA1']['370'] }}</div>
                    </div>
                </template>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div v-if="!smartCardPopupDisp" type="button" class="button-md _bg-blue"  @click="toggleSmartCard()" value="save"><i class="fa fa-check-circle"></i>ตรวจสอบ</div>  
            <div v-if="smartCardPopupDisp" @click="back()" type="button" class="button-md _bg-grey" value="back"><i class="fa fa-chevron-circle-left"></i>{{ labelsButton['back'] }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hrpmc2e-smart-card-popup',
  props: [
    'labels',
    'nowLang',
    'labelsButton',
    'popupSmartCard',
    'smartCardPopupDisp',
    'setSmartCardPopupDisp',
    'receivedHrpmc2eSmartCardPopup'
  ],
  methods: {
    back () {
      this.setSmartCardPopupDisp(false)
    },
    toggleSmartCard () {
      let popupParams = {}
      this.setSmartCardPopupDisp(true)
      this.receivedHrpmc2eSmartCardPopup(popupParams)
    }
  }
}
</script>