<template>
 <div class="collapse-group">
    <div class="panel-group" id="accordion">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12"> 
            <div v-if="detailDisabled" type="button" class="button-md -disable _bg-blue-disable pull-right">Create and Edit Field</div>
            <div v-if="!detailDisabled" type="button" class="button-md _bg-blue pull-right"  @click="togglePopupOtherCreate()" >Create and Edit Field</div>
            <div type="hidden" data-toggle="modal" ref="createAlterDataBtn" data-target="#hrpmc2e-other-create-popup"></div> 
          </div>
        </div>
        <div class="other-box">
          <div class="row">
           <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">Size เครื่องแบบ</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.other.size" :disabled="detailDisabled">
              </div>
            </div>
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">ทะเบียนรถ</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.other.numcar" :disabled="detailDisabled">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 group-space-lg">
              <div class="input-group">
                <div class="label">โทรศัพท์ 2</div>
                  <input class="normal-input" type="text" name="input" v-model="detail.other.tel2" :disabled="detailDisabled">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="group-space" style="padding-top: 40px">
            <div v-if="detailDisabled" class="button-md -disable _bg-green-disable" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div>  
            <div v-if="!detailDisabled" class="button-md _bg-green" @click="saveHrpmc2eOther(saveParams())" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div>  
          </div>
        </div>
       </div>
       <other-create-popup :labels="labels"
                           :nowLang="nowLang"
                           :columns="columns"
                           :dropdowns="dropdowns"
                           :labelsButton="labelsButton" 
                           :popupOtherCreate="popupOtherCreate"
                           :addOtherSelected="addOtherSelected"
                           :setAddPopupOtherCreate="setAddPopupOtherCreate"
                           :setAddOtherSelected="setAddOtherSelected"
                           :receivedHrpmc2eAddOtherPopup="receivedHrpmc2eAddOtherPopup"
                           :receivedHrpmc2eAddOtherPopupCreate="receivedHrpmc2eAddOtherPopupCreate"
                           :setAddOtherPopupDisp="setAddOtherPopupDisp"
                           :addOtherPopupDisp="addOtherPopupDisp"
                           :popupAddOther="popupAddOther"
                           :saveHrpmc2eOtherCreatePopup="saveHrpmc2eOtherCreatePopup"
                           :detailDisabled="detailDisabled"/>
      </div>
  </div>
</template>

<script>
import otherCreatePopup from './otherCreatePopup'

export default {
  name: 'hrpmc2e-other-information',
  props: [ 'nowLang',
    'labels',
    'labelsButton',
    'detail',
    'columns',
    'dropdowns',
    'receivedHrpmc2eOtherCreatePopup',
    'popupOtherCreate',
    'addOtherSelected',
    'setAddPopupOtherCreate',
    'setAddOtherSelected',
    'receivedHrpmc2eAddOtherPopup',
    'receivedHrpmc2eAddOtherPopupCreate',
    'setAddOtherPopupDisp',
    'addOtherPopupDisp',
    'popupAddOther',
    'saveHrpmc2eOtherCreatePopup',
    'saveHrpmc2eOther',
    'codempidQuery',
    'detailDisabled'
  ],
  methods: {
    togglePopupOtherCreate () {
      this.receivedHrpmc2eOtherCreatePopup()
      this.$refs.createAlterDataBtn.click()
    },
    saveParams () {
      return {
        searchParams: this.codempidQuery,
        detail: this.detail.other
      }
    }
  },
  components: {
    otherCreatePopup
  }
}
</script>
