<template>
  <div name="hrpmc2e-other-create-popup" class="modal-group clearfix">
    <div id="hrpmc2e-other-create-popup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <div v-if="!addOtherPopupDisp" class="modal-title">{{ labels['HRPMC2EF']['10'] }}</div>
            <div v-if="addOtherPopupDisp" class="modal-title">{{ labels['HRPMC2EF']['10'] }} / Add</div>
            <div class="close ion-android-close" data-dismiss="modal"></div>
            <div class="tag fa fa-tag"></div>
          </div>

          <div class="modal-body" style="padding-bottom: 0;">
            <div class="clearfix">
              <template v-if="!addOtherPopupDisp">
                <div class="col-xs-12">
                  <hrms-table :labels="labels"
                              :columns="columns.otherCreate" 
                              :data="popupOtherCreate.table"
                              :nowLang="nowLang"
                              :searchDisp="false"
                              :tablePageDisp="false"
                              :addBtnDisp="false"
                              :addEvent="addEvent"
                              :editEvent="editEvent"
                              :saveInlineBtnDisp="false"
                              :deleteInlineEventBool="true"
                              :deleteInlineBtnDisp="false" />
                </div>
              </template>
              <template v-else>
                <div class="row">
                  <div class="col-md-6 group-space-md">
                    <div class="select-group">
                      <div class="label">{{ labels['HRPMC2EF']['60'] }} : </div>
                      <select class="select" v-model="popupOther.coddatatyp" :disabled="detailDisabled">
                        <option value="T">Text</option>
                        <option value="N">Number</option>
                        <option value="D">Date</option>
                        <option value="DL">Dropdown list</option>
                      </select>
                       <i class="fa fa-chevron-down caret" aria-hidden="true"></i>
                    </div>
                    <div class="input-group">
                      <div class="label">{{ labels['HRPMC2EF']['50'] }} : </div>
                      <input class="normal-input" type="text" name="input" v-model="popupOther.detail" :disabled="detailDisabled">
                    </div>                  
                  </div>
                  <div class="col-md-6 group-space-md right-section">
                    <i v-show="dataType1" class="type-icon fa fa-font" aria-hidden="true"></i>
                    <i v-show="dataType2" class="type-icon fa fa-sort-numeric-asc" aria-hidden="true"></i>
                    <i v-show="dataType3" class="type-icon fa fa-calendar" aria-hidden="true"></i>
                    <i v-show="dataType4" class="type-icon fa fa-list-alt" aria-hidden="true"></i>
                    <div v-show="dataType1" class="custom-input">
                      <div class="input-group">
                        <div class="label">{{ labels['HRPMC2EF']['80'] }} : </div>
                        <input class="normal-input" type="text" name="input" v-model="popupOther.character" :disabled="detailDisabled">
                      </div>
                    </div>
                    <div v-show="dataType2" class="custom-input">
                      <div class="input-group">
                        <div class="label">{{ labels['HRPMC2EF']['70'] }} : </div>
                        <input class="normal-input" type="text" name="input" v-model="popupOther.size" :disabled="detailDisabled">
                      </div>
                    </div>
                    <div class="addlist-button clearfix" v-show="dataType4">
                      <div type="button" class="button-sm _bg-blue" @click="addDropdownList()"><i class="fa fa-plus-circle"></i>{{ labelsButton['add'] }}</div>
                    </div>
                    <div v-show="dataType4" v-for="(dropdown, index) in dropdownList" :key="index" class="custom-list">
                      <div class="input-group">
                        <div class="label">list: {{ index + 1 }}</div>
                        <input class="normal-input -custom" type="text" name="input" v-model="dropdown.value" :disabled="detailDisabled">
                        <div class="del-list fa fa-times-circle" @click="deleteDropdown(index)"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </template>
            </div>
          </div>

          <div class="modal-footer">
            <div v-if="!addOtherPopupDisp">
              <div type="button" class="button-md _bg-grey " value="back"><i class="fa fa-chevron-circle-left"></i>{{ labelsButton['back'] }}</div>
              <div type="button" class="button-md _bg-blue"  @click="addEvent()" ><i class="fa fa-plus-circle"></i>{{ labelsButton['add'] }}</div>  
              <div type="button" class="button-md _bg-green"  @click="saveHrpmc2eOtherCreatePopup(saveParams())" value="save"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</div>
            </div>
            <div v-if="addOtherPopupDisp">
              <div @click="back()" type="button" class="button-md _bg-grey"  value="back"><i class="fa fa-chevron-circle-left"></i>{{ labelsButton['back'] }}</div>
              <div type="button" class="button-md _bg-green"  value="save" @click="triggerAddOther()"><i class="fa fa-check-circle"></i>{{ labelsButton['ok'] }}</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hrpmc2e-other-create-popup',
  data () {
    return {
      dataType1: true,
      dataType2: false,
      dataType3: false,
      dataType4: false,
      dropdownList: [{value: ''}],
      btnEvent: '',
      popupOther: {}
    }
  },
  watch: {
    'popupOther.coddatatyp' (newVal) {
      this.dataType1 = false
      this.dataType2 = false
      this.dataType3 = false
      this.dataType4 = false
      if (newVal === 'T') {
        this.dataType1 = true
      } else if (newVal === 'N') {
        this.dataType2 = true
      } else if (newVal === 'D') {
        this.dataType3 = true
      } else if (newVal === 'DL') {
        this.dataType4 = true
      }
    }
  },
  methods: {
    triggerAddOther () {
      this.popupOther.datatyp = this.dropdowns.addOtherDataType[this.nowLang][this.popupOther.coddatatyp]
      this.setAddPopupOtherCreate({ popupOther: this.popupOther, event: this.btnEvent, addOtherSelected: this.addOtherSelected })
      this.back()
    },
    back () {
      this.setAddOtherPopupDisp(false)
    },
    addEvent (param) {
      this.btnEvent = 'add'
      this.setAddOtherPopupDisp(true)
      // let popupParams = {}
      // this.receivedHrpmc2eAddOtherPopupCreate(popupParams)
      this.popupOther = {
        fieldnam: '',
        detail: '',
        coddatatyp: '',
        datatyp: '',
        size: '',
        character: '',
        listitem: '',
        codimg: ''
      }
    },
    editEvent (dataRow) {
      this.btnEvent = 'edit'
      this.setAddOtherPopupDisp(true)
      this.popupOther = dataRow
      // this.setAddOtherSelected(dataRow)
      // let popupParams = {}
      // this.receivedHrpmc2eAddOtherPopup(popupParams)
    },
    saveParams () {
      return {
        popupOtherCreate: this.popupOtherCreate
      }
    },
    addDropdownList () {
      this.dropdownList.push({ value: '' })
    },
    deleteDropdown (index) {
      this.dropdownList.splice(index, 1)
    }
  },
  props: [
    'labels',
    'nowLang',
    'labelsButton',
    'columns',
    'dropdowns',
    'popupOtherCreate',
    'addOtherSelected',
    'setAddPopupOtherCreate',
    'setAddOtherSelected',
    'receivedHrpmc2eAddOtherPopup',
    'receivedHrpmc2eAddOtherPopupCreate',
    'setAddOtherPopupDisp',
    'addOtherPopupDisp',
    'popupAddOther',
    'saveHrpmc2eOtherCreatePopup',
    'detailDisabled'
  ]
}
</script>