<template>
  <div name="hrms-dropzone" class="hrms-dropzone">
    <div v-show="disabled" >
      Upload Here
    </div>
    <vue-dropzone  v-show="dispAttach && !disabled"
                   :id="name"
                   :url="url"
                   :headers="headers"
                   :useFontAwesome="true"
                   @vdropzone-sending="triggerSending"
                   @vdropzone-removed-file="triggerRemoveFile"
                   @vdropzone-success="triggerSuccessBuiltIn"
                   @vdropzone-error="triggerError"
                   :maxNumberOfFiles="maxNumberOfFiles"
                   :showRemoveLink="showRemoveLink"
                   :maxFileSizeInMB="maxFileSizeInMB"
                   :acceptedFileTypes="acceptedFileTypes"
                   ref="vueDropzoneCall"
                   :class="{ 'input-error' : hasError }" >
        <input type="hidden" name="token" value="xxx">
    </vue-dropzone>
    <div v-if="checkTypeImage(inputFileName)">
      <img class="image-file" :src="inputFileName" :height="imageHeight" :width="imageWidth"><br>
      <a class="fa fa-pencil ico-knowledge1 cursor-pointer _text-blue" @click="inputFileName = ''"> Edit</a>
    </div>
    <label v-show="!dispAttach && !checkTypeImage(inputFileName)">{{ inputFileName }}
      <a class="fa fa-paperclip ico-knowledge1 dash-color-skin" :href="filePath + this.inputFileName" download v-show="filePath + this.inputFileName" @click.stop></a>
      <a class="fa fa-trash ico-knowledge1 cursor-pointer" v-show="filePath + this.inputFileName" @click="deleteFileTemp()"></a>
    </label>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import * as types from './store/mutation-types'
import vueDropzone from 'vue2-dropzone'
import regex from 'assets/js/regex'
import swal from 'sweetalert'

const assetsLabels = require('assets/js/labels')

export default {
  name: 'hrms-dropzone',
  data () {
    return {
      dash: this.$root.$children[0].$children[1],
      url: window.localStorage.getItem('baseURL') + 'api/uploader/uploadFile',
      headers: {
        currentUser: this.getCurrentUser(),
        fileDir: this.fileDir
      },
      filePath: '',
      dispAttach: true,
      fileDir: '',
      flgDeleteFile: true,
      inputFileName: this.fileNameQuery,
      inputFileName_: this.fileNameQuery,
      tempFileName: '',
      tempFileName_: '',
      resultFileName: this.value,
      flgLoadSuccess: true
    }
  },
  created () {
    if (this.inputFileName === '') {
      this.dispAttach = true
    } else {
      this.dispAttach = false
    }
    this.setupDir()
  },
  computed: {
    getTfolder () {
      let tfolder = this.dash.getTfolder()
      return tfolder
    }
  },
  watch: {
    'fileNameQuery' () {
      this.clearFileTemp()
      this.inputFileName = this.fileNameQuery
      this.inputFileName_ = this.fileNameQuery
      this.tempFileName = ''
      this.tempFileName_ = ''
    },
    'inputFileName' (newVal) {
      if (this.inputFileName === '') {
        this.dispAttach = true
      } else {
        this.dispAttach = false
      }
    },
    getTfolder () {
      this.setupDir()
    },
    'codempNameFile' () {
      this.headers.currentUser = this.getCurrentUser()
    },
    'flgToggle' () {
      if (!this.flgToggle) {
        if (this.inputFileName && this.inputFileName !== this.inputFileName_) {
          this.callDeleteFile(this.inputFileName)
        } else if (this.tempFileName !== this.tempFileName_) {
          this.callDeleteFile(this.tempFileName)
        }
        this.$nextTick(() => {
          this.tempFileName = ''
          this.tempFileName_ = ''
          this.inputFileName = this.fileNameQuery
          this.inputFileName_ = this.fileNameQuery
          this.clearDropzone()
        })
      }
    }
  },
  mounted () {
    // this.$on('$clearDropzone', () => {
    //   this.clearDropzone()
    // })
    // this.$on('$clearFileTemp', () => {
    //   this.clearFileTemp()
    // })
  },
  methods: {
    triggerRemoveFile (file) {
      if (this.flgDeleteFile && this.flgLoadSuccess) {
        this.postRemovedFile({ file: file, fileDir: this.headers.fileDir })
      }
      this.resultFileName = ''
      this.triggerReturnFileName(this.resultFileName)
    },
    ...mapActions({
      postRemovedFile: types.POST_HRMS_DROPZONE_REMOVED_FILE
    }),
    removeFileEvent () {
      this.$refs.vueDropzoneCall.removeAllFiles()
    },
    triggerSending (file, xhr, formData) {
      if (!file.name.match(regex.alphabet)) {
        this.flgDeleteFile = false
        swal({ title: 'Error', text: 'wrong file name format (only alphabet or number)', status: 'error' })
        this.removeFileEvent()
      }
      this.flgDeleteFile = true
    },
    triggerSuccessBuiltIn (file, response) {
      if (this.flgRename) {
        this.dispAttach = false
      }
      this.triggerSuccess(file, response)
      this.flgLoadSuccess = true
    },
    triggerError (file) {
      this.flgLoadSuccess = !(file.status === 'error')
    },
    setupDir () {
      if (!this.othPath) {
        if (this.flgPathTemp || this.getTfolder.codapp === '') {
          this.headers.fileDir = this.getTfolder.temp
        } else {
          this.headers.fileDir = this.getTfolder.main + this.getTfolder.folder
        }
        this.filePath = this.getTfolder.load + this.getTfolder.folder + '/'
      } else {
        this.headers.fileDir = this.othPath
      }
    },
    getCurrentUser () {
      let objCurrentUser = JSON.parse(assetsLabels.getCurrentUserHeader())
      objCurrentUser.codapp = this.$route.name
      objCurrentUser.flgrename = this.flgRename ? 'Y' : 'N'
      objCurrentUser.codempidQuery = this.codempNameFile

      return JSON.stringify(objCurrentUser)
    },
    triggerSuccess (file, response) {
      if (this.tempFileName) {
        if (this.tempFileName !== this.tempFileName_) {
          this.callDeleteFile(this.tempFileName)
        }
      }
      this.tempFileName = ''
      this.inputFileName = response.file.new_filename
      let _this = this
      setTimeout(function () {
        _this.resultFileName = response.file.new_filename ? response.file.new_filename : file.name
        _this.triggerReturnFileName(_this.resultFileName)
        _this.uploadSuccess(_this.resultFileName)
        // window.open('https://192.168.2.81:8443/file_uploads/Polld/' + file.name, '_blank')
      }, 1000)
    },
    callDeleteFile (fileName) {
      this.flgDeleteFile = true
      let file = {
        name: ''
      }
      file.name = fileName
      this.$nextTick(() => {
        this.triggerRemoveFile(file)
      })
    },
    deleteFileTemp () {
      this.tempFileName = this.inputFileName
      this.tempFileName_ = this.inputFileName_
      this.inputFileName = ''
      this.resultFileName = ''
      this.clearDropzone()
      this.uploadSuccess('')
      this.triggerReturnFileName(this.resultFileName)
    },
    clearDropzone () {
      this.flgDeleteFile = false
      this.$nextTick(() => {
        this.removeFileEvent()
      })
    },
    clearFileTemp () {
      if (this.tempFileName) {
        this.callDeleteFile(this.tempFileName)
      }
      if (this.tempFileName_) {
        this.callDeleteFile(this.tempFileName_)
      }
    },
    uploadSuccess (data) {
      this.$emit('uploadSuccess', data)
    },
    triggerReturnFileName (fileName) {
      this.$emit('input', fileName)
    },
    checkTypeImage (fileName) {
      let dotType = fileName.substr(fileName.lastIndexOf('.') + 1).toUpperCase()
      let ret = false
      if (('JPG,JPEG,PNG,TIFF').indexOf(dotType) >= 0 && fileName.lastIndexOf('.') >= 0) {
        ret = true
      }
      return ret
    }
  },
  props: {
    value: {
      type: String,
      default () {
        return ''
      }
    },
    fileNameQuery: {
      type: String,
      default () {
        return ''
      }
    },
    flgPathTemp: {
      type: Boolean,
      default () {
        return false
      }
    },
    maxNumberOfFiles: {
      type: Number,
      default: 1
    },
    showRemoveLink: {
      type: Boolean,
      default: true
    },
    codempNameFile: {
      type: String
    },
    flgRename: {
      type: Boolean,
      default () {
        return true
      }
    },
    flgToggle: {
      type: Boolean,
      default () {
        return false
      }
    },
    othPath: {
      type: String
    },
    maxFileSizeInMB: {
      type: Number
    },
    acceptedFileTypes: {
      type: String
    },
    name: {
      type: String,
      default () {
        return 'vueDropzone'
      }
    },
    hasError: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    imageHeight: {
      type: Number
    },
    imageWidth: {
      type: Number
    }
  },
  components: {
    vueDropzone
  }
}
</script>

<style src="./assets/style.scss" lang='scss'></style>
