.responsive-header {
  top: -$navbar-height - 1;
}

.dash-body {
  .content-wrapper {
    $transition-rule: $transition-speed $transition-fn,
    margin $transition-speed $transition-fn;
    @include transition-transform($transition-rule);
    margin-left: $sidebar-width;
    z-index: 900;
    padding-top: 50px;
    background: #fff;
    @media (max-width: $screen-xs-max) {
      margin-left: 0;
    }
    .content-body {
      background: #EFEFEF;
      padding: 0 15px 15px;
      margin-top: -21px;

      @media (max-width: 768px) {
        padding: 0;
        margin-top: 0;
      }
      .content {
        background: #FFF;
        position: relative;
        width: 100%;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
        min-height: 100vh;
        @include clearfix;

        @media (max-width: 768px) {
          min-height: auto;
        }
      }
    }
  }
  .content-dashboard {
    background: #efefef;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
}