.breadcrumb-wrapper {
  background: $black-15;
  margin-bottom: 0;
  border-radius: 0;
  box-shadow: inset 0 -3px 2px rgba(0, 0, 0, 0.1);
  min-height: 85px;
  font-family: 'promptlight';
  position: relative;

  @media (max-width: 768px) {
    margin-top: 50px;
  }

  .breadcrumb-path {
  	padding: 5px 19px;
  	font-size: 12px;
  	background: $black-10;

  	span {
  		padding: 0 4px;

	  	&.hilight {
	  		color: $blue;
	  		cursor: pointer;
	  	}
  	}

  }
  .function-name {
  	padding: 5px 15px 0;
  	font-family: 'promptmedium';

  	i {
  		padding: 0 4px;
  		font-size: 12px;
  		color: $black-65;
  	}
  }
}