.main-footer {
  display: table;
  height: $footer-height;
  width: 100%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.14);
  background: #fff;
  position: relative;
  .footer-copyright {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
    font-family: 'promptregular';
    .nowrap {
      white-space: nowrap;
    }
  }
}