.main-header {
  position: fixed;
  height: $navbar-height;
  width: 100%;
  z-index: 1020;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.14);

  &.-modal-open {
    z-index: 3;
  }

  .navbar {
    @include navbar-variant($blue, #959595);
    @include transition(margin-left $transition-speed $transition-fn);
    margin-bottom: 0;
    border: none;
    min-height: $navbar-height;
    border-radius: 0;
    display: block;
    padding: 0;
		.header-home-button {
	    color: #006699;
	    float: left;
	    background-color: transparent;
	    background-image: none;
	    padding: 15px;
      width: $sidebar-width;
      text-align: center;
      position: relative;
  		z-index: 6;
			&:hover {
				color: $blue-active;
			}
			&:focus,
	    &:active {
	      background: transparent;
	    }
	    i {
	      font-size: 20px;
	    }
		}
  }

  .navbar-custom-left {
		float: left;
		font-family: 'promptregular';
		font-size: 12px;
		color: #313131;
		padding: 15px 5px;
    img {
			width: 18px;
			margin-top: -3px;
    }
  }
  .navbar-custom-center {
  	position: relative;
  	z-index: 5;
		margin-top: -40px;
  	text-align: center;
	  img {
	    height: 25px;
    }
  }

  .navbar-custom-menu {
    float: right;
    position: relative;
    z-index: 6;
    @media (max-width: $screen-sm-max) {
      a {
        color: inherit;
        background: transparent;
      }
    }
  }

	//Navbar custom dropdown menu
	.navbar-nav > .messages-menu{
		width: 35px;
    cursor: pointer;
	  //fix width and padding
	  > .dropdown-menu {
	    > li {
	      position: relative;
	    }
	    width: 300px;
	    //Remove padding and margins
	    padding: 0 0 0 0;
	    margin: 0;
	    top: 100%;
	  }
	  //Define header class
	  > .dropdown-menu > li.header {
	    @include border-radius(4px, 4px, 0, 0);
	    background-color: #ffffff;
	    padding: 15px 10px;
	    border-bottom: 1px solid #ddd;
	    color: #444444;
	    font-size: 14px;
			font-family: 'promptregular';
	  }

	  //Define footer class
	  > .dropdown-menu > li.footer {
	    border-top: 1px solid #ddd;
	  }
	  > .dropdown-menu > li.footer > a {
	    @include border-radius(0, 0, 4px, 4px);
	    font-size: 13px;
	    background-color: #fff;
	    // padding: 7px 10px;
	    padding: 10px 10px 8px;
	    border-bottom: 1px solid #eeeeee;
	    color: #424242 !important;
	    @media (max-width: $screen-sm-max) {
	      background: #fff !important;
	      color: #424242 !important;
	    }
	    text-align: center;
	    //Hover state
	    &:hover {
	      text-decoration: none;
	      font-weight: normal;
	    }
	  }
	}

	//User menu
	.navbar-nav > .user-menu {
		padding: 0 0 0 20px;
		margin-top: -8px;
    cursor: pointer;
		.user-box {
			text-decoration: none;
      @include clearfix;

      .user-img {
      	width: 35px;
        float: left;

        img {
          width: 100%;
          border-radius: 50%;
        }
      }
      .user-name {
        float: left;
        padding: 5px 10px 0 20px;
        color: $black-50;
      }
      .down {
        font-size: 24px;
        padding: 4px 15px 0 0;
        color: $black-50;
      }
      &:after {
        display: none;
      }
		}

	  >.replace {
      width: $setting-width !important;
      padding: 0 0 0 0;
      margin: -40px 0 0 0;
      // top: 130% !important;
      right: 5px !important;
      background: none !important;
      border: none !important;
      box-shadow: none !important;
  	    // @include border-top-radius(0);
	    // padding: 1px 0 0 0;
	    // border-top-width: 0;

      .triangle {
        width: 24px;
        border-top: 13px solid transparent;
        border-right: 13px solid transparent;
        border-left: 13px solid transparent;
        border-bottom: 13px solid #FFF;
        position: relative;
        top: 10px;
        right: -319px;
        filter: drop-shadow(0 -1px 0 rgba(0,0,0,0.25));
        z-index: 8;
      }

      .setting-box {
        width: $setting-width;
        position: relative;
        top: 9px;
        right: -10px;
        z-index: 7;
        background: #FFF;
        border: 1px solid rgba(0,0,0,0.2);
        box-shadow: 2px 1px 2px rgba(0,0,0,0.25);
        padding: 0;
        // margin: 0 0 0 -207px;

        .user-box {
          @include clearfix;
          padding: 15px;  

          >.img-box {
            float: left;
            width: 85px;
            height: 85px;
            // border-radius: 40px;

            img {
              border-radius: 50px;
              width: 100%;
            }
            .change-img {
              width: 85px;
              height: 85px;
              top: -29px;
              background: rgba(0,0,0,0.4);
              color: #FFF;
              text-align: center;
              position: relative;
              -webkit-clip-path: circle(50% at 50% -15%);
              clip-path: circle(50% at 50% -15%);
              font-size: 12px;
              line-height: 24px;
            }
          }
          >.detail-box {
            padding: 0 15px;
            float: left;
            width: 72%;

            .username {
              font-family: 'promptregular';
              font-size: 16px;
              color: $blue;
            }
            .email {
              font-size: 14px;
              line-height: 8px;
              color: $black-50;
            }
          }
          .-user-profile {
            margin: 15px 0 0 15px;
            box-shadow: none;
          }
        }
        .setting-menu {
          border-top: 1px solid $black-20;

          .menu-row {
            position: relative;
            padding: 8px 15px;
            @include clearfix;
            border-bottom: 1px solid $black-10;

            &:hover {
              background: $black-10;
            }
            &:last-child {
              border-bottom: none;
            }
            .icon-left {
              float: left;
              color: $blue;
              padding: 3px 15px 0 10px;
            }
            .menu-text {
              float: left;
              font-family: 'promptregular';
              color: $black-50;
            }
            .icon-right {
              float: right;
              text-align: right;
              font-size: 18px;
              color: $black-50;
              padding: 1px 10px 0 0;
            }
            &:hover {
              .sub-menu {
                display: block;
              }
            }
          }
          .sub-menu {
            display: none;
            width: $setting-sub-menu-width;
            position: absolute;
            top: 0;
            left: -$setting-sub-menu-width + 10;
            z-index: 8;
            background: #FFF;
            border: 1px solid rgba(0,0,0,0.2);
            box-shadow: 2px 1px 2px rgba(0,0,0,0.25);
          }
        }
      }

	    // &,
	    // > .user-body {
	    //   @include border-bottom-radius(4px);
	    // }
	    // // Header menu
	    // > li.user-header {
	    //   height: 175px;
	    //   padding: 10px;
	    //   text-align: center;
	    //   // User image
	    //   > img {
	    //     z-index: 5;
	    //     height: 90px;
	    //     width: 90px;
	    //     border: 3px solid;
	    //     border-color: transparent;
	    //     border-color: rgba(255, 255, 255, 0.2);
	    //   }
	    //   > p {
	    //     z-index: 5;
	    //     color: #fff;
	    //     color: rgba(255, 255, 255, 0.8);
	    //     font-size: 17px;
	    //     margin-top: 10px;
	    //     > small {
	    //       display: block;
	    //       font-size: 12px;
	    //     }
	    //   }
	    // }

	    // User Content in top menu
	    // .user-content {
	    //   color: hsla(0,0%,100%,.8);
	    //   .user-detail {
	    //     text-align: left;
	    //     font-size: 12px;
	    //   }
	    // }

	    // Menu Body
	    // > .user-body {
	    //   padding: 15px;
	    //   border-bottom: 1px solid #f4f4f4;
	    //   border-top: 1px solid #dddddd;
	    //   @include clearfix();
	    //   a {
	    //     color: #444 !important;
	    //     @media (max-width: $screen-sm-max) {
	    //       background: #fff !important;
	    //       color: #444 !important;
	    //     }
	    //   }
	    // }

	    // Menu Footer
	    // > .user-footer {
	    //   background-color: #f9f9f9;
	    //   padding: 10px;
	    //   @include clearfix();
	    //   .btn-default {
	    //     color: #666666;
	    //     &:hover {
	    //       @media (max-width: $screen-sm-max) {
	    //         background-color: #f9f9f9;
	    //       }
	    //     }
	    //   }
	    // }
	  }
	  // .user-image {
	  //   float: left;
	  //   max-width: 25px;
	  //   height: 25px;
	  //   border-radius: 50%;
	  //   margin-right: 10px;
	  //   margin-top: -2px;
	  //   @media (max-width: $screen-xs-max) {
	  //     float: none;
	  //     margin-right: 0;
	  //     margin-top: -8px;
	  //     line-height: 10px;
	  //   }
	  // }
	}
}

//Control navbar scaffolding on x-small screens
@media (max-width: $screen-sm-max) {
	.navbar-custom-menu {
		.navbar-nav {
			margin: 0;
    	float: left;
			> li {
				float: left;
				> a {
					padding-top: 15px;
					padding-bottom: 15px;
					line-height: 20px;
				}
			}
		}
	}
}

// Collapse header
@media (max-width: $screen-header-collapse) {
  .main-header {
    .logo,
    .navbar {
      width: 100%;
      float: none;
    }
    .navbar {
      margin: 0;
    }
    .navbar-custom-menu {
      float: right;
    }
  }
}

//Control navbar scaffolding on xs screens
@media (max-width: $screen-xs) {
  .navbar-custom-menu {
  	.navbar-nav {
  		> li {
  			> a {
			    padding-left: 12px;
			    padding-right: 12px;
			  }
			}
		}
  }
}

.navbar-collapse.pull-left {
  @media (max-width: $screen-sm-max) {
    float: none !important;
    + .navbar-custom-menu {
      display: block;
      position: absolute;
      top: 0;
      right: 40px;
    }
  }
}

/* Fix dropdown menu in navbars */
.navbar-custom-menu > .navbar-nav {
  > li {
    position: relative;
    > .dropdown-menu {
      position: absolute;
      right: 0;
      left: auto;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .navbar-custom-menu > .navbar-nav {
    float: right;
    > li {
      > .dropdown-menu {
        position: absolute;
        right: 3%;
        left: auto;
        border: 1px solid #ddd;
        background: #fff;
      }
    }
  }
}

/* -replace Bootstap4 -*/
.main-header {
	.navbar-nav {
		padding: 15px;
		display: flex;
		flex-direction: row;
	  list-style: none;
	}

	.dropdown-toggle::after {
    display: none;
  }

  .navbar .nav > li > a .label {
    position: absolute;
    top: -8px;
    right: 8px;
    text-align: center;
    font-size: 8px;
    padding: 5px 0px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    font-weight: normal;
    color: #FFF;
  }
}
.header-mb {
	.navbar-nav {
		padding: 0;
		display: flex;
		flex-direction: row;
    list-style: none;
    line-height: $navbar-height;
  }
  .dropdown-toggle {
    position: relative;
    padding: 5px 7px !important;
    i {
      color: $black-50;
      line-height: $navbar-height !important;
    }
    .label {
      position: absolute;
      top: -7px;
      right: -11px;
      text-align: center;
      font-size: 8px;
      padding: 1px 0px;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      font-weight: normal;
      color: #FFF;
      background: $red;
    }
  }

	.dropdown-toggle::after {
    display: none;
  }
}

// Mobile Header
.header-mb {
  @include clearfix;
  width: 100%;
  height: $navbar-height * 2;
  position: fixed;
  z-index: 1020;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  background: #FFF;  

  .logobar {
    height: $navbar-height;
    width: 100%;
    display: block;
    line-height: $navbar-height - 4;
    text-align: center;
    border-bottom: 1px solid $black-10;
    box-shadow: 1px 0 0 1px rgba(0,0,0,0.1);
    
    img {
      max-width: 150px;
    }
  }
  .navbar-left {
    float: left;
    padding: 0 10px;
    display: table-cell;
    vertical-align: middle;
    
    i {
      line-height: $navbar-height;
      font-size: 22px;
      padding: 0 0 0 5px;
      color: $blue;

      &:first-child {
        padding: 0;
        color: $black-90;
      }
    }
  }
  .navbar-custom-menu {
    float: right;
    position: relative;
    top: 2px;
    z-index: 6;

    &.notification-mb {
      .nav &.navbar-nav {
        @include clearfix;

        .messages-menu {
          float: left;
        }
      }
    }
  }
  	//User menu
	.navbar-nav > .user-menu {
		padding: 0 0 0 10px;
		margin-top: -8px;
    cursor: pointer;
		.user-box {
			text-decoration: none;
      @include clearfix;

      .user-img {
      	width: 35px;
        float: left;

        img {
          width: 100%;
          border-radius: 50%;
        }
      }
      .user-name {
        float: left;
        padding: 5px 10px 0 20px;
        color: $black-50;
      }
      .down {
        font-size: 24px;
        padding: 4px 15px 0 0;
        color: $black-50;
      }
      &:after {
        display: none;
      }
		}

	  >.replace {
      width: $setting-width !important;
      padding: 0 0 0 0;
      margin: -40px 0 0 0;
      right: 5px !important;
      background: none !important;
      border: none !important;
      box-shadow: none !important;

      .triangle {
        width: 24px;
        border-top: 13px solid transparent;
        border-right: 13px solid transparent;
        border-left: 13px solid transparent;
        border-bottom: 13px solid #FFF;
        position: relative;
        top: 10px;
        right: -319px;
        filter: drop-shadow(0 -1px 0 rgba(0,0,0,0.25));
        z-index: 8;
      }

      .setting-box {
        width: $setting-width;
        position: relative;
        top: 9px;
        right: -10px;
        z-index: 7;
        background: #FFF;
        border: 1px solid rgba(0,0,0,0.2);
        box-shadow: 2px 1px 2px rgba(0,0,0,0.25);
        padding: 0;
        // margin: 0 0 0 -207px;

        .user-box {
          @include clearfix;
          padding: 15px;  

          >.img-box {
            float: left;
            width: 85px;
            height: 85px;
            // border-radius: 40px;

            img {
              border-radius: 50px;
              width: 100%;
            }
            .change-img {
              width: 85px;
              height: 85px;
              top: -29px;
              background: rgba(0,0,0,0.4);
              color: #FFF;
              text-align: center;
              position: relative;
              -webkit-clip-path: circle(50% at 50% -15%);
              clip-path: circle(50% at 50% -15%);
              font-size: 12px;
              line-height: 24px;
            }
          }
          >.detail-box {
            padding: 0 15px;
            float: left;

            .username {
              font-family: 'promptregular';
              font-size: 16px;
              color: $blue;
            }
            .email {
              font-size: 14px;
              line-height: 8px;
              color: $black-50;
            }
          }
          .-user-profile {
            margin: 15px 0 0 15px;
            box-shadow: none;
          }
        }
        .setting-menu {
          border-top: 1px solid $black-20;

          .menu-row {
            padding: 8px 15px;
            @include clearfix;
            border-bottom: 1px solid $black-10;

            &:hover {
              background: $black-10;
            }
            &:last-child {
              border-bottom: none;
            }
            .icon-left {
              float: left;
              color: $blue;
              padding: 3px 15px 0 10px;
            }
            .menu-text {
              float: left;
              font-family: 'promptregular';
              color: $black-50;
            }
            .icon-right {
              float: right;
              text-align: right;
              font-size: 18px;
              color: $black-50;
              padding: 1px 10px 0 0;
            }
          }
        }
      }
    }
  }
}