.dash-body {
  .content-wrapper {
    &.content-help {
      margin-left: 0;
    }
  }
}

.help-footer {
  display: table;
  height: $footer-height;
  width: 100%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.14);
  background: #959595;
  color: #fff;
  position: relative;
  padding-top: 100px;
  padding-bottom: 40px;
  .footer-header {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .footer-detail {
    font-size: 13px;
    line-height: 1;
    color: #e8e8e8;
    a {
      color: #e8e8e8;
      text-decoration: underline;
    }
  }
  .footer-copyright {
    text-align: right;
    font-size: 12px;
    font-family: 'promptregular';
    .nowrap {
      white-space: nowrap;
    }
    a {
      color: #e8e8e8;
    }
  }
}