$notification-height: 423px;

.notification {
	
	.replace {
	  width: 500px !important;
	  padding: 0 0 0 0;
	  margin: 0;
	  top: 130% !important;
	  // right: -85px !important;
	  background: none !important;
	  border: none !important;
	  box-shadow: none !important;

		.triangle {
			width: 24px;
			border-top: 13px solid transparent;
			border-right: 13px solid transparent;
			border-left: 13px solid transparent;
			border-bottom: 13px solid #FFF;
			position: relative;
			top: -27px;
			right: -460px;
			filter: drop-shadow(0 -1px 0 rgba(0,0,0,0.25));
			z-index: 8;

		}
  }
  .replace-2 {
	  width: 450px !important;
	  padding: 0 0 0 0;
	  margin: 0;
	  top: 130% !important;
	  // right: -85px !important;
	  background: none !important;
	  border: none !important;
	  box-shadow: none !important;

		.triangle {
			width: 24px;
			border-top: 13px solid transparent;
			border-right: 13px solid transparent;
			border-left: 13px solid transparent;
			border-bottom: 13px solid #FFF;
			position: relative;
			top: -27px;
			right: -412px;
			filter: drop-shadow(0 -1px 0 rgba(0,0,0,0.25));
			z-index: 8;

		}
	}
	.icon-lineheight {
		line-height: 2.5 !important;
	}

	.icon-stack {
		font-size: 10px !important;
		margin: -6px 0 0 -2px;
	}

	/*-- Favourite List --*/
	.favourite-box {
		position: relative;
		top: -28px;
		right: -85px;
		z-index: 7;
		background: #FFF;
		border: 1px solid rgba(0,0,0,0.2);
		box-shadow: 2px 1px 2px rgba(0,0,0,0.25);
    padding: 10px 0 10px;
    
    >.header {
      padding: 0 0 10px 0;
      border-bottom: 1px solid rgba(0,0,0,0.2);
      background: #FFF;

      .center-text {
        text-align: center;

        .header-text {
          font-family: 'promptregular';
          font-size: 18px;
        }
        .number {
          display: inline-block;
          padding: 7px 0 0 0;
          width: 30px;
          height: 30px;
          border-radius: 30px;
          font-family: 'promptregular';
          font-size: 12px;
          text-align: center;
          color: #FFF;
          background: $red;
        }
      }
    }

    .favourite-body {
      max-height: $notification-height;
      overflow-y: auto;
      @include scrollbar-custom;
  		.module-list {
  			.module-name {
  				font-family: 'promptmedium';
  				text-transform: uppercase;
  				font-size: 16px;
  				padding: 5px 20px 0;
  			}
  			.function-list {
  				padding: 5px 0;

  				.function-box {
            position: relative;
            
            a, a:hover {
              text-decoration: none;
            }

  					&:hover {
  						background: $black-10;
  						cursor: pointer;

  						.trash-fav {
  							float: right;
  							line-height: 22px;
  							font-size: 18px;
  							color: $black-40;
  						}
  					}
            .function-text {
              margin-right: 35px;
              padding: 5px 20px;
              .function-code {
                font-family: 'promptmedium';
                font-size: 14px;
                color: $black-65;
                text-transform: uppercase;

                i {
                  font-size: 12px;
                  color: $black-50;
                  padding: 0 10px 0 0;
                }
              }
              .dash {
                padding: 0 5px;
                color: $black-65;
              }
              .function-name {
                color: $black-50;
              }
            }
  					.trash-fav {
  						position: absolute;
              top: 5px;
              right: 15px;
  						line-height: 22px;
  						font-size: 18px;
  						color: #FFF;
  					}
  				}
  			}
  		}

      .no-data {
        text-align: center;
        color: #9d9d9d;
        padding: 20px;
        font-family: 'promptregular';
        font-size: 18px;
      }
    }
	}

	/*-- Request List --*/
	.request-box {
		position: relative;
		top: -28px;
		right: -50px;
		z-index: 7;
		background: #FFF;
		border: 1px solid rgba(0,0,0,0.2);
		box-shadow: 2px 1px 2px rgba(0,0,0,0.25);
		padding: 10px 0 10px;

		>.header {
			padding: 0 0 10px 0;
			border-bottom: 1px solid rgba(0,0,0,0.2);
			background: #FFF;

			.center-text {
				text-align: center;

				.header-text {
					font-family: 'promptregular';
					font-size: 18px;
				}
				.number {
					display: inline-block;
					padding: 7px 0 0 0;
					width: 30px;
					height: 30px;
					border-radius: 30px;
					font-family: 'promptregular';
					font-size: 12px;
					text-align: center;
					color: #FFF;
					background: $red;
				}
			}
		}
		.request-list {
			overflow-y: auto;
			max-height: $notification-height;

			@include scrollbar-custom;

			.list-box {
				@include clearfix;
				padding: 10px;
				cursor: pointer;
				border-bottom: 1px solid rgba(0,0,0,0.2);

				&:hover {
					background: $black-10;
					cursor: pointer;
				}

				// &:last-child {
				// 	border-bottom: none;
				// }

				.request-icon {
					width: 10%;
					float: left;
					color: $black-40;
					// padding: 0 20px 0 0;

					i {
						font-size: 32px;
						line-height: 44px;
					}
				}
				>.detail {
					float: left;
					width: 90%;

					.topic-row {
						width: 100%;
						@include clearfix;

						>.topic {
							float: left;
							font-family: 'promptregular';
							font-size: 14px;
						}
						.request-date {
							font-size: 14px;
							color: $black-50;
							float: right;

							i {
								padding: 0 5px 0 0;
							}
						}
					}
					.request-status {
						font-family: 'promptregular';
						font-size: 14px;
						color: $blue;
						padding: 0 0 8px 0;
						line-height: 14px;
					}
					.detail-row {
						@include clearfix;

						.detail-set {
							float: left;
							padding: 0 25px 0 0;

							>.label {
								font-family: 'promptregular';
								font-size: 14px;
								color: $black-65;
							}
							>.data {
								font-family: 'promptlight';
								font-size: 14px;
								color: $black-50;
							}
						}
					}
				}
			}
		}
		>.footer {
			border-top: 1px solid rgba(0,0,0,0.2);
			padding: 10px 0 0;
			text-align: center;
			font-family: 'promptregular';
			font-size: 14px;
			color: $blue;
			cursor: pointer;
		}
	}

	/*-- Approve List --*/
	.approve-box {
		position: relative;
		top: -28px;
		right: -15px;
		z-index: 7;
		background: #FFF;
		border: 1px solid rgba(0,0,0,0.2);
		box-shadow: 2px 1px 2px rgba(0,0,0,0.25);
		padding: 10px 0 10px;

		>.header {
			padding: 0 0 10px 0;
			border-bottom: 1px solid rgba(0,0,0,0.2);
			background: #FFF;

			.center-text {
				text-align: center;

				.header-text {
					font-family: 'promptregular';
					font-size: 18px;
				}
				.number {
					display: inline-block;
					padding: 7px 0 0 0;
					width: 30px;
					height: 30px;
					border-radius: 30px;
					font-family: 'promptregular';
					font-size: 12px;
					text-align: center;
					color: #FFF;
					background: $red;
				}
			}
		}
		.approve-list {
			overflow-y: auto;
			max-height: $notification-height;

			@include scrollbar-custom;

			.list-box {
				@include clearfix;
				padding: 10px;
				cursor: pointer;
				border-bottom: 1px solid rgba(0,0,0,0.2);

				&:hover {
					background: $black-10;
					cursor: pointer;
				}

				// &:last-child {
				// 	border-bottom: none;
				// }

				.approve-icon {
					width: 10%;
					float: left;
					color: $black-40;
					// padding: 0 20px 0 0;

					i {
						font-size: 28px;
						line-height: 48px;

						&.checked-icon {
							font-size: 16px;
							line-height: 3;
						}
					}
				}
				>.detail {
					float: left;
					width: 90%;

					.topic-row {
						width: 100%;
						@include clearfix;

						>.topic {
							float: left;
							font-family: 'promptregular';
							font-size: 14px;
							width: 72%;
							line-height: 25px;
						}
						.approve-date {
							font-size: 14px;
							color: $black-50;
							float: right;

							i {
								padding: 0 5px 0 0;
							}
						}
					}
					.approve-total {
						font-family: 'promptregular';
						font-size: 14px;
						color: $blue;
						padding: 0 0 5px 0;
						line-height: 20px;
					}
				}
			}
		}
		>.footer {
			border-top: 1px solid rgba(0,0,0,0.2);
			padding: 10px 0 0;
			text-align: center;
			font-family: 'promptregular';
			font-size: 14px;
			color: $blue;
			cursor: pointer;
		}
	}
}