.setting-panel {
  position: fixed;
  top: $navbar-height;
  right: 0;
  padding: 0;
  width: $right-sidebar-width;
  height: 100%;
  background: #FFF;
  box-shadow: -3px 0px 3px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  cursor: default;
  $transition-rule: $transition-speed $transition-fn,
  width $transition-speed $transition-fn;
  @include transition-transform($transition-rule);
  @include scrollbar-custom;
  
  .setting-main-header {
    padding: 15px 0px;
    position: relative; 
    margin-left: 20px;
    border-bottom: 1px solid #ddd;

   > .text {
    font-size: 16px;
    font-family: 'promptregular';
   } 
   > .close {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #aaa;
    cursor: pointer;
   } 
  }
  .setting-group-set {
    padding: 20px 20px 20px 5px;
    &.-unpadding {
      padding: 0;
    }
    &.-with-margin-left {
      margin-left: 20px;
    }
    > .header {
      cursor: pointer;
      font-size: 14px;
      font-family: 'promptregular';
      > i {
        color: #3987c9;
        background: #fff;
        border-radius: 100%;
        font-size: 14px;
      }
    }
    > .content {
      padding: 15px 0px 0px 5px;
    }
  }

  &.setting-theme-color {
    .-main, .-advance {
      .color-box {
        float: left;
        margin-right: 14px;
        margin-bottom: 7px;
        margin-top: 7px;
        width: 45px;
        height: 45px;
        border-radius: 3px;
        position: relative;
        > i {
          display: none;
          position: absolute;
          top: -7px;
          right: -7px;
          color: #60a6e0;
          background: #fff;
          border-radius: 100%;
          font-size: 17px;
          &.selected {
            display: block;
          }
        }
      }
    }
    .-advance {
      .color-box {
        border: 2px solid #d2d2d2;
        display: table;
        > i {
          position: relative;
          top: inherit;
          right: inherit;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          color: #d2d2d2;
          background: none;
        }
      }
      .input-box {
        float: left;
        width: 75%;
        margin-top: -16px;
        .input-group {
          .label {
            font-size: 12px;
          }
          .search-icon {
            font-size: 12px;
            color: #636363 !important;
          }
          input {
            height: 28px;
            font-size: 14px;
          }
        }
      }
    }
  }

  &.switch-user {
    .user-set {
      padding: 7px 0 10px 0;
      margin-left: 20px;
      @include clearfix;
      cursor: pointer;
      border-top: 1px solid #e8e8e8;

      >.img-panel {
        width: 15%;
        float: left;
        padding-top: 3px;

        .emp-img {
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }
      }
      >.detail-panel {
        padding: 7px 0 5px 10px;
        float: left;
        font-size: 12px;
        width: 60%;

        .user-name {
          line-height: 18px;
          font-family: 'promptregular';
          color: $black-65;
        }
        .user-email {
          line-height: 10px;
          font-family: 'promptlight';
          color: $black-50;
          font-size: 11px;
        }
      }
      .switch-tab {
        &.-switch-user {
          padding: 15px 15px 0 0;
          float: right;
        }
      }
    }
  }

  &.setting-language {
    .language-set {
      padding: 5px 0 5px 20px;
      @include clearfix;
      cursor: pointer;

      &:hover, &.active {
        background: $black-10;
      }

      >.img-panel {
        width: 20%;
        float: left;
        padding-top: 3px;

        .lang-img {
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }
      }
      >.detail-panel {
        padding: 16px 0 5px 10px;
        float: left;
        font-size: 12px;
        width: 70%;

        .lang-name {
          line-height: 18px;
          font-family: 'promptregular';
          color: $black-65;
        }
      }
      >.lang-checked {
        float: right;
        text-align: right;
        font-size: 34px;
        line-height: 46px;
        padding: 0 15px 0 0;
        color: $blue;
        width: 10%;
      }
    }
  }
  
  .panel-button {
    padding: 15px;
    border-top: 1px solid #ddd;
  }

  .section-slider{
    display: inline-block;
    float: left;
  }
  .block-slider {
    position: relative;
    width: 56px;
  }
  .silder-checkbox {
    display: none;
  }
  .slider-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
  }
  .slider-inner, .slider-filter-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }
  .slider-inner:before,
  .slider-inner:after,
  .slider-filter-inner:before,
  .slider-filter-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 23px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
  }
  .slider-inner:before, .slider-filter-inner:before {
    padding-right: 0px;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
  }
  .slider-inner:after, .slider-filter-inner:after {
    padding-right: 13px;
    color: #FFFFFF;
    text-align: right;
  }
  .slider-filter-inner:before {
    content: "ON";
    background-color: #56bd5b;
  }
  .slider-filter-inner:after {
    content: "OFF";
    background-color: #a0a0a0;
  }
  .slider {
    display: block;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 50px;
    border-radius: 0;
    transition: all 0.3s ease-in 0s;
  }
  .silder-checkbox:checked + .slider-label .slider-inner {
    margin-left: 0;
  }
  .silder-checkbox:checked + .slider-label .slider-filter-inner {
    margin-left: 0;
  }
  .silder-checkbox:checked + .slider-label .slider {
    right: 0px;
  }
}