.main-sidebar,
.main-sidebar-module {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  $transition-rule: $transition-speed $transition-fn,
  width $transition-speed $transition-fn;
  @include transition-transform($transition-rule);

  &.-modal-open {
    z-index: 2;
  }

  @media (max-width: $screen-xs-max) {
    @include translate(-$sidebar-width, 0);
  }
  &.sidebar-collapse {
    @include translate(-$sidebar-width, 0);
    .sub-sidebar-module {
      display: none !important;
    }
  }
  &.sidebar-open {
    @include translate(0, 0);
  }
  > .sidebar {
    > .sidebar-menu {
      width: $sidebar-width;
      list-style: none;
      margin: 0;
      padding: 50px 0 0 0;
      color: #fff;
      text-align: center;
      &:hover {
        > .module {
          opacity: 0.35;
        }
      }
      > .module {
        cursor: pointer;
        text-decoration: none;
        color: #fff;    
        @include delay(.5s);
        &:hover, &.active {
          opacity: 1 !important;
          @include delay(.5s);
        }  
        &.unactive {
          opacity: 0.35;
        } 
        > .module-icon {
          width: $menu-icon-width;
          height: $menu-icon-width;
          margin: 20px auto 0;
          &.module-rp {
            background: url('~/static/image/sidebar-menu/rp.png') no-repeat;
            background-size: 100%;
          }
          &.module-rc {
            background: url('~/static/image/sidebar-menu/rc.png') no-repeat;
            background-size: 100%;
          }
          &.module-pm {
            background: url('~/static/image/sidebar-menu/pm.png') no-repeat;
            background-size: 100%;
          }
          &.module-ap {
            background: url('~/static/image/sidebar-menu/ap.png') no-repeat;
            background-size: 100%;
          }
          &.module-bf {
            background: url('~/static/image/sidebar-menu/bf.png') no-repeat;
            background-size: 100%;
          }
          &.module-al {
            background: url('~/static/image/sidebar-menu/al.png') no-repeat;
            background-size: 100%;
          }
          &.module-tr {
            background: url('~/static/image/sidebar-menu/tr.png') no-repeat;
            background-size: 100%;
          }
          &.module-py {
            background: url('~/static/image/sidebar-menu/py.png') no-repeat;
            background-size: 100%;
          }
          &.module-es {
            background: url('~/static/image/sidebar-menu/ess.png') no-repeat;
            background-size: 100%;
          }
          &.module-ms {
            background: url('~/static/image/sidebar-menu/mss.png') no-repeat;
            background-size: 100%;
          }
          &.module-co {
            background: url('~/static/image/sidebar-menu/co.png') no-repeat;
            background-size: 100%;
          }
          &.module-sc {
            background: url('~/static/image/sidebar-menu/sc.png') no-repeat;
            background-size: 100%;
          }
          &.module-el {
            background: url('~/static/image/sidebar-menu/el.png') no-repeat;
            background-size: 100%;
          }
          &.module-ts {
            background: url('~/static/image/sidebar-menu/ts.png') no-repeat;
            background-size: 100%;
          }
        }
        > .module-name {
          font-size: $menu-module-font-size;
          margin-top: 3px;
          text-transform: uppercase;
          &:hover {
            text-decoration: none;
          }
        }
        i {
          display: table-cell;
          vertical-align: middle;
          &.icon-sm {
            font-size: 10px;
          }
          &.icon-md {
            font-size: 14px;
          }
          &.icon-lg {
            font-size: 24px;
          }
        }
      }
    }
  }
}

.main-sidebar-module {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.14);
  background: $sidebar-module-bg;
  color: $sidebar-module-color;
  @media (max-width: $screen-xs-max) {
    @include translate(-$sidebar-expand-width, 0);
  }
  &.sidebar-collapse {
    @include translate(-$sidebar-expand-width, 0);
  }
  .sidebar {
    > .sidebar-menu {
      width: $sidebar-expand-width;
      .module-description {
        color: $sidebar-module-color;
        font-size: 18px;
        font-family: 'promptregular';
        text-transform: uppercase;
        padding: 40px;
      }
      &:hover {
        > .module {
          opacity: 1;
        }
      }
      > .module {
        position: relative;
        width: 100%;
        height: $sidebar-height;
        display: table;
        margin-top: -1px;
        padding: 0 20px;
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
        text-align: left;
        color: $sidebar-module-color;
        opacity: 1;
        &.active {
          .sub-sidebar-module {
            display: block;
          }
          > .module-name {
            text-decoration: none;
            font-family: 'promptregular';
          }
        }
        .module-name {
          width: 100%;
          display: table-cell;
          vertical-align: middle;
          text-transform: none;
          padding-left: 10px;
          font-size: 14px;
          color: $sidebar-module-color;
        }
        > .sub-sidebar-module {
          position: absolute;
          top: 0;
          left: $sidebar-expand-width;
          width: $sidebar-expand-width;
          // min-height: 100vh;
          z-index: 810;
          background: $sidebar-sub-module-bg;
          color: $sidebar-sub-module-color;
          display: none;
          .module {
            position: relative;
            width: 100%;
            height: $sidebar-height;
            display: table;
            margin-top: -1px;
            padding: 0 20px;
            border-top: 1px solid rgba(255,255,255,0.2);
            border-bottom: 1px solid rgba(255,255,255,0.2);
            &:first-child {
              border-top: none;
            }
            &:last-child {
              border-bottom: none;
            }
            &:hover, &.active {
              background: darken($sidebar-sub-module-bg, 5%);
              color: lighten($sidebar-sub-module-color, 50%);
              -webkit-filter: brightness(90%);
              $transition-rule: $transition-speed $transition-fn,
              width $transition-speed $transition-fn;
              @include transition-transform($transition-rule);
              .tri {
                border-right: $sidebar-height/6 solid darken($sidebar-sub-module-bg, 5%);
              }
              .module-name {
                text-decoration: none;
                font-weight: normal;
              }
            }
            >.tri {
              position: absolute;
              top: $sidebar-height/3;
              left: -$sidebar-height/3;
              width: $sidebar-height/3;
              border-top: $sidebar-height/6 solid transparent;
              border-left: $sidebar-height/6 solid transparent;
              border-right: $sidebar-height/6 solid $sidebar-sub-module-bg;
              border-bottom: $sidebar-height/6 solid transparent;
            }
            > .module-name {
              font-size: 13px;
              padding-right: 10px;
              color: $sidebar-sub-module-color;
              font-weight: normal;
              &.menu-lv-2 {
                padding-left: 0px;
              }
            }
          }
        }
      }
    }
  }
}



