<template>
  <div name="hrms-lov">
      <div class="clearfix" :class="{ '' : flgInlineTable }">
        <!-- <div>
          <input type="text" class="form-control lov-input"
                 v-model="inputValue"
                 :disabled="disabled"
                 :ref="lovType"
                 :name="name"
                 @focusout="findDescInputValue(inputValue)"
                 @keyup="inputValue = inputValue.toUpperCase()"
                 @keyup.tab="findDescInputValue(inputValue)"
                 @keyup.enter="findDescInputValue(inputValue)"
                 @change="findDescInputValue(inputValue)" />
          <button v-if="disabled" class="btn-lov-disable" @click.prevent=""><i class="fa fa-search"></i></button>
          <button v-if="!disabled" class="btn-lov" @click.prevent="showModal = true"><i class="fa fa-search color-skin"></i></button>
        </div> -->

        <div class="input-group _unmargin">
          <input  type="text" class="icon-input"
                  v-model="inputValue"
                  :disabled="disabled" 
                  :ref="lovType"
                  :name="name"
                  @focusout="findDescInputValue(inputValue)"
                  @keyup="inputValue = inputValue.toUpperCase()"
                  @keyup.tab="findDescInputValue(inputValue)"
                  @keyup.enter="findDescInputValue(inputValue)" />
          <span v-if="disabled"  class="icon fa fa-search -disable"></span>

          <span v-if="!disabled" data-toggle="modal" @click.prevent="showModal = true" class="icon fa fa-search"></span>

          <!-- <span v-if="!disabled" data-toggle="modal" :data-target="'#LovModal' + name"  class="icon fa fa-search"></span> -->

          <div class="validator-text"></div>
        </div> 
        
        <!-- <div>
          <input type="text" class="form-control detail-lov" :disabled="true" v-show="descDisp" v-model="descInputValue"  />
        </div> -->
      </div>

      <transition name="modal">
        <div v-if="showModal" class="modal-mask" >
          <div class="modal-wrapper"  >
            <div class="modal-container">

              <div class="modal-header">
                <slot name="header">
                  <h4 class="modal-title">{{ title[lovType] }}</h4>
                  <i class="fa fa-close close" @click.prevent="closeModal()" ></i>
                </slot>
              </div>

              <div class="modal-body">
                <slot name="body">
                  <hrms-table :columns="columns[nowLang][lovType]"
                              :data="data[lovType]"
                              :indexDisp="false"
                              :tickEvent="tickEvent" />
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>

    

  <!--
        <div class="modal-group">
          <div :id="'LovModal' + name" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="modal-title">{{ title[lovType] }}</div>
                  <div class="close" data-dismiss="modal" ref="closeModal">&times;</div>
                </div>
                <div class="modal-body">
                  <slot name="body">
                      <hrms-table :columns="columns[nowLang][lovType]"
                                  :data="data[lovType]"
                                  :indexDisp="false"
                                  :tickEvent="tickEvent" />
                  </slot>
                </div>
              </div>
            </div>
          </div>
        </div> -->

      
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as types from './store/mutation-types'
import assetsLabels from 'assets/js/labels'

export default {
  name: 'hrms-lov',
  data () {
    return {
      inputValue: this.value,
      descInputValue: this.desc,
      descLovType: 'desc_' + this.lovType,
      showModal: false
    }
  },
  watch: {
    value () {
      this.inputValue = this.value
      this.findDescInputValue(this.value)
    }
  },
  created () {
    this.receivedLovColumnsLabels(this.lovType)
    this.receivedLov({ lovType: this.lovType, params: this.params })
  },
  props: {
    value: {
      type: String,
      required: true
    },
    lovType: {
      type: String,
      required: true
    },
    params: {
      type: Object
    },
    disabled: {
      type: Boolean,
      default: false
    },
    nowLang: {
      type: String,
      default: assetsLabels.defaultLang
    },
    name: {
      type: String,
      required: true
    },
    flgInlineTable: {
      type: Boolean,
      default: false
    },
    descDisp: {
      type: Boolean,
      default: true
    },
    desc: {
      type: String,
      default: ''
    }
  },
  computed: {
    ...mapGetters({
      data: types.GET_LOV,
      title: types.GET_LOV_TITLE,
      columns: types.GET_LOV_COLUMNS,
      labels: types.GET_LOV_LABELS
    })
  },
  methods: {
    findDescInputValue (inputValue) {
      if (inputValue !== '' && this.data[this.lovType].rows.length > 0) {
        let _this = this
        let params = this.data[this.lovType].rows.filter(function (dataRow) {
          return dataRow[_this.lovType] === inputValue
        })
        if (params.length > 0) {
          this.descInputValue = params[0][this.descLovType]
        } else {
          this.descInputValue = 'XXXXXXXXXXXXXXXX'
        }
      } else {
        this.descInputValue = ''
      }
      this.$emit('input', inputValue)
    },
    closeModal () {
      this.showModal = false
      this.$refs[this.lovType].focus()
    },
    tickEvent (param) {
      this.inputValue = param[this.lovType]
      this.descInputValue = param[this.descLovType]
      this.$emit('setDataRow', param)
      this.$emit('input', param[this.lovType])
      this.$emit('changeLov', param[this.lovType])
      this.closeModal()
    },
    ...mapActions({
      receivedLovColumnsLabels: types.RECEIVED_LOV_COLUMNS_LABELS,
      receivedLov: types.RECEIVED_LOV
    })
  }
}
</script>

<style lang="scss">
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
  overflow: auto;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 800px;
  margin: 0px auto;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  overflow-x: auto;
  // font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 10px 0;
  padding: 10px;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-header .close {
  font-size: 20px;
  color: #000;
  opacity: 1;
}
</style>
