<template>
  <div name="hcm-lov" class="hcm-lov">
    <div>
      <div class="input-group lov">
        <input class="icon-input" type="text" name="input" v-model="codeDescValue" 
                                  @keyup="searchLovDropdown($event)"
                                  @focusout="hideDropdownSearch()"
                                  @focusin="searchLovDropdown($event)"
                                  :disabled="disabled" />
        <span v-if="disabled" class="icon fa fa-search -disable"></span>
        <span v-if="!disabled" class="icon fa fa-search" ref="searchBtnIndex" @click.prevent="callClickSearch()"></span>
      </div>

      <lov-search-dropdown  ref="searchLov"
                            :codeFillOnly="codeFillOnly"
                            :codeDescValue="codeDescValue"
                            :dropdownSearchDisp="dropdownSearchDisp"
                            :lists="lists"
                            :hideDropdownSearch="hideDropdownSearch"
                            :clickSearchBtnIndex="clickSearchBtnIndex"
                            :lovType="lovType"
                            @emitDropdownSetList="dropdownSetList(arguments[0])" />

    </div>

    <transition name="modal">
      <div v-show="showModal" class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container _unpadding">

            <div class="modal-header">
              <slot name="header">
                <div class="modal-title">{{ title[lovType] }}</div>
                <div class="ion-android-close close" @click.prevent="closeModal()" ref="closeBtn"></div>
              </slot>
            </div>

            <div class="modal-body">
              <slot name="body">
                  <detail :columns="columns[nowLang]"
                          :labels="labels[nowLang]"
                          :codeDescValue="codeDescValue"
                          :lists="lists"
                          :setLists="setLists"
                          :setList="setList"
                          :lovType="lovType"
                          :closeModal="closeModal"
                          ref="detail"
                  />
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import * as types from './store/mutation-types'
import * as templateTypes from '../../modules/main/template/store/mutation-types'
import assetsLabels from 'assets/js/labels'
import detail from './components/detail'
import lovSearchDropdown from './components/lovSearchDropdown'

export default {
  name: 'hcm-lov',
  data () {
    return {
      loadTime: 0,
      codeDescValue: '',
      inputValue: this.value,
      dropdownSearchDisp: false,
      dropdownSearchDispTimeout: 200,
      showModal: false
    }
  },
  watch: {
    baseLists: {
      handler () {
        if (this.loadTime < 2) {
          this.codeDescValue = this.calInputValueFromCode(this.value)
          this.loadTime++
        }
      },
      deep: true
    },
    value () {
      if (this.value !== this.inputValue) {
        this.inputValue = this.value
        this.codeDescValue = this.calInputValueFromCode(this.value)
      }
    },
    inputValue () {
      this.$emit('input', this.inputValue)
    }
  },
  created () {
    this.receivedColumnsLabels({ lovType: this.lovType })
    this.receivedLov({ lovType: this.lovType })
  },
  computed: {
    ...mapGetters({
      columns: types.GET_HCM_LOV_COLUMNS,
      labels: types.GET_HCM_LOV_LABELS,
      title: types.GET_HCM_LOV_TITLE,
      baseLists: types.GET_HCM_LOV,
      lists: types.GET_HCM_LOV_SEARCH
    })
  },
  props: {
    value: {
      type: String
    },
    name: {
      type: String,
      required: true
    },
    nowLang: {
      type: String,
      default: assetsLabels.defaultLang
    },
    lovType: {
      type: String,
      required: true
    },
    disabled: {
      type: Boolean,
      default: false
    },
    autoComplete: {
      type: Boolean,
      default: true
    },
    codeFillOnly: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    hideDropdownSearch () {
      if (this.autoComplete) {
        setTimeout(() => {
          this.dropdownSearchDisp = false
        }, this.dropdownSearchDispTimeout)
      }
    },
    calInputValueFromCode (code) {
      let resultList = this.baseLists[this.lovType].rows.filter((baseList) => {
        return baseList[this.lovType] === code
      })
      let codeDescValue = ''
      if (resultList.length > 0) {
        if (this.codeFillOnly) {
          if (resultList[0][this.lovType]) {
            codeDescValue = resultList[0][this.lovType]
          }
        } else {
          if (resultList[0][this.lovType] && resultList[0]['desc_' + this.lovType]) {
            codeDescValue = resultList[0][this.lovType] + ' - ' + resultList[0]['desc_' + this.lovType]
          }
        }
      }
      return codeDescValue
    },
    setList (list) {
      this.codeDescValue = (this.codeFillOnly) ? list[this.lovType] : list[this.lovType] + ' - ' + list['desc_' + this.lovType]
      this.inputValue = list[this.lovType]
    },
    clickSearchBtnIndex () {
      this.$refs.searchBtnIndex.click()
    },
    dropdownSetList (list) {
      this.setList(list)
    },
    searchLovDropdown (event) {
      if (this.autoComplete) {
        if (event.key !== 'Enter' && event.key !== 'ArrowDown' && event.key !== 'ArrowUp' && event.key !== 'ArrowLeft' && event.key !== 'ArrowRight') {
          this.emitDetailTriggerSearch()
          setTimeout(() => {
            this.dropdownSearchDisp = true
          }, this.dropdownSearchDispTimeout)
        }
      }

      if (event.type === 'keyup') {
        this.inputValue = ''
      }
    },
    closeModal () {
      this.showModal = false
      this.setModalDisp(false)
      // this.$refs.closeBtn.click()
    },
    callClickSearch () {
      this.showModal = true
      this.setModalDisp(true)
      this.emitDetailTriggerSearch()
    },
    emitDetailTriggerSearch () {
      this.$refs.detail.emitDetailSearchButton(this.codeDescValue)
    },
    ...mapMutations({
      setLists: types.SET_HCM_LOV_SEARCH,
      setModalDisp: templateTypes.SET_MODAL_DISP
    }),
    ...mapActions({
      receivedColumnsLabels: types.RECEIVED_HCM_LOV_COLUMNS_LABELS,
      receivedLov: types.RECEIVED_HCM_LOV
    })
  },
  components: {
    detail,
    lovSearchDropdown
  }
}
</script>

<style src="./assets/style.scss" lang='scss'></style>