<template>
  <div id="hrpmc2e" class="hrpmc2e">
    <hcm-setting-page :newEvent="refreshPage" />
    {{app.currentUserPermission}}
    <component-index v-show="indexDisp"
                  v-model="index"
                  :nowLang="app.nowLang"
                  :labels="labels[app.nowLang]"
                  :labelsButton="app.button[app.nowLang]"
                  :receivedHrpmc2eDetail="receivedHrpmc2eDetail"
                  :receivedHrpmc2eDetailCreate="receivedHrpmc2eDetailCreate"
                  :popupCheckBlacklist="popupCheckBlacklist"
                  :checkBlacklistPopupDisp="checkBlacklistPopupDisp"
                  :setCheckBlacklistPopupDisp="setCheckBlacklistPopupDisp"
                  :receivedHrpmc2eCheckBlacklistPopup="receivedHrpmc2eCheckBlacklistPopup"
                  :detailDisabled="detailDisabled"
                  :setDetailDisabled="setDetailDisabled"
                  :detail="detail"
                  ref="indexSearch" />

    <component-detail
                  :nowLang="app.nowLang"
                  :labels="labels[app.nowLang]"
                  :labelsButton="app.button[app.nowLang]"
                  :columns="columns[app.nowLang]"
                  :detail="detail"
                  :dropdowns='dropdowns'
                  :popupChangeDetail="popupChangeDetail"
                  :receivedHrpmc2eChangeDetailPopup="receivedHrpmc2eChangeDetailPopup"
                  :popupTax8="popupTax8"
                  :tax8Selected="tax8Selected"
                  :setTax8Selected="setTax8Selected"
                  :receivedHrpmc2eTax8Popup="receivedHrpmc2eTax8Popup"
                  :receivedHrpmc2eTax8PopupCreate="receivedHrpmc2eTax8PopupCreate"
                  :saveHrpmc2eTax8Popup="saveHrpmc2eTax8Popup"
                  :tax9Selected="tax9Selected"
                  :popupTax9="popupTax9"
                  :setTax9Selected="setTax9Selected"
                  :receivedHrpmc2eTax9Popup="receivedHrpmc2eTax9Popup"
                  :receivedHrpmc2eTax9PopupCreate="receivedHrpmc2eTax9PopupCreate"
                  :saveHrpmc2eTax9Popup="saveHrpmc2eTax9Popup"
                  :saveHrpmc2ePersonalTax="saveHrpmc2ePersonalTax"
                  :codempidQuery="index.codempid"
                  :popupEducation="popupEducation"
                  :educationSelected="educationSelected"
                  :setEducationSelected="setEducationSelected"
                  :receivedHrpmc2ePopupEducationCreate="receivedHrpmc2ePopupEducationCreate"
                  :receivedHrpmc2ePopupEducation="receivedHrpmc2ePopupEducation"
                  :popupWorkExperiences="popupWorkExperiences"
                  :workExperiencesSelected="workExperiencesSelected"
                  :setWorkExperiencesSelected="setWorkExperiencesSelected"
                  :receivedHrpmc2ePopupWorkExperiencesCreate="receivedHrpmc2ePopupWorkExperiencesCreate"
                  :receivedHrpmc2ePopupWorkExperiences="receivedHrpmc2ePopupWorkExperiences"
                  :popupTrainingRecord="popupTrainingRecord"
                  :trainingRecordSelected="trainingRecordSelected"
                  :setTrainingRecordSelected="setTrainingRecordSelected"
                  :receivedHrpmc2ePopupTrainingRecordCreate="receivedHrpmc2ePopupTrainingRecordCreate"
                  :receivedHrpmc2ePopupTrainingRecord="receivedHrpmc2ePopupTrainingRecord"
                  :popupChildren="popupChildren"
                  :childrenSelected="childrenSelected"
                  :setChildrenSelected="setChildrenSelected"
                  :receivedHrpmc2ePopupChildrenCreate="receivedHrpmc2ePopupChildrenCreate"
                  :receivedHrpmc2ePopupChildren="receivedHrpmc2ePopupChildren"
                  :popupRelatives="popupRelatives"
                  :relativesSelected="relativesSelected"
                  :setRelativesSelected="setRelativesSelected"
                  :receivedHrpmc2ePopupRelativesCreate="receivedHrpmc2ePopupRelativesCreate"
                  :receivedHrpmc2ePopupRelatives="receivedHrpmc2ePopupRelatives"
                  :saveHrpmc2eGuarantee="saveHrpmc2eGuarantee"
                  :guarantee1Selected="guarantee1Selected"
                  :popupGuarantee1="popupGuarantee1"
                  :saveHrpmc2eGuarantee1="saveHrpmc2eGuarantee1"
                  :saveHrpmc2eGuarantee2="saveHrpmc2eGuarantee2"
                  :saveHrpmc2eGuarantee3="saveHrpmc2eGuarantee3"
                  :saveHrpmc2ePersonalTax8="saveHrpmc2ePersonalTax8"
                  :saveHrpmc2ePersonalTax9="saveHrpmc2ePersonalTax9"
                  :saveHrpmc2eGuarantee1Popup="saveHrpmc2eGuarantee1Popup"
                  :setGuarantee1Selected="setGuarantee1Selected"
                  :receivedHrpmc2eGuarantee1Popup="receivedHrpmc2eGuarantee1Popup"
                  :receivedHrpmc2eGuarantee1PopupCreate="receivedHrpmc2eGuarantee1PopupCreate"
                  :guarantee2Selected="guarantee2Selected"
                  :popupGuarantee2="popupGuarantee2"
                  :saveHrpmc2eGuarantee2Popup="saveHrpmc2eGuarantee2Popup"
                  :setGuarantee2Selected="setGuarantee2Selected"
                  :receivedHrpmc2eGuarantee2Popup="receivedHrpmc2eGuarantee2Popup"
                  :receivedHrpmc2eGuarantee2PopupCreate="receivedHrpmc2eGuarantee2PopupCreate"
                  :guarantee3Selected="guarantee3Selected"
                  :popupGuarantee3="popupGuarantee3"
                  :saveHrpmc2eGuarantee3Popup="saveHrpmc2eGuarantee3Popup"
                  :setGuarantee3Selected="setGuarantee3Selected"
                  :receivedHrpmc2eGuarantee3Popup="receivedHrpmc2eGuarantee3Popup"
                  :receivedHrpmc2eGuarantee3PopupCreate="receivedHrpmc2eGuarantee3PopupCreate"
                  :receivedHrpmc2eOtherCreatePopup="receivedHrpmc2eOtherCreatePopup"
                  :popupOtherCreate="popupOtherCreate"
                  :addOtherSelected="addOtherSelected"
                  :setAddPopupOtherCreate="setAddPopupOtherCreate"
                  :setAddOtherSelected="setAddOtherSelected"
                  :saveHrpmc2eOther="saveHrpmc2eOther"
                  :receivedHrpmc2eAddOtherPopup="receivedHrpmc2eAddOtherPopup"
                  :receivedHrpmc2eAddOtherPopupCreate="receivedHrpmc2eAddOtherPopupCreate"
                  :setAddOtherPopupDisp="setAddOtherPopupDisp"
                  :addOtherPopupDisp="addOtherPopupDisp"
                  :popupAddOther="popupAddOther"
                  :saveHrpmc2eOtherCreatePopup="saveHrpmc2eOtherCreatePopup"
                  :receivedHrpmc2eCodtencyAddInline="receivedHrpmc2eCodtencyAddInline"
                  :popupHonors="popupHonors"
                  :honorsSelected="honorsSelected"
                  :setHonorsSelected="setHonorsSelected"
                  :receivedHrpmc2ePopupHonorsCreate="receivedHrpmc2ePopupHonorsCreate"
                  :receivedHrpmc2ePopupHonors="receivedHrpmc2ePopupHonors"
                  :postHrpmc2eHonorsPopupSave="postHrpmc2eHonorsPopupSave"
                  :popupCodtency="popupCodtency"
                  :receivedHrpmc2eCodtencyPopup="receivedHrpmc2eCodtencyPopup"
                  :competencySelected="competencySelected"
                  :setCompetencySelected="setCompetencySelected"
                  :receivedHrpmc2eSmartCardPopup="receivedHrpmc2eSmartCardPopup"
                  :popupSmartCard="popupSmartCard"
                  :smartCardPopupDisp="smartCardPopupDisp"
                  :setSmartCardPopupDisp="setSmartCardPopupDisp"
                  :setInlineCompetency1="setInlineCompetency1"
                  :setInlineCompetency2="setInlineCompetency2"
                  :setInlineCompetency3="setInlineCompetency3"
                  :inlineCompetency1="inlineCompetency1"
                  :inlineCompetency2="inlineCompetency2"
                  :inlineCompetency3="inlineCompetency3"
                  :postCompetencySaveAll="postCompetencySaveAll"
                  :setHonorsAddInlinePopup="setHonorsAddInlinePopup"
                  :setInlineWorkStudy1="setInlineWorkStudy1"
                  :setInlineWorkStudy2="setInlineWorkStudy2"
                  :setInlineWorkStudy3="setInlineWorkStudy3"
                  :inlineWorkStudy1="inlineWorkStudy1"
                  :inlineWorkStudy2="inlineWorkStudy2"
                  :inlineWorkStudy3="inlineWorkStudy3"
                  :postWorkStudySaveAll="postWorkStudySaveAll"
                  :setEducationAddInlinePopup="setEducationAddInlinePopup"
                  :setWorkExperiencesAddInlinePopup="setWorkExperiencesAddInlinePopup"
                  :setTrainingRecordAddInlinePopup="setTrainingRecordAddInlinePopup"
                  :setInlineFamily2="setInlineFamily2"
                  :setInlineFamily4="setInlineFamily4"
                  :inlineFamily2="inlineFamily2"
                  :inlineFamily4="inlineFamily4"
                  :setChildrenAddInlinePopup="setChildrenAddInlinePopup"
                  :setRelativesAddInlinePopup="setRelativesAddInlinePopup"
                  :postFamilySaveAll="postFamilySaveAll"
                  :receivedHrpmc2eSpouseQuery="receivedHrpmc2eSpouseQuery"
                  :receivedHrpmc2ePopupChildrenQuery="receivedHrpmc2ePopupChildrenQuery"
                  :receivedHrpmc2eParentFatherQuery="receivedHrpmc2eParentFatherQuery"
                  :receivedHrpmc2eParentMotherQuery="receivedHrpmc2eParentMotherQuery"
                  :receivedHrpmc2ePopupRelativesQuery="receivedHrpmc2ePopupRelativesQuery"
                  :detailDisabled="detailDisabled"
                  :lovCurrentDesc="lovCurrentDesc"
                  />

  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import * as types from './store/mutation-types'
import * as lovTypes from 'components/hcmLov/store/mutation-types'
import componentIndex from './components/componentIndex'
import componentDetail from './components/componentDetail'

export default {
  name: 'hrpmc2e',
  data () {
    return {
      app: this.$root.$children[0],
      index: {
        codempid: ''
      }
    }
  },
  created () {
    this.receivedHrpmc2eColumnsLabels()
    this.receivedHrpmc2eDropdowns()
  },
  computed: {
    codempid () {
      let currentUser = this.app.currentUser
      return currentUser.p_codempid
    },
    ...mapGetters({
      indexDisp: types.GET_HRPMC2E_INDEX_DISP,
      detailDisp: types.GET_HRPMC2E_DETAIL_DISP,
      checkBlacklistPopupDisp: types.GET_HRPMC2E_CHECK_BLACKLIST_POPUP_DISP,
      smartCardPopupDisp: types.GET_HRPMC2E_SMART_CARD_POPUP_DISP,
      addOtherPopupDisp: types.GET_HRPMC2E_ADD_OTHER_POPUP_DISP,
      tax8Selected: types.GET_HRPMC2E_TAX8_SELECTED,
      tax9Selected: types.GET_HRPMC2E_TAX9_SELECTED,
      guarantee1Selected: types.GET_HRPMC2E_GUARANTEE1_SELECTED,
      guarantee2Selected: types.GET_HRPMC2E_GUARANTEE2_SELECTED,
      guarantee3Selected: types.GET_HRPMC2E_GUARANTEE3_SELECTED,
      addOtherSelected: types.GET_HRPMC2E_ADD_OTHER_SELECTED,
      labels: types.GET_HRPMC2E_LABELS,
      columns: types.GET_HRPMC2E_COLUMNS,
      detail: types.GET_HRPMC2E_DETAIL,
      dropdowns: types.GET_HRPMC2E_DROPDOWNS,
      popupTax8: types.GET_HRPMC2E_TAX8_POPUP,
      popupTax9: types.GET_HRPMC2E_TAX9_POPUP,
      popupGuarantee1: types.GET_HRPMC2E_GUARANTEE1_POPUP,
      popupGuarantee2: types.GET_HRPMC2E_GUARANTEE2_POPUP,
      popupGuarantee3: types.GET_HRPMC2E_GUARANTEE3_POPUP,
      popupChangeDetail: types.GET_HRPMC2E_CHANGE_DETAIL_POPUP,
      popupCheckBlacklist: types.GET_HRPMC2E_CHECK_BLACKLIST_POPUP,
      popupSmartCard: types.GET_HRPMC2E_SMART_CARD_POPUP,
      popupAddOther: types.GET_HRPMC2E_ADD_OTHER_POPUP,
      popupOtherCreate: types.GET_HRPMC2E_OTHER_CREATE_POPUP,
      popupEducation: types.GET_HRPMC2E_POPUP_EDUCATION,
      educationSelected: types.GET_HRPMC2E_EDUCATION_SELECTED,
      popupWorkExperiences: types.GET_HRPMC2E_POPUP_WORK_EXPERIENCES,
      workExperiencesSelected: types.GET_HRPMC2E_WORK_EXPERIENCES_SELECTED,
      popupTrainingRecord: types.GET_HRPMC2E_POPUP_TRAINING_RECORD,
      trainingRecordSelected: types.GET_HRPMC2E_TRAINING_RECORD_SELECTED,
      popupChildren: types.GET_HRPMC2E_POPUP_CHILDREN,
      childrenSelected: types.GET_HRPMC2E_CHILDREN_SELECTED,
      popupRelatives: types.GET_HRPMC2E_POPUP_RELATIVES,
      relativesSelected: types.GET_HRPMC2E_RELATIVES_SELECTED,
      popupHonors: types.GET_HRPMC2E_POPUP_HONORS,
      honorsSelected: types.GET_HRPMC2E_HONORS_SELECTED,
      popupCodtency: types.GET_HRPMC2E_POPUP_CODTENCY,
      competencySelected: types.GET_HRPMC2E_COMPETENCY_SELECTED,
      inlineCompetency1: types.GET_HRPMC2E_INLINE_COMPETENCY1,
      inlineCompetency2: types.GET_HRPMC2E_INLINE_COMPETENCY2,
      inlineCompetency3: types.GET_HRPMC2E_INLINE_COMPETENCY3,
      inlineWorkStudy1: types.GET_HRPMC2E_INLINE_WORK_STUDY1,
      inlineWorkStudy2: types.GET_HRPMC2E_INLINE_WORK_STUDY2,
      inlineWorkStudy3: types.GET_HRPMC2E_INLINE_WORK_STUDY3,
      inlineFamily2: types.GET_HRPMC2E_INLINE_FAMILY2,
      inlineFamily4: types.GET_HRPMC2E_INLINE_FAMILY4,
      detailDisabled: types.GET_HRPMC2E_DETAIL_DISABLED,
      lovCurrentDesc: lovTypes.GET_HCM_LOV_CURRENT_DESC
    })
  },
  methods: {
    refreshPage () {
      this.$refs.indexSearch.callNew()
    },
    ...mapMutations({
      setTax8Selected: types.SET_HRPMC2E_TAX8_SELECTED,
      setTax9Selected: types.SET_HRPMC2E_TAX9_SELECTED,
      setEducationSelected: types.SET_HRPMC2E_EDUCATION_SELECTED,
      setCheckBlacklistPopupDisp: types.SET_HRPMC2E_CHECK_BLACKLIST_POPUP_DISP,
      setSmartCardPopupDisp: types.SET_HRPMC2E_SMART_CARD_POPUP_DISP,
      setAddPopupOtherCreate: types.SET_HRPMC2E_ADD_POPUP_OTHER_CREATE,
      setAddOtherPopupDisp: types.SET_HRPMC2E_ADD_OTHER_POPUP_DISP,
      setWorkExperiencesSelected: types.SET_HRPMC2E_WORK_EXPERIENCES_SELECTED,
      setTrainingRecordSelected: types.SET_HRPMC2E_TRAINING_RECORD_SELECTED,
      setChildrenSelected: types.SET_HRPMC2E_CHILDREN_SELECTED,
      setRelativesSelected: types.SET_HRPMC2E_RELATIVES_SELECTED,
      setGuarantee1Selected: types.SET_HRPMC2E_GUARANTEE1_SELECTED,
      setGuarantee2Selected: types.SET_HRPMC2E_GUARANTEE2_SELECTED,
      setGuarantee3Selected: types.SET_HRPMC2E_GUARANTEE3_SELECTED,
      setAddOtherSelected: types.SET_HRPMC2E_ADD_OTHER_SELECTED,
      setHonorsSelected: types.SET_HRPMC2E_HONORS_SELECTED,
      setCompetencySelected: types.SET_HRPMC2E_COMPETENCY_SELECTED,
      setInlineCompetency1: types.SET_HRPMC2E_INLINE_COMPETENCY1,
      setInlineCompetency2: types.SET_HRPMC2E_INLINE_COMPETENCY2,
      setInlineCompetency3: types.SET_HRPMC2E_INLINE_COMPETENCY3,
      setHonorsAddInlinePopup: types.SET_HRPMC2E_HONORS_ADD_INLINE_FROM_POPUP,
      setInlineWorkStudy1: types.SET_HRPMC2E_INLINE_WORK_STUDY1,
      setInlineWorkStudy2: types.SET_HRPMC2E_INLINE_WORK_STUDY2,
      setInlineWorkStudy3: types.SET_HRPMC2E_INLINE_WORK_STUDY3,
      setEducationAddInlinePopup: types.SET_HRPMC2E_EDUCATION_ADD_INLINE_FROM_POPUP,
      setWorkExperiencesAddInlinePopup: types.SET_HRPMC2E_WORK_EXPERIENCES_ADD_INLINE_FROM_POPUP,
      setTrainingRecordAddInlinePopup: types.SET_HRPMC2E_TRAINING_RECORD_ADD_INLINE_FROM_POPUP,
      setInlineFamily2: types.SET_HRPMC2E_INLINE_FAMILY2,
      setInlineFamily4: types.SET_HRPMC2E_INLINE_FAMILY4,
      setChildrenAddInlinePopup: types.SET_HRPMC2E_CHILDREN_ADD_INLINE_FROM_POPUP,
      setRelativesAddInlinePopup: types.SET_HRPMC2E_RELATIVES_ADD_INLINE_FROM_POPUP,
      setDetailDisabled: types.SET_HRPMC2E_DETAIL_DISABLED
    }),
    ...mapActions({
      toggle: types.TOGGLE_HRPMC2E_PAGE,
      receivedHrpmc2eColumnsLabels: types.RECEIVED_HRPMC2E_COLUMNS_LABELS,
      receivedHrpmc2eIndex: types.RECEIVED_HRPMC2E_INDEX,
      receivedHrpmc2eDetail: types.RECEIVED_HRPMC2E_DETAIL,
      receivedHrpmc2eDetailCreate: types.RECEIVED_HRPMC2E_DETAIL_CREATE,
      receivedHrpmc2eDropdowns: types.RECEIVED_HRPMC2E_DROPDOWNS,
      receivedHrpmc2eChangeDetailPopup: types.RECEIVED_HRPMC2E_CHANGE_DETAIL_POPUP,
      receivedHrpmc2eCheckBlacklistPopup: types.RECEIVED_HRPMC2E_CHECK_BLACKLIST_POPUP,
      receivedHrpmc2eSmartCardPopup: types.RECEIVED_HRPMC2E_SMART_CARD_POPUP,
      receivedHrpmc2eOtherCreatePopup: types.RECEIVED_HRPMC2E_OTHER_CREATE_POPUP,
      receivedHrpmc2eAddOtherPopupCreate: types.RECEIVED_HRPMC2E_ADD_OTHER_POPUP_CREATE,
      receivedHrpmc2eAddOtherPopup: types.RECEIVED_HRPMC2E_ADD_OTHER_POPUP,
      receivedHrpmc2eTax8PopupCreate: types.RECEIVED_HRPMC2E_TAX8_POPUP_CREATE,
      receivedHrpmc2eTax8Popup: types.RECEIVED_HRPMC2E_TAX8_POPUP,
      receivedHrpmc2eTax9PopupCreate: types.RECEIVED_HRPMC2E_TAX9_POPUP_CREATE,
      receivedHrpmc2eTax9Popup: types.RECEIVED_HRPMC2E_TAX9_POPUP,
      receivedHrpmc2eGuarantee1PopupCreate: types.RECEIVED_HRPMC2E_GUARANTEE1_POPUP_CREATE,
      receivedHrpmc2eGuarantee1Popup: types.RECEIVED_HRPMC2E_GUARANTEE1_POPUP,
      receivedHrpmc2eGuarantee2PopupCreate: types.RECEIVED_HRPMC2E_GUARANTEE2_POPUP_CREATE,
      receivedHrpmc2eGuarantee2Popup: types.RECEIVED_HRPMC2E_GUARANTEE2_POPUP,
      receivedHrpmc2eGuarantee3PopupCreate: types.RECEIVED_HRPMC2E_GUARANTEE3_POPUP_CREATE,
      receivedHrpmc2eGuarantee3Popup: types.RECEIVED_HRPMC2E_GUARANTEE3_POPUP,
      saveHrpmc2eTax8Popup: types.SAVE_HRPMC2E_TAX8_POPUP,
      saveHrpmc2eTax9Popup: types.SAVE_HRPMC2E_TAX9_POPUP,
      saveHrpmc2ePersonalTax: types.SAVE_HRPMC2E_PERSONALTAX,
      saveHrpmc2eGuarantee: types.SAVE_HRPMC2E_GUARANTEE,
      saveHrpmc2eOther: types.SAVE_HRPMC2E_OTHER,
      saveHrpmc2eGuarantee1: types.SAVE_HRPMC2E_GUARANTEE1,
      saveHrpmc2eGuarantee2: types.SAVE_HRPMC2E_GUARANTEE2,
      saveHrpmc2eGuarantee3: types.SAVE_HRPMC2E_GUARANTEE3,
      saveHrpmc2ePersonalTax8: types.SAVE_HRPMC2E_PERSONAL_TAX8,
      saveHrpmc2ePersonalTax9: types.SAVE_HRPMC2E_PERSONAL_TAX9,
      saveHrpmc2eGuarantee1Popup: types.SAVE_HRPMC2E_GUARANTEE1_POPUP,
      saveHrpmc2eGuarantee2Popup: types.SAVE_HRPMC2E_GUARANTEE2_POPUP,
      saveHrpmc2eGuarantee3Popup: types.SAVE_HRPMC2E_GUARANTEE3_POPUP,
      saveHrpmc2eOtherCreatePopup: types.SAVE_HRPMC2E_OTHER_CREATE_POPUP,
      receivedHrpmc2ePopupEducationCreate: types.RECEIVED_HRPMC2E_EDUCATION_CREATE,
      receivedHrpmc2ePopupEducation: types.RECEIVED_HRPMC2E_EDUCATION,
      receivedHrpmc2ePopupWorkExperiencesCreate: types.RECEIVED_HRPMC2E_WORK_EXPERIENCES_CREATE,
      receivedHrpmc2ePopupWorkExperiences: types.RECEIVED_HRPMC2E_WORK_EXPERIENCES,
      receivedHrpmc2ePopupTrainingRecordCreate: types.RECEIVED_HRPMC2E_TRAINING_RECORD_CREATE,
      receivedHrpmc2ePopupTrainingRecord: types.RECEIVED_HRPMC2E_TRAINING_RECORD,
      receivedHrpmc2ePopupChildrenCreate: types.RECEIVED_HRPMC2E_CHILDREN_CREATE,
      receivedHrpmc2ePopupChildren: types.RECEIVED_HRPMC2E_CHILDREN,
      receivedHrpmc2ePopupRelativesCreate: types.RECEIVED_HRPMC2E_RELATIVES_CREATE,
      receivedHrpmc2ePopupRelatives: types.RECEIVED_HRPMC2E_RELATIVES,
      receivedHrpmc2eCodtencyAddInline: types.RECEIVED_HRPMC2E_CODTENCY_ADD_INLINE,
      receivedHrpmc2ePopupHonorsCreate: types.RECEIVED_HRPMC2E_HONORS_CREATE,
      receivedHrpmc2ePopupHonors: types.RECEIVED_HRPMC2E_HONORS,
      postHrpmc2eHonorsPopupSave: types.POST_HRPMC2E_HONORS_POPUP_SAVE,
      receivedHrpmc2eCodtencyPopup: types.RECEIVED_HRPMC2E_CODTENCY_POPUP,
      postCompetencySaveAll: types.POST_HRPMC2E_COMPETENCY_SAVE_ALL,
      postWorkStudySaveAll: types.POST_HRPMC2E_WORK_STUDY_SAVE_ALL,
      postFamilySaveAll: types.POST_HRPMC2E_FAMILY_SAVE_ALL,
      receivedHrpmc2eSpouseQuery: types.RECEIVED_HRPMC2E_SPOUSE_QUERY,
      receivedHrpmc2ePopupChildrenQuery: types.RECEIVED_HRPMC2E_POPUP_CHILDREN_QUERY,
      receivedHrpmc2eParentFatherQuery: types.RECEIVED_HRPMC2E_PARENT_FATHER_QUERY,
      receivedHrpmc2eParentMotherQuery: types.RECEIVED_HRPMC2E_PARENT_MOTHER_QUERY,
      receivedHrpmc2ePopupRelativesQuery: types.RECEIVED_HRPMC2E_POPUP_RELATIVES_QUERY
    })
  },
  components: {
    componentIndex,
    componentDetail
  }
}
</script>

<style src="./assets/style.scss" lang='scss'></style>

