@import "../../../../modules/global";

.hrpm55r {
	.search-heading {
		padding: 50px 60px 0 60px;
		background: #FFF;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
		.img-box {
			width: 60px;
			height: 60px;
			float: right;
      margin: 8px 15px 0 0;
      border-radius: 50%;

			img {
				border-radius: 50%;
				width: 100%;
				height: auto;
			}
		}
	}

	/* Main MENU */

	.c2e-panelbutton {
	  background: #FFF;
	  margin: 0 0 20px 0;
	  // padding: 0 0 5px 0;
	  font-family: 'promptmedium';

	  .rows {
	    margin: 0;
	    text-align: center;

	    .box-btn-cal {
	      cursor: pointer;
	      padding: 20px 0 20px;
				background: $black-10;
				border-bottom: 2px solid $black-30;
				border-left: 1px solid $black-30;
				border-right: 1px solid $black-30;

				&:first-child {
					border-left: 2px solid $black-30;
				}
				&:last-child {
					border-right: 2px solid $black-30;
				}

	      &.hover {
	        &:hover {
	        }
	      }

	      &.btn-width {
	        width: 16.6666666667%;
	        float: left;
	      }

	      &.active {
					border-top: 5px solid $blue;
					border-bottom: none;
					padding: 19px 0 18px;
	        color: $blue;
	        background: #FFF;
	      }

	      .label-btn-cal {
	        font-size: 16px;

	        @media (max-width: 768px) {
	          font-size: 16px;
	        }

	        .menu-icon {
	          margin: 0 0 5px 0;
	          height: 40px;
	          width: auto;
	        }
	      }
	    }
	  }
	}

	/* Blacklist Checking Popup */
	.blacklist-img {
	  margin: 0 10px 10px 0;
	  border-radius: 50%;
	  border: 1px solid $black-50;
	  height: 40px;
	  width: auto;
	}

	/* Tab 1 */
	// .underline {
	// 	width: 100%;
	// 	margin: 40px 7.5% 25px 7.5%;
	// 	border-bottom: 1px solid $black-10;
	// }
	.scanner-content {
		width: 100%;

		.scanner-img {
			padding: 20px 120px;
			width: 100%;
		}
		.inform-smartcard {
			font-family: 'promptmedium';
			font-size: 18px;
			text-align: center;
			color: $orange;
		}
		.success-smartcard {
			font-family: 'promptmedium';
			font-size: 18px;
			text-align: center;
			color: $green;
		}
	}

	/* Tab 4*/
	._twin {
	  width: 44% !important;
	  float: left;
	}
	.slash {
		width: 8%;
		margin: 0 2%;
		float: left;
		text-align: center;
		line-height: 35px;
	}

	/* popup */
	.underline-popup {
		width: 100%;
		margin: 40px 5% 25px 5%;
		border-bottom: 1px solid $black-10;
	}

	/* Tab 6 */
	.other-box {
		border: 1px solid $black-30;
		margin: 15px 0;
		padding: 10px 0 15px;
	}
	.right-section {
		border-left: 1px solid $black-10;
		text-align: center;

		.type-icon {
			// padding: 20px 0 0 0;
			font-size: 54px;
			color: $black-50;
		}

		.custom-input {
			padding: 0;
		}

		.addlist-button {
			display: block;
			text-align: left;
			padding: 40px 0 0 0;
		}
		.custom-list {
			padding: 0;

			.-custom {
				display: block;
				text-align: left;
				float: left;
				width: 90%;
			}
			.del-list {
				width: 10%;
				font-size: 22px;
				float: left;
				line-height: 35px;
				color: $red;
				cursor: pointer;
			}
		}
	}

}
