<template>
  <div id="app">
    <router-view />
    <simplert :useRadius="true"
              :useIcon="true"
              ref="simplert">
    </simplert>
  </div>
</template>

<script>
import * as loginTypes from 'modules/main/login/store/mutation-types'
import { mapGetters, mapMutations, mapActions } from 'vuex'
const assetsLabels = require('assets/js/labels')

export default {
  name: 'app',
  data: function () {
    return require('assets/js/labels')
  },
  computed: {
    simplert () {
      return this.$refs.simplert
    },
    pcDisp () {
      return (this.windowWidth >= assetsLabels.pcWidth)
    },
    currentUserPermission () {
      return JSON.parse(window.localStorage.getItem('currentUserPermission'))
    },
    ...mapGetters({
      currentUser: loginTypes.GET_CURRENT_USER,
      // currentUserPermission: loginTypes.GET_CURRENT_USER_PERMISSION,
      nowLang: loginTypes.GET_LANG
    })
  },
  created () {
    window.addEventListener('resize', this.handleResize)
    this.handleResize()
  },
  methods: {
    handleResize () {
      this.windowWidth = document.documentElement.clientWidth
      this.windowHeight = document.documentElement.clientHeight
    },
    focusLang (value) {
      var focus = (value === this.nowLang) ? '_focus' : ''
      return value + focus
    },
    ...mapMutations({
      setLang: loginTypes.SET_LANG,
      setCurrentUser: loginTypes.SET_CURRENT_USER
    }),
    ...mapActions({
      postLogout: loginTypes.POST_LOGOUT
    })
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.handleResize)
  }
}
</script>

<style src="assets/scss/style.scss" lang="scss"></style>
<!-- <style src="assets/scss/custom.scss" lang="scss"></style> -->