@import "../../../modules/global";

.hrms-staappr {
  padding: 0 0 20px 0;
  margin: 0 0 15px 0;
  border-bottom: 1px dashed $black-30;
  @include clearfix;

  >.header-left {
    float: left;
    width: 50%;

    >.detail-set {
      padding: 10px 0 0 0;
      @include clearfix;

      &:first-child {
        padding: 0;
      }

      .detail-label {
        width: 30%;
        float: left;
        font-family: 'promptlight';
        color: $black-65;

        i {
          padding: 0 15px 0 0;
        }
      }
      .detail-data {
        width: 70%;
        float: left;
        font-family: 'promptregular';
      }
    }
  }
  >.header-right {
    float: left;
    width: 50%;
    padding: 20px 0;
    text-align: right;
    position: relative;
    
    .panel-step-staappr{
      float: right;
      margin-right: 15px;
      margin-bottom: 10px;
  
      .staappr-label{
        font-size: 13px;
        font-weight: bold;
        color: $black-90;
        text-align: center;
      }
      .mobile-steps-staappr{
        padding: 0;
  
        .step{
          float: left;
          position: relative;
          margin-bottom: 30px;

          .circle{
            width: 30px;
            height: 30px;
            padding: 6px;
            font-size: 14px;
            background: $black-25;
            display: block;
            float: left;
            border-radius: 50px;
            color: #fff;
            text-align: center;
            line-height: 30px;
            cursor: default;
            @include delay(0.5s);
            position: relative;
            z-index: 2;
            &:hover{
                @include delay(0.5s);
                background: $black-25;
      
            }
          }
          .line{
            width: 80px;
            height: 10px;
            background: $black-25;
            opacity: 0;
            margin: 0 -1px;
            display: block;
            float: left;
            margin-top: 10px;

            @media (max-width: 960px) {
              width: 50px;
            }
          }
          .step-name{
            color: $black-90;
            font-family: 'promptregular';
            width: 85px;
            float: right;
            font-size: 12px;
            padding: 5px;
            text-align: center;
            position: absolute;
            top: 35px;
            right: -32px;
            text-overflow: ellipsis;
            overflow: hidden;

            @include delay(0.5s);

            &:hover{
                @include delay(0.5s);
            }
          }

          &.step1{
            .step-name{
              margin-left: -30px;
            }
          }
        }
  
        .step{
          &.active{
            .circle {
              background: $green;
            }
            .circle:before {
              content: "\f122";
              top: 0;
              position: absolute;
              right: 9px;
              font-family: Ionicons;
            }
            .line{
              background: $green !important;
              opacity: 1;
              &.no-active{ 
                background: $black-25;
              }
            }
          }

          &.active.y{
            .circle, .line{
              background: $green !important;
              opacity: 1;
              &:hover{
                  background: $green !important;
              }
            }
            .step-name{
              color: darken($green, 10%) !important;
            }
          }

          &.active.n, &.active.c{
            .circle:before {
              content: "\f12a";
              top: 0;
              position: absolute;
              right: 10px;
              font-family: Ionicons;
            }
            .circle, .line{
              background: $red !important;
              opacity: 1;
              &:hover{
                  background: $red !important;
              }
            }
            .step-name{
              color: darken($red, 10%) !important;
            }
          }
        }
      }
    }
  }
}