<template>
  <div id="hrpmb1e-education-workhis">
    <div class="collapse-group">
      <div class="panel-group" id="accordion2">
        <div class="panel">
          <div class="panel-heading" :class="{ 'collapsed': flgCollapse.collapseTab21 }" :aria-expanded="!flgCollapse.collapseTab21" @click.self="setCollapseToggle('collapseTab21')" data-parent="#accordion2" href="#collapseTab21" >
            <div class="title" @click.self="setCollapseToggle('collapseTab21')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('collapseTab21')"></i>{{ labels['HRPMB1EB1']['10'] }}</div>
            <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('collapseTab21')"></i>
            <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('collapseTab21')"></i>
            <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.collapseTab21 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('collapseTab21')"></i>
          </div>
          <div id="collapseTab21" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.collapseTab21}">
            <div class="panel-body">
              <field-req :data="educatWorkDetail.educat"
                         :labels="labels" />
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" :class="{ 'collapsed': flgCollapse.collapseTab22 }" :aria-expanded="!flgCollapse.collapseTab22" @click.self="setCollapseToggle('collapseTab22')" data-parent="#accordion2" href="#collapseTab22" >
            <div class="title" @click.self="setCollapseToggle('collapseTab22')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('collapseTab22')"></i>{{ labels['HRPMB1EB2']['10'] }}</div>
            <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('collapseTab22')"></i>
            <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('collapseTab22')"></i>
            <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.collapseTab22 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('collapseTab22')"></i>
          </div>
          <div id="collapseTab22" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.collapseTab22}">
            <div class="panel-body">
              <field-req :data="educatWorkDetail.workHis"
                         :labels="labels" />
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" :class="{ 'collapsed': flgCollapse.collapseTab23 }" :aria-expanded="!flgCollapse.collapseTab23" @click.self="setCollapseToggle('collapseTab23')" data-parent="#accordion2" href="#collapseTab23" >
            <div class="title" @click.self="setCollapseToggle('collapseTab23')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('collapseTab23')"></i>{{ labels['HRPMB1EB3']['10'] }}</div>
            <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('collapseTab23')"></i>
            <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('collapseTab23')"></i>
            <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.collapseTab23 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('collapseTab23')"></i>
          </div>
          <div id="collapseTab23" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.collapseTab23}">
            <div class="panel-body">
              <field-req :data="educatWorkDetail.trainHis"
                         :labels="labels" />
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" :class="{ 'collapsed': flgCollapse.collapseTab24 }" :aria-expanded="!flgCollapse.collapseTab24" @click.self="setCollapseToggle('collapseTab24')" data-parent="#accordion2" href="#collapseTab24" >
            <div class="title" @click.self="setCollapseToggle('collapseTab24')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('collapseTab24')"></i>{{ labels['HRPMB1EB4']['10'] }}</div>
            <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('collapseTab24')"></i>
            <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('collapseTab24')"></i>
            <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.collapseTab24 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('collapseTab24')"></i>
          </div>
          <div id="collapseTab24" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.collapseTab24}">
            <div class="panel-body">
              <field-req :data="educatWorkDetail.internalTrainHis"
                         :labels="labels" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import fieldReq from './fieldReq'

export default {
  name: 'hrpmb1e-education-workhis',
  props: [
    'labels',
    'educatWorkDetail'
  ],
  data () {
    return {
      pinCollapse: {
        collapseTab21: false,
        collapseTab22: false,
        collapseTab23: false,
        collapseTab24: false
      },
      flgCollapse: {
        collapseTab21: false,
        collapseTab22: true,
        collapseTab23: true,
        collapseTab24: true
      }
    }
  },
  methods: {
    resetCollapse () {
      this.flgCollapse = {
        collapseTab21: false,
        collapseTab22: true,
        collapseTab23: true,
        collapseTab24: true
      }
      this.pinCollapse = {
        collapseTab21: false,
        collapseTab22: false,
        collapseTab23: false,
        collapseTab24: false
      }
    },
    setPinCollapseToggle (tab) {
      this.pinCollapse[tab] = !this.pinCollapse[tab]
    },
    setCollapseToggle (tab) {
      for (let collapseTab in this.flgCollapse) {
        if (collapseTab !== tab) {
          if (!this.pinCollapse[collapseTab]) {
            this.flgCollapse[collapseTab] = true
          }
        }
      }
      this.flgCollapse[tab] = !this.flgCollapse[tab]
    }
  },
  components: {
    fieldReq
  }
}
</script>