<template>
  <div id="hrpmb1e-family">
    <div class="collapse-group">
      <div class="panel-group" id="accordion3">
        <div class="panel">
          <div class="panel-heading" :class="{ 'collapsed': flgCollapse.collapseTab31 }" :aria-expanded="!flgCollapse.collapseTab31" @click.self="setCollapseToggle('collapseTab31')" data-parent="#accordion3" href="#collapseTab31" >
            <div class="title" @click.self="setCollapseToggle('collapseTab31')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('collapseTab31')"></i>{{ labels['HRPMB1ECD1']['10'] }}</div>
            <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('collapseTab31')"></i>
            <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('collapseTab31')"></i>
            <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.collapseTab31 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('collapseTab31')"></i>
          </div>
          <div id="collapseTab31" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.collapseTab31}">
            <div class="panel-body">
              <field-req :data="familyDetail.spouse"
                         :labels="labels" />
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" :class="{ 'collapsed': flgCollapse.collapseTab32 }" :aria-expanded="!flgCollapse.collapseTab32" @click.self="setCollapseToggle('collapseTab32')" data-parent="#accordion3" href="#collapseTab32" >
            <div class="title" @click.self="setCollapseToggle('collapseTab32')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('collapseTab32')"></i>{{ labels['HRPMB1EC2']['10'] }}</div>
            <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('collapseTab32')"></i>
            <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('collapseTab32')"></i>
            <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.collapseTab32 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('collapseTab32')"></i>
          </div>
          <div id="collapseTab32" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.collapseTab32}">
            <div class="panel-body">
              <field-req :data="familyDetail.children"
                         :labels="labels" />
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" :class="{ 'collapsed': flgCollapse.collapseTab33 }" :aria-expanded="!flgCollapse.collapseTab33" @click.self="setCollapseToggle('collapseTab33')" data-parent="#accordion3" href="#collapseTab33" >
            <div class="title" @click.self="setCollapseToggle('collapseTab33')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('collapseTab33')"></i>{{ labels['HRPMB1EC3']['10'] }}</div>
            <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('collapseTab33')"></i>
            <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('collapseTab33')"></i>
            <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.collapseTab33 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('collapseTab33')"></i>
          </div>
          <div id="collapseTab33" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.collapseTab33}">
            <div class="panel-body">
              <field-req :data="familyDetail.parent"
                         :labels="labels" />
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading" :class="{ 'collapsed': flgCollapse.collapseTab34 }" :aria-expanded="!flgCollapse.collapseTab34" @click.self="setCollapseToggle('collapseTab34')" data-parent="#accordion3" href="#collapseTab34" >
            <div class="title" @click.self="setCollapseToggle('collapseTab34')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('collapseTab34')"></i>{{ labels['HRPMB1EC4']['10'] }}</div>
            <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('collapseTab34')"></i>
            <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('collapseTab34')"></i>
            <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.collapseTab34 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('collapseTab34')"></i>
          </div>
          <div id="collapseTab34" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.collapseTab34}">
            <div class="panel-body">
              <field-req :data="familyDetail.relative"
                         :labels="labels" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import fieldReq from './fieldReq'

export default {
  name: 'hrpmb1e-family',
  props: [
    'labels',
    'familyDetail'
  ],
  data () {
    return {
      pinCollapse: {
        collapseTab31: false,
        collapseTab32: false,
        collapseTab33: false,
        collapseTab34: false
      },
      flgCollapse: {
        collapseTab31: false,
        collapseTab32: true,
        collapseTab33: true,
        collapseTab34: true
      }
    }
  },
  methods: {
    resetCollapse () {
      this.flgCollapse = {
        collapseTab31: false,
        collapseTab32: true,
        collapseTab33: true,
        collapseTab34: true
      }
      this.pinCollapse = {
        collapseTab31: false,
        collapseTab32: false,
        collapseTab33: false,
        collapseTab34: false
      }
    },
    setPinCollapseToggle (tab) {
      this.pinCollapse[tab] = !this.pinCollapse[tab]
    },
    setCollapseToggle (tab) {
      for (let collapseTab in this.flgCollapse) {
        if (collapseTab !== tab) {
          if (!this.pinCollapse[collapseTab]) {
            this.flgCollapse[collapseTab] = true
          }
        }
      }
      this.flgCollapse[tab] = !this.flgCollapse[tab]
    }
  },
  components: {
    fieldReq
  }
}
</script>