<template>
  <div id="hrpmb1e-personal-info" class="hrpmb1e-personal">
    <div v-if="data.rows[0].tabno === 'TAB1_4'">
      <div class="switch-tab pull-right">
        <div class="label">{{data.rows[0].flgdisp === 'Y' ? 'ON' : 'OFF'}}</div>
        <label class="switch">
          <input v-model="switchTab" type="checkbox" :checked="data.rows[0].flgdisp === 'Y' ? true : false">
          <span class="slider round" @click="eventSwitch()"></span>
        </label>
      </div>
    </div>
    <div class="group-topic">{{labels['HRPMB1EA']['10']}}</div>
    <div class="row">
      <div class="col-lg-4 column-page-border-right">
        <template v-for="i in qtyFetch(data.rows.length,'1')">
          <div :key="i" class="checkbox-group">
            {{data.rows[i - 1].desc_column}}
            <input v-model="data.rows[i - 1].usrrequire"
                   class="checkbox-true"
                   type="checkbox"
                   :id="'chk' + data.rows[0].tabno + i"
                   value="Y"
                   :checked="checkUsrRequired(i - 1)"
                   :disabled="checkStdRequired(data.rows[i - 1].stdrequire)"
                   @click="eventClick(i - 1)" >
            <label class="checkbox-fake" :for="'chk' + data.rows[0].tabno + i"></label>
            <label class="checkbox-label" :for="'chk' + data.rows[0].tabno + i">Required</label>
          </div>
        </template>
      </div>
      <div class="col-lg-4 column-page-border-right">
        <template v-for="i in qtyFetch(data.rows.length,'2')">
          <div :key="i" class="checkbox-group">
            {{data.rows[qtyFetch(data.rows.length,'1') + i - 1].desc_column}}
            <input v-model="data.rows[qtyFetch(data.rows.length,'1') + i - 1].usrrequire"
                   class="checkbox-true"
                   type="checkbox"
                   :id="'chk' + data.rows[0].tabno + (qtyFetch(data.rows.length,'1') + i)"
                   value="Y"
                   :checked="checkUsrRequired(qtyFetch(data.rows.length,'1') + i - 1)"
                   :disabled="checkStdRequired(data.rows[qtyFetch(data.rows.length,'1') + i - 1].stdrequire)"
                   @click="eventClick(qtyFetch(data.rows.length,'1') + i - 1)" >
            <label class="checkbox-fake" :for="'chk' + data.rows[0].tabno + (qtyFetch(data.rows.length,'1') + i)"></label>
            <label class="checkbox-label" :for="'chk' + data.rows[0].tabno + (qtyFetch(data.rows.length,'1') + i)">Required</label>
          </div>
        </template>
      </div>
      <div class="col-lg-4">
        <template v-for="i in qtyFetch(data.rows.length,'3')">
          <div :key="i" class="checkbox-group">
            {{data.rows[qtyFetch(data.rows.length,'2') + qtyFetch(data.rows.length,'1') + i - 1].desc_column}}
            <input v-model="data.rows[qtyFetch(data.rows.length,'2') + qtyFetch(data.rows.length,'1') + i - 1].usrrequire"
                   class="checkbox-true"
                   type="checkbox"
                   :id="'chk' + data.rows[0].tabno + (qtyFetch(data.rows.length,'2') + qtyFetch(data.rows.length,'1') + i)"
                   value="Y"
                   :checked="checkUsrRequired(qtyFetch(data.rows.length,'2') + qtyFetch(data.rows.length,'1') + i - 1)"
                   :disabled="checkStdRequired(data.rows[qtyFetch(data.rows.length,'2') + qtyFetch(data.rows.length,'1') + i - 1].stdrequire)"
                   @click="eventClick(qtyFetch(data.rows.length,'2') + qtyFetch(data.rows.length,'1') + i - 1)" >
            <label class="checkbox-fake" :for="'chk' + data.rows[0].tabno + (qtyFetch(data.rows.length,'2') + qtyFetch(data.rows.length,'1') + i)"></label>
            <label class="checkbox-label" :for="'chk' + data.rows[0].tabno + (qtyFetch(data.rows.length,'2') + qtyFetch(data.rows.length,'1') + i)">Required</label>
          </div>
        </template>
      </div>
    </div>
    <template v-if="defaultData.length > 0">
      <div class="group-topic">{{labels['HRPMB1EA']['20']}}</div>
      <div class="row">
        <div class="col-lg-4">
          <template v-for="i in qtyFetch(defaultDataRow.length, '1')">
            <div :key="i" class="input-group">
              <div class="label">{{defaultDataRow[i - 1].desc_column}}</div>
              <input v-model="defaultDataRow[i - 1].defaultval"
                     class="normal-input"
                     type="text"
                     name="input"
                     v-on:change="eventKeypress(defaultDataRow[i - 1])">
              <div class="validator-text"></div>
            </div>
          </template>
        </div>
        <div class="col-lg-4">
          <template v-for="i in qtyFetch(defaultDataRow.length, '2')">
            <div :key="i" class="input-group">
              <div class="label">{{defaultDataRow[qtyFetch(defaultDataRow.length, '1') + i - 1].desc_column}}</div>
              <input v-model="defaultDataRow[qtyFetch(defaultDataRow.length, '1') + i - 1].defaultval"
                     class="normal-input"
                     type="text"
                     name="input"
                     v-on:change="eventKeypress(defaultDataRow[qtyFetch(defaultDataRow.length, '1') + i - 1])">
              <div class="validator-text"></div>
            </div>
          </template>
        </div>
        <div class="col-lg-4">
          <template v-for="i in qtyFetch(defaultDataRow.length, '3')">
            <div :key="i" class="input-group">
              <div class="label">{{defaultDataRow[qtyFetch(defaultDataRow.length, '2') + qtyFetch(defaultDataRow.length, '1') + i - 1].desc_column}}</div>
              <input v-model="defaultDataRow[qtyFetch(defaultDataRow.length, '2') + qtyFetch(defaultDataRow.length, '1') + i - 1].defaultval"
                     class="normal-input"
                     type="text"
                     name="input"
                     v-on:change="eventKeypress(defaultDataRow[qtyFetch(defaultDataRow.length, '2') + qtyFetch(defaultDataRow.length, '1') + i - 1])">
              <div class="validator-text"></div>
            </div>
          </template>
        </div>
      </div>
    </template>
  </div>
</template>

<script>

export default {
  name: 'hrpmb1e-personal-info',
  data () {
    return {
      defaultDataRow: '',
      switchTab: false
    }
  },
  props: [
    'labels',
    'data'
  ],
  watch: {
    'data' () {
      if (this.data.rows[0].tabno === 'TAB1_4') {
        this.switchTab = this.data.rows[0].flgdisp === 'Y'
      }
    }
  },
  computed: {
    defaultData () {
      let dataRowsFilteredFlgDefault = this.data.rows.filter(dataRow => dataRow.flgdefault === 'Y')
      this.defaultDataRow = dataRowsFilteredFlgDefault
      return dataRowsFilteredFlgDefault
    }
  },
  methods: {
    qtyFetch (qtyRows, columnPage) {
      let qtyFetchDif = 0
      let qtyFetchMod = 0
      if (typeof this.data.rows[0].fieldname !== 'undefined') {
        qtyFetchDif = Math.trunc(qtyRows / 3)
        qtyFetchMod = qtyRows % 3
        if (columnPage === '1') {
          if (qtyFetchMod > 0) {
            qtyFetchDif = qtyFetchDif + 1
          }
        } else if (columnPage === '2') {
          if ((qtyFetchMod === 2) || (qtyFetchDif > 0 && qtyFetchMod > 0)) {
            qtyFetchDif = qtyFetchDif + 1
          }
        } else if (columnPage === '3') {
          if (qtyFetchDif > 0) {
            if (qtyFetchMod === 1) {
              qtyFetchDif = qtyFetchDif - 1
            }
          }
        }
      }
      return qtyFetchDif
    },
    checkStdRequired (flgStdRequire) {
      return (flgStdRequire === 'Y')
    },
    checkUsrRequired (dataIndex) {
      let dataRows = this.data.rows[dataIndex]
      let vBool = false
      if (dataRows.stdrequire === 'Y') {
        vBool = true
      } else {
        if (dataRows.usrrequire === 'Y') {
          vBool = true
        } else {
          vBool = false
        }
      }
      return vBool
    },
    eventClick (dataIndex) {
      this.data.rows[dataIndex].flgEdit = this.data.rows[dataIndex].flgEdit === 'Y' ? 'N' : 'Y'
    },
    eventKeypress (dataRow) {
      let indexOfDataRow = this.data.rows.map(dataMap => {
        return dataMap.codapp + dataMap.tabno + dataMap.seqno + dataMap.tablename + dataMap.fieldname
      }).indexOf(dataRow.codapp + dataRow.tabno + dataRow.seqno + dataRow.tablename + dataRow.fieldname)
      this.data.rows[indexOfDataRow].flgEdit = 'Y'
    },
    eventSwitch () {
      this.data.rows[0].flgdisp = this.switchTab ? 'N' : 'Y'
      this.eventClick(0)
    }
  }
}
</script>
