<template>
  <div id="hrpmb1e-guarantee">
    <div class="collapse-group">
      <div class="panel-group" id="accordion4">
        <div class="panel">
          <div class="panel-heading" :class="{ 'collapsed': flgCollapse.collapseTab41 }" :aria-expanded="!flgCollapse.collapseTab41" @click.self="setCollapseToggle('collapseTab41')" data-parent="#accordion4" href="#collapseTab41" >
            <div class="title" @click.self="setCollapseToggle('collapseTab41')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('collapseTab41')"></i>{{ labels['HRPMB1ED1']['10'] }}</div>
            <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('collapseTab41')"></i>
            <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('collapseTab41')"></i>
            <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.collapseTab41 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('collapseTab41')"></i>
          </div>
          <div id="collapseTab41" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.collapseTab41}">
            <div class="panel-body">
              <field-req :data="guaranteeDetail.guarantor"
                         :labels="labels" />
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" :class="{ 'collapsed': flgCollapse.collapseTab42 }" :aria-expanded="!flgCollapse.collapseTab42" @click.self="setCollapseToggle('collapseTab42')" data-parent="#accordion4" href="#collapseTab42" >
            <div class="title" @click.self="setCollapseToggle('collapseTab42')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('collapseTab42')"></i>{{ labels['HRPMB1ED2']['10'] }}</div>
            <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('collapseTab42')"></i>
            <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('collapseTab42')"></i>
            <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.collapseTab42 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('collapseTab42')"></i>
          </div>
          <div id="collapseTab42" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.collapseTab42}">
            <div class="panel-body">
              <field-req :data="guaranteeDetail.securities"
                         :labels="labels" />
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading" :class="{ 'collapsed': flgCollapse.collapseTab43 }" :aria-expanded="!flgCollapse.collapseTab43" @click.self="setCollapseToggle('collapseTab43')" data-parent="#accordion4" href="#collapseTab43" >
            <div class="title" @click.self="setCollapseToggle('collapseTab43')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('collapseTab43')"></i>{{ labels['HRPMB1ED3']['10'] }}</div>
            <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('collapseTab43')"></i>
            <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('collapseTab43')"></i>
            <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.collapseTab43 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('collapseTab43')"></i>
          </div>
          <div id="collapseTab43" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.collapseTab43}">
            <div class="panel-body">
              <field-req :data="guaranteeDetail.reference"
                         :labels="labels" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import fieldReq from './fieldReq'

export default {
  name: 'hrpmb1e-guarantee',
  props: [
    'labels',
    'guaranteeDetail'
  ],
  data () {
    return {
      pinCollapse: {
        collapseTab41: false,
        collapseTab42: false,
        collapseTab43: false
      },
      flgCollapse: {
        collapseTab41: false,
        collapseTab42: true,
        collapseTab43: true
      }
    }
  },
  methods: {
    resetCollapse () {
      this.flgCollapse = {
        collapseTab41: false,
        collapseTab42: true,
        collapseTab43: true
      }
      this.pinCollapse = {
        collapseTab41: false,
        collapseTab42: false,
        collapseTab43: false
      }
    },
    setPinCollapseToggle (tab) {
      this.pinCollapse[tab] = !this.pinCollapse[tab]
    },
    setCollapseToggle (tab) {
      for (let collapseTab in this.flgCollapse) {
        if (collapseTab !== tab) {
          if (!this.pinCollapse[collapseTab]) {
            this.flgCollapse[collapseTab] = true
          }
        }
      }
      this.flgCollapse[tab] = !this.flgCollapse[tab]
    }
  },
  components: {
    fieldReq
  }
}
</script>