<template>
  <div id="hrpmb1e-others">
    <field-req :data="othersDetail"
               :labels="labels" />
  </div>
</template>

<script>
import fieldReq from './fieldReq'

export default {
  name: 'hrpmb1e-others',
  props: [
    'labels',
    'othersDetail'
  ],
  components: {
    fieldReq
  }
}
</script>
