<template>
  <div id="hrpmb1e-personal-detail">
    <div class="collapse-group">
      <div class="panel-group" id="accordion">
        <div class="panel">
          <div class="panel-heading" :class="{ 'collapsed': flgCollapse.collapseTab11 }" :aria-expanded="!flgCollapse.collapseTab11" @click.self="setCollapseToggle('collapseTab11')" data-parent="#accordion" href="#collapseTab11" >
            <div class="title" @click.self="setCollapseToggle('collapseTab11')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('collapseTab11')"></i>{{ labels['HRPMB1EA1']['1'] }}</div>
            <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('collapseTab11')"></i>
            <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('collapseTab11')"></i>
            <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.collapseTab11 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('collapseTab11')"></i>
          </div>
          <div id="collapseTab11" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.collapseTab11}">
            <div class="panel-body">
              <field-req :data="personalDetail.personalInfo"
                         :labels="labels" />
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" :class="{ 'collapsed': flgCollapse.collapseTab12 }" :aria-expanded="!flgCollapse.collapseTab12" @click.self="setCollapseToggle('collapseTab12')" data-parent="#accordion" href="#collapseTab12" >
            <div class="title" @click.self="setCollapseToggle('collapseTab12')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('collapseTab12')"></i>{{ labels['HRPMB1EA2']['2'] }}</div>
            <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('collapseTab12')"></i>
            <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('collapseTab12')"></i>
            <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.collapseTab12 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('collapseTab12')"></i>
          </div>
          <div id="collapseTab12" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.collapseTab12}">
            <div class="panel-body">
              <field-req :data="personalDetail.personalAddr"
                         :labels="labels" />
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" :class="{ 'collapsed': flgCollapse.collapseTab13 }" :aria-expanded="!flgCollapse.collapseTab13" @click.self="setCollapseToggle('collapseTab13')" data-parent="#accordion" href="#collapseTab13" >
            <div class="title" @click.self="setCollapseToggle('collapseTab13')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('collapseTab13')"></i>{{ labels['HRPMB1EA3']['3'] }}</div>
            <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('collapseTab13')"></i>
            <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('collapseTab13')"></i>
            <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.collapseTab13 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('collapseTab13')"></i>
          </div>
          <div id="collapseTab13" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.collapseTab13}">
            <div class="panel-body">
              <field-req :data="personalDetail.personalEmp"
                         :labels="labels" />
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" :class="{ 'collapsed': flgCollapse.collapseTab14 }" :aria-expanded="!flgCollapse.collapseTab14" @click.self="setCollapseToggle('collapseTab14')" data-parent="#accordion" href="#collapseTab14" >
            <div class="title" @click.self="setCollapseToggle('collapseTab14')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('collapseTab14')"></i>{{ labels['HRPMB1EA4']['4'] }}</div>
            <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('collapseTab14')"></i>
            <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('collapseTab14')"></i>
            <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.collapseTab14 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('collapseTab14')"></i>
          </div>
          <div id="collapseTab14" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.collapseTab14}">
            <div class="panel-body">
              <field-req :data="personalDetail.personalTravel"
                         :labels="labels" />
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" :class="{ 'collapsed': flgCollapse.collapseTab15 }" :aria-expanded="!flgCollapse.collapseTab15" @click.self="setCollapseToggle('collapseTab15')" data-parent="#accordion" href="#collapseTab15" >
            <div class="title" @click.self="setCollapseToggle('collapseTab15')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('collapseTab15')"></i>{{ labels['HRPMB1EA5']['5'] }}</div>
            <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('collapseTab15')"></i>
            <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('collapseTab15')"></i>
            <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.collapseTab15 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('collapseTab15')"></i>
          </div>
          <div id="collapseTab15" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.collapseTab15}">
            <div class="panel-body">
              <field-req :data="personalDetail.personalIncom"
                         :labels="labels" />
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" :class="{ 'collapsed': flgCollapse.collapseTab16 }" :aria-expanded="!flgCollapse.collapseTab16" @click.self="setCollapseToggle('collapseTab16')" data-parent="#accordion" href="#collapseTab16" >
            <div class="title" @click.self="setCollapseToggle('collapseTab16')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('collapseTab16')"></i>{{ labels['HRPMB1EA6']['6'] }}</div>
            <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('collapseTab16')"></i>
            <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('collapseTab16')"></i>
            <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.collapseTab16 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('collapseTab16')"></i>
          </div>
          <div id="collapseTab16" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.collapseTab16}">
            <div class="panel-body">
              <field-req :data="personalDetail.personalTax"
                         :labels="labels" />
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" :class="{ 'collapsed': flgCollapse.collapseTab17 }" :aria-expanded="!flgCollapse.collapseTab17" @click.self="setCollapseToggle('collapseTab17')" data-parent="#accordion" href="#collapseTab17" >
            <div class="title" @click.self="setCollapseToggle('collapseTab17')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('collapseTab17')"></i>{{ labels['HRPMB1EA7']['7'] }}</div>
            <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('collapseTab17')"></i>
            <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('collapseTab17')"></i>
            <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.collapseTab17 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('collapseTab17')"></i>
          </div>
          <div id="collapseTab17" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.collapseTab17}">
            <div class="panel-body">
              <field-req :data="personalDetail.personalSpouseTax"
                         :labels="labels" />
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" :class="{ 'collapsed': flgCollapse.collapseTab18 }" :aria-expanded="!flgCollapse.collapseTab18" @click.self="setCollapseToggle('collapseTab18')" data-parent="#accordion" href="#collapseTab18" >
            <div class="title" @click.self="setCollapseToggle('collapseTab18')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('collapseTab18')"></i>{{ labels['HRPMB1EA8']['8'] }}</div>
            <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('collapseTab18')"></i>
            <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('collapseTab18')"></i>
            <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.collapseTab18 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('collapseTab18')"></i>
          </div>
          <div id="collapseTab18" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.collapseTab18}">
            <div class="panel-body">
              <field-req :data="personalDetail.personalChangName"
                         :labels="labels" />
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" :class="{ 'collapsed': flgCollapse.collapseTab19 }" :aria-expanded="!flgCollapse.collapseTab19" @click.self="setCollapseToggle('collapseTab19')" data-parent="#accordion" href="#collapseTab19" >
            <div class="title" @click.self="setCollapseToggle('collapseTab19')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('collapseTab19')"></i>{{ labels['HRPMB1EA9']['9'] }}</div>
            <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('collapseTab19')"></i>
            <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('collapseTab19')"></i>
            <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.collapseTab19 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('collapseTab19')"></i>
          </div>
          <div id="collapseTab19" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.collapseTab19}">
            <div class="panel-body">
              <field-req :data="personalDetail.personalDoc"
                         :labels="labels" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import fieldReq from './fieldReq'

export default {
  name: 'hrpmb1e-personal-detail',
  props: [
    'labels',
    'personalDetail'
  ],
  data () {
    return {
      pinCollapse: {
        collapseTab11: false,
        collapseTab12: false,
        collapseTab13: false,
        collapseTab14: false,
        collapseTab15: false,
        collapseTab16: false,
        collapseTab17: false,
        collapseTab18: false,
        collapseTab19: false
      },
      flgCollapse: {
        collapseTab11: false,
        collapseTab12: true,
        collapseTab13: true,
        collapseTab14: true,
        collapseTab15: true,
        collapseTab16: true,
        collapseTab17: true,
        collapseTab18: true,
        collapseTab19: true
      }
    }
  },
  methods: {
    resetCollapse () {
      this.flgCollapse = {
        collapseTab11: false,
        collapseTab12: true,
        collapseTab13: true,
        collapseTab14: true,
        collapseTab15: true,
        collapseTab16: true,
        collapseTab17: true,
        collapseTab18: true,
        collapseTab19: true
      }
      this.pinCollapse = {
        collapseTab11: false,
        collapseTab12: false,
        collapseTab13: false,
        collapseTab14: false,
        collapseTab15: false,
        collapseTab16: false,
        collapseTab17: false,
        collapseTab18: false,
        collapseTab19: false
      }
    },
    setPinCollapseToggle (tab) {
      this.pinCollapse[tab] = !this.pinCollapse[tab]
    },
    setCollapseToggle (tab) {
      for (let collapseTab in this.flgCollapse) {
        if (collapseTab !== tab) {
          if (!this.pinCollapse[collapseTab]) {
            this.flgCollapse[collapseTab] = true
          }
        }
      }
      this.flgCollapse[tab] = !this.flgCollapse[tab]
    }
  },
  components: {
    fieldReq
  }
}
</script>
