<template>
  <div id="hrpmb1e-talent">
    <div class="collapse-group">
      <div class="panel-group" id="accordion5">
        <div class="panel">
          <div class="panel-heading" :class="{ 'collapsed': flgCollapse.collapseTab51 }" :aria-expanded="!flgCollapse.collapseTab51" @click.self="setCollapseToggle('collapseTab51')" data-parent="#accordion5" href="#collapseTab51" >
            <div class="title" @click.self="setCollapseToggle('collapseTab51')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('collapseTab51')"></i>{{ labels['HRPMB1EE1']['10'] }}</div>
            <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('collapseTab51')"></i>
            <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('collapseTab51')"></i>
            <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.collapseTab51 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('collapseTab51')"></i>
          </div>
          <div id="collapseTab51" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.collapseTab51}">
            <div class="panel-body">
              <field-req :data="talentDetail.talent"
                         :labels="labels" />
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading" :class="{ 'collapsed': flgCollapse.collapseTab52 }" :aria-expanded="!flgCollapse.collapseTab52" @click.self="setCollapseToggle('collapseTab52')" data-parent="#accordion5" href="#collapseTab52" >
            <div class="title" @click.self="setCollapseToggle('collapseTab52')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('collapseTab52')"></i>{{ labels['HRPMB1EE2']['10'] }}</div>
            <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('collapseTab52')"></i>
            <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('collapseTab52')"></i>
            <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.collapseTab52 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('collapseTab52')"></i>
          </div>
          <div id="collapseTab52" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.collapseTab52}">
            <div class="panel-body">
              <field-req :data="talentDetail.langSkill"
                         :labels="labels" />
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading" :class="{ 'collapsed': flgCollapse.collapseTab53 }" :aria-expanded="!flgCollapse.collapseTab53" @click.self="setCollapseToggle('collapseTab53')" data-parent="#accordion5" href="#collapseTab53" >
            <div class="title" @click.self="setCollapseToggle('collapseTab53')"><i class="fa fa-chevron-right right" aria-hidden="true" @click.self="setCollapseToggle('collapseTab53')"></i>{{ labels['HRPMB1EE3']['10'] }}</div>
            <i class="fa fa-angle-down down" aria-hidden="true" @click.self="setCollapseToggle('collapseTab53')"></i>
            <i class="fa fa-angle-up up" aria-hidden="true" @click.self="setCollapseToggle('collapseTab53')"></i>
            <i class="ion-pin bookmark pull-right" :class="[ pinCollapse.collapseTab53 ? '' : 'unpin' ]" aria-hidden="true" @click.self="setPinCollapseToggle('collapseTab53')"></i>
          </div>
          <div id="collapseTab53" class="panel-collapse collapse" :class="{ 'show': !flgCollapse.collapseTab53}">
            <div class="panel-body">
              <field-req :data="talentDetail.goodness"
                         :labels="labels" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import fieldReq from './fieldReq'

export default {
  name: 'hrpmb1e-talent',
  props: [
    'labels',
    'talentDetail'
  ],
  data () {
    return {
      pinCollapse: {
        collapseTab51: false,
        collapseTab52: false,
        collapseTab53: false
      },
      flgCollapse: {
        collapseTab51: false,
        collapseTab52: true,
        collapseTab53: true
      }
    }
  },
  methods: {
    resetCollapse () {
      this.flgCollapse = {
        collapseTab51: false,
        collapseTab52: true,
        collapseTab53: true
      }
      this.pinCollapse = {
        collapseTab51: false,
        collapseTab52: false,
        collapseTab53: false
      }
    },
    setPinCollapseToggle (tab) {
      this.pinCollapse[tab] = !this.pinCollapse[tab]
    },
    setCollapseToggle (tab) {
      for (let collapseTab in this.flgCollapse) {
        if (collapseTab !== tab) {
          if (!this.pinCollapse[collapseTab]) {
            this.flgCollapse[collapseTab] = true
          }
        }
      }
      this.flgCollapse[tab] = !this.flgCollapse[tab]
    }
  },
  components: {
    fieldReq
  }
}
</script>