<template>
  <div name="popup-import-xls" class="import-xls">
    <div class="import-box">
      <div class="minor-btn-active" data-toggle="modal" data-target="#popup-import-xls" ><i class="space fa fa-cloud-upload"></i>Import EXCEL</div>
    </div>
    <div id="popup-import-xls" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header header-popup">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{importData}}</h4>
          </div>
          <div class="modal-body detail detail-responsive"> 
            <div class="detail detail-responsive">
              <div class="box-body">
                <div class="import-box">
                  <input name="file-excel" type="file" accept=".xlsx,.xlsb,.xlsm,.xls,.xml,.csv,.txt,.ods,.fods,.uos,.sylk,.dif,.dbf,.prn,.qpw,.123,.wb*,.wq*,.html,.htm" @change="_change" @focusout="_change" ref="browseFile">
                  <!-- <button type="button" class="btn bg-color-skin" @click="$refs.browseFile.click()"><i class="fa fa-check-circle"></i>{{ labelsButton['load'] }}</button> -->
                  <!-- <label for="sheet">Number of worksheet</label><input type="number" v-model="sheet" v-validate="'decimal'" name="sheet" min="1" max="999"> -->
                  <span v-show="errorFlg" class="validator-text -error">{{ errorMsg }}</span>
                </div>
                
                
                <hrms-table  :columns="columnsF" 
                             :data="dataImp"
                             :searchDisp="true" />
                <div class="col-md-12 form-horizontal" style="border:1px solid #d3d3d3;">
                  <div class="form-group"/>
                  <div class="form-group">
                    <div class="col-sm-2"/>
                    <label class="col-sm-3 control-label">{{totalRows}}</label>
                    <div class="col-sm-2">
                      <input type="input" readonly="readonly" class="form-control" :value="dataImp.rows.length">
                    </div>
                    <label class="col-sm-3 control-label" style="text-align: left">{{record}}</label>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-2">
                      <button type="button" class="btn bg-color-skin" @click="callSave()"><i class="fa fa-check-circle"></i>{{ labelsButton['save'] }}</button>
                    </div>
                    <label class="col-sm-3 control-label">{{completeRows}}</label>
                    <div class="col-sm-2">
                      <input type="input" readonly="readonly" class="form-control" :value="countSuccess">
                    </div>
                    <label class="col-sm-3 control-label" style="text-align: left">{{record}}</label>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-2"/>
                    <label class="col-sm-3 control-label">{{errorRows}}</label>
                    <div class="col-sm-2">
                      <input type="input" readonly="readonly" class="form-control" :value="countError">
                    </div>
                    <label class="col-sm-3 control-label" style="text-align: left">{{record}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import XLSX from 'xlsx'
import swal from 'sweetalert'
import { constLabels } from 'assets/js/constLabels'
const makeCols = refstr => Array(XLSX.utils.decode_range(refstr).e.c + 1).fill(0).map((x, i) => ({name: XLSX.utils.encode_col(i), key: i}))

export default {
  name: 'popup-import-xls',
  props: [ 'labels', 'labelsButton', 'postImport', 'resultImport', 'searchIndex' ],
  data: function () {
    return {
      impEvent: '',
      fileName: '',
      sheet: 1,
      dataImp: {
        total: 0,
        rows: []
      },
      columnsF: [
        {
          key: 'desc_status',
          name: 'Status'
        },
        {
          key: 'remark',
          name: 'Remark'
        }
      ],
      hrms17eColumns: 78,
      importData: constLabels('importData'),
      totalRows: constLabels('totalRows'),
      completeRows: constLabels('completeRows'),
      errorRows: constLabels('errorRows'),
      record: constLabels('record'),
      errorMsg: constLabels('errorImportColm'),
      errorFlg: false
    }
  },
  computed: {
    countError () {
      let filtered = this.dataImp.rows.filter(function (element) {
        return element['flg_status'] === 'E'
      })
      return filtered.length
    },
    countSuccess () {
      let filtered = this.dataImp.rows.filter(function (element) {
        return element['flg_status'] === 'S'
      })
      return filtered.length
    }
  },
  watch: {
    'resultImport' () {
      this.dataImp = this.resultImport
    }
  },
  methods: {
    _change (event) {
      const files = event.target.files
      if (files && files[0]) this._file(files[0])
    },
    _file (file) {
      /* Boilerplate to set up FileReader */
      const reader = new window.FileReader()
      reader.onload = (event) => {
        const bstr = event.target.result
        const workbook = XLSX.read(bstr, {type: 'binary'})
        const worksheet = workbook.Sheets[workbook.SheetNames[this.sheet - 1]]
        const header1 = XLSX.utils.sheet_to_json(worksheet, {header: 1})
        const data = XLSX.utils.sheet_to_json(worksheet, {header: header1[0], defval: ''})
        this.data = data.shift()
        this.cols = makeCols(worksheet['!ref'])

        // result
        if (this.$route.name === 'hrms17e' && this.hrms17eColumns !== header1[0].length) {
          this.errorFlg = true
        } else {
          this.errorFlg = false
          this.columnsF = this.mapExcelHeaders(header1[0]) // console.info(this.mapExcelHeaders(header1[0]))
          this.dataImp.rows = this.mapExcelRows(data)
        }
      }
      reader.readAsBinaryString(file)
    },
    mapExcelHeaders (dataHeader) {
      let n = 0
      let ret = [
        {
          key: 'desc_status',
          name: 'Status'
        },
        {
          key: 'remark',
          name: 'Remark'
        }
      ]
      for (let i = 0; i < dataHeader.length; i++) {
        n++
        ret.push({key: 'item' + n, name: dataHeader[i]})
      }
      return ret
      // return descriptions.map(function (x) {
      //   n++
      //   return {
      //      'item' + n,
      //     name: x
      //   }
      // })
    },
    mapExcelRows (dataRow) {
      let ret = []
      for (let i = 0; i < dataRow.length; i++) {
        let data = {
          status: '',
          remark: ''
        }
        let n = 0
        for (let key in dataRow[i]) {
          n++
          let value = dataRow[i][key]
          data['item' + n] = value
        }
        ret.push(data)
      }
      return ret
      // return descriptions.map(function (x) {
      //   n = 0
      //   for (let key in x) {
      //     if (x.hasOwnProperty(key)) {
      //       n++
      //       let value = x[key]
      //       data['item' + n] = value
      //     }
      //   }
      //   return data
      // })
    },
    callSave () {
      let _this = this
      swal({
        title: constLabels('confirmTitle'),
        text: constLabels('msgConfirmCancel'),
        showCancelButton: true,
        closeOnConfirm: false,
        confirmButtonText: constLabels('ok'),
        cancelButtonText: constLabels('cancel'),
        html: true
      },
      function (isConfirm) {
        if (isConfirm) {
          _this.postImport({ searchIndex: _this.searchIndex, dataHeader: _this.columnsF, dataRowsHasFlg: _this.dataImp.rows })
        }
      })
    }
  }
}
</script>

<style lang="scss">
.import-xls {
  .modal-content{
    width: 100%; /* respsonsive width */
    // margin-left:-40%; /* width/2) */ 
  }
  .import-box {
    float: right;
    margin: 10px 0 10px 10px;

    @media (max-width: 768px) {
      float: left;
    }

    .minor-btn-active {
      height: 25px;
      border-radius: 2px;
      padding: 4px 8px;
      background: #7d7d7d;
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
      cursor: pointer;
      color: #FFF;

      &:hover {
        box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
        color: #FFF;
      }
    }

    .minor-btn-inactive {
      height: 25px;
      border-radius: 2px;
      padding: 4px 8px;
      background: #E0E0E0;
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);  
      cursor: not-allowed;
      color: #FFF;

      &:hover {
        color: #FFF;
      }
    }

    .space {
      margin-right: 8px;
    }

    .minor-btn-inactive {
      height: 25px;
      border-radius: 2px;
      padding: 4px 8px;
      background: #E0E0E0;
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);  
      cursor: not-allowed;
      color: #FFF;

      &:hover {
        color: #FFF;
      }
    }
  }
  table {
    th {
      min-width: 100px;
      white-space: nowrap;
    }
  }
}

</style>