<template>
  <div name="csv-exporter">
    <!-- <i class="material-icons" v-if="dataRows.length <= 0">file_download</i>
    <i class="material-icons" v-if="dataRows.length > 0" @click="exportCSV()">file_download</i> -->
    <i class="fa fa-file-excel-o" v-if="dataRows.length <= 0"></i>
    <i class="fa fa-file-excel-o" v-if="dataRows.length > 0" @click="exportCSV()"></i>
    <a class="hidden" ref="csvURI" :href="uri" download="result.csv"></a>
  </div>
</template>

<script>
var $ = require('jquery')
$.csv = require('jquery-csv')

export default {
  name: 'csv-exporter',
  data () {
    return {
      uri: ''
    }
  },
  props: {
    dataRows: {
      type: Array,
      required: true
    },
    filteredBodyColumns: {
      required: true,
      default () {
        return {
          key: '',
          name: ''
        }
      }
    }
  },
  methods: {
    exportCSV () {
      let newDataRows = []
      let keys = Object.keys(this.dataRows[0])
      let columnKeys = this.filteredBodyColumns.map((column) => column.key)
      for (let dataRow of this.dataRows) {
        let newDataRow = {}
        for (let key of keys) {
          let columnIndex = columnKeys.indexOf(key)
          if (columnIndex > -1) {
            newDataRow[this.filteredBodyColumns[columnIndex].name] = '\t' + dataRow[key]
          }
        }
        newDataRows.push(newDataRow)
      }
      var csv = $.csv.fromObjects(newDataRows)
      this.uri = 'data:text/csv;charset=utf-8,%EF%BB%BF' + encodeURIComponent(csv)
      this.$nextTick(() => {
        this.$refs.csvURI.click()
      })
    }
  }
}
</script>

<style lang="scss">
/* .exporter-box {
  float: right;
  margin: 10px 0 10px 10px;

  @media (max-width: 768px) {
    float: left;
  }

  .minor-btn-active {
    height: 25px;
    border-radius: 2px;
    padding: 4px 8px;
    background: #7d7d7d;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    cursor: pointer;
    color: #FFF;

    &:hover {
      box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
      color: #FFF;
    }
  }

  .minor-btn-inactive {
    height: 25px;
    border-radius: 2px;
    padding: 4px 8px;
    background: #E0E0E0;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);  
    cursor: not-allowed;
    color: #FFF;

    &:hover {
      color: #FFF;
    }
  }

  .space {
    margin-right: 8px;
  }
} */

</style>