<template>
  <div name="delete-bool-button">
    <template v-if="disable">
      <div class="del-disable">
        <i class="fa fa-trash icon-delete-desc"></i>
      </div>
    </template>
    <template v-else>
      <div @click="toggleDelete(!deleteIconBool)" :class="[ deleteIconBool ? 'del-checked' : 'del-unchecked' ]" class="cursor-pointer">
        <i :class="'fa fa-' + [ deleteIconBool ? 'trash' : 'trash' ]" class="icon-delete-desc"></i>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  name: 'delete-bool-button',
  data () {
    return {
      deleteIconBool: this.value,
      deleteIconDesc: (this.value) ? 'Delete' : 'None'
    }
  },
  watch: {
    value (newVal) {
      this.toggleDelete(newVal)
    }
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    disable: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    toggleDelete (deleteIconBool) {
      this.deleteIconBool = deleteIconBool
      this.deleteIconDesc = (deleteIconBool) ? 'Delete' : 'None'
      this.$emit('input', deleteIconBool)
    }
  }
}
</script>

<style>
/* .icon-delete-desc{
  margin:0 5px 0 0;
}
.del-disable {
  line-height: 37px;
  height: 35px;
  width: 30px;
  padding-left: 4px;
  margin:0 auto;
  text-align: center;
  font-weight:700;
  font-size:20px;
}
.del-unchecked {
  transition: background 0.3s ease;
  border-radius: 2px;
  line-height: 37px;
  height: 35px;
  width: 30px;
  padding-left: 4px;
  margin:0 auto;
  text-align: center;
  color: #707070;
  font-weight:700;
  font-size:20px;
  cursor: pointer;
}
.del-checked {
  transition: background 0.3s ease;
  text-align: center;
  border-radius: 2px;
  line-height: 37px;
  height: 35px;
  width: 30px;
  padding-left: 4px;
  margin:0 auto;
  color: #E34C4C;
  font-size:20px;
  cursor: pointer;
} */
</style>