<template>
  <div name="pdf-exporter">
    <div class="exporter-box">
      <p class="minor-btn-inactive" v-if="dataRows.length <= 0"><i class="space fa fa-file-pdf-o"></i>Print PDF</p>
      <a class="minor-btn-active" :href="uri" download="result.csv" v-if="dataRows.length > 0"><i class="space fa fa-file-pdf-o"></i>Print PDF</a>
    </div> 
  </div>
</template>

<script>
var $ = require('jquery')
$.csv = require('jquery-csv')

export default {
  name: 'pdf-exporter',
  data () {
    return {
      uri: ''
    }
  },
  props: {
    dataRows: {
      type: Array,
      required: true
    }
  },
  watch: {
    dataRows (newVal) {
      var inArray = Array.from(newVal)
      var csv = $.csv.fromObjects(inArray)
      this.uri = 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv)
    }
  }
}
</script>

<style lang="scss">
.exporter-box {
  float: right;
  margin: 10px 0 10px 10px;

  @media (max-width: 768px) {
    float: left;
  }

  .minor-btn-active {
    height: 25px;
    border-radius: 2px;
    padding: 4px 8px;
    background: #7d7d7d;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    cursor: pointer;

    &:hover {
      box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
    }
  }

  .minor-btn-inactive {
    height: 25px;
    border-radius: 2px;
    padding: 4px 8px;
    background: #E0E0E0;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    cursor: not-allowed;
  }

  .space {
    margin-right: 8px;
  }
}

</style>
