<template>
  <div name="userStatusCount-button">
    <div @click="countUserStatus()" :class="[ flgactCount == 0 ? 'user-status-none' : flgactCount == 1 ? 'user-status-current' : 'user-status-suspend' ]" class="cursor-pointer">
      <i :class="'fa fa-' + [ flgactCount == 0 ? 'circle-o-notch' : flgactCount == 1 ? 'check-circle' : 'times-circle' ]" class="icon-user-status"></i>{{userStatusDesc}}
    </div>
  </div>

<!-- <div name="userStatusCount-button">
  <label class="switch">
    <span class="slider round" :class="[ flgactCount == 0 ? 'txt-slider-checked' : 'txt-slider' ]" @click="countUserStatus()">
      <div>{{userStatusDesc}}</div>
    </span>  
  </label>
</div>
 -->
</template>

<script>
export default {
  name: 'userStatusCount-button',
  data () {
    return {
      flgact: this.value,
      flgactCount: 0,
      userStatusDesc: 'None'
    }
  },
  watch: {
    value (newVal) {
      this.flgact = newVal.trim()
      switch (this.flgact) {
        case '':
          this.flgactCount = 0
          this.userStatusDesc = 'None'
          break
        case '1':
          this.flgactCount = 1
          this.userStatusDesc = 'ปัจจุบัน'
          break
        case '3':
          this.flgactCount = 2
          this.userStatusDesc = 'ระงับใช้'
          break
        default:
          this.flgact = ''
          this.flgactCount = 0
          this.userStatusDesc = 'None'
          break
      }
      this.$emit('input', this.flgact)
    }
  },
  props: {
    value: {
      type: String
    },
    select: {
      type: String
    },
    userStatusRowBool: {
      type: Boolean,
      default: false
    },
    disable: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    countUserStatus () {
      if (this.userStatusRowBool) {
        this.$emit('setDefaultUserStatus')
      }
      this.flgactCount++
      if (this.flgactCount > 2) {
        this.flgactCount = 1
      }
      switch (this.flgactCount) {
        case 0:
          this.flgact = ''
          this.userStatusDesc = 'None'
          break
        case 1:
          this.flgact = '1'
          this.userStatusDesc = 'ปัจจุบัน'
          break
        case 2:
          this.flgact = '3'
          this.userStatusDesc = 'ระงับใช้'
          break
      }
      this.$emit('input', this.flgact)
    }
  }
}
</script>

<style>
.icon-user-status{
  margin:0 5px 0 0;
}
.user-status-none {
  transition: background 0.3s ease;
  background:#e4e0e0;
  text-align: center;
  border-radius: 2px;
  line-height: 33px;
  height: 30px;
  width: 70px;
  margin:0 auto;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  color:#FFF;
  /*font-weight:700;*/
  font-size:12px;
}
.user-status-current {
  transition: background 0.3s ease;
  background:#4CAF50;
  text-align: center;
  border-radius: 2px;
  line-height: 33px;
  height: 30px;
  width: 70px;
  margin:0 auto;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  color:#FFF;
  /*font-weight:700;*/
  font-size:12px;
}
.user-status-suspend {
  transition: background 0.3s ease;
  background:#ef5350;
  text-align: center;
  border-radius: 2px;
  line-height: 33px;
  height: 30px;
  width: 70px;
  margin:0 auto;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  color:#FFF;
  font-size:12px;
}
  /** Slider month to day **/
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 25px;  /*34*/
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px; /*26*/
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.txt-slider-checked {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.slider.txt-slider-checked:before {
  -webkit-transform: translateX(44px);
  -ms-transform: translateX(44px);
  transform: translateX(44px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.txt-slider {
  font-size: 12px;
  color: #FFF;
  padding: 5px 0 0 25px;
}

.txt-slider-checked {
  font-size: 12px;
  color: #FFF;
  padding: 5px 0 0 10px;
}

</style>