<template>
  <div name="hrms-searchbox-table" class="hrms-searchbox-table clearfix">
    <div :class="[searchboxDisp == true ? 'search-group-wrapper' : 'search-group-wrapper-min']">
      <div ref="searchboxWrapper" class="clearfix" :class="[searchboxDisp == true ? 'toggle-wrapper' : 'toggle-wrapper-min']">
      <!-- <div ref="searchboxWrapper" class="toggle-wrapper clearfix" @click="toggleSearchboxDisp()"> -->
          <div class="search-ico"><i class="icon ion-android-search" @click="toggleSearchboxDisp()"></i></div>
          <div class="search-label" v-show="searchboxDisp"> {{ assetsLabels.button[nowLang].search }} </div>
          <div class="close-ico" v-show="searchboxDisp"><i class="icon ion-android-close" @click="toggleSearchboxDisp()" ref="searchBoxTableClose"></i></div>
      </div>
      <div ref="searchboxPanel" class="search-box-panel clearfix" v-show="searchboxDisp">
    		<hrms-search-box
                  v-model="inputSearch"
	                :receivedStore="receivedStore"
	                :nowLang="nowLang"
	                :searchBoxAlias="searchBoxAlias"
                  @setDataRowSearchboxTable="setDataRowIndex(arguments[0])"
                  @setStaappr="staappr = arguments[0]"
                  @setLoadingParentBool="loadingParentBool = arguments[0]"
                  @setPreLoadParentBool="preLoadParentBool = arguments[0]"
                  @clearTableInputSearch="$refs.searchBoxTable.$emit('$clearTableInputSearch')"
                  :closeSearchBoxTable="closeSearchBoxTable"
                  :listFields="listFields" />
      </div>
    </div>

    <!-- <div ref="table" class="clearfix" :class="[searchboxDisp == true ? 'table-box-wrapper' : 'table-box-wrapper-full']"> -->
    <div ref="table" class="table-box-wrapper">
    <div class="panel-control" v-show="!loadingParentBool && !preLoadParentBool">
      <xls-importer v-show="xlsImportDisp"
                    :labelsButton="assetsLabels.button[nowLang]"
                    :postImport="postImport"
                    :resultImport="resultImport"
                    :searchIndex="inputSearch" />
    </div>
	    <hrms-table :data="data"
                  :headerLabels="headerLabels"
                  @setLoadingParentBool="loadingParentBool = arguments[0]"
                  :loadingParentBool="loadingParentBool"
                  :preLoadParentBool="preLoadParentBool"
                  :receivedStore="receivedStore"
                  :indexDisp="indexDisp"
                  :columns="columns"
                  :nowLang="nowLang"
                  :maxRowspan="maxRowspan"
                  :columnEvent="columnEvent"
                  :detailEvent="detailEvent"
                  :searchDisp="searchDisp"
                  :selectEvent="selectEvent"
                  :selectRowBool="selectRowBool"
                  :selectBtnDisp="selectBtnDisp"
                  :userStatusEvent="userStatusEvent"
                  :userStatusRowBool="userStatusRowBool"
                  :userStatusBtnDisp="userStatusBtnDisp"
                  :approveEvent="approveEvent" 
                  :approveBtnDisp="checkApproveBtnDisp()"
                  :approveRowBool="approveRowBool" 
                  :addEvent="addEvent"
                  :editEvent="editEvent"
                  :cancelEvent="cancelEvent"
                  :backEvent="backEvent"
                  :afterDeleteInlineEvent="afterDeleteInlineEvent"
                  :saveInlineEvent="saveInlineEvent"
                  :addInlineEventBool="addInlineEventBool"
                  :editInlineEventBool="editInlineEventBool"
                  :deleteInlineEventBool="deleteInlineEventBool"
                  :rowDisableCondition="rowDisableCondition"
                  :deleteInlineBtnDisp="deleteInlineBtnDisp"
                  :saveInlineBtnDisp="saveInlineBtnDisp"
                  :summaryLabel="summaryLabel"
                  :pdfExportDisp="pdfExportDisp"
                  :csvExportDisp="csvExportDisp"
                  :footerDisp="footerDisp"
                  :footerData="footerData"
                  :footerComponent="footerComponent"
                  :headerEvent="headerEvent"
                  :headerData="headerData"
                  :headerDisp="headerDisp"
                  :headerComponent="headerComponent"
                  ref="searchBoxTable"
      />

      <div class="col-md-12 " v-if="!saveInlineBtnDisp && saveBtnSearchBoxTable && !preLoadParentBool && !loadingParentBool">
        <button type="button" class="btn bg-color-skin pull-left" @click="triggerSaveInlineEventBuiltIn()"><i class="fa fa-check-circle"></i>{{ assetsLabels.button[nowLang]['save'] }}</button>
      </div>
      <div class="col-md-12 " v-if="confirmSelectBtnDisp && confirmSelectBtnSearchBoxTable && !preLoadParentBool && !loadingParentBool">
        <button type="button" class="btn bg-color-skin pull-left" @click="triggerSelectEventBuiltIn()"><i class="fa fa-check-circle"></i>{{ assetsLabels.button[nowLang]['select'] }}</button>
      </div>
    </div> 
  </div>
</template>

<script>
import swal from 'sweetalert'
import bus from 'assets/js/bus'
import assetsLabels from 'assets/js/labels'
import { constLabels } from 'assets/js/constLabels'
import xlsImporter from './components/xlsImporter'

export default {
  name: 'hrms-searchbox-table',
  data () {
    return {
      dataRow: {},
      loadingParentBool: true,
      preLoadParentBool: this.unLoadBool,
      searchboxDisp: true,
      inputSearch: this.value,
      staappr: this.value.staappr || '',
      assetsLabels: assetsLabels
    }
  },
  methods: {
    closeSearchBoxTable () {
      this.$refs.searchBoxTableClose.click()
    },
    setDataRowIndex (dataRow) {
      this.dataRow = dataRow
      this.$emit('setDataRowIndex', this.dataRow)
    },
    checkApproveBtnDisp () {
      return this.staappr === '' || this.staappr === 'P'
    },
    toggleSearchboxDisp () {
      this.searchboxDisp = !this.searchboxDisp
    },
    triggerSaveInlineEventBuiltIn () {
      let _this = this
      swal({
        title: constLabels('confirmTitle'),
        text: constLabels('msgConfirmSave'),
        showCancelButton: true,
        closeOnConfirm: true,
        closeOnCancel: true,
        html: true
      },
      function (isConfirm) {
        if (isConfirm) {
          _this.$refs.searchBoxTable.$emit('$saveInlineEventBuiltIn')
        }
      })
    },
    triggerSelectEventBuiltIn () {
      this.$refs.searchBoxTable.$emit('$selectEventBuiltIn')
    }
  },
  watch: {
    inputSearch (newVal) {
      this.$emit('input', newVal)
    },
    unLoadBool () {
      this.preLoadParentBool = this.unLoadBool
    }
  },
  mounted () {
    this.$on('$searchBoxTableRef', (event) => {
      if (typeof event === 'undefined' || event === 'saveInline') {
        this.$refs.searchBoxTable.$emit('$saveInlineEventBuiltIn')
      } else if (event === 'select') {
        this.$refs.searchBoxTable.$emit('$selectEventBuiltIn')
      }
    })
    bus.$on('veeValidate', () => {
      this.$validator.validateAll().then(result => {
        this.$emit('validateEvent', result)
      }).catch(result => {
        this.$emit('validateEvent', false)
      })
    })
  },
  props: {
    unLoadBool: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object,
      required: true
    },
    receivedStore: {
      type: Function,
      required: true
    },
    indexDisp: {
      type: Boolean,
      defalut: true
    },
    columns: {
      type: Array,
      required: true
    },
    searchBoxAlias: {
      type: String
    },
    nowLang: {
      type: String,
      default: assetsLabels.defaultLang
    },
    maxRowspan: {
      type: Number,
      default: 1
    },
    columnEvent: {
      type: Function
    },
    detailEvent: {
      type: Function
    },
    selectEvent: {
      type: Function
    },
    selectRowBool: {
      type: Boolean,
      default: false
    },
    selectBtnDisp: {
      type: Boolean,
      default: false
    },
    userStatusEvent: {
      type: Function
    },
    userStatusRowBool: {
      type: Boolean,
      default: false
    },
    userStatusBtnDisp: {
      type: Boolean,
      default: false
    },
    approveEvent: {
      type: Function
    },
    approveBtnDisp: {
      type: Boolean,
      default: false
    },
    approveRowBool: {
      type: Boolean,
      default: false
    },
    addEvent: {
      type: Function
    },
    editEvent: {
      type: Function
    },
    cancelEvent: {
      type: Function
    },
    backEvent: {
      type: Function
    },
    afterDeleteInlineEvent: {
      type: Function
    },
    saveInlineEvent: {
      type: Function
    },
    addInlineEventBool: {
      type: Boolean,
      default: false
    },
    editInlineEventBool: {
      type: Boolean,
      default: false
    },
    deleteInlineEventBool: {
      type: Boolean,
      default: false
    },
    rowDisableCondition: {
      type: Function
    },
    deleteInlineBtnDisp: {
      type: Boolean,
      default: true
    },
    searchDisp: {
      type: Boolean,
      default: true
    },
    saveInlineBtnDisp: {
      type: Boolean,
      default: true
    },
    confirmSelectBtnDisp: {
      type: Boolean,
      default: true
    },
    value: {
      type: Object,
      default () {
        return {}
      }
    },
    summaryLabel: {
      type: String,
      default: ''
    },
    pdfExportDisp: {
      type: Boolean,
      default: false
    },
    csvExportDisp: {
      type: Boolean,
      default: false
    },
    xlsImportDisp: {
      type: Boolean,
      default: false
    },
    postImport: {
      type: Function
    },
    resultImport: {
      type: Object
    },
    listFields: {
      type: Object
    },
    saveBtnSearchBoxTable: {
      type: Boolean,
      default: false
    },
    confirmSelectBtnSearchBoxTable: {
      type: Boolean,
      default: false
    },
    footerDisp: {
      type: Boolean,
      default: false
    },
    footerData: {
      type: Object
    },
    footerComponent: {
      type: Object
    },
    headerLabels: {
      type: Object
    },
    headerEvent: {
      type: Object
    },
    headerData: {
      type: Object
    },
    headerDisp: {
      type: Boolean,
      default: false
    },
    headerComponent: {
      type: Object
    }
  },
  components: {
    xlsImporter
  }
}
</script>

<style src="./assets/style.scss" lang='scss'></style>
