<template>
  <tr>
    <template v-for="(value, index) in arrWeek">
      <template v-if="value != ''">
        <td :key="index" class="numberdate-set" @click="setSelectDate({ date: value, day: index })">
          <div class="numberdate-box">
            <div class="numberdate-center">
              <div class="numberdate" :class="(checkCurrentDay(value) ? 'active ' : '') + (checkSelectedDay(value) ? 'selected' : '')">{{ value }}</div>
            </div>
          </div>
          <div class="date-type">
            <i :class="setMark(value)"></i>
          </div>
        </td>
      </template>
      <template v-else>
        <td :key="index"><div></div></td>
      </template>
    </template>
  </tr>
</template>

<script>
export default {
  name: 'hcm-week-row',
  props: [ 'arrWeek', 'setSelectDate', 'checkCurrentDay', 'checkSelectedDay', 'selectedMonth', 'setMark' ]
}
</script>