<template>
  <div name="hcm-lov-codcomp-department-search-button" class="row search-input">
    <div class="col-10 col-md-11">
      <div class="input-group">
        <input class="lov-search-input" type="text" name="input" :placeholder="labels['HCM_COMP']['40']"
                v-model="inputSearch"
                @keyup="triggerSearch($event)"
          />
        <span class="search-icon ion-android-search" aria-hidden="true"></span>
        <div class="validator-text"></div>
      </div>
    </div>
    <div class="col-2 col-md-1">
      <span class="lov-icon fa fa-refresh cursor-pointer" aria-hidden="true" @click="clearInputSearch()"></span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hcm-lov-codcomp-department-search-button',
  data () {
    return {
      inputSearch: ''
    }
  },
  props: {
    simplert: {
      type: Object
    },
    labels: {
      type: Object
    },
    setDepartmentDisp: {
      type: Function
    },
    setDepartments: {
      type: Function
    }
  },
  methods: {
    clearInputSearch () {
      this.inputSearch = ''
      this.callSearch()
    },
    emitSearchButton (codeDescValue) {
      this.inputSearch = codeDescValue
      this.callSearch()
    },
    triggerSearch (event) {
      if (event.key !== 'Enter' && event.key !== 'ArrowDown' && event.key !== 'ArrowUp' && event.key !== 'ArrowLeft' && event.key !== 'ArrowRight') {
        this.setDepartmentDisp('main')
        this.setDepartments(this.inputSearch)
      }
    },
    callSearch () {
      this.setDepartmentDisp('main')
      this.setDepartments(this.inputSearch)
    }
  }
}
</script>