<template>
  <div class="clearfix">
    <div class="card-company-box -one-column">
      <div class="header">
        <i class="fa fa-globe"></i>
        {{ department.title }}
      </div>
      <div class="content-list">
        <div class="content-set-wrapper" v-for="(detail, index) in department.details" :key="index"
                              @click.self="showDepartmentSub(department, detail)">
          <div class="content-set" @click.self="showDepartmentSub(department, detail)">
            <div class="content-icon fa fa-chevron-right" @click.self="showDepartmentSub(department, detail)"></div>
            <div class="content-text" @click.self="showDepartmentSub(department, detail)">
              <div class="code" @click.self="showDepartmentSub(department, detail)">{{ detail.code }}</div>
              <div class="desc" @click.self="showDepartmentSub(department, detail)"> - &nbsp;&nbsp;{{ detail.name }}</div>
            </div>
            <div class="content-button" @click="selectDepartmentDetail(detail)">เลือก</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hcm-lov-codcomp-department-card-selected',
  props: {
    simplert: {
      type: Object
    },
    department: {
      type: Object,
      required: true
    },
    setDepartmentDisp: {
      type: Function
    },
    setDepartmentDetail: {
      type: Function
    },
    receivedDepartmentSubDetail: {
      type: Function
    },
    updatePopupCodcompHistory: {
      type: Function
    },
    closeModal: {
      type: Function
    },
    setErrorMessageDispAndCodcompDisp: {
      type: Function
    }
  },
  methods: {
    showDepartmentSub (department, detail) {
      this.setDepartmentDisp('sub')
      this.receivedDepartmentSubDetail({ department, detail, simpler: this.simplert })
    },
    selectDepartmentDetail (detail) {
      this.setDepartmentDetail(detail)
      this.updatePopupCodcompHistory(detail)
      this.closeModal()
      this.setErrorMessageDispAndCodcompDisp(false, true)
    }
  }
}
</script>