<template>
  <div class="clearfix">
    <div class="card-company-box">
      <div class="header">
        <i class="fa fa-globe"></i>
        {{ department.title }}
      </div>
      <div class="content-list">
        <div class="content-set-wrapper" v-for="(detail, index) in filterDetails(department.details)" :key="index"
                              @click.self="showDepartmentSub(department, detail)">
          <div class="content-set" @click.self="showDepartmentSub(department, detail)">
            <div class="content-icon fa fa-chevron-right" @click.self="showDepartmentSub(department, detail)"></div>
            <div class="content-text" @click.self="showDepartmentSub(department, detail)">
              <div class="code" @click.self="showDepartmentSub(department, detail)">{{ detail.code }}</div>
              <div class="desc" @click.self="showDepartmentSub(department, detail)"> - {{ detail.name }}</div>
            </div>
            <div class="content-button" @click="selectDepartmentDetail(detail)">เลือก</div>
          </div>
        </div>
        <div class="view-all-box" v-if="department.details.length > 5" @click="showAllDepartmentSelected(department)">
          <i class="ion-android-add"></i>View all
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hcm-lov-codcomp-department-card',
  props: {
    simplert: {
      type: Object
    },
    department: {
      type: Object,
      required: true
    },
    setDepartmentDisp: {
      type: Function
    },
    setDepartmentSelected: {
      type: Function
    },
    setDepartmentDetail: {
      type: Function
    },
    receivedDepartmentSubDetail: {
      type: Function
    },
    updatePopupCodcompHistory: {
      type: Function
    },
    closeModal: {
      type: Function
    },
    setErrorMessageDispAndCodcompDisp: {
      type: Function
    }
  },
  methods: {
    selectDepartmentDetail (detail) {
      this.setDepartmentDetail(detail)
      this.updatePopupCodcompHistory(detail)
      this.closeModal()
      this.setErrorMessageDispAndCodcompDisp(false, true)
    },
    filterDetails (details) {
      return details.filter((detail, index) => {
        return index < 5
      })
    },
    showDepartmentSub (department, detail) {
      this.setDepartmentDisp('sub')
      this.receivedDepartmentSubDetail({ department, detail, simplert: this.simplert })
    },
    showAllDepartmentSelected (department) {
      this.setDepartmentDisp('selected')
      this.setDepartmentSelected(department)
    }
  }
}
</script>
