<template>
  <div name="hcm-lov-codcomp-department-category">
    <department-main  v-if="departmentDisp.main"
                      :simplert="simplert"
                      :departments="departments"
                      :setDepartmentDisp="setDepartmentDisp"
                      :setDepartmentSelected="setDepartmentSelected"
                      :setDepartmentDetail="setDepartmentDetail"
                      :receivedDepartmentSubDetail="receivedDepartmentSubDetail"
                      :updatePopupCodcompHistory="updatePopupCodcompHistory"
                      :closeModal="closeModal"
                      :setErrorMessageDispAndCodcompDisp="setErrorMessageDispAndCodcompDisp"
    />
    <department-selected 
                      v-if="departmentDisp.selected"
                      :simplert="simplert"
                      :departmentSelected="departmentSelected"
                      :setDepartmentDisp="setDepartmentDisp"
                      :setDepartmentDetail="setDepartmentDetail"
                      :receivedDepartmentSubDetail="receivedDepartmentSubDetail"
                      :updatePopupCodcompHistory="updatePopupCodcompHistory"
                      :closeModal="closeModal"
                      :setErrorMessageDispAndCodcompDisp="setErrorMessageDispAndCodcompDisp"
    />
    <department-sub   v-if="departmentDisp.sub"
                      :simplert="simplert"
                      :departmentSubDetailLeft="departmentSubDetailLeft"
                      :departmentSubDetailRight="departmentSubDetailRight"
                      :departmentSubDetailLeftParent="departmentSubDetailLeftParent"
                      :setDepartmentDisp="setDepartmentDisp"
                      :setDepartmentDetail="setDepartmentDetail"
                      :receivedDepartmentSubDetail="receivedDepartmentSubDetail"
                      :updatePopupCodcompHistory="updatePopupCodcompHistory"
                      :closeModal="closeModal"
                      :setErrorMessageDispAndCodcompDisp="setErrorMessageDispAndCodcompDisp" />
  </div>
</template>

<script>
import departmentMain from './departmentMain'
import departmentSub from './departmentSub'
import departmentSelected from './departmentSelected'

export default {
  name: 'hcm-lov-codcomp-department-category',
  props: {
    simplert: {
      type: Object
    },
    departments: {
      type: Array,
      required: true
    },
    departmentDisp: {
      type: Object
    },
    departmentSelected: {
      type: Object
    },
    departmentSubDetailLeft: {
      type: Object
    },
    departmentSubDetailRight: {
      type: Object
    },
    departmentSubDetailLeftParent: {
      type: Object
    },
    setDepartmentDisp: {
      type: Function
    },
    setDepartmentSelected: {
      type: Function
    },
    setDepartmentDetail: {
      type: Function
    },
    receivedDepartmentSubDetail: {
      type: Function
    },
    updatePopupCodcompHistory: {
      type: Function
    },
    closeModal: {
      type: Function
    },
    setErrorMessageDispAndCodcompDisp: {
      type: Function
    }
  },
  components: {
    departmentMain,
    departmentSub,
    departmentSelected
  }
}
</script>
