<template>
  <div name="hcm-lov-codcomp-department-history-button" class="department-history-button">
    <div class="button-box-right">
      <div class="button-md _bg-grey" @click="setDepartmentDisp('history')">
        <i class="fa fa-history"></i>History
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hcm-lov-codcomp-department-history-button',
  props: {
    setDepartmentDisp: {
      type: Function
    }
  }
}
</script>