<template>
  <div name="hcm-lov-codcomp-department-selected">
    <div class="clear-padding col-md-12 col-lg-12">
      <department-card-selected  
        :simplert="simplert"
        :department="departmentSelected"
        :setDepartmentDisp="setDepartmentDisp"
        :setDepartmentDetail="setDepartmentDetail"
        :receivedDepartmentSubDetail="receivedDepartmentSubDetail"
        :updatePopupCodcompHistory="updatePopupCodcompHistory"
        :closeModal="closeModal"
        :setErrorMessageDispAndCodcompDisp="setErrorMessageDispAndCodcompDisp"
      />
    </div>
  </div>
</template>

<script>
import departmentCardSelected from './departmentCardSelected'

export default {
  name: 'hcm-lov-codcomp-department-selected',
  props: {
    simplert: {
      type: Object
    },
    departmentSelected: {
      type: Object
    },
    setDepartmentDisp: {
      type: Function
    },
    setDepartmentDetail: {
      type: Function
    },
    receivedDepartmentSubDetail: {
      type: Function
    },
    updatePopupCodcompHistory: {
      type: Function
    },
    closeModal: {
      type: Function
    },
    setErrorMessageDispAndCodcompDisp: {
      type: Function
    }
  },
  components: {
    departmentCardSelected
  }
}
</script>