<template>
  <div name="hcm-lov-codcomp-department-sub-button" class="department-sub-button pull-left">
      <div class="sub-button" v-show="department.title" @click="receivedDepartmentSubDetail({ department, detail: department.details[0] })">
        <i class="ion-chevron-left"></i> {{ department.title }}
      </div>
  </div>
</template>

<script>
export default {
  name: 'hcm-lov-codcomp-department-sub-button',
  props: {
    department: {
      type: Object
    },
    receivedDepartmentSubDetail: {
      type: Function
    }
  }
}
</script>