<template>
  <div class="clearfix">
    <div class="card-company-box -one-column">
      <div class="header">
        <i class="fa fa-history"></i>
        History
      </div>
      <div class="content-list">
        <div class="content-set-wrapper" v-for="(history, index) in histories" :key="index">
          <div class="content-set">
            <div class="content-icon fa fa-chevron-right"></div>
            <div class="content-text">
              <div class="code">{{ history.code }}</div>
              <div class="desc"> - &nbsp;&nbsp;{{ history.name }}</div>
            </div>
            <div class="content-button" @click="selectDepartmentDetail(history)">เลือก</div>
          </div>
        </div>
        <div v-show="histories.length === 0">
          No History
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hcm-lov-codcomp-department-card-history',
  props: {
    histories: {
      type: Array,
      required: true
    },
    setDepartmentDetail: {
      type: Function
    },
    closeModal: {
      type: Function
    },
    setErrorMessageDispAndCodcompDisp: {
      type: Function
    }
  },
  methods: {
    selectDepartmentDetail (detail) {
      this.setDepartmentDetail(detail)
      this.closeModal()
      this.setErrorMessageDispAndCodcompDisp(false, true)
    }
  }
}
</script>