<template>
  <div name="hcm-lov-codcomp-department-card-sub-left">
    
    <div class="card-company-box">
      <div class="header">
        <i class="fa fa-globe"></i>
        {{ department.title }}
      </div>
      <div class="content-list">
        <div class="content-set-wrapper" v-for="(detail, index) in department.details" :key="index"
              @click.self="showDepartmentSubLeftParent(departmentSubDetailLeftParent, departmentSubDetailLeftParent.details[0])">
          <div class="content-set" @click.self="showDepartmentSubLeftParent(departmentSubDetailLeftParent, departmentSubDetailLeftParent.details[0])">
            <div class="content-icon fa fa-chevron-right" @click="receivedDepartmentSubDetail({ department: departmentSubDetailLeftParent, detail: departmentSubDetailLeftParent.details[0] })"></div>
            <div class="content-text" @click.self="showDepartmentSubLeftParent(departmentSubDetailLeftParent, departmentSubDetailLeftParent.details[0])">
              <div class="code" @click.self="showDepartmentSubLeftParent(departmentSubDetailLeftParent, departmentSubDetailLeftParent.details[0])">{{ detail.code }}</div>
              <div class="desc" @click.self="showDepartmentSubLeftParent(departmentSubDetailLeftParent, departmentSubDetailLeftParent.details[0])"> - {{ detail.name }}</div>
            </div>
            <div class="content-button" @click="selectDepartmentDetail(detail)">เลือก</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'hcm-lov-codcomp-department-card-sub-left',
  props: {
    department: {
      type: Object,
      required: true
    },
    setDepartmentDetail: {
      type: Function
    },
    departmentSubDetailLeftParent: {
      type: Object
    },
    receivedDepartmentSubDetail: {
      type: Function
    },
    updatePopupCodcompHistory: {
      type: Function
    },
    closeModal: {
      type: Function
    },
    setErrorMessageDispAndCodcompDisp: {
      type: Function
    }
  },
  methods: {
    showDepartmentSubLeftParent (department, detail) {
      if (detail.codcomp) {
        this.receivedDepartmentSubDetail({ department, detail })
      }
    },
    selectDepartmentDetail (detail) {
      this.setDepartmentDetail(detail)
      this.updatePopupCodcompHistory(detail)
      this.closeModal()
      this.setErrorMessageDispAndCodcompDisp(false, true)
    }
  }
}
</script>