<template>
  <ul class="dropdown-menu dropdown-replace" :class="{ 'show' : dropdownSearchDisp }">
    <div class="codcomp-box">
      <div class="level-list" v-for="(department, departmentIndex) in filterDropdownDepartments(departments)" :key="departmentIndex">
        <div class="level-name"><i class="fa fa-globe _text-blue"></i>{{ department.title }}</div>
        <div class="department-list">
          <div class="department-set" 
                v-for="(detail, detailIndex) in department.details" :key="detailIndex"
                @click="setArgumentForDepartmentDetail(detail)">
            <span class="department-code"><i class="fa fa-chevron-right"></i>{{ detail.code }}</span>
            <span class="department-dash">-</span>
            <span class="department-name">{{ detail.name }}</span>
          </div>
        </div>
      </div>
      <div class="level-list" v-show="seeMore" @click="clickSearchBtnIndex()">
        <div class="level-name cursor-pointer">See results for "{{ codeDescValue }}"</div>
      </div>
    </div>
  </ul>
</template>

<script>
export default {
  name: 'department-search-dropdown',
  data () {
    return {
      seeMore: true
    }
  },
  props: {
    codeDescValue: {
      type: String
    },
    dropdownSearchDisp: {
      type: Boolean
    },
    hideDropdownSearch: {
      type: Function
    },
    departments: {
      type: Array
    },
    setErrorMessageDispAndCodcompDisp: {
      type: Function
    },
    clickSearchBtnIndex: {
      type: Function
    }
  },
  watch: {
    departments () {
      if (this.departments.length > 0) {
        this.seeMore = this.departments.map((department) => {
          return department.details.length
        }).reduce((sum, count) => {
          return sum + count
        }) > 5
      } else {
        this.seeMore = false
      }
    }
  },
  methods: {
    filterDropdownDepartments (departments) {
      let count = 0
      let filterDepartments = []
      for (let department of departments) {
        let filterDepartment = {}
        filterDepartment = {
          title: department.title,
          level: department.level,
          details: []
        }
        for (let detail of department.details) {
          filterDepartment.details.push(detail)
          count++
          if (count >= 5) {
            break
          }
        }
        filterDepartments.push(filterDepartment)
        if (count >= 5) {
          break
        }
      }
      return filterDepartments
    },
    setArgumentForDepartmentDetail (detail) {
      this.hideDropdownSearch()
      this.setErrorMessageDispAndCodcompDisp(false, true)
      this.$emit('emitDropdownSetDepartmentDetail', detail)
    }
  }
}
</script>
