<template>
  <div name="hcm-lov-codcomp-department-main" class="department-main">
    <div class="row">
      <div class="clear-padding" :class="[ (departments.length > 1) ? 'col-md-6 col-lg-6' : 'col-md-12 col-lg-12' ]">
        <department-card v-for="(department, index) in filterLeft(departments)" 
                         :key="index"
                         :simplert="simplert"
                         :department="department"
                         :setDepartmentDisp="setDepartmentDisp"
                         :setDepartmentSelected="setDepartmentSelected"
                         :setDepartmentDetail="setDepartmentDetail"
                         :receivedDepartmentSubDetail="receivedDepartmentSubDetail"
                         :updatePopupCodcompHistory="updatePopupCodcompHistory"
                         :closeModal="closeModal"
                         :setErrorMessageDispAndCodcompDisp="setErrorMessageDispAndCodcompDisp"
        />
      </div>
      <div class="clear-padding col-md-6 col-lg-6" v-show="departments.length > 1">
        <department-card v-for="(department, index) in filterRight(departments)" 
                         :key="index"
                         :simplert="simplert"
                         :department="department"
                         :setDepartmentDisp="setDepartmentDisp"
                         :setDepartmentSelected="setDepartmentSelected"
                         :setDepartmentDetail="setDepartmentDetail"
                         :receivedDepartmentSubDetail="receivedDepartmentSubDetail"
                         :updatePopupCodcompHistory="updatePopupCodcompHistory"
                         :closeModal="closeModal"
                         :setErrorMessageDispAndCodcompDisp="setErrorMessageDispAndCodcompDisp"
        />
      </div>
    </div>
  </div>
</template>

<script>
import departmentCard from './departmentCard'

export default {
  name: 'hcm-lov-codcomp-department-main',
  props: {
    simplert: {
      type: Object
    },
    departments: {
      type: Array,
      required: true
    },
    setDepartmentDisp: {
      type: Function
    },
    setDepartmentSelected: {
      type: Function
    },
    setDepartmentDetail: {
      type: Function
    },
    receivedDepartmentSubDetail: {
      type: Function
    },
    updatePopupCodcompHistory: {
      type: Function
    },
    closeModal: {
      type: Function
    },
    setErrorMessageDispAndCodcompDisp: {
      type: Function
    }
  },
  methods: {
    findLevelLeft (departments) {
      if (departments.length > 0) {
        let departmentCounts = departments.map((department) => {
          return (department.details.length <= 5) ? department.details.length : 6
        })
        let departmentTotal = departmentCounts.reduce((sum, departmentCount) => {
          return sum + departmentCount
        })
        let accumulateDepartmentCount = 0
        for (let index = 0; index < departmentCounts.length; index++) {
          accumulateDepartmentCount += departmentCounts[index]
          if (accumulateDepartmentCount >= Math.ceil(departmentTotal / 2)) {
            if (index === 0) {
              return departments[index].level
            }
            return departments[index - 1].level
          }
        }
      }
      return -1
    },
    filterLeft (departments) {
      let levelLeft = this.findLevelLeft(departments)
      return departments.filter(department => {
        return parseInt(department.level) <= levelLeft
      })
    },
    filterRight (departments) {
      let levelLeft = this.findLevelLeft(departments)
      return departments.filter(department => {
        return parseInt(department.level) > levelLeft
      })
    }
  },
  components: {
    departmentCard
  }
}
</script>
