<template>
  <div name="hcm-lov-codcomp-department-sub" class="department-sub">
    <div class="department-sub-box">
      <div class="department-card-left">
        <department-card-sub-left
          :department="departmentSubDetailLeft"
          :setDepartmentDetail="setDepartmentDetail"
          :departmentSubDetailLeftParent="departmentSubDetailLeftParent"
          :receivedDepartmentSubDetail="receivedDepartmentSubDetail"
          :updatePopupCodcompHistory="updatePopupCodcompHistory"
          :closeModal="closeModal"
          :setErrorMessageDispAndCodcompDisp="setErrorMessageDispAndCodcompDisp"
        />
      </div>
      <div class="department-card-right">
        <department-card-sub-right v-show="departmentSubDetailRight.title"
          :department="departmentSubDetailRight"
          :setDepartmentDisp="setDepartmentDisp"
          :setDepartmentDetail="setDepartmentDetail"
          :receivedDepartmentSubDetail="receivedDepartmentSubDetail"
          :updatePopupCodcompHistory="updatePopupCodcompHistory"
          :closeModal="closeModal"
          :setErrorMessageDispAndCodcompDisp="setErrorMessageDispAndCodcompDisp"
        />
      </div>
    </div>
  </div>
</template>

<script>
import departmentCardSubLeft from './departmentCardSubLeft'
import departmentCardSubRight from './departmentCardSubRight'

export default {
  name: 'hcm-lov-codcomp-department-sub',
  data () {
    return {

    }
  },
  props: {
    simplert: {
      type: Object
    },
    departmentSubDetailLeft: {
      type: Object
    },
    departmentSubDetailRight: {
      type: Object
    },
    departmentSubDetailLeftParent: {
      type: Object
    },
    setDepartmentDisp: {
      type: Function
    },
    setDepartmentDetail: {
      type: Function
    },
    receivedDepartmentSubDetail: {
      type: Function
    },
    updatePopupCodcompHistory: {
      type: Function
    },
    closeModal: {
      type: Function
    },
    setErrorMessageDispAndCodcompDisp: {
      type: Function
    }
  },
  components: {
    departmentCardSubLeft,
    departmentCardSubRight
  }
}
</script>