<template>
  <div name="hcm-lov-codcomp-department-main-button" class="department-main-button">
    <div class="button-box-left">
      <div class="button-md _bg-grey" @click="setDepartmentDisp('main')">
        <i class="fa fa-chevron-circle-left"></i>กลับสู่หน้าค้นหา
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hcm-lov-codcomp-department-main-button',
  props: {
    setDepartmentDisp: {
      type: Function
    }
  }
}
</script>