<template>
  <div>
    <div class="clear-padding col-md-12 col-lg-12">
      <department-card-history
        :histories="histories"
        :setDepartmentDetail="setDepartmentDetail"
        :closeModal="closeModal"
        :setErrorMessageDispAndCodcompDisp="setErrorMessageDispAndCodcompDisp"
      />
    </div>
  </div>
</template>

<script>
import departmentCardHistory from './departmentCardHistory'

export default {
  name: 'hcm-lov-codcomp-department-history-new',
  props: {
    histories: {
      type: Array
    },
    setDepartmentDetail: {
      type: Function
    },
    closeModal: {
      type: Function
    },
    setErrorMessageDispAndCodcompDisp: {
      type: Function
    }
  },
  components: {
    departmentCardHistory
  }
}
</script>