<template>
  <div name="hcm-lov-codcomp-detail" class="hcm-lov-codcomp-detail">
    <div class="department-search-panel">
      <department-sub-button  v-if="departmentDisp.sub"
                              :department="departmentSubDetailLeftParent"
                              :receivedDepartmentSubDetail="receivedDepartmentSubDetail"
      />
      <department-search-button :labels="labels"
                                :simplert="simplert"
                                :setDepartmentDisp="setDepartmentDisp"
                                :setDepartments="setDepartments"
                                ref="searchBtn"
      />
    </div>

    <template v-if="!departmentDisp.history">
      <department-category  :simplert="simplert"
                            :departments="departments"
                            :departmentDisp="departmentDisp"
                            :departmentSelected="departmentSelected"
                            :departmentSubDetailLeft="departmentSubDetailLeft"
                            :departmentSubDetailRight="departmentSubDetailRight"
                            :departmentSubDetailLeftParent="departmentSubDetailLeftParent"
                            :setDepartmentDisp="setDepartmentDisp"
                            :setDepartmentSelected="setDepartmentSelected"
                            :setDepartmentDetail="setDepartmentDetail"
                            :receivedDepartmentSubDetail="receivedDepartmentSubDetail"
                            :updatePopupCodcompHistory="updatePopupCodcompHistory"
                            :closeModal="closeModal"
                            :setErrorMessageDispAndCodcompDisp="setErrorMessageDispAndCodcompDisp"
      />
    </template>
    <template v-else>
      <department-history :histories="histories"
                          :setDepartmentDetail="setDepartmentDetail"
                          :closeModal="closeModal"
                          :setErrorMessageDispAndCodcompDisp="setErrorMessageDispAndCodcompDisp"
      />
    </template>
    <department-main-button v-if="!departmentDisp.main"
                            :setDepartmentDisp="setDepartmentDisp"
    />
    <department-history-button v-if="departmentDisp.main"
                               :setDepartmentDisp="setDepartmentDisp"
    />
  </div>
</template>

<script>
import departmentSubButton from './departmentSubButton'
import departmentSearchButton from './departmentSearchButton'
import departmentMainButton from './departmentMainButton'
import departmentHistoryButton from './departmentHistoryButton'
import departmentCategory from './departmentCategory'
import departmentHistory from './departmentHistory'

export default {
  name: 'hcm-lov-codcomp-detail',
  props: {
    simplert: {
      type: Object
    },
    codeDescValue: {
      type: String
    },
    labels: {
      type: Object
    },
    histories: {
      type: Array,
      require: true
    },
    departments: {
      type: Array
    },
    setDepartments: {
      type: Function
    },
    departmentDisp: {
      type: Object
    },
    departmentSelected: {
      type: Object
    },
    departmentSubDetailLeftParent: {
      type: Object
    },
    departmentSubDetailLeft: {
      type: Object
    },
    departmentSubDetailRight: {
      type: Object
    },
    setDepartmentDisp: {
      type: Function
    },
    setDepartmentSelected: {
      type: Function
    },
    setDepartmentDetail: {
      type: Function
    },
    receivedDepartmentSubDetail: {
      type: Function
    },
    updatePopupCodcompHistory: {
      type: Function
    },
    closeModal: {
      type: Function
    },
    setErrorMessageDispAndCodcompDisp: {
      type: Function
    }
  },
  methods: {
    emitDetailSearchButton (codeDescValue) {
      this.$refs.searchBtn.emitSearchButton(codeDescValue)
    }
  },
  components: {
    departmentSubButton,
    departmentSearchButton,
    departmentMainButton,
    departmentHistoryButton,
    departmentCategory,
    departmentHistory
  }
}
</script>

<style lang="scss">
.hcm-lov-codcomp-detail {
  .margin-right {
    margin-right: 30px;
  }
  .search-input {
    width: 395px;
  }
}
</style>