@import "../../../../modules/global";

.demo-kit {
  @include clearfix
  position: relative;

  .menu-panel {
    width: 25%;
    height: 100%;
    float: left;
    position: relative;
    border-right: 1px solid $black-15;
    box-shadow: 1px 0 5px rgba(0,0,0,0.3);

    .minimize {
      float: right;
      padding: 5px 15px 0 0;
      color: $black-70;
      font-size: 14px;
      cursor: pointer;
    }

    .menu-header {
      padding: 30px 0 35px;
      text-align: center;
      border-bottom: 1px solid $black-15;

      >.name {
        font-size: 32px;
        font-family: 'promptbold';
        color: $blue;
        font-style: italic;
      }
      >.desc {
        color: $black-40;
        font-family: 'promptlight';
        text-transform: uppercase;
      }
    }
    .menu-box {
      margin-top: 1px;

      .collapse-group {
        >.panel-group {
          margin-bottom: 1px;
      
          .panel {
            margin-bottom: 0;
            background-color: #fff;
            border-radius: 0;
            border: none;
            box-shadow: none;
      
            .panel-heading {
              height: 70px;
              padding: 0 30px;
              background-color: #FFF;
              color: #252525;
              margin: -1px 0 0 0;
              border-top-right-radius: 0;
              border-top-left-radius: 0;
              border-top: none;
              border-left: none;
              border-right: none;
              border-bottom: 1px solid $black-15;
              line-height: 70px;
              cursor: pointer;
              @include clearfix;
              
              .title {
                font-family: 'promptmedium';
                font-size: 16px;
                display: inline;
                color: $black-85;
              }
              .up {
                font-size: 24px;
                line-height: 70px;
                display: inline;
                text-align: right;
                float: right;
                color: $black-30;
              }
              .down {
                font-size: 24px;
                line-height: 70px;
                display: none;
                text-align: right;
                float: right;
              }
      
              &.collapsed {
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 1px solid $black-15;
      
                .title {
                  color: $black-85;
      
                }
                .up {
                  font-size: 24px;
                  line-height: 70px;
                  display: none;
                  text-align: right;
                  float: right;
                  color: $black-30;
                }
                .down {
                  font-size: 24px;
                  line-height: 70px;
                  display: inline;
                  text-align: right;
                  float: right;
                  color: $black-30;
                }
              }
            }
      
            .panel-collapse {
              >.panel-body {
                @include clearfix;
                padding: 0 50px 20px;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 1px solid $black-15;
                position: relative;
                margin: 0 0 0 0;
                background: $black-5;
                font-family: 'promptregular';
                color: $black-60;
                font-size: 14px;

                .list-menu {
                  display: block;
                  text-decoration: none;
                  color: $black-70;
                  padding: 20px 0 0 0;
                  cursor: pointer;

                  &::first-letter {
                    text-transform: uppercase;
                  }
                  &:hover {
                    color: $blue;
                  }
                  &.active {
                    color: $blue;
                  }
                }
              }
            }
            
          }
          .panel + .panel {
            margin-top: 0;
          }
        }
      }

    }
    .all-list {
      margin-top: -1px;
      background: $black-10;
      padding: 10px 0;
      text-align: center;
      font-family: 'promptregular';
      cursor: pointer;
      color: $black-70;

      &:hover {
        color: $blue;
      }

      i {
        padding: 0 5px 0 0;
      }
    }
    .header-list {
      list-style: none;
      font-family: 'promptmedium';
      color: $black-70;
      font-size: 18px;
    }
    .check-list {
      list-style: none;
      color: $black-60;

      .done {
        padding: 0 5px 0 0;
        font-size: 18px;
        color: $blue;
      }
      .coding {
        padding: 0 5px 0 0;
        font-size: 18px;
        color: $black-30 !important;
      }
    }
  }
  .show-menu-button {
    position: fixed;
    border: 1px solid $black-15;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    top: 5px;
    left: 10px;
    text-align: center;
    cursor: pointer;

    i {
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      color: $black-60;
    }
  }
  .content-panel {
    width: 75%;
    float: left;
    padding: 50px 40px;

    &.-full {
      width: 100%;
      padding: 50px 60px 50px 70px;
    }

    .topic-box {
      padding: 0 0 50px 0;

      .topic {
        font-family: 'promptmedium';
        color: $black-70;
        font-size: 28px;
      }
      .desc {
        font-family: 'promptextralight';
        color: $black-40;
      }
    }
  }
}

// TableSummaryAction ----------------------------------
.summary {
  margin: 40px 0 0 0;
  padding: 10px;
  background: lighten($green, 30);
  border: 1px solid;
  border-color: lighten($green, 20);
  border-radius: 3px;
  color: darken($green,20);
  font-family: 'promptregular';
}

// etc. ------------------------------------------------
.sub-topic {
  font-family: 'promptregular';
  font-size: 18px;
  padding: 60px 0 0 0;
  color: $blue;

  &:first-child {
    padding: 0;
  }
}
