//Clearfix
.clearfix {
  @include clearfix;
}

//Background Color
._bg-white {
	@include _bg-white;
}
._bg-white-disable {
	@include _bg-white-disable;
}

._bg-grey {
	@include -bg-grey;
}
._bg-grey-disable {
	@include _bg-grey-disable;
}

._bg-green {
	@include _bg-green;
}
._bg-green-disable {
	@include _bg-green-disable;
}

._bg-orange {
	@include _bg-orange;
}
._bg-orange-disable {
	@include _bg-orange-disable;
}

._bg-red {
	@include _bg-red;
}
._bg-red-disable {
	@include _bg-red-disable;
}

._bg-blue {
	@include _bg-blue;
}
._bg-blue-disable {
	@include _bg-blue-disable;
}

._bg-purple {
	@include _bg-purple;
}
._bg-purple-disable {
	@include _bg-purple-disable;
}

._bg-small-button {
	@include _bg-small-button;
}
._bg-small-button-disable {
	@include _bg-small-button-disable;
}

//Test Color 
._text-white {
	color: #FFF !important;
}
._text-green {
	color: $green !important;
}
._text-blue {
	color: $blue !important;
}
._text-orange {
	color: $orange !important;
}
._text-red {
	color: $red !important;
}
._text-grey {
	color: $black-70 !important;
}
._text-purple {
	color: $black-70 !important;
}

.pull-right {
	float: right;
}

//Padding
._unpadding {
	padding: 0 !important;
}

//Margin
._unmargin {
	margin: 0 !important;
}

//Align
._text-left, .align-left {
	text-align: left !important;
}

._text-center, .align-center {
	text-align: center !important;
}

._text-right, .align-right {
	text-align: right !important;
}

//Pointer
.cursor-pointer {
	cursor: pointer;
}