//Font
@mixin text-xl ($font-family: 'promptmedium') {
	font-family: $font-family;
	font-size: 24px;
}
@mixin text-lg ($font-family: 'promptmedium') {
	font-family: $font-family;
	font-size: 18px;
}
@mixin text-md ($font-family: 'promptlight') {
	font-family: $font-family;
	font-size: 16px;
}
@mixin text-sm ($font-family: 'promptlight') {
	font-family: $font-family;
	font-size: 14px;
}
@mixin text-xs ($font-family: 'promptlight') {
	font-family: $font-family;
	font-size: 12px;
}

//Clearfix
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

//Color
@mixin _bg-white() {
	background: $black-5 !important;
	color: $black-90 !important;
	transition: all .3s ease-in-out !important;

	&:hover {
		background: $black-15 !important;
		transition: all .3s ease-in-out !important;
	}
}
@mixin _bg-white-disable() {
	background: $black-10 !important;
	color: $black-30 !important;
}

@mixin _bg-grey() {
	background: $black-70 !important;
	color: #FFF !important;
	transition: all .3s ease-in-out !important;

	&:hover {
		background: $black-80 !important;
		transition: all .3s ease-in-out !important;
	}
}
@mixin _bg-grey-disable() {
	background: $black-20 !important;
	color: #FFF !important;
}

@mixin _bg-green() {
	background: $green !important;
	color: #FFF !important;
	transition: all .3s ease-in-out !important;

	&:hover {
		background: $green-hover !important;
		transition: all .3s ease-in-out !important;
	}
}
@mixin _bg-green-disable() {
	background: $green-disable !important;
	color: #FFF !important;
}

@mixin _bg-orange() {
	background: $orange !important;
	color: #FFF !important;
	transition: all .3s ease-in-out !important;

	&:hover {
		background: $orange-hover !important;
		transition: all .3s ease-in-out !important;
	}
}
@mixin _bg-orange-disable() {
	background: $orange-disable !important;
	color: #FFF !important;
}

@mixin _bg-red() {
	background: $red !important;
	color: #FFF !important;
	transition: all .3s ease-in-out !important;

	&:hover {
		background: $red-hover !important;
		transition: all .3s ease-in-out !important;
	}
}
@mixin _bg-red-disable() {
	background: $red-disable !important;
	color: #FFF !important;
}

@mixin _bg-blue() {
	background: $blue !important;
	color: #FFF !important;
	transition: all .3s ease-in-out !important;

	&:hover {
		background: $blue-hover !important;
		transition: all .3s ease-in-out !important;
	}
}
@mixin _bg-blue-disable() {
	background: $blue-disable !important;
	color: #FFF !important;
}

@mixin _bg-purple() {
	background: $purple !important;
	color: #FFF !important;
	transition: all .3s ease-in-out !important;

	&:hover {
		background: $purple-hover !important;
		transition: all .3s ease-in-out !important;
	}
}
@mixin _bg-purple-disable() {
	background: $purple-disable !important;
	color: #FFF !important;
}

@mixin _bg-small-button() {
	background: $black-70 !important;
	color: #FFF !important;
	transition: all .3s ease-in-out !important;

	&:hover {
		background: $black-80 !important;
		transition: all .3s ease-in-out !important;
	}
}
@mixin _bg-small-button-disable() {
	background: $black-20 !important;
	color: #FFF !important;
}

@mixin _text-blue() {
	color: $blue;
}

@mixin _text-green() {
	color: $green;
}

@mixin _text-orange() {
	color: $orange;
}

@mixin _text-red() {
	color: $red;
}

@mixin _text-grey() {
	color: $black-70;
}


@mixin delay($second) {
  -webkit-transition: all $second ease;
  -moz-transition: all $second ease;
  -o-transition: all $second ease;
  -ms-transition: all $second ease;
  transition: all $second ease;
}

@mixin navbar-variant($color, $font-color: rgba(255, 255, 255, 0.8), $hover-color: #3887c9) {
  background-color: #fff;
  //Navbar links
  .nav > li > a {
    color: $font-color;
    .label {
	    position: absolute;
	    top: 3px;
	    right: -5px;
	    text-align: center;
	    font-size: 7px;
	    padding: 7px 0px;
	    border-radius: 100%;
	    width: 20px;
	    height: 20px;
	    font-weight: normal;
	    &.label-green {
	    	background-color: #55bd5b;
	    }
	    &.label-red {
	    	background-color: #e34c4c;
	    }
    }
  }

  .nav > li > a:hover,
  .nav > li > a:active,
  .nav > li > a:focus,
  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus,
  .nav > .active > a {
    background: none;
    color: $hover-color;
  }
}

//Different radius each side
@mixin border-radius($top-left, $top-right, $bottom-left, $bottom-right)
{
  border-top-left-radius: $top-left;
  border-top-right-radius: $top-right;
  border-bottom-right-radius: $bottom-right;
  border-bottom-left-radius: $bottom-left;
}

@mixin scrollbar-custom($bg-color: rgba(0,0,0,0.2))
{
	&::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
  }
  &::-webkit-scrollbar-thumb {
    background-color: $bg-color;
  }
}