//Color
$green: #56BD5B;
$green-hover: #4daa52;
$green-active: #4daa52;
$green-disable: #abdead;

$orange: #F7B422;
$orange-hover: #dea21f;
$orange-active: #dea21f;
$orange-disable: #fbda91;

$red: #E34C4C;
$red-hover: #cc4444;
$red-active: #cc4444;
$red-disable: #f1a6a6;

// $blue: #00C0Ef;
$blue: #3887c8;
$blue-hover: #3279b4;
$blue-active: #3279b4;
$blue-disable: #9cc3e4;

// $blue: #00C0Ef;
$purple: #bd8dbe;
$purple-hover: #ab65ac;
$purple-active: #ab65ac;
$purple-disable: #e5b4e5;

$black-100: #000000;
$black-95: #111111;
$black-90: #252525;
$black-85: #363636;
$black-80: #464646;
$black-75: #555555;
$black-70: #636363;
$black-65: #707070;
$black-60: #7D7D7D;
$black-55: #898989;
$black-50: #959595;
$black-45: #A1A1A1;
$black-40: #ACACAC;
$black-35: #B7B7B7;
$black-30: #C2C2C2;
$black-25: #CCCCCC;
$black-20: #D7D7D7;
$black-15: #E1E1E1;
$black-10: #EBEBEB;
$black-5: #FAFAFA;
$black-0: #FFFFFF;

$screen-header-collapse: $screen-xs-max;

// header
$navbar-height: 50px;
$footer-height: 50px;

// sidebar
$sidebar-width: 60px;
$sidebar-height: 50px;

$menu-icon-width: 25px;
$menu-icon-height: 25px;
$menu-module-font-size: 11px;

// sidebar module
$sidebar-expand-width: 290px;
$sidebar-module-bg: #fff;
$sidebar-module-color: #383838;

$sidebar-sub-module-bg: #959595;
$sidebar-sub-module-color: #fff;

// dashboard
$cover-height: 250px;

// dashboard right sidebar
$right-sidebar-width: 290px;

// Transition global options
$transition-speed: .3s;
$transition-fn: ease-in-out;

// noti + setting
$setting-width: 350px;
$setting-sub-menu-width: 250px;