<template>
  <div name="hcm-setting-page" class="hcm-setting-page">
    <div class="btn-std -new" v-if="newDisp" @click="newEventBuiltIn()">
      <i class="fa fa-refresh"></i>
    </div>
    <div class="btn-std -print" v-if="printDisp" @click="printEventBuiltIn()">
      <i class="fa fa-print"></i>
    </div>
    <div class="btn-std -adjust-report" v-if="adjustReportDisp" @click="adjustReportEventBuiltIn()">
      <i class="fa fa-edit"></i>
    </div>
    <div class="btn-std -translate" v-if="translateDisp" @click="translateEventBuiltIn()">
      <i class="fa fa-tag"></i>
    </div>
    <template v-if="$router.match('help').name !== '404'">
      <router-link :to="{ name: 'help', params: {module: '', codapp: this.codapp } }">
        <div class="btn-std -help" v-if="helpDisp" @click="helpEventBuiltIn()">
          <i class="fa fa-question-circle"></i>
        </div>
      </router-link>
    </template>
    <div class="btn-std -favourite" v-if="favouriteDisp" @click="favouriteEventBuiltIn()">
      <i class="fa fa-star" :class="{ '_text-orange animated pulse': isFavourite }"></i>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import * as templateTypes from 'modules/main/template/store/mutation-types'
import _ from 'lodash'

export default {
  name: 'hcm-setting-page',
  props: {
    newDisp: {
      type: Boolean,
      default: true
    },
    printDisp: {
      type: Boolean,
      default: false
    },
    adjustReportDisp: {
      type: Boolean,
      default: false
    },
    translateDisp: {
      type: Boolean,
      default: true
    },
    helpDisp: {
      type: Boolean,
      default: true
    },
    favouriteDisp: {
      type: Boolean,
      default: true
    },
    newEvent: {
      type: Function
    }
  },
  data () {
    return {
      codapp: this.$route.name,
      app: this.$root.$children[0]
    }
  },
  computed: {
    isFavourite () {
      if (!_.isEmpty(this.favouriteList)) {
        let indexCodapp = this.favouriteList.indexOf(this.codapp.toUpperCase())
        if (indexCodapp > -1) {
          return true
        }
      }
      return false
    },
    ...mapGetters({
      favouriteList: templateTypes.GET_FAVOURITE_LIST
    })
  },
  methods: {
    newEventBuiltIn () {
      if (typeof this.newEvent !== 'undefined') {
        this.newEvent()
      }
    },
    printEventBuiltIn () {

    },
    adjustReportEventBuiltIn () {

    },
    translateEventBuiltIn () {

    },
    helpEventBuiltIn () {

    },
    favouriteEventBuiltIn () {
      this.toggleFavouriteItem(this.codapp)
      this.setFavourite()
    },
    ...mapMutations({
      toggleFavouriteItem: templateTypes.SET_TOGGLE_FAVOURITE_LIST_ITEM,
      setFavourite: templateTypes.SET_HEADER_FAVOURITE
    })
  }
}
</script>

<style src="./assets/style.scss" lang='scss'></style>